Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

UX: Margin top to first onebox in topic (#33054)
  app/assets/stylesheets/common/base/onebox.scss
Due: prettier-scss

UX: fast topic edit (#32941)
  app/assets/javascripts/discourse/app/templates/topic.gjs
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

FIX: uses text selection when using hide details (#33049)
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
  plugins/discourse-details/spec/system/details_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Added the ability to use users' names in group mention notifications and mentions shown in emails (#33055)
  app/assets/javascripts/discourse/app/lib/notification-types/group-mentioned.js
  app/assets/javascripts/discourse/tests/unit/lib/notification-types/group-mentioned-test.js
  app/mailers/user_notifications.rb
  spec/fabricators/notification_fabricator.rb
  spec/mailers/user_notifications_spec.rb
  spec/system/page_objects/pages/user_notifications.rb
  spec/system/user_page/user_notifications_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: rich editor [details] caret hover and padding (#33057)
  plugins/discourse-details/assets/javascripts/lib/rich-editor-extension.js
  plugins/discourse-details/assets/stylesheets/details.scss
Due: prettier, prettier-scss, eslint

UX: Add subheader to admin themes page (#32987)
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/themes.gjs
  app/assets/javascripts/discourse/tests/acceptance/admin-install-theme-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  config/locales/client.en.yml
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes_config_area.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

FIX: latest duplicated groups to about components (#33003)
  db/post_migrate/20250526063633_copy_add_groups_to_about_component_settings.rb
  spec/migrations/copy_add_groups_to_about_component_settings_spec.rb
Due: rubocop, syntax_tree

DEV: Update Bullet to latest version (#32904)
  Gemfile
  Gemfile.lock
Due: none

DEV: Add a ReviewableNote model, and tie it into the Reviewable model. (#33047)
  app/controllers/reviewable_notes_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_note.rb
  app/serializers/reviewable_note_serializer.rb
  app/serializers/reviewable_serializer.rb
  config/routes.rb
  db/migrate/20250603051201_create_reviewable_notes.rb
  spec/fabricators/reviewable_note_fabricator.rb
  spec/models/reviewable_note_spec.rb
  spec/models/reviewable_spec.rb
  spec/requests/reviewable_notes_controller_spec.rb
  spec/requests/reviewables_controller_spec.rb
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: Back to themes page not working when theme has enabled components (#33048)
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/admin_customize_themes_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Exclude `reviewable_notes` from intermediate DB schema (#33068)
  migrations/config/intermediate_db.yml
Due: yaml-syntax

UX: keep marks when using emoji input rules on rich editor (#33058)
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/emoji.js
  spec/system/composer/prosemirror_editor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Respect category/tag filtering for reviewable webhooks (#33051)
  config/initializers/012-web_hook_events.rb
  spec/initializers/web_hook_events_spec.rb
Due: rubocop, syntax_tree

DEV: remove max similar results site setting (#32936)
  db/migrate/20250527101351_remove_max_similar_results_site_setting.rb
Due: rubocop, syntax_tree

A11Y: SVG icons should be hidden unless a label is provided (#33059)
  app/assets/javascripts/discourse/app/lib/icon-library.js
  app/assets/javascripts/discourse/tests/integration/helpers/d-icon-test.gjs
  plugins/discourse-local-dates/test/javascripts/unit/local-date-builder-test.js
Due: prettier, eslint

FIX: ensures post toolbar text can't be selected (#33075)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

DEV: Drop `fakeweb` dependency (#33069)
  Gemfile
  Gemfile.lock
Due: none

DEV: Support 'cors origins' site setting for message-bus (#33066)
  config/initializers/004-message_bus.rb
  spec/integration/message_bus_spec.rb
Due: rubocop, syntax_tree

FIX: Disallow encoded words in e-mail addresses (#33083)
  lib/validators/email_address_validator.rb
  spec/lib/validators/email_address_validator_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

UX: fix admin reports breadcrumb link (#33085)
  app/assets/javascripts/admin/addon/templates/reports.gjs
Due: none

DEV: Skip flaky system tests (#33084)
  spec/system/search_shortcut_variation_spec.rb
Due: rubocop, syntax_tree

DEV: Add applyValueTransformer to poster name (#33086)
  app/assets/javascripts/discourse/app/components/post/meta-data/poster-name.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/javascripts/discourse/tests/integration/components/post/meta-data/poster-name-test.gjs
Due: prettier, eslint

DEV: Drop support for template overrides and mobile-specific templates (#33101)
  app/assets/javascripts/discourse/app/instance-initializers/component-templates.js
  app/assets/javascripts/discourse/app/lib/discourse-template-map.js
  app/assets/javascripts/discourse/app/resolver.js
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
  app/assets/javascripts/discourse/tests/integration/component-templates-test.gjs
  app/assets/javascripts/discourse/tests/unit/ember/resolver-test.js
  patches/ember-source@5.12.0.patch
  pnpm-lock.yaml
Due: prettier, eslint, yaml-syntax

UX: Add z-index to the admin save all banner (#33093)
  app/assets/stylesheets/admin/site-settings.scss
Due: prettier-scss

DEV: allow custom community sidebar links to pass models for route params (#33070)
  app/assets/javascripts/discourse/app/lib/sidebar/custom-community-section-links.js
Due: prettier, eslint

DEV: Fix post highlighting for keyboard navigation in the Glimmer Post Stream (#33097)
  app/assets/javascripts/discourse/app/components/post-stream.gjs
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/stylesheets/common/components/keyboard_shortcuts.scss
Due: prettier, prettier-scss, eslint

DEV: Have about page extra groups depend on groups selected (#33095)
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  config/site_settings.yml
  spec/system/about_page_spec.rb
  spec/system/admin_about_config_area_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

UX: only show single composer tip at a time (#33050)
  app/assets/javascripts/discourse/app/components/composer-messages.gjs
Due: none

FIX: Wrap theme translations in IIFE (#33108)
  app/models/theme.rb
  app/models/theme_field.rb
Due: rubocop, syntax_tree

DEV: Simplify theme translation JS generation (#33104)
  app/models/theme.rb
  app/models/theme_field.rb
Due: rubocop, syntax_tree

DEV: Use canonical hostname for omniauth callbacks (#33102)
  config/initializers/009-omniauth.rb
Due: rubocop, syntax_tree

SECURITY: Respect max length in bot-human PMs
  app/models/topic_link.rb
  lib/validators/post_validator.rb
  lib/validators/stripped_length_validator.rb
  spec/lib/validators/post_validator_spec.rb
  spec/models/topic_link_spec.rb
Due: rubocop, syntax_tree

SECURITY: Escape topic title for mailers
  lib/email/message_builder.rb
  spec/lib/email/message_builder_spec.rb
Due: rubocop, syntax_tree

FIX: Wrong link to groups in post-small-action widget (#33099)
  app/assets/javascripts/discourse/app/components/post/small-action.gjs
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  app/assets/javascripts/discourse/tests/integration/components/post/small-action-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-small-action-test.gjs
Due: prettier, eslint

FIX: Do not show header search icon if welcome banner search shown (#33098)
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/header-search.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/tests/acceptance/header-api-test.gjs
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  spec/system/header_spec.rb
  spec/system/welcome_banner_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

Bump version to v3.5.0.beta6
  lib/version.rb
Due: rubocop, syntax_tree

UX: add * mention to site setting description
  app/assets/javascripts/discourse/tests/unit/lib/sanitizer-test.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250415224422_update_allowed_iframes_codepen_stricter_default.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

DEV: Switch to `type="module"` for translation files (#33107)
  app/helpers/application_helper.rb
  app/models/theme.rb
  app/models/theme_field.rb
  app/views/layouts/application.html.erb
  spec/models/theme_field_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
