Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

DEV: promote custom splash screen change to beta
  config/site_settings.yml
Due: yaml-syntax

FIX: show next occurrence for recurring events with show_local_time
  plugins/discourse-calendar/app/serializers/discourse_post_event/basic_event_serializer.rb
  plugins/discourse-calendar/spec/serializers/discourse_post_event/event_serializer_spec.rb
Due: rubocop, syntax_tree

Revert "DEV: Remove the old non-rollup plugin compiler (#39009)"
  .github/workflows/tests.yml
  app/models/theme.rb
  app/views/layouts/application.html.erb
  config/pitchfork.conf.rb
  frontend/asset-processor/babel-replace-imports.js
  frontend/asset-processor/package.json
  frontend/asset-processor/theme-rollup.js
  frontend/deprecation-silencer/index.js
  frontend/discourse-plugins/colocated-template-compiler.js
  frontend/discourse-plugins/index.js
  frontend/discourse-plugins/package.json
  frontend/discourse-plugins/transform-action-syntax.js
  frontend/discourse/app/lib/source-identifier.js
  frontend/discourse/ember-cli-build.js
  frontend/discourse/package.json
  frontend/discourse/tests/acceptance/client-error-handler-test.js
  frontend/discourse/tests/setup-tests.js
  lib/asset_processor.rb
  lib/discourse.rb
  lib/tasks/assets.rake
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

DEV: move mobile d-menu styles to common directory
  app/assets/stylesheets/common/float-kit/_index.scss
  app/assets/stylesheets/common/float-kit/d-menu-modal.scss
  app/assets/stylesheets/mobile/float-kit/_index.scss
Due: prettier, stylelint

DEV: Use cloneJSON instead of structuredClone
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-archived-topic-test.js
Due: prettier, eslint

restore css
  app/assets/stylesheets/common/float-kit/d-menu-modal.scss
Due: prettier, stylelint

Keep system agents and tools synced with external_ai_features register automatically
  plugins/discourse-ai/app/models/ai_agent.rb
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/configuration/external_feature_setup.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/configuration/external_feature_setup_spec.rb
  plugins/discourse-ai/spec/lib/agents/register_system_agent_spec.rb
Due: rubocop, syntax_tree

DEV: sync event image with topic/post image_upload_id
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/assets/javascripts/discourse/lib/raw-event-helper.js
  plugins/discourse-calendar/plugin.rb
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

Reapply "DEV: Remove the old non-rollup plugin compiler (#39009)" (#39047)
  .github/workflows/tests.yml
  app/models/theme.rb
  app/views/layouts/application.html.erb
  config/pitchfork.conf.rb
  frontend/asset-processor/babel-replace-imports.js
  frontend/asset-processor/package.json
  frontend/asset-processor/theme-rollup.js
  frontend/asset-processor/transform-action-syntax.js
  frontend/deprecation-silencer/index.js
  frontend/discourse-plugins/colocated-template-compiler.js
  frontend/discourse-plugins/index.js
  frontend/discourse-plugins/package.json
  frontend/discourse/app/lib/source-identifier.js
  frontend/discourse/ember-cli-build.js
  frontend/discourse/package.json
  frontend/discourse/tests/acceptance/client-error-handler-test.js
  frontend/discourse/tests/setup-tests.js
  lib/asset_processor.rb
  lib/discourse.rb
  lib/tasks/assets.rake
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

DEV: Remove the obsolete non-rollup CI job
  .github/workflows/tests.yml
Due: yaml-syntax

FEATURE: Add full app mode toggle to embedding admin page
  app/assets/stylesheets/admin/customize.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  frontend/discourse/admin/controllers/admin-embedding/index.js
  frontend/discourse/admin/templates/admin-embedding/index.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Revert "DEV: Remove Unicorn web server in favor of Pitchfork (#39032)"
  .devcontainer/devcontainer.json
  .licensed.yml
  Gemfile
  Gemfile.lock
  bin/docker/unicorn
  bin/ember-cli
  bin/qunit
  bin/rails
  bin/unicorn
  config/discourse_defaults.conf
  config/environments/development.rb
  config/initializers/000-development_reload_warnings.rb
  config/initializers/000-zeitwerk.rb
  config/pitchfork.conf.rb
  config/unicorn.conf.rb
  lib/demon/sidekiq.rb
  lib/discourse.rb
  lib/unicorn_logstash_patch.rb
  script/bench.rb
  spec/lib/discourse_spec.rb
  spec/rails_helper.rb
  spec/tasks/qunit_cli_spec.rb
Due: rubocop, syntax_tree

DEV: Make embed_full_app a client setting and add aria-label to toggle
  config/site_settings.yml
  frontend/discourse/admin/templates/admin-embedding/index.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax

DEV: Add area to embed_full_app setting
  config/site_settings.yml
Due: yaml-syntax

remove import
  app/assets/stylesheets/mobile.scss
Due: none

DEV: move mobile form-kit CSS to common directory
  app/assets/stylesheets/common/form-kit/_control-menu.scss
  app/assets/stylesheets/common/form-kit/_field.scss
  app/assets/stylesheets/common/form-kit/_row.scss
  app/assets/stylesheets/mobile.scss
  app/assets/stylesheets/mobile/form-kit/_control-input.scss
  app/assets/stylesheets/mobile/form-kit/_control-menu.scss
  app/assets/stylesheets/mobile/form-kit/_control-text.scss
  app/assets/stylesheets/mobile/form-kit/_field.scss
  app/assets/stylesheets/mobile/form-kit/_index.scss
  app/assets/stylesheets/mobile/form-kit/_row.scss
Due: prettier, stylelint

Update config/locales/client.en.yml
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

Update app/assets/stylesheets/admin/customize.scss
  app/assets/stylesheets/admin/customize.scss
Due: prettier, stylelint

Update config/locales/server.en.yml
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Add system spec for full app mode toggle on embedding page
  spec/system/admin_embeddable_hosts_spec.rb
  spec/system/page_objects/pages/admin_embedding.rb
Due: rubocop, syntax_tree

FEATURE: Add onebox toolbar and show preview for rich editor
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  config/locales/client.en.yml
  frontend/discourse/app/static/prosemirror/extensions/link-toolbar.js
  frontend/discourse/app/static/prosemirror/extensions/onebox-toolbar.js
  frontend/discourse/app/static/prosemirror/extensions/onebox.js
  frontend/discourse/app/static/prosemirror/extensions/register-default.js
  spec/system/composer/prosemirror_onebox_toolbar_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint, stylelint

move agent setting to ai's settings.yml and remove ExternalFeatureSetup
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/db/fixtures/agents/603_ai_agents.rb
  plugins/discourse-ai/lib/configuration/external_feature_setup.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/configuration/external_feature_setup_spec.rb
  plugins/discourse-ai/spec/lib/agents/register_system_agent_spec.rb
  plugins/discourse-data-explorer/config/settings.yml
Due: rubocop, syntax_tree, yaml-syntax

DEV: add event image to email for post
  plugins/discourse-calendar/plugin.rb
  plugins/discourse-calendar/spec/lib/discourse_post_event/pretty_text_spec.rb
Due: rubocop, syntax_tree

DEV: Fix system spec timeout in snippet check
  spec/system/admin_embeddable_hosts_spec.rb
  spec/system/page_objects/pages/admin_embedding.rb
Due: rubocop, syntax_tree

DEV: linting
  frontend/discourse/app/static/prosemirror/extensions/onebox-toolbar.js
  spec/system/composer/prosemirror_onebox_toolbar_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: move mobile select-kit CSS to common files
  app/assets/stylesheets/common/select-kit/category-drop.scss
  app/assets/stylesheets/common/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/common/select-kit/tag-drop.scss
  app/assets/stylesheets/mobile/select-kit/_index.scss
  app/assets/stylesheets/mobile/select-kit/category-drop.scss
  app/assets/stylesheets/mobile/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/mobile/select-kit/select-kit.scss
  app/assets/stylesheets/mobile/select-kit/tag-drop.scss
Due: prettier, stylelint

d-ai might be disabled or not present
  plugins/discourse-data-explorer/config/settings.yml
  plugins/discourse-data-explorer/plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Fix system spec page object selectors
  spec/system/page_objects/pages/admin_embedding.rb
Due: rubocop, syntax_tree

DEV: Use siteSettings as single source of truth for full app mode
  frontend/discourse/admin/controllers/admin-embedding/index.js
Due: prettier, eslint

UX: save potentially pending draft via sendBeacon on tab close
  frontend/discourse/app/models/composer.js
  frontend/discourse/app/models/draft.js
  frontend/discourse/app/services/composer.js
Due: prettier, eslint

FEATURE: Tags get a dedicated settings page
  app/assets/stylesheets/common/base/tagging.scss
  config/locales/server.en.yml
  config/site_settings.yml
  frontend/discourse/app/components/d-navigation.gjs
  frontend/discourse/app/components/discovery/layout.gjs
  frontend/discourse/app/components/discovery/navigation.gjs
  frontend/discourse/app/components/tag-info.gjs
  frontend/discourse/app/controllers/discovery/list.js
  frontend/discourse/app/routes/tag/edit.js
  frontend/discourse/app/templates/discovery/list.gjs
  frontend/discourse/tests/acceptance/tags-test.js
  spec/system/page_objects/pages/tag.rb
  spec/system/tag_settings_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

post-voting json request body in pretender
  plugins/discourse-post-voting/test/javascripts/acceptance/composer-test.js
Due: prettier, eslint

Reapply "DEV: Remove Unicorn web server in favor of Pitchfork (#39032)"
  .devcontainer/devcontainer.json
  .licensed.yml
  Gemfile
  Gemfile.lock
  bin/docker/unicorn
  bin/ember-cli
  bin/pitchfork
  bin/qunit
  bin/rails
  bin/unicorn
  config/discourse_defaults.conf
  config/environments/development.rb
  config/initializers/000-development_reload_warnings.rb
  config/initializers/000-zeitwerk.rb
  config/pitchfork.conf.rb
  config/unicorn.conf.rb
  lib/demon/sidekiq.rb
  lib/discourse.rb
  lib/unicorn_logstash_patch.rb
  script/bench.rb
  spec/lib/discourse_spec.rb
  spec/rails_helper.rb
  spec/tasks/qunit_cli_spec.rb
Due: rubocop, syntax_tree

w/o this?
  config/pitchfork.conf.rb
Due: rubocop, syntax_tree

x
  config/pitchfork.conf.rb
Due: rubocop, syntax_tree

FIX: Patreon API pagination bugs causing missing pledges
  plugins/discourse-patreon/lib/api.rb
  plugins/discourse-patreon/lib/api_version/v1.rb
  plugins/discourse-patreon/lib/api_version/v2.rb
  plugins/discourse-patreon/spec/lib/api_spec.rb
Due: rubocop, syntax_tree

DEV: test
  spec/system/hashtag_autocomplete_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
