Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Remove old code.
  app/assets/javascripts/discourse/app/components/reviewable-refresh/item.gjs
Due: none

DEV: Change the experimental setting to a group list.
  app/assets/javascripts/discourse/app/templates/review-show.gjs
  config/locales/server.en.yml
  config/site_settings.yml
Due: yaml-syntax, i18n-lint

FIX: Linting.
  app/assets/javascripts/discourse/app/components/reviewable-refresh/item.gjs
Due: none

DEV: Tidy up the review-show component.
  app/assets/javascripts/discourse/app/templates/review-show.gjs
Due: none

FEATURE: Add option to make <AceEditor /> resizable (#33044)
  app/assets/javascripts/admin/addon/components/admin-badges-show.gjs
  app/assets/javascripts/discourse/app/components/ace-editor.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/code.gjs
  app/assets/javascripts/discourse/tests/integration/components/ace-editor-test.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/ace-editor.scss
  app/assets/stylesheets/common/form-kit/_control-code.scss
Due: prettier-scss

UX: more consistent search menu spacing (#33036)
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/components/welcome-banner.scss
Due: prettier-scss

DEV: remove educational tips and associated site settings (#33012)
  config/locales/server.en.yml
  config/site_settings.yml
  lib/composer_messages_finder.rb
  spec/lib/composer_messages_finder_spec.rb
  spec/requests/composer_messages_controller_spec.rb
  spec/support/system_helpers.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: Refactor grippie resizer from composer into Modifier
  app/assets/javascripts/discourse/app/components/ace-editor.gjs
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/javascripts/discourse/app/components/composer-container.gjs
  app/assets/javascripts/discourse/app/modifiers/grippie-drag-resize.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/components/ace-editor.scss
Due: prettier, prettier-scss, eslint

FIX: spec
  spec/migrations/copy_add_groups_to_about_component_settings_spec.rb
Due: rubocop, syntax_tree

DEV: Add a ReviewableNote model, and tie it into the Reviewable model.
  app/controllers/reviewable_notes_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_note.rb
  app/serializers/reviewable_note_serializer.rb
  app/serializers/reviewable_serializer.rb
  config/routes.rb
  db/migrate/20250603051201_create_reviewable_notes.rb
  spec/fabricators/reviewable_note_fabricator.rb
  spec/models/reviewable_note_spec.rb
  spec/models/reviewable_spec.rb
  spec/requests/reviewable_notes_controller_spec.rb
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: Linting.
  app/models/reviewable_note.rb
Due: rubocop, syntax_tree

DEV: Remove redundant code.
  app/controllers/reviewable_notes_controller.rb
Due: rubocop, syntax_tree

DEV: Add a max note length.
  app/models/reviewable_note.rb
  spec/models/reviewable_note_spec.rb
  spec/requests/reviewable_notes_controller_spec.rb
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Shuffle the permission checks around.
  app/controllers/reviewable_notes_controller.rb
  config/routes.rb
Due: rubocop, syntax_tree

DEV: Cleaning up tests.
  app/controllers/reviewable_notes_controller.rb
  spec/models/reviewable_note_spec.rb
  spec/requests/reviewable_notes_controller_spec.rb
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: handle redirect issue with categoryId rewriting page number (#33009)
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop, syntax_tree

DEV: More test cleanup.
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Cleaning up those tests.
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Tests, y'all.
  spec/requests/reviewable_notes_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Back to themes page not working when theme has enabled components
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/admin_customize_themes_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: fast topic edit
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/templates/topic.gjs
  app/assets/stylesheets/common/base/topic.scss
Due: prettier, prettier-scss, eslint

have a wrapping span
  app/assets/javascripts/discourse/app/templates/topic.gjs
Due: none

remove span, will just cause issues for now
  app/assets/javascripts/discourse/app/templates/topic.gjs
Due: none

context
  app/assets/javascripts/theme-transpiler/theme-rollup.js
  app/models/theme.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: uses text selection when using hide details
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
Due: prettier, eslint

handle rich nodes
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
Due: prettier, eslint

don't need this
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
Due: prettier, eslint

not needed
  app/assets/javascripts/discourse/app/static/prosemirror/lib/text-manipulation.js
Due: prettier, eslint

sourcemaps
  app/assets/javascripts/theme-transpiler/theme-rollup.js
  app/models/javascript_cache.rb
  app/models/theme.rb
  lib/discourse_js_processor.rb
Due: rubocop, syntax_tree, prettier, eslint

bump
  app/assets/javascripts/theme-transpiler/theme-rollup.js
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

bump
  app/assets/javascripts/theme-transpiler/theme-hbs-ast-transforms.js
  app/assets/javascripts/theme-transpiler/theme-rollup.js
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

autofocus
  app/assets/javascripts/discourse/app/templates/topic.gjs
Due: none

UX: only show single composer tip at a time
  app/assets/javascripts/discourse/app/components/composer-messages.gjs
Due: none

FIX: Respect category/tag filtering for reviewable webhooks
  config/initializers/012-web_hook_events.rb
  spec/initializers/web_hook_events_spec.rb
Due: rubocop, syntax_tree

bump
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop, syntax_tree

connector handling?
  app/assets/javascripts/theme-transpiler/theme-rollup.js
Due: prettier, eslint

Update translations
  config/locales/client.fi.yml
  config/locales/client.hr.yml
  config/locales/client.hu.yml
  config/locales/client.pt.yml
  config/locales/client.ro.yml
  config/locales/client.ug.yml
  config/locales/server.fi.yml
  config/locales/server.hr.yml
  plugins/chat/config/locales/server.fi.yml
Due: yaml-syntax

uses autofocus modifier
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/templates/topic.gjs
Due: prettier, eslint

FIX: when new new is enabled, filter dismiss modal to correct type (#33037)
  app/assets/javascripts/discourse/app/components/modal/dismiss-new.gjs
  app/assets/javascripts/discourse/app/controllers/discovery/list.js
  app/assets/javascripts/discourse/tests/integration/components/dismiss-new-test.gjs
  spec/system/dismissing_new_spec.rb
  spec/system/page_objects/modals/dismiss_new.rb
Due: rubocop, syntax_tree, prettier, eslint
