Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.{rb,rake,thor}"
      run: bundle exec rubocop --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake,thor}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.{js,gjs,hbs,scss,css,cjs,mjs}"
      include: "app/assets|plugins/.+?/assets|themes"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.{hbs,gjs}"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}
    stylelint:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets|themes"
      run: pnpm stylelint {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.{js,gjs,hbs,scss,css,cjs,mjs}"
      include: "app/assets|plugins/.+?/assets|themes"
      run: pnpm pprettier --write {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts|themes"
      run: pnpm eslint --fix {staged_files}
    ember-template-lint:
      glob: "*.{gjs,hbs}"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts|themes"
      run: pnpm ember-template-lint --fix {staged_files}
    stylelint:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets|themes"
      run: pnpm stylelint --fix {staged_files}
    rubocop:
      glob: "*.{rb,rake,thor}"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake,thor}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop
    prettier:
      run: pnpm lint:prettier
    eslint:
      run: pnpm lint:js
    ember-template-lint:
      run: pnpm lint:hbs
    stylelint:
      run: pnpm lint:css
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}
    glint:
      run: pnpm glint -p jsconfig.json --noEmit

FEATURE: Hover menu for all chat channels in sidebar (#34727)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/components/buttons.scss
  frontend/discourse/app/components/d-button.gjs
  frontend/discourse/app/components/sidebar/section-link.gjs
  frontend/discourse/tests/integration/components/d-button-test.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-sidebar-context-menu.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-sidebar-context-notification-submenu.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/stylesheets/common/chat-sidebar.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/assets/stylesheets/desktop/chat-channel-sidebar-menu.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/chat_channel_sidebar_context_menu_spec.rb
  plugins/chat/spec/system/chat_channel_spec.rb
  plugins/chat/spec/system/kick_user_from_channel_spec.rb
  plugins/chat/spec/system/last_visit_spec.rb
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/sidebar/chat_sidebar.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/removing_channel_spec.rb
  plugins/chat/spec/system/separate_sidebar_mode_spec.rb
  plugins/chat/spec/system/shortcuts/mark_all_read_spec.rb
  plugins/chat/spec/system/shortcuts/sidebar_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/chat/spec/system/sidebars_spec.rb
  plugins/chat/spec/system/single_thread_spec.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
  plugins/chat/spec/system/unfollow_dm_channel_spec.rb
  plugins/chat/spec/system/user_threads_spec.rb
  plugins/chat/spec/system/visit_channel_spec.rb
  spec/system/page_objects/components/d_menu.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Review fixes
  app/assets/stylesheets/common/base/user.scss
  app/models/user.rb
  config/locales/client.en.yml
  frontend/discourse/admin/components/admin-user-upcoming-changes.gjs
  frontend/discourse/app/components/separated-list.gjs
  lib/upcoming_changes.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Update plugins/discourse-ai/lib/utils/search.rb
  plugins/discourse-ai/lib/utils/search.rb
Due: rubocop, syntax_tree

FIX: Only log unclaimed history when topic was claimed
  app/controllers/reviewable_claimed_topics_controller.rb
  app/models/reviewable_flagged_post.rb
  spec/models/reviewable_flagged_post_spec.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
Due: rubocop, syntax_tree

address PR comments
  plugins/discourse-ai/lib/utils/search.rb
  plugins/discourse-ai/spec/lib/personas/tools/search_spec.rb
  plugins/discourse-ai/spec/lib/utils/search_spec.rb
Due: rubocop, syntax_tree

round 2 of changes :)
  plugins/discourse-ai/lib/utils/search.rb
  plugins/discourse-ai/spec/lib/utils/search_spec.rb
Due: rubocop, syntax_tree

FEATURE: fallback to filter in search tool (#36948)
  plugins/discourse-ai/lib/personas/tools/search.rb
  plugins/discourse-ai/lib/utils/search.rb
  plugins/discourse-ai/spec/lib/personas/tools/search_spec.rb
  plugins/discourse-ai/spec/lib/utils/search_spec.rb
Due: rubocop, syntax_tree

DEV: de-flake spec
  plugins/chat/spec/system/chat_channel_sidebar_context_menu_spec.rb
Due: rubocop, syntax_tree

FIX: subfolder url not handled properly for topics
  plugins/discourse-ai/lib/utils/search.rb
  plugins/discourse-ai/spec/lib/utils/search_spec.rb
Due: rubocop, syntax_tree

DEV: de-flake spec (#36951)
  plugins/chat/spec/system/chat_channel_sidebar_context_menu_spec.rb
Due: rubocop, syntax_tree

FIX: Inconsistent op_like_count serialization with serialize_topic_op_likes_data
  app/models/topic_list.rb
  app/serializers/topic_list_item_serializer.rb
  spec/models/topic_list_spec.rb
  spec/serializers/topic_list_item_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: review-insights have a 404 dialog for catergory moderators
  frontend/discourse/app/components/reviewable-refresh/ip-lookup.gjs
Due: prettier, eslint, ember-template-lint

Update plugins/discourse-ai/spec/lib/utils/search_spec.rb
  plugins/discourse-ai/spec/lib/utils/search_spec.rb
Due: rubocop, syntax_tree

FIX: `/filter` route with `users` filter not loading more topics correctly
  app/controllers/list_controller.rb
  spec/requests/list_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Label discourse-rewind prs
  .github/labeler.yml
Due: yaml-syntax

I18N: Update translations
  config/locales/client.es.yml
  config/locales/client.hu.yml
Due: yaml-syntax

DEV: add Zed editor configuration
  .zed/settings.json
Due: none

Add files via upload
  tangyzen-plugin-deployment.tar.gz
Due: none

Update plugin outlet name
  frontend/discourse/app/components/modal/fullscreen-code.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: flag_post tool and triage integration (#36942)
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-tool-options.gjs
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/discourse_automation/llm_persona_triage.rb
  plugins/discourse-ai/lib/ai_bot/playground.rb
  plugins/discourse-ai/lib/automation/llm_persona_triage.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/lib/personas/bot_context.rb
  plugins/discourse-ai/lib/personas/persona.rb
  plugins/discourse-ai/lib/personas/tools/flag_post.rb
  plugins/discourse-ai/lib/personas/tools/tool.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
  plugins/discourse-ai/spec/lib/personas/tools/flag_post_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Add `VALID_BLOCK_NAME_PATTERN` for block name validation
  frontend/discourse/app/lib/blocks/patterns.js
Due: prettier, eslint

DEV: Update `CODEOWNERS` with block and migration tooling ownership
  CODEOWNERS
Due: none

expose removeErrors in formkit api
  frontend/discourse/app/form-kit/components/fk/form.gjs
Due: prettier, eslint, ember-template-lint

UX: Prioritize chat search results by relevance
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/lib/chatables-loader.js
  plugins/chat/test/javascripts/unit/lib/chatables-loader-test.js
Due: prettier, eslint

DEV: Add plugin outlet for likes customization (#36894)
  frontend/discourse/app/components/post/menu/liked-users-list.gjs
Due: prettier, eslint, ember-template-lint

DEV: use .sample pattern for Zed editor configuration
  .gitignore
  .zed/settings.json.sample
Due: none

typo in spec context
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

I18N: Update translations (#36957)
  config/locales/client.es.yml
  config/locales/client.hu.yml
Due: yaml-syntax

DEV: Rename discourse_rewind_disabled column to discourse_rewind_enabled
  plugins/discourse-rewind/db/migrate/20260105171115_rename_discourse_rewind_disabled_to_enabled.rb
  plugins/discourse-rewind/db/post_migrate/20260105171226_drop_discourse_rewind_disabled_from_user_options.rb
  plugins/discourse-rewind/plugin.rb
Due: rubocop, syntax_tree

change to acting user since mods are allowed
  app/controllers/admin/users_controller.rb
  app/jobs/regular/delete_user_posts.rb
  spec/jobs/delete_user_posts_spec.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

UX: add locale to welcome banner config, fix variable references
  app/assets/stylesheets/common/form-kit/_field.scss
  config/locales/client.en.yml
  frontend/discourse/admin/components/admin-welcome-banner-form.gjs
  spec/system/admin_welcome_banner_config_spec.rb
  spec/system/page_objects/pages/admin_welcome_banner_config.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

UX: Adjust GitHub PR status onebox styles
  plugins/discourse-github/assets/stylesheets/common/github-pr-status.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/02-post-oneboxes.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/03-topic-map.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/04-topic-footer-buttons.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/05-topic-list.gjs
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
  plugins/styleguide/config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

fix specs
  plugins/styleguide/spec/system/smoke_test_spec.rb
Due: rubocop, syntax_tree
