Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

DEV: Update linting (#36351)
  frontend/discourse/app/components/modal/fullscreen-code.gjs
  frontend/discourse/app/lib/composer/rich-editor-extensions.js
  frontend/discourse/tests/integration/components/composer-editor-test.gjs
  frontend/pretty-text/addon/guid.js
  package.json
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/ai-persona-response-format-editor.gjs
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/01-font-scale.gjs
  pnpm-lock.yaml
Due: prettier, eslint, ember-template-lint

FIX: edit theme navigation link should be in active state (#36350)
  frontend/discourse/app/lib/sidebar/admin-nav-map.js
  spec/system/admin_customize_themes_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FEATURE: Implement ad impressions tracking (#35797)
  plugins/discourse-adplugin/admin/assets/javascripts/admin/adplugin-route-map.js
  plugins/discourse-adplugin/admin/assets/javascripts/admin/controllers/admin-plugins/house-ads/show.js
  plugins/discourse-adplugin/admin/assets/javascripts/admin/routes/admin-plugins/house-ads/show.js
  plugins/discourse-adplugin/admin/assets/javascripts/admin/templates/plugins-house-ads-show.gjs
  plugins/discourse-adplugin/app/controllers/ad_plugin/ad_impressions_controller.rb
  plugins/discourse-adplugin/app/controllers/ad_plugin/house_ads_controller.rb
  plugins/discourse-adplugin/app/models/ad_plugin/ad_impression.rb
  plugins/discourse-adplugin/app/models/ad_plugin/house_ad.rb
  plugins/discourse-adplugin/app/models/ad_plugin/house_ad_setting.rb
  plugins/discourse-adplugin/app/models/concerns/reports/ad_plugin.rb
  plugins/discourse-adplugin/app/serializers/ad_plugin/house_ad_serializer.rb
  plugins/discourse-adplugin/assets/javascripts/discourse/components/ad-component.js
  plugins/discourse-adplugin/assets/javascripts/discourse/components/adbutler-ad.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/amazon-product-links.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/carbonads-ad.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/google-adsense.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/google-dfp-ad.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/house-ad.gjs
  plugins/discourse-adplugin/config/locales/client.en.yml
  plugins/discourse-adplugin/config/locales/server.en.yml
  plugins/discourse-adplugin/config/settings.yml
  plugins/discourse-adplugin/db/migrate/20251104121941_create_house_ads_tables.rb
  plugins/discourse-adplugin/db/migrate/20251104121942_create_ad_analytics_tables.rb
  plugins/discourse-adplugin/db/migrate/20251114164217_add_clicked_at_to_ad_plugin_impressions.rb
  plugins/discourse-adplugin/db/post_migrate/20251104121943_migrate_house_ads_from_plugin_store.rb
  plugins/discourse-adplugin/lib/ad_plugin/ad_type.rb
  plugins/discourse-adplugin/plugin.rb
  plugins/discourse-adplugin/spec/fabricators/ad_impressions_fabricator.rb
  plugins/discourse-adplugin/spec/fabricators/house_ad_fabricator.rb
  plugins/discourse-adplugin/spec/models/ad_impressions_spec.rb
  plugins/discourse-adplugin/spec/models/house_ad_setting_spec.rb
  plugins/discourse-adplugin/spec/models/house_ad_spec.rb
  plugins/discourse-adplugin/spec/requests/ad_impressions_controller_spec.rb
  plugins/discourse-adplugin/spec/requests/house_ad_controller_spec.rb
  plugins/discourse-adplugin/spec/serializer/house_ad_serializer_spec.rb
  plugins/discourse-adplugin/spec/system/ad_impression_spec.rb
  plugins/discourse-adplugin/spec/system/dfp_ads_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: distinguish queued post from topic in refreshed review queue (#36330)
  frontend/discourse/app/components/reviewable-refresh/item.gjs
Due: prettier, eslint, ember-template-lint

FIX: Topic Notifications User Tip wasn't properly anchored (#36356)
  frontend/discourse/app/components/topic-footer-buttons.gjs
  frontend/discourse/tests/acceptance/user-tips-test.js
Due: prettier, eslint, ember-template-lint

FIX: Emoji.exists? should be consistent with Emoji[] (#36347)
  app/models/emoji.rb
  lib/slug.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  spec/models/emoji_spec.rb
Due: rubocop, syntax_tree

FIX: Check for pgvector before CREATE EXTENSION (#35070)
  plugins/discourse-ai/db/migrate/20230710171141_enable_pg_vector_extension.rb
Due: rubocop, syntax_tree

DEV: Add optional `s3_stale_while_revalidate` and `s3_max_age` for uploads (#36298)
  config/site_settings.yml
  lib/file_store/s3_store.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Handle more aws s3 errors in mediaconvert (#36358)
  app/services/video_conversion/aws_media_convert_adapter.rb
Due: rubocop, syntax_tree

FIX: Add space to onebox category badges (#36355)
  app/assets/stylesheets/common/base/onebox.scss
Due: prettier, stylelint

DEV: Replace an invalid d-cakeday migration (#36353)
  lib/migration/helpers.rb
  plugins/discourse-cakeday/db/migrate/20251127125226_delete_old_default_values.rb
  plugins/discourse-cakeday/db/migrate/20251201155027_guess_previously_saved_settings.rb
Due: rubocop, syntax_tree

DEV: Add video conversion support for chat messages (#36275)
  app/serializers/optimized_video_serializer.rb
  app/serializers/upload_serializer.rb
  app/services/video_conversion/aws_media_convert_adapter.rb
  app/services/video_conversion/base_adapter.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/jobs/regular/chat/process_message.rb
  plugins/chat/app/queries/chat/messages_query.rb
  plugins/chat/app/services/chat/update_message.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-upload.gjs
  plugins/chat/lib/chat/duplicate_message_validator.rb
  plugins/chat/lib/chat/message_processor.rb
  plugins/chat/lib/chat/onebox_handler.rb
  plugins/chat/spec/services/video_conversion/chat_message_spec.rb
  spec/requests/api/schemas/json/upload_create_response.json
  spec/services/video_conversion/aws_media_convert_adapter_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Related topics causing page render issues (#36357)
  plugins/discourse-ai/assets/javascripts/discourse/initializers/related-topics.gjs
Due: prettier, eslint, ember-template-lint

PERF: Cache LlmModel lookups in backfill jobs (#36359)
  plugins/discourse-ai/app/jobs/regular/localize_categories.rb
  plugins/discourse-ai/app/jobs/regular/localize_posts.rb
  plugins/discourse-ai/app/jobs/regular/localize_topics.rb
  plugins/discourse-ai/app/jobs/scheduled/summaries_backfill.rb
  plugins/discourse-ai/lib/summarization.rb
  plugins/discourse-ai/lib/translation/base_translator.rb
  plugins/discourse-ai/lib/translation/category_localizer.rb
  plugins/discourse-ai/lib/translation/post_localizer.rb
  plugins/discourse-ai/lib/translation/topic_localizer.rb
  plugins/discourse-ai/spec/jobs/regular/localize_categories_spec.rb
  plugins/discourse-ai/spec/jobs/regular/localize_posts_spec.rb
  plugins/discourse-ai/spec/jobs/regular/localize_topics_spec.rb
  plugins/discourse-ai/spec/jobs/scheduled/summaries_backfill_spec.rb
  plugins/discourse-ai/spec/lib/translation/category_localizer_spec.rb
  plugins/discourse-ai/spec/lib/translation/post_localizer_spec.rb
  plugins/discourse-ai/spec/lib/translation/topic_localizer_spec.rb
Due: rubocop, syntax_tree

UX: Display user's email in review queue insights (#36344)
  app/serializers/flagged_user_serializer.rb
  frontend/discourse/app/components/reviewable-refresh/insights.gjs
  spec/serializers/flagged_user_serializer_spec.rb
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Convert policy_restrict_to_staff_posts to group based access (#36157)
  plugins/discourse-policy/app/controllers/discourse_policy/policy_controller.rb
  plugins/discourse-policy/assets/javascripts/discourse/initializers/add-policy-builder.js
  plugins/discourse-policy/config/locales/server.en.yml
  plugins/discourse-policy/config/settings.yml
  plugins/discourse-policy/db/migrate/20251121083103_fill_create_policy_allowed_groups_based_on_deprecated_settings.rb
  plugins/discourse-policy/plugin.rb
  plugins/discourse-policy/spec/lib/pretty_text_spec.rb
  plugins/discourse-policy/spec/plugin_spec.rb
  plugins/discourse-policy/test/javascripts/acceptance/policy-test.js
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

UX: Improvements to flow when credit limits are exceeded (#36360)
  plugins/discourse-ai/app/controllers/discourse_ai/ai_helper/assistant_controller.rb
  plugins/discourse-ai/app/services/discourse_ai/ai_helper/generate_thumbnails.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-blinking-animation.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/diff-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/thumbnail-suggestions.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/suggestion-menus/ai-title-suggester.gjs
  plugins/discourse-ai/assets/javascripts/discourse/connectors/topic-map-expanded-after/ai-summary-trigger.gjs
  plugins/discourse-ai/lib/summarization/entry_point.rb
  plugins/discourse-ai/test/javascripts/acceptance/topic-summary-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Fix migration of HouseAd records from the `plugins-store-rows` table when `visible_to_logged_in_users` and/or `visible_to_anons` options are not set in the DB (#36362)
  plugins/discourse-adplugin/db/post_migrate/20251104121943_migrate_house_ads_from_plugin_store.rb
Due: rubocop, syntax_tree

UX: Display moderation history in review insights (#36370)
  app/serializers/flagged_user_serializer.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/reviewable-refresh/insights.gjs
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Ensure optimized videos have the correct acl (#36364)
  app/models/optimized_video.rb
  spec/models/optimized_video_spec.rb
Due: rubocop, syntax_tree

UX: improvements on Welcome banner config page (#36301)
  app/assets/stylesheets/admin/admin_config_area.scss
  config/locales/client.en.yml
  frontend/discourse/admin/components/admin-welcome-banner-form.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: enhance file type support for theme and component screenshots (#36372)
  lib/theme_screenshots_handler.rb
Due: rubocop, syntax_tree

FIX: Chat-settings/member list failed to scroll on IOS/iPadOS (#36331)
  plugins/chat/assets/stylesheets/common/base-common.scss
Due: prettier, stylelint

FIX: rich editor spoiler on firefox (#36378)
  plugins/spoiler-alert/assets/stylesheets/discourse_spoiler_alert.scss
Due: prettier

FIX: allow entering 0.002 in number inputs (#36374)
  frontend/discourse/app/form-kit/components/fk/control/input.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/input-number-test.gjs
Due: prettier, eslint, ember-template-lint

Update translations (#36379)
  config/locales/client.pl_PL.yml
  config/locales/client.zh_CN.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-adplugin/config/locales/client.he.yml
  plugins/discourse-adplugin/config/locales/client.pl_PL.yml
  plugins/discourse-adplugin/config/locales/server.he.yml
  plugins/discourse-adplugin/config/locales/server.pl_PL.yml
  plugins/discourse-policy/config/locales/server.pl_PL.yml
Due: yaml-syntax

DEV: Move test cleanup to correct scope in tasks/uploads_spec.rb (#36386)
  spec/tasks/uploads_spec.rb
Due: rubocop, syntax_tree

FIX: Migration issues of HouseAd records from the plugin-store-rows table when they reference non existing categories (#36380)
  plugins/discourse-adplugin/db/post_migrate/20251104121943_migrate_house_ads_from_plugin_store.rb
Due: rubocop, syntax_tree

DEV: Add a computed style matcher (#36381)
  plugins/chat/spec/system/drawer_spec.rb
  spec/support/computed_style_matcher.rb
  spec/support/system_helpers.rb
  spec/system/lightbox_spec.rb
  themes/horizon/spec/system/page_objects/components/user_color_palette_selector.rb
Due: rubocop, syntax_tree

PERF: Remove unused MessageBus subs to PM unread indicator channels (#36376)
  frontend/discourse/app/components/basic-topic-list.gjs
Due: prettier, eslint, ember-template-lint

FIX: Retranslate topic excerpts and avoid using post versions to indicate change (#36382)
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_topic.rb
  plugins/discourse-ai/lib/translation/entry_point.rb
  plugins/discourse-ai/lib/translation/localizable_quota.rb
  plugins/discourse-ai/lib/translation/post_localizer.rb
  plugins/discourse-ai/lib/translation/topic_localizer.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_topic_spec.rb
  plugins/discourse-ai/spec/lib/translation/entry_point_spec.rb
  plugins/discourse-ai/spec/lib/translation/localizable_quota_spec.rb
Due: rubocop, syntax_tree

FIX: allows float-kit to accept a portalOutletElement (#36259)
  frontend/discourse/app/components/header/user-dropdown/notifications.gjs
  frontend/discourse/app/components/topic-timeline/container.gjs
  frontend/discourse/app/components/user-tip.gjs
  frontend/discourse/float-kit/lib/constants.js
  frontend/discourse/float-kit/lib/d-tooltip-instance.js
  frontend/discourse/tests/integration/components/float-kit/d-tooltip-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Move AI credits daily usage to it's own table (#36369)
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/app/models/llm_credit_daily_usage.rb
  plugins/discourse-ai/app/services/discourse_ai/credit_status_checker.rb
  plugins/discourse-ai/db/migrate/20251201225314_create_llm_credit_daily_usages.rb
  plugins/discourse-ai/db/migrate/20251201225946_backfill_llm_credit_daily_usages.rb
  plugins/discourse-ai/spec/fabricators/llm_credit_allocation_fabricator.rb
  plugins/discourse-ai/spec/models/llm_credit_daily_usage_spec.rb
Due: rubocop, syntax_tree

UX: update heading style in review queue refresh (#36391)
  app/assets/stylesheets/common/base/review.scss
  frontend/discourse/app/components/reviewable-refresh/flag-reason.gjs
  frontend/discourse/tests/integration/components/reviewable-refresh/flag-reason-test.gjs
  spec/system/page_objects/components/review/flag_reason.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

UX: Ensure credit limit tooltip css is correctly applied (#36389)
  plugins/discourse-ai/assets/javascripts/discourse/connectors/topic-map-expanded-after/ai-summary-trigger.gjs
Due: prettier, eslint, ember-template-lint

DEV: Move google_oauth2_hd_groups site setting to authenticators area (#36388)
  config/site_settings.yml
Due: yaml-syntax

UX: avoid showing empty state before content loads on user activity pages (#36390)
  frontend/discourse/app/components/post-list/index.gjs
  frontend/discourse/app/components/user-stream.gjs
  frontend/discourse/app/templates/user/stream.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove old Discourse AI rake tasks (#36384)
  plugins/discourse-ai/lib/tasks/modules/embeddings/database.rake
  plugins/discourse-ai/lib/tasks/modules/sentiment/backfill.rake
  plugins/discourse-ai/lib/tasks/modules/toxicity/calibration.rake
  plugins/discourse-ai/spec/tasks/backfill_spec.rb
Due: rubocop, syntax_tree

DEV: remove leftover "puts" in specs (#36387)
  spec/jobs/export_csv_file_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree

FIX: ensures user-threads are scrollable (#36401)
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
Due: prettier, stylelint
