Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

updated copy for Create your Welcome Topic CTA
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

A11Y: Add aria labels for posts in group activity
  app/assets/javascripts/discourse/app/components/group-post.js
  app/assets/javascripts/discourse/app/templates/components/group-post.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

updated copy for Create your Welcome Topic CTA (#18600)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FEATURE: Hide welcome topic if it hasn't been edited
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

Add discourse-common
  app/assets/javascripts/discourse-common/addon/resolver.js
Due: prettier, eslint-js

more tests
  app/assets/javascripts/discourse/tests/acceptance/welcome-topic-banner-test.js
Due: prettier, eslint-js

A11Y: Add more information to the "reply to" button label.
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

A11Y: Add more information to the "reply to" button label. (#18604)
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

remove failing test
  app/assets/javascripts/discourse/tests/acceptance/welcome-topic-banner-test.js
Due: prettier, eslint-js

prettier
  app/assets/javascripts/discourse/tests/acceptance/welcome-topic-banner-test.js
Due: prettier, eslint-js

FIX: adjust the users per trust level cells in RTL mode
  app/assets/stylesheets/common/admin/dashboard.scss
Due: none

A11Y: Improve focus of select-kit items on WHCM themes
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: none

A11Y: Improve focus of `<summary>` items
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/common/components/buttons.scss
Due: none

UX: change styling for overridden theme setting
  app/assets/stylesheets/common/admin/settings.scss
Due: none

UX: add helper text
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Separate WHCM related styles in a separate partial
  app/assets/stylesheets/common.scss
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/common/whcm.scss
Due: none

DEV: Use comment instead of mixin
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/common/whcm.scss
Due: none

DEV: includes search_aliases in emoji object
  app/models/emoji.rb
  spec/models/emoji_spec.rb
Due: rubocop

DEV: includes search_aliases in emoji object (#18608)
  app/models/emoji.rb
  spec/models/emoji_spec.rb
Due: rubocop

Update config/locales/client.en.yml
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: theme setting highlight update (#18607)
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/assets/stylesheets/common/admin/settings.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Fix testem output
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

DEV: Fix testem output (#18609)
  app/assets/javascripts/discourse/testem.js
Due: prettier, eslint-js

FIX: remove RS384 and RS512 cose ciphers
  lib/freedom_patches/cose_rsapkcs1.rb
Due: rubocop

FIX: remove RS384 and RS512 cose ciphers (#18619)
  lib/freedom_patches/cose_rsapkcs1.rb
Due: rubocop

DEV: Try get rid of more test overrides
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
Due: prettier, eslint-js

DEV: Fix tests
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/invite-accept-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/poster-name-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/create-account-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/models/composer-test.js
Due: prettier, eslint-js

DEV: Move sidebar site settings to the sidebar category (#18596)
  config/site_settings.yml
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, yaml-syntax

FEATURE: Add sidebar link for admin to configure default tags
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Add sidebar link for admin to configure default categories
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Add docs and specs
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/services/hashtag_service.rb
  lib/plugin/instance.rb
  spec/rails_helper.rb
  spec/services/hashtag_service_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: allow user to set preferred sidebar topic destination
  app/assets/javascripts/discourse/app/components/sidebar/common/categories-section.js
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/models/user_option.rb
  app/serializers/user_option_serializer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  config/site_settings.yml
  db/migrate/20221013045158_add_sidebar_topic_destination_to_user_option.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: improvements after code review
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/preferences/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/models/user_option.rb
  app/serializers/user_option_serializer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  db/migrate/20221013045158_add_sidebar_list_destination_to_user_option.rb
  db/migrate/20221013045158_add_sidebar_topic_destination_to_user_option.rb
  spec/requests/api/schemas/json/user_get_response.json
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: use discovery.category
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint-js

FIX: reorganize tests
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
Due: prettier, eslint-js

FIX: more improvements after code review
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/app/lib/sidebar/common/community-section/everything-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/preferences-sidebar.js
  app/assets/javascripts/discourse/app/templates/preferences/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-sidebar-test.js
  app/models/user_option.rb
Due: rubocop, prettier, eslint-js

FIX: default instead of latest
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/models/user_option.rb
  config/locales/client.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Add sidebar link for admin to configure default categories (#18595)
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/user/categories-section.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
