Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Fix system tests not relying on capybara matchers
  spec/system/composer/category_templates_spec.rb
Due: rubocop, syntax_tree

DEV: Actually load media-optim wasms from CDN
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
Due: prettier, eslint

DEV: Actually load media-optim wasms from CDN (#35280)
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
Due: prettier, eslint

DEV: Fix system tests not relying on capybara matchers (#35281)
  spec/system/composer/category_templates_spec.rb
Due: rubocop, syntax_tree

Add 'svg' to authorized default file extensions
  config/site_settings.yml
Due: yaml-syntax

UX: add setting to include AI bot link in sidebar
  app/assets/stylesheets/common/base/sidebar.scss
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-bot-replies.js
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-conversations-sidebar.js
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/test/javascripts/acceptance/ai-bot-sidebar-link-test.js
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

Update translations (#35270)
  config/locales/client.he.yml
  config/locales/server.he.yml
  plugins/discourse-ai/config/locales/client.de.yml
  plugins/discourse-ai/config/locales/client.es.yml
  plugins/discourse-ai/config/locales/client.he.yml
  plugins/discourse-ai/config/locales/client.ja.yml
  plugins/discourse-ai/config/locales/client.pl_PL.yml
  plugins/discourse-ai/config/locales/client.ro.yml
  plugins/discourse-ai/config/locales/client.ru.yml
  plugins/discourse-ai/config/locales/client.uk.yml
  plugins/discourse-ai/config/locales/client.zh_CN.yml
  plugins/discourse-ai/config/locales/server.ar.yml
  plugins/discourse-ai/config/locales/server.de.yml
  plugins/discourse-ai/config/locales/server.es.yml
  plugins/discourse-ai/config/locales/server.fi.yml
  plugins/discourse-ai/config/locales/server.fr.yml
  plugins/discourse-ai/config/locales/server.it.yml
  plugins/discourse-ai/config/locales/server.ja.yml
  plugins/discourse-ai/config/locales/server.nl.yml
  plugins/discourse-ai/config/locales/server.pl_PL.yml
  plugins/discourse-ai/config/locales/server.pt_BR.yml
  plugins/discourse-ai/config/locales/server.ru.yml
  plugins/discourse-ai/config/locales/server.sk.yml
  plugins/discourse-ai/config/locales/server.tr_TR.yml
  plugins/discourse-ai/config/locales/server.uk.yml
  plugins/discourse-ai/config/locales/server.zh_CN.yml
  plugins/discourse-calendar/config/locales/client.he.yml
  plugins/discourse-calendar/config/locales/server.he.yml
Due: yaml-syntax

Update translations (#35271)
  config/locales/server.he.yml
  plugins/discourse-ai/config/locales/client.he.yml
Due: yaml-syntax

leave existing defaults
  plugins/discourse-ai/config/settings.yml
Due: yaml-syntax

update description
  plugins/discourse-ai/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

move specs to the right place
  plugins/discourse-oauth2-basic/spec/system/admin_config_login_spec.rb
  plugins/discourse-openid-connect/spec/system/admin_config_login_spec.rb
  spec/system/admin_config_login_and_authentication_spec.rb
  spec/system/admin_search_spec.rb
Due: rubocop, syntax_tree

DEV: Add `only_if` step to DRSF
  lib/service/base.rb
  lib/service/steps_inspector.rb
  spec/lib/service/steps_inspector_spec.rb
Due: rubocop, syntax_tree

UX: Replace dropdown with a dedicated index page for email templates
  app/assets/javascripts/admin/addon/controllers/admin-email-templates.js
  app/assets/javascripts/admin/addon/controllers/admin-email-templates/index.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates/index.js
  app/assets/javascripts/admin/addon/templates/admin-email-templates.gjs
  app/assets/javascripts/admin/addon/templates/admin-email-templates/edit.gjs
  app/assets/javascripts/admin/addon/templates/admin-email-templates/index.gjs
  config/locales/client.en.yml
  spec/system/admin_email_templates_index_spec.rb
  spec/system/page_objects/pages/admin_email_templates_index.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

update spec
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
  plugins/discourse-ai/spec/system/page_objects/components/ai_pm_homepage.rb
Due: rubocop, syntax_tree

added rake task and removed check for post_timings table so changes affect all related tables
  lib/tasks/posts.rake
  spec/tasks/posts_spec.rb
Due: rubocop, syntax_tree

better test
  spec/tasks/posts_spec.rb
Due: rubocop, syntax_tree

DEV: Add `only_if` step to DRSF (#35247)
  lib/service/base.rb
  lib/service/steps_inspector.rb
  spec/lib/service/steps_inspector_spec.rb
Due: rubocop, syntax_tree

linting
  spec/tasks/posts_spec.rb
Due: rubocop, syntax_tree

change default settings
  plugins/discourse-ai/config/settings.yml
Due: yaml-syntax

DEV: Allow AI tagging automation to tag system-created topics (#35245)
  plugins/automation/lib/discourse_automation/event_handlers.rb
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/discourse_automation/llm_tagger.rb
  plugins/discourse-ai/spec/lib/automation/llm_tagger_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Add the option to flag, delete and silence in LLM Triage
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/automation.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

enable header button for spec
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
Due: rubocop, syntax_tree

fix tests
  plugins/discourse-ai/spec/system/ai_bot/ai_bot_helper_spec.rb
  plugins/discourse-ai/spec/system/ai_bot/persona_spec.rb
  plugins/discourse-ai/test/javascripts/acceptance/topic-summary-test.js
Due: rubocop, syntax_tree, prettier, eslint

FEATURE: Add the option to flag, delete and silence in LLM Triage (#35285)
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/automation.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Also process manually updated translations (#35276)
  app/jobs/regular/process_localized_cooked.rb
  lib/localized_cooked_post_processor.rb
  lib/post_localization_creator.rb
  lib/post_localization_destroyer.rb
  lib/post_localization_updater.rb
  plugins/discourse-ai/lib/translation/localized_cooked_post_processor.rb
  plugins/discourse-ai/lib/translation/post_localizer.rb
  spec/jobs/process_localized_cooked_spec.rb
  spec/lib/post_localization_creator_spec.rb
  spec/lib/post_localization_destroyer_spec.rb
  spec/lib/post_localization_updater_spec.rb
Due: rubocop, syntax_tree

DEV: more early exits
  plugins/discourse-ai/app/jobs/scheduled/category_localization_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/post_localization_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/topic_localization_backfill.rb
Due: rubocop, syntax_tree

FIX: PG::UniqueViolation for PostTimings in posts:reorder_posts rake task when PostTiming records have no corresponding Post (#35212)
  lib/tasks/posts.rake
  spec/tasks/posts_spec.rb
Due: rubocop, syntax_tree

attempt to fix test again
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-bot-helper.js
  plugins/discourse-ai/test/javascripts/acceptance/topic-summary-test.js
Due: prettier, eslint

Apply suggestion from code review
  app/assets/javascripts/admin/addon/components/email-logs-list.gjs
Due: none

DEV: Replace deprecated Ember's array `.[]` (#35159)
  app/assets/javascripts/admin/addon/components/themes-list-item.gjs
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/discourse/app/deprecation-workflow.js
  app/assets/javascripts/discourse/public/assets/scripts/discourse-test-listen-boot.js
  app/assets/javascripts/select-kit/addon/components/category-drop.js
Due: prettier, eslint

FIX: Add backup codes immediately after adding 2FA
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-security-key.gjs
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-totp.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-test.js
Due: prettier, eslint

DEV: Use boolean `credits_available?` on early exits
  plugins/discourse-ai/app/jobs/scheduled/categories_locale_detection_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/category_localization_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/post_localization_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/posts_locale_detection_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/summaries_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/topic_localization_backfill.rb
  plugins/discourse-ai/app/jobs/scheduled/topics_locale_detection_backfill.rb
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/spec/models/llm_credit_allocation_spec.rb
Due: rubocop, syntax_tree

DEV: Use system spec
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-test.js
  spec/system/user_page/user_preferences_security_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Use i18n
  spec/system/user_page/user_preferences_security_spec.rb
Due: rubocop, syntax_tree

initializer adjustments
  plugins/discourse-ai/assets/javascripts/discourse/initializers/add-ai-bot-to-community-section.gjs
Due: none

DEV: Replace deprecated Ember's native array.get and .set (#35000)
  app/assets/javascripts/admin/addon/components/email-logs-list.gjs
  app/assets/javascripts/admin/addon/controllers/admin-user/badges.js
  app/assets/javascripts/admin/addon/lib/setting-object-helper.js
  app/assets/javascripts/admin/addon/routes/admin-user/badges.js
  app/assets/javascripts/discourse/app/deprecation-workflow.js
  app/assets/javascripts/discourse/app/lib/array-tools.js
  app/assets/javascripts/discourse/tests/unit/lib/array-tools-test.js
Due: prettier, eslint

FEATURE: Add "Copy as Markdown" button to post menu (opt-in)
  app/assets/javascripts/discourse/app/components/post.gjs
  app/assets/javascripts/discourse/app/components/post/menu.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/copy-markdown.gjs
  app/assets/javascripts/discourse/tests/unit/components/post-menu-test.gjs
  config/locales/client.en.yml
  config/site_settings.yml
Due: yaml-syntax, i18n-lint

FIX: Add backup codes immediately after adding 2FA (#35287)
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-security-key.gjs
  app/assets/javascripts/discourse/app/components/modal/second-factor-add-totp.gjs
  spec/system/user_page/user_preferences_security_spec.rb
Due: rubocop, syntax_tree

minor padding adjustment for header
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
Due: prettier-scss

fix spec, add acceptance test, change default
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
  plugins/discourse-ai/test/javascripts/acceptance/ai-bot-sidebar-link-test.js
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax
