Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

UX: adjust horizon styles for DComboButton
  themes/horizon/scss/buttons.scss
  themes/horizon/scss/hiddenstuff.scss
  themes/horizon/scss/sidebar-new-topic-button.scss
  themes/horizon/scss/sidebar.scss
Due: prettier, stylelint

UX: adjust horizon styles for DComboButton (#37889)
  themes/horizon/scss/buttons.scss
  themes/horizon/scss/hiddenstuff.scss
  themes/horizon/scss/sidebar-new-topic-button.scss
  themes/horizon/scss/sidebar.scss
Due: prettier, stylelint

FIX: more cleanup
  app/models/reviewable.rb
  app/models/reviewable_post.rb
  app/serializers/reviewable_user_serializer.rb
  frontend/discourse/app/components/review-index.gjs
  frontend/discourse/app/components/reviewable/note-form.gjs
  frontend/discourse/app/templates/review/index.gjs
  frontend/discourse/app/templates/review/show.gjs
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/discourse-post-voting/app/models/reviewable_post_voting_comment.rb
  plugins/discourse-post-voting/spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: get rid of Pages::RefreshedReview
  app/models/reviewable.rb
  plugins/discourse-post-voting/spec/system/viewing_reviewable_spec.rb
  plugins/discourse-user-notes/spec/system/reviewable_user_notes_spec.rb
  spec/models/reviewable_post_spec.rb
  spec/models/reviewable_queued_post_spec.rb
  spec/system/flagging_post_spec.rb
  spec/system/page_objects/pages/refreshed_review.rb
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
  spec/system/user_page/staff_info_spec.rb
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree

FIX: reviewable/index
  frontend/discourse/app/components/reviewable/index.gjs
Due: prettier, eslint, ember-template-lint

DEV: port data explorer to new admin plugin pattern
  plugins/discourse-data-explorer/assets/javascripts/admin/adapters/query.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/explorer-legacy-route-map.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/initializers/data-explorer-admin-plugin-configuration-nav.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/models/query.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/admin-plugins/show/explorer/index.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/admin-plugins/show/explorer/queries/details.gjs
  plugins/discourse-data-explorer/config/locales/server.en.yml
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/data_explorer.rb
  plugins/discourse-data-explorer/plugin.rb
  plugins/discourse-data-explorer/spec/system/explorer_spec.rb
  plugins/discourse-data-explorer/spec/system/param_input_spec.rb
  plugins/discourse-data-explorer/test/javascripts/acceptance/list-queries-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/new-query-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/param-input-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: port data explorer to new admin plugin pattern (#37890)
  plugins/discourse-data-explorer/assets/javascripts/admin/adapters/query.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/explorer-legacy-route-map.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/initializers/data-explorer-admin-plugin-configuration-nav.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/models/query.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/queries/details.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/admin-plugins/show/explorer/index.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/admin-plugins/show/explorer/queries/details.gjs
  plugins/discourse-data-explorer/config/locales/server.en.yml
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/data_explorer.rb
  plugins/discourse-data-explorer/plugin.rb
  plugins/discourse-data-explorer/spec/system/explorer_spec.rb
  plugins/discourse-data-explorer/spec/system/param_input_spec.rb
  plugins/discourse-data-explorer/test/javascripts/acceptance/list-queries-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/new-query-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/param-input-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: add credential bindings for AI tools
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-secrets-list-editor.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-tool-list-editor.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins/show/discourse-ai-tools/edit.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins/show/discourse-ai-tools/new.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-ai-tools/edit.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-ai-tools/new.gjs
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_secrets_controller.rb
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_tools_controller.rb
  plugins/discourse-ai/app/models/ai_secret.rb
  plugins/discourse-ai/app/models/ai_tool.rb
  plugins/discourse-ai/app/models/ai_tool_secret_binding.rb
  plugins/discourse-ai/app/serializers/ai_custom_tool_list_serializer.rb
  plugins/discourse-ai/app/serializers/ai_custom_tool_serializer.rb
  plugins/discourse-ai/app/services/discourse_ai/persona_exporter.rb
  plugins/discourse-ai/app/services/discourse_ai/persona_importer.rb
  plugins/discourse-ai/assets/javascripts/discourse/admin/models/ai-tool.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-editor-form.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/ai-tool-test-modal.gjs
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-tools.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/db/migrate/20260218000000_add_secret_contracts_to_ai_tools.rb
  plugins/discourse-ai/lib/ai_tool_scripts/preamble.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/flux_2_bfl.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/flux_together.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/gemini.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/openai.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/stock_quote.js
  plugins/discourse-ai/lib/personas/tool_runner.rb
  plugins/discourse-ai/spec/lib/personas/tool_runner_spec.rb
  plugins/discourse-ai/spec/models/ai_secret_spec.rb
  plugins/discourse-ai/spec/models/ai_tool_spec.rb
  plugins/discourse-ai/spec/requests/admin/ai_secrets_controller_spec.rb
  plugins/discourse-ai/spec/requests/admin/ai_tools_controller_spec.rb
  plugins/discourse-ai/spec/services/discourse_ai/persona_exporter_spec.rb
  plugins/discourse-ai/spec/services/discourse_ai/persona_importer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

annotate
  plugins/discourse-ai/app/models/ai_tool_secret_binding.rb
Due: rubocop, syntax_tree

FIX: group subcategories under parent in composer category chooser
  frontend/discourse/select-kit/components/category-chooser.js
  spec/system/composer_spec.rb
  spec/system/page_objects/components/select_kit.rb
Due: rubocop, syntax_tree, prettier, eslint

remove pre initializer
  plugins/discourse-solved/assets/javascripts/discourse/connectors/bread-crumbs-right/solved-status-filter.gjs
  plugins/discourse-solved/assets/javascripts/discourse/connectors/category-custom-settings/solved-settings.gjs
  plugins/discourse-solved/assets/javascripts/discourse/initializers/solved-category-change-confirmation.gjs
  plugins/discourse-solved/assets/javascripts/discourse/pre-initializers/extend-category-for-solved.js
Due: prettier, eslint, ember-template-lint

FIX: Set `tagging_directive` to "REPLACE" in `S3Helper#copy` [backport 2025.12] (#37888)
  lib/s3_helper.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree

FIX: Set `tagging_directive` to "REPLACE" in `S3Helper#copy` [backport 2026.1] (#37887)
  lib/s3_helper.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree

FIX: ignored status
  spec/system/page_objects/pages/review.rb
Due: rubocop, syntax_tree

I18N: Update translations
  config/locales/client.ar.yml
  config/locales/client.be.yml
  config/locales/client.de.yml
  config/locales/client.el.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.el.yml
  config/locales/server.nl.yml
  plugins/automation/config/locales/server.de.yml
  plugins/discourse-ai/config/locales/client.de.yml
  plugins/discourse-ai/config/locales/client.el.yml
  plugins/discourse-ai/config/locales/server.de.yml
  plugins/discourse-ai/config/locales/server.el.yml
  plugins/discourse-chat-integration/config/locales/server.el.yml
  plugins/discourse-math/config/locales/server.de.yml
  plugins/discourse-narrative-bot/config/locales/server.el.yml
  plugins/discourse-presence/config/locales/client.de.yml
  plugins/discourse-rss-polling/config/locales/client.el.yml
  plugins/discourse-solved/config/locales/server.el.yml
  plugins/discourse-topic-voting/config/locales/client.de.yml
Due: yaml-syntax

UX: Styling update to line chart
  frontend/discourse/admin/components/admin-report-chart.gjs
Due: prettier, eslint, ember-template-lint

remove wrappers in plugin and update specs for service obj calls
  plugins/discourse-solved/app/services/discourse_solved/accept_answer.rb
  plugins/discourse-solved/lib/discourse_dev/discourse_solved.rb
  plugins/discourse-solved/lib/discourse_solved/topics_controller_extension.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-solved/spec/components/composer_messages_finder_spec.rb
  plugins/discourse-solved/spec/components/post_revisor_spec.rb
  plugins/discourse-solved/spec/integration/solved_spec.rb
  plugins/discourse-solved/spec/lib/first_accepted_post_solution_validator_spec.rb
  plugins/discourse-solved/spec/lib/queries_spec.rb
  plugins/discourse-solved/spec/models/directory_item_spec.rb
  plugins/discourse-solved/spec/requests/list_controller_spec.rb
  plugins/discourse-solved/spec/serializers/user_card_serializer_spec.rb
  plugins/discourse-solved/spec/serializers/user_summary_serializer_spec.rb
Due: rubocop, syntax_tree

remove stepsize
  frontend/discourse/admin/components/admin-report-chart.gjs
Due: prettier, eslint, ember-template-lint

update gamification specs to use new services
  plugins/discourse-gamification/spec/lib/scorables/solutions_spec.rb
Due: rubocop, syntax_tree

I18N: Update translations (#37838)
  config/locales/client.ar.yml
  config/locales/client.be.yml
  config/locales/client.de.yml
  config/locales/client.el.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.el.yml
  config/locales/server.nl.yml
  plugins/automation/config/locales/server.de.yml
  plugins/discourse-ai/config/locales/client.de.yml
  plugins/discourse-ai/config/locales/client.el.yml
  plugins/discourse-ai/config/locales/server.de.yml
  plugins/discourse-ai/config/locales/server.el.yml
  plugins/discourse-chat-integration/config/locales/server.el.yml
  plugins/discourse-math/config/locales/server.de.yml
  plugins/discourse-narrative-bot/config/locales/server.el.yml
  plugins/discourse-presence/config/locales/client.de.yml
  plugins/discourse-rss-polling/config/locales/client.el.yml
  plugins/discourse-solved/config/locales/server.el.yml
  plugins/discourse-topic-voting/config/locales/client.de.yml
Due: yaml-syntax

UX: fix order of badges to be less language-dependent
  frontend/discourse/app/controllers/user/badges.js
Due: prettier, eslint

Switch Fedora/Debian
  lib/temporary_db.rb
Due: rubocop, syntax_tree

update .name to .id
  frontend/discourse/app/controllers/user/badges.js
Due: prettier, eslint

DEV: Harden TemporaryDb for reliability and parallel safety (#37881)
  lib/tasks/db.rake
  lib/temporary_db.rb
Due: rubocop, syntax_tree

DEV: Update release automation workflows [backport 2026.1] (#37532)
  .github/workflows/release-branch-handler.yml
  .github/workflows/release-handler.yml
Due: yaml-syntax

DEV: Update release automation workflows [backport 2025.12] (#37533)
  .github/workflows/release-branch-handler.yml
  .github/workflows/release-handler.yml
Due: yaml-syntax

UX: update icon & placement for composer edit-reason
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/components/composer-container.gjs
Due: prettier, eslint, ember-template-lint, stylelint

fix tests
  plugins/discourse-solved/spec/components/post_revisor_spec.rb
Due: rubocop, syntax_tree

DEV: `GitUtils` overriding via `config/git-utils-overrides.json` [backport 2026.1]
  lib/git_utils.rb
  spec/lib/git_utils_spec.rb
Due: rubocop, syntax_tree

DEV: `GitUtils` overriding via `config/git-utils-overrides.json` [backport 2026.1] (#37897)
  lib/git_utils.rb
  spec/lib/git_utils_spec.rb
Due: rubocop, syntax_tree

UX: update icon & placement for composer edit-reason (#37896)
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/components/composer-container.gjs
Due: prettier, eslint, ember-template-lint, stylelint

FIX: chat secure uploads for lightbox images
  plugins/chat/lib/chat/message_processor.rb
  plugins/chat/spec/lib/chat/message_processor_spec.rb
Due: rubocop, syntax_tree

FEATURE: Full Ember app embed mode for blog comments
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/embed-mode.scss
  app/controllers/application_controller.rb
  app/controllers/embed_controller.rb
  frontend/discourse/app/controllers/application.js
  frontend/discourse/app/lib/embed-mode.js
  frontend/discourse/app/lib/intercept-click.js
  frontend/discourse/app/services/footer.js
  public/javascripts/embed.js
Due: rubocop, syntax_tree, prettier, eslint, stylelint

FEATURE: Add Storage Access API support for Safari embed mode
  app/assets/stylesheets/common/base/embed-mode.scss
  frontend/discourse/app/instance-initializers/embed-storage-access.js
Due: prettier, eslint, stylelint

FIX: Actually open external links in new tab in embed mode
  frontend/discourse/app/instance-initializers/embed-mode-navigation.js
  frontend/discourse/app/lib/intercept-click.js
  frontend/discourse/app/lib/url.js
Due: prettier, eslint

FIX: Send CSRF token in embed mode cross-origin requests
  app/controllers/embed_controller.rb
  frontend/discourse/app/instance-initializers/csrf-token.js
Due: rubocop, syntax_tree, prettier, eslint

FIX: Open external links in new tab when in embed mode
  frontend/discourse/app/instance-initializers/embed-mode-navigation.js
Due: prettier, eslint

FIX: Update isSafari detection in capabilities service
  frontend/discourse/app/services/capabilities.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
