Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn pprettier --list-different **/*.js
    prettier-scss:
      run: yarn pprettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: yarn run ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

serialize can_be_deleted field only when needed
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_list_serializer.rb
  spec/serializers/admin_user_list_serializer_spec.rb
Due: rubocop, syntax_tree

fix spec
  app/serializers/admin_user_serializer.rb
Due: rubocop, syntax_tree

support shift+select
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
Due: prettier, eslint, ember-template-lint

remove to_a
  app/services/user/bulk_destroy.rb
Due: rubocop, syntax_tree

pass data obj directly to i18n
  app/assets/javascripts/admin/addon/components/bulk-user-delete-confirmation.gjs
Due: none

use find_each and rename u -> user
  app/services/user/bulk_destroy.rb
Due: rubocop, syntax_tree

remove user ids from context
  app/services/user/bulk_destroy.rb
  config/locales/server.en.yml
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

limit bulk selection to 100
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

use with_index(1)
  app/services/user/bulk_destroy.rb
Due: rubocop, syntax_tree

DEV: Improve hbr topic list detection
  app/assets/javascripts/discourse-common/addon/lib/raw-templates.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/instance-initializers/hbr-topic-list-overrides.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
Due: prettier, eslint

DEV: Improve hbr topic list detection (#29892)
  app/assets/javascripts/discourse-common/addon/lib/raw-templates.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-list.js
  app/assets/javascripts/discourse/app/instance-initializers/hbr-topic-list-overrides.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
Due: prettier, eslint

ix
  app/assets/stylesheets/common/base/code_highlighting.scss
Due: prettier-scss

DEV: Refactor `DiscourseAutomation::DestroyAutomation` a bit
  plugins/automation/app/controllers/discourse_automation/admin_automations_controller.rb
  plugins/automation/app/services/discourse_automation/destroy.rb
  plugins/automation/app/services/discourse_automation/destroy_automation.rb
  plugins/automation/spec/services/destroy_automation_spec.rb
  plugins/automation/spec/services/discourse_automation/destroy_spec.rb
Due: rubocop, syntax_tree

additions
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

UX: Codeblocks edits (#29893)
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

added tests for demotions
  app/jobs/scheduled/tl3_promotions.rb
  spec/jobs/tl3_promotions_spec.rb
Due: rubocop, syntax_tree

FIX: `Permalink.create` didn't work as expected anymore
  app/assets/javascripts/admin/addon/components/admin-permalink-form.gjs
  app/controllers/admin/permalinks_controller.rb
  app/models/permalink.rb
Due: rubocop, syntax_tree

DEV: Log number of live slots used by requests
  config/initializers/101-lograge.rb
  lib/method_profiler.rb
Due: rubocop, syntax_tree

FIX: makes tags reactive with docked header
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
Due: none

changed argument order in test
  app/jobs/scheduled/tl3_promotions.rb
  spec/jobs/tl3_promotions_spec.rb
Due: rubocop, syntax_tree

FIX: makes tags reactive with docked header (#29894)
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
Due: none

Revert "UX: Codeblocks edits (#29893)"
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

Fix specs
  spec/models/permalink_spec.rb
  spec/requests/admin/permalinks_controller_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/permalinks_controller_spec.rb
Due: rubocop, syntax_tree

Revert "UX: Codeblocks edits (#29893)" (#29896)
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

DEV: Enable `experimental_topics_filter` by default
  config/site_settings.yml
Due: yaml-syntax

fix one more spec
  spec/requests/categories_controller_spec.rb
Due: rubocop, syntax_tree

the last failing specs?
  spec/models/category_spec.rb
Due: rubocop, syntax_tree

DEV: Enable `experimental_topics_filter` by default (#29897)
  config/site_settings.yml
Due: yaml-syntax

more-fixes
  app/assets/stylesheets/common/base/code_highlighting.scss
Due: prettier-scss

more
  app/assets/stylesheets/color_definitions.scss
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/foundation/base.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
Due: prettier-scss

finalize
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
Due: prettier-scss

UX: Multiple codeblocks fixes (#29898)
  app/assets/stylesheets/color_definitions.scss
  app/assets/stylesheets/common/base/code_highlighting.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/foundation/base.scss
  app/assets/stylesheets/common/foundation/color_transformations.scss
Due: prettier-scss

DEV:Add plugin outlet for liked posts
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
Due: none

FIX: `Permalink.create` didn't work as expected anymore (#29895)
  app/assets/javascripts/admin/addon/components/admin-permalink-form.gjs
  app/controllers/admin/permalinks_controller.rb
  app/models/permalink.rb
  spec/models/category_spec.rb
  spec/models/permalink_spec.rb
  spec/requests/admin/permalinks_controller_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/categories_controller_spec.rb
  spec/requests/permalinks_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Add tl3_custom_promotions plugin modifier to tl3_promotions.rb (#29834)
  app/jobs/scheduled/tl3_promotions.rb
  spec/jobs/tl3_promotions_spec.rb
Due: rubocop, syntax_tree

DEV: Apply modifier for topic_view link_counts (#29883)
  lib/topic_view.rb
  spec/lib/topic_view_spec.rb
Due: rubocop, syntax_tree

DEV: Add emoji-picker-footer plugin outlet
  app/assets/javascripts/discourse/app/components/emoji-picker.hbs
Due: ember-template-lint

sort imports
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
Due: none

don't allow bypassing the 100 limit
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
Due: prettier, eslint
