Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Convert track-selected to glimmer/gjs (#26773)
  app/assets/javascripts/discourse/app/components/track-selected.gjs
  app/assets/javascripts/discourse/app/components/track-selected.hbs
  app/assets/javascripts/discourse/app/components/track-selected.js
Due: prettier, eslint-js

DEV: Convert topic-title to glimmer/gjs (#26775)
  app/assets/javascripts/discourse/app/components/topic-title.gjs
  app/assets/javascripts/discourse/app/components/topic-title.hbs
  app/assets/javascripts/discourse/app/components/topic-title.js
Due: prettier, eslint-js

DEV: Update htmlSafe imports (#26776)
  app/assets/javascripts/admin/addon/components/schema-theme-setting/field.gjs
  app/assets/javascripts/admin/addon/components/site-settings/description.gjs
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer-message-details.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-in-reply-to-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-text.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-thread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/reviewable-chat-message.gjs
Due: none

DEV: Add support for arrays to concatClass (#26777)
  app/assets/javascripts/discourse/app/helpers/concat-class.js
  app/assets/javascripts/discourse/tests/integration/helpers/concat-class-test.js
Due: prettier, eslint-js

fixes galore!
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

reorder stuff
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

DEV: Inline cancel-link code
  app/assets/javascripts/admin/addon/components/cancel-link.js
  app/assets/javascripts/discourse/app/components/cancel-link.hbs
  app/assets/javascripts/discourse/app/components/cancel-link.js
  app/assets/javascripts/discourse/app/templates/preferences-email.hbs
  app/assets/javascripts/discourse/app/templates/preferences-second-factor.hbs
Due: prettier, eslint-js

lint
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

rename
  app/assets/javascripts/discourse/app/components/glimmer-topic-link.gjs
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

DEV: Inline cancel-link code (#26778)
  app/assets/javascripts/admin/addon/components/cancel-link.js
  app/assets/javascripts/discourse/app/components/cancel-link.hbs
  app/assets/javascripts/discourse/app/components/cancel-link.js
  app/assets/javascripts/discourse/app/templates/preferences-email.hbs
  app/assets/javascripts/discourse/app/templates/preferences-second-factor.hbs
Due: prettier, eslint-js

mobile view!
  app/assets/javascripts/discourse/app/components/glimmer-post-count-or-badges.gjs
  app/assets/javascripts/discourse/app/components/glimmer-posts-count-column.gjs
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

wrap
  app/assets/javascripts/discourse/app/components/glimmer-activity-column.gjs
  app/assets/javascripts/discourse/app/components/glimmer-topic-list-item.gjs
Due: none

DEV: Add support for `user_associated_accounts` to import script
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Due: rubocop

DEV: Import script should use case-insensitive lookup for tags
  script/bulk_import/generic_bulk.rb
Due: rubocop

fix: confusing comment
  config/discourse_defaults.conf
Due: none

remove yield-only template
  app/assets/javascripts/discourse/app/components/watch-read.gjs
Due: none

rename
  app/assets/javascripts/discourse/app/components/glimmer-component-with-deprecated-parent-view.gjs
Due: none

rename this too
  app/assets/javascripts/dialog-holder/app/components/dialog-holder.gjs
Due: none

restore dialog-holder
  app/assets/javascripts/dialog-holder/addon/components/dialog-holder.gjs
  app/assets/javascripts/dialog-holder/addon/components/dialog-holder.hbs
  app/assets/javascripts/dialog-holder/addon/components/dialog-holder.js
  app/assets/javascripts/dialog-holder/app/components/dialog-holder.js
Due: prettier, eslint-js

FIX: correctly rename scroller everywhere
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-composer.js
Due: prettier, eslint-js

FIX: correctly enable/disable body scroll on modal
  app/assets/javascripts/discourse/app/components/d-modal.gjs
Due: none

improve the error handling in JS
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/models/watched_word_group.rb
Due: rubocop, prettier, eslint-js

more of safe
  app/assets/javascripts/discourse/app/components/loading-slider-fallback-spinner.gjs
  app/assets/javascripts/discourse/app/components/loading-slider-fallback-spinner.hbs
  app/assets/javascripts/discourse/app/components/loading-slider-fallback-spinner.js
  app/assets/javascripts/discourse/app/components/modal-container.gjs
  app/assets/javascripts/discourse/app/components/modal-container.hbs
  app/assets/javascripts/discourse/app/components/modal-container.js
  app/assets/javascripts/discourse/app/components/user-status-message.gjs
  app/assets/javascripts/discourse/app/components/user-status-message.hbs
  app/assets/javascripts/discourse/app/components/user-status-message.js
Due: prettier, eslint-js

move stuff to topic-list dir
  app/assets/javascripts/discourse/app/components/categories-topic-list.hbs
  app/assets/javascripts/discourse/app/components/topic-list.hbs
  app/assets/javascripts/discourse/app/components/topic-list/action-list.gjs
  app/assets/javascripts/discourse/app/components/topic-list/activity-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/latest-topic-list-item.gjs
  app/assets/javascripts/discourse/app/components/topic-list/new-list-header-controls.gjs
  app/assets/javascripts/discourse/app/components/topic-list/participant-groups.gjs
  app/assets/javascripts/discourse/app/components/topic-list/post-count-or-badges.gjs
  app/assets/javascripts/discourse/app/components/topic-list/posters-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/posts-count-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-bulk-select-dropdown.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-excerpt.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-link.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header-column.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-header.gjs
  app/assets/javascripts/discourse/app/components/topic-list/topic-list-item.gjs
  app/assets/javascripts/discourse/app/components/topic-list/unread-indicator.gjs
  app/assets/javascripts/discourse/app/components/topic-list/visited-line.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/topic-list-item.hbs
Due: none

improve the code readability
  app/controllers/admin/watched_words_controller.rb
  app/models/watched_word_group.rb
  spec/models/watched_word_group_spec.rb
Due: rubocop

Revert "DEV: Convert topic-title to glimmer/gjs (#26775)"
  app/assets/javascripts/discourse/app/components/topic-title.gjs
  app/assets/javascripts/discourse/app/components/topic-title.hbs
  app/assets/javascripts/discourse/app/components/topic-title.js
Due: prettier, eslint-js

improve code readability
  app/controllers/admin/watched_words_controller.rb
Due: rubocop

FEATURE: new admin sidebar for moderators
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax

DEV: Add pry-stack_explorer again (#26763)
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Due: rubocop

FIX: Better tracking of topic visibility changes (#26709)
  app/assets/javascripts/discourse/app/components/topic-status.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/app/raw-views/topic-status.js
  app/controllers/topics_controller.rb
  app/jobs/regular/make_embedded_topic_visible.rb
  app/models/post.rb
  app/models/topic.rb
  app/serializers/listable_topic_serializer.rb
  app/serializers/topic_view_serializer.rb
  app/services/topic_status_updater.rb
  config/locales/client.en.yml
  db/migrate/20240423013808_add_visibility_reason_id_to_topics.rb
  lib/post_action_creator.rb
  lib/tasks/javascript.rake
  lib/topics_bulk_action.rb
  spec/models/post_action_spec.rb
  spec/models/post_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/services/topic_status_updater_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: filterBy
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
Due: prettier, eslint-js

Revert "DEV: Convert topic-title to glimmer/gjs (#26775)" (#26794)
  app/assets/javascripts/discourse/app/components/topic-title.gjs
  app/assets/javascripts/discourse/app/components/topic-title.hbs
  app/assets/javascripts/discourse/app/components/topic-title.js
Due: prettier, eslint-js

DEV: Fix confusing comment (#26781)
  config/discourse_defaults.conf
Due: none

FEATURE: new admin sidebar for moderators (#26795)
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax

FIX: update duration & interval when input values updated.
  app/assets/javascripts/discourse/app/components/relative-time-picker.gjs
Due: none

DEV: Try fix flaky sidebar filter spec
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop

DEV: fix flaky admin_customize_themes spec
  spec/system/admin_customize_themes_spec.rb
Due: rubocop

DEV: fix flaky admin_customize_themes spec (#26798)
  spec/system/admin_customize_themes_spec.rb
Due: rubocop

DEV: Try fix flaky sidebar filter spec (#26797)
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop
