Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

DEV: revert message bus upgrade (#37697)
  Gemfile.lock
Due: none

FIX: preserve plugin data when moving posts
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/integration/post_mover_spec.rb
  plugins/discourse-calendar/plugin.rb
  plugins/discourse-calendar/spec/integration/post_mover_spec.rb
  plugins/discourse-policy/plugin.rb
  plugins/discourse-policy/spec/integration/post_mover_spec.rb
  plugins/discourse-post-voting/plugin.rb
  plugins/discourse-post-voting/spec/integration/post_mover_spec.rb
  plugins/discourse-reactions/plugin.rb
  plugins/discourse-reactions/spec/models/post_mover_spec.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-solved/spec/integration/post_mover_spec.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/integration/post_mover_spec.rb
Due: rubocop, syntax_tree

DEV: Follow up spec fix
  plugins/discourse-rewind/spec/actions/most_viewed_tags_spec.rb
Due: rubocop, syntax_tree

FIX: lean on markdown tokenization to find tables in editor (#37658)
  frontend/discourse/app/components/modal/spreadsheet-editor.gjs
  frontend/discourse/app/lib/utilities.js
  frontend/discourse/tests/unit/lib/utilities-test.js
Due: prettier, eslint, ember-template-lint

DEV: Remove dead code from about config area components
  frontend/discourse/admin/components/admin-config-area-cards/about/general-settings.gjs
  frontend/discourse/admin/components/admin-config-area-cards/about/your-organization.gjs
Due: prettier, eslint, ember-template-lint

FIX: Fix inconsistent route filtering in house ads initialization
  plugins/discourse-adplugin/assets/javascripts/discourse/components/house-ad.gjs
  plugins/discourse-adplugin/test/javascripts/acceptance/house-ad-test.js
Due: prettier, eslint, ember-template-lint

DEV: Do not allow inline JS in house ads'
  plugins/discourse-adplugin/app/models/ad_plugin/house_ad.rb
  plugins/discourse-adplugin/spec/models/house_ad_setting_spec.rb
  plugins/discourse-adplugin/spec/requests/house_ad_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Follow up spec fix (#37698)
  plugins/discourse-rewind/spec/actions/most_viewed_tags_spec.rb
Due: rubocop, syntax_tree

FIX: Add missing `display` arg to DButton type signature
  frontend/discourse/app/components/d-button.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove redundant code and fix page object selectors
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Don't decrement public_version when destroying hidden revision
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree

DEV: gracefully handle missing parameters
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_tools_controller.rb
  plugins/discourse-ai/spec/requests/admin/ai_tools_controller_spec.rb
Due: rubocop, syntax_tree

DEV: `redeliver_event` looks up `WebHookEvent` globally without scoping to a specific web_hook
  app/controllers/admin/web_hooks_controller.rb
  config/routes.rb
  spec/requests/admin/web_hooks_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Preserve explicit hidden state when depends_behavior is hidden
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree

DEV: gracefully handle missing parameters (#37705)
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_tools_controller.rb
  plugins/discourse-ai/spec/requests/admin/ai_tools_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Remove redundant code and fix page object selectors (#37703)
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/spec/system/page_objects/chat/components/messages.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Remove dead code from about config area components (#37699)
  frontend/discourse/admin/components/admin-config-area-cards/about/general-settings.gjs
  frontend/discourse/admin/components/admin-config-area-cards/about/your-organization.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Show localized tags
  app/controllers/tags_controller.rb
  app/models/tag.rb
  app/serializers/concerns/navigation_menu_tags_mixin.rb
  app/serializers/concerns/topic_tags_mixin.rb
  app/serializers/sidebar_tag_serializer.rb
  app/serializers/site_serializer.rb
  app/serializers/tag_serializer.rb
  lib/content_localization.rb
  lib/topic_query.rb
  lib/topic_view.rb
  spec/lib/content_localization_spec.rb
  spec/models/site_spec.rb
  spec/models/tag_spec.rb
  spec/serializers/tag_serializer_spec.rb
  spec/serializers/topic_list_item_serializer_spec.rb
  spec/serializers/topic_list_serializer_spec.rb
  spec/system/category_localizations_spec.rb
  spec/system/content_localization_spec.rb
Due: rubocop, syntax_tree

FEATURE: support target_user_ids for private messages
  lib/post_creator.rb
  lib/topic_creator.rb
  plugins/automation/app/jobs/scheduled/discourse_automation/tracker.rb
  plugins/automation/app/models/discourse_automation/pending_pm.rb
  plugins/automation/db/migrate/20260211051130_add_user_ids_to_pending_pms.rb
  plugins/automation/lib/discourse_automation/scriptable.rb
  plugins/automation/spec/jobs/scheduled/discourse_automation/tracker_spec.rb
  plugins/automation/spec/lib/scriptable_spec.rb
  plugins/automation/spec/scripts/send_pms_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/topic_creator_spec.rb
Due: rubocop, syntax_tree

FEATURE: enforce guardian permissions in AI tool runner
  plugins/discourse-ai/lib/personas/tool_runner.rb
  plugins/discourse-ai/spec/lib/personas/tool_runner_spec.rb
Due: rubocop, syntax_tree

FIX: Set `tagging_directive` to "REPLACE" in `S3Helper#copy`
  lib/s3_helper.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree

FIX: Preserve explicit hidden state when depends_behavior is hidden (#37707)
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree

FEATURE: allow marking solutions in group messages (#37635)
  plugins/discourse-solved/app/serializers/concerns/discourse_solved/topic_answer_mixin.rb
  plugins/discourse-solved/config/locales/server.en.yml
  plugins/discourse-solved/config/settings.yml
  plugins/discourse-solved/lib/discourse_solved/before_head_close.rb
  plugins/discourse-solved/lib/discourse_solved/guardian_extensions.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-solved/spec/lib/guardian_extensions_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Set `tagging_directive` to "REPLACE" in `S3Helper#copy` (#37710)
  lib/s3_helper.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree

I18N: Update translations
  config/locales/client.ur.yml
  config/locales/server.de.yml
Due: yaml-syntax

FEATURE: Add FormKit TagChooser control
  frontend/discourse/admin/components/admin-config-areas/webhooks-form.gjs
  frontend/discourse/admin/components/upsert-category/tags.gjs
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/tag-chooser.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/tag-chooser-test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-forms.gjs
  spec/system/admin_webhooks_spec.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/admin_webhooks.rb
  spec/system/simplified_category_creation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Rename FormKit TagChooser control args for clarity
  frontend/discourse/admin/components/admin-config-areas/webhooks-form.gjs
  frontend/discourse/admin/components/upsert-category/tags.gjs
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/tag-chooser.gjs
Due: prettier, eslint, ember-template-lint

DEV: loads post only once (#37692)
  plugins/discourse-policy/app/controllers/discourse_policy/policy_controller.rb
Due: rubocop, syntax_tree

FIX: correct Discourse.InvalidParameters usage (#37690)
  app/controllers/composer_controller.rb
  spec/requests/composer_controller_spec.rb
Due: rubocop, syntax_tree

I18N: Update translations (#37711)
  config/locales/client.ur.yml
  config/locales/server.de.yml
Due: yaml-syntax

FIX: Send notification emails for staff-coloured posts
  app/services/notification_emailer.rb
  app/services/post_alerter.rb
  spec/services/notification_emailer_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop, syntax_tree

DEV: Add missing `display` arg to DButton type signature (#37702)
  frontend/discourse/app/components/d-button.gjs
Due: prettier, eslint, ember-template-lint

DEV: Enable Pitchfork by default
  bin/rails
  config/unicorn_launcher
Due: none

FIX: Restore codeblock copy/fullscreen button visibility on hover
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, stylelint

FIX: Missing `guardian.ensure_can_see!(post)` in `translate` action
  plugins/discourse-ai/app/controllers/discourse_ai/translation/translation_controller.rb
  plugins/discourse-ai/spec/requests/translation/translation_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Add FormKit TagChooser control (#37680)
  frontend/discourse/admin/components/admin-config-areas/webhooks-form.gjs
  frontend/discourse/admin/components/upsert-category/tags.gjs
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/tag-chooser.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/tag-chooser-test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-forms.gjs
  spec/system/admin_webhooks_spec.rb
  spec/system/page_objects/components/form_kit.rb
  spec/system/page_objects/pages/admin_webhooks.rb
  spec/system/simplified_category_creation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Enable Pitchfork by default (#37679)
  bin/rails
  config/unicorn_launcher
Due: none

FIX: Restore codeblock copy/fullscreen button visibility on hover (#37713)
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, stylelint

FIX: `update` and `create_multiple` actions missing from `requires_login`
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop, syntax_tree
