Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

UX: Show shortcut for admin sidbar filter (#27258)
  app/assets/javascripts/discourse/app/components/sidebar/filter.gjs
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

wip
  app/assets/javascripts/form-kit/addon/components/form.gjs
  app/assets/javascripts/form-kit/addon/components/form/control/checkbox.gjs
  app/assets/javascripts/form-kit/addon/components/form/control/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/field.gjs
  app/assets/javascripts/form-kit/addon/components/form/fields/checkbox.gjs
  app/assets/javascripts/form-kit/addon/components/form/fields/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/fieldset.gjs
  app/assets/javascripts/form-kit/addon/components/form/text.gjs
  app/assets/stylesheets/common/forms/_form-check.scss
  app/assets/stylesheets/common/forms/_index.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
Due: none

FIX: allows listing messages of any thread
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
Due: rubocop

spec
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
Due: rubocop

FIX: allows listing messages of any thread (#27259)
  plugins/chat/app/controllers/chat/api/channel_thread_messages_controller.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
Due: rubocop

remove href attribute from poll builder nav buttons
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.hbs
Due: none

remove href attribute from buttons
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.hbs
Due: none

Update plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop

Linting
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop

FIX: Allow triggering Discobot when bookmarking the entire topic (#27255)
  plugins/discourse-narrative-bot/plugin.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
Due: rubocop

wip
  app/assets/javascripts/form-kit/addon/components/col.gjs
  app/assets/javascripts/form-kit/addon/components/form.gjs
  app/assets/javascripts/form-kit/addon/components/form/control/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/field.gjs
  app/assets/javascripts/form-kit/addon/components/form/fieldgroup.gjs
  app/assets/javascripts/form-kit/addon/components/form/fields/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/inline-row.gjs
  app/assets/stylesheets/common/forms/_form-check.scss
  app/assets/stylesheets/common/forms/_form-fieldgroup.scss
  app/assets/stylesheets/common/forms/_index.scss
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
  yarn.lock
Due: prettier, eslint-js

DEV: Plugin modifier application for About admins
  app/models/about.rb
Due: rubocop

breakout poll buttons dropdown into own component
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
Due: none

UX: adjust category badge size for new default font-size
  app/assets/stylesheets/common/components/badges.scss
Due: none

merge poll buttons dropdown component from glimmer only branch
  plugins/poll/assets/javascripts/discourse/components/poll-buttons-dropdown.gjs
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
Due: none

add spec
  spec/models/about_spec.rb
Due: rubocop

UX: adjust category badge size for new default font-size (#27262)
  app/assets/stylesheets/common/components/badges.scss
Due: none

FIX: Prevent crash importing topics on a tagged embeddable host (#27254)
  app/models/topic_embed.rb
  spec/models/topic_embed_spec.rb
Due: rubocop

DEV: Plugin modifier application for About admins (#27261)
  app/models/about.rb
  spec/models/about_spec.rb
Due: rubocop

UX: contain background for deleted small actions
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

UX: keep recent search items on same line as icon
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
Due: none

FIX: add comment to allow modifiers to identify notifications
  app/views/email/notification.html.erb
Due: none

UX: contain background for deleted small actions (#27263)
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

UX: keep recent search items on same line as icon (#27264)
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
Due: none

wip
  app/assets/javascripts/form-kit/addon/components/form.gjs
  app/assets/javascripts/form-kit/addon/components/form/control/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/field.gjs
  app/assets/javascripts/form-kit/addon/components/form/fieldgroup.gjs
  app/assets/javascripts/form-kit/addon/components/form/fields/input.gjs
  app/assets/javascripts/form-kit/addon/components/form/inline-row.gjs
  app/assets/javascripts/form-kit/addon/lib/field-data.js
  app/assets/stylesheets/common/forms/_form-col.scss
  app/assets/stylesheets/common/forms/_form-input.scss
  app/assets/stylesheets/common/forms/_form-row.scss
  app/assets/stylesheets/common/forms/_grid.scss
  app/assets/stylesheets/common/forms/_index.scss
  app/assets/stylesheets/common/forms/_variables.scss
  app/assets/stylesheets/common/forms/d-inputs.scss
  plugins/chat/assets/javascripts/discourse/connectors/my-form/test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
  plugins/styleguide/assets/javascripts/discourse/lib/dummy-data.js
Due: prettier, eslint-js

DEV: Attempt to fix flaky spec
  spec/system/login_spec.rb
Due: rubocop

DEV: Finish implementing group archive/move to inbox
  app/assets/javascripts/discourse/app/components/bulk-select-topics-dropdown.gjs
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/lib/bulk-select-helper.js
  app/assets/javascripts/discourse/tests/integration/components/bulk-select-topics-dropdown-test.js
  config/locales/client.en.yml
  spec/fabricators/topic_fabricator.rb
  spec/system/topic_bulk_select_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Test fixes
  app/assets/javascripts/discourse/tests/integration/components/bulk-select-topics-dropdown-test.js
Due: prettier, eslint-js

REVERT: UX: keep recent search items on same line as icon (#27264)
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
Due: none

linting
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
Due: none

add poll buttons dropdown component tests
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
  plugins/poll/test/javascripts/component/poll-buttons-dropdown-test.js
Due: prettier, eslint-js

merge in changes from irv branch
  plugins/poll/assets/javascripts/discourse/components/poll.gjs
Due: none

DEV: Avoid extra whitespace in rawRenderGlimmer
  app/assets/javascripts/discourse/app/components/render-glimmer-container.gjs
  app/assets/javascripts/discourse/tests/integration/helpers/raw-test.gjs
Due: none

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
  config/locales/client.ko.yml
  config/locales/server.he.yml
  config/locales/server.ko.yml
  config/locales/server.sk.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-narrative-bot/config/locales/server.he.yml
  plugins/poll/config/locales/server.he.yml
Due: yaml-syntax

refactor button action on poll voters component
  plugins/poll/assets/javascripts/discourse/components/poll-voters.gjs
Due: none

Update translations (#27275)
  config/locales/client.de.yml
  config/locales/client.he.yml
  config/locales/client.ko.yml
  config/locales/server.he.yml
  config/locales/server.ko.yml
  config/locales/server.sk.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-narrative-bot/config/locales/server.he.yml
  plugins/poll/config/locales/server.he.yml
Due: yaml-syntax

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
