Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn run ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Update translations (#28365)
  config/locales/client.nb_NO.yml
Due: yaml-syntax

FIX: Don't show blank space when there's no banner image
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  spec/system/about_page_spec.rb
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/uppy_image_uploader.rb
  spec/system/page_objects/pages/about.rb
Due: rubocop, syntax_tree

FIX: Don't show blank space when there's no banner image (#28366)
  app/assets/javascripts/admin/addon/components/admin-config-area-cards/about/general-settings.gjs
  app/assets/javascripts/discourse/app/components/about-page.gjs
  spec/system/about_page_spec.rb
  spec/system/admin_about_config_area_spec.rb
  spec/system/page_objects/components/uppy_image_uploader.rb
  spec/system/page_objects/pages/about.rb
Due: rubocop, syntax_tree

UX: Tweak styling for the new /about page
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/stylesheets/common/base/about.scss
  app/assets/stylesheets/common/base/faqs.scss
  spec/system/about_page_spec.rb
Due: rubocop, syntax_tree, prettier-scss

FIX: FormKit: Allow 0 in required number input
  app/assets/javascripts/discourse/app/form-kit/lib/validator.js
Due: prettier, eslint

add test
  app/assets/javascripts/discourse/tests/integration/components/form-kit/field-test.gjs
Due: none

DEV: Defer button actions
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
Due: prettier, eslint

review
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/input-number-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/input-text-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/field-test.gjs
Due: none

FIX: FormKit: Allow 0 in required number input (#28368)
  app/assets/javascripts/discourse/app/form-kit/lib/validator.js
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/input-number-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/input-text-test.gjs
Due: prettier, eslint

UX: Tweak styling for the new /about page (#28367)
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/stylesheets/common/base/about.scss
  app/assets/stylesheets/common/base/faqs.scss
  spec/system/about_page_spec.rb
Due: rubocop, syntax_tree, prettier-scss

DEV: Generate correct i18n keys for wizard radio choices
  app/serializers/wizard_field_choice_serializer.rb
Due: rubocop, syntax_tree

DEV: Generate correct i18n keys for wizard radio choices (#28370)
  app/serializers/wizard_field_choice_serializer.rb
Due: rubocop, syntax_tree

DEV: Add plugin outlet for below wizard field
  app/assets/javascripts/discourse/app/static/wizard/components/wizard-field.gjs
Due: none

DEV: Add plugin outlet for below wizard field (#28371)
  app/assets/javascripts/discourse/app/static/wizard/components/wizard-field.gjs
Due: none

UX: Only `scrollIntoView` if sidebar items are not already visible
  app/assets/javascripts/discourse/app/components/sidebar/section-link.gjs
Due: none

DEV: remove plugin_rake spec and updated plugin rake creation with `begin/rescue` block
  lib/tasks/plugin.rake
  spec/tasks/plugin_spec.rb
Due: rubocop, syntax_tree

FEATURE: bring plugin:create to core from `create-discourse-plugin` gem (#28350)
  lib/tasks/plugin.rake
Due: syntax_tree

DEV: remove create_post_for_category_and_tag_changes migration file
  db/migrate/20240812202410_remove_create_post_for_category_and_tag_changes.rb
Due: rubocop, syntax_tree

UX: Only `scrollIntoView` if sidebar items are not already visible (#28372)
  app/assets/javascripts/discourse/app/components/sidebar/section-link.gjs
Due: none

DEV: Removal of create_post_for_category_and_tag_changes setting (#28321)
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

spec check
  app/controllers/uploads_controller.rb
  app/models/upload.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Fix ordering of `freeze-valid-transformers`
  app/assets/javascripts/discourse/app/initializers/freeze-valid-transformers.js
Due: prettier, eslint

DEV: Fix ordering of `freeze-valid-transformers` (#28374)
  app/assets/javascripts/discourse/app/initializers/freeze-valid-transformers.js
Due: prettier, eslint

FEATURE: Allow completely custom score reasons.
  app/serializers/reviewable_score_serializer.rb
  spec/serializers/reviewable_score_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Accept new transformer names after resetting to a new test
  app/assets/javascripts/discourse/app/lib/transformer.js
Due: prettier, eslint

FEATURE: Allow completely custom score reasons. (#28348)
  app/serializers/reviewable_score_serializer.rb
  spec/serializers/reviewable_score_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Accept new transformer names after resetting to a new test (#28375)
  app/assets/javascripts/discourse/app/lib/transformer.js
Due: prettier, eslint

controller update
  app/controllers/uploads_controller.rb
Due: rubocop, syntax_tree

add max to system_user_max_attachment_size_kb
  app/controllers/uploads_controller.rb
  config/site_settings.yml
Due: rubocop, syntax_tree, yaml-syntax

DEV: add before-sidebar-sections outlet to dropdown mode too
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.gjs
Due: none

DEV: add before-sidebar-sections outlet to dropdown mode too (#28376)
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.gjs
Due: none

PERF: Reduce memory footprint of `Chat::AutoRemove::HandleCategoryUpdated.call`
  plugins/chat/app/services/chat/action/calculate_memberships_for_removal.rb
  plugins/chat/app/services/chat/auto_remove/handle_category_updated.rb
  plugins/chat/app/services/chat/auto_remove/handle_destroyed_group.rb
  plugins/chat/app/services/chat/auto_remove/handle_user_removed_from_group.rb
Due: rubocop, syntax_tree

get anonymizer specs passing and most UserPassword validations back in place
  app/models/user.rb
  app/models/user_password.rb
  spec/fabricators/user_password_fabricator.rb
  spec/models/user_password_spec.rb
Due: rubocop, syntax_tree

MVP: app-level dual writes of password data to User and UserPassword
  app/models/user.rb
  app/models/user_password.rb
  lib/validators/user_password_validator.rb
  spec/models/user_password_spec.rb
  spec/services/user_password_expirer_spec.rb
Due: rubocop, syntax_tree

fix validation for only one unexpired password per user to handle both writes from User#password= and normal UserPassword.create
  app/models/user.rb
  app/models/user_password.rb
  lib/validators/user_password_validator.rb
  spec/models/user_password_spec.rb
Due: rubocop, syntax_tree

remove setting user password by default on bot / system user fabricators
  app/models/user.rb
  db/fixtures/009_users.rb
  spec/fabricators/user_fabricator.rb
Due: rubocop, syntax_tree

reload user.passwords to check for unexpired passwords in db
  app/models/user.rb
  app/models/user_password.rb
Due: rubocop, syntax_tree

add details to error msg in validation to debug
  app/models/user_password.rb
  spec/models/user_password_spec.rb
Due: rubocop, syntax_tree

try without initializing password in the base fabricator
  spec/fabricators/user_fabricator.rb
Due: rubocop, syntax_tree

expire previous passwords of user from UserPassword before_save hook
  app/models/user.rb
  app/models/user_password.rb
  spec/fabricators/user_fabricator.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
