Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

Decrease sidebar width
  app/assets/stylesheets/common/foundation/variables.scss
Due: prettier, stylelint

UI: Make query bookmark button rounded
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/group/reports/show.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/group/reports/show.gjs
Due: prettier, eslint, ember-template-lint

DEV: add plugin outlet to Horizon topic card title
  themes/horizon/javascripts/discourse/components/card/high-context-topic-card.gjs
  themes/horizon/scss/topic-cards.scss
Due: prettier, eslint, ember-template-lint, stylelint

FEATURE: Ability to select posts in nested topic view
  app/assets/stylesheets/common/nested-view.scss
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/context-view.gjs
  frontend/discourse/app/components/nested/op.gjs
  frontend/discourse/app/components/nested/post-children.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/controllers/nested.js
  frontend/discourse/app/lib/process-node.js
  frontend/discourse/app/routes/nested.js
  frontend/discourse/app/routes/topic.js
  frontend/discourse/app/templates/nested.gjs
  frontend/discourse/tests/integration/components/nested/op-test.gjs
  frontend/discourse/tests/integration/components/nested/post-test.gjs
  frontend/discourse/tests/unit/controllers/nested-controller-read-posts-test.js
  frontend/discourse/tests/unit/lib/process-node-test.js
  frontend/discourse/tests/unit/routes/nested-test.js
Due: prettier, eslint, ember-template-lint, stylelint

lil styling
  app/assets/stylesheets/common/nested-view.scss
  frontend/discourse/app/templates/nested.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Fix d-workflows flakes
  plugins/discourse-workflows/spec/lib/discourse_workflows/expression_resolver_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/js_sandbox_spec.rb
Due: rubocop, syntax_tree

UI: Make query bookmark button rounded (#40609)
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/group/reports/show.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/templates/group/reports/show.gjs
Due: prettier, eslint, ember-template-lint

UX: fix overflow composer action-title (#40565)
  app/assets/stylesheets/common/base/compose.scss
Due: prettier, stylelint

DEV: Fix a chat drawer spec
  plugins/chat/spec/system/drawer_spec.rb
Due: rubocop, syntax_tree

fix tests... double register
  frontend/discourse/app/controllers/nested.js
Due: prettier, eslint

also hide the reaction button on hidden posts users can't see
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-actions-button.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-actions-summary.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/lib/hidden-post.js
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-post-test.js
Due: prettier, eslint, ember-template-lint

DEV: Fix a chat drawer spec (#40613)
  plugins/chat/spec/system/drawer_spec.rb
Due: rubocop, syntax_tree

DEV: Fix d-workflows flakes (#40612)
  plugins/discourse-workflows/spec/lib/discourse_workflows/expression_resolver_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/js_sandbox_spec.rb
Due: rubocop, syntax_tree

FEATURE: Ability to select posts in nested topic view (#40611)
  app/assets/stylesheets/common/nested-view.scss
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/context-view.gjs
  frontend/discourse/app/components/nested/op.gjs
  frontend/discourse/app/components/nested/post-children.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/controllers/nested.js
  frontend/discourse/app/lib/process-node.js
  frontend/discourse/app/routes/nested.js
  frontend/discourse/app/routes/topic.js
  frontend/discourse/app/templates/nested.gjs
  frontend/discourse/tests/integration/components/nested/op-test.gjs
  frontend/discourse/tests/integration/components/nested/post-test.gjs
  frontend/discourse/tests/unit/controllers/nested-controller-read-posts-test.js
  frontend/discourse/tests/unit/lib/process-node-test.js
  frontend/discourse/tests/unit/routes/nested-test.js
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Attempt to fix tag group spec flakes
  spec/system/page_objects/pages/admin_tag_groups.rb
Due: rubocop, syntax_tree

FEATURE: Localize internal topic oneboxes in the reader's language
  app/jobs/regular/process_localized_cooked.rb
  app/models/concerns/localizable.rb
  app/models/post.rb
  app/serializers/post_serializer.rb
  frontend/discourse/app/components/post/cooked-html.gjs
  frontend/discourse/app/lib/post-cooked-html-decorators/localized-oneboxes.js
  frontend/discourse/app/models/post.js
  frontend/discourse/tests/integration/components/post/cooked-html-test.gjs
  lib/content_localization/onebox_localizer.rb
  lib/cooked_processor_mixin.rb
  lib/localized_cooked_post_processor.rb
  lib/oneboxer.rb
  lib/topic_view.rb
  spec/jobs/process_localized_cooked_spec.rb
  spec/lib/content_localization/onebox_localizer_spec.rb
  spec/lib/localized_cooked_post_processor_spec.rb
  spec/lib/oneboxer_spec.rb
  spec/lib/topic_view_spec.rb
  spec/models/post_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/post_serializer_spec.rb
  spec/system/localized_internal_oneboxes_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Don't lose focus when pressing key up and -down in composer emoji picker (#40052)
  frontend/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
  spec/system/composer/prosemirror_autocomplete_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: discourse-wireframe — column resize handles and content-aware grid sizing
  frontend/discourse/app/blocks/builtin/layout.gjs
  frontend/discourse/app/blocks/index.js
  frontend/discourse/app/lib/blocks/-internals/grid-placement.js
  frontend/discourse/app/lib/blocks/index.js
  frontend/discourse/tests/unit/lib/blocks/grid-placement-test.js
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/components/editor/block-chrome.gjs
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/components/editor/grid-overlay.gjs
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/components/editor/inspector-layout-form.gjs
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/lib/grid-templates.js
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/modifiers/container-drop-target.js
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/modifiers/grid-track-resize.js
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/services/wireframe.js
  plugins/discourse-wireframe/assets/javascripts/discourse/lib/grid-math.js
  plugins/discourse-wireframe/assets/stylesheets/admin/wireframe-chrome.scss
  plugins/discourse-wireframe/config/locales/client.en.yml
  plugins/discourse-wireframe/test/javascripts/unit/components/editor/inspector-outlet-test.gjs
  plugins/discourse-wireframe/test/javascripts/unit/lib/grid-math-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: discourse-wireframe — proportional column resize (hold Alt)
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/components/editor/grid-overlay.gjs
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/modifiers/grid-track-resize.js
  plugins/discourse-wireframe/assets/javascripts/discourse/lib/grid-math.js
  plugins/discourse-wireframe/config/locales/client.en.yml
  plugins/discourse-wireframe/test/javascripts/unit/lib/grid-math-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: Add subcategory option to stale topic workflow trigger
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/property-engine.js
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/node_data.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_issues.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/post_created/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/stale_topic/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_created/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/stale_topic_spec.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/property-engine-test.gjs
  plugins/discourse-workflows/test/javascripts/unit/lib/workflows-property-engine-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

spec update
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop, syntax_tree

added suggested changes
  app/assets/stylesheets/admin/admin_new_category_setup.scss
  app/services/categories/types/base.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/category-type-cards.gjs
  frontend/discourse/app/lib/category-type-utils.js
  spec/services/categories/types/base_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FEATURE: JMEsPath based group/role assigning for Discourse Connect and OAuth/SAML authentication methods
  Gemfile
  Gemfile.lock
  app/models/discourse_connect.rb
  config/site_settings.yml
  lib/auth.rb
  lib/auth/jmes_path_group_extractor.rb
  lib/auth/jmespath_group_mapping_rules_schema.rb
  lib/auth/managed_authenticator.rb
  spec/lib/auth/jmes_path_group_extractor_discourse_connect_spec.rb
  spec/lib/auth/jmes_path_group_extractor_spec.rb
  spec/support/discourse_connect_support_helpers.rb
  spec/system/jmespath_discourse_connect_group_mapping_spec.rb
  spec/system/jmespath_oauth_group_mapping_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

fix test
  lib/auth/jmes_path_group_extractor.rb
  lib/auth/result.rb
  spec/support/discourse_connect_support_helpers.rb
  spec/support/omniauth_helpers.rb
  spec/system/jmespath_discourse_connect_group_mapping_spec.rb
  spec/system/jmespath_oauth_group_mapping_spec.rb
  spec/system/social_authentication_spec.rb
Due: rubocop, syntax_tree

fixing schema for JmespathGroupMappingRulesSchema
  lib/auth/jmespath_group_mapping_rules_schema.rb
Due: rubocop, syntax_tree

added testing for regression of already in place group adding logic for discourse connect and Oauth/SAML, fixed test
  spec/lib/auth/jmes_path_group_extractor_discourse_connect_spec.rb
  spec/system/jmespath_discourse_connect_group_mapping_spec.rb
  spec/system/jmespath_oauth_group_mapping_spec.rb
Due: rubocop, syntax_tree

fix tests
  spec/system/jmespath_oauth_group_mapping_spec.rb
  spec/system/social_authentication_spec.rb
Due: rubocop, syntax_tree

Moving JMES implementation to a plugin
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  Gemfile
  Gemfile.lock
  app/models/discourse_connect.rb
  config/site_settings.yml
  lib/auth.rb
  lib/auth/jmes_path_group_extractor.rb
  lib/auth/jmespath_group_mapping_rules_schema.rb
  lib/auth/managed_authenticator.rb
  lib/auth/result.rb
  spec/lib/auth/google_oauth2_authenticator_spec.rb
  spec/lib/auth/jmes_path_group_extractor_discourse_connect_spec.rb
  spec/lib/auth/jmes_path_group_extractor_spec.rb
  spec/lib/auth/result_spec.rb
  spec/system/jmespath_discourse_connect_group_mapping_spec.rb
  spec/system/jmespath_oauth_group_mapping_spec.rb
  spec/system/page_objects/pages/group.rb
  spec/system/page_objects/pages/header.rb
  spec/system/plugin_auth_group_mapping_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

fix tests
  spec/system/jmespath_oauth_group_mapping_spec.rb
Due: rubocop, syntax_tree

fix test
  spec/system/jmespath_oauth_group_mapping_spec.rb
Due: rubocop, syntax_tree

Normalize Gemfile.lock checksums [dependabot skip]
  Gemfile.lock
Due: none

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

FIX: focus OTP input after render
  frontend/discourse/app/ui-kit/d-otp/index.gjs
  frontend/discourse/tests/acceptance/second-factor-auth-test.js
  frontend/discourse/tests/integration/ui-kit/d-otp-test.gjs
Due: prettier, eslint, ember-template-lint

FIX: render links in upcoming changes text
  frontend/discourse/admin/components/admin-config-areas/upcoming-change-item.gjs
  frontend/discourse/tests/integration/components/admin-config-areas/upcoming-change-item-test.gjs
Due: prettier, eslint, ember-template-lint

remove dead link
  plugins/discourse-calendar/config/locales/server.en.yml
  plugins/discourse-solved/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Validate and centralize grid drop rules behind one decider
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/components/editor/grid-overlay.gjs
  plugins/discourse-wireframe/admin/assets/javascripts/discourse/services/wireframe.js
  plugins/discourse-wireframe/assets/javascripts/discourse/lib/grid-drop.js
  plugins/discourse-wireframe/assets/javascripts/discourse/lib/grid-math.js
  plugins/discourse-wireframe/test/javascripts/unit/lib/grid-drop-test.js
  plugins/discourse-wireframe/test/javascripts/unit/lib/grid-math-test.js
  plugins/discourse-wireframe/test/javascripts/unit/services/wireframe-test.gjs
Due: prettier, eslint, ember-template-lint

UX: Add horizon site skeleton
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/horizon-site-skeleton.scss
  frontend/discourse/app/components/horizon-site-skeleton.gjs
  frontend/discourse/app/ui-kit-shims.js
Due: prettier, eslint, ember-template-lint, stylelint

fix
  frontend/discourse/tests/integration/components/admin-config-areas/upcoming-change-item-test.gjs
Due: prettier, eslint, ember-template-lint

TEST: Add change source tests
  frontend/discourse/tests/acceptance/themes-test.js
Due: prettier, eslint

TEMP: revert fix to verify tests catch regression
  frontend/discourse/admin/components/modal/change-theme-source.gjs
Due: prettier, eslint, ember-template-lint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
