Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Jump to reply button in post stream was not working (#14123)
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

DEV: Use named parameters for dir-span helper (#14195)
  app/assets/javascripts/discourse/app/helpers/dir-span.js
  app/assets/javascripts/discourse/app/templates/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/templates/components/sub-category-row.hbs
  app/assets/javascripts/discourse/app/templates/list/topic-excerpt.hbr
  app/assets/javascripts/discourse/app/templates/navigation/category.hbs
  app/assets/javascripts/select-kit/addon/templates/components/category-row.hbs
Due: prettier, eslint-js

Update spec/requests/groups_controller_spec.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

`default_notification_level` won't be updated to existing users with custom notification level.
  spec/requests/groups_controller_spec.rb
Due: rubocop

FEATURE: option to update default notification level of existing users. (#14084)
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop

DEV: prevents _lastKeyTimeout to leak after component lifecycle (#14194)
  app/assets/javascripts/discourse/app/components/composer-body.js
Due: prettier, eslint-js

UX: Select-kit update alignment fixes
  app/assets/stylesheets/common/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/common/select-kit/period-chooser.scss
  app/assets/stylesheets/common/select-kit/user-notifications-dropdown.scss
  app/assets/stylesheets/mobile/user.scss
Due: none

UX: Select-kit update alignment fixes (#14199)
  app/assets/stylesheets/common/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/common/select-kit/period-chooser.scss
  app/assets/stylesheets/common/select-kit/user-notifications-dropdown.scss
  app/assets/stylesheets/mobile/user.scss
Due: none

UX: Comma separate public custom field lists
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/user-card.scss
Due: none

Update app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
Due: none

A11Y: Add "skip to main content" link (#14190)
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/stylesheets/common/base/discourse.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

comment fix
  app/assets/javascripts/discourse/app/templates/user.hbs
Due: none

UX: Comma separate public custom field lists (#14200)
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/user-card.scss
Due: none

DEV: Extract textarea text manipulation to mixin
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
Due: prettier, eslint-js

more
  app/assets/javascripts/discourse/app/components/d-editor.js
Due: prettier, eslint-js

DEV: Extract textarea text manipulation to mixin (#14201)
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
Due: prettier, eslint-js

FIX: Announce title of signup modal without modal.title
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/lib/show-modal.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/modal.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
Due: prettier, eslint-js

FIX: Use named params correctly with dir-span
  app/assets/javascripts/discourse/app/helpers/dir-span.js
  app/assets/javascripts/discourse/app/templates/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/templates/components/sub-category-row.hbs
  app/assets/javascripts/discourse/app/templates/list/topic-excerpt.hbr
  app/assets/javascripts/discourse/app/templates/navigation/category.hbs
  app/assets/javascripts/select-kit/addon/templates/components/category-row.hbs
Due: prettier, eslint-js

FIX: Make sure signup input fields have aria-describedby validation
  app/assets/javascripts/discourse/app/controllers/create-account.js
  app/assets/javascripts/discourse/app/initializers/ember-input-component-extension.js
  app/assets/javascripts/discourse/app/mixins/name-validation.js
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  app/assets/javascripts/discourse/app/mixins/username-validation.js
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
Due: prettier, eslint-js

FIX: Make modal-alert an aria-live region
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/templates/components/d-modal.hbs
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/desktop/login.scss
Due: prettier, eslint-js

FIX: Move the social login buttons to the right
  app/assets/javascripts/discourse/app/templates/modal/create-account.hbs
Due: none

FIX: Introduce a11y_title for social login buttons
  app/assets/javascripts/discourse/app/models/login-method.js
  app/assets/javascripts/discourse/app/templates/components/login-buttons.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Fix test
  app/assets/javascripts/discourse/tests/acceptance/create-account-user-fields-test.js
Due: prettier, eslint-js

FIX: increase chunk size to fetch title tag correctly
  lib/retrieve_title.rb
  spec/components/retrieve_title_spec.rb
Due: rubocop

DEV: Don't clear sidekiq default error handlers in development.
  config/initializers/100-sidekiq.rb
Due: rubocop

DEV: cards were leaking mousedown event listener
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

better code grouping
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

DEV: cards were leaking mousedown event listener (#14206)
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

DEV: prevents hooks to create leaks on widgets
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/widgets/glue.js
Due: prettier, eslint-js

DEV: prevents hooks to create leaks on widgets (#14207)
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/widgets/glue.js
Due: prettier, eslint-js

FIX: Use named params correctly with dir-span (#14203)
  app/assets/javascripts/discourse/app/helpers/dir-span.js
  app/assets/javascripts/discourse/app/templates/components/parent-category-row.hbs
  app/assets/javascripts/discourse/app/templates/components/sub-category-row.hbs
  app/assets/javascripts/discourse/app/templates/list/topic-excerpt.hbr
  app/assets/javascripts/discourse/app/templates/navigation/category.hbs
  app/assets/javascripts/select-kit/addon/templates/components/category-row.hbs
Due: prettier, eslint-js

FEATURE: Enable auto dark mode on new instances
  db/fixtures/600_themes.rb
  lib/wizard/builder.rb
  spec/components/wizard/step_updater_spec.rb
Due: rubocop

DEV: Allow passing cook_method to TopicEmbed.import to override default
  app/models/topic_embed.rb
  spec/models/topic_embed_spec.rb
Due: rubocop

Version bump to v2.8.0.beta5
  lib/version.rb
Due: rubocop

FIX: Visible "skip navigation" link on some themes
  app/assets/stylesheets/common/base/discourse.scss
Due: none

FIX: Visible "skip navigation" link on some themes (#14211)
  app/assets/stylesheets/common/base/discourse.scss
Due: none

DEV: removes leaking afterTransition on card
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
