Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Update plugins/chat/assets/javascripts/discourse/components/chat/navbar/actions.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/actions.gjs
Due: none

DEV: add `topicProgressExpanded` arg to `topic-navigation` outlet
  app/assets/javascripts/discourse/app/templates/topic.hbs
Due: none

DEV: add `topicProgressExpanded` arg to `topic-navigation` outlet (#25231)
  app/assets/javascripts/discourse/app/templates/topic.hbs
Due: none

A11Y: Allow keyboard users to scroll help modal (#25226)
  app/assets/javascripts/discourse/app/components/modal/keyboard-shortcuts-help.hbs
Due: none

Update and validate member count
  plugins/chat/app/serializers/chat/chatable_group_serializer.rb
  plugins/chat/app/services/chat/search_chatable.rb
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/add-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members-count.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/members-selector.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/new-group.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/user.gjs
  plugins/chat/assets/stylesheets/common/chat-message-creator.scss
  plugins/chat/config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

Fix linting
  plugins/chat/assets/javascripts/discourse/components/chat/message-creator/list.gjs
Due: none

DEV: Add apply_modifier in Email::Renderer for document modifications
  lib/email/renderer.rb
Due: rubocop

spec
  spec/lib/email/renderer_spec.rb
Due: rubocop

DEV: remove `:has` selector from composer
  app/assets/stylesheets/common/base/compose.scss
Due: none

DEV: remove `:has` selector from composer (#25233)
  app/assets/stylesheets/common/base/compose.scss
Due: none

DEV: Review fixes
  app/assets/javascripts/discourse/app/instance-initializers/admin-sidebar.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: Compile theme migrations javascript files when running theme qunit
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/models/theme_spec.rb
  spec/requests/theme_javascripts_controller_spec.rb
Due: rubocop

DEV: Fix circular import dependency on user topic list route
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/routes/user-topic-list.js
Due: prettier, eslint-js

FIX: Admin sidebar fixes and custom link registration (#25200)
  app/assets/javascripts/admin/addon/components/admin-config-area-sidebar-experiment.js
  app/assets/javascripts/admin/addon/templates/admin.hbs
  app/assets/javascripts/discourse/app/instance-initializers/admin-sidebar.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint-js

DEV: Fix circular import dependency on user topic list route (#25234)
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/routes/user-topic-list.js
Due: prettier, eslint-js

FIX: Enforce proper max for clean_orphan_uploads_grace_period_hours
  config/site_settings.yml
  db/migrate/20240112021335_set_max_clean_orphan_uploads_grace_period_hours.rb
Due: rubocop, yaml-syntax

Cast
  db/migrate/20240112021335_set_max_clean_orphan_uploads_grace_period_hours.rb
Due: rubocop

Set clean_orphan_uploads_grace_period_hours to max allowed
  script/import_scripts/base.rb
Due: rubocop

update userThreadCount and catch errors
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
Due: none

FIX: Admin sidebar on mobile was still showing forum panel
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.js
  spec/system/admin_revamp_sidebar_navigation_spec.rb
Due: rubocop, prettier, eslint-js

pr feedback
  plugins/chat/assets/javascripts/discourse/components/chat-footer.gjs
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
  plugins/chat/spec/system/chat_footer_spec.rb
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Due: rubocop

DEV: Add more debugging information to AR query logs on GitHub actions
  app/models/user_auth_token.rb
  config/environments/test.rb
Due: rubocop

FIX: Admin sidebar on mobile was still showing forum panel (#25236)
  app/assets/javascripts/discourse/app/components/sidebar.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.hbs
  app/assets/javascripts/discourse/app/components/sidebar/hamburger-dropdown.js
  spec/system/admin_revamp_sidebar_navigation_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Add more debugging information to AR query logs on GitHub actions (#25237)
  app/models/user_auth_token.rb
  config/environments/test.rb
Due: rubocop

remove scrollbar logic from dm and channel list components, remove plus icon on dm list
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
Due: none

update tests
  plugins/chat/spec/system/list_channels/mobile_spec.rb
Due: rubocop

DEV: Move min_trust_to_post_embedded_media to group setting
  config/locales/server.en.yml
  config/site_settings.yml
  db/post_migrate/20240112043325_fill_embedded_media_post_allowed_groups_based_on_deprecated_setting.rb
  lib/site_settings/deprecated_settings.rb
  lib/validators/post_validator.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/lib/validators/post_validator_spec.rb
  spec/models/post_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Test fix
  config/locales/server.en.yml
  lib/validators/post_validator.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
  spec/lib/backup_restore/uploads_restorer_spec.rb
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Ensure consistent `datePublished` on follow-up pages in topic microdata schema (#25130)
  app/views/topics/show.html.erb
Due: none

FIX: exclude empty posts from microdata schema for topic (#25198)
  app/views/topics/show.html.erb
Due: none

remove services from list components
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
Due: none

FIX: set microdata schema for topic on missing first post (#25195)
  app/views/topics/show.html.erb
Due: none

UX: change chat back button to btn-transparent (#25184)
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/back-button.gjs
Due: none

Scope navbar padding reset to desktop
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
Due: none

Scope navbar padding reset to desktop
  plugins/chat/assets/stylesheets/desktop/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
Due: none

Increase size of chat header offset + increase spacing of back button
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-header.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
Due: none

UX: chat header size and alignments (#25239)
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/chat-navbar.scss
  plugins/chat/assets/stylesheets/desktop/index.scss
  plugins/chat/assets/stylesheets/mobile/base-mobile.scss
  plugins/chat/assets/stylesheets/mobile/chat-header.scss
  plugins/chat/assets/stylesheets/mobile/chat-navbar.scss
Due: none

UX: remove regression for lock icon in channel title
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
Due: none

UX: remove lock icon positioning
  plugins/chat/assets/stylesheets/common/chat-channel-title.scss
Due: none

Update method docs
  plugins/chat/assets/javascripts/discourse/services/chat.js
Due: prettier, eslint-js
