Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: use `references` to join the table which already included.
  app/controllers/directory_items_controller.rb
  spec/requests/directory_items_controller_spec.rb
Due: rubocop

FIX: Do not increase invite count for current user
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

DEV: Update Discord API domain
  lib/auth/discord_authenticator.rb
Due: rubocop

DEV: Update Discord API domain (#15953)
  lib/auth/discord_authenticator.rb
Due: rubocop

Fix bug regarding Chat on stable
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
Due: prettier, eslint-js

PERF: Use Redis `SET EX GET` instead of LUA script for counting (#15939)
  app/models/concerns/cached_counting.rb
  config/initializers/001-redis.rb
  spec/models/application_request_spec.rb
  spec/models/web_crawler_request_spec.rb
Due: rubocop

cleanup state in after hook
  spec/lib/second_factor/actions/grant_admin_spec.rb
Due: rubocop

remove unneeded assertions for a helper request
  spec/requests/session_controller_spec.rb
Due: rubocop

test description copy update
  spec/requests/session_controller_spec.rb
Due: rubocop

rename u -> user
  spec/lib/second_factor/actions/grant_admin_spec.rb
Due: rubocop

Optional import of custom user fields from phpBB 3.1+
  script/import_scripts/phpbb3/database/database_3_0.rb
  script/import_scripts/phpbb3/database/database_3_1.rb
  script/import_scripts/phpbb3/importer.rb
  script/import_scripts/phpbb3/importers/user_importer.rb
  script/import_scripts/phpbb3/settings.yml
  script/import_scripts/phpbb3/support/settings.rb
Due: rubocop, yaml-syntax

change actions base class initialize sig
  app/controllers/application_controller.rb
  lib/second_factor/actions/base.rb
  spec/lib/second_factor/actions/grant_admin_spec.rb
Due: rubocop

FIX: Tag show - hide no topics footer until there are no topics (#15756)
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/templates/tags/show.hbs
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
Due: prettier, eslint-js

Optional import of likes from phpBB3
  script/import_scripts/base.rb
  script/import_scripts/phpbb3/database/database_3_0.rb
  script/import_scripts/phpbb3/settings.yml
  script/import_scripts/phpbb3/support/settings.rb
Due: rubocop, yaml-syntax

Fix import of bookmarks from phpBB3
  script/import_scripts/phpbb3/database/database_3_0.rb
Due: rubocop

Update `created_at` of existing user
  script/import_scripts/base.rb
Due: rubocop

FIX: Redis may not be availiable on Redis initializer
  config/initializers/001-redis.rb
Due: rubocop

change auth manager initialize sig
  app/controllers/application_controller.rb
  lib/second_factor/auth_manager.rb
  spec/lib/second_factor/auth_manager_spec.rb
Due: rubocop

use constant in tests
  spec/lib/second_factor/auth_manager_spec.rb
  spec/requests/session_controller_spec.rb
Due: rubocop

DEV: Update min Redis version on readme.md
  README.md
Due: none

Update config/initializers/001-redis.rb
  config/initializers/001-redis.rb
Due: rubocop

DEV: Consolidate Redis evalsha logic into DiscourseRedis::EvalHelper
  lib/discourse_redis.rb
  lib/middleware/anonymous_cache.rb
  lib/presence_channel.rb
  lib/rate_limiter.rb
  spec/components/discourse_redis_spec.rb
Due: rubocop

FIX: Redis may not be availiable on Redis initializer (#15955)
  README.md
  config/initializers/001-redis.rb
Due: rubocop

FIX: Do not increase invite count for current user (#15952)
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

Support mapping of phpBB forums to existing Discourse categories
  script/import_scripts/phpbb3/importer.rb
  script/import_scripts/phpbb3/importers/category_importer.rb
  script/import_scripts/phpbb3/importers/post_importer.rb
  script/import_scripts/phpbb3/settings.yml
  script/import_scripts/phpbb3/support/settings.rb
Due: rubocop, yaml-syntax

DEV: Consolidate Redis evalsha logic into DiscourseRedis::EvalHelper (#15957)
  lib/discourse_redis.rb
  lib/middleware/anonymous_cache.rb
  lib/presence_channel.rb
  lib/rate_limiter.rb
  spec/components/discourse_redis_spec.rb
Due: rubocop

PERF: Reduce number of EXPIRE calls from CachedCounting
  app/models/concerns/cached_counting.rb
  spec/models/application_request_spec.rb
  spec/models/web_crawler_request_spec.rb
Due: rubocop

PERF: Reduce number of EXPIRE calls from CachedCounting (#15958)
  app/models/concerns/cached_counting.rb
  spec/models/application_request_spec.rb
  spec/models/web_crawler_request_spec.rb
Due: rubocop

FEATURE: Show error if invite to topic is invalid
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/controllers/invites_controller.rb
  app/models/invite.rb
  app/serializers/invite_serializer.rb
  config/locales/server.en.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Fix `#multi` deprecation
  app/models/site.rb
  app/services/random_topic_selector.rb
  lib/distributed_memoizer.rb
  lib/distributed_mutex.rb
  lib/tasks/redis.rake
Due: rubocop

Update redis
  Gemfile.lock
Due: none

Replace `Redis#synchronize`
  lib/distributed_mutex.rb
Due: rubocop

Fix `#pipelined` deprecation
  lib/redis_snapshot.rb
Due: rubocop

wip
  lib/discourse_redis.rb
  lib/distributed_mutex.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
Due: rubocop

Use a separate Monitor for `lock` stuff
  lib/distributed_mutex.rb
Due: rubocop

Revert "Update redis"
  Gemfile.lock
Due: none

x
  lib/discourse_redis.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
