Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Fix typos in a chat service tests
  plugins/chat/test/javascripts/unit/services/chat-channel-info-route-origin-manager-test.js
Due: prettier, eslint-js

FIX: wait for the end of search requests
  app/assets/javascripts/select-kit/addon/components/multi-select.hbs
  app/assets/javascripts/select-kit/addon/components/single-select.hbs
Due: none

DEV: Fix typos in a chat service tests (#26239)
  plugins/chat/test/javascripts/unit/services/chat-channel-info-route-origin-manager-test.js
Due: prettier, eslint-js

FIX: wait for the end of search requests (#26240)
  app/assets/javascripts/select-kit/addon/components/multi-select.hbs
  app/assets/javascripts/select-kit/addon/components/single-select.hbs
Due: none

PERF: Fix N+1 when loading categories with custom fields
  app/controllers/categories_controller.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop

PERF: Fix N+1 when loading categories with custom fields (#26241)
  app/controllers/categories_controller.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop

Update translations
  config/locales/client.cs.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ro.yml
  config/locales/server.de.yml
  config/locales/server.he.yml
  config/locales/server.pl_PL.yml
  config/locales/server.ro.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  plugins/chat/config/locales/client.ro.yml
Due: yaml-syntax

Update translations (#26243)
  config/locales/client.cs.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ro.yml
  config/locales/server.de.yml
  config/locales/server.he.yml
  config/locales/server.pl_PL.yml
  config/locales/server.ro.yml
  config/locales/server.sv.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  plugins/chat/config/locales/client.ro.yml
Due: yaml-syntax

FIX: Ensure custom composer button 'condition' is run correctly
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint-js

FEATURE: Redesign keyboard shortcut modal (#26236)
  app/assets/stylesheets/common/components/keyboard_shortcuts.scss
Due: none

use other reply button for readability
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint-js

FIX: Ensure custom composer button 'condition' is run correctly (#26245)
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
Due: prettier, eslint-js

UX: Add chevron icons for expanding and collapsing all toggles in the admin sidebar
  lib/svg_sprite.rb
  vendor/assets/svg-icons/discourse-additional.svg
Due: rubocop

DEV: Remove href/auto-route attrs from buttons
  app/assets/javascripts/discourse/app/components/glimmer-header/dropdown.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-dropdown.gjs
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

DEV: Enable lazy_load_categories in tests
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
Due: none

DEV: Add pretenders for new category endpoints
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

UX: Fix "flash" when search results loading
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
Due: none

Update loading condition
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
Due: none

Move div inside loading section
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
Due: none

apply pr feedback
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
Due: prettier, eslint-js

FIX: "Flash" when loading search results (#26249)
  app/assets/javascripts/discourse/app/components/search-menu/results.hbs
Due: none

DEV: Remove href/auto-route attrs from buttons (#26247)
  app/assets/javascripts/discourse/app/components/glimmer-header/dropdown.gjs
  app/assets/javascripts/discourse/app/components/glimmer-header/user-dropdown.gjs
  app/assets/javascripts/discourse/app/widgets/header.js
Due: prettier, eslint-js

FIX: Do not lose admin sidebar when opening chat drawer (#26235)
  app/assets/javascripts/admin/addon/routes/admin-revamp.js
  app/assets/javascripts/admin/addon/routes/admin.js
  app/assets/javascripts/admin/addon/services/admin-sidebar-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop, prettier, eslint-js

FIX: missing IST KST and JST timezones in cooked posts
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js
  plugins/discourse-local-dates/spec/integration/local_dates_spec.rb
Due: rubocop, prettier, eslint-js

FIX: missing IST KST and JST timezones in cooked posts (#26252)
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js
  plugins/discourse-local-dates/spec/integration/local_dates_spec.rb
Due: rubocop, prettier, eslint-js

FIX: remove "fake" mentions from extract_mentions
  lib/pretty_text.rb
  spec/lib/pretty_text_spec.rb
Due: rubocop

DEV: Promote block problem checks to ProblemCheck (#26193)
  app/models/admin_dashboard_data.rb
  app/models/problem_check.rb
  app/services/problem_check/sidekiq_check.rb
  spec/models/admin_dashboard_data_spec.rb
  spec/services/problem_check/sidekiq_check_spec.rb
Due: rubocop

FEATURE: More flexible admin plugin config nav definition
  app/assets/javascripts/admin/addon/components/admin-plugin-config-area.gjs
  app/assets/javascripts/admin/addon/components/admin-plugin-config-page.gjs
  app/assets/javascripts/admin/addon/controllers/admin-plugins.js
  app/assets/javascripts/admin/addon/models/admin-plugin.js
  app/assets/javascripts/admin/addon/routes/admin-plugins-show.js
  app/assets/javascripts/admin/addon/services/admin-plugin-config-nav-manager.js
  app/assets/javascripts/admin/addon/templates/plugins-index.hbs
  app/assets/javascripts/admin/addon/templates/plugins.hbs
  app/assets/javascripts/discourse/app/lib/admin-plugin-config-nav.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/stylesheets/common/admin/plugins.scss
  app/serializers/admin_plugin_serializer.rb
  lib/plugin/instance.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop, prettier, eslint-js

simplify code
  lib/pretty_text.rb
Due: rubocop

FIX: remove "fake" mentions from extract_mentions (#26253)
  lib/pretty_text.rb
  spec/lib/pretty_text_spec.rb
Due: rubocop

FIX: Add missing chat message illegal flag text
  plugins/chat/config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: remove page after code review
  app/assets/javascripts/admin/addon/routes/admin-reports-index.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/reports-index.hbs
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  config/routes.rb
Due: rubocop, prettier, eslint-js

DEV: Test fix and add plugin API changelog entry
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-plugin-config-area-test.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint-js

FEATURE: Buttons to add and remove objects for schema theme settings
  app/assets/javascripts/admin/addon/components/schema-theme-setting/editor.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-schema-theme-setting/editor-test.gjs
  app/assets/stylesheets/common/admin/schema_theme_setting_editor.scss
Due: none

FEATURE: separate admin page for whats new and reports (#26216)
  app/assets/javascripts/admin/addon/components/admin-reports.gjs
  app/assets/javascripts/admin/addon/routes/admin-reports-index.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/reports-index.hbs
  app/assets/javascripts/admin/addon/templates/whats-new.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/assets/javascripts/discourse/tests/acceptance/admin-sidebar-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/dashboard-test.js
  app/assets/javascripts/discourse/tests/acceptance/reports-test.js
  app/assets/stylesheets/common/admin/admin_report.scss
  app/assets/stylesheets/common/admin/dashboard.scss
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

update serializer for user_can_chat and add tests
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Due: rubocop

FIX: hide chat btn from user card when chat disabled
  plugins/chat/plugin.rb
  plugins/chat/spec/plugin_spec.rb
Due: rubocop

FIX: Add missing chat message illegal flag text (#26255)
  plugins/chat/config/locales/client.en.yml
Due: yaml-syntax, i18n-lint
