Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

DEV: Add a supported digest content modifier (#44370)
  app/mailers/user_notifications.rb
  spec/jobs/user_email_spec.rb
  spec/mailers/user_notifications_spec.rb
Due: rubocop, syntax_tree

DEV: Extract reusable query generation and extend AI tool discovery (#44295)
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/spec/models/reviewable_ai_tool_action_spec.rb
  plugins/discourse-data-explorer/app/jobs/regular/generate_de_query_with_ai.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/query_generation.rb
  plugins/discourse-data-explorer/plugin.rb
  plugins/discourse-data-explorer/spec/jobs/regular/generate_de_query_with_ai_spec.rb
  plugins/discourse-data-explorer/spec/lib/query_generation_spec.rb
Due: rubocop, syntax_tree

UX: Explain rate-limited workflow executions
  plugins/discourse-workflows/config/locales/server.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/executor.rb
  plugins/discourse-workflows/lib/discourse_workflows/executor/execution_rate_limiter.rb
  plugins/discourse-workflows/lib/discourse_workflows/executor/execution_store.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor/execution_rate_limiter_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor_spec.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/executions/detail-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

UX: Show hints and errors on the workflow execution page
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/executions/detail.gjs
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/executor/node_execution_context.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor/node_execution_context_spec.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/executions/detail-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Explain why a workflow actor is rejected
  plugins/discourse-workflows/config/locales/server.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/executor/actor_policy.rb
  plugins/discourse-workflows/lib/discourse_workflows/executor/node_execution_context.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor/node_execution_context_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/badge_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/flag_user_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/group_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/post_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/topic_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/user_spec.rb
  plugins/discourse-workflows/spec/support/node_execution_helpers.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

UX: Add a "Continue on error" toggle to workflow node settings
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/node/configurator.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/node-data-shape.js
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/test/javascripts/unit/lib/workflows-node-data-shape-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: Send chat direct messages from workflows
  plugins/chat/config/locales/client.en.yml
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/discourse_workflows/nodes/send_chat_message/v1.rb
  plugins/chat/spec/integration/workflows_send_chat_dm_spec.rb
  plugins/chat/spec/lib/discourse_workflows/nodes/send_chat_message_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Explain why a chat approval message was refused
  plugins/chat/config/locales/server.en.yml
  plugins/chat/lib/discourse_workflows/nodes/chat_approval/v1.rb
  plugins/chat/lib/discourse_workflows/nodes/chat_service_failure.rb
  plugins/chat/spec/lib/discourse_workflows/nodes/chat_approval/v1_spec.rb
  plugins/chat/spec/lib/discourse_workflows/nodes/chat_service_failure_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: Teach the AI workflow author about chat direct messages
  plugins/discourse-workflows/USE_CASES.md
  plugins/discourse-workflows/app/jobs/regular/discourse_workflows/author_with_ai.rb
  plugins/discourse-workflows/lib/discourse_workflows/ai/tools/workflow_node_catalog.rb
  plugins/discourse-workflows/lib/discourse_workflows/ai_workflow_author.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/ai/tools/workflow_node_catalog_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/ai_workflow_author_spec.rb
Due: rubocop, syntax_tree

FEATURE: Let workflow nodes fail individual items when continuing on error
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/executions/detail.gjs
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/executor.rb
  plugins/discourse-workflows/lib/discourse_workflows/executor/node_execution_context.rb
  plugins/discourse-workflows/lib/discourse_workflows/expression_resolver.rb
  plugins/discourse-workflows/lib/discourse_workflows/item.rb
  plugins/discourse-workflows/lib/discourse_workflows/item_contract.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_data_shape.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_error.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_error_handling.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor/node_execution_context_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/node_error_handling_spec.rb
  plugins/discourse-workflows/spec/support/node_execution_helpers.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/executions/detail-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: Add user mentions to review queue notes
  app/controllers/reviewable_notes_controller.rb
  app/models/notification.rb
  app/models/reviewable.rb
  app/models/reviewable_note.rb
  app/models/reviewable_user.rb
  app/serializers/reviewable_note_serializer.rb
  config/locales/client.en.yml
  docs/reviewable-note-mentions-testing.md
  frontend/discourse/app/components/reviewable/note-form.gjs
  frontend/discourse/app/components/reviewable/timeline.gjs
  frontend/discourse/app/lib/notification-types-manager.js
  frontend/discourse/app/lib/notification-types/mentioned.js
  frontend/discourse/tests/integration/components/reviewable/note-form-test.gjs
  frontend/discourse/tests/integration/components/reviewable/timeline-test.gjs
  frontend/discourse/tests/unit/lib/notification-types/mentioned-test.js
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/chat/spec/models/chat/reviewable_chat_message_spec.rb
  spec/models/notification_spec.rb
  spec/models/reviewable_note_spec.rb
  spec/requests/reviewable_notes_controller_spec.rb
  spec/serializers/reviewable_note_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

UX: redesign user status (#44381)
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/modal/user-status.scss
  config/locales/client.en.yml
  frontend/discourse/app/components/modal/user-status.gjs
  frontend/discourse/app/components/user-card-contents.gjs
  frontend/discourse/app/components/user-status-picker.gjs
  frontend/discourse/app/controllers/preferences/account.js
  frontend/discourse/tests/acceptance/user-status-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: Harden review queue note mention handling
  app/controllers/notifications_controller.rb
  app/models/notification.rb
  app/models/reviewable_note.rb
  app/serializers/reviewable_note_serializer.rb
  app/serializers/reviewable_serializer.rb
  docs/reviewable-note-mentions-testing.md
  frontend/discourse/app/components/reviewable/note-form.gjs
  frontend/discourse/tests/integration/components/reviewable/note-form-test.gjs
  lib/discourse_mcp/tools/notifications.rb
  lib/plaintext_mentions.rb
  spec/lib/discourse_mcp/regular_user_tools_spec.rb
  spec/models/notification_spec.rb
  spec/models/reviewable_note_spec.rb
  spec/requests/notifications_controller_spec.rb
  spec/serializers/reviewable_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FEATURE: Email users when a new associated account is linked (#44382)
  app/controllers/admin/email_templates_controller.rb
  app/controllers/users/associate_accounts_controller.rb
  app/jobs/regular/user_email.rb
  app/mailers/user_notifications.rb
  config/locales/server.en.yml
  spec/mailers/user_notifications_spec.rb
  spec/requests/associate_accounts_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

FIX: Preserve report sizes when applying Manage Reports
  app/controllers/admin/dashboard_controller.rb
  spec/requests/admin/dashboard_controller_spec.rb
  spec/system/admin_dashboard_redesign/reports_section_spec.rb
  spec/system/page_objects/components/manageable_row_list_modal.rb
  spec/system/page_objects/pages/admin_dashboard_reports.rb
Due: rubocop, syntax_tree

Correct specs post merge and lint
  plugins/discourse-ai/lib/ai_bot/stream_reply_custom_tools_session.rb
  plugins/discourse-ai/spec/lib/agents/bot_spec.rb
  plugins/discourse-ai/spec/lib/completions/prompt_messages_builder_spec.rb
  plugins/discourse-ai/spec/requests/ai_bot/bot_controller_spec.rb
  plugins/discourse-ai/spec/system/ai_discoveries_search_mode_spec.rb
Due: rubocop, syntax_tree

FIX: Skip users who mute or ignore the inviter in chat channel invites [pt-3a6286331ff83159f0b9]
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/spec/requests/chat/api/channels_invites_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Screen the same invitees that get notified in chat channel invites
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/spec/requests/chat/api/channels_invites_controller_spec.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
Due: rubocop, syntax_tree

DEV: Order invitees so the 50-user cap is deterministic
  plugins/chat/app/services/chat/invite_users_to_channel.rb
  plugins/chat/spec/services/chat/invite_users_to_channel_spec.rb
Due: rubocop, syntax_tree

DEV: Tighten composer and rich editor types for strict mode
  frontend/discourse/app/lib/composer/toolbar.ts
  frontend/discourse/app/lib/textarea-text-manipulation.ts
  frontend/discourse/app/static/prosemirror/components/prosemirror-editor.gts
  frontend/discourse/app/static/prosemirror/extensions/link.ts
  frontend/discourse/app/static/prosemirror/extensions/override-drag-ghost.ts
  frontend/discourse/app/static/prosemirror/extensions/placeholder.ts
  frontend/discourse/app/static/prosemirror/extensions/trailing-inline-space.ts
  frontend/discourse/app/static/prosemirror/lib/plugin-utils.js
  frontend/discourse/app/static/prosemirror/lib/text-manipulation.ts
Due: prettier, eslint

DEV: Check core, plugins and themes under strict mode in CI
  .github/workflows/linting.yml
  frontend/discourse/tsconfig.strict.json
  package.json
  script/check_strict_types
Due: yaml-syntax

DEV: Document the strict type check and run it in the full lint
  .skills/discourse-writing-typescript/SKILL.md
  .skills/discourse-writing-typescript/references/conversion-completeness.md
  docs/developer-guides/docs/03-code-internals/03-lint-and-format.md
  docs/developer-guides/docs/03-code-internals/27-types.md
  lefthook.yml
Due: none

DEV: Reconcile the private modules guide with the UI kit guide
  docs/developer-guides/docs/03-code-internals/02-ui-kit.md
  docs/developer-guides/docs/03-code-internals/30-private-modules.md
  docs/developer-guides/docs/03-code-internals/32-private-modules.md
Due: none

DEV: Tighten the `DReorderableList` maintainer notes
  frontend/discourse/app/ui-kit/d-reorderable-list/README.md
Due: none

FIX: Preserve original content and AI detection in moderation records
  lib/dsa_moderation.rb
  plugins/chat/spec/services/chat/trash_channel_spec.rb
  plugins/discourse-ai/lib/agents/tools/flag_post.rb
  plugins/discourse-ai/spec/lib/agents/tools/flag_post_spec.rb
  spec/lib/dsa_moderation_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/requests/admin/config/site_settings_controller_spec.rb
  spec/system/admin_flags_spec.rb
Due: rubocop, syntax_tree

DEV: Focus dashboard report sizing regression tests
  spec/fabricators/admin_dashboard_report_fabricator.rb
  spec/requests/admin/dashboard_controller_spec.rb
  spec/system/admin_dashboard_redesign/reports_section_spec.rb
  spec/system/page_objects/components/manageable_row_list_modal.rb
  spec/system/page_objects/pages/admin_dashboard_reports.rb
Due: rubocop, syntax_tree

FIX: Retain the original rendered content in moderation records
  lib/dsa_moderation.rb
  spec/lib/dsa_moderation_spec.rb
Due: rubocop, syntax_tree

DEV: Convert a11y service to TypeScript
  frontend/discourse/app/services/a11y.ts
Due: none

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
