Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Confirm licenses are MIT
  app/assets/javascripts/.licensee.json
Due: none

use /invites/create-many.json instead of /invites.json for multiple emails per invite
  app/controllers/invites_controller.rb
  config/routes.rb
  spec/requests/api/multiple_invites_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

migrate specs from invites#create to invites#create-multiple
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

limit number of invites that can be generated per api request via a SiteSetting
  app/controllers/invites_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/invites_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: adjust pm styles to enbubble controls (#24996)
  app/assets/stylesheets/common/base/personal-message.scss
  app/assets/stylesheets/mobile/personal-message.scss
Due: none

UX: resize pm composer inputs for narrow screens
  app/assets/stylesheets/desktop/compose.scss
Due: none

FIX: scope PM background color to PMs
  app/assets/stylesheets/common/base/personal-message.scss
Due: none

FIX: scope PM background color to PMs (#25020)
  app/assets/stylesheets/common/base/personal-message.scss
Due: none

UX: resize pm composer inputs for narrow screens (#25019)
  app/assets/stylesheets/desktop/compose.scss
Due: none

load test for invites#create_multiple, reduce max_api_invites to 5000
  config/site_settings.yml
  spec/requests/api/multiple_invites_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop, yaml-syntax

change max_api_invites to 500
  config/site_settings.yml
Due: yaml-syntax

lower load-test to 5
  spec/requests/invites_controller_spec.rb
Due: rubocop

DEV: Add extension points
  app/assets/javascripts/admin/addon/components/admin-user-field-item.hbs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/services/admin-custom-user-fields.js
  app/controllers/admin/user_fields_controller.rb
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: rubocop, prettier, eslint-js

change max_api_invites to 200
  config/site_settings.yml
Due: yaml-syntax

DEV: Remove extra outlet args
  app/assets/javascripts/admin/addon/components/admin-user-field-item.hbs
Due: none

Tag all the native classes that are modified in the wild
  app/assets/javascripts/admin/addon/components/admin-penalty-reason.js
  app/assets/javascripts/admin/addon/components/admin-report-stacked-chart.js
  app/assets/javascripts/admin/addon/components/admin-theme-editor.js
  app/assets/javascripts/admin/addon/components/modal/start-backup.js
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/routes/admin-customize-index.js
  app/assets/javascripts/discourse/app/components/composer-messages.js
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/components/d-modal.js
  app/assets/javascripts/discourse/app/components/discovery/topics.js
  app/assets/javascripts/discourse/app/components/topic-timeline.js
  app/assets/javascripts/discourse/app/components/user-fields/confirm.js
  app/assets/javascripts/discourse/app/components/user-fields/dropdown.js
  app/assets/javascripts/discourse/app/components/user-fields/text.js
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
  app/assets/javascripts/discourse/app/controllers/discovery/list.js
  app/assets/javascripts/discourse/app/controllers/preferences/tracking.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/app/routes/new-topic.js
  app/assets/javascripts/discourse/app/routes/unknown.js
  app/assets/javascripts/discourse/app/services/composer.js
  plugins/chat/assets/javascripts/discourse/components/channels-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat-index.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Due: prettier, eslint-js

FIX: TL3 can convert their post to a wiki
  lib/guardian/post_guardian.rb
  spec/lib/guardian_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

FIX: TL3 can convert their post to a wiki (#25023)
  lib/guardian/post_guardian.rb
  spec/lib/guardian_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

wip
  app/assets/javascripts/discourse/app/lib/allow-class-modifications.js
  app/assets/javascripts/discourse/tests/unit/lib/plugin-api-test.js
Due: prettier, eslint-js

fixup
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/discourse/app/controllers/preferences/tracking.js
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint-js

Update lockfiles for ember version flag
  app/assets/javascripts/yarn-ember3.lock
  app/assets/javascripts/yarn-ember5.lock
  yarn-ember3.lock
Due: none

Update lockfiles for ember version flag
  app/assets/javascripts/yarn-ember5.lock
Due: none

DEV: Remove flaky tests report when there are too many failures
  lib/turbo_tests/flaky/manager.rb
  lib/turbo_tests/runner.rb
Due: rubocop

DEV: Remove flaky tests report when there are too many failures (#25031)
  lib/turbo_tests/flaky/manager.rb
  lib/turbo_tests/runner.rb
Due: rubocop

DEV: Add auto map from TL -> group site settings in DeprecatedSettings
  lib/site_settings/deprecated_settings.rb
  lib/site_settings/type_supervisor.rb
Due: rubocop

DEV: Fixes in logic and add deprecated setting specs
  app/models/group.rb
  lib/site_settings/deprecated_settings.rb
  spec/fixtures/site_settings/deprecated_test.yml
  spec/lib/site_settings/deprecated_settings_spec.rb
  spec/models/site_setting_spec.rb
Due: rubocop, yaml-syntax

FIX: group to TL value for TrustLevelSetting
  lib/site_settings/deprecated_settings.rb
Due: rubocop

DEV: Review fixes
  lib/site_settings/deprecated_settings.rb
  spec/lib/site_settings/deprecated_settings_spec.rb
Due: rubocop

DEV: Review fixes
  app/models/group.rb
  lib/site_settings/deprecated_settings.rb
Due: rubocop

DEV: Rename .auto_group_range_array to .auto_groups_between
  app/models/group.rb
  lib/site_settings/deprecated_settings.rb
  spec/models/group_spec.rb
Due: rubocop

DEV: Fix can't modify frozen string error when reporting server errors
  spec/rails_helper.rb
Due: rubocop

DEV: Fix can't modify frozen string error when reporting server errors (#25033)
  spec/rails_helper.rb
Due: rubocop

FIX: CLS jumpiness in post-stream
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
Due: prettier, eslint-js

Remove unused vars
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
Due: prettier, eslint-js

Lint :(
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
Due: prettier, eslint-js

DEV: Set `config.eager_load = true` on CI
  .github/workflows/tests.yml
  app/controllers/session_controller.rb
  config/environments/test.rb
  plugins/chat/spec/services/chat/flag_message_spec.rb
  spec/rails_helper.rb
  spec/support/session_controller_helper_routes.rb
Due: rubocop, yaml-syntax

DEV: Set `config.eager_load = true` on CI (#25032)
  .github/workflows/tests.yml
  app/controllers/session_controller.rb
  config/environments/test.rb
  plugins/chat/spec/services/chat/flag_message_spec.rb
  spec/rails_helper.rb
  spec/support/session_controller_helper_routes.rb
Due: rubocop, yaml-syntax

DEV: Fix job cluster concurrency spec timing out
  app/jobs/base.rb
  spec/jobs/jobs_base_spec.rb
Due: rubocop

FIX: CLS jumpiness in post-stream when ?page=N (#25034)
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
Due: prettier, eslint-js

DEV: Add auto map from TL -> group site settings in DeprecatedSettings (#24959)
  app/models/group.rb
  lib/site_settings/deprecated_settings.rb
  lib/site_settings/type_supervisor.rb
  spec/fixtures/site_settings/deprecated_test.yml
  spec/lib/site_settings/deprecated_settings_spec.rb
  spec/models/group_spec.rb
  spec/models/site_setting_spec.rb
Due: rubocop, yaml-syntax
