Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: allow plugins to override serializer attributes cleanly
  lib/plugin/instance.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop

FIX: disable text select on sidebar
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

FIX: disable text select on sidebar (#20871)
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

DEV: Add specs to ChannelSerializer and StructuredChannelSerializer
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/spec/serializer/chat/channel_serializer_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
Due: rubocop

DEV: Update experimental `/filter` route with tags support
  app/assets/javascripts/discourse/app/controllers/discovery-filter.js
  app/assets/javascripts/discourse/app/controllers/navigation/filter.js
  app/assets/javascripts/discourse/app/routes/discovery-filter.js
  app/controllers/list_controller.rb
  lib/topic_query.rb
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
  spec/system/filtering_topics_spec.rb
Due: rubocop, prettier, eslint-js

FIX: ensures removing a reaction doesn’t remove others (#20869)
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/react_to_message_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Remove `{{user-selector}}` (#17753)
  app/assets/javascripts/discourse/app/components/user-selector.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/email-group-user-chooser-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-selector-test.js
  app/assets/javascripts/select-kit/addon/components/user-chooser.js
Due: prettier, eslint-js

UX: Add description to apple touch setting
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

UX: Add description to apple touch setting (#20875)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

composer service tests
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

fix chat-message-reaction test
  plugins/chat/test/javascripts/components/chat-message-reaction-test.js
Due: prettier, eslint-js

FEATURE: ability to bulk_remove users from a group
  app/models/group.rb
  spec/models/group_spec.rb
Due: rubocop

Address review feedback
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop

DEV: API on CategorySerializer to modify available_groups query
  app/serializers/category_serializer.rb
  spec/serializers/category_serializer_spec.rb
Due: rubocop

more whitespace
  app/serializers/category_serializer.rb
Due: rubocop

testing
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint-js

DEV: Make postgres_readonly cache work like other caches
  lib/discourse.rb
  spec/lib/discourse_spec.rb
Due: rubocop

FIX: use unselectable mixin in sidebar drag and drop
  app/assets/stylesheets/common/base/sidebar-custom-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

fixes and updates
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/app/lib/range-ref.js
Due: prettier, eslint-js

DEV: Use `this.element` instead of querying
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint-js

fix
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint-js

DEV: Review fixes
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
Due: rubocop

DEV: Update experimental `/filter` route with tags support (#20874)
  app/assets/javascripts/discourse/app/controllers/discovery-filter.js
  app/assets/javascripts/discourse/app/controllers/navigation/filter.js
  app/assets/javascripts/discourse/app/routes/discovery-filter.js
  app/controllers/list_controller.rb
  lib/topic_query.rb
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
  spec/system/filtering_topics_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: filter API for plugins
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  spec/lib/discourse_plugin_registry_spec.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop

DEV: Add auto _map extension for simple/compact list SiteSettings
  lib/site_setting_extension.rb
  lib/site_settings/type_supervisor.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop

var renaming
  lib/discourse_plugin_registry.rb
Due: rubocop

DEV: Add specs to ChannelSerializer and StructuredChannelSerializer (#20872)
  plugins/chat/app/serializers/chat/structured_channel_serializer.rb
  plugins/chat/spec/serializer/chat/channel_serializer_spec.rb
  plugins/chat/spec/serializer/chat/structured_channel_serializer_spec.rb
Due: rubocop

DEV: Support `status:public` in topics filtering query language
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

DEV: Support `status:public` in topics filtering query language (#20889)
  lib/topics_filter.rb
  spec/lib/topics_filter_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

Rename filter -> modifier
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  spec/lib/discourse_plugin_registry_spec.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop

DEV: Improve test coverage for `/filters` route
  lib/topic_query.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

FIX: Do not validate email in TL promotion
  app/models/user.rb
  lib/promotion.rb
  spec/jobs/tl3_promotions_spec.rb
  spec/lib/promotion_spec.rb
Due: rubocop

FEATURE: modifier API for plugins (#20887)
  lib/discourse_plugin_registry.rb
  lib/plugin/instance.rb
  spec/lib/discourse_plugin_registry_spec.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop

FIX: Do not validate email in TL promotion (#20892)
  app/models/user.rb
  lib/promotion.rb
  spec/jobs/tl3_promotions_spec.rb
  spec/lib/promotion_spec.rb
Due: rubocop

DEV: add topic_query_suggested_options modifier
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
Due: rubocop

DEV: Add auto _map extension for simple/compact list SiteSettings (#20888)
  lib/site_setting_extension.rb
  lib/site_settings/type_supervisor.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop

DEV: Remove currentUser lookup in pretty-text
  lib/pretty_text.rb
Due: rubocop

Apply extensibility to topic view, topic query is too late
  lib/topic_query.rb
  lib/topic_view.rb
  spec/lib/topic_query_spec.rb
  spec/lib/topic_view_spec.rb
Due: rubocop

avoid needless work
  lib/topic_view.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
