Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

remove pointless code
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_logs_controller.rb
  plugins/discourse-ai/spec/requests/admin/ai_logs_controller_spec.rb
Due: rubocop, syntax_tree

UX: Improve AI logs filtering (#42759)
  frontend/discourse/app/ui-kit/d-filter-controls.gjs
  frontend/discourse/tests/integration/ui-kit/d-filter-controls-test.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-logs.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins/show/discourse-ai-logs.js
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_logs_controller.rb
  plugins/discourse-ai/assets/stylesheets/admin/ai-logs.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/spec/requests/admin/ai_logs_controller_spec.rb
  plugins/discourse-ai/spec/system/ai_logs_spec.rb
  plugins/discourse-ai/spec/system/page_objects/pages/ai_logs.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

UX: Further followup of AI logs filtering
  app/assets/stylesheets/common/components/d-filter-controls.scss
  frontend/discourse/app/ui-kit/d-filter-controls.gjs
  frontend/discourse/tests/integration/ui-kit/d-filter-controls-test.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-logs.gjs
  plugins/discourse-ai/assets/stylesheets/admin/ai-logs.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/spec/system/ai_logs_spec.rb
  plugins/discourse-ai/spec/system/page_objects/pages/ai_logs.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Render enum site settings with FormKit (#42397)
  frontend/discourse/admin/components/site-setting.gjs
  frontend/discourse/app/components/setting-field/enum.gjs
  frontend/discourse/app/components/setting-field/locale-enum.gjs
  frontend/discourse/app/lib/setting-field-registry.js
  frontend/discourse/tests/integration/components/setting-definition-field-test.gjs
  frontend/discourse/tests/integration/components/site-setting-test.gjs
  frontend/discourse/tests/unit/lib/setting-field-registry-test.js
  spec/system/admin_site_setting_enum_spec.rb
  spec/system/admin_site_setting_locale_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Giant YouTube fallback to iframe in chat (#42758)
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.gjs
  plugins/chat/assets/stylesheets/common/chat-message-images.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/test/javascripts/components/chat-message-collapser-test.gjs
  plugins/discourse-lazy-videos/config/locales/server.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

SECURITY: Scope localized topic notifications
  app/jobs/regular/process_localized_cooked.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  spec/jobs/process_localized_cooked_spec.rb
Due: rubocop, syntax_tree

SECURITY: Scope localized topic notifications (#42756)
  app/jobs/regular/process_localized_cooked.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  spec/jobs/process_localized_cooked_spec.rb
Due: rubocop, syntax_tree

SECURITY: Scope localized topic notifications [backport 2026.7] (#42757)
  app/jobs/regular/process_localized_cooked.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  spec/jobs/process_localized_cooked_spec.rb
Due: rubocop, syntax_tree

SECURITY: Scope localized topic notifications [backport 2026.6] (#42764)
  app/jobs/regular/process_localized_cooked.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  spec/jobs/process_localized_cooked_spec.rb
Due: rubocop, syntax_tree

DEV: Measure image-processing wall time without Landlock metrics
  Gemfile
  Gemfile.lock
  lib/discourse/safe_exec.rb
  lib/image_magick.rb
  lib/image_processing/command.rb
  lib/image_processing/instrumentation.rb
  spec/lib/discourse/safe_exec_spec.rb
  spec/lib/image_magick_spec.rb
  spec/lib/image_processing/command_spec.rb
Due: rubocop, syntax_tree

DEPS: Bump landlock to 0.4.1
  Gemfile.lock
Due: none

DEV: Prove image-processing duration uses monotonic time
  spec/lib/image_magick_spec.rb
Due: rubocop, syntax_tree

SECURITY: Scope localized topic notifications [backport 2026.1] (#42765)
  app/jobs/regular/process_localized_cooked.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  spec/jobs/process_localized_cooked_spec.rb
Due: rubocop, syntax_tree

DEPS: Bump landlock to 0.4.1 (#42766)
  Gemfile.lock
Due: none

FIX: Show all users in single AI usage table
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-usage.gjs
  plugins/discourse-ai/test/javascripts/unit/components/ai-usage-test.js
Due: prettier, eslint, ember-template-lint

DEV: Simplify image-processing metric labels
  lib/image_processing/instrumentation.rb
  spec/lib/image_magick_spec.rb
Due: rubocop, syntax_tree

Revert "DEPS: Bump landlock to 0.4.1 (#42766)"
  Gemfile.lock
Due: none

Revert "DEPS: Bump landlock to 0.4.1 (#42766)" (#42770)
  Gemfile.lock
Due: none

DEV: Test rendered AI usage user tables
  plugins/discourse-ai/test/javascripts/integration/components/ai-usage-test.gjs
  plugins/discourse-ai/test/javascripts/unit/components/ai-usage-test.js
Due: prettier, eslint, ember-template-lint

FIX: Show all users in single AI usage table (#42768)
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-usage.gjs
  plugins/discourse-ai/test/javascripts/integration/components/ai-usage-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Render category, group, tag and icon site settings with FormKit
  frontend/discourse/app/components/setting-field/category.gjs
  frontend/discourse/app/components/setting-field/group.gjs
  frontend/discourse/app/components/setting-field/icon.gjs
  frontend/discourse/app/components/setting-field/tag-group-list.gjs
  frontend/discourse/app/components/setting-field/tag-list.gjs
  frontend/discourse/app/lib/setting-field-registry.js
  frontend/discourse/select-kit/components/select-kit/select-kit-filter.gjs
  frontend/discourse/tests/integration/components/setting-definition-field-test.gjs
  frontend/discourse/tests/integration/components/site-setting-test.gjs
  frontend/discourse/tests/unit/lib/setting-field-registry-test.js
  spec/system/admin_site_setting_category_spec.rb
  spec/system/admin_site_setting_group_spec.rb
  spec/system/admin_site_setting_tag_list_spec.rb
  spec/system/page_objects/components/select_kit.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

fix globs
  frontend/asset-processor/route-map-parser.js
  frontend/asset-processor/route-map-parser.test.mjs
  lib/plugin/js_manager.rb
  spec/lib/plugin/js_manager_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

cache
  lib/plugin/js_manager.rb
Due: rubocop, syntax_tree

Add spec
  plugins/discourse-assign/spec/requests/assign_controller_spec.rb
Due: rubocop, syntax_tree

Linting spec
  plugins/discourse-assign/spec/requests/assign_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Add API scope for Discourse Assign (#42760)
  plugins/discourse-assign/config/locales/client.en.yml
  plugins/discourse-assign/plugin.rb
  plugins/discourse-assign/spec/requests/assign_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Review fixes for plugin route bundles
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/rollup-plugins/discourse-route-maps.js
  frontend/asset-processor/rollup-plugins/discourse-virtual-loader.js
  frontend/asset-processor/rollup-virtual-imports.js
  frontend/discourse/app/app.js
  frontend/discourse/app/resolver.js
  lib/plugin/js_manager.rb
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Due: rubocop, syntax_tree, prettier, eslint

FIX: Restore push subscriptions the platform silently drops
  app/services/push_notification_pusher.rb
  frontend/discourse/app/components/notification-consent-banner.gjs
  frontend/discourse/app/instance-initializers/subscribe-user-notifications.js
  frontend/discourse/app/lib/push-notifications.js
  frontend/discourse/app/services/desktop-notifications.js
  frontend/discourse/tests/integration/components/notification-consent-banner-test.gjs
  frontend/discourse/tests/unit/lib/push-notifications-test.js
  frontend/discourse/tests/unit/services/desktop-notifications-test.js
  spec/services/push_notification_pusher_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

bump
  .skills/discourse-warpdrive-models/SKILL.md
  AI-AGENTS.md
  frontend/discourse/admin/routes/admin-badges/award.js
  frontend/discourse/admin/routes/admin-badges/show.js
Due: prettier, eslint

DEV: Add 2026 Krishna Janmashtami holiday for India (#42761)
  plugins/discourse-events/vendor/holidays/definitions/in.yaml
  plugins/discourse-events/vendor/holidays/lib/generated_definitions/in.rb
Due: rubocop, syntax_tree, yaml-syntax

defer modifyClass
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/rollup-plugins/discourse-register-components.js
  frontend/asset-processor/rollup-plugins/discourse-register-components.test.mjs
  frontend/discourse/app/lib/deferred-class-modifications.js
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/resolver.js
  frontend/discourse/tests/unit/lib/deferred-class-modifications-test.js
Due: prettier, eslint, ember-template-lint

UX: Fix vertical alignment of checklist boxes
  plugins/checklist/assets/stylesheets/checklist.scss
Due: prettier

DEV: Introduce `composer-minimum-post-length` valueTransformer (#42686)
  frontend/discourse/app/components/composer-editor.gjs
  frontend/discourse/app/lib/registry/transformers.js
  frontend/discourse/app/models/composer.js
  frontend/discourse/tests/acceptance/transformers/composer-minimum-post-length-test.js
Due: prettier, eslint, ember-template-lint

DEV: bump remove and replace uncategorized
  config/site_settings.yml
Due: yaml-syntax

hide chat, simplify sidebar behavior, fix multi-day
  plugins/discourse-events/app/models/discourse_post_event/event.rb
  plugins/discourse-events/app/views/discourse_calendar/livestream/zoom_frame.html.erb
  plugins/discourse-events/assets/javascripts/discourse/models/discourse-post-event-event.js
  plugins/discourse-events/assets/javascripts/discourse/routes/topic-zoom.js
  plugins/discourse-events/assets/javascripts/discourse/templates/topic-zoom.gjs
  plugins/discourse-events/spec/models/discourse_post_event/event_spec.rb
  plugins/discourse-events/spec/requests/livestream_controller_spec.rb
  plugins/discourse-events/test/javascripts/unit/models/discourse-post-event-event-test.js
  plugins/discourse-events/test/javascripts/unit/routes/topic-zoom-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

UX: Skip keyboard shortcuts, chat drawer while on wizard (#42745)
  frontend/discourse/app/routes/wizard.js
  frontend/discourse/tests/acceptance/wizard-test.js
  plugins/chat/assets/javascripts/discourse/connectors/below-footer/chat-drawer-outlet.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/test/javascripts/acceptance/chat-wizard-test.js
Due: prettier, eslint, ember-template-lint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
