Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

add tests
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-counter.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-list-emoji.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-list.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-popup.gjs
  plugins/discourse-reactions/spec/system/reactions_post_list_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

update tests
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-post-test.js
Due: prettier, eslint

support prioritize username setting
  frontend/discourse/app/components/post-users-popup.gjs
  plugins/discourse-reactions/spec/system/reactions_post_list_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

Update tests.yml
  .github/workflows/tests.yml
Due: yaml-syntax

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

mangle
  .github/workflows/tests.yml
Due: yaml-syntax

FEATURE: show conversation spending in debug modal
  plugins/discourse-ai/app/models/ai_api_audit_log.rb
  plugins/discourse-ai/app/models/llm_model.rb
  plugins/discourse-ai/app/serializers/ai_api_audit_log_serializer.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/debug-ai-modal.gjs
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/bot-replies.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/lib/completions/report.rb
  plugins/discourse-ai/spec/requests/ai_bot/bot_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

PERF: add index for audit log post ids
  .skills/discourse-migration/SKILL.md
  plugins/discourse-ai/app/models/ai_api_audit_log.rb
  plugins/discourse-ai/db/migrate/20260420014648_add_post_id_index_to_ai_api_audit_logs.rb
Due: rubocop, syntax_tree

appease the inflector
  plugins/discourse-ai/lib/agents/tool_runner.rb
  plugins/discourse-ai/lib/agents/tool_runner/http.rb
Due: rubocop, syntax_tree

full replace
  .github/workflows/tests.yml
Due: yaml-syntax

update shared test
  spec/support/shared_examples/core_features.rb
Due: rubocop, syntax_tree

properly scope frontend test selector
  frontend/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint

add mobile menu, refactor to use floatkit
  app/assets/stylesheets/common/base/topic-post.scss
  config/locales/client.en.yml
  frontend/discourse/app/components/post/menu/liked-users-list.gjs
  frontend/discourse/app/components/post/menu/liked-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-counter.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-popup.gjs
  plugins/discourse-reactions/config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FEATURE: Bulk convert PMs to public topics (and vice versa)
  app/models/topic_converter.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  frontend/discourse/app/components/bulk-select-topics-dropdown.gjs
  frontend/discourse/app/components/modal/bulk-topic-actions.gjs
  lib/topics_bulk_action.rb
  spec/lib/topics_bulk_action_spec.rb
  spec/models/topic_converter_spec.rb
  spec/system/bulk_convert_topics_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Recover dead multisite:migrate worker output via log files
  lib/tasks/db.rake
Due: rubocop, syntax_tree

add usercard trigger on mobile
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/card-contents-base.js
  frontend/discourse/app/components/post/menu/liked-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-menu.gjs
Due: prettier, eslint, ember-template-lint, stylelint

length--
  .github/workflows/tests.yml
Due: yaml-syntax

shared post users menu component between core/reactions
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post/menu/liked-users-menu.gjs
  frontend/discourse/app/components/post/menu/post-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-menu.gjs
Due: prettier, eslint, ember-template-lint, stylelint

cleanup query sql
  app/assets/stylesheets/common/base/topic-post.scss
  plugins/discourse-reactions/app/controllers/discourse_reactions/custom_reactions_controller.rb
Due: rubocop, syntax_tree, prettier, stylelint

DEV: Fix "Composer Proofreading" flake
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree

reduce height of user list
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, stylelint

FIX: Persist group default tag notification settings
  app/models/tag_user.rb
  app/serializers/concerns/user_tag_notifications_mixin.rb
  app/serializers/group_show_serializer.rb
  frontend/discourse/app/models/group.js
  frontend/discourse/tests/unit/models/group-test.js
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/group_show_serializer_spec.rb
  spec/serializers/user_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

diag
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint

remote-debugging-port
  frontend/discourse/testem.js
Due: prettier, eslint

add request specs
  plugins/discourse-reactions/spec/requests/custom_reactions_controller_spec.rb
Due: rubocop, syntax_tree

use clamp for defensive params
  plugins/discourse-reactions/app/controllers/discourse_reactions/custom_reactions_controller.rb
Due: rubocop, syntax_tree

more
  plugins/chat/spec/system/page_objects/chat/components/thread_indicator.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree

FIX: Allow typing inside float-kit menus rendered from within a modal
  frontend/discourse/app/components/d-modal.gjs
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/d_icon_grid_picker.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

fix specs
  spec/requests/tags_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Render breadcrumb separator from data instead of `:last-child`
  app/assets/stylesheets/common/components/d-breadcrumbs.scss
  frontend/discourse/app/components/d-breadcrumbs-container.gjs
  frontend/discourse/app/components/d-breadcrumbs-item.gjs
  frontend/discourse/tests/integration/components/d-breadcrumbs-test.gjs
Due: prettier, eslint, ember-template-lint, stylelint

length++
  .github/workflows/tests.yml
Due: yaml-syntax

UX: reactions mobile menu scroll fix
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, stylelint

FIX: Use resolved locale for localizations, instead of param+site default fallback
  lib/topic_list_responder.rb
  spec/system/content_localization_spec.rb
Due: rubocop, syntax_tree

workaround for scroll lock
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post/menu/post-users-menu.gjs
Due: prettier, eslint, ember-template-lint, stylelint

sticky header
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post/menu/post-users-menu.gjs
Due: prettier, eslint, ember-template-lint, stylelint

add conditional loading spinner
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post/menu/post-users-menu.gjs
Due: prettier, eslint, ember-template-lint, stylelint

FIX: Remove `script` tags that failed to load
  frontend/discourse/app/lib/load-script.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
