Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: prioritize group search order based on prefix match (#16093)
  app/controllers/users_controller.rb
  app/models/group.rb
  spec/models/group_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

FIX: better error indicator when email is rejected for old notifications
  lib/email/receiver.rb
  spec/lib/email/receiver_spec.rb
Due: rubocop

Update spec/lib/post_action_destroyer_spec.rb
  spec/lib/post_action_destroyer_spec.rb
Due: rubocop

reorg spec
  spec/lib/post_action_destroyer_spec.rb
Due: rubocop

FIX: correctly notifies subscribers with post_action_destroyer (#16084)
  lib/post_action_destroyer.rb
  spec/lib/post_action_destroyer_spec.rb
Due: rubocop

FIX: save email rejection error class names for incoming email logs
  lib/email/receiver.rb
  spec/lib/email/processor_spec.rb
  spec/lib/email/receiver_spec.rb
Due: rubocop

FIX: save email rejection error class names for incoming email logs (#16095)
  lib/email/receiver.rb
  spec/lib/email/processor_spec.rb
  spec/lib/email/receiver_spec.rb
Due: rubocop

UX: Differentiate 'emails disabled' notice for 'yes' and 'non-staff'
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/tests/acceptance/email-notice-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: API to create user's associated account
  app/controllers/admin/users_controller.rb
  app/models/api_key_scope.rb
  config/routes.rb
  spec/lib/discourse_spec.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

DEV: Move external_ids logic to POST /users.json
  app/controllers/admin/users_controller.rb
  app/controllers/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

fixup! DEV: Move external_ids logic to POST /users.json
  app/models/api_key_scope.rb
  config/routes.rb
Due: rubocop

DEV: Add external_ids logic to GET /users.json
  app/controllers/users_controller.rb
  app/services/user_updater.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

DEV: Serialize user_associated_accounts
  app/serializers/admin_detailed_user_serializer.rb
  app/serializers/user_associated_account_serializer.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

fixup! DEV: Serialize user_associated_accounts
  spec/requests/api/schemas/json/admin_user_response.json
Due: none

fixup! DEV: Serialize user_associated_accounts
  app/serializers/admin_detailed_user_serializer.rb
  app/serializers/user_associated_account_serializer.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/api/schemas/json/admin_user_response.json
Due: rubocop

fixup! DEV: Serialize user_associated_accounts
  app/controllers/users_controller.rb
  spec/requests/api/schemas/json/user_create_request.json
  spec/requests/api/schemas/json/user_update_request.json
  spec/requests/api/schemas/json/user_update_response.json
  spec/requests/api/users_spec.rb
Due: rubocop

fixup! DEV: Serialize user_associated_accounts
  spec/requests/api/schemas/json/user_update_response.json
  spec/requests/api/users_spec.rb
Due: rubocop

UX: Differentiate 'emails disabled' notice for 'yes' and 'non-staff' (#16096)
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/tests/acceptance/email-notice-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: API to create user's associated account (#15737)
  app/controllers/users_controller.rb
  app/serializers/admin_detailed_user_serializer.rb
  app/services/user_updater.rb
  spec/lib/discourse_spec.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/api/schemas/json/admin_user_response.json
  spec/requests/api/schemas/json/user_create_request.json
  spec/requests/api/schemas/json/user_update_request.json
  spec/requests/api/schemas/json/user_update_response.json
  spec/requests/api/users_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

more fixes
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/lib/put-cursor-at-end.js
Due: prettier, eslint-js

FIX: iOS do not have working push notifications yet (#15888)
  app/assets/javascripts/discourse/app/components/desktop-notification-config.js
  app/assets/javascripts/discourse/app/components/footer-nav.js
  app/assets/javascripts/discourse/app/components/pwa-install-banner.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/initializers/webview-background.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/lightbox.js
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/lib/push-notifications.js
  app/assets/javascripts/discourse/app/lib/put-cursor-at-end.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/widgets/footer-nav.js
Due: prettier, eslint-js

DEV: Allow `@discourseComputed` in native classes
  app/assets/javascripts/discourse-common/addon/utils/handle-descriptor.js
  app/assets/javascripts/discourse/tests/unit/utils/decorators-test.js
Due: prettier, eslint-js

UX: Add description to the 2FA page when adding new admins
  app/assets/javascripts/discourse/app/controllers/second-factor-auth.js
  app/assets/javascripts/discourse/app/templates/second-factor-auth.hbs
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/controllers/session_controller.rb
  config/locales/server.en.yml
  lib/second_factor/actions/grant_admin.rb
  lib/second_factor/auth_manager.rb
  spec/lib/second_factor/actions/grant_admin_spec.rb
  spec/lib/second_factor/auth_manager_spec.rb
  spec/requests/session_controller_spec.rb
  spec/support/test_second_factor_action.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Add description to the 2FA page when adding new admins (#16098)
  app/assets/javascripts/discourse/app/controllers/second-factor-auth.js
  app/assets/javascripts/discourse/app/templates/second-factor-auth.hbs
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/controllers/session_controller.rb
  config/locales/server.en.yml
  lib/second_factor/actions/grant_admin.rb
  lib/second_factor/auth_manager.rb
  spec/lib/second_factor/actions/grant_admin_spec.rb
  spec/lib/second_factor/auth_manager_spec.rb
  spec/requests/session_controller_spec.rb
  spec/support/test_second_factor_action.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: drops jquery for scroll-top mixin
  app/assets/javascripts/discourse/app/mixins/scroll-top.js
Due: prettier, eslint-js

DEV: drops jquery for scroll-top mixin (#16099)
  app/assets/javascripts/discourse/app/mixins/scroll-top.js
Due: prettier, eslint-js

DEV: Allow `@discourseComputed` in native classes (#16097)
  app/assets/javascripts/discourse-common/addon/utils/handle-descriptor.js
  app/assets/javascripts/discourse/tests/unit/utils/decorators-test.js
Due: prettier, eslint-js

FEATURE: Use Postgres unaccent to ignore accents
  app/services/search_indexer.rb
  db/migrate/20220304162250_enable_unaccent_extension.rb
  lib/search.rb
  lib/search/grouped_search_results.rb
  spec/lib/search_spec.rb
  spec/services/search_indexer_spec.rb
Due: rubocop

DEV: Add api scoping for updating topics.
  app/models/api_key_scope.rb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

DEV: Add api scoping for updating topics. (#16101)
  app/models/api_key_scope.rb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

DEV: Actually focus stuff in tests
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
Due: prettier, eslint-js

FEATURE: Introduce 'Subcategories with featured topics' view
  app/assets/javascripts/discourse/app/models/category-list.js
  app/assets/javascripts/discourse/app/templates/components/subcategories-with-featured-topics.hbs
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/assets/stylesheets/common/base/category-list.scss
  app/controllers/categories_controller.rb
  app/models/category_list.rb
  app/models/category_page_style.rb
  config/locales/client.en.yml
  spec/requests/categories_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Trying out a different qunit-hooks order
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

Only scan `posts` table if the site setting was actually changed
  db/migrate/20220302163246_update_avatar_service_domain.rb
  db/post_migrate/20220302171443_rebake_old_avatar_service_urls.rb
Due: rubocop

DEV: Add API scope for categories endpoint
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Introduce 'Subcategories with featured topics' view (#16083)
  app/assets/javascripts/discourse/app/models/category-list.js
  app/assets/javascripts/discourse/app/templates/components/subcategories-with-featured-topics.hbs
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/assets/stylesheets/common/base/category-list.scss
  app/controllers/categories_controller.rb
  app/models/category_list.rb
  app/models/category_page_style.rb
  config/locales/client.en.yml
  spec/requests/categories_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Refactor crawler veiw for topic-list
  app/views/list/list.erb
Due: none

DEV: Add API scope for categories endpoint (#16105)
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Remove remnants of nginx-perf-report plugin
  lib/plugin/metadata.rb
  lib/tasks/plugin.rake
Due: rubocop

UX: Refactor crawler view for topic-list (#16106)
  app/views/list/list.erb
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
