Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn pprettier --list-different **/*.js
    prettier-scss:
      run: yarn pprettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: yarn run ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Redo Sidekiq monitoring to restart stuck sidekiq processes
  app/jobs/base.rb
  app/jobs/regular/run_heartbeat.rb
  app/jobs/scheduled/heartbeat.rb
  config/unicorn.conf.rb
  lib/demon/base.rb
  lib/demon/sidekiq.rb
  lib/sidekiq/pausable.rb
  spec/jobs/heartbeat_spec.rb
  spec/jobs/jobs_spec.rb
  spec/lib/demon/sidekiq_spec.rb
  spec/multisite/pausable_spec.rb
Due: rubocop, syntax_tree

WIP: Cleanup mobile topic footer area
  app/assets/javascripts/discourse/app/components/topic-admin-menu.gjs
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.hbs
  app/assets/javascripts/discourse/app/components/topic-progress.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.gjs
  app/assets/javascripts/discourse/app/instance-initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-timeline-test.js
  app/assets/javascripts/select-kit/addon/components/notifications-button/notifications-button-row.js
  app/assets/javascripts/select-kit/addon/components/pinned-button.hbs
  app/assets/javascripts/select-kit/addon/components/pinned-button.js
  app/assets/javascripts/select-kit/addon/components/topic-footer-mobile-dropdown.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/topic-footer.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/topic-footer.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/topic-footer-mobile-dropdown.scss
  app/assets/stylesheets/mobile/topic-footer.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/assets/stylesheets/mobile/topic.scss
  app/assets/stylesheets/wcag.scss
  plugins/discourse-presence/assets/javascripts/discourse/connectors/topic-navigation-bottom/presence.hbs
  plugins/discourse-presence/assets/stylesheets/presence.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

FIX: topic_admin_menu_spec.rb
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree

FIX: ensures presence displays are only shown to logged in users
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.gjs
  plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.gjs
Due: none

FIX: Treat contact_url setting as a domain by default
  app/assets/javascripts/discourse/app/components/about-page.gjs
  app/assets/javascripts/discourse/tests/integration/components/about-page-test.gjs
Due: none

DEV: add plugin outlets to accommodate customizations
  app/assets/javascripts/discourse/app/components/latest-topic-list-item.hbs
  app/assets/javascripts/discourse/app/raw-templates/mobile/list/topic-list-item.hbr
Due: ember-template-lint

FIX: Searchable user fields do not always have an integer name
  app/models/user_custom_field.rb
  spec/models/user_custom_field_spec.rb
Due: rubocop, syntax_tree

FIX: remove wrong overflow:hidden
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss

DEV: d-select
  app/assets/javascripts/discourse/app/components/d-select.gjs
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/select.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/select/option.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/select-test.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/d-select.scss
  app/assets/stylesheets/common/form-kit/_control-input.scss
  app/assets/stylesheets/common/form-kit/_control-select.scss
Due: prettier-scss, ember-template-lint

linting
  app/assets/javascripts/discourse/app/components/d-select.gjs
  app/assets/javascripts/discourse/app/components/edit-topic-timer-form.hbs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/select-test.gjs
Due: ember-template-lint

UX: make the reply button the correct height on mobile
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box/dropdown-select-box-header.hbs
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss, ember-template-lint

fix spec
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/select.gjs
Due: none

Cleanup mobile topic footer area (#30132)
  app/assets/javascripts/discourse/app/components/topic-admin-menu.gjs
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.hbs
  app/assets/javascripts/discourse/app/components/topic-progress.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.gjs
  app/assets/javascripts/discourse/app/instance-initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-timeline-test.js
  app/assets/javascripts/select-kit/addon/components/dropdown-select-box/dropdown-select-box-header.hbs
  app/assets/javascripts/select-kit/addon/components/notifications-button/notifications-button-row.js
  app/assets/javascripts/select-kit/addon/components/pinned-button.hbs
  app/assets/javascripts/select-kit/addon/components/pinned-button.js
  app/assets/javascripts/select-kit/addon/components/topic-footer-mobile-dropdown.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/topic-footer.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/topic-footer.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/topic-footer-mobile-dropdown.scss
  app/assets/stylesheets/mobile/topic-footer.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/assets/stylesheets/mobile/topic.scss
  app/assets/stylesheets/wcag.scss
  plugins/discourse-presence/assets/javascripts/discourse/components/composer-presence-display.gjs
  plugins/discourse-presence/assets/javascripts/discourse/components/topic-presence-display.gjs
  plugins/discourse-presence/assets/javascripts/discourse/connectors/topic-navigation-bottom/presence.hbs
  plugins/discourse-presence/assets/stylesheets/presence.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

DEV: Upgrade dependencies to Ember 5.12 (#30131)
  .prettierignore
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/addon/deprecation-workflow.js
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/app/initializers/deprecation-this-property-fallback-handler.js
  app/assets/javascripts/discourse/app/instance-initializers/component-templates.js
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/integration/component-templates-test.gjs
  app/assets/javascripts/discourse/tests/unit/lib/ember-action-modifer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
  app/assets/javascripts/ember-production-deprecations/index.js
  app/assets/javascripts/ember-production-deprecations/package.json
  app/assets/javascripts/ember-production-deprecations/vendor/ember-production-deprecations/deprecate-shim.js
  app/assets/javascripts/float-kit/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/theme-transpiler/package.json
  app/models/theme.rb
  package.json
  patches/ember-source@5.12.0.patch
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  spec/lib/discourse_js_processor_spec.rb
  spec/system/ember_deprecation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax

UX: fix admin sidebar header width
  app/assets/stylesheets/common/base/sidebar.scss
Due: prettier-scss

add outletArgs
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
Due: none

UX: fix admin sidebar header width (#30226)
  app/assets/stylesheets/common/base/sidebar.scss
Due: prettier-scss

UX: add header-categories-wrapper outlet (#30214)
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
Due: none

FIX: Truncate bookmarks.name when remapping
  lib/db_helper.rb
  spec/lib/db_helper_spec.rb
Due: rubocop, syntax_tree

FIX: proper details / summary excerpt
  lib/excerpt_parser.rb
  spec/lib/excerpt_parser_spec.rb
  spec/lib/pretty_text_spec.rb
Due: rubocop, syntax_tree

Remove changes of "private" flagging
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Regression allowing async calls to finish before removing uploads
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
Due: prettier, eslint

FIX: Regression allowing async calls to finish before removing uploads (#30230)
  app/assets/javascripts/discourse/app/lib/uppy/composer-upload.js
Due: prettier, eslint

Remove private flagging 2
  plugins/discourse-narrative-bot/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

UX: Make checkboxes respect forum's accent color
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier-scss

Switch the glimmer post menu to auto and unsilence deprecations
  app/assets/javascripts/discourse-common/addon/deprecation-workflow.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/widgets/post.js
  app/serializers/current_user_serializer.rb
  config/site_settings.yml
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

Don't print using the glimmer post menu to the console when testing
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint

Added migration to remove the setting
  db/migrate/20241211030039_remove_glimmer_post_menu_groups_setting.rb
Due: rubocop, syntax_tree

FIX: Show validation error on confirmation user fields
  app/assets/javascripts/discourse/app/components/user-fields/confirm.hbs
  app/assets/javascripts/discourse/app/mixins/user-fields-validation.js
  config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Fix failing tests
  app/assets/javascripts/discourse/app/components/post/menu.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/edit.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like.gjs
  app/assets/javascripts/discourse/tests/acceptance/post-controls-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-tips-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.js
Due: prettier, eslint

UX: fix PM title editing layout
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

UX: Make checkboxes respect forum's accent color (#30231)
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier-scss

DEV: Improve tests and fixes small issues in the Glimmer Post Menu
  app/assets/javascripts/discourse/app/components/post/menu.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/edit.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like.gjs
  app/assets/javascripts/discourse/tests/acceptance/post-controls-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-tips-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-stream-test.js
Due: prettier, eslint

UX: fix PM title editing layout (#30233)
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

js tests
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/javascripts/discourse/tests/helpers/d-select-assertions.js
  app/assets/javascripts/discourse/tests/helpers/d-select-helper.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint

UX: Make radio buttons respect forum's accent color
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier-scss

DEV: add full_move to MovedPost record small_action modifier
  app/models/post_mover.rb
  db/migrate/20241211222608_add_full_move_to_moved_post_records.rb
  spec/models/post_mover_spec.rb
Due: rubocop, syntax_tree

Annotate
  app/models/moved_post.rb
Due: rubocop, syntax_tree

FIX: Link to group didn't work in locales other than English
  plugins/discourse-narrative-bot/config/locales/server.en.yml
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/new_user_narrative_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

UX: Make radio buttons respect forum's accent color (#30235)
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier-scss
