Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn run ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: ranked choice results not showing on first vote
  plugins/poll/assets/javascripts/discourse/components/poll-results-ranked-choice.gjs
Due: none

FIX: Fix incorrect check for required custom fields (#28541)
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop, syntax_tree

DEV: Add ability to find converters
  migrations/.gitignore
  migrations/README.md
  migrations/lib/converters.rb
  migrations/lib/migrations.rb
  migrations/spec/lib/converters_spec.rb
  migrations/spec/lib/migrations_spec.rb
Due: rubocop, syntax_tree

DEV: Small refactor of `Connection` class and adds tests
  migrations/lib/intermediate_db/connection.rb
  migrations/lib/intermediate_db/migrator.rb
  migrations/spec/lib/intermediate_db/connection_spec.rb
Due: rubocop, syntax_tree

DEV: More refactoring, more tests, converter CLI is starting to work
  migrations/bin/cli
  migrations/lib/cli/convert_command.rb
  migrations/lib/cli/import_command.rb
  migrations/lib/cli/upload_command.rb
  migrations/lib/converters.rb
  migrations/lib/converters/discourse/settings.yml
  migrations/lib/converters/pepper/settings.yml
  migrations/lib/intermediate_db/connection.rb
  migrations/lib/intermediate_db/prepared_statement_cache.rb
  migrations/lib/migrations.rb
  migrations/spec/lib/converters_spec.rb
  migrations/spec/lib/intermediate_db/prepared_statement_cache_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Do not ignore SQL in fixtures
  migrations/.gitignore
  migrations/spec/fixtures/schema/copy/schema.sql
  migrations/spec/fixtures/schema/invalid/001-invalid.sql
  migrations/spec/fixtures/schema/one/001-first-table.sql
  migrations/spec/fixtures/schema/two/001-first-table.sql
  migrations/spec/fixtures/schema/two/002-second-table.sql
Due: none

DEV: Fix benchmark and record the latest benchmark results
  migrations/scripts/benchmarks/RESULTS.md
  migrations/scripts/benchmarks/write.rb
Due: rubocop, syntax_tree

REFACTOR: Move some methods into `Migrations::IntermediateDB`
  migrations/lib/intermediate_db.rb
  migrations/lib/intermediate_db/connection.rb
  migrations/lib/intermediate_db/migrator.rb
  migrations/spec/lib/intermediate_db/connection_spec.rb
  migrations/spec/lib/intermediate_db/migrator_spec.rb
  migrations/spec/lib/intermediate_db/prepared_statement_cache_spec.rb
  migrations/spec/lib/intermediate_db_spec.rb
Due: rubocop, syntax_tree

DEV: Extract each CLI command into a file
  migrations/bin/cli
  migrations/lib/cli/convert_command.rb
  migrations/lib/cli/import_command.rb
  migrations/lib/cli/upload_command.rb
Due: rubocop, syntax_tree

REFACTOR: Converter framework
  .github/dependabot.yml
  Gemfile
  Gemfile.lock
  migrations/README.md
  migrations/bin/cli
  migrations/bin/convert
  migrations/bin/import
  migrations/config/gemfiles/README.md
  migrations/config/gemfiles/common/Gemfile
  migrations/db/schema/001-config.sql
  migrations/db/schema/001-schema_migrations.sql
  migrations/db/schema/002-log_entries.sql
  migrations/lib/cli/thor_ext.rb
  migrations/lib/common/intermediate_database_migrator.rb
  migrations/lib/converters/discourse/main.rb
  migrations/lib/intermediate_db/connection.rb
  migrations/lib/intermediate_db/migrator.rb
  migrations/lib/intermediate_db/prepared_statement_cache.rb
  migrations/lib/migrations.rb
  migrations/scripts/generate_schema
  migrations/spec/bin/cli_spec.rb
  migrations/spec/lib/intermediate_db/migrator_spec.rb
  migrations/spec/lib/migrations_spec.rb
  migrations/spec/rails_helper.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Add specs for `PreparedStatementCache`
  Gemfile
  migrations/lib/intermediate_db/prepared_statement_cache.rb
  migrations/spec/lib/intermediate_db/prepared_statement_cache_spec.rb
  migrations/spec/rails_helper.rb
Due: rubocop, syntax_tree

DEV: Upgrade extralite-bundle to include an important fix
  Gemfile.lock
Due: none

REFACTOR: Rename `IntermediateDB` module to `Database`
  migrations/lib/database.rb
  migrations/lib/database/connection.rb
  migrations/lib/database/migrator.rb
  migrations/lib/database/prepared_statement_cache.rb
  migrations/lib/migrations.rb
  migrations/spec/lib/database/connection_spec.rb
  migrations/spec/lib/database/migrator_spec.rb
  migrations/spec/lib/database/prepared_statement_cache_spec.rb
  migrations/spec/lib/database_spec.rb
Due: rubocop, syntax_tree

DEV: Make GitHub Actions work again
  .github/workflows/migration-tests.yml
  Gemfile
  Gemfile.lock
  migrations/README.md
  migrations/lib/cli/convert_command.rb
  migrations/lib/converters/.gitkeep
  migrations/lib/converters/discourse/main.rb
  migrations/lib/converters/pepper/main.rb
  migrations/lib/migrations.rb
  migrations/spec/bin/cli_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Work on CLI
  migrations/README.md
  migrations/lib/cli/convert_command.rb
  migrations/lib/cli/import_command.rb
  migrations/lib/cli/thor_ext.rb
  migrations/lib/cli/upload_command.rb
Due: rubocop, syntax_tree

Remove duplicate gem from Gemfile
  Gemfile
Due: none

WIP
  migrations/bin/cli
  migrations/lib/cli/convert_command.rb
  migrations/lib/converters/base_converter.rb
  migrations/lib/converters/item_handler.rb
  migrations/lib/converters/pepper/settings.yml
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/database/formatter.rb
  migrations/lib/intermediate_db.rb
  migrations/lib/intermediate_db/log_entry.rb
Due: rubocop, syntax_tree, yaml-syntax

FEATURE: Make `Migrations::Database` work for IntermediateDB and UploadsDB
  migrations/.gitignore
  migrations/db/intermediate_db_schema/001-config.sql
  migrations/db/intermediate_db_schema/002-log_entries.sql
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/db/uploads_db_schema/100-base-schema.sql
  migrations/lib/cli/convert_command.rb
  migrations/lib/database.rb
  migrations/lib/database/migrator.rb
  migrations/spec/lib/database/migrator_spec.rb
  migrations/spec/lib/database_spec.rb
Due: rubocop, syntax_tree

Update gem
  migrations/scripts/benchmarks/hash_vs_data.rb
  migrations/scripts/benchmarks/parameter_binding.rb
  migrations/scripts/benchmarks/write.rb
Due: rubocop, syntax_tree

more tests for `Connection`
  migrations/lib/common/fork_manager.rb
  migrations/lib/converters/base/parallel_job.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/worker.rb
  migrations/lib/database/connection.rb
  migrations/spec/lib/database/connection_spec.rb
Due: rubocop, syntax_tree

Load all steps
  migrations/lib/converters/base/progress_step.rb
  migrations/lib/converters/base/step.rb
  migrations/lib/converters/pepper/converter.rb
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/converters/pepper/steps/subdirectory/step4.rb
  migrations/lib/migrations.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/converters/base_step.rb
  migrations/lib/converters/discourse/steps/users.rb
  migrations/lib/converters/progress_stats.rb
  migrations/lib/converters/progress_step.rb
  migrations/lib/converters/worker.rb
Due: rubocop, syntax_tree

simplify and remove journal_mode
  migrations/lib/database/connection.rb
  migrations/spec/lib/database/connection_spec.rb
Due: rubocop, syntax_tree

Switch to parallel
  migrations/lib/converters/pepper/steps/step2.rb
Due: rubocop, syntax_tree

Run step in parallel
  migrations/lib/cli/convert_command.rb
  migrations/lib/common/fork_manager.rb
  migrations/lib/converters/base/old_step_executor.rb
  migrations/lib/converters/base/parallel_job.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/serial_job.rb
  migrations/lib/converters/base/worker.rb
  migrations/lib/converters/pepper/converter.rb
  migrations/lib/converters/pepper/steps/step2.rb
  migrations/lib/converters/pepper/steps/step3.rb
  migrations/lib/database/connection.rb
  migrations/lib/database/intermediate_db.rb
  migrations/lib/database/intermediate_db/log_entry.rb
  migrations/lib/database/intermediate_db/user.rb
  migrations/lib/database/offline_connection.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/converters/base_step.rb
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/fork_manager.rb
Due: rubocop, syntax_tree

progressbar
  migrations/bin/cli
  migrations/config/locales/migrations.en.yml
  migrations/lib/common/extended_progress_bar.rb
  migrations/lib/converters/base/old_step_executor.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/pepper/steps/step2.rb
  migrations/lib/migrations.rb
Due: rubocop, syntax_tree, yaml-syntax

Optimizing namespaces and trying to make it easier to type common code
  migrations/lib/common/fork_manager.rb
  migrations/lib/converters/base/basic_step.rb
  migrations/lib/converters/base/converter.rb
  migrations/lib/converters/base/item_handler.rb
  migrations/lib/converters/base/progress_stats.rb
  migrations/lib/converters/base/progress_step.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/worker.rb
  migrations/lib/converters/discourse/converter.rb
  migrations/lib/converters/pepper/converter.rb
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/converters/pepper/steps/step2.rb
  migrations/lib/converters/pepper/steps/step3.rb
  migrations/lib/database.rb
  migrations/lib/database/formatter.rb
  migrations/lib/database/intermediate_db.rb
  migrations/lib/database/intermediate_db/log_entry.rb
  migrations/lib/migrations.rb
Due: rubocop, syntax_tree

remove ThorExt for now
  migrations/bin/cli
  migrations/lib/cli/thor_ext.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/database/formatter.rb
  migrations/lib/intermediate_db.rb
  migrations/lib/intermediate_db/log_entry.rb
Due: rubocop, syntax_tree

improve DB connection handling with forks
  migrations/lib/common/fork_manager.rb
  migrations/lib/converters/base/parallel_job.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/worker.rb
  migrations/lib/converters/pepper/converter.rb
  migrations/lib/database/connection.rb
  migrations/lib/database/intermediate_db.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/converters/base_converter.rb
  migrations/lib/converters/base_step.rb
  migrations/lib/converters/item_handler.rb
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/converters/pepper/steps/step2.rb
  migrations/lib/converters/pepper/steps/step3.rb
  migrations/lib/converters/progress_step_executor.rb
  migrations/lib/converters/worker.rb
  migrations/lib/fork_manager.rb
Due: rubocop, syntax_tree

WIP: progressbar stuff
  migrations/lib/common/date_helper.rb
  migrations/lib/common/extended_progress_bar.rb
  migrations/lib/common/fork_manager.rb
  migrations/lib/converters/base/converter.rb
  migrations/lib/converters/base/old_step_executor.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/step.rb
  migrations/lib/converters/base/step_executor.rb
  migrations/lib/converters/base/worker.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/cli/convert_command.rb
  migrations/lib/converters.rb
  migrations/lib/converters/base_converter.rb
  migrations/lib/converters/base_step.rb
  migrations/lib/converters/discourse/converter.rb
  migrations/lib/converters/discourse/main.rb
  migrations/lib/converters/pepper/converter.rb
  migrations/lib/converters/pepper/steps/step1.rb
  migrations/lib/converters/pepper/steps/step2.rb
  migrations/lib/converters/pepper/steps/step3.rb
  migrations/lib/fork_manager.rb
  migrations/lib/migrations.rb
Due: rubocop, syntax_tree

Fix existing specs
  migrations/lib/database/connection.rb
  migrations/spec/lib/database/connection_spec.rb
  migrations/spec/lib/database_spec.rb
Due: rubocop, syntax_tree

We might not need Rails environment for converters
  migrations/lib/cli/convert_command.rb
Due: rubocop, syntax_tree

WIP
  migrations/lib/converters/base_step.rb
  migrations/lib/converters/pepper/steps/step1.rb
Due: rubocop, syntax_tree

Update Bundler
  Gemfile.lock
Due: none

WIP
  migrations/config/locales/migrations.en.yml
  migrations/lib/converters/base/old_step_executor.rb
  migrations/lib/converters/base/progress_step_executor.rb
  migrations/lib/converters/base/step.rb
  migrations/lib/database/intermediate_db.rb
Due: rubocop, syntax_tree, yaml-syntax

improve API for logging errors/warnings
  migrations/lib/converters/base/progress_stats.rb
  migrations/lib/database/intermediate_db/log_entry.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
