Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Rearrange shortcut and checkmark for toolbar popup menu options
  app/assets/javascripts/discourse/app/components/d-button.gjs
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/toolbar-popup-menu-options.scss
  plugins/discourse-local-dates/assets/javascripts/initializers/discourse-local-dates.js
Due: prettier, prettier-scss, eslint

DEV: Minor fixes
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  app/assets/javascripts/discourse/app/static/prosemirror/lib/plugin-utils.js
Due: prettier, eslint

UX: Horizon mobile composer
  themes/horizon/scss/composer.scss
  themes/horizon/scss/misc.scss
Due: prettier-scss

FEATURE: Make it easier for staff to see if a profile is silenced
  app/assets/javascripts/discourse/app/components/user-card-contents.gjs
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/user.gjs
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/controllers/users_controller.rb
  app/models/user.rb
  app/serializers/user_card_serializer.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/user_guardian.rb
  plugins/styleguide/assets/javascripts/discourse/components/sections/organisms/user-about.gjs
  spec/lib/guardian_spec.rb
  spec/models/user_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

fix: remove silenced from serializer
  app/assets/javascripts/discourse/app/components/user-card-contents.gjs
  app/serializers/admin_user_list_serializer.rb
Due: rubocop, syntax_tree

rename: isNotSuspended -> isNotRestricted
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/templates/user.gjs
Due: prettier, eslint

add spec for staff_info
  app/assets/javascripts/discourse/tests/acceptance/user-card-test.js
  spec/system/page_objects/pages/user.rb
  spec/system/user_page/staff_info_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

update link
  plugins/discourse-reactions/plugin.rb
Due: rubocop, syntax_tree

translation
  plugins/discourse-reactions/translator.yml
  translator.yml
Due: yaml-syntax

disable rules
  plugins/discourse-reactions/test/javascripts/acceptance/deleted-post-test.js
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-disabled-test.js
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-enabled-test.js
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-notifications-test.js
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-post-test.js
Due: prettier, eslint

dev: adds tests for unread messages - take 1
  spec/system/page_objects/components/navigation_menu/sidebar.rb
  spec/system/viewing_sidebar_spec.rb
Due: rubocop, syntax_tree

Update spec/lib/topics_bulk_action_spec.rb
  spec/lib/topics_bulk_action_spec.rb
Due: rubocop, syntax_tree

Update translations (#33517)
  config/locales/client.hr.yml
  config/locales/client.hu.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ug.yml
  config/locales/server.hu.yml
  config/locales/server.pl_PL.yml
  config/locales/server.ug.yml
  plugins/automation/config/locales/client.hu.yml
  plugins/chat/config/locales/client.hu.yml
  plugins/chat/config/locales/client.pl_PL.yml
  plugins/chat/config/locales/server.hu.yml
  plugins/chat/config/locales/server.pl_PL.yml
Due: yaml-syntax

DEV: Load admin JS bundles from plugins for staff users
  app/views/layouts/application.html.erb
  app/views/qunit/theme.html.erb
  lib/discourse.rb
  plugins/chat/admin/assets/javascripts/discourse/initializers/chat-admin-plugin-configuration-nav.js
Due: rubocop, syntax_tree, prettier, eslint

DEV: Locale shouldn't be created on post when localization disabled
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint

FIX: removes + from RTE toggle tooltip
  app/assets/javascripts/discourse/app/components/composer/toggle-switch.gjs
Due: none

DEV: Locale should be null by default
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint

DEV: Upgrade Rails to version 8.0.2
  Gemfile
  Gemfile.lock
  config/routes.rb
  lib/freedom_patches/fast_pluck.rb
Due: rubocop, syntax_tree

WIP: fix annotations
  app/models/directory_item.rb
  app/models/incoming_email.rb
  app/models/post_custom_field.rb
  app/models/post_revision.rb
  app/models/topic_custom_field.rb
  app/models/user_custom_field.rb
  app/models/user_option.rb
  lib/sidekiq_migration.rb
Due: rubocop, syntax_tree

WIP: use annotaterb
  .annotaterb.yml
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  bin/annotaterb
  lib/tasks/annotate.rake
  lib/tasks/annotate_rb.rake
  lib/tasks/auto_annotate_models.rake
Due: syntax_tree, yaml-syntax

WIP: fix annotations take 2
  app/models/directory_item.rb
  app/models/incoming_email.rb
  app/models/topic_custom_field.rb
  app/models/user_custom_field.rb
  app/models/user_option.rb
  lib/tasks/annotate.rake
Due: rubocop, syntax_tree

WIP: fix fast_pluck
  lib/freedom_patches/fast_pluck.rb
Due: rubocop, syntax_tree

WIP: use db:migrate:reset on CI
  .github/workflows/tests.yml
Due: yaml-syntax

WIP: remove SQL comments from annotations
  .annotaterb.yml
Due: yaml-syntax

WIP: fix CI for chat system specs
  .github/workflows/tests.yml
Due: yaml-syntax

WIP: update benchmark script
  script/bench.rb
Due: rubocop, syntax_tree

WIP: try loading plugins when migrating db
  .github/workflows/tests.yml
Due: yaml-syntax

WIP: drop fast_pluck
  lib/freedom_patches/fast_pluck.rb
Due: rubocop, syntax_tree

WIP: fix chat system specs on CI
  .github/workflows/tests.yml
Due: yaml-syntax

WIP: enable Rails 8 defaults
  config/application.rb
Due: rubocop, syntax_tree

WIP: fix specs
  app/controllers/categories_controller.rb
  spec/requests/application_controller_spec.rb
  spec/requests/list_controller_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

DEV: locale default values
  app/assets/javascripts/discourse/app/components/d-editor-original-translation-preview.gjs
  app/assets/javascripts/discourse/app/components/modal/post-translations.gjs
  app/assets/javascripts/discourse/app/models/composer.js
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint

DEV: update spec
  spec/system/post_translation_spec.rb
Due: rubocop, syntax_tree

FIX: Also update topic locale on creation
  lib/topic_creator.rb
  spec/lib/topic_creator_spec.rb
Due: rubocop, syntax_tree

UX: classname change, active-icon and shortcut styling
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/toolbar-popup-menu-options.scss
Due: prettier-scss

fix spacing in classname
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
Due: none

UX: keep hover effect on expanded toolbar-menu
  app/assets/stylesheets/common/d-editor.scss
Due: prettier-scss

UX: apply spacing to both menus
  app/assets/stylesheets/common/toolbar-popup-menu-options.scss
Due: prettier-scss
