Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

FEATURE: Abbreviate large GitHub repository counts
  lib/onebox/engine/github_repo_onebox.rb
  spec/lib/onebox/engine/github_repo_onebox_spec.rb
Due: rubocop, syntax_tree

POC: Overlap upload streaming with the database dump
  lib/backup_restore/creator.rb
  spec/lib/backup_restore/creator_spec.rb
  spec/lib/backup_restore/parallel_database_backup_spec.rb
  spec/multisite/backup_creator_spec.rb
Due: rubocop, syntax_tree

POC: Upload backup multipart parts concurrently
  config/discourse_defaults.conf
  lib/backup_restore/creator.rb
  lib/backup_restore/multipart_writer.rb
  lib/backup_restore/s3_backup_store.rb
  spec/lib/backup_restore/creator_spec.rb
  spec/lib/backup_restore/multipart_writer_spec.rb
  spec/lib/backup_restore/s3_backup_store_spec.rb
Due: rubocop, syntax_tree

UX: move UC composer redesign to beta
  config/site_settings.yml
Due: yaml-syntax

UX: move UC composer redesign to beta (#44291)
  config/site_settings.yml
Due: yaml-syntax

DEV: Add a `renderEngine` helper to the property engine tests
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/property-engine-test.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Add an `emoji` property type to workflows
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/field-control-registry.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/property-engine.js
  plugins/discourse-workflows/lib/discourse_workflows/property_schema_validator.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/property-engine-test.gjs
  plugins/discourse-workflows/test/javascripts/unit/lib/workflows-property-engine-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FEATURE: Add a "Like post" action and a "Post liked" trigger to workflows
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/ai/tools/workflow_node_catalog.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/post_like/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/post_like_changed/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/post_like_changed_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/post_like_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Add reaction actions and triggers to workflows
  plugins/discourse-reactions/app/services/discourse_reactions/reaction_manager.rb
  plugins/discourse-reactions/config/locales/client.en.yml
  plugins/discourse-reactions/config/locales/server.en.yml
  plugins/discourse-reactions/lib/discourse_reactions/mcp_tools.rb
  plugins/discourse-reactions/lib/discourse_workflows/nodes/post_reaction/v1.rb
  plugins/discourse-reactions/lib/discourse_workflows/nodes/post_reaction_changed/v1.rb
  plugins/discourse-reactions/plugin.rb
  plugins/discourse-reactions/spec/lib/discourse_reactions/mcp_tools_spec.rb
  plugins/discourse-reactions/spec/lib/discourse_workflows/nodes/post_reaction_changed_spec.rb
  plugins/discourse-reactions/spec/lib/discourse_workflows/nodes/post_reaction_spec.rb
  plugins/discourse-reactions/spec/services/post_reaction/toggle_spec.rb
  plugins/discourse-reactions/spec/services/reaction_manager_spec.rb
  plugins/discourse-workflows/lib/discourse_workflows/ai/tools/workflow_node_catalog.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: Extract a shared `actor_property` for workflow nodes
  plugins/boards/lib/discourse_workflows/nodes/create_board/v1.rb
  plugins/boards/lib/discourse_workflows/nodes/create_board_column/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_type.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/badge/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_post/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_user/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/group/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/post/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/site_setting_update/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/tag_group/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_category/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_moderation/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_pin/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_tags/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/user/v1.rb
Due: rubocop, syntax_tree

DEV: Share the "changes" filter between workflow triggers
  plugins/discourse-solved/lib/discourse_workflows/nodes/solution_changed/v1.rb
  plugins/discourse-solved/spec/lib/discourse_workflows/nodes/solution_changed_spec.rb
  plugins/discourse-workflows/lib/discourse_workflows/node_type.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_timer_changed/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/user_moderation_changed/v1.rb
  plugins/discourse-workflows/spec/support/node_execution_helpers.rb
Due: rubocop, syntax_tree

FIX: test for composer redesign beta phase
  config/locales/client.en.yml
  frontend/discourse/app/models/composer.js
  spec/system/composer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

FIX: test for composer redesign beta phase (#44292)
  config/locales/client.en.yml
  frontend/discourse/app/models/composer.js
  spec/system/composer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

PERF: Skip HEAD requests when backing up S3 uploads
  lib/backup_restore/creator.rb
  lib/file_store/s3_store.rb
  lib/s3_helper.rb
  spec/lib/backup_restore/creator_spec.rb
  spec/lib/file_store/s3_store_spec.rb
Due: rubocop, syntax_tree

UX: Show category badges in AI edit descriptions
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/agents/tools/edit_category.rb
  plugins/discourse-ai/spec/lib/agents/tools/edit_category_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Set upcoming events composer category
  plugins/discourse-events/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-events/config/locales/server.en.yml
  plugins/discourse-events/config/settings.yml
  plugins/discourse-events/test/javascripts/acceptance/calendar-click-to-create-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Extract reusable query generation and extend AI tool discovery
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/spec/models/reviewable_ai_tool_action_spec.rb
  plugins/discourse-data-explorer/app/jobs/regular/generate_de_query_with_ai.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/query_generation.rb
  plugins/discourse-data-explorer/plugin.rb
  plugins/discourse-data-explorer/spec/jobs/regular/generate_de_query_with_ai_spec.rb
  plugins/discourse-data-explorer/spec/lib/query_generation_spec.rb
Due: rubocop, syntax_tree

UX: Show category badges in AI edit descriptions (#44293)
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/agents/tools/edit_category.rb
  plugins/discourse-ai/spec/lib/agents/tools/edit_category_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Set upcoming events composer category (#44294)
  plugins/discourse-events/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-events/config/locales/server.en.yml
  plugins/discourse-events/config/settings.yml
  plugins/discourse-events/test/javascripts/acceptance/calendar-click-to-create-test.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Apply Ruby formatting
  plugins/discourse-ai/spec/models/reviewable_ai_tool_action_spec.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/query_generation.rb
  plugins/discourse-data-explorer/spec/lib/query_generation_spec.rb
Due: rubocop, syntax_tree

DEV: Exercise plugin tool registration in approval spec
  plugins/discourse-ai/spec/models/reviewable_ai_tool_action_spec.rb
Due: rubocop, syntax_tree

FEATURE: Add workflow filters to the review queue
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_post/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_user/v1.rb
  plugins/discourse-workflows/plugin.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/flag_post_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/flag_user_spec.rb
  plugins/discourse-workflows/spec/requests/reviewables_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Preserve workflow flag provenance across review sources
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_post/v1.rb
  plugins/discourse-workflows/lib/discourse_workflows/nodes/flag_user/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/flag_post_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/flag_user_spec.rb
  plugins/discourse-workflows/spec/requests/reviewables_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Disclose the snapshot time of repository metadata
  app/assets/stylesheets/common/base/onebox.scss
  config/locales/server.en.yml
  lib/onebox/engine/github_repo_onebox.rb
  lib/onebox/templates/githubrepo.mustache
  spec/lib/onebox/engine/github_repo_onebox_spec.rb
Due: rubocop, syntax_tree, prettier, yaml-syntax, i18n-lint, stylelint

UX: fix category name overflow on mobile categories list
  app/assets/stylesheets/common/base/category-list.scss
Due: prettier, stylelint

DEV: Translate the a11y announcement separator and pin composition
  config/locales/client.en.yml
  frontend/discourse/app/services/a11y.js
  frontend/discourse/tests/integration/components/a11y/live-regions-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Record what is settled for the held a11y composition layer
  docs/select-kit-replacement/PR-SPLIT.md
Due: none

UX: fix category name overflow on mobile categories list (#44297)
  app/assets/stylesheets/common/base/category-list.scss
Due: prettier, stylelint

DEV: Cover workflow review filters in a system spec
  plugins/discourse-workflows/spec/system/filter_review_queue_spec.rb
  plugins/discourse-workflows/spec/system/page_objects/pages/workflow_editor.rb
  spec/system/page_objects/pages/review_index.rb
Due: rubocop, syntax_tree

DEV: Add workflow review queue screenshots
  review-queue.png
  workflow-name.png
Due: none

UX: fix various issues caused by disabling emoji
  config/locales/client.en.yml
  frontend/discourse/admin/components/upsert-category/general.gjs
  frontend/discourse/app/components/category-card-contents.gjs
  frontend/discourse/app/lib/category-style-type.js
  frontend/discourse/app/lib/hashtag-types/category.js
  frontend/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  frontend/discourse/app/ui-kit/helpers/d-category-link.js
  frontend/discourse/app/ui-kit/helpers/d-emoji.js
  frontend/discourse/tests/acceptance/category-edit-test.js
  frontend/discourse/tests/integration/ui-kit/helpers/d-emoji-test.gjs
  frontend/discourse/tests/unit/lib/category-badge-test.js
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/channel/empty-state.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-name.gjs
  plugins/chat/assets/javascripts/discourse/components/upsert-category/chat.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.gjs
  plugins/chat/spec/system/react_to_message_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-actions.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-counter.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-list.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-reaction-button.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/helpers/discourse-reactions-emoji.js
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_button.rb
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_list.rb
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_popup.rb
  plugins/discourse-reactions/spec/system/reactions_post_spec.rb
  plugins/discourse-reactions/test/javascripts/integration/helpers/discourse-reactions-emoji-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

UX: fix various issues caused by disabling emoji (#44309)
  config/locales/client.en.yml
  frontend/discourse/admin/components/upsert-category/general.gjs
  frontend/discourse/app/components/category-card-contents.gjs
  frontend/discourse/app/lib/category-style-type.js
  frontend/discourse/app/lib/hashtag-types/category.js
  frontend/discourse/app/lib/sidebar/user/categories-section/category-section-link.js
  frontend/discourse/app/ui-kit/helpers/d-category-link.js
  frontend/discourse/app/ui-kit/helpers/d-emoji.js
  frontend/discourse/tests/acceptance/category-edit-test.js
  frontend/discourse/tests/integration/ui-kit/helpers/d-emoji-test.gjs
  frontend/discourse/tests/unit/lib/category-badge-test.js
  plugins/chat/assets/javascripts/discourse/components/channel-icon/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/channel/empty-state.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/create-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/modal/edit-channel-name.gjs
  plugins/chat/assets/javascripts/discourse/components/upsert-category/chat.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/assets/javascripts/discourse/templates/preferences/chat.gjs
  plugins/chat/spec/system/react_to_message_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-actions.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-counter.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-list.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-reaction-button.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-users-menu.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/helpers/discourse-reactions-emoji.js
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_button.rb
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_list.rb
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_popup.rb
  plugins/discourse-reactions/spec/system/reactions_post_spec.rb
  plugins/discourse-reactions/test/javascripts/integration/helpers/discourse-reactions-emoji-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Cover four untested DSelect interaction paths
  docs/select-kit-replacement/PHASE-1.md
  frontend/discourse/tests/integration/ui-kit/select/d-select-bridge-test.gjs
  frontend/discourse/tests/integration/ui-kit/select/d-select-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Define how DSelect reads a held array when multiple turns off
  docs/select-kit-replacement/PHASE-1.md
  frontend/discourse/app/ui-kit/select/-internals/coordinators/variant-presenter.ts
  frontend/discourse/app/ui-kit/select/-internals/engine/select-options.ts
  frontend/discourse/app/ui-kit/select/-internals/engine/selection-actions.ts
  frontend/discourse/app/ui-kit/select/-internals/engine/value-resolver.ts
  frontend/discourse/tests/integration/ui-kit/select/d-select-test.gjs
  frontend/discourse/tests/unit/ui-kit/select-engine-test.js
Due: prettier, eslint, ember-template-lint

FIX: Preserve code block whitespace
  frontend/discourse/app/lib/codeblock-buttons.js
  frontend/discourse/tests/unit/lib/codeblock-buttons-test.js
Due: prettier, eslint

DEV: Add a :loadingItem block to DSelect
  docs/select-kit-replacement/PHASE-1.md
  frontend/discourse/app/ui-kit/select/-internals/parts/select-listbox.gts
  frontend/discourse/app/ui-kit/select/d-select.gts
  frontend/discourse/tests/integration/ui-kit/select/d-select-async-test.gjs
  frontend/discourse/tests/integration/ui-kit/select/d-select-virtual-list-test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/examples/molecules/select/pickers/reviewers.gjs
Due: prettier, eslint, ember-template-lint

DEV: Label unresolved DSelect values the same way everywhere
  app/assets/stylesheets/common/components/d-combobox.scss
  config/locales/client.en.yml
  docs/select-kit-replacement/PHASE-1.md
  frontend/discourse/app/ui-kit/select/-internals/coordinators/select-announcer.ts
  frontend/discourse/app/ui-kit/select/-internals/coordinators/variant-presenter.ts
  frontend/discourse/app/ui-kit/select/-internals/parts/multi-chips.gts
  frontend/discourse/app/ui-kit/select/-internals/parts/selection-label.gts
  frontend/discourse/app/ui-kit/select/-internals/parts/single-trigger-display.gts
  frontend/discourse/app/ui-kit/select/select-engine.ts
  frontend/discourse/tests/integration/ui-kit/select/d-select-async-test.gjs
  frontend/discourse/tests/integration/ui-kit/select/d-select-reactivity-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
