Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Update `js-yaml`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `html-entities`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `ember-qunit`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `ember-cli-terser`
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `ember-cli-app-version`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `@glimmer/tracking` (#17248)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `js-yaml` (#17249)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `ember-cli-terser` (#17252)
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `ember-cli-app-version` (#17253)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

Revert "DEV: Update @ember/test-helpers"
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `html-entities` (#17250)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

Lock to 2.6.2
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

FEATURE: Validate tags in WatchedWords
  app/models/watched_word.rb
  config/locales/server.en.yml
  spec/models/watched_word_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Deprecate `DISCOURSE_DEV_HOSTS` (#17245)
  config/environments/development.rb
Due: rubocop

DEV: Don't template-lint all files in lefthook
  lefthook.yml
Due: yaml-syntax

DEV: Don't template-lint all files in lefthook (#17255)
  lefthook.yml
Due: yaml-syntax

fix tests
  spec/lib/post_creator_spec.rb
  spec/requests/admin/watched_words_controller_spec.rb
Due: rubocop

fix test leak
  spec/requests/admin/watched_words_controller_spec.rb
Due: rubocop

Use opts.delete to check :skip_topic_stats and remove key from hash
  app/models/post.rb
Due: rubocop

FEATURE: Validate tags in WatchedWords (#17254)
  app/models/watched_word.rb
  config/locales/server.en.yml
  spec/lib/post_creator_spec.rb
  spec/models/watched_word_spec.rb
  spec/requests/admin/watched_words_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: Fix bulk_invite flaky tests
  spec/requests/invites_controller_spec.rb
Due: rubocop

Remove bulk_invite csv test
  spec/requests/invites_controller_spec.rb
Due: rubocop

FIX: Fix bulk_invite flaky tests (#17256)
  spec/requests/invites_controller_spec.rb
Due: rubocop

DEV: Auto-allow multisite hosts in dev (#17246)
  config/initializers/200-first_middlewares.rb
Due: rubocop

Replace MessageBus.expects(:publish) pattern by MessageBus.track_publish on specs
  spec/lib/post_action_creator_spec.rb
  spec/lib/post_action_destroyer_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/models/post_spec.rb
  spec/models/topic_spec.rb
Due: rubocop

UX: Update topics stats automatically (#17135)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/models/post.rb
  app/models/topic.rb
  lib/post_creator.rb
  lib/post_destroyer.rb
  spec/lib/post_action_creator_spec.rb
  spec/lib/post_action_destroyer_spec.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_destroyer_spec.rb
  spec/models/post_spec.rb
  spec/models/topic_spec.rb
Due: rubocop, prettier, eslint-js

FIX: improvements after code review
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/models/concerns/roleable.rb
  app/models/group_user.rb
  app/models/site_setting.rb
  app/models/topic_tracking_state.rb
  app/models/user_stat.rb
  spec/lib/search_spec.rb
  spec/models/private_message_topic_tracking_state_spec.rb
  spec/models/user_spec.rb
  spec/serializers/user_post_bookmark_serializer_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Move sidebar utility class to body tag
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-test.js
  app/assets/stylesheets/desktop/discourse.scss
Due: prettier, eslint-js

Update spec/models/user_spec.rb
  spec/models/user_spec.rb
Due: rubocop

Update app/models/concerns/roleable.rb
  app/models/concerns/roleable.rb
Due: rubocop

Change copy for user-selector placeholder
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

Update spec/lib/bookmark_query_spec.rb
  spec/lib/bookmark_query_spec.rb
  spec/lib/search_spec.rb
  spec/lib/topic_query_spec.rb
  spec/lib/topic_view_spec.rb
  spec/lib/unread_spec.rb
  spec/models/private_message_topic_tracking_state_spec.rb
  spec/models/topic_spec.rb
  spec/models/topic_tracking_state_spec.rb
  spec/models/user_spec.rb
Due: rubocop

Use "or" instead of "/"
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Forward asset requests
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

DEV: Allow newer versions of node
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/lib/bootstrap-json/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  bin/ember-cli
  package.json
Due: none

DEV: Update `webpack`
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  app/assets/javascripts/yarn.lock
Due: none

UX: update color on arrow tippy box
  app/assets/stylesheets/common/base/d-popover.scss
Due: none

UX: Change copy for user-selector placeholder (#17260)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: update color on arrow tippy box (#17263)
  app/assets/stylesheets/common/base/d-popover.scss
Due: none
