Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Remove 'htmlSafe' string prototype extensions (#16828)
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/build-private-messages-route.js
  app/assets/javascripts/discourse/app/routes/user-activity-index.js
Due: prettier, eslint-js

Delete .eslintrc
  .eslintrc
Due: none

Delete .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Delete Gemfile.lock
  Gemfile.lock
Due: none

Delete .prettierignore
  .prettierignore
Due: none

Delete Brewfile
  Brewfile
Due: none

Delete yarn.lock
  yarn.lock
Due: none

Delete translator.yml
  translator.yml
Due: yaml-syntax

Delete lefthook.yml
  lefthook.yml
Due: yaml-syntax

Delete theme_settings_serializer.rb
  app/serializers/theme_settings_serializer.rb
Due: rubocop

Delete theme_translation_serializer.rb
  app/serializers/theme_translation_serializer.rb
Due: rubocop

Delete topic_embed_serializer.rb
  app/serializers/topic_embed_serializer.rb
Due: rubocop

UX: Add back link on taggroup page (#16700)
  app/assets/javascripts/discourse/app/templates/tag-groups.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Enable Rails 7 cache format version
  config/initializers/new_framework_defaults_7_0.rb
Due: rubocop

Changes following review
  app/models/user.rb
  app/models/user_field.rb
  spec/models/user_spec.rb
Due: rubocop

Delete the correct block
  spec/models/user_spec.rb
Due: rubocop

DEV: Make user field validation more specific (#16746)
  app/models/user.rb
  app/models/user_field.rb
  spec/jobs/activation_reminder_emails_spec.rb
  spec/jobs/bulk_invite_spec.rb
  spec/models/user_spec.rb
  spec/services/user_anonymizer_spec.rb
Due: rubocop

Apply code suggestions
  app/assets/javascripts/discourse/app/components/composer-body.js
Due: prettier, eslint-js

FEATURE: Use css property for page padding when composer is open
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/stylesheets/common/base/compose.scss
Due: prettier, eslint-js

UX: Fix status icon size in suggested topics
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

UX: Fix status icon size in suggested topics (#16845)
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

FIX: `acted` state in post action like could desync with multiple likes
  app/assets/javascripts/discourse/app/models/post.js
Due: prettier, eslint-js

FEATURE: New readonly mode. Only applies to non-staff
  app/assets/javascripts/discourse/app/controllers/login.js
  app/assets/javascripts/discourse/app/models/site.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/controllers/application_controller.rb
  app/controllers/forums_controller.rb
  app/controllers/session_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users_controller.rb
  lib/discourse.rb
  lib/read_only_header.rb
  lib/read_only_mixin.rb
  spec/requests/forums_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/requests/session_controller_spec.rb
Due: rubocop, prettier, eslint-js

PERF: Speed up secure media and ACL sync rake tasks
  app/jobs/regular/sync_acls_for_uploads.rb
  lib/tasks/uploads.rake
  lib/upload_security.rb
  spec/jobs/sync_acls_for_uploads_spec.rb
  spec/tasks/uploads_spec.rb
Due: rubocop

FIX: Apply 'hide email account' for invites
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/controllers/invites_controller.rb
  app/models/invite.rb
  config/locales/server.en.yml
  spec/models/invite_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: allow locals to be passed in server_plugin_outlet
  app/helpers/application_helper.rb
  app/views/topics/show.html.erb
Due: rubocop

FEATURE: Add page title to 404 pages
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/controllers/application_controller.rb
  app/views/exceptions/not_found.html.erb
  config/locales/server.en.yml
  spec/requests/exceptions_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Pull hotlinked images immediately after posting
  app/jobs/regular/process_post.rb
  app/jobs/regular/pull_hotlinked_images.rb
  app/jobs/regular/pull_user_profile_hotlinked_images.rb
  app/jobs/regular/update_hotlinked_raw.rb
  app/services/inline_uploads.rb
  lib/cooked_post_processor.rb
  spec/jobs/process_post_spec.rb
  spec/jobs/pull_hotlinked_images_spec.rb
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop

UX: consistent spacing on group interaction form
  app/assets/stylesheets/common/base/groups.scss
Due: none

UX: consistent spacing on group interaction form (#16851)
  app/assets/stylesheets/common/base/groups.scss
Due: none

FIX: `acted` state in post action like could desync with multiple likes (#16847)
  app/assets/javascripts/discourse/app/models/post.js
Due: prettier, eslint-js

Revert "DEV: Drop our `mail` gem fork (#16622)"
  Gemfile
  Gemfile.lock
Due: none

Revert "DEV: Drop our `mail` gem fork (#16622)" (#16853)
  Gemfile
  Gemfile.lock
Due: none

DEV: Use new defaults for ActiveSupport::Digest
  config/initializers/new_framework_defaults_7_0.rb
Due: rubocop

FEATURE: Add page title to 404 pages (#16846)
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/controllers/application_controller.rb
  app/views/exceptions/not_found.html.erb
  config/locales/server.en.yml
  spec/requests/exceptions_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Apply code suggestions
  app/assets/javascripts/discourse/app/components/composer-body.js
  app/assets/stylesheets/common/base/compose.scss
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
