Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn run ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

iPad adjustments
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/components/footer-nav.scss
Due: prettier-scss

DEV: fix and improve sidebar CSS variables
  app/assets/stylesheets/common/base/sidebar-footer.scss
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/components/sidebar/sidebar-section.scss
Due: prettier-scss

DEV: refactor settings checks down into populate_acting_user
  app/controllers/notifications_controller.rb
  app/controllers/users_controller.rb
  app/models/notification.rb
Due: rubocop, syntax_tree

DEV: fix and improve sidebar CSS variables (#30673)
  app/assets/stylesheets/common/base/sidebar-footer.scss
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar-section.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/desktop/components/sidebar/sidebar-section.scss
Due: prettier-scss

FIX: lockup when navigating with j/k
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
Due: prettier, eslint

DEV: fixing spec
  spec/models/notification_spec.rb
Due: rubocop, syntax_tree

FIX: lockup when navigating with j/k (#30674)
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
Due: prettier, eslint

Apply the same url normalisation to embed_urls inserted in the PostCreator (#30641)
  lib/post_creator.rb
  spec/lib/post_creator_spec.rb
Due: rubocop, syntax_tree

FIX: correct emoji picker size in modal
  app/assets/stylesheets/common/components/emoji-picker.scss
Due: prettier-scss

UX: follow-up sidebar variable fixes for c398933
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
Due: prettier-scss

adjustments
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar.scss
Due: prettier-scss

UX: follow-up sidebar variable fixes for c398933 (#30676)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/base/sidebar.scss
  plugins/chat/assets/stylesheets/common/chat-user-threads.scss
Due: prettier-scss

FIX: correct emoji picker size in modal (#30675)
  app/assets/stylesheets/common/components/emoji-picker.scss
Due: prettier-scss

Use `togglePinnedForUser`
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

Add `tagName` argument
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

Add `pin-toggle-button` class
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

Add `pinned`/`unpinned` classes
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

migrate the widget variant
  app/assets/javascripts/discourse/app/widgets/topic-status.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/topic-status-test.gjs
Due: prettier, eslint

DEV: Adopt usage across user activity
  app/assets/javascripts/discourse/app/components/pending-post.hbs
  app/assets/javascripts/discourse/app/components/pending-post.js
  app/assets/javascripts/discourse/app/components/post-action-description.gjs
  app/assets/javascripts/discourse/app/components/post-list/index.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/details.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/index.gjs
  app/assets/javascripts/discourse/app/components/user-stream-item.gjs
  app/assets/javascripts/discourse/app/components/user-stream-item.hbs
  app/assets/javascripts/discourse/app/components/user-stream-item.js
  app/assets/javascripts/discourse/app/components/user-stream.gjs
  app/assets/javascripts/discourse/app/components/user-stream.hbs
  app/assets/javascripts/discourse/app/components/user-stream.js
  app/assets/javascripts/discourse/app/models/user-stream.js
  app/assets/javascripts/discourse/app/templates/user-activity-pending.hbs
  app/assets/javascripts/discourse/app/templates/user/posts.hbs
  app/assets/javascripts/discourse/app/templates/user/stream.hbs
  app/assets/javascripts/discourse/tests/integration/components/pending-post-test.js
Due: prettier, eslint, ember-template-lint

whitespace
  app/assets/javascripts/discourse/tests/integration/components/widgets/topic-status-test.gjs
Due: none

💄 lint
  app/assets/javascripts/discourse/app/components/post-list/item/index.gjs
  app/assets/javascripts/discourse/app/components/user-stream.gjs
Due: none

`TopicStatusIcons` back-compat
  app/assets/javascripts/discourse/app/components/topic-status.gjs
  app/assets/javascripts/discourse/app/helpers/topic-status-icons.js
Due: prettier, eslint

migrate the header variant
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
  app/assets/javascripts/discourse/app/components/header/topic/status.gjs
Due: none

todo
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

Revert "UX: use font with more glyphs for discobot certificates (#30646)"
  plugins/discourse-narrative-bot/assets/fonts/GreatVibes-Regular.ttf
  plugins/discourse-narrative-bot/assets/fonts/OFL.txt
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop, syntax_tree

Revert "UX: use font with more glyphs for discobot certificates" (#30681)
  plugins/discourse-narrative-bot/assets/fonts/GreatVibes-Regular.ttf
  plugins/discourse-narrative-bot/assets/fonts/OFL.txt
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop, syntax_tree

migrate the hbr variant (part 1)
  app/assets/javascripts/discourse/app/raw-templates/topic-status.hbr
  app/assets/javascripts/discourse/app/raw-views/topic-status.js
Due: prettier, eslint

remove the click handler from the old topic list item
  app/assets/javascripts/discourse/app/components/topic-list-item.js
Due: prettier, eslint

move getter
  app/assets/javascripts/discourse/app/components/topic-status.gjs
Due: none

UX: Final pass of admin setting pages
  app/assets/javascripts/admin/addon/components/admin-area-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-developer-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-experimental-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-files-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-legal-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-legal-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-login-and-authentication-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-login-and-authentication-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-navigation-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-navigation-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-notifications-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-notifications-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-onebox-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-rate-limits-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-search-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-search-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-security-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-spam-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-user-api-settings.gjs
  config/locales/client.en.yml
Due: ember-template-lint, yaml-syntax, i18n-lint

UX: Final pass of admin setting pages (#30682)
  app/assets/javascripts/admin/addon/components/admin-area-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-developer-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-experimental-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-files-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-fonts-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-legal-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-legal-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-login-and-authentication-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-login-and-authentication-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-logo-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-navigation-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-navigation-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-notifications-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-notifications-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-onebox-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-rate-limits-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-search-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-search-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-security-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-spam-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.gjs
  app/assets/javascripts/admin/addon/templates/config-trust-levels-settings.hbs
  app/assets/javascripts/admin/addon/templates/config-user-api-settings.gjs
  config/locales/client.en.yml
Due: ember-template-lint, yaml-syntax, i18n-lint

FIX: Add back missing API key 'peek' step
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/stylesheets/common/admin/api.scss
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, prettier-scss, yaml-syntax, i18n-lint

WIP: Admin report UI guidelines
  app/assets/javascripts/admin/addon/components/admin-reports.gjs
  app/assets/javascripts/admin/addon/components/admin-section-landing-item.gjs
  app/assets/javascripts/admin/addon/templates/reports-index.hbs
  app/assets/javascripts/admin/addon/templates/reports-show.hbs
  config/locales/client.en.yml
Due: ember-template-lint, yaml-syntax, i18n-lint

FIX: Add back missing API key 'peek' step (#30683)
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/stylesheets/common/admin/api.scss
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, prettier-scss, yaml-syntax, i18n-lint

DEV: Add problem check informing about admin layout deprecation
  app/models/problem_check.rb
  app/services/problem_check/admin_sidebar_deprecation.rb
  config/locales/server.en.yml
  spec/services/problem_check/admin_sidebar_deprecation_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

UX: Add DPageHeader to watched words and color palettes
  app/assets/javascripts/admin/addon/templates/customize-colors-index.hbs
  app/assets/javascripts/admin/addon/templates/customize-colors.hbs
  app/assets/javascripts/admin/addon/templates/watched-words.hbs
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
Due: prettier-scss, ember-template-lint, yaml-syntax, i18n-lint

DEV: Partial revert
  app/controllers/users_controller.rb
Due: rubocop, syntax_tree

DEV: update deprecated icon name archive to box-archive in chat plugin
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Due: prettier, eslint

DEV: update deprecated icon name archive to box-archive in chat plugin (#30687)
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Due: prettier, eslint

DEV: Add new admin UI header to site texts page
  app/assets/javascripts/admin/addon/templates/site-text-index.hbs
  app/assets/javascripts/admin/addon/templates/site-text.hbs
  app/assets/stylesheets/common/admin/customize.scss
  config/locales/client.en.yml
Due: prettier-scss, ember-template-lint, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
