Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

updated plugin_manifest and labeler.yml
  .github/labeler.yml
  migrations/tooling/config/schema/plugin_manifest.yml
Due: yaml-syntax

MT: Migrate the `Users` converter step to the source/processor DSL
  migrations/converters/lib/migrations/converters/discourse/steps/users.rb
Due: rubocop, syntax_tree

MT: Migrate the remaining Discourse steps to the source/processor DSL
  migrations/converters/lib/migrations/converters/discourse/steps/badge_groupings.rb
  migrations/converters/lib/migrations/converters/discourse/steps/badges.rb
  migrations/converters/lib/migrations/converters/discourse/steps/categories.rb
  migrations/converters/lib/migrations/converters/discourse/steps/category_custom_fields.rb
  migrations/converters/lib/migrations/converters/discourse/steps/category_moderation_groups.rb
  migrations/converters/lib/migrations/converters/discourse/steps/category_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/group_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/groups.rb
  migrations/converters/lib/migrations/converters/discourse/steps/muted_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/site_settings.rb
  migrations/converters/lib/migrations/converters/discourse/steps/tag_group_memberships.rb
  migrations/converters/lib/migrations/converters/discourse/steps/tag_group_permissions.rb
  migrations/converters/lib/migrations/converters/discourse/steps/tag_groups.rb
  migrations/converters/lib/migrations/converters/discourse/steps/tag_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/tags.rb
  migrations/converters/lib/migrations/converters/discourse/steps/topic_allowed_groups.rb
  migrations/converters/lib/migrations/converters/discourse/steps/topic_allowed_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/topic_tags.rb
  migrations/converters/lib/migrations/converters/discourse/steps/topic_users.rb
  migrations/converters/lib/migrations/converters/discourse/steps/topics.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_associated_accounts.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_custom_fields.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_emails.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_field_options.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_field_values.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_fields.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_options.rb
  migrations/converters/lib/migrations/converters/discourse/steps/user_suspensions.rb
Due: rubocop, syntax_tree

UX: various mondernized foundation style adjustments
  app/assets/stylesheets/common/base/review.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/_index.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/buttons-controls.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/groups.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/personal-messages.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/select-kit.scss
  app/assets/stylesheets/common/components/d-icon-grid-picker.scss
  frontend/discourse/app/components/reviewable-bundled-action.gjs
  frontend/discourse/app/components/sidebar/section-form-link.gjs
  frontend/discourse/app/components/sidebar/section.gjs
  plugins/discourse-solved/assets/stylesheets/solutions.scss
Due: prettier, eslint, ember-template-lint, stylelint

MT: Raise when a processor writes to the IntermediateDB during `setup`
  migrations/core/lib/migrations/conversion/parallel_job.rb
  migrations/core/lib/migrations/conversion/progress_step.rb
  migrations/core/spec/lib/conversion/parallel_job_spec.rb
Due: rubocop, syntax_tree

FEATURE: Allow AI agents to add notes to reviewables (#40807)
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/agents/tools/add_reviewable_note.rb
  plugins/discourse-ai/lib/agents/tools/list_reviewables.rb
  plugins/discourse-ai/spec/lib/agents/tools/add_reviewable_note_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/list_reviewables_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Provider-native built-in tools for agents (web search)
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-agent-editor.gjs
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_agents_controller.rb
  plugins/discourse-ai/app/models/ai_agent.rb
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/completions/dialects/claude.rb
  plugins/discourse-ai/lib/completions/dialects/dialect.rb
  plugins/discourse-ai/lib/completions/dialects/gemini.rb
  plugins/discourse-ai/lib/completions/dialects/open_ai_responses.rb
  plugins/discourse-ai/lib/completions/endpoints/gemini.rb
  plugins/discourse-ai/lib/completions/endpoints/open_ai_responses.rb
  plugins/discourse-ai/lib/completions/native_tools.rb
  plugins/discourse-ai/lib/completions/prompt.rb
  plugins/discourse-ai/lib/configuration/llm_enumerator.rb
  plugins/discourse-ai/spec/configuration/llm_enumerator_spec.rb
  plugins/discourse-ai/spec/lib/completions/endpoints/gemini_spec.rb
  plugins/discourse-ai/spec/lib/completions/native_tools_spec.rb
  plugins/discourse-ai/spec/models/ai_agent_spec.rb
  plugins/discourse-ai/spec/requests/admin/ai_agents_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

MT: Drop the `IntermediateDB` / `Enums` constants from the role classes
  migrations/core/lib/migrations/conversion/progress_step.rb
  migrations/core/lib/migrations/conversion/step.rb
  migrations/core/spec/lib/conversion/progress_step_spec.rb
Due: rubocop, syntax_tree

MT: Remove unused `after_fork_child` hooks and `run_once` from ForkManager
  migrations/core/lib/migrations/common/fork_manager.rb
  migrations/core/spec/lib/conversion/parallel_job_spec.rb
Due: rubocop, syntax_tree

MT: Guard the casts in the SiteSettings uploads query with CASE
  migrations/converters/lib/migrations/converters/discourse/steps/site_settings.rb
Due: rubocop, syntax_tree

remove old test
  spec/system/reviewables_spec.rb
Due: rubocop, syntax_tree

DEV: Update db_timestamps_mover to never advance beyond `now()`
  script/db_timestamps_mover.rb
Due: rubocop, syntax_tree

remove class for mobile
  frontend/discourse/app/components/topic-footer-buttons.gjs
Due: prettier, eslint, ember-template-lint

MT: Share the constructor arg routing and let steps own their trackers
  migrations/core/lib/migrations/conversion/attribute_assignment.rb
  migrations/core/lib/migrations/conversion/base.rb
  migrations/core/lib/migrations/conversion/progress_step.rb
  migrations/core/lib/migrations/conversion/step.rb
  migrations/core/spec/lib/conversion/progress_step_executor_spec.rb
  migrations/core/spec/lib/conversion/progress_step_spec.rb
  migrations/core/spec/lib/conversion/step_spec.rb
Due: rubocop, syntax_tree

DEV: Tweaks to upcoming change status bump workflow (#40784)
  .github/workflows/upcoming-change-status-bump.yml
  lib/upcoming_changes/status_report.rb
Due: rubocop, syntax_tree, yaml-syntax

UX: various mondernized foundation style adjustments (#40808)
  app/assets/stylesheets/common/base/review.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/_index.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/buttons-controls.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/groups.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/personal-messages.scss
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme/select-kit.scss
  app/assets/stylesheets/common/components/d-icon-grid-picker.scss
  frontend/discourse/app/components/reviewable-bundled-action.gjs
  frontend/discourse/app/components/sidebar/section-form-link.gjs
  frontend/discourse/app/components/sidebar/section.gjs
  frontend/discourse/app/components/topic-footer-buttons.gjs
  plugins/discourse-solved/assets/stylesheets/solutions.scss
  spec/system/reviewables_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

UX: minor reactions style fixes
  app/assets/stylesheets/admin/admin_base.scss
  frontend/discourse/app/components/emoji-picker/index.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-picker.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Update discourse-details description and README (#40786)
  plugins/discourse-details/README.md
  plugins/discourse-details/plugin.rb
Due: rubocop, syntax_tree

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

FIX: Single-occurrence RSVPs filled the "My events" calendar
  plugins/discourse-calendar/app/controllers/discourse_post_event/events_controller.rb
  plugins/discourse-calendar/app/services/discourse_post_event/action/expand_occurrences.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
  plugins/discourse-calendar/spec/services/discourse_post_event/action/expand_occurrences_spec.rb
  plugins/discourse-calendar/spec/system/upcoming_events_spec.rb
Due: rubocop, syntax_tree

UX: Render event popup details immediately instead of a spinner
  plugins/discourse-calendar/assets/javascripts/discourse/components/discourse-post-event/index.gjs
  plugins/discourse-calendar/assets/stylesheets/common/discourse-calendar.scss
  plugins/discourse-calendar/assets/stylesheets/common/discourse-post-event.scss
  plugins/discourse-calendar/assets/stylesheets/mobile/discourse-calendar.scss
Due: prettier, eslint, ember-template-lint, stylelint

Normalize Gemfile.lock checksums [dependabot skip]
  Gemfile.lock
Due: none

UX: minor reactions style fixes (#40811)
  app/assets/stylesheets/admin/admin_base.scss
  frontend/discourse/app/components/emoji-picker/index.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-picker.gjs
Due: prettier, eslint, ember-template-lint, stylelint

MT: Document Unix-socket connections in the example converter settings
  migrations/converters/lib/migrations/converters/discourse/settings.yml
Due: yaml-syntax

DEV: Split passkey and security key WebAuthn ceremonies for 2FA
  app/controllers/session_controller.rb
  app/models/concerns/second_factor_manager.rb
  app/models/user_second_factor.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/second-factor-form.gjs
  frontend/discourse/app/components/security-key-form.gjs
  frontend/discourse/app/controllers/second-factor-auth.js
  frontend/discourse/app/lib/webauthn.js
  frontend/discourse/app/models/user.js
  frontend/discourse/app/templates/second-factor-auth.gjs
  frontend/discourse/tests/acceptance/second-factor-auth-test.js
  lib/discourse_webauthn.rb
  lib/second_factor/auth_manager.rb
  spec/lib/concern/second_factor_manager_spec.rb
  spec/lib/discourse_webauthn/discourse_webauthn_spec.rb
  spec/lib/second_factor/auth_manager_spec.rb
  spec/requests/session_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: Passkeys satisfy enforced two-factor authentication
  app/models/concerns/second_factor_manager.rb
  app/serializers/admin_detailed_user_serializer.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_serializer.rb
  config/locales/server.en.yml
  spec/lib/concern/second_factor_manager_spec.rb
  spec/requests/application_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Challenge passkeys as 2FA in login and recovery flows
  app/controllers/session_controller.rb
  app/controllers/users_controller.rb
  app/models/concerns/second_factor_manager.rb
  frontend/discourse/app/components/local-login-form.gjs
  frontend/discourse/app/components/security-key-form.gjs
  frontend/discourse/app/controllers/email-login.js
  frontend/discourse/app/controllers/login.js
  frontend/discourse/app/controllers/password-reset.js
  frontend/discourse/app/routes/email-login.js
  frontend/discourse/app/templates/email-login.gjs
  frontend/discourse/app/templates/login.gjs
  frontend/discourse/app/templates/password-reset.gjs
  frontend/discourse/tests/acceptance/email-login-test.js
  frontend/discourse/tests/acceptance/password-reset-test.js
  frontend/discourse/tests/acceptance/sign-in-test.js
  frontend/discourse/tests/helpers/create-pretender.js
  spec/lib/concern/second_factor_manager_spec.rb
  spec/requests/session_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/support/system_helpers.rb
  spec/system/login_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

MT: Hoist the IntermediateDB writer to run level
  migrations/core/lib/migrations/conversion/base.rb
  migrations/core/lib/migrations/conversion/progress_step_executor.rb
  migrations/core/lib/migrations/database/db_writer.rb
  migrations/core/lib/migrations/database/intermediate_db.rb
  migrations/core/spec/lib/database/db_writer_spec.rb
Due: rubocop, syntax_tree

linting
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/editor/graph-utils.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/editor/index.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/node-types.js
  plugins/discourse-workflows/test/javascripts/unit/lib/workflows-node-types-test.js
Due: prettier, eslint, ember-template-lint

experiment[6]: Skip Rails Eager Loading For Pure System Test Runs To Cut Per-Worker Boot Cpu
  bin/turbo_rspec
  spec/rails_helper.rb
Due: rubocop, syntax_tree

Revert "experiment[3]: Skip the multisite subprocess in turbo_rspec when all files are system specs"
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree

experiment[1]: add --shard=N/M option to bin/turbo_rspec (passive; workflow invocation deferred — see iter-0002 rationale)
  bin/turbo_rspec
Due: none

experiment[3]: Skip the multisite subprocess in turbo_rspec when all files are system specs
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree

experiment[4]: Trim Pure-System-Test Worker Count By 2 To Reduce Cpu Oversubscription
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree

Revert "experiment[4]: Trim Pure-System-Test Worker Count By 2 To Reduce Cpu Oversubscription"
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree

[autoresearch] mark branch + drop irrelevant CI workflows — DO NOT MERGE
  .autoresearch_marker
  .github/workflows/developer-docs-lint.yml
  .github/workflows/developer-docs-publish.yml
  .github/workflows/licenses.yml
  .github/workflows/linting.yml
  .github/workflows/migration-tests.yml
  .github/workflows/tests.yml
  AUTORESEARCH.md
  lefthook.yml
Due: yaml-syntax

Revert "experiment[6]: Skip Rails Eager Loading For Pure System Test Runs To Cut Per-Worker Boot Cpu"
  bin/turbo_rspec
  spec/rails_helper.rb
Due: rubocop, syntax_tree

experiment[15]: Scale System Test Workers From 10 To 16 By Cloning Parallel Test Databases In bin/turbo_rspec
  bin/turbo_rspec
Due: none
