Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Review fix
  lib/user_comm_screener.rb
Due: rubocop

FIX: UserCommScreener filter acting user ID from target user IDs (#17702)
  lib/user_comm_screener.rb
  spec/lib/user_comm_screener_spec.rb
Due: rubocop

fix rubocop
  spec/models/reviewable_spec.rb
  spec/serializers/basic_reviewable_flagged_post_serializer_spec.rb
  spec/serializers/basic_reviewable_queued_post_serializer_spec.rb
  spec/serializers/basic_reviewable_user_serializer_spec.rb
  spec/support/common_basic_reviewable_serializer.rb
Due: rubocop

DEV: Add reviewables tab to the new user menu (#17630)
  app/assets/javascripts/discourse/app/components/user-menu/default-reviewable-item.hbs
  app/assets/javascripts/discourse/app/components/user-menu/default-reviewable-item.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list.hbs
  app/assets/javascripts/discourse/app/components/user-menu/items-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/reviewable-flagged-post-item.js
  app/assets/javascripts/discourse/app/components/user-menu/reviewable-queued-post-item.js
  app/assets/javascripts/discourse/app/components/user-menu/reviewable-user-item.js
  app/assets/javascripts/discourse/app/components/user-menu/reviewables-list.js
  app/assets/javascripts/discourse/app/models/user-menu-reviewable.js
  app/assets/javascripts/discourse/tests/helpers/review-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/default-reviewable-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/reviewable-queued-post-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/reviewables-list-test.js
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  app/models/user.rb
  app/serializers/basic_reviewable_flagged_post_serializer.rb
  app/serializers/basic_reviewable_queued_post_serializer.rb
  app/serializers/basic_reviewable_serializer.rb
  app/serializers/basic_reviewable_user_serializer.rb
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20220727085001_create_index_on_reviewables_score_desc_created_at_desc.rb
  spec/models/reviewable_spec.rb
  spec/requests/reviewables_controller_spec.rb
  spec/serializers/basic_reviewable_flagged_post_serializer_spec.rb
  spec/serializers/basic_reviewable_queued_post_serializer_spec.rb
  spec/serializers/basic_reviewable_serializer_spec.rb
  spec/serializers/basic_reviewable_user_serializer_spec.rb
  spec/support/common_basic_reviewable_serializer.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Reduce number of links displayed in Community by default
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/community-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-links.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Reduce number of links displayed in Community by default (#17703)
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/community-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-links.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Workaround for licensed gem incompatibility with latest Bundler
  .github/workflows/licenses.yml
Due: yaml-syntax

Another try
  .github/workflows/licenses.yml
Due: yaml-syntax

DEV: Remove duplicate getter from category-section-link
  app/assets/javascripts/discourse/app/lib/sidebar/categories-section/category-section-link.js
Due: prettier, eslint-js

Try using a fork
  .github/workflows/licenses.yml
Due: yaml-syntax

DEV: Workaround for licensed gem incompatibility with latest Bundler (#17704)
  .github/workflows/licenses.yml
Due: yaml-syntax

DEV: Minor topic-tracking-state refactor
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint-js

FIX: show button bar overflow on iPad & mobile
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/mobile/compose.scss
Due: none

FIX: show button bar overflow on iPad & mobile (#17708)
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/mobile/compose.scss
Due: none

FIX: display correct color-scheme in other user's profile preferences.
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
Due: prettier, eslint-js

DEV: a new `d-tooltip` component (#17513)
  app/assets/javascripts/discourse/app/components/d-tooltip.js
  app/assets/javascripts/discourse/app/templates/components/d-tooltip.hbs
  app/assets/javascripts/discourse/tests/integration/components/d-tooltip-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/d-tooltip.scss
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/molecules/rich-tooltip.hbs
  plugins/styleguide/config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Fix group create response api response
  spec/requests/api/groups_spec.rb
Due: rubocop

DEV: Fix group create response api response (#17711)
  spec/requests/api/groups_spec.rb
Due: rubocop

Add the user-status-message component and show tooltip on the user profile page
  app/assets/javascripts/discourse/app/components/user-status-message.js
  app/assets/javascripts/discourse/app/templates/components/user-status-message.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/user-status-message.scss
Due: prettier, eslint-js

Track status updates on the user profile page
  app/assets/javascripts/discourse/app/routes/user.js
Due: prettier, eslint-js

Move acceptance tests for the summery page into a separate file
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
Due: prettier, eslint-js

Add an acceptance test for user status on the user profile page
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
Due: prettier, eslint-js

UX: sidebar focus styles, remove hover for touch
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/desktop/sidebar-section.scss
  app/assets/stylesheets/mobile/sidebar.scss
Due: none

UX: sidebar focus styles, remove hover for touch (#17713)
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
  app/assets/stylesheets/desktop/sidebar-section.scss
  app/assets/stylesheets/mobile/sidebar.scss
Due: none

FEATURE: show user status on the user profile page (#17712)
  app/assets/javascripts/discourse/app/components/user-status-message.js
  app/assets/javascripts/discourse/app/routes/user.js
  app/assets/javascripts/discourse/app/templates/components/user-status-message.hbs
  app/assets/javascripts/discourse/app/templates/user.hbs
  app/assets/javascripts/discourse/tests/acceptance/user-profile-summary-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-message-test.js
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/user-status-message.scss
Due: prettier, eslint-js

UX: sidebar appearance shouldn't shrink fonts
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

UX: sidebar appearance shouldn't shrink fonts (#17714)
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

DEV: Use relative URLs for theme_uploads_local
  app/models/javascript_cache.rb
Due: rubocop

DEV: Use relative URLs for theme_uploads_local (#17715)
  app/models/javascript_cache.rb
Due: rubocop

UX: Add the TOS disclaimer to the invite signup
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/stylesheets/common/base/login.scss
Due: prettier, eslint-js

FIX: Ensure theme_uploads_local only has one `/` at beginning
  app/models/javascript_cache.rb
  spec/models/theme_field_spec.rb
Due: rubocop

FIX: Ensure theme_uploads_local only has one `/` at beginning (#17719)
  app/models/javascript_cache.rb
  spec/models/theme_field_spec.rb
Due: rubocop

FIX: Ensure all public topic-query options can be used via Ember
  app/assets/javascripts/discourse/app/controllers/discovery-sortable.js
  lib/topic_query.rb
Due: rubocop, prettier, eslint-js

DEV: Minor topic-tracking-state refactor (#17707)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint-js

Update app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/controllers/invites-show.js
Due: prettier, eslint-js

FIX: Ensure all public topic-query options can be used via Ember (#17706)
  app/assets/javascripts/discourse/app/controllers/discovery-sortable.js
  lib/topic_query.rb
Due: rubocop, prettier, eslint-js

Revert "DEV: Minor topic-tracking-state refactor (#17707)"
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint-js

Revert "DEV: Minor topic-tracking-state refactor (#17707)" (#17724)
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
Due: prettier, eslint-js

FIX: Get rid of new line for group
  app/assets/stylesheets/common/base/user.scss
Due: none
