Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Change to tagless component and remove aria-hidden
  app/assets/javascripts/discourse/app/components/software-update-prompt.js
  app/assets/javascripts/discourse/app/templates/components/software-update-prompt.hbs
  app/assets/javascripts/discourse/tests/integration/widgets/software-update-prompt-test.js
Due: prettier, eslint-js

Add dismiss label
  app/assets/javascripts/discourse/app/templates/components/software-update-prompt.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Do not raise bookmark limit error when updating
  app/models/bookmark.rb
  spec/models/bookmark_spec.rb
Due: rubocop

Add more tests
  app/models/bookmark.rb
  spec/jobs/bookmark_reminder_notifications_spec.rb
Due: rubocop

Add max_bookmarks_per_user hidden site setting
  app/models/bookmark.rb
  config/site_settings.yml
  spec/jobs/bookmark_reminder_notifications_spec.rb
  spec/models/bookmark_spec.rb
  spec/requests/bookmarks_controller_spec.rb
Due: rubocop, yaml-syntax

Link-ify bookmark URL in error text
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Show limit number in too many bookmarks error
  app/models/bookmark.rb
  config/locales/server.en.yml
  spec/requests/bookmarks_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: When user has already hit bookmark limit, do not error for clear_reminder! or other updates (#12658)
  app/models/bookmark.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/jobs/bookmark_reminder_notifications_spec.rb
  spec/models/bookmark_spec.rb
  spec/requests/bookmarks_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: bump `discourse_dev` gem version to 0.0.9
  Gemfile.lock
Due: none

FEATURE: impersonation now requires 2fa
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/controllers/modals/admin-impersonate-user.js
  app/assets/javascripts/admin/addon/models/admin-user.js
  app/assets/javascripts/admin/addon/templates/modal/admin-impersonate-user.hbs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/controllers/admin/impersonate_controller.rb
  config/locales/client.en.yml
  spec/requests/admin/impersonate_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: adds last day to about page stats
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/models/about.rb
  app/views/about/index.html.erb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

DEV: Use Terser for JS minification/compression if available (#12656)
  lib/tasks/assets.rake
Due: none

DEV: Skip looking for svgo, gifsicle binaries (#12655)
  lib/file_helper.rb
Due: rubocop

make it clear it's last 24 hours
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

applies same copy fix to days
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Add SCSS helper to replace `asset-uri` and `image-uri`
  app/assets/images/select2-spinner.gif
  app/assets/images/select2.png
  app/assets/images/select2x2.png
  app/assets/images/spinner_96.gif
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  lib/stylesheet/functions.rb
  lib/stylesheet/importer.rb
  public/images/favicons/discourse.png
  public/images/favicons/google_branding/logo_calendar_128px.png
  public/images/favicons/google_branding/logo_calendar_48px.png
  public/images/favicons/google_branding/logo_docs_48px.png
  public/images/favicons/google_branding/logo_drive_48px.png
  public/images/favicons/google_branding/logo_forms_48px.png
  public/images/favicons/google_branding/logo_sheets_48px.png
  public/images/favicons/google_branding/logo_slides_48px.png
  public/images/favicons/google_play.png
  public/images/favicons/instagram.png
  public/images/favicons/pdf_48px.png
  public/images/favicons/pdf_64px.png
  public/images/favicons/stackexchange.png
  spec/components/stylesheet/compiler_spec.rb
  spec/models/post_analyzer_spec.rb
  spec/models/post_spec.rb
Due: rubocop

DEV: bump `discourse_dev` gem version to 0.0.9 (#12660)
  Gemfile.lock
Due: none

FEATURE: Send an email notification when a post is approved.
  app/mailers/user_notifications.rb
  app/models/reviewable_queued_post.rb
  app/services/notification_emailer.rb
  config/locales/server.en.yml
  spec/mailers/user_notifications_spec.rb
  spec/services/notification_emailer_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: only send user suspension emails if email message provided
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

DEV: Remove ScrollTop mixin
  app/assets/javascripts/discourse/app/mixins/scroll-top.js
Due: prettier, eslint-js

DEV: implements some of ember-truth-helpers
  app/assets/javascripts/application.js
  app/assets/javascripts/discourse/tests/unit/helpers/not-test.js
  app/assets/javascripts/truth-helpers/addon/.gitkeep
  app/assets/javascripts/truth-helpers/addon/helpers/and.js
  app/assets/javascripts/truth-helpers/addon/helpers/eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/gt.js
  app/assets/javascripts/truth-helpers/addon/helpers/gte.js
  app/assets/javascripts/truth-helpers/addon/helpers/lt.js
  app/assets/javascripts/truth-helpers/addon/helpers/lte.js
  app/assets/javascripts/truth-helpers/addon/helpers/not-eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/not.js
  app/assets/javascripts/truth-helpers/addon/helpers/or.js
  app/assets/javascripts/truth-helpers/addon/utils/truth-convert.js
  app/assets/javascripts/truth-helpers/app/.gitkeep
  app/assets/javascripts/truth-helpers/config/ember-try.js
  app/assets/javascripts/truth-helpers/config/environment.js
  app/assets/javascripts/truth-helpers/ember-cli-build.js
  app/assets/javascripts/truth-helpers/index.js
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard-application.js
Due: prettier, eslint-js

UX: uses native date picker when possible (eg: not safari)
  app/assets/javascripts/admin/addon/components/admin-report.js
  app/assets/javascripts/discourse/app/components/date-input.js
  app/assets/stylesheets/common/components/date-input.scss
Due: prettier, eslint-js

In progress establishChannels tests
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/tests/helpers/site-settings.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/models/topic_tracking_state.rb
Due: rubocop, prettier, eslint-js

UI:adds styling for new github PR body details/summary
  app/assets/stylesheets/common/base/onebox.scss
Due: none

better hitzone on mobile
  app/assets/stylesheets/common/base/onebox.scss
Due: none

FIX: automatically timeout long running image magick commands
  app/models/optimized_image.rb
  app/models/upload.rb
  lib/discourse.rb
  lib/theme_store/git_importer.rb
  lib/upload_creator.rb
  spec/components/discourse_spec.rb
Due: rubocop

FIX: remove superfluous spaces from CJK blurbs (#12629)
  lib/search.rb
  lib/search/grouped_search_results.rb
  spec/components/search_spec.rb
Due: rubocop

FEATURE: Add user_confirmed_email to user event webhook (#12539)
  app/models/email_token.rb
  config/initializers/012-web_hook_events.rb
  config/locales/client.en.yml
  spec/models/web_hook_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: adds last day to about page stats (#12663)
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/models/about.rb
  app/views/about/index.html.erb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

FIX: automatically timeout long running image magick commands (#12670)
  app/models/optimized_image.rb
  app/models/upload.rb
  lib/discourse.rb
  lib/theme_store/git_importer.rb
  lib/upload_creator.rb
  spec/components/discourse_spec.rb
Due: rubocop

DEV: Add SCSS helper to replace `asset-uri` and `image-uri` (#12664)
  app/assets/images/select2-spinner.gif
  app/assets/images/select2.png
  app/assets/images/select2x2.png
  app/assets/images/spinner_96.gif
  app/assets/stylesheets/common/base/onebox.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  lib/stylesheet/functions.rb
  lib/stylesheet/importer.rb
  public/images/favicons/discourse.png
  public/images/favicons/google_branding/logo_calendar_128px.png
  public/images/favicons/google_branding/logo_calendar_48px.png
  public/images/favicons/google_branding/logo_docs_48px.png
  public/images/favicons/google_branding/logo_drive_48px.png
  public/images/favicons/google_branding/logo_forms_48px.png
  public/images/favicons/google_branding/logo_sheets_48px.png
  public/images/favicons/google_branding/logo_slides_48px.png
  public/images/favicons/google_play.png
  public/images/favicons/instagram.png
  public/images/favicons/pdf_48px.png
  public/images/favicons/pdf_64px.png
  public/images/favicons/stackexchange.png
  spec/components/stylesheet/compiler_spec.rb
  spec/models/post_analyzer_spec.rb
  spec/models/post_spec.rb
Due: rubocop

FIX: Allow restoring non-subfolder backup to subfolder site (#12537)
  lib/file_store/to_s3_migration.rb
Due: rubocop

UI: adds styling for new github PR body details/summary (#12669)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

UX: displays the body of a PR in a details/summary tag (#466)
  lib/onebox/engine/github_pullrequest_onebox.rb
  lib/onebox/sanitize_config.rb
  spec/lib/onebox/engine/github_pullrequest_onebox_spec.rb
  templates/githubpullrequest.mustache
Due: rubocop

DEV: uses onebox 2.2.12
  Gemfile.lock
Due: none

DEV: version bump (#468)
  lib/onebox/version.rb
Due: rubocop

DEV: Apply code suggestions
  plugins/poll/assets/javascripts/controllers/poll-ui-builder.js.es6
  plugins/poll/assets/javascripts/discourse/templates/modal/poll-ui-builder.hbs
  plugins/poll/assets/stylesheets/common/poll-ui-builder.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/test/javascripts/controllers/poll-ui-builder-test.js.es6
Due: prettier, eslint-es6, yaml-syntax, i18n-lint

DEV: uses onebox 2.2.12 (#12671)
  Gemfile.lock
Due: none

DEV: implements some of ember-truth-helpers (#12667)
  app/assets/javascripts/application.js
  app/assets/javascripts/discourse/tests/unit/helpers/not-test.js
  app/assets/javascripts/truth-helpers/addon/.gitkeep
  app/assets/javascripts/truth-helpers/addon/helpers/and.js
  app/assets/javascripts/truth-helpers/addon/helpers/eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/gt.js
  app/assets/javascripts/truth-helpers/addon/helpers/gte.js
  app/assets/javascripts/truth-helpers/addon/helpers/lt.js
  app/assets/javascripts/truth-helpers/addon/helpers/lte.js
  app/assets/javascripts/truth-helpers/addon/helpers/not-eq.js
  app/assets/javascripts/truth-helpers/addon/helpers/not.js
  app/assets/javascripts/truth-helpers/addon/helpers/or.js
  app/assets/javascripts/truth-helpers/addon/utils/truth-convert.js
  app/assets/javascripts/truth-helpers/app/.gitkeep
  app/assets/javascripts/truth-helpers/config/ember-try.js
  app/assets/javascripts/truth-helpers/config/environment.js
  app/assets/javascripts/truth-helpers/ember-cli-build.js
  app/assets/javascripts/truth-helpers/index.js
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard-application.js
Due: prettier, eslint-js
