Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add theme destroy spec and fix create spec
  spec/services/themes/create_spec.rb
  spec/services/themes/destroy_spec.rb
Due: rubocop, syntax_tree

DEV: Add bulk destroy spec
  app/services/themes/bulk_destroy.rb
  spec/services/themes/bulk_destroy_spec.rb
Due: rubocop, syntax_tree

DEV: Remove broken CLI option in `bin/turbo_rspec`
  bin/turbo_rspec
Due: none

DEV: Remove broken CLI option in `bin/turbo_rspec` (#32388)
  bin/turbo_rspec
Due: none

DEV: Add `--rspec-cli-opts` CLI opt to `bin/turbo_rspec`
  .github/workflows/tests.yml
  bin/turbo_rspec
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree, yaml-syntax

UX: Experiment with animation (#32341)
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/search.scss
  app/assets/stylesheets/common/components/welcome-banner.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/select-kit/dropdown-select-box.scss
  app/assets/stylesheets/common/select-kit/select-kit.scss
  app/assets/stylesheets/desktop/menu-panel.scss
Due: prettier-scss

stylint fix
  app/assets/stylesheets/common/components/welcome-banner.scss
Due: prettier-scss

DEV: stylint fix (#32391)
  app/assets/stylesheets/common/components/welcome-banner.scss
Due: prettier-scss

DEV: Add `--exclude-pattern` to `bin/turbo_rspec`
  .github/workflows/tests.yml
  bin/turbo_rspec
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Add dedicated admin groups page (#32377)
  app/assets/javascripts/admin/addon/controllers/admin-groups-index.js
  app/assets/javascripts/admin/addon/controllers/admin-groups-settings.js
  app/assets/javascripts/admin/addon/controllers/admin-groups.js
  app/assets/javascripts/admin/addon/routes/admin-groups-index.js
  app/assets/javascripts/admin/addon/routes/admin-groups-settings.js
  app/assets/javascripts/admin/addon/routes/admin-groups.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/admin-groups-index.gjs
  app/assets/javascripts/admin/addon/templates/admin-groups-settings.gjs
  app/assets/javascripts/admin/addon/templates/admin-groups.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  app/controllers/admin/groups_controller.rb
  config/routes.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Add `--exclude-pattern` to `bin/turbo_rspec` (#32390)
  .github/workflows/tests.yml
  bin/turbo_rspec
  lib/turbo_tests/runner.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Remove Other admin section
  app/assets/javascripts/admin/addon/controllers/admin-config-other-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-other.js
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

DEV: Remove Other admin section (#32392)
  app/assets/javascripts/admin/addon/controllers/admin-config-other-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-other.js
  app/assets/javascripts/admin/addon/templates/config-other-settings.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-nav-map.js
  config/locales/client.en.yml
  config/routes.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

DEV: Add spec for GetTranslations
  spec/services/themes/get_translations_spec.rb
Due: rubocop, syntax_tree

DEV: Add comments
  app/services/themes/bulk_destroy.rb
  app/services/themes/destroy.rb
  app/services/themes/get_translations.rb
Due: rubocop, syntax_tree

DEV: Cache categories by locale (#32378)
  app/models/site.rb
  spec/models/site_spec.rb
Due: rubocop, syntax_tree

FEATURE: Show translated category names from localizations table if they exist for the user locale
  app/models/category_localization.rb
  app/models/site.rb
  config/site_settings.yml
  db/migrate/20250421074012_create_category_localization_table.rb
Due: rubocop, syntax_tree, yaml-syntax

Add dependent destroy
  app/models/category.rb
Due: rubocop, syntax_tree

Add site setting description
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Test for experimental localization in cat cache
  spec/fabricators/category_localization_fabricator.rb
  spec/models/site_spec.rb
Due: rubocop, syntax_tree

Add one more case for absent case
  spec/models/site_spec.rb
Due: rubocop, syntax_tree

Remove fk
  db/migrate/20250421074012_create_category_localization_table.rb
Due: rubocop, syntax_tree

annoint 😇
  app/models/category_localization.rb
Due: rubocop, syntax_tree

Localize cache clear and test
  app/models/category_localization.rb
  spec/models/category_localization_spec.rb
Due: rubocop, syntax_tree

DEV: Initial specs for ThemeSiteSettingUpsert
  app/models/theme_site_setting.rb
  app/models/user_history.rb
  app/services/staff_action_logger.rb
  app/services/themes/theme_site_setting_upsert.rb
  config/locales/client.en.yml
  lib/site_setting_extension.rb
  spec/fabricators/theme_site_setting_fabricator.rb
  spec/services/themes/theme_site_setting_upsert_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

this should do it
  spec/system/admin_customize_components_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_components_config_area.rb
Due: rubocop, syntax_tree

specificity for test descrption
  spec/models/category_localization_spec.rb
Due: rubocop, syntax_tree

FEATURE: Show translated category names from localizations table if they exist for the user locale (#32380)
  app/models/category.rb
  app/models/category_localization.rb
  app/models/site.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20250421074012_create_category_localization_table.rb
  spec/fabricators/category_localization_fabricator.rb
  spec/models/category_localization_spec.rb
  spec/models/site_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: recalculate respects default invitee trust level
  lib/trust_level.rb
  spec/lib/promotion_spec.rb
Due: rubocop, syntax_tree

FIX: error when trying to un-favorite badge (#32369)
  app/controllers/user_badges_controller.rb
  app/services/badge_granter.rb
  spec/requests/user_badges_controller_spec.rb
  spec/services/badge_granter_spec.rb
Due: rubocop, syntax_tree

FIX: add category title badges to boxed layout
  app/assets/javascripts/discourse/app/components/categories-boxes-with-topics.gjs
  app/assets/javascripts/discourse/app/components/categories-boxes.gjs
Due: none

DEV: Attempt at stabilizing components listing page system spec (#32352)
  spec/system/admin_customize_components_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_components_config_area.rb
Due: rubocop, syntax_tree

DEV: make category title badges optional
  app/assets/javascripts/discourse/app/components/category-title-link.gjs
Due: none

do not load if no ids
  plugins/chat/assets/javascripts/discourse/components/chat-channel-multi-select.gjs
Due: none

DEV: remove scroll-top mixin file
  app/assets/javascripts/discourse/app/mixins/scroll-top.js
Due: prettier, eslint

DEV: remove scrolling mixin
  app/assets/javascripts/discourse/app/mixins/scrolling.js
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint

DEV: generate identifier for collections (#32368)
  app/assets/javascripts/discourse/app/form-kit/components/fk/collection.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/collection-test.gjs
Due: none

wip
  app/assets/javascripts/discourse/app/components/d-multi-select.gjs
  app/assets/stylesheets/common/components/d-multi-select.scss
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-multi-select.gjs
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-multi-select-test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.js
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

like parent
  plugins/chat/assets/stylesheets/common/chat-channels-multi-select.scss
Due: prettier-scss

linting
  plugins/styleguide/assets/javascripts/discourse/components/sections/molecules/multi-select.hbs
Due: ember-template-lint
