Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: search-menu component: checks if `onLoading` exists
  app/assets/javascripts/discourse/app/components/search-menu.gjs
Due: none

DEV: search-menu: improves logic in getter
  app/assets/javascripts/discourse/app/components/search-menu.gjs
Due: none

FIX: search-menu: improves mobile search bar layout
  app/assets/stylesheets/common/base/search-menu.scss
Due: prettier-scss

DEV: moves mobile check to `site` service
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/instance-initializers/mobile.js
Due: prettier, eslint

UX: show in-topic filter suggestion on topic page
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/stylesheets/mobile/search-menu.scss
Due: prettier-scss

DEV: mobile search: PR comments addressed
  app/assets/javascripts/discourse/app/components/search-menu.gjs
Due: none

UX: mobile search: removes flickering on loading state
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier-scss

UX: adds spacing to search context button
  app/assets/stylesheets/mobile/search-menu.scss
Due: prettier-scss

UX: mobile: adds animation to search menu panel toggling
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/search-menu-wrapper.gjs
  app/assets/stylesheets/mobile/search-menu.scss
Due: prettier-scss

FIX: mobile search: clears topic context on cancel search
  app/assets/javascripts/discourse/app/components/search-menu.gjs
Due: none

DEV: initial-options: adds `data-test-` attr
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
Due: none

UX: mobile search improvements
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
Due: prettier, eslint

UX: mobile: shows initial options for mobile view
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
Due: none

FIX: search results: reverts conditional top padding
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
Due: none

UX: mobile search: adds mobile specific hint
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: adds search/active-filters component
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/active-filters.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/search-term.gjs
  app/assets/javascripts/discourse/app/services/search.js
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
Due: prettier, eslint

DEV: mobile search: adds delayed-destroy custom modifier for animation handling
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/search-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/modifiers/delayed-destroy.js
  app/assets/javascripts/discourse/tests/integration/modifiers/delayed-destroy-test.js
Due: prettier, eslint

DEV: mobile search: adds test on topic search scope
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/tests/acceptance/search-mobile-test.js
Due: prettier, eslint

DEV: mobile search: syncs styles with main branch approach
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/mobile/menu-panel.scss
  app/assets/stylesheets/mobile/search-menu.scss
Due: prettier-scss

DEV: renames for a better consistency
  app/assets/javascripts/discourse/app/modifiers/delayed-destroy.js
  app/assets/javascripts/discourse/tests/integration/modifiers/delayed-destroy-test.js
  app/assets/stylesheets/mobile/search-menu.scss
Due: prettier, prettier-scss, eslint

DEV: reverts inPMInboxContext from service to component
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/active-filters.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/search-term.gjs
  app/assets/javascripts/discourse/app/services/search.js
Due: prettier, eslint

DEV: fixes styles lint
  app/assets/stylesheets/common/base/menu-panel.scss
Due: prettier-scss

DEV: fixes delayed-destroy modifier tests
  app/assets/javascripts/discourse/tests/integration/modifiers/delayed-destroy-test.gjs
Due: none

DEV: reverts adding `isMobileViewAndDevice` check
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/javascripts/discourse/app/instance-initializers/mobile.js
Due: prettier, eslint

DEV: fixes rebase onto main
  app/assets/javascripts/discourse/app/components/menu-panel.gjs
  app/assets/javascripts/discourse/app/components/search-menu-panel.gjs
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/advanced-button.gjs
  app/assets/javascripts/discourse/app/components/search-menu/clear-button.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/more-link.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/random-quick-tip.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/recent-searches.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/types.gjs
  app/assets/javascripts/discourse/app/components/search-menu/search-term.gjs
  app/assets/javascripts/discourse/app/services/search.js
Due: prettier, eslint

UX: Fix banner search losing focus after selecting a result
  app/assets/javascripts/discourse/app/components/search-menu.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/assistant-item.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/initial-options.gjs
  app/assets/javascripts/discourse/app/components/search-menu/results/recent-searches.gjs
  spec/system/page_objects/pages/search.rb
  spec/system/search_welcome_banner_spec.rb
Due: rubocop, syntax_tree

UX: Show keyboard shortcut on full admin search page (#31646)
  app/assets/javascripts/admin/addon/controllers/admin-search-index.js
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/admin/addon/templates/search-index.gjs
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  app/assets/javascripts/discourse/tests/fixtures/admin-search-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/admin-search-test.gjs
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Additional spec and CSS fixes
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/components/welcome-banner.scss
  app/assets/stylesheets/desktop/components/header-search.scss
  app/assets/stylesheets/mobile/components/welcome-banner.scss
  spec/system/page_objects/pages/search.rb
  spec/system/post_small_action_spec.rb
Due: rubocop, syntax_tree, prettier-scss

DEV: refactor username validation helper class to take explicit args
  app/assets/javascripts/discourse/app/components/modal/create-account.gjs
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/controllers/signup.js
  app/assets/javascripts/discourse/app/lib/username-validation-helper.js
Due: prettier, eslint

DEV: properly bind this of fetchExistingUsername with arrow functions
  app/assets/javascripts/discourse/app/components/modal/create-account.gjs
  app/assets/javascripts/discourse/app/controllers/signup.js
Due: prettier, eslint

FEATURE: Copy thread messages when copying thread OP
  plugins/chat/lib/chat/transcript_service.rb
  plugins/chat/spec/lib/chat/transcript_service_spec.rb
Due: rubocop, syntax_tree

FIX: Admin search page shortcut
  app/assets/javascripts/admin/addon/templates/search-index.gjs
Due: none

FIX: Admin search page shortcut (#32140)
  app/assets/javascripts/admin/addon/templates/search-index.gjs
Due: none

DEV: Move admin only constants into admin bundle
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags.gjs
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-report.gjs
  app/assets/javascripts/admin/addon/components/admin-search.gjs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-general.js
  app/assets/javascripts/admin/addon/lib/constants.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/discourse/app/lib/constants.js
  lib/tasks/javascript.rake
Due: syntax_tree, prettier, eslint

DEV: Move admin only constants into admin bundle (#32141)
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/flags.gjs
  app/assets/javascripts/admin/addon/components/admin-flag-item.gjs
  app/assets/javascripts/admin/addon/components/admin-report.gjs
  app/assets/javascripts/admin/addon/components/admin-search.gjs
  app/assets/javascripts/admin/addon/components/admin-user-field-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-dashboard-general.js
  app/assets/javascripts/admin/addon/lib/constants.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/discourse/app/lib/constants.js
  lib/tasks/javascript.rake
Due: syntax_tree, prettier, eslint

UX: Make admin search setting visible
  config/locales/server.en.yml
  config/site_settings.yml
Due: yaml-syntax, i18n-lint

DEV: Preserve unsaved site settings
  app/assets/javascripts/admin/addon/components/site-setting.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/models/site-setting.js
  app/assets/javascripts/admin/addon/models/theme-settings.js
  app/assets/javascripts/admin/addon/routes/admin-config-with-settings-route.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  app/assets/javascripts/discourse/tests/integration/components/compact-list-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/group-list-setting-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.gjs
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Add system spec
  app/assets/javascripts/admin/addon/components/site-setting.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/routes/admin-config-with-settings-route.js
  app/assets/javascripts/admin/addon/routes/admin-site-settings.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  spec/system/admin_site_setting_bulk_action_spec.rb
  spec/system/admin_site_setting_category_bulk_action_spec.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Simplify tracked properties
  app/assets/javascripts/admin/addon/components/site-setting.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
Due: prettier, eslint

UX: Properly pluralized action buttons
  app/assets/javascripts/admin/addon/components/admin-site-settings-changes-banner.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/admin/addon/services/site-setting-change-tracker.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
