Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: prioritize pages over other categories in admin search (#32614)
  app/assets/javascripts/admin/addon/services/admin-search-data-source.js
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
Due: prettier, eslint

Move fileToDrawable to worker
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  config/locales/server.en.yml
  lib/upload_creator.rb
  public/javascripts/media-optimization-worker.js
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

add research references
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint

fixes
  app/assets/javascripts/discourse/app/components/post/meta-data.gjs
  app/serializers/post_serializer.rb
  spec/requests/api/posts_spec.rb
  spec/requests/api/schemas/json/post_show_response.json
  spec/requests/api/schemas/json/post_update_response.json
  spec/requests/api/schemas/json/topic_create_response.json
  spec/requests/post_localizations_controller_spec.rb
  spec/requests/topic_localizations_controller_spec.rb
  spec/serializers/web_hook_post_serializer_spec.rb
Due: rubocop, syntax_tree

raise if failed 3 times
  lib/freedom_patches/propshaft_patches.rb
Due: rubocop, syntax_tree

DEV: Add post localization serializer spec
  spec/serializers/post_localization_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: add system spec
  spec/system/post_translation_spec.rb
Due: rubocop, syntax_tree

Scripts:Xenforo: Modify importer to use reactions table (#31859)
  script/import_scripts/xenforo.rb
Due: rubocop, syntax_tree

FIX: redirect to new themes page after deletion
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: flaky AdminSearchDataSource test
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
Due: prettier, eslint

DEV: Add new key for anon cache for localization
  lib/content_localization.rb
  lib/middleware/anonymous_cache.rb
  spec/lib/content_localization_spec.rb
  spec/lib/middleware/anonymous_cache_spec.rb
Due: rubocop, syntax_tree

FIX: remove broken test
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
Due: prettier, eslint

FIX: redirect to new themes page after deletion (#32638)
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  spec/system/admin_customize_themes_config_area_spec.rb
  spec/system/page_objects/pages/admin_customize_themes.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: flaky AdminSearchDataSource test (#32639)
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
Due: prettier, eslint

add doc for methods
  lib/content_localization.rb
Due: rubocop, syntax_tree

add a spec for share target inclusion in manifest response
  spec/requests/metadata_controller_spec.rb
Due: rubocop, syntax_tree

PERF: Improve performance of the new themes listing page
  app/assets/javascripts/admin/addon/adapters/theme.js
  app/assets/javascripts/admin/addon/routes/admin-config-customize-themes.js
  app/controllers/admin/config/customize_controller.rb
  app/models/theme.rb
  app/serializers/theme_index_serializer.rb
  app/serializers/theme_serializer.rb
  spec/models/theme_spec.rb
  spec/requests/admin/config/customize_controller_spec.rb
  spec/serializers/theme_index_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Add new key for anon cache for localization (#32640)
  lib/content_localization.rb
  lib/middleware/anonymous_cache.rb
  spec/lib/content_localization_spec.rb
  spec/lib/middleware/anonymous_cache_spec.rb
Due: rubocop, syntax_tree

Try removing runtime cache to see if it is buggy
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: More helper methods for topic localization
  app/models/topic.rb
  lib/content_localization.rb
  spec/lib/content_localization_spec.rb
  spec/models/topic_spec.rb
Due: rubocop, syntax_tree

DEV: bring back admin search page priority test
  app/assets/javascripts/discourse/tests/unit/services/admin-search-data-source-test.js
Due: prettier, eslint

DEV: More helper methods for topic localization (#32643)
  app/models/topic.rb
  lib/content_localization.rb
  spec/lib/content_localization_spec.rb
  spec/models/topic_spec.rb
Due: rubocop, syntax_tree

FEATURE: Show localized posts based on user's locale
  app/assets/javascripts/discourse/app/components/post/meta-data.gjs
  app/assets/javascripts/discourse/app/components/post/meta-data/language.gjs
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/assets/stylesheets/common/base/topic.scss
  app/models/locale_site_setting.rb
  app/models/post.rb
  app/serializers/basic_post_serializer.rb
  app/serializers/post_serializer.rb
  config/locales/client.en.yml
  spec/models/locale_site_setting_spec.rb
  spec/serializers/basic_post_serializer_spec.rb
  spec/serializers/post_serializer_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

wip rollup theme experiment
  app/assets/javascripts/theme-transpiler/build.js
  app/assets/javascripts/theme-transpiler/package.json
  app/assets/javascripts/theme-transpiler/text-decoder-shim.js
  app/assets/javascripts/theme-transpiler/transpiler.js
  lib/discourse_js_processor.rb
  pnpm-lock.yaml
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

wip
  app/assets/javascripts/theme-transpiler/package.json
  app/assets/javascripts/theme-transpiler/transpiler.js
  lib/discourse_js_processor.rb
  pnpm-lock.yaml
  spec/lib/discourse_js_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

bump
  app/assets/javascripts/theme-transpiler/transpiler.js
  spec/lib/discourse_js_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

crypto
  app/assets/javascripts/theme-transpiler/transpiler.js
Due: prettier, eslint

bump
  app/assets/javascripts/theme-transpiler/build.js
  app/assets/javascripts/theme-transpiler/noop.js
  app/assets/javascripts/theme-transpiler/package.json
  app/assets/javascripts/theme-transpiler/text-decoder-shim.js
  app/assets/javascripts/theme-transpiler/transpiler.js
  pnpm-lock.yaml
  spec/lib/discourse_js_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

DEV: correctly returns contract error
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
Due: rubocop, syntax_tree

gjs
  app/assets/javascripts/theme-transpiler/babel-replace-imports.js
  app/assets/javascripts/theme-transpiler/transpiler.js
  lib/discourse_js_processor.rb
  spec/lib/discourse_js_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Use media query for `capabilities.touch` (#32620)
  app/assets/javascripts/discourse/app/services/capabilities.js
Due: prettier, eslint

DEV: correctly returns contract error (#32645)
  plugins/chat/lib/chat_sdk/thread.rb
  plugins/chat/spec/lib/chat_sdk/thread_spec.rb
Due: rubocop, syntax_tree

More attributes for topic toggle
  app/assets/javascripts/discourse/app/components/topic-localized-content-toggle.gjs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.gjs
  app/models/topic_list.rb
  app/serializers/basic_topic_serializer.rb
  app/serializers/topic_view_serializer.rb
  spec/serializers/basic_topic_serializer_spec.rb
  spec/serializers/topic_view_serializer_spec.rb
  spec/system/topic_view/localized_content_spec.rb
Due: rubocop, syntax_tree

Add yet another iOS canvas size limit check
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint

fix tests
  app/assets/javascripts/discourse/tests/acceptance/themes-test.js
  app/serializers/theme_index_serializer.rb
Due: rubocop, syntax_tree, prettier, eslint

cleanup
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint

UX: don't always fill username for forgot password
  app/assets/javascripts/discourse/app/components/local-login-form.gjs
Due: none

FIX: Link to browser support section of website
  app/assets/javascripts/discourse/scripts/browser-update.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

FIX: Link to browser support section of website (#32647)
  app/assets/javascripts/discourse/scripts/browser-update.js
  config/locales/client.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

UX: don't always fill username for forgot password (#32646)
  app/assets/javascripts/discourse/app/components/local-login-form.gjs
Due: none
