Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

use glimmer tracking instead of computed arguments
  app/assets/javascripts/admin/addon/components/theme-settings-editor.hbs
  app/assets/javascripts/admin/addon/components/theme-settings-editor.js
Due: prettier, eslint-js

REFACTOR: improve poll info layout
  app/assets/stylesheets/common/foundation/mixins.scss
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js
  plugins/poll/assets/stylesheets/common/poll.scss
  plugins/poll/assets/stylesheets/desktop/poll.scss
  plugins/poll/assets/stylesheets/mobile/poll.scss
  plugins/poll/config/locales/client.en.yml
  plugins/poll/plugin.rb
  plugins/poll/spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Skip a flaky system test
  plugins/chat/spec/system/navigation_spec.rb
Due: rubocop

DEV: Skip a flaky system test (#22354)
  plugins/chat/spec/system/navigation_spec.rb
Due: rubocop

DEV: Upgrade MessageBus to latest version.
  Gemfile
  Gemfile.lock
Due: none

DEV: Bump oj from 3.13.14 to 3.15.0 (#22352)
  Gemfile
  Gemfile.lock
Due: none

DEV: Add specs
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/spec/system/page_objects/sidebar/sidebar.rb
  plugins/chat/spec/system/thread_tracking/full_page_spec.rb
Due: rubocop

DEV: Minor fixes
  plugins/chat/app/services/chat/channel_view_builder.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
Due: rubocop, prettier, eslint-js

FIX: externalOrFullReload
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/lib/sidebar/section-link.js
Due: prettier, eslint-js

DEV: Upgrade MessageBus to latest version. (#22355)
  Gemfile
  Gemfile.lock
Due: none

DEV: Try fix flaky chat navigation spec
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Due: rubocop

DEV: Try fix flaky chat navigation spec (#22356)
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Due: rubocop

DEV: Update MessageBus to 4.3.7
  Gemfile.lock
Due: none

FIX: consistent sidebar section external links (#22343)
  app/assets/javascripts/discourse/app/components/sidebar/common/custom-section.hbs
  app/assets/javascripts/discourse/app/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/section-link.js
  app/serializers/sidebar_url_serializer.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
Due: rubocop, prettier, eslint-js

DEV: Update MessageBus to 4.3.7 (#22357)
  Gemfile.lock
Due: none

WIP: Font loading in wizard styling step
  app/assets/javascripts/wizard/addon/components/wizard-preview-base.js
  app/controllers/application_controller.rb
Due: rubocop, prettier, eslint-js

Revert "Build(deps): Bump @uppy/aws-s3-multipart from 3.1.3 to 3.4.0 in /app/assets/javascripts (#22190)"
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

Revert "Build(deps): Bump @uppy/aws-s3-multipart from 3.1.3 to 3.4.0 in /app/assets/javascripts (#22190)" (#22359)
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Remove sinon.stub that was failing test
  app/assets/javascripts/discourse/tests/acceptance/composer-uploads-uppy-test.js
Due: prettier, eslint-js

FIX: Preload fonts before rerendering wizard style canvas
  app/assets/javascripts/wizard/addon/components/wizard-preview-base.js
  app/assets/javascripts/wizard/addon/models/wizard.js
  app/controllers/application_controller.rb
Due: rubocop, prettier, eslint-js

DEV: Minor change
  app/controllers/application_controller.rb
Due: rubocop

FIX: Do not follow redirects for twitter oneboxes
  lib/oneboxer.rb
Due: rubocop

FIX: Do not follow redirects for twitter oneboxes (#22362)
  lib/oneboxer.rb
Due: rubocop

DEV: Clean up package.json files (#22349)
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/bootstrap-json/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-plugins/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/ember-production-deprecations/package.json
  app/assets/javascripts/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  package.json
Due: none

Remove leftover code
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

DEV: Remove unused `testSelectKitModule`
  .eslintrc
  app/assets/javascripts/discourse/tests/helpers/select-kit-helper.js
Due: prettier, eslint-js

don't drop
  .eslintrc
Due: none

DEV: Remove unused raw-email code
  app/assets/javascripts/admin/addon/models/incoming-email.js
  app/assets/javascripts/discourse/app/controllers/raw-email.js
  app/controllers/admin/email_controller.rb
  config/routes.rb
Due: rubocop, prettier, eslint-js

remove extra closing div
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js
Due: prettier, eslint-js

switch icon when closed
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
Due: prettier, eslint-js

DEV: Update diffhtml to 1.0.0-beta.29 again
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  public/javascripts/diffhtml/1.0.0-beta.20/diffhtml.min.js
  public/javascripts/diffhtml/1.0.0-beta.29/diffhtml.min.js
Due: prettier, eslint-js

moment wants a format passed in for firefox
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
Due: prettier, eslint-js

refactoring tests to make theme-settings-editor testable as a glimmer component
  app/assets/javascripts/discourse/tests/integration/components/admin-theme-settings-editor-test.js
Due: prettier, eslint-js

Test
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-notices.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-notices.js
  plugins/chat/assets/javascripts/discourse/models/chat-notice.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/assets/stylesheets/common/chat-notices.scss
  plugins/chat/assets/stylesheets/common/chat-retention-reminder.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/test/javascripts/components/chat-notices-test.js
Due: rubocop, prettier, eslint-js

fix bug with theme_settings save button disabled state
  app/assets/javascripts/admin/addon/components/theme-settings-editor.js
Due: prettier, eslint-js

adjust arg
  plugins/chat/app/services/chat/publisher.rb
Due: rubocop

DEV: Convert helpers into plain functions
  app/assets/javascripts/discourse/app/helpers/border-color.js
  app/assets/javascripts/discourse/app/helpers/bound-avatar-template.js
  app/assets/javascripts/discourse/app/helpers/bound-avatar.js
  app/assets/javascripts/discourse/app/helpers/bound-category-link.js
  app/assets/javascripts/discourse/app/helpers/bound-date.js
  app/assets/javascripts/discourse/app/helpers/capitalize-string.js
  app/assets/javascripts/discourse/app/helpers/category-color-variable.js
  app/assets/javascripts/discourse/app/helpers/concat-class.js
  app/assets/javascripts/discourse/app/helpers/dash-if-empty.js
  app/assets/javascripts/discourse/app/helpers/dasherize.js
  app/assets/javascripts/discourse/app/helpers/editable-value.js
  app/assets/javascripts/discourse/app/helpers/icon-or-image.js
  app/assets/javascripts/discourse/app/helpers/inline-date.js
  app/assets/javascripts/discourse/app/helpers/loading-spinner.js
  app/assets/javascripts/discourse/app/helpers/period-title.js
  app/assets/javascripts/discourse/app/helpers/reviewable-history-description.js
  app/assets/javascripts/discourse/app/helpers/reviewable-status.js
  app/assets/javascripts/discourse/app/helpers/user-status.js
Due: prettier, eslint-js

mobile style adjustments
  plugins/poll/assets/stylesheets/common/poll.scss
Due: none

update icon
  plugins/poll/assets/javascripts/discourse/widgets/discourse-poll.js
Due: prettier, eslint-js
