Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

add setting to category template UI
  app/assets/stylesheets/common/base/edit-category.scss
  config/locales/client.en.yml
  frontend/discourse/app/components/category-topic-template-editor.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

add topic title placeholder to frontend model
  frontend/discourse/app/models/category.js
Due: prettier, eslint

FIX: Fix typo in password_unique_characters (#38340)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

publish
  .github/workflows/publish-types.yml
Due: yaml-syntax

add placeholder text to titles in composer
  frontend/discourse/app/components/composer-title.gjs
  frontend/discourse/app/models/composer.js
Due: prettier, eslint, ember-template-lint

test placeholder saves correctly in settings
  spec/system/edit_category_topic_template_spec.rb
Due: rubocop, syntax_tree

reload attribute from db rather than page refresh
  spec/system/edit_category_topic_template_spec.rb
Due: rubocop, syntax_tree

test composer honors placeholder or fallback
  spec/system/composer/category_templates_spec.rb
Due: rubocop, syntax_tree

fix computed aria label
  frontend/discourse/app/components/composer-title.gjs
Due: prettier, eslint, ember-template-lint

DEV: Convert `ReviewableClaimedTopicsController#destroy` response from 403 to 404 (#38339)
  app/controllers/reviewable_claimed_topics_controller.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
Due: rubocop, syntax_tree

swap to regular computed
  frontend/discourse/app/components/composer-title.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add missing icon parameter validation in setAdminPluginIcon API
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/tests/acceptance/admin-sidebar-section-test.js
Due: prettier, eslint, ember-template-lint

FIX: passkey authentication fails for EdDSA-based authenticators (#38328)
  lib/discourse_webauthn/authentication_service.rb
Due: rubocop, syntax_tree

annotate:clean
  app/models/category.rb
Due: rubocop, syntax_tree

fix test schema responses
  spec/requests/api/schemas/json/category_create_response.json
  spec/requests/api/schemas/json/category_list_response.json
  spec/requests/api/schemas/json/category_update_response.json
  spec/requests/api/schemas/json/site_response.json
Due: none

FIX: Form Templates using the tag name instead of the formated version on the composer
  frontend/discourse/app/components/form-template-field/tag-chooser.gjs
Due: prettier, eslint, ember-template-lint

pub conf
  frontend/discourse-types/package.json
Due: none

fix the check
  package.json
Due: none

DEV: simplifies form-kit fields args
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/image.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/image-test.gjs
Due: prettier, eslint, ember-template-lint

fix failing tests
  frontend/discourse/app/components/form-template-field/tag-chooser.gjs
  spec/system/composer/form_template_tag_chooser_spec.rb
  spec/system/page_objects/pages/form_template.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

UX: Fix i18n strings in alert dialog in Tag Groups creation form
  frontend/discourse/app/components/tag-groups-form.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add missing icon parameter validation in `setAdminPluginIcon` API (#38344)
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/tests/acceptance/admin-sidebar-section-test.js
Due: prettier, eslint, ember-template-lint

FIX: Replacing badge owners can clear titles of users unrelated to that badge (#38335)
  app/services/badge_granter.rb
  spec/services/badge_granter_spec.rb
Due: rubocop, syntax_tree

DEV: Remove stale icon_upload_id YARD documentation (#38341)
  plugins/chat/app/services/chat/update_channel.rb
Due: rubocop, syntax_tree

FIX: Check post visibility before allowing comment creation
  plugins/discourse-post-voting/app/controllers/post_voting/comments_controller.rb
  plugins/discourse-post-voting/spec/requests/post_voting/comments_controller_spec.rb
Due: rubocop, syntax_tree

fix placeholder url
  frontend/discourse/admin/components/admin-logo-form.gjs
Due: prettier, eslint, ember-template-lint

FIX: Avoid `undefined is not an object` errors
  frontend/discourse/app/controllers/exception.js
Due: prettier, eslint

DEV: Don't error on no pinned messages
  plugins/chat/app/services/chat/list_channel_pins.rb
  plugins/chat/spec/requests/chat/api/channel_pins_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Don't error on no pinned messages (#38350)
  plugins/chat/app/services/chat/list_channel_pins.rb
  plugins/chat/spec/requests/chat/api/channel_pins_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Avoid `undefined is not an object` errors (#38349)
  frontend/discourse/app/controllers/exception.js
Due: prettier, eslint

UX: Adjust message actions position and add padding for mouse movement (#38299)
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Remove unused keydown handler (#38301)
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
Due: prettier, eslint, ember-template-lint

DEV: Change the padding based on the message-actions size
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Due: prettier, stylelint

DEV: Clear activeMessage when opening thread message selection
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
Due: prettier, eslint

DEV: more resilient chat transcript spec
  plugins/chat/spec/system/transcript_spec.rb
Due: rubocop, syntax_tree

DEV: Change the padding based on the message-actions size (#38351)
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Due: prettier, stylelint

correctly clear selected messages in threads
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
Due: prettier, eslint

fix: compare context in addition to id
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
Due: prettier, eslint, ember-template-lint

fix: cancel debounced handled when the message is destroyed
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
Due: prettier, eslint, ember-template-lint

clear active message on channel select too
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
  plugins/chat/assets/javascripts/discourse/services/chat-thread-pane.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
