Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Add spec
  spec/requests/topics_controller_spec.rb
Due: rubocop

FIX: body scroll lock textarea (#26462)
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

FIX: Restore author on non-first-post crawler views (#26459)
  app/views/topics/show.html.erb
  spec/requests/topics_controller_spec.rb
Due: rubocop

Update spec/requests/admin/plugins_controller_spec.rb
  spec/requests/admin/plugins_controller_spec.rb
Due: rubocop

FIX: Don't allow access to plugin page if plugin is not visible (#26431)
  app/controllers/admin/plugins_controller.rb
  spec/requests/admin/plugins_controller_spec.rb
Due: rubocop

UX: tweaks enable defer setting copy
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: tweaks enable defer setting copy (#26465)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Rename components GlimmerHeader -> Header
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/auth-buttons.gjs
  app/assets/javascripts/discourse/app/components/header/contents.gjs
  app/assets/javascripts/discourse/app/components/header/dropdown.gjs
  app/assets/javascripts/discourse/app/components/header/hamburger-dropdown-wrapper.gjs
  app/assets/javascripts/discourse/app/components/header/home-logo.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/components/header/logo.gjs
  app/assets/javascripts/discourse/app/components/header/panel-portal.gjs
  app/assets/javascripts/discourse/app/components/header/search-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/header/sidebar-toggle.gjs
  app/assets/javascripts/discourse/app/components/header/topic/featured-link.gjs
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
  app/assets/javascripts/discourse/app/components/header/topic/participant.gjs
  app/assets/javascripts/discourse/app/components/header/topic/status.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/notifications.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/user-status-bubble.gjs
  app/assets/javascripts/discourse/app/components/header/user-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/legacy-header-icon-shim.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/render-topic-featured-link.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/home-logo.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/app/widgets/user-status-bubble.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/home-logo-test.gjs
Due: prettier, eslint-js

UX: rename the word "Upgrade" to "Update" in the UI. (#26396)
  app/assets/javascripts/admin/addon/components/version-checks.hbs
  app/assets/stylesheets/common/admin/dashboard.scss
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/discourse_updates.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Add strings from "discourse-lazy-videos" to Crowdin (#26461)
  translator.yml
Due: yaml-syntax

DEV: allow themes to render their own custom homepage (#26291)
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/templates/discovery/custom.hbs
  app/controllers/application_controller.rb
  app/controllers/custom_homepage_controller.rb
  app/helpers/application_helper.rb
  app/models/theme_modifier_set.rb
  app/models/user_option.rb
  app/serializers/user_serializer.rb
  app/serializers/web_hook_user_serializer.rb
  app/services/user_updater.rb
  app/views/default/custom.html.erb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20240326200232_add_custom_homepage_theme_modifiers.rb
  lib/homepage_constraint.rb
  lib/homepage_helper.rb
  spec/lib/homepage_helper_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/services/user_updater_spec.rb
  spec/system/homepage_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: changes defer copy to mark unread
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

tweak
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: changes defer copy to mark unread (#26468)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Rename components GlimmerHeader -> Header (#26466)
  app/assets/javascripts/discourse/app/components/glimmer-site-header.gjs
  app/assets/javascripts/discourse/app/components/header.gjs
  app/assets/javascripts/discourse/app/components/header/auth-buttons.gjs
  app/assets/javascripts/discourse/app/components/header/contents.gjs
  app/assets/javascripts/discourse/app/components/header/dropdown.gjs
  app/assets/javascripts/discourse/app/components/header/hamburger-dropdown-wrapper.gjs
  app/assets/javascripts/discourse/app/components/header/home-logo.gjs
  app/assets/javascripts/discourse/app/components/header/icons.gjs
  app/assets/javascripts/discourse/app/components/header/logo.gjs
  app/assets/javascripts/discourse/app/components/header/panel-portal.gjs
  app/assets/javascripts/discourse/app/components/header/search-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/header/sidebar-toggle.gjs
  app/assets/javascripts/discourse/app/components/header/topic/featured-link.gjs
  app/assets/javascripts/discourse/app/components/header/topic/info.gjs
  app/assets/javascripts/discourse/app/components/header/topic/participant.gjs
  app/assets/javascripts/discourse/app/components/header/topic/status.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/notifications.gjs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/user-status-bubble.gjs
  app/assets/javascripts/discourse/app/components/header/user-menu-wrapper.gjs
  app/assets/javascripts/discourse/app/components/legacy-header-icon-shim.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/lib/render-topic-featured-link.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/home-logo.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/app/widgets/user-status-bubble.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/home-logo-test.gjs
Due: prettier, eslint-js

DEV: Correctly pluralize error messages
  app/models/username_validator.rb
  config/locales/server.en.yml
  lib/theme_settings_object_validator.rb
  lib/validators/string_setting_validator.rb
  lib/validators/stripped_length_validator.rb
  spec/lib/theme_settings_object_validator_spec.rb
  spec/lib/theme_settings_validator_spec.rb
  spec/models/username_validator_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Update translations
  config/locales/client.ca.yml
  config/locales/client.fr.yml
  config/locales/client.hr.yml
  config/locales/server.de.yml
  config/locales/server.hr.yml
Due: yaml-syntax

Update translations (#26464)
  config/locales/client.ca.yml
  config/locales/client.fr.yml
  config/locales/client.hr.yml
  config/locales/server.de.yml
  config/locales/server.hr.yml
Due: yaml-syntax

DEV: Modifier to add params to TopicsController redirect
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

rows
  app/assets/javascripts/discourse/app/templates/demo-inputs.hbs
  app/assets/stylesheets/common/forms/d-inputs.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
Due: none

Minor border-radius for btns
  app/assets/stylesheets/common/foundation/base.scss
Due: none

fix disabled/hover state for input
  app/assets/stylesheets/common/forms/d-inputs.scss
Due: none

DEV: Document basic-info endpoint
  spec/requests/api/schemas/json/site_basic_info_response.json
  spec/requests/api/site_spec.rb
Due: rubocop

DEV: Modifier to add params to TopicsController redirect url (#26470)
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

DEV: Document basic-info endpoint (#26471)
  spec/requests/api/schemas/json/site_basic_info_response.json
  spec/requests/api/site_spec.rb
Due: rubocop

UX: adjustments for experimental bulk select menu
  app/assets/javascripts/discourse/app/raw-views/topic-bulk-select-dropdown.gjs
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

Multirow fixes
  app/assets/stylesheets/common/forms/d-inputs.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
Due: none

UX: adjustments for experimental bulk select menu (#26474)
  app/assets/javascripts/discourse/app/raw-views/topic-bulk-select-dropdown.gjs
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

fix focus style
  app/assets/stylesheets/common/forms/d-inputs.scss
Due: none

Alternative multirow
  app/assets/stylesheets/common/forms/d-inputs.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/05-input-fields.hbs
Due: none

FEATURE: ignore manually deactivated users when purging
  app/assets/javascripts/discourse/app/lib/site-setting-filter.js
  app/assets/javascripts/discourse/tests/fixtures/site-settings.js
  app/models/user.rb
  config/locales/server.en.yml
  lib/site_setting_extension.rb
  spec/models/user_spec.rb
  spec/system/admin_site_setting_search_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Fix flaky system test
  plugins/chat/spec/system/document_title_spec.rb
Due: rubocop

DEV: Fix flaky system test (#26479)
  plugins/chat/spec/system/document_title_spec.rb
Due: rubocop

Update spec/models/user_spec.rb
  spec/models/user_spec.rb
Due: rubocop

FIX: acting_user_id > 0
  app/models/user.rb
Due: rubocop

FEATURE: ignore manually deactivated users when purging (#26478)
  app/assets/javascripts/discourse/app/lib/site-setting-filter.js
  app/assets/javascripts/discourse/tests/fixtures/site-settings.js
  app/models/user.rb
  config/locales/server.en.yml
  lib/site_setting_extension.rb
  spec/models/user_spec.rb
  spec/system/admin_site_setting_search_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: Improvements to user tips display
  app/assets/javascripts/discourse/app/components/bootstrap-mode-notice.hbs
  app/assets/javascripts/discourse/app/components/header/user-dropdown/notifications.gjs
  app/assets/javascripts/discourse/app/components/topic-timeline.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.hbs
  app/assets/javascripts/discourse/app/components/user-tip-container.gjs
  app/assets/javascripts/discourse/app/components/user-tip.gjs
  app/assets/javascripts/discourse/app/instance-initializers/user-tips.js
  app/assets/javascripts/discourse/app/services/user-tips.js
  app/assets/javascripts/discourse/app/widgets/header-user-tip-shim.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/stylesheets/common/base/user-tips.scss
  app/assets/stylesheets/common/float-kit/d-tooltip.scss
  app/services/user_updater.rb
  config/locales/client.en.yml
  spec/services/user_updater_spec.rb
  spec/system/user_tips_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Ensure `Theme#settings` are instances of `ThemeSettings`
  app/assets/javascripts/admin/addon/adapters/theme.js
  app/assets/javascripts/admin/addon/models/theme.js
  app/assets/javascripts/discourse/tests/unit/models/theme-test.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
