Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Add scss var back (#33417)
  app/assets/stylesheets/common/foundation/variables.scss
Due: prettier-scss

A11Y: "in reply to" indicator should work with keyboard nav
  app/assets/javascripts/discourse/app/components/post/meta-data/reply-to-tab.gjs
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint

add tests
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.gjs
Due: none

copy edit, prettier
  app/assets/javascripts/discourse/tests/integration/components/post/post-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-test.gjs
Due: none

A11Y: autofocus topic map DMenu contents for links, likes, and users
  app/assets/javascripts/discourse/app/components/topic-map/topic-map-summary.gjs
Due: none

restructure link content without display:contents; to fix focus
  app/assets/stylesheets/common/components/topic-map.scss
Due: prettier-scss

focus-visible for likes
  app/assets/stylesheets/common/components/topic-map.scss
Due: prettier-scss

init
  app/assets/stylesheets/color_definitions.scss
Due: prettier-scss

_topic-list
  app/assets/stylesheets/common/base/_topic-list.scss
Due: prettier-scss

directory
  app/assets/stylesheets/common/base/directory.scss
Due: prettier-scss

hheader
  app/assets/stylesheets/common/base/header.scss
Due: prettier-scss

base
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier-scss

select-kit
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: prettier-scss

single-select
  app/assets/stylesheets/common/select-kit/single-select.scss
Due: prettier-scss

navs
  app/assets/stylesheets/color_definitions.scss
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/components/navs.scss
Due: prettier-scss

FIX: UppyUploader issues when authorized_extensions setting is blank but authorized_extensions_for_staff is not
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  spec/system/edit_category_images_spec.rb
  spec/system/page_objects/pages/category.rb
Due: rubocop, syntax_tree, prettier, eslint

removed extra space
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
Due: prettier, eslint

FIX: ensures small actions don't trigger post toolbar
  app/assets/javascripts/discourse/app/components/post-text-selection.gjs
Due: none

remove added blank space
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
Due: prettier, eslint

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: yaml-syntax

improved test
  spec/system/edit_category_images_spec.rb
Due: rubocop, syntax_tree

FIX: UppyUploader issues when authorized_extensions setting is blank but authorized_extensions_for_staff is not (#33423)
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  spec/system/edit_category_images_spec.rb
  spec/system/page_objects/pages/category.rb
Due: rubocop, syntax_tree, prettier, eslint

[stable] FIX: UppyUploader issues when authorized_extensions setting is blank but authorized_extensions_for_staff is not (#33424)
  app/assets/javascripts/discourse/app/lib/uppy/uppy-upload.js
  spec/system/edit_category_images_spec.rb
  spec/system/page_objects/pages/category.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Refactor post components to use value transformers and event listeners
  app/assets/javascripts/discourse/app/components/post-stream.gjs
  app/assets/javascripts/discourse/app/components/post.gjs
  app/assets/javascripts/discourse/app/components/post/avatar.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
Due: prettier, eslint

Update config/locales/client.en.yml
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

fix unrelated changes
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: hot translation
  config/locales/client.en.yml
  themes/horizon/javascripts/discourse/components/card/topic-status-column.gjs
Due: yaml-syntax, i18n-lint

FIX: Show tip for required selectable field on signup when not selected (#33401)
  app/assets/javascripts/discourse/app/components/user-fields/dropdown.gjs
  app/assets/javascripts/discourse/app/components/user-fields/multiselect.gjs
  app/assets/javascripts/discourse/app/lib/user-fields-validation-helper.js
  config/locales/client.en.yml
  spec/fabricators/user_field_fabricator.rb
  spec/system/signup_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

FIX: Horizon default color scheme must be user selectable
  lib/system_themes_manager.rb
  lib/tasks/themes.rake
  spec/lib/system_themes_manager_spec.rb
  spec/tasks/themes_spec.rb
Due: rubocop, syntax_tree

UI: improvement for the admin system theme (#33406)
  app/assets/javascripts/admin/addon/templates/customize-themes-show-index.gjs
  config/locales/client.en.yml
  spec/system/admin_customize_themes_spec.rb
  themes/horizon/javascripts/discourse/components/card/topic-activity-column.gjs
  themes/horizon/javascripts/discourse/components/card/topic-status-column.gjs
  themes/horizon/locales/en.yml
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: escapes display:none for subheader in welcome banner for Horizon (#33411)
  themes/horizon/scss/welcome-banner.scss
Due: prettier-scss

DEV: Display flag reasons and count for reviewable in refreshed UI
  app/assets/javascripts/discourse/app/components/reviewable-refresh/flag-reason.gjs
  app/assets/javascripts/discourse/app/components/reviewable-refresh/item.gjs
  app/assets/javascripts/discourse/tests/integration/components/reviewable-refresh/item-test.gjs
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/review.scss
  config/locales/client.en.yml
  spec/system/page_objects/pages/reviewable.rb
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree, prettier-scss, yaml-syntax, i18n-lint

Update spec/system/viewing_reviewable_spec.rb
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree

FIX: specs
  spec/lib/stylesheet/manager_spec.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: dark
  lib/system_themes_manager.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/lib/system_themes_manager_spec.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Add a system spec demonstrating the happy path.
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
Due: rubocop, syntax_tree

FIX: Ensure client-side reviewable claiming data is set correctly (#33405)
  app/assets/javascripts/discourse/app/components/reviewable-claimed-topic.gjs
  spec/system/page_objects/pages/review.rb
  spec/system/reviewables_spec.rb
Due: rubocop, syntax_tree

FIX: enable dark/light version of default scheme
  lib/system_themes_manager.rb
  spec/lib/stylesheet/manager_spec.rb
  spec/serializers/site_serializer_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
