Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

DEV: Support relationship renames in JSON:API versions
  lib/json_api_kit/declarations/relationships.rb
  lib/json_api_kit/document/relationship_object.rb
  lib/json_api_kit/document/resource_object.rb
  lib/json_api_kit/glossary.rb
  lib/json_api_kit/record_url.rb
  lib/json_api_kit/relationship_paths.rb
  lib/json_api_kit/relationship_paths/position.rb
  lib/json_api_kit/relationship_paths/step.rb
  lib/json_api_kit/relationship_paths/unscoped_position.rb
  lib/json_api_kit/request/contract/error.rb
  lib/json_api_kit/request/contract/including.rb
  lib/json_api_kit/request/contract/mapper.rb
  lib/json_api_kit/request/family.rb
  lib/json_api_kit/request/family/include.rb
  lib/json_api_kit/request/parameters.rb
  lib/json_api_kit/version_change/declarations.rb
  spec/integration/json_api_kit/casing_spec.rb
  spec/integration/json_api_kit/renamed_relationships_spec.rb
  spec/lib/json_api_kit/declarations/relationships_spec.rb
  spec/lib/json_api_kit/document/relationship_object_spec.rb
  spec/lib/json_api_kit/document/resource_object_spec.rb
  spec/lib/json_api_kit/glossary/relationship_names_spec.rb
  spec/lib/json_api_kit/record_url_spec.rb
  spec/lib/json_api_kit/relationship_paths/unscoped_position_spec.rb
  spec/lib/json_api_kit/relationship_paths_spec.rb
  spec/lib/json_api_kit/request/parameters_spec.rb
  spec/lib/json_api_kit/version_change/relationship_renames_spec.rb
Due: rubocop, syntax_tree

MT: Support `topic_url` placeholders in the generic bulk importer
  script/bulk_import/generic_bulk.rb
  spec/script/bulk_import/generic_bulk_spec.rb
Due: rubocop, syntax_tree

card consistency, additional features, mobile styling
  app/assets/stylesheets/common/components/category-card.scss
  app/assets/stylesheets/common/components/user-card.scss
  config/locales/client.en.yml
  frontend/discourse/app/components/category-card-contents.gjs
  frontend/discourse/tests/integration/components/category-card-contents-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

UX: general style adjustments for livestream chat drawer (#43601)
  plugins/discourse-events/assets/stylesheets/desktop/livestream.scss
  plugins/discourse-events/assets/stylesheets/mobile/livestream.scss
Due: prettier, stylelint

FIX: Stop topic filter specs from wiping plugin registrations
  spec/lib/topics_filter_spec.rb
Due: rubocop, syntax_tree

FIX: Do not hang non-GET requests when the CSRF preflight fails
  frontend/discourse/app/lib/ajax.js
  frontend/discourse/tests/unit/lib/ajax-test.js
Due: prettier, eslint

FEATURE: Add shared helpers for rate limited responses
  config/locales/client.en.yml
  frontend/discourse/app/lib/ajax-error.js
  frontend/discourse/tests/helpers/create-pretender.js
  frontend/discourse/tests/unit/lib/ajax-error-test.js
Due: prettier, eslint, yaml-syntax, i18n-lint

FIX: Retry rate limited backup upload chunks
  frontend/discourse/app/lib/uppy-chunked-upload.js
  frontend/discourse/app/lib/uppy-chunked-uploader-plugin.js
  frontend/discourse/tests/unit/lib/uppy-chunked-upload-test.js
  spec/requests/admin/backups_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Log rate limited requests as 4xx
  lib/middleware/request_tracker.rb
  spec/lib/middleware/request_tracker_spec.rb
Due: rubocop, syntax_tree

FIX: Handle rate limited uploads instead of failing the batch
  frontend/discourse/app/lib/uploads.js
  frontend/discourse/app/lib/uppy/composer-upload.js
  frontend/discourse/app/lib/uppy/s3-multipart.js
  frontend/discourse/app/lib/uppy/uppy-upload.js
  frontend/discourse/tests/unit/lib/uploads-test.js
  frontend/discourse/tests/unit/lib/uppy/s3-multipart-test.js
  frontend/discourse/tests/unit/lib/uppy/uppy-upload-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.gjs
Due: prettier, eslint, ember-template-lint

FIX: Keep the message when a chat send is rate limited
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/list/index.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/message/error.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-constants.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/config/locales/client.en.yml
  plugins/chat/test/javascripts/acceptance/chat-message-retry-test.js
  plugins/chat/test/javascripts/components/chat-channel-info-members-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: Handle rate limited responses across the remaining call sites
  app/controllers/users_controller.rb
  frontend/discourse/app/components/modal/bulk-topic-actions.gjs
  frontend/discourse/app/controllers/topic.js
  frontend/discourse/app/lib/user-search.js
  frontend/discourse/app/services/screen-track.js
  frontend/discourse/tests/integration/components/modal/bulk-topic-actions-test.gjs
  frontend/discourse/tests/unit/controllers/topic-test.js
  frontend/discourse/tests/unit/lib/pretty-text/inline-oneboxer-test.js
  frontend/discourse/tests/unit/lib/user-search-test.js
  frontend/discourse/tests/unit/services/screen-track-test.js
  frontend/pretty-text/addon/inline-oneboxer.js
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Honour Retry-After from upstreams instead of giving up
  app/jobs/regular/pull_hotlinked_images.rb
  lib/file_helper.rb
  lib/hotlinked_media_downloader.rb
  plugins/discourse-ai/lib/embeddings/provider_health.rb
  plugins/discourse-ai/lib/inference/embedding_inference_error.rb
  plugins/discourse-ai/spec/lib/modules/embeddings/provider_health_spec.rb
  spec/jobs/pull_hotlinked_images_spec.rb
  spec/lib/file_helper_spec.rb
  spec/lib/hotlinked_media_downloader_spec.rb
Due: rubocop, syntax_tree

FIX: Stop topic filter specs from wiping plugin registrations (#43545)
  spec/lib/topics_filter_spec.rb
Due: rubocop, syntax_tree

FIX: Resolve tag synonyms and reject max_results:0 in post filters
  frontend/discourse/app/lib/filter-suggestions.js
  frontend/discourse/tests/unit/lib/filter-suggestions-test.js
  lib/discourse_tagging.rb
  lib/posts_filter.rb
  spec/lib/posts_filter_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Rework topic filter dispatch and fix negation, tags and ordering
  config/locales/server.en.yml
  lib/topic_query.rb
  lib/topics_filter.rb
  spec/lib/topic_query_spec.rb
  spec/lib/topics_filter_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Fail the topic node on a filter query it cannot parse
  plugins/discourse-workflows/config/locales/server.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/post_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/topic_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: Simplify filter suggestions and fix exact-match crash
  frontend/discourse/app/lib/filter-suggestions.js
  frontend/discourse/tests/unit/lib/filter-suggestions-test.js
Due: prettier, eslint

DEV: Correct the researcher tool's filter documentation
  plugins/discourse-ai/lib/agents/tools/researcher.rb
Due: rubocop, syntax_tree

FIX: Don't wrap whitespace between tags in revision diffs
  app/assets/stylesheets/common/base/history.scss
  lib/discourse_diff.rb
  spec/lib/discourse_diff_spec.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
Due: rubocop, syntax_tree, prettier, stylelint

FIX: Preserve boundaries and token budgets in AI translation
  plugins/discourse-ai/lib/translation/base_translator.rb
  plugins/discourse-ai/lib/translation/content_splitter.rb
  plugins/discourse-ai/spec/lib/translation/base_translator_spec.rb
  plugins/discourse-ai/spec/lib/translation/content_splitter_spec.rb
Due: rubocop, syntax_tree

FIX: Emit topic_created when splitting posts into a new topic
  app/models/post_mover.rb
  spec/models/post_mover_spec.rb
Due: rubocop, syntax_tree

FIX: Don't wrap whitespace between tags in revision diffs (#43604)
  app/assets/stylesheets/common/base/history.scss
  lib/discourse_diff.rb
  spec/lib/discourse_diff_spec.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
Due: rubocop, syntax_tree, prettier, stylelint

FIX: reset POP3 admin notices after a successful poll
  app/jobs/scheduled/poll_mailbox.rb
  spec/jobs/poll_mailbox_spec.rb
Due: rubocop, syntax_tree

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

PERF: Calculate post scores and ranks in topic batches
  lib/score_calculator.rb
  spec/lib/score_calculator_spec.rb
Due: rubocop, syntax_tree

DEV: Add libvips support for HEIF conversion (#43457)
  lib/discourse_vips.rb
  lib/upload_creator.rb
  script/discourse_vips_worker
  spec/fixtures/images/heif-color-grid-12bit.heic
  spec/fixtures/images/heif-color-grid-8bit.heic
  spec/fixtures/images/heif-color-grid-alpha-12bit.heic
  spec/fixtures/images/heif-color-grid-alpha-8bit.heic
  spec/fixtures/images/heif-color-grid-mirrored.heic
  spec/fixtures/images/heif-color-grid-rotated.heic
  spec/fixtures/images/heif-truncated-payload.heic
  spec/lib/discourse_vips_spec.rb
  spec/lib/upload_creator_spec.rb
Due: rubocop, syntax_tree

Revert "PERF: Run MaintainBrowserPageviewRollups hourly (#43602)"
  app/jobs/scheduled/maintain_browser_pageview_rollups.rb
Due: rubocop, syntax_tree

Revert "PERF: Run MaintainBrowserPageviewRollups hourly (#43602)" (#43617)
  app/jobs/scheduled/maintain_browser_pageview_rollups.rb
Due: rubocop, syntax_tree

DOCS: Record JPEG-only quality policy measurements
  docs/vips-migration-evidence/quality/jpeg-only/inputs/custom-logo.jpg
  docs/vips-migration-evidence/quality/jpeg-only/inputs/large-metadata.jpg
  docs/vips-migration-evidence/quality/jpeg-only/inputs/standard-q30.jpg
  docs/vips-migration-evidence/quality/jpeg-only/inputs/standard-q80.jpg
  docs/vips-migration-evidence/quality/jpeg-only/inputs/standard-q95.jpg
  docs/vips-migration-evidence/quality/jpeg-only/outputs/imagemagick-large-metadata.jpg
  docs/vips-migration-evidence/quality/jpeg-only/outputs/libvips-large-metadata.jpg
  docs/vips-migration-evidence/quality/jpeg-only/provenance.json
  docs/vips-migration-evidence/quality/jpeg-only/results.json
Due: none

DOCS: Refresh quality measurements against final source
  docs/vips-migration-evidence/quality/jpeg-only/results.json
Due: none

DOCS: Record conservative JPEG quality policy measurements
  docs/vips-migration-evidence/quality/jpeg-only/inputs/custom-large-metadata.jpg
  docs/vips-migration-evidence/quality/jpeg-only/outputs/imagemagick-custom-large-metadata.jpg
  docs/vips-migration-evidence/quality/jpeg-only/provenance.json
  docs/vips-migration-evidence/quality/jpeg-only/results.json
Due: none

PERF: Read SVG upload dimensions with libvips
  app/models/upload.rb
  lib/discourse_vips.rb
  lib/discourse_vips/worker_process.rb
  lib/upload_creator.rb
  script/discourse_vips_worker
  spec/lib/discourse_vips_spec.rb
  spec/lib/upload_creator_spec.rb
  spec/models/upload_spec.rb
Due: rubocop, syntax_tree

DEV: Place SVG identify comment beside ImageMagick call
  lib/upload_creator.rb
Due: rubocop, syntax_tree

DEV: Use native libvips SVG dimensions
  lib/discourse_vips/worker_process.rb
  script/discourse_vips_worker
  spec/lib/discourse_vips_spec.rb
  spec/lib/upload_creator_spec.rb
  spec/models/upload_spec.rb
Due: rubocop, syntax_tree

DEV: Disambiguate SVG dimension specs
  spec/lib/upload_creator_spec.rb
Due: rubocop, syntax_tree

SECURITY: Bound dimensionless SVG filter processing
  lib/discourse_vips.rb
  script/discourse_vips_worker
  spec/lib/discourse_vips_spec.rb
Due: rubocop, syntax_tree

DOCS: Refresh role-aware JPEG quality measurements
  docs/vips-migration-evidence/quality/jpeg-only/provenance.json
  docs/vips-migration-evidence/quality/jpeg-only/results.json
Due: none
