Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Update translations
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.ja.yml
Due: yaml-syntax

FEATURE: add slow_mode_prevents_editing setting..
  config/locales/server.en.yml
  config/site_settings.yml
  lib/post_revisor.rb
  spec/components/post_revisor_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Use didInsertElement over didRender
  app/assets/javascripts/discourse/app/components/directory-table.js
Due: prettier, eslint-js

handle window resizing
  app/assets/javascripts/discourse/app/components/directory-table.js
Due: prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.it.yml
  config/locales/server.de.yml
  config/locales/server.ja.yml
Due: yaml-syntax

FIX: Handle image decoding failure in composer image optimization
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint-js

UX: Adds 'Processing Upload' to the composer status area during upload optimization
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Tweak spacing in the admin dashboard
  app/assets/stylesheets/common/admin/dashboard.scss
Due: none

UX: Horizontal scroll bar on top of user directory (when needed) (#13553)
  app/assets/javascripts/discourse/app/components/directory-table.js
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/stylesheets/common/base/directory.scss
Due: prettier, eslint-js

Update translations
  config/locales/server.de.yml
  config/locales/server.ja.yml
  plugins/poll/config/locales/client.de.yml
Due: yaml-syntax

FIX: Handle image decoding failure in composer image optimization (#13555)
  app/assets/javascripts/discourse/app/lib/media-optimization-utils.js
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint-js

UX: Adds 'Processing Upload' to the composer status area during upload optimization (#13556)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Tweak spacing in the admin dashboard (#13557)
  app/assets/stylesheets/common/admin/dashboard.scss
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/server.ja.yml
Due: yaml-syntax

DEV: The last two remaining Ember imports
  app/assets/javascripts/discourse-loader.js
  app/assets/javascripts/discourse/app/helpers/route-action.js
Due: prettier, eslint-js

FIX: Remove legacy topic timer code (#13544)
  app/jobs/regular/topic_reminder.rb
  app/models/topic_timer.rb
  spec/models/topic_timer_spec.rb
Due: rubocop

DEV: Drop duration column from topic timers (#13543)
  app/models/topic.rb
  db/post_migrate/20210628035905_drop_duration_column_from_topic_timers.rb
Due: rubocop

DEV: Fix a leaky test
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
Due: prettier, eslint-js

DEV: Don't duplicate a function
  app/assets/javascripts/discourse/app/controllers/topic.js
Due: prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ja.yml
Due: yaml-syntax

DEV: Fix a leaky test (#13559)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/tests/unit/models/topic-test.js
Due: prettier, eslint-js

FIX: flaky search-spec
  spec/lib/search_spec.rb
Due: rubocop

Update translations
  config/locales/client.zh_CN.yml
Due: yaml-syntax

Update translations
  config/locales/client.zh_CN.yml
  config/locales/server.zh_CN.yml
Due: yaml-syntax

DEV: Remove redundant filter in `TopicTrackingState.report_raw_sql`
  app/models/topic_tracking_state.rb
Due: rubocop

FEATURE: add multiselect user custom field
  app/assets/javascripts/admin/addon/models/user-field.js
  app/assets/javascripts/discourse/app/templates/components/user-fields/multiselect.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: add multiselect user custom field (#13560)
  app/assets/javascripts/admin/addon/models/user-field.js
  app/assets/javascripts/discourse/app/templates/components/user-fields/multiselect.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Update translations
  config/locales/client.fr.yml
  config/locales/server.fi.yml
  config/locales/server.ja.yml
Due: yaml-syntax

FIX: Always render topic counts
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
Due: prettier, eslint-js

Update translations
  config/locales/client.es.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.ja.yml
Due: yaml-syntax

FIX: various minor fixes
  plugins/automation/app/lib/discourse_automation/scripts/pin_topic.rb
  plugins/automation/app/lib/discourse_automation/triggers/recurring.rb
  plugins/automation/spec/lib/scriptable_spec.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/automation/spec/triggers/recurring_spec.rb
Due: rubocop

FIX: do not close the merged topic if the first post wasn't merged
  app/models/post_mover.rb
  spec/models/post_mover_spec.rb
Due: rubocop

Review fix: do not rename the resource key to avoid forcing retranslation
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/templates/components/image-uploader.hbs
  app/assets/javascripts/discourse/app/templates/components/images-uploader.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Update translations
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.it.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.ja.yml
Due: yaml-syntax

Review fix: get rid of jquery in one more place
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
Due: prettier, eslint-js

DEV: Apply code suggestions
  spec/requests/invites_controller_spec.rb
Due: rubocop

FEATURE: implements triggerable! (#25)
  plugins/automation/app/controllers/discourse_automation/admin_discourse_automation_automations_controller.rb
  plugins/automation/app/lib/discourse_automation/scriptable.rb
  plugins/automation/app/serializers/discourse_automation/automation_serializer.rb
  plugins/automation/assets/javascripts/discourse/components/automation-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-base-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-boolean-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-category-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-choices-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-date-time-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-group-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-pms-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-tags-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-text-field.js.es6
  plugins/automation/assets/javascripts/discourse/components/fields/da-user-field.js.es6
  plugins/automation/assets/javascripts/discourse/templates/admin-plugins-discourse-automation-edit.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/automation-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-boolean-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-category-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-choices-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-date-time-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-group-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-pms-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-tags-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-text-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-text-list-field.hbs
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-user-field.hbs
  plugins/automation/config/locales/client.en.yml
  plugins/automation/spec/lib/scriptable_spec.rb
Due: rubocop, prettier, eslint-es6, yaml-syntax, i18n-lint

Update translations
  config/locales/client.ar.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.fi.yml
Due: yaml-syntax

Add a comment to the tricky condition
  app/models/post_mover.rb
Due: rubocop
