Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FEATURE: backlink to the site from Logster
  config/initializers/100-logster.rb
  config/locales/server.en.yml
Due: rubocop, yaml-syntax, i18n-lint

fixies
  app/assets/javascripts/discourse/app/services/screen-track.js
Due: prettier, eslint-js

DEV: Add conflict resolution to migration min trust level for here mention to group (#25667)
  db/migrate/20231107055903_migrate_min_trust_level_for_here_mention_to_group.rb
Due: rubocop

DEV: Add conflict resolution to migration min trust level for here mention to group [stable] (#25668)
  db/migrate/20231107055903_migrate_min_trust_level_for_here_mention_to_group.rb
Due: rubocop

FIX: Touch up illegal flag type translations
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  config/locales/server.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: serialize can_ignore_users
  app/serializers/current_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop

Update spec/serializers/current_user_serializer_spec.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop

removed broken link and comments from no_index.erb (#25648)
  app/views/robots_txt/no_index.erb
Due: none

FIX: serialize can_ignore_users (#25672)
  app/serializers/current_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop

DEV: Drop distributed mutex from`SidebarSiteSettingsBackfiller#backfill!`
  app/services/sidebar_site_settings_backfiller.rb
Due: rubocop

DEV: Set a default PG statement timeout of 5 seconds in CI
  config/database.yml
Due: none

FEATURE: Groundwork for schema theme settings UI
  app/assets/javascripts/admin/addon/components/admin-theme-setting-schema.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-schema.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-schema.js
  app/assets/javascripts/admin/addon/routes/admin-route-map.js
  app/assets/javascripts/admin/addon/templates/customize-themes-schema.hbs
  app/assets/javascripts/discourse/tests/integration/components/admin-theme-setting-schema-test.gjs
  app/controllers/admin/themes_controller.rb
  config/routes.rb
Due: rubocop, prettier, eslint-js

UX: Add loading indicator to 'new or updated' PM banner
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/services/pm-topic-tracking-state.js
  app/assets/javascripts/discourse/app/templates/user-topics-list.hbs
  app/assets/stylesheets/common/base/user.scss
Due: prettier, eslint-js

UX: Add loading indicator to 'new or updated' PM banner (#25676)
  app/assets/javascripts/discourse/app/controllers/user-topics-list.js
  app/assets/javascripts/discourse/app/services/pm-topic-tracking-state.js
  app/assets/javascripts/discourse/app/templates/user-topics-list.hbs
  app/assets/stylesheets/common/base/user.scss
Due: prettier, eslint-js

FIX: Do not add `"tag-"` class to pages with no tag filter
  app/assets/javascripts/discourse/app/components/discovery/navigation.hbs
Due: none

FIX: Do not add `"tag-"` class to pages with no tag filter (#25677)
  app/assets/javascripts/discourse/app/components/discovery/navigation.hbs
Due: none

FIX: Touch up illegal flag type translations (#25670)
  app/assets/javascripts/discourse/app/components/flag-action-type.js
  config/locales/server.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

fix the spec test files
  lib/tasks/scheduler.rake
  spec/requests/admin/dashboard_controller_spec.rb
  spec/requests/admin/versions_controller_spec.rb
Due: rubocop

Run on actuated
  .github/workflows/tests.yml
Due: yaml-syntax

Skip core_frontend_builds
  .github/workflows/tests.yml
Due: yaml-syntax

Switch to local actions cache
  .github/workflows/tests.yml
Due: yaml-syntax

UX: fix search input placeholder cutoff
  plugins/chat/assets/stylesheets/common/dc-filter-input.scss
Due: none

UX: use transparent button for new-channel
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/new-channel-button.gjs
  plugins/chat/assets/stylesheets/common/chat-navbar.scss
Due: none

UX: remove settings link
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
  plugins/chat/spec/system/channel_settings_page_spec.rb
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
Due: rubocop, prettier, eslint-js

UX: removed joined tag
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/test/javascripts/components/chat-channel-card-test.js
Due: prettier, eslint-js

UX: increase lock icon size
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
Due: none

Update INSTALL-cloud.md screenshots and copy when landed on the forum homepage (#25671)
  docs/INSTALL-cloud.md
Due: none

add more spec tests
  lib/discourse_hub.rb
  spec/jobs/call_discourse_hub_spec.rb
  spec/lib/discourse_hub_spec.rb
  spec/requests/about_controller_spec.rb
  spec/requests/site_controller_spec.rb
Due: rubocop

use switch case instead
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint-js

A11Y: change composer role to dialog, improve aria-labels (#25666)
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint-js

FIX: Hide timer info on topic status toggle (#25596)
  app/assets/javascripts/discourse/app/components/topic-timer-info.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-edit-timer-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
Due: prettier, eslint-js

UX: show the full mobile read-state indicator
  app/assets/stylesheets/mobile/topic-post.scss
Due: none

DEV: Add test
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
Due: prettier, eslint-js

FIX: Test
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
Due: prettier, eslint-js

DEV: Improve test to include button functionality
  app/assets/javascripts/discourse/tests/acceptance/composer-image-preview-test.js
Due: prettier, eslint-js

Add a where clause to the index
  plugins/chat/db/migrate/20240214135517_fix_chat_channel_slug_index.rb
Due: rubocop

Tests
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
Due: rubocop

Add system test
  app/assets/javascripts/discourse/app/mixins/composer-video-thumbnail-uppy.js
  spec/system/composer_uploads_spec.rb
Due: rubocop, prettier, eslint-js

remove unused variable
  app/models/post.rb
Due: rubocop

use ember/application for setOwner still
  app/assets/javascripts/discourse/app/mixins/composer-video-thumbnail-uppy.js
Due: prettier, eslint-js
