Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

apply suggestions
  spec/models/user_spec.rb
Due: rubocop

omg why am i like this
  spec/models/user_spec.rb
Due: rubocop

DEV: Don't publish to the `/reviewable_counts` channel (#17779)
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop

introduce a very rough version of the new menu and show it if the user has opted in for the new menu
  app/assets/javascripts/discourse/app/components/user-menu/badges-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/bookmarks-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/notification-item.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/pms-notifications-list.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
  app/assets/javascripts/discourse/app/models/notification.js
  app/assets/javascripts/discourse/app/templates/modal/dismiss-notification-confirmation.hbs
  app/assets/javascripts/discourse/tests/acceptance/dismiss-notification-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notification-item-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/models/notification.rb
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  config/locales/client.en.yml
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
  spec/models/user_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: account for iPad hub nav when calculating top
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/topic.scss
Due: none

UX: account for iPad hub nav when calculating top (#17780)
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/base/topic.scss
Due: none

FIX: show update banner only once on categories with subcategory lists
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
  app/assets/javascripts/discourse/app/templates/discovery/categories.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
Due: prettier, eslint-js

minor style adjustments
  app/assets/stylesheets/desktop/user.scss
  app/assets/stylesheets/mobile/user.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

simplify code and remove tests
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
  app/assets/javascripts/discourse/app/templates/discovery/categories.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
Due: prettier, eslint-js

remove unnecessary comment
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
Due: prettier, eslint-js

FIX: show update banner only once on categories with subcategory lists (#17782)
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
  app/assets/javascripts/discourse/app/templates/discovery/categories.hbs
Due: prettier, eslint-js

UX: update register admin wizard page styles
  app/assets/stylesheets/wizard.scss
  app/views/finish_installation/register.html.erb
Due: none

FIX: scope memoization of category moderation per category
  lib/guardian.rb
  spec/lib/guardian_spec.rb
Due: rubocop

DEV: Correctly reformat code+
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

Update topic-post.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

FIX: scope memoization of category moderation per category (#17786)
  lib/guardian.rb
  spec/lib/guardian_spec.rb
Due: rubocop

FIX: don't memoize site setting in guardian
  lib/guardian.rb
  spec/lib/guardian_spec.rb
Due: rubocop

remove dupe conditions, pull more stuff out of memoization
  lib/guardian.rb
Due: rubocop

DEV: UserCommScreener fine-grained actor improvements (#17737)
  lib/user_comm_screener.rb
  spec/lib/user_comm_screener_spec.rb
Due: rubocop

memoize false as well (correctly)
  lib/guardian.rb
  spec/lib/guardian_spec.rb
Due: rubocop

optimise and simplify cache
  lib/guardian.rb
Due: rubocop

DEV: Guardians aren't active record objects, so shouldn't use fab!
  spec/lib/second_factor/auth_manager_spec.rb
  spec/models/site_spec.rb
  spec/models/user_spec.rb
  spec/services/post_bookmarkable_spec.rb
  spec/services/topic_bookmarkable_spec.rb
Due: rubocop

FIX: Handle actor not having preferences in UserCommScreener
  lib/user_comm_screener.rb
  spec/lib/user_comm_screener_spec.rb
Due: rubocop

Update lib/guardian.rb
  lib/guardian.rb
Due: rubocop

FIX: don't memoize site setting in guardian (#17788)
  lib/guardian.rb
  spec/lib/guardian_spec.rb
Due: rubocop

FIX: Handle actor not having preferences in UserCommScreener (#17790)
  lib/user_comm_screener.rb
  spec/lib/user_comm_screener_spec.rb
Due: rubocop

DEV: Guardians aren't active record objects, so shouldn't use fab! (#17789)
  spec/lib/second_factor/auth_manager_spec.rb
  spec/models/site_spec.rb
  spec/models/user_spec.rb
  spec/services/post_bookmarkable_spec.rb
  spec/services/topic_bookmarkable_spec.rb
Due: rubocop

UX: fix chat lock icon position and background
  app/assets/stylesheets/common/base/sidebar-section-link.scss
Due: none

UX: fix chat lock icon position and background (#17791)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
Due: none

UX: update register admin wizard page styles (#17785)
  app/assets/stylesheets/wizard.scss
  app/views/finish_installation/register.html.erb
Due: none

DEV: Add `registerUserMenuComponentForNotificationType` plugin API
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/models/notification.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

UX: Move About and FAQ links into secondary section in More... dropdown
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/community-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-links.hbs
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
Due: prettier, eslint-js

FEATURE: add welcome topic cta banner
  app/assets/javascripts/discourse/app/components/welcome-topic-banner.js
  app/assets/javascripts/discourse/app/controllers/discovery/topics.js
  app/assets/javascripts/discourse/app/models/topic-list.js
  app/assets/javascripts/discourse/app/templates/components/welcome-topic-banner.hbs
  app/assets/javascripts/discourse/app/templates/discovery/topics.hbs
  app/assets/stylesheets/common/base/_topic-list.scss
  app/controllers/list_controller.rb
  app/models/post.rb
  app/models/topic_list.rb
  app/serializers/topic_list_serializer.rb
  config/locales/client.en.yml
  config/site_settings.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: update bootstrap mode notice to add invite and wizard links
  app/assets/javascripts/discourse/app/components/bootstrap_mode_notice.js
  app/assets/javascripts/discourse/app/components/global-notice.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/bootstrap-mode-notice.hbs
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/alert.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: add server side tests for welcome topic banner
  spec/models/post_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop

DEV: Add client side tests
  app/assets/javascripts/discourse/app/components/welcome-topic-banner.js
  app/assets/javascripts/discourse/app/templates/components/bootstrap-mode-notice.hbs
  app/assets/javascripts/discourse/tests/acceptance/bootstrap-mode-notice-test.js
  app/assets/javascripts/discourse/tests/acceptance/welcome-topic-banner-test.js
Due: prettier, eslint-js

UX: Move About and FAQ links into secondary section in More... dropdown (#17793)
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/templates/components/sidebar/community-section.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-link.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/more-section-links.hbs
  app/assets/stylesheets/common/base/sidebar-more-section-links.scss
Due: prettier, eslint-js

Add support for toggling between mobile and desktop view on sidebar
  app/assets/javascripts/discourse/app/templates/components/sidebar/footer.hbs
  app/assets/javascripts/discourse/tests/acceptance/sidebar-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-test.js
Due: prettier, eslint-js

Support old hamburger menu custom footer links in Sidebar
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-community-section-links.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
Due: prettier, eslint-js
