Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

theme-qunit routes
  app/controllers/qunit_controller.rb
  app/views/qunit/index.html.erb
  app/views/qunit/theme.html.erb
  config/routes.rb
Due: rubocop, syntax_tree

works?
  app/controllers/qunit_controller.rb
  app/views/qunit/qunit.html.erb
  config/routes.rb
Due: rubocop, syntax_tree

proxy
  frontend/discourse/testem.js
Due: prettier, eslint

fix paths
  bin/qunit
  config/routes.rb
  frontend/discourse/testem.js
Due: rubocop, syntax_tree, prettier, eslint

WORKS
  app/views/qunit/qunit.html.erb
  bin/qunit
  config/initializers/006-mini_profiler.rb
  frontend/discourse/testem.js
  frontend/discourse/tests/setup-tests.js
Due: rubocop, syntax_tree, prettier, eslint

update specs, change routes
  app/controllers/qunit_controller.rb
  config/routes.rb
  spec/tasks/qunit_cli_spec.rb
Due: rubocop, syntax_tree

UX: make the caret indicator always visible
  app/assets/stylesheets/common/d-editor.scss
  frontend/discourse/app/lib/composer/toolbar.js
Due: prettier, eslint, stylelint

DEV: Isolate pusher payloads with deep_dup
  app/jobs/regular/deliver_push_notification.rb
  app/services/hub_push_notification_pusher.rb
Due: rubocop, syntax_tree

DEV: Fix deprecations in plugins specs and silence output
  plugins/automation/app/jobs/scheduled/discourse_automation/tracker.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/requests/direct_messages_controller_spec.rb
  plugins/discourse-ai/spec/db/migrate/20241031041242_migrate_sentiment_classification_result_format_spec.rb
  plugins/discourse-ai/spec/db/migrate/20250125162658_fix_broken_open_ai_embeddings_config_spec.rb
  plugins/discourse-ai/spec/db/migrate/20250127145305_clean_unused_embedding_search_indexes_spec.rb
  plugins/discourse-ai/spec/db/migrate/20260331024139_split_translation_public_content_setting_spec.rb
  plugins/discourse-ai/spec/jobs/scheduled/generate_concepts_from_popular_items_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/setting_context_spec.rb
  plugins/discourse-assign/lib/pending_assigns_reminder.rb
  plugins/discourse-assign/lib/random_assign_utils.rb
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-data-explorer/spec/tasks/data_explorer_spec.rb
  plugins/discourse-data-explorer/spec/tasks/fix_query_ids_spec.rb
  plugins/discourse-presence/spec/integration/presence_spec.rb
  plugins/discourse-subscriptions/spec/requests/subscribe_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Pass filter category into topic-list-item transformer context
  frontend/discourse/app/components/topic-list/item.gjs
  frontend/discourse/app/components/topic-list/list.gjs
  frontend/discourse/tests/integration/components/topic-list-item-test.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Make can_permanently_delete visible with strong safeguards
  app/assets/stylesheets/common/base/dialog.scss
  app/controllers/posts_controller.rb
  app/models/topic.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  frontend/discourse/admin/lib/constants.js
  frontend/discourse/admin/models/site-setting.js
  frontend/discourse/app/components/dialog-messages/permanently-delete-confirm.gjs
  frontend/discourse/app/components/modal/history.gjs
  frontend/discourse/app/controllers/topic.js
  frontend/discourse/tests/integration/components/dialog-holder-test.gjs
  lib/guardian/topic_guardian.rb
  lib/site_settings/type_supervisor.rb
  spec/requests/posts_controller_spec.rb
  spec/system/admin_site_setting_requires_confirmation_spec.rb
  spec/system/page_objects/components/dialog.rb
  spec/system/page_objects/modals/post_history.rb
  spec/system/page_objects/pages/admin_site_settings.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/permanently_delete_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

fix specs
  spec/models/topic_spec.rb
Due: rubocop, syntax_tree

drop tests/index.html
  frontend/discourse/tests/index.html
Due: none

async observers
  app/views/qunit/qunit.html.erb
Due: none

UX: refine permanently delete confirmation dialog
  app/assets/stylesheets/common/base/dialog.scss
  config/locales/client.en.yml
  frontend/discourse/app/controllers/topic.js
Due: prettier, eslint, yaml-syntax, i18n-lint, stylelint

more
  plugins/chat/spec/lib/chat/channel_archive_service_spec.rb
Due: rubocop, syntax_tree

suppress
  plugins/discourse-affiliate/spec/db/migrate/20250722101702_enable_affiliate_if_already_installed_spec.rb
Due: rubocop, syntax_tree

DEV: Fix a jwt deprecation
  plugins/discourse-openid-connect/lib/omniauth_open_id_connect.rb
Due: rubocop, syntax_tree

FIX: Latch header topic info visibility to prevent flicker
  frontend/discourse/app/services/header.js
Due: prettier, eslint

fix font loading
  bin/qunit
  config/database.yml
  lib/discourse.rb
  lib/stylesheet/manager.rb
Due: rubocop, syntax_tree

UX: allow body scrolling when composer is open on iPad
  plugins/chat/assets/stylesheets/common/base-common.scss
Due: prettier, stylelint

DEV: Remove the obsolete non-rollup CI job
  .github/workflows/tests.yml
Due: yaml-syntax

restore error silencing
  frontend/deprecation-silencer/index.js
Due: prettier, eslint

check if keyboard is visible too
  plugins/chat/assets/stylesheets/common/base-common.scss
Due: prettier, stylelint

restore discourse-plugins?
  frontend/asset-processor/package.json
  frontend/asset-processor/theme-rollup.js
  frontend/discourse-plugins/colocated-template-compiler.js
  frontend/discourse-plugins/index.js
  frontend/discourse-plugins/package.json
  frontend/discourse-plugins/transform-action-syntax.js
  frontend/discourse/ember-cli-build.js
  frontend/discourse/package.json
  lib/asset_processor.rb
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: rubocop, syntax_tree, prettier, eslint

cleaner?
  plugins/discourse-ai/spec/jobs/scheduled/generate_concepts_from_popular_items_spec.rb
Due: rubocop, syntax_tree

DEV: Only honor latch while actively scrolling down
  frontend/discourse/app/services/header.js
Due: prettier, eslint

DEV: Reset latch when title reappears while scrolling up
  frontend/discourse/app/services/header.js
Due: prettier, eslint

fixup test pages
  bin/qunit
  frontend/discourse/testem.js
Due: prettier, eslint

fix admin translations
  app/views/qunit/qunit.html.erb
Due: none

plugin support
  app/controllers/bootstrap_controller.rb
  app/controllers/qunit_controller.rb
  app/views/qunit/qunit.html.erb
  config/routes.rb
  frontend/discourse/public/assets/scripts/discourse-test-load-dynamic-js.js
Due: rubocop, syntax_tree, prettier, eslint

ignore output
  spec/support/helpers.rb
Due: rubocop, syntax_tree

DEV: Reset scroll direction to UNSCROLLED at offset 0
  frontend/discourse/app/services/scroll-direction.js
Due: prettier, eslint

deprioritize the language selector when AI translation is enabled, instead of hiding
  config/locales/client.en.yml
  frontend/discourse/app/instance-initializers/post-language-selector.js
  frontend/discourse/app/lib/registry/transformers.js
  plugins/discourse-ai/assets/javascripts/discourse/initializers/translation.js
Due: prettier, eslint, yaml-syntax, i18n-lint

set default target
  app/controllers/qunit_controller.rb
Due: rubocop, syntax_tree

FIX: user count needs to decrease even if user is destroyed
  app/models/group_user.rb
  lib/group_user_manager.rb
Due: rubocop, syntax_tree

Fix svg icons
  app/views/qunit/qunit.html.erb
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint

UX: only show topic count on subcategory
  frontend/discourse/app/helpers/category-link.js
Due: prettier, eslint

FIX: broken test now that trust level updates post-commit
  spec/models/invite_redeemer_spec.rb
Due: rubocop, syntax_tree

FIX: add missing 'expand' icon to SVG sprite
  lib/svg_sprite.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
