Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: ensures period-chooser is not losing query params (#10534)
  app/assets/javascripts/discourse/app/controllers/discovery.js
  test/javascripts/acceptance/topic-discovery-test.js
Due: prettier, eslint-js

Css class additions (#10532)
  app/assets/javascripts/discourse/app/components/latest-topic-list-item.js
  app/assets/javascripts/discourse/app/lib/render-tag.js
Due: prettier, eslint-js

FIX: `default_tags_muted` site setting won't have tag ids.
  lib/topic_query.rb
  spec/components/topic_query_spec.rb
Due: rubocop

FIX: remove rgb vars
  app/assets/stylesheets/color_definitions.scss
Due: none

add rgb css vars
  app/assets/stylesheets/color_definitions.scss
Due: none

UI: Remove dark-mode active styling on buttons
  app/assets/stylesheets/common/components/buttons.scss
Due: none

Revert "FIX: remove rgb vars"
  app/assets/stylesheets/color_definitions.scss
Due: none

FIX: Fixes :active gradient swap in dark mode
  app/assets/stylesheets/common/components/buttons.scss
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
