Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Correct service-worker sourceMappingURL (#15916)
  app/controllers/static_controller.rb
  config/routes.rb
  spec/requests/static_controller_spec.rb
Due: rubocop

Update app/models/theme.rb
  app/models/theme.rb
Due: rubocop

FIX: Ensure theme JavaScript cache get consistent SHA1 digest (#15933)
  app/models/theme.rb
Due: rubocop

FIX: Update application_helper logic now that Ember CLI is default
  app/helpers/application_helper.rb
Due: rubocop

FIX: Update application_helper logic now that Ember CLI is default (#15935)
  app/helpers/application_helper.rb
Due: rubocop

FIX: remove racing requests for admin users
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
Due: prettier, eslint-js

DEV: Don't import year of birth
  script/bulk_import/base.rb
  script/import_scripts/base.rb
Due: rubocop

make user card non-clickable for anon users
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/stylesheets/common/foundation/helpers.scss
Due: prettier, eslint-js

cleanup
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

FIX: unable to filter user directory when sorted by user field.
  app/controllers/directory_items_controller.rb
  spec/requests/directory_items_controller_spec.rb
Due: rubocop

DEV: Don't import year of birth (#15937)
  script/bulk_import/base.rb
  script/import_scripts/base.rb
Due: rubocop

DEV: Make user card non-clickable for anon users: (#15938)
  app/assets/javascripts/discourse/app/widgets/post.js
  app/assets/javascripts/discourse/app/widgets/poster-name.js
  app/assets/stylesheets/common/foundation/helpers.scss
Due: prettier, eslint-js

PERF: Use Redis `SET EX GET` instead of LUA script for counting
  app/models/concerns/cached_counting.rb
Due: rubocop

FEATURE: Centralized 2FA page
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/discourse/app/components/second-factor-input.js
  app/assets/javascripts/discourse/app/controllers/second-factor-auth.js
  app/assets/javascripts/discourse/app/lib/ajax-error.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/second-factor-auth.js
  app/assets/javascripts/discourse/app/templates/components/second-factor-input.hbs
  app/assets/javascripts/discourse/app/templates/second-factor-auth.hbs
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/session_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  lib/second_factor_verification_manager.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

change api + add a few specs
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  lib/second_factor/actions/base.rb
  lib/second_factor/actions/grant_admin.rb
  lib/second_factor/auth_manager.rb
  lib/second_factor/auth_manager_result.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

finish the new 2FA system/page and add lots of tests!
  app/assets/javascripts/discourse/app/controllers/second-factor-auth.js
  app/assets/javascripts/discourse/app/routes/second-factor-auth.js
  app/assets/javascripts/discourse/app/templates/second-factor-auth.hbs
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/session_controller.rb
  config/locales/server.en.yml
  config/routes.rb
  lib/global_path.rb
  lib/second_factor/actions/base.rb
  lib/second_factor/actions/grant_admin.rb
  lib/second_factor/auth_manager.rb
  lib/second_factor/auth_manager_result.rb
  lib/second_factor/bad_challenge.rb
  spec/lib/second_factor/auth_manager_spec.rb
  spec/rails_helper.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/session_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

use requires_login helper
  app/controllers/session_controller.rb
Due: rubocop

update copy
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

remove StrictEnum
  lib/second_factor/auth_manager_result.rb
Due: rubocop

reduce dup code
  app/controllers/session_controller.rb
  lib/second_factor/auth_manager.rb
Due: rubocop

Add documentation for the auth manager
  lib/second_factor/auth_manager.rb
Due: rubocop

Tests for GrantAdmin action
  lib/admin_confirmation.rb
  spec/lib/second_factor/actions/grant_admin_spec.rb
Due: rubocop

UX: Improve default_code_lang copy
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

UX: Improve default_code_lang copy (#15940)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Prefix deprecation notices with plugin name
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  config/application.rb
  lib/discourse_js_processor.rb
Due: rubocop, prettier, eslint-js

DEV: Ensure stylesheet sourcemap URLs include __ws hostname param (#15934)
  lib/stylesheet/manager.rb
  lib/stylesheet/manager/builder.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

DEV: Prefix deprecation notices with plugin name (#15942)
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  config/application.rb
  lib/discourse_js_processor.rb
Due: rubocop, prettier, eslint-js

FIX: Post migration to fix custom emojis with secure URL
  db/post_migrate/20220214224506_reset_custom_emoji_post_bakes_version_secure_fix.rb
Due: rubocop

DEV: Allow access to ember-computed-decorators under ember-cli
  app/assets/javascripts/discourse/public/assets/scripts/module-shims.js
Due: none

FIX: Redis library uses kwargs
  app/models/concerns/cached_counting.rb
  spec/models/application_request_spec.rb
Due: rubocop

DEV: Detect minimum Redis version
  config/initializers/001-redis.rb
Due: rubocop

FIX: Test was stubing wrong method
  spec/models/web_crawler_request_spec.rb
Due: rubocop

Update app/assets/javascripts/discourse/public/assets/scripts/module-shims.js
  app/assets/javascripts/discourse/public/assets/scripts/module-shims.js
Due: none

FIX: Post migration to fix custom emojis with secure URL (#15944)
  db/post_migrate/20220214224506_reset_custom_emoji_post_bakes_version_secure_fix.rb
Due: rubocop

DEV: Add bounce_error_code to EmailLog
  app/controllers/webhooks_controller.rb
  app/jobs/regular/process_sns_notification.rb
  app/models/email_log.rb
  db/migrate/20220214233625_add_bounce_error_code_to_email_log.rb
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
  spec/requests/webhooks_controller_spec.rb
Due: rubocop

DEV: Drop user_stats count column constraints
  app/services/user_stat_count_updater.rb
  db/post_migrate/20220215015538_drop_user_stat_count_constraints.rb
  lib/post_destroyer.rb
  spec/components/post_destroyer_spec.rb
Due: rubocop

DEV: Update UserStatCountUpdater to have a direct set method
  app/services/user_stat_count_updater.rb
  lib/post_destroyer.rb
  spec/services/user_stat_count_updater_spec.rb
Due: rubocop

DEV: Review fixes
  app/controllers/webhooks_controller.rb
  lib/email.rb
  lib/email/receiver.rb
Due: rubocop

DEV: Add bounce_error_code to EmailLog (#15948)
  app/controllers/webhooks_controller.rb
  app/jobs/regular/process_sns_notification.rb
  app/models/email_log.rb
  db/migrate/20220214233625_add_bounce_error_code_to_email_log.rb
  lib/email.rb
  lib/email/receiver.rb
  spec/components/email/receiver_spec.rb
  spec/requests/webhooks_controller_spec.rb
Due: rubocop

DEV: Move text area surround code out of d-editor
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/mixins/textarea-text-manipulation.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
