Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Add upload-actions plugin outlet
  app/assets/javascripts/discourse/app/templates/modal/upload-selector.hbs
Due: none

FIX: pretty text allow list (#10977)
  app/assets/javascripts/discourse/app/controllers/history.js
  app/assets/javascripts/discourse/app/lib/text.js
  app/assets/javascripts/discourse/tests/unit/lib/allow-lister-test.js
  app/assets/javascripts/pretty-text-bundle.js
  app/assets/javascripts/pretty-text/addon/allow-lister.js
  app/assets/javascripts/pretty-text/addon/engines/discourse-markdown-it.js
  app/assets/javascripts/pretty-text/addon/sanitizer.js
  app/assets/javascripts/pretty-text/addon/white-lister.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/bbcode-inline.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/code.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/d-wrap.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/emoji.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/inject-line-number.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/quotes.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/resize-controls.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/table.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/upload-protocol.js
  lib/pretty_text.rb
  plugins/discourse-details/assets/javascripts/lib/discourse-markdown/details.js.es6
  plugins/discourse-local-dates/assets/javascripts/lib/discourse-markdown/discourse-local-dates.js.es6
  plugins/poll/assets/javascripts/lib/discourse-markdown/poll.js.es6
Due: rubocop, prettier, eslint-es6, eslint-js

FIX: Support instances with slug generation set to "none"
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
Due: prettier, eslint-js

FIX: show 'quote' button when topic is closed but composer is open
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint-js

FIX: show 'quote' button when topic is closed but composer is open (#11054)
  app/assets/javascripts/discourse/app/components/quote-button.js
Due: prettier, eslint-js

Add routing for category edit screens (#11027)
  app/assets/javascripts/discourse/app/components/edit-category-tab.js
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/discovery-edit-category.js
  app/assets/javascripts/discourse/app/routes/discovery-edit-child-category.js
  app/assets/javascripts/discourse/app/routes/edit-category-index.js
  app/assets/javascripts/discourse/app/routes/edit-category-tabs.js
  app/assets/javascripts/discourse/app/routes/edit-category.js
  app/assets/javascripts/discourse/app/routes/edit-child-category-index.js
  app/assets/javascripts/discourse/app/routes/edit-child-category-tabs.js
  app/assets/javascripts/discourse/app/routes/edit-child-category.js
  app/assets/javascripts/discourse/app/routes/new-category.js
  app/assets/javascripts/discourse/app/templates/edit-category-tabs.hbs
  app/assets/javascripts/discourse/tests/acceptance/category-edit-security-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-new-test.js
  app/assets/javascripts/discourse/tests/acceptance/password-reset-test.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  config/routes.rb
Due: rubocop, prettier, eslint-js

DEV: Move reports to concerns for autoloading
  app/models/concerns/reports/users_by_type.rb
  app/models/report.rb
Due: rubocop

remove old report
  app/models/reports/users_by_type.rb
Due: rubocop

Add comment to the query param append code.
  app/assets/javascripts/service-worker.js.erb
Due: none

DEV: enable cors to all cdn get requests from workbox. (#10685)
  app/assets/javascripts/service-worker.js.erb
  app/controllers/application_controller.rb
  app/controllers/highlight_js_controller.rb
  app/controllers/static_controller.rb
  app/controllers/stylesheets_controller.rb
  app/controllers/svg_sprite_controller.rb
  app/controllers/theme_javascripts_controller.rb
  app/controllers/uploads_controller.rb
  app/controllers/user_avatars_controller.rb
  config/initializers/008-rack-cors.rb
  lib/discourse.rb
  lib/middleware/enforce_hostname.rb
  lib/tasks/javascript.rake
  package.json
  public/javascripts/workbox/workbox-cacheable-response.dev.js
  public/javascripts/workbox/workbox-cacheable-response.dev.js.map
  public/javascripts/workbox/workbox-cacheable-response.prod.js
  public/javascripts/workbox/workbox-cacheable-response.prod.js.map
  spec/requests/application_controller_spec.rb
  spec/requests/static_controller_spec.rb
  yarn.lock
Due: rubocop

FIX: Staff can create and edit posts even if a topic is in slow mode.
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/helpers/slow-mode.js
  config/locales/server.en.yml
  lib/guardian/topic_guardian.rb
  lib/post_creator.rb
  lib/post_revisor.rb
  spec/components/post_creator_spec.rb
  spec/components/post_revisor_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: The attribute is `discourse-url` not `data-discourse-url`
  public/javascripts/embed-topics.js
Due: none

FIX: Staff can create and edit posts even if a topic is in slow mode. (#11057)
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/helpers/slow-mode.js
  config/locales/server.en.yml
  lib/guardian/topic_guardian.rb
  lib/post_creator.rb
  lib/post_revisor.rb
  spec/components/post_creator_spec.rb
  spec/components/post_revisor_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FIX: strip the trailing slash (/) of cors origins. (#10996)
  config/initializers/008-rack-cors.rb
  config/locales/server.en.yml
  lib/site_settings/validations.rb
  spec/components/hijack_spec.rb
  spec/lib/site_settings/validations_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: min_topic_views_for_delete_confirm
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/templates/modal/delete-topic-confirm.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  config/locales/server.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: import visible
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint-js

FEATURE: Ask user to confirm topic deletion when views exceed a certain amount (#11006)
  app/assets/javascripts/discourse/app/controllers/delete-topic-confirm.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/templates/modal/delete-topic-confirm.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Allow admins to opt out of chunked encoding
  app/assets/javascripts/discourse/app/initializers/message-bus.js
  config/locales/server.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Allow admins to opt out of chunked encoding (#11060)
  app/assets/javascripts/discourse/app/initializers/message-bus.js
  config/locales/server.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Fix secure image email onebox and optimized
  lib/email/sender.rb
  lib/email/styles.rb
  lib/pretty_text.rb
  spec/components/email/sender_spec.rb
  spec/components/email/styles_spec.rb
Due: rubocop

FIX: Use <> link instead of code for discobot backup image link
  plugins/discourse-narrative-bot/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Remove client-side legacy tag and category routes
  app/assets/javascripts/discourse/app/controllers/rename-tag.js
  app/assets/javascripts/discourse/app/controllers/tag-show.js
  app/assets/javascripts/discourse/app/models/nav-item.js
  app/assets/javascripts/discourse/app/pre-initializers/dynamic-route-builders.js
  app/assets/javascripts/discourse/app/routes/app-route-map.js
  app/assets/javascripts/discourse/app/routes/tag-show.js
  app/assets/javascripts/discourse/app/routes/tags-intersection.js
Due: prettier, eslint-js

FIX: Remove reference to discovery.parentCategory
  app/assets/javascripts/discourse/app/routes/new-topic.js
Due: prettier, eslint-js

DEV: Remove server-side legacy tag routes
  config/routes.rb
Due: rubocop

DEV: Refactor ListController#set_category
  app/controllers/list_controller.rb
Due: rubocop

FIX: Make all email subject vars available in notification subjects
  app/models/translation_override.rb
  lib/email/message_builder.rb
  spec/components/email/message_builder_spec.rb
Due: rubocop

FIX: keep tag filter value when changing the category dropdown.
  app/assets/javascripts/discourse/app/templates/components/bread-crumbs.hbs
  app/assets/javascripts/select-kit/addon/components/category-drop.js
Due: prettier, eslint-js

FEATURE: new setting to create a linked topic on autoclosing mega topics
  app/jobs/regular/create_linked_topic.rb
  app/models/linked_topic.rb
  app/models/topic.rb
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20201027110546_create_linked_topics.rb
  lib/post_creator.rb
  spec/components/post_creator_spec.rb
  spec/jobs/create_linked_topic_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: support new Google Analytics id format
  config/site_settings.yml
Due: yaml-syntax

FIX: Refactor TagsController#set_category_from_params
  app/controllers/list_controller.rb
  app/controllers/tags_controller.rb
  app/models/category.rb
Due: rubocop

FIX: Build correct canonical URL for tags and categories
  app/controllers/tags_controller.rb
Due: rubocop

DEV: Fix deprecation notice in Ruby 2.7
  app/models/topic_list.rb
Due: rubocop

DEV: Replace use of removed legacy tag route
  spec/requests/api/tags_spec.rb
Due: rubocop

FIX: support new Google Analytics id format (#11067)
  config/site_settings.yml
Due: yaml-syntax

DEV: Add deprecation notices for old routes and controllers
  app/assets/javascripts/discourse-common/addon/resolver.js
Due: prettier, eslint-js
