Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: early hints around_action -> after_action
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
Due: rubocop

DEV: Add `{{hide-application-sidebar}}` helper (#26310)
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/helpers/hide-application-sidebar.js
  app/assets/javascripts/discourse/app/mixins/disable-sidebar.js
  app/assets/javascripts/discourse/app/routes/invites-show.js
  app/assets/javascripts/discourse/app/routes/second-factor-auth.js
  app/assets/javascripts/discourse/app/routes/wizard.js
  app/assets/javascripts/discourse/app/services/sidebar-state.js
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/second-factor-auth.hbs
  app/assets/javascripts/discourse/app/templates/wizard.gjs
Due: prettier, eslint-js

DEV: Various bulk-select dropdown tweaks
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/raw-templates/topic-list-header-column.hbr
  app/assets/javascripts/select-kit/addon/components/bulk-select-topics-dropdown.js
  config/locales/client.en.yml
  config/site_settings.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Update workflow
  .github/workflows/migration-tests.yml
Due: yaml-syntax

less output
  migrations/benchmarks/parameter_binding.rb
Due: rubocop

update gemfile.lock
  Gemfile.lock
Due: none

wip - currently broken
  migrations/bin/convert
  migrations/bin/import
  migrations/common/application.rb
  migrations/importer/steps/.gitkeep
  migrations/lib/application.rb
  migrations/lib/common/intermediate_db.rb
  migrations/lib/common/intermediate_db_schema/000_base_schema.sql
  migrations/lib/common/intermediate_db_schema/001-schema-migrations.sql
  migrations/lib/common/intermediate_db_schema/002-config.sql
  migrations/lib/common/intermediate_db_schema/003-users.sql
  migrations/lib/converters/.gitkeep
  migrations/lib/converters/pepper/main.rb
  migrations/lib/importer/.gitkeep
  migrations/lib/importer/steps/.gitkeep
  migrations/scripts/benchmarks/hash_vs_data.rb
  migrations/scripts/benchmarks/parameter_binding.rb
  migrations/scripts/benchmarks/time_formatting.rb
  migrations/scripts/benchmarks/write.rb
Due: rubocop

simpler benchmark
  migrations/benchmarks/parameter_binding.rb
Due: rubocop

more benchmarks
  migrations/benchmarks/date_formatting.rb
  migrations/benchmarks/db.rb
  migrations/benchmarks/hash_vs_data.rb
  migrations/benchmarks/time_formatting.rb
Due: rubocop

don't modify gemfile for converters
  Gemfile
  Gemfile.lock
Due: none

extract Gemfile to make it work with dependabot
  .github/dependabot.yml
  migrations/.gitignore
  migrations/bin/convert
  migrations/config/gemfiles/README.md
  migrations/config/gemfiles/convert/Gemfile
  migrations/lib/application.rb
Due: rubocop, yaml-syntax

WIP: Porting existing converter implementation to core
  .gitignore
  Gemfile
  Gemfile.lock
  migrations/README.md
  migrations/common/intermediate_db.rb
  migrations/common/intermediate_db_schema/001-schema-migrations.sql
  migrations/common/intermediate_db_schema/002-config.sql
  migrations/common/intermediate_db_schema/003-users.sql
  migrations/convert
Due: rubocop

improve rspec for migrations-tooling
  .github/workflows/migration-tests.yml
  Gemfile.lock
  migrations/.gitignore
  migrations/README.md
  migrations/bin/convert
  migrations/config/gemfiles/convert/Gemfile
  migrations/lib/migrations.rb
  migrations/spec/import_spec.rb
  migrations/spec/lib/migrations_spec.rb
  migrations/spec/rails_helper.rb
Due: rubocop, yaml-syntax

WIP: Benchmarks
  migrations/benchmarks/date_formatting.rb
  migrations/benchmarks/db.rb
  migrations/common/intermediate_db.rb
Due: rubocop

benchmark for write speeds
  migrations/benchmarks/write.rb
Due: rubocop

benchmark with more options
  migrations/benchmarks/parameter_binding.rb
Due: rubocop

Add benchmark for SQLite and DuckDB
  migrations/scripts/benchmarks/database_write.rb
Due: rubocop

WIP
  migrations/README.md
  migrations/common/application.rb
  migrations/convert
  migrations/converters/pepper/main.rb
Due: rubocop

benchmark for parameter binding
  migrations/benchmarks/parameter_binding.rb
Due: rubocop

disable workflow step for now
  .github/workflows/migration-tests.yml
Due: yaml-syntax

revert changes
  .gitignore
  Gemfile.lock
Due: none

fixup
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Due: rubocop

Fix linting errors
  migrations/scripts/benchmarks/hash_vs_data.rb
  migrations/scripts/benchmarks/parameter_binding.rb
  migrations/scripts/benchmarks/write.rb
  migrations/spec/lib/migrations_spec.rb
Due: rubocop

add missing translation
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Clarify spec
  spec/lib/homepage_helper_spec.rb
Due: rubocop

cache files from `bundle/inline`
  .github/workflows/migration-tests.yml
Due: yaml-syntax

fix linting errors
  migrations/lib/common/intermediate_db.rb
  migrations/scripts/benchmarks/database_write.rb
  migrations/scripts/benchmarks/hash_vs_data.rb
  migrations/scripts/benchmarks/parameter_binding.rb
  migrations/scripts/benchmarks/write.rb
  migrations/spec/lib/migrations_spec.rb
Due: rubocop

DEV: Remove deprecated DisableSidebar mixin
  app/assets/javascripts/discourse/app/mixins/disable-sidebar.js
Due: prettier, eslint-js

caching should work
  .github/workflows/migration-tests.yml
Due: yaml-syntax

don't clean gems
  .github/workflows/migration-tests.yml
Due: yaml-syntax

better comment
  .github/workflows/migration-tests.yml
Due: yaml-syntax

documentation
  migrations/config/gemfiles/README.md
  migrations/spec/rails_helper.rb
Due: rubocop

FIX: Ensure `showPoweredBy` updates when dependent properties change
  app/assets/javascripts/discourse/app/controllers/application.js
Due: prettier, eslint-js

make binaries work from / and /migrations
  config/application.rb
  migrations/bin/import
  migrations/config/gemfiles/import/Gemfile
  migrations/lib/migrations.rb
  migrations/spec/bin/import_spec.rb
  migrations/spec/import_spec.rb
  migrations/spec/lib/migrations_spec.rb
  migrations/spec/rails_helper.rb
Due: rubocop

revert
  config/application.rb
Due: rubocop

DEV: Add skip_email_bulk_invites hidden site setting
  app/jobs/regular/bulk_invite.rb
  config/site_settings.yml
  spec/jobs/bulk_invite_spec.rb
Due: rubocop, yaml-syntax

FIX: Don't allow access to plugin page if plugin is not visible
  app/controllers/admin/plugins_controller.rb
  spec/requests/admin/plugins_controller_spec.rb
Due: rubocop

removed link to TOS from community guidelines (#26326)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

update desc of personal message enabled groups setting (#26296)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Improved description of `allow_anonymous_likes` (#26269)
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
