Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

FEATURE: add image generation tools (#35946)
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins/show/discourse-ai-tools/new.js
  plugins/discourse-ai/app/controllers/discourse_ai/ai_helper/assistant_controller.rb
  plugins/discourse-ai/app/models/ai_persona.rb
  plugins/discourse-ai/app/models/ai_tool.rb
  plugins/discourse-ai/app/services/discourse_ai/ai_helper/generate_thumbnails.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-list-editor.gjs
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-tools.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/db/migrate/20251113174112_update_post_illustrator_system_prompt.rb
  plugins/discourse-ai/db/migrate/20251113174215_add_is_image_generation_tool_to_ai_tools.rb
  plugins/discourse-ai/lib/ai_bot.rb
  plugins/discourse-ai/lib/ai_bot/entry_point.rb
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/lib/ai_helper/painter.rb
  plugins/discourse-ai/lib/ai_tool_scripts/preamble.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/browse_web_jina.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/empty_tool.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/exchange_rate.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/custom.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/flux.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/gemini.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/openai.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/stock_quote.js
  plugins/discourse-ai/lib/configuration/feature.rb
  plugins/discourse-ai/lib/personas/post_illustrator.rb
  plugins/discourse-ai/lib/personas/tool_runner.rb
  plugins/discourse-ai/lib/personas/tools/custom.rb
  plugins/discourse-ai/spec/lib/modules/ai_bot/entry_point_spec.rb
  plugins/discourse-ai/spec/lib/modules/ai_bot/playground_spec.rb
  plugins/discourse-ai/spec/lib/modules/ai_helper/assistant_spec.rb
  plugins/discourse-ai/spec/lib/modules/ai_helper/painter_spec.rb
  plugins/discourse-ai/spec/models/ai_tool_spec.rb
  plugins/discourse-ai/spec/requests/ai_helper/assistant_controller_spec.rb
  plugins/discourse-ai/spec/services/discourse_ai/ai_helper/generate_thumbnails_spec.rb
  plugins/discourse-ai/spec/system/ai_bot/tool_list_editor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Apply credit system on daily schedule instead of monthly (#36066)
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_llms_controller.rb
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/app/serializers/llm_credit_allocation_serializer.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-credit-bar.gjs
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/db/migrate/20251117000001_add_daily_credits_to_llm_credit_allocations.rb
  plugins/discourse-ai/db/migrate/20251117000002_add_daily_usage_to_llm_credit_allocations.rb
  plugins/discourse-ai/db/post_migrate/20251117000003_drop_monthly_credit_columns.rb
  plugins/discourse-ai/spec/fabricators/llm_credit_allocation_fabricator.rb
  plugins/discourse-ai/spec/models/llm_credit_allocation_spec.rb
  plugins/discourse-ai/spec/services/problem_check/ai_credit_hard_limit_spec.rb
  plugins/discourse-ai/spec/services/problem_check/ai_credit_soft_limit_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: Add automation to remove uploads from deleted posts (#36020)
  plugins/automation/config/locales/server.en.yml
  plugins/automation/lib/discourse_automation/scripts.rb
  plugins/automation/lib/discourse_automation/scripts/remove_upload_markup_from_deleted_posts.rb
  plugins/automation/plugin.rb
  plugins/automation/spec/scripts/remove_upload_markup_from_deleted_posts_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: category page improvements (#36062)
  config/locales/client.en.yml
  config/locales/server.en.yml
  frontend/discourse/app/components/bread-crumbs.gjs
  frontend/discourse/select-kit/components/category-drop.js
  frontend/discourse/select-kit/components/category-drop/category-drop-header.gjs
  plugins/discourse-topic-voting/config/locales/client.en.yml
  spec/system/category_localizations_spec.rb
  spec/system/page_objects/components/select_kit.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Move keyboard shortcuts modal launching (#36085)
  frontend/discourse/app/lib/keyboard-shortcuts.js
  frontend/discourse/app/routes/application.js
Due: prettier, eslint

DEV: Use multipart upload for video thumbnails (#36092)
  frontend/discourse/app/lib/composer-video-thumbnail-uppy.js
Due: prettier, eslint

DEV: Gracefully handle video thumbnail errors (#36087)
  frontend/discourse/app/lib/composer-video-thumbnail-uppy.js
  spec/system/composer_uploads_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: migration issues with AI credits (#36089)
  plugins/discourse-ai/db/migrate/20251117000002_add_daily_usage_to_llm_credit_allocations.rb
Due: rubocop, syntax_tree

DEV: Add keep_images option to ExcerptParser (#36077)
  lib/excerpt_parser.rb
  spec/lib/excerpt_parser_spec.rb
Due: rubocop, syntax_tree

DEV: Remove unused args from GlimmerSiteHeader call (#36081)
  frontend/discourse/app/templates/application.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-filter.gjs
Due: prettier, eslint, ember-template-lint

DEV: Delete a removed dependency from loader-shims (#36086)
  frontend/discourse/app/loader-shims.js
Due: prettier, eslint

FEATURE: update preconfigured models (#36095)
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-llm-editor-form.gjs
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/lib/completions/llm.rb
  plugins/discourse-ai/lib/personas/bot_context.rb
  plugins/discourse-ai/lib/personas/discourse_helper.rb
  plugins/discourse-ai/lib/personas/forum_researcher.rb
  plugins/discourse-ai/lib/personas/general.rb
  plugins/discourse-ai/lib/personas/github_helper.rb
  plugins/discourse-ai/lib/personas/researcher.rb
  plugins/discourse-ai/lib/personas/settings_explorer.rb
  plugins/discourse-ai/lib/personas/sql_helper.rb
  plugins/discourse-ai/spec/lib/personas/persona_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: System specs for image optimization in composer (#36060)
  frontend/discourse/app/services/media-optimization-worker.js
  frontend/discourse/app/static/media-optimization-bundle.js
  public/javascripts/media-optimization-worker.js
  spec/system/composer_image_optimization_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: Use Meta links for review help resources (#36079)
  frontend/discourse/app/components/reviewable-refresh/help-resources.gjs
  frontend/discourse/tests/integration/components/reviewable-refresh/item-test.gjs
Due: prettier, eslint, ember-template-lint

FIX: Topic creation failure when enabled category moderation (#36094)
  lib/post_action_creator.rb
  spec/models/post_action_spec.rb
Due: rubocop, syntax_tree

UX: don't escape PM excerpts in the review queue refresh, decorate HTML (#36084)
  frontend/discourse/app/components/reviewable-refresh/timeline.gjs
Due: prettier, eslint, ember-template-lint

UX: allows to click on topic item for bulk select (#36102)
  app/assets/stylesheets/common/base/_topic-list.scss
  frontend/discourse/app/components/topic-list/header/bulk-select-cell.gjs
  frontend/discourse/app/components/topic-list/item.gjs
  spec/system/page_objects/components/topic_list.rb
  spec/system/topic_bulk_select_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

UX: add admin config area for welcome banner (#36022)
  app/controllers/admin/config/welcome_banner_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  frontend/discourse/admin/components/admin-welcome-banner-form.gjs
  frontend/discourse/admin/routes/admin-config/welcome-banner.js
  frontend/discourse/admin/routes/admin-route-map.js
  frontend/discourse/admin/templates/admin-config/welcome-banner.gjs
  frontend/discourse/app/lib/sidebar/admin-nav-map.js
  lib/svg_sprite.rb
  spec/requests/admin/config/welcome_banner_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: allows to intercept the closeModal early (#36097)
  frontend/discourse/app/components/d-modal.gjs
  frontend/discourse/app/components/modal/spreadsheet-editor.gjs
  frontend/discourse/tests/integration/components/d-modal-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Use a css var for the channel card border color (#36052)
  plugins/chat/assets/javascripts/discourse/components/chat-channel-card.gjs
  plugins/chat/assets/stylesheets/common/chat-channel-card.scss
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Add ability to share data between importer steps
  migrations/lib/importer/name_finder/group_name_finder.rb
  migrations/lib/importer/name_finder/username_finder.rb
  migrations/lib/importer/shared_data.rb
  migrations/lib/importer/step.rb
  migrations/lib/importer/steps/groups/groups.rb
  migrations/lib/importer/steps/users/users.rb
  migrations/spec/lib/importer/name_finder/group_name_finder_spec.rb
  migrations/spec/lib/importer/name_finder/username_finder_spec.rb
Due: rubocop, syntax_tree

Revert "DEV: allows to intercept the closeModal early (#36097)" (#36100)
  frontend/discourse/app/components/d-modal.gjs
  frontend/discourse/app/components/modal/spreadsheet-editor.gjs
  frontend/discourse/tests/integration/components/d-modal-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Convert keyboard-shortcuts lib to service (#36098)
  frontend/discourse/admin/controllers/admin-search/index.js
  frontend/discourse/admin/routes/admin.js
  frontend/discourse/app/components/d-editor.gjs
  frontend/discourse/app/components/edit-topic-timer-form.gjs
  frontend/discourse/app/components/modal/bookmark.gjs
  frontend/discourse/app/components/modal/keyboard-shortcuts-help.gjs
  frontend/discourse/app/components/modal/spreadsheet-editor.gjs
  frontend/discourse/app/components/toolbar-popup-menu-options.gjs
  frontend/discourse/app/instance-initializers/keyboard-shortcuts.js
  frontend/discourse/app/lib/composer/toolbar.js
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/services/keyboard-shortcuts.js
  frontend/discourse/tests/acceptance/composer-test.js
  frontend/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  frontend/discourse/tests/helpers/qunit-helpers.js
  frontend/discourse/tests/unit/lib/keyboard-shortcuts-test.js
  plugins/chat/assets/javascripts/discourse/controllers/preferences/chat.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-helper-options-list.gjs
  plugins/discourse-templates/assets/javascripts/discourse/initializers/d-templates.js
  plugins/discourse-templates/test/javascripts/acceptance/templates-test.js
Due: prettier, eslint, ember-template-lint

UX: Improve AI summary modal animation (#36108)
  app/assets/stylesheets/common/base/discourse.scss
  plugins/discourse-ai/assets/stylesheets/modules/summarization/desktop/ai-summary.scss
Due: prettier, stylelint

FIX: Feature credit cost not always working (#36111)
  plugins/discourse-ai/app/models/llm_credit_allocation.rb
  plugins/discourse-ai/lib/completions/endpoints/base.rb
  plugins/discourse-ai/spec/models/llm_credit_allocation_spec.rb
Due: rubocop, syntax_tree

DEV: Log Reviewable actions (#36076)
  app/models/reviewable.rb
  app/models/reviewable_action_log.rb
  app/services/review/calculate_final_status_from_logs.rb
  db/migrate/20251118002306_add_bundle_to_reviewable_action_logs.rb
  lib/reviewable/actions.rb
  plugins/discourse-post-voting/spec/system/viewing_reviewable_spec.rb
  spec/models/reviewable_action_log_spec.rb
  spec/models/reviewable_spec.rb
  spec/services/review/calculate_final_status_from_logs_spec.rb
Due: rubocop, syntax_tree

DEV: Remove ignored columns that are now dropped in migration (#36129)
  app/models/category.rb
  app/models/directory_column.rb
  app/models/email_token.rb
  app/models/embeddable_host.rb
  app/models/group.rb
  app/models/invite.rb
  app/models/post.rb
  app/models/tag.rb
  app/models/topic.rb
  app/models/topic_user.rb
  app/models/user_api_key.rb
  app/models/user_profile.rb
  app/models/user_stat.rb
Due: rubocop, syntax_tree

FIX: prevent event bubbling in photoswipe on escape (#36134)
  frontend/discourse/app/lib/lightbox.js
  plugins/chat/spec/system/shortcuts/drawer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: improve settings migration from search banner to welcome banner (#36135)
  lib/tasks/migrate_advanced_search_banner_to_welcome_banner.rake
Due: rubocop, syntax_tree

FEATURE: Add IP lookup to review interface (#36130)
  app/assets/stylesheets/common/base/review.scss
  app/serializers/reviewable_user_serializer.rb
  frontend/discourse/app/components/reviewable-refresh/ip-lookup.gjs
  frontend/discourse/app/components/reviewable-refresh/item.gjs
  spec/serializers/reviewable_user_serializer_spec.rb
  spec/system/page_objects/pages/refreshed_review.rb
  spec/system/viewing_reviewable_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

UX: Improve upload icons in chat (#36128)
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.gjs
Due: prettier, eslint, ember-template-lint

DEV: Regenerate IntermediateDB definition (#36101)
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/database/intermediate_db/tag.rb
  migrations/lib/importer/steps/base/tags.rb
Due: rubocop, syntax_tree, yaml-syntax

FIX: fix unexpected scaling in lightbox when missing height/width. (#35616)
  frontend/discourse/app/lib/lightbox.js
  spec/system/lightbox_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: show search button on DMs and Threads tabs (#36133)
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/threads.gjs
  plugins/chat/spec/system/chat_channel_search/drawer_spec.rb
  plugins/chat/spec/system/drawer/direct_messages_spec.rb
  plugins/chat/spec/system/drawer/index_spec.rb
  plugins/chat/spec/system/drawer/threads_spec.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Allow user to choose if they want to edit localized or original title (#36099)
  app/controllers/topics_controller.rb
  app/serializers/concerns/localized_fancy_topic_title_mixin.rb
  config/locales/client.en.yml
  frontend/discourse/app/controllers/topic.js
  frontend/discourse/app/templates/topic.gjs
  spec/serializers/topic_view_serializer_spec.rb
  spec/system/content_localization_spec.rb
  spec/system/page_objects/components/composer.rb
  spec/system/page_objects/components/translation_composer.rb
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: more specific class for topic selected in bulk (#36141)
  app/assets/stylesheets/common/base/_topic-list.scss
  frontend/discourse/app/components/topic-list/item.gjs
Due: prettier, eslint, ember-template-lint, stylelint

FIX: Notifications may not have topics (#36143)
  app/serializers/concerns/localized_fancy_topic_title_mixin.rb
  spec/serializers/notification_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Update mediaconvert to use a subdirectory for output (#36049)
  app/jobs/regular/check_video_conversion_status.rb
  app/services/video_conversion/aws_media_convert_adapter.rb
  app/services/video_conversion/base_adapter.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/mediaconvert_output_subdirectory_validator.rb
  spec/lib/validators/mediaconvert_output_subdirectory_validator_spec.rb
  spec/services/video_conversion/aws_media_convert_adapter_spec.rb
  spec/services/video_conversion/base_adapter_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

UX: Add quick link to edit own profile from user card (#36048)
  app/assets/stylesheets/common/components/user-card.scss
  frontend/discourse/app/components/user-card-contents.gjs
  frontend/discourse/tests/acceptance/user-card-test.js
Due: prettier, eslint, ember-template-lint, stylelint
