Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

skip the window load event for now
  app/assets/javascripts/discourse/app/app.js
Due: prettier, eslint-js

FIX: Skip the window load event for now (#17231)
  app/assets/javascripts/discourse/app/app.js
Due: prettier, eslint-js

DEV: Fix flaky tests caused by timezone updates
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
Due: prettier, eslint-js

UX: allow more mobile topic elements to be tapped
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

DEV: Remove more legacy ember code (#17218)
  app/assets/javascripts/discourse/tests/helpers/component-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/test_starter.js
  package.json
Due: prettier, eslint-js

DEV: Fix flaky tests caused by timezone updates (#17232)
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
Due: prettier, eslint-js

Revert changes in topic#update_action_counts
  app/models/topic.rb
Due: rubocop

SERVER: handle the endsAt value
  app/controllers/user_status_controller.rb
  app/models/user.rb
  app/serializers/user_status_serializer.rb
  spec/requests/user_status_controller_spec.rb
Due: rubocop

SERVER: don't send expired status to the client
  app/models/user_status.rb
  app/serializers/current_user_serializer.rb
  app/serializers/user_card_serializer.rb
  spec/requests/user_status_controller_spec.rb
  spec/serializers/current_user_serializer_spec.rb
  spec/serializers/user_card_serializer_spec.rb
Due: rubocop

Acceptance tests
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
Due: prettier, eslint-js

CLIENT: set and show ends_at; auto clear status
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/user-card-contents.js
  app/assets/javascripts/discourse/app/controllers/user-status.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/lib/time-shortcut.js
  app/assets/javascripts/discourse/app/lib/time-utils.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/templates/components/user-card-contents.hbs
  app/assets/javascripts/discourse/app/templates/modal/user-status.hbs
  app/assets/javascripts/discourse/app/widgets/quick-access-profile.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  app/assets/stylesheets/common/base/discourse.scss
  app/assets/stylesheets/common/components/user-card.scss
  app/assets/stylesheets/common/modal/user-status.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

CLIENT: observe status changes only when tracking status
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

CLIENT: further improve events flow on the client
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

Acceptance tests helper: make current user status works in acceptance tests in the exactly same way as it works in browser, so there is no need to hack it in every test
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

UX: allow more mobile topic elements to be tapped (#17234)
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

Added acceptance tests for replies, last poster and last posted at
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint-js

Update spec/helpers/application_helper_spec.rb
  spec/helpers/application_helper_spec.rb
Due: rubocop

FIX: Improve Mixcloud oneboxing
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/engine/mixcloud_onebox.rb
Due: rubocop

FIX: Tweak Mixcloud onebox preview css
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/engine/mixcloud_onebox.rb
Due: rubocop

Add last_post_user_id to information reset in Topic.reset_highest
  app/models/topic.rb
Due: rubocop

Added specs to test last_posted_at and last_poster information
  spec/lib/post_creator_spec.rb
  spec/lib/post_destroyer_spec.rb
Due: rubocop

DEV: prettier
  app/assets/stylesheets/common/base/onebox.scss
Due: none

DEV: formatting
  lib/onebox/engine/mixcloud_onebox.rb
Due: rubocop

Fix error in Firefox with timestamps
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/models/topic.rb
  spec/lib/post_creator_spec.rb
  spec/lib/post_destroyer_spec.rb
Due: rubocop, prettier, eslint-js

only remove the splash after everything has loaded
  app/assets/javascripts/discourse/app/app.js
Due: prettier, eslint-js

make the splash absolute
  app/views/common/_discourse_splash.html.erb
Due: none

style updates
  public/images/preloader.svg
Due: none

FIX: Defer removing the splash screen until the window load event fires take 3 (#17238)
  app/assets/javascripts/discourse/app/app.js
  app/views/common/_discourse_splash.html.erb
  public/images/preloader.svg
Due: prettier, eslint-js

FIX: Improve mixcloud oneboxing (#17237)
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/engine/mixcloud_onebox.rb
Due: rubocop

DEV: enable `after_post_cook` trigger for bot posts (system) too. (#118)
  plugins/automation/plugin.rb
Due: rubocop

FIX: Make `localhost` work with `--forward-host`
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

fix multisite compat in ember cli proxy
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
Due: prettier, eslint-js

FIX: Restore regular ember proxying
  app/assets/javascripts/discourse/lib/bootstrap-json/index.js
  bin/ember-cli
Due: prettier, eslint-js

DEV: Deprecate `DISCOURSE_DEV_HOSTS`
  config/environments/development.rb
Due: rubocop

DEV: Auto-allow multisite hosts in dev
  config/initializers/200-first_middlewares.rb
Due: rubocop

DEV: Update @ember/test-helpers
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `@glimmer/tracking`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
