Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn run ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix tests
  app/assets/javascripts/discourse/app/templates/password-reset.hbs
Due: ember-template-lint

DEV: replaces topic-notifications-options by DMenu
  app/assets/javascripts/discourse/app/components/category-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/group-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/tag-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/topic-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/templates/user-private-messages-group.hbs
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-button-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-options-test.gjs
  app/assets/javascripts/select-kit/addon/components/category-notifications-button.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/notifications-tracking.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/select-kit/topic-notifications-button.scss
  app/assets/stylesheets/mobile/user.scss
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-category-notification-level-field.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-tracking-dropdown.js
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/thread-tracking-dropdown.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-notifications-tracking.gjs
  plugins/chat/assets/javascripts/select-kit/addons/components/thread-notifications-button.js
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/components/topic_view.rb
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

DEV: Compile theme raw-hbr to modules
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop, syntax_tree

FIX: add server-side limit for DM channels
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
Due: rubocop, syntax_tree

spec
  spec/models/theme_field_spec.rb
Due: rubocop, syntax_tree

Update lib/theme_javascript_compiler.rb
  lib/theme_javascript_compiler.rb
Due: rubocop, syntax_tree

fixing tests
  app/assets/javascripts/discourse/app/components/topic-notifications-tracking.gjs
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-assertions.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-helper.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  plugins/automation/test/javascripts/integration/components/da-category-notification-level-field-test.js
  spec/system/page_objects/components/notifications_tracking.rb
  spec/system/page_objects/components/topic_view.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/tag_notification_level_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

linting
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/templates/user-private-messages-group.hbs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
Due: ember-template-lint

suffix in component
  app/assets/javascripts/discourse/app/components/topic-notifications-tracking.gjs
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.gjs
Due: none

DEV: Compile theme raw-hbr to modules (#30299)
  app/models/theme.rb
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
  spec/models/theme_field_spec.rb
Due: rubocop, syntax_tree

only close this menu on escape
  app/assets/javascripts/float-kit/addon/modifiers/close-on-escape.js
Due: prettier, eslint

FIX: add server-side limit for DM channels (#30300)
  plugins/chat/lib/chat/channel_fetcher.rb
  plugins/chat/spec/lib/chat/channel_fetcher_spec.rb
Due: rubocop, syntax_tree

fix chat specs
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
Due: rubocop, syntax_tree

allow to disable autofocus on modal
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/javascripts/discourse/app/components/notifications-tracking.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
Due: none

spacing tweak
  app/assets/stylesheets/common/components/notifications-tracking.scss
Due: prettier-scss

DEV: replaces topic-notifications-options by DMenu (#30298)
  app/assets/javascripts/discourse/app/components/category-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/d-modal.gjs
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/group-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/tag-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/components/topic-notifications-tracking.gjs
  app/assets/javascripts/discourse/app/templates/user-private-messages-group.hbs
  app/assets/javascripts/discourse/tests/acceptance/tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-assertions.js
  app/assets/javascripts/discourse/tests/helpers/notifications-tracking-helper.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/notifications-tracking-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-button-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/select-kit/topic-notifications-options-test.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/modifiers/close-on-escape.js
  app/assets/javascripts/select-kit/addon/components/category-notifications-button.js
  app/assets/javascripts/select-kit/addon/components/topic-notifications-button.gjs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/notifications-tracking.scss
  app/assets/stylesheets/common/float-kit/d-menu.scss
  app/assets/stylesheets/common/select-kit/topic-notifications-button.scss
  app/assets/stylesheets/mobile/user.scss
  plugins/automation/admin/assets/javascripts/admin/components/fields/da-category-notification-level-field.gjs
  plugins/automation/test/javascripts/integration/components/da-category-notification-level-field-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread-tracking-dropdown.js
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/thread-tracking-dropdown.gjs
  plugins/chat/assets/javascripts/discourse/components/thread-notifications-tracking.gjs
  plugins/chat/assets/javascripts/select-kit/addons/components/thread-notifications-button.js
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/components/notifications_tracking.rb
  spec/system/page_objects/components/topic_view.rb
  spec/system/page_objects/pages/topic.rb
  spec/system/tag_notification_level_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

DEV: Move topic-list-class transformer to getter
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
Due: none

DEV: Move topic-list-class transformer to getter (#30301)
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
Due: none

DEV: Replace `TextField` with native `input` on CategoryNameFields
  app/assets/javascripts/discourse-common/addon/utils/decorators.js
  app/assets/javascripts/discourse/app/components/category-name-fields.gjs
  app/assets/javascripts/discourse/app/components/category-name-fields.hbs
  app/assets/javascripts/discourse/app/components/category-name-fields.js
  app/assets/javascripts/discourse/app/models/category.js
Due: prettier, eslint, ember-template-lint

FIX: Correctly display group unread indicator in gjs
  app/assets/javascripts/discourse/app/components/topic-list/unread-indicator.gjs
  app/assets/javascripts/discourse/tests/integration/components/topic-list-item-test.gjs
Due: none

remove commented code
  app/assets/javascripts/discourse/app/components/toggle-password-mask.hbs
Due: ember-template-lint

FIX: Correctly display group unread indicator in gjs (#30302)
  app/assets/javascripts/discourse/app/components/topic-list/unread-indicator.gjs
  app/assets/javascripts/discourse/tests/integration/components/topic-list-item-test.gjs
Due: none

fix active and muted channels
  app/assets/stylesheets/common/base/sidebar-section-link.scss
Due: prettier-scss

more:
  app/assets/stylesheets/common/base/sidebar-section-link.scss
Due: prettier-scss

UX: fix active and muted channels (#30308)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
Due: prettier-scss

UX: display link to groups in admin sidebar
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

FIX: Handle unrelated timings being moved (#30256)
  app/models/post_mover.rb
Due: rubocop, syntax_tree

UX: display link to groups in admin sidebar (#30291)
  app/assets/javascripts/discourse/app/lib/sidebar/admin-sidebar.js
  config/locales/client.en.yml
  spec/system/admin_sidebar_navigation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

UX: the ability to collapse AdminConfigAreaCard
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-config-area-card-test.gjs
  app/assets/stylesheets/common/admin/admin_config_area.scss
Due: prettier-scss

FIX: Searchable user fields do not always have an integer name (#30223)
  app/models/user_custom_field.rb
  spec/models/user_custom_field_spec.rb
Due: rubocop, syntax_tree

remove notify user from list of score filters
  app/controllers/reviewables_controller.rb
Due: rubocop, syntax_tree

FEATURE: Reason and deleted content support in the review queue (#30295)
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/controllers/review-index.js
  app/assets/javascripts/discourse/app/routes/review-index.js
  app/assets/javascripts/discourse/app/templates/review-index.hbs
  app/assets/stylesheets/common/base/reviewables.scss
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/reviewable_score.rb
  app/serializers/reviewable_flagged_post_serializer.rb
  app/serializers/reviewable_score_type_serializer.rb
  config/locales/client.en.yml
  spec/requests/reviewables_controller_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

UX: the ability to collapse AdminConfigAreaCard (#30310)
  app/assets/javascripts/admin/addon/components/admin-config-area-card.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/about.gjs
  app/assets/javascripts/discourse/tests/integration/components/admin-config-area-card-test.gjs
  app/assets/stylesheets/common/admin/admin_config_area.scss
Due: prettier-scss

DEV: Undo review change
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

Restrict the data we're using to populate the temp table.
  app/models/post_mover.rb
Due: rubocop, syntax_tree

DEV: Create and use component
  app/assets/javascripts/discourse/app/components/group-post.hbs
  app/assets/javascripts/discourse/app/components/group-post.js
  app/assets/javascripts/discourse/app/components/post-list/index.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/details.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/index.gjs
  app/assets/javascripts/discourse/app/controllers/group-activity-posts.js
  app/assets/javascripts/discourse/app/templates/group-activity-posts.hbs
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/post-list.scss
  config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Change hide_email_address_taken default to true (#30293)
  app/assets/javascripts/discourse/tests/acceptance/forgot-password-test.js
  config/site_settings.yml
  plugins/automation/spec/integration/core_ext_spec.rb
  spec/integration/invite_only_registration_spec.rb
  spec/lib/email_updater_spec.rb
  spec/models/invite_spec.rb
  spec/requests/api/users_spec.rb
  spec/requests/users_controller_spec.rb
  spec/requests/users_email_controller_spec.rb
  spec/system/email_change_spec.rb
  spec/system/login_spec.rb
  spec/system/signup_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

DEV: Delete symlink when DiscourseFont path changes (#30294)
  config/application.rb
Due: rubocop, syntax_tree

FIX: use relations for new_in_category
  lib/topic_query.rb
  spec/lib/topic_query_spec.rb
Due: rubocop, syntax_tree

fix validator
  spec/lib/topic_query_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
