Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Add useful error message for hbs register_asset
  lib/plugin/instance.rb
Due: rubocop

DEV: Simplify test
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
Due: prettier, eslint-js

DEV: Add useful error message for hbs register_asset (#19185)
  lib/plugin/instance.rb
Due: rubocop

UX: Show educational messages for the likes tab when it's empty (#19180)
  app/assets/javascripts/discourse/app/components/user-menu/likes-list-empty-state.hbs
  app/assets/javascripts/discourse/app/components/user-menu/likes-notifications-list.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/likes-list-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: Test should also work on Firefox
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
Due: prettier, eslint-js

FEATURE: Track API and user API requests
  app/models/application_request.rb
  app/models/concerns/reports/consolidated_api_requests.rb
  app/models/report.rb
  config/locales/server.en.yml
  lib/middleware/request_tracker.rb
  spec/lib/middleware/request_tracker_spec.rb
  spec/models/report_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

correct specs so the rely less on stubs
  spec/fabricators/upload_fabricator.rb
  spec/fixtures/images/2000x2000.png
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop

DEV: Publish reviewable claimed topic message to groups instead of users
  app/controllers/reviewable_claimed_topics_controller.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
Due: rubocop

reduce test fragility by removing more mocks
  lib/cooked_processor_mixin.rb
  spec/jobs/pull_hotlinked_images_spec.rb
Due: rubocop

DEV: Publish reviewable claimed topic message to groups instead of users (#19188)
  app/controllers/reviewable_claimed_topics_controller.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
Due: rubocop

DEV: Refactor messages code to use `user.groupsWithMessages` function
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
Due: none

FIX: Existing users were mistakenly unable to redeem invite
  app/models/invite.rb
  spec/models/invite_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

FEATURE: sidebar for narrow desktop screen
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/lib/narrow-desktop.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier, eslint-js

FIX: react to resize
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/lib/narrow-desktop.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
Due: prettier, eslint-js

FIX: first part of improvements after CR
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
Due: prettier, eslint-js

FIX: test with transition
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/lib/narrow-desktop.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

PERF: stop downloading images from post processor and lean on uploads
  lib/cooked_post_processor.rb
  lib/cooked_processor_mixin.rb
  spec/fabricators/upload_fabricator.rb
  spec/fixtures/images/2000x2000.png
  spec/jobs/pull_hotlinked_images_spec.rb
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop

FIX: Existing users were mistakenly unable to redeem invite (#19191)
  app/models/invite.rb
  spec/models/invite_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

FIX: try to solve tests
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
Due: prettier, eslint-js

DEV: Refactor messages code to use `user.groupsWithMessages` function (#19189)
  app/assets/javascripts/discourse/app/templates/user/messages.hbs
Due: none

FIX: try withUntil
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
Due: prettier, eslint-js

FIX: remember old width
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
Due: prettier, eslint-js

FIX: replace jquery with style
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
Due: prettier, eslint-js

FEATURE: sidebar for narrow desktop screen (#19160)
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/initializers/narrow-desktop.js
  app/assets/javascripts/discourse/app/lib/narrow-desktop.js
  app/assets/javascripts/discourse/app/widgets/header.js
  app/assets/javascripts/discourse/app/widgets/sidebar-toggle.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier, eslint-js

FIX: Exclude claimed reviewables from user menu
  app/assets/javascripts/discourse/app/lib/sidebar/user/community-section/review-section-link.js
  app/controllers/reviewable_claimed_topics_controller.rb
  app/jobs/regular/notify_reviewable.rb
  app/jobs/regular/refresh_users_reviewable_counts.rb
  app/models/reviewable.rb
  app/models/user.rb
  spec/jobs/refresh_users_reviewable_counts_spec.rb
  spec/models/user_spec.rb
  spec/requests/notifications_controller_spec.rb
  spec/requests/reviewable_claimed_topics_controller_spec.rb
Due: rubocop, prettier, eslint-js

check for channel name in test
  spec/jobs/refresh_users_reviewable_counts_spec.rb
Due: rubocop

move unseen_reviewable_count to the Reviewable model
  app/controllers/reviewables_controller.rb
  app/models/reviewable.rb
  app/models/user.rb
  app/serializers/current_user_serializer.rb
  app/serializers/reviewable_perform_result_serializer.rb
  spec/models/reviewable_spec.rb
  spec/models/user_spec.rb
Due: rubocop

DEV: Review fixes
  spec/services/hashtag_autocomplete_service_spec.rb
Due: rubocop

make RefreshUsersReviewableCounts job take group_ids
  app/jobs/regular/refresh_users_reviewable_counts.rb
  spec/jobs/refresh_users_reviewable_counts_spec.rb
Due: rubocop

FIX: Push category hashtag slug match to top (#19174)
  app/services/category_hashtag_data_source.rb
  app/services/hashtag_autocomplete_service.rb
  app/services/tag_hashtag_data_source.rb
  plugins/chat/lib/chat_channel_hashtag_data_source.rb
  spec/services/hashtag_autocomplete_service_spec.rb
Due: rubocop

not needed anymore
  plugins/chat/assets/javascripts/discourse/services/chat-composer-presence-manager.js
Due: prettier, eslint-js

prevents test crashes
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
Due: prettier, eslint-js

more tests
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
Due: prettier, eslint-js

FIX: Use correct Regexp flag to ignore case (#19184)
  lib/text_cleaner.rb
Due: rubocop

UX: alters chat icon behavior on drawer an mobile
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/spec/system/navigation_spec.rb
Due: rubocop, prettier, eslint-js

UX: alters chat icon behavior on drawer and mobile (#19192)
  plugins/chat/assets/javascripts/discourse/widgets/chat-header-icon.js
  plugins/chat/spec/system/navigation_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Improve deprecation notice
  app/assets/javascripts/discourse/app/models/user.js
Due: prettier, eslint-js

DEV: fix chat test
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
Due: prettier, eslint-js
