Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FEATURE: Add users and groups links to community section in sidebar
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section/groups-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section/users-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Add users and groups links to community section in sidebar (#17609)
  app/assets/javascripts/discourse/app/components/sidebar/community-section.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section/groups-section-link.js
  app/assets/javascripts/discourse/app/lib/sidebar/community-section/users-section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

UX: Prevent jitter in some onebox images (#17611)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

update copy
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: Updates sign up CTA copy (#17612)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: move save-draft btn to composer actions
  .DS_Store
  app/assets/javascripts/discourse/app/controllers/composer.js
  app/assets/javascripts/discourse/app/controllers/discard-draft.js
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/app/templates/modal/discard-draft.hbs
  app/assets/stylesheets/common/select-kit/composer-actions.scss
  app/assets/stylesheets/mobile/compose.scss
  lib/svg_sprite.rb
Due: rubocop, prettier, eslint-js

UX: let hamburger-sidebar restrict child width
  app/assets/stylesheets/common/base/menu-panel.scss
Due: none

UX: let hamburger-sidebar restrict child width (#17614)
  app/assets/stylesheets/common/base/menu-panel.scss
Due: none

FIX: Allow users to quote in closed topics
  app/assets/javascripts/discourse/app/components/quote-button.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
Due: prettier, eslint-js

UX: trying a custom icon for sidebar expand/close
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar.hbs
  app/assets/javascripts/discourse/app/templates/components/sidebar/footer.hbs
  app/assets/stylesheets/common/base/sidebar-footer.scss
  lib/svg_sprite.rb
  vendor/assets/svg-icons/discourse-additional.svg
Due: rubocop

FIX: Make sure user list is complete and sorted
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
Due: prettier, eslint-js

use a different category page style for sorting by created date
  app/assets/javascripts/discourse/app/components/navigation-item.js
  app/assets/javascripts/discourse/app/controllers/discovery/categories.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
  app/assets/javascripts/discourse/app/routes/discovery-categories.js
  app/assets/javascripts/discourse/app/templates/components/categories-and-latest-topics.hbs
  app/assets/javascripts/discourse/app/templates/components/categories-topic-list.hbs
  app/assets/javascripts/discourse/app/templates/discovery/categories.hbs
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
  app/controllers/categories_controller.rb
  app/models/category_page_style.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  spec/requests/categories_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: my_bb supports avatars
  script/import_scripts/mybb.rb
Due: rubocop

Trying to fix linting
  script/import_scripts/mybb.rb
Due: rubocop

remove outdated test line
  app/assets/javascripts/discourse/tests/acceptance/categories-test.js
Due: prettier, eslint-js

UX: make layout more responsive, update images
  app/assets/javascripts/wizard/addon/templates/components/wizard-step.hbs
  app/assets/stylesheets/wizard.scss
  config/locales/client.en.yml
  lib/wizard/builder.rb
  public/images/wizard/finished-illustration.png
  public/images/wizard/finished-illustration.svg
  public/images/wizard/finished.png
  public/images/wizard/members-illusration.png
  public/images/wizard/members-illustration.svg
  public/images/wizard/welcome-illustration.png
  public/images/wizard/welcome-illustration.svg
  public/images/wizard/welcome.png
Due: rubocop, yaml-syntax, i18n-lint

add theme-color meta tag for dark mode
  app/views/layouts/_head.html.erb
Due: none

also set theme color background on HTML tag
  app/views/common/_discourse_splash.html.erb
Due: none

UX: Set theme color on splash a bit earlier (#17619)
  app/views/common/_discourse_splash.html.erb
  app/views/layouts/_head.html.erb
Due: none

prevent color flicker on dark themes
  app/views/common/_discourse_splash.html.erb
Due: none

FEATURE: New script to append last checked by detail in post content. (#120)
  plugins/automation/app/controllers/discourse_automation/append_last_checked_by_controller.rb
  plugins/automation/app/lib/discourse_automation/scripts/append_last_checked_by.rb
  plugins/automation/app/lib/discourse_automation/scripts/append_last_edited_by.rb
  plugins/automation/assets/javascripts/discourse/initializers/discourse-automation.js
  plugins/automation/assets/stylesheets/common/discourse-automation.scss
  plugins/automation/config/locales/server.en.yml
  plugins/automation/plugin.rb
  plugins/automation/spec/requests/discourse_automation_append_last_checked_by_controller_spec.rb
  plugins/automation/spec/scripts/append_last_checked_by_spec.rb
  plugins/automation/spec/scripts/append_last_edited_by_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Show user already blocked for review topics by blocked users
  app/controllers/reviewables_controller.rb
  config/locales/server.en.yml
Due: rubocop, yaml-syntax, i18n-lint

FIX: Padding on User Profile Groups
  app/assets/stylesheets/common/base/user.scss
Due: none

remove dark mode theme color tag for now
  app/views/layouts/_head.html.erb
Due: none

DEV: Add likes, mentions and replies tabs to the new user menu
  app/assets/javascripts/discourse/app/components/user-menu/likes-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/mentions-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/replies-notifications-list.js
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/likes-notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/mentions-notifications-list-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/replies-notifications-list-test.js
  app/controllers/notifications_controller.rb
  app/models/user_option.rb
  app/serializers/current_user_serializer.rb
  spec/requests/notifications_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Update `@embroider/test-setup`
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  app/assets/javascripts/yarn.lock
Due: none

Deduplicate
  app/assets/javascripts/yarn.lock
Due: none

DEV: Update `@embroider/test-setup` (#17625)
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/wizard/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Always `await` for `publishToMessageBus`
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  app/assets/javascripts/discourse/tests/helpers/presence-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/software-update-prompt-test.js
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
  plugins/poll/test/javascripts/acceptance/poll-results-test.js
  spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

more await!
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
Due: prettier, eslint-js

Not those
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
Due: prettier, eslint-js

DEV: Always `await` for `publishToMessageBus` (#17626)
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
  app/assets/javascripts/discourse/tests/acceptance/review-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-tracked-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-private-messages-test.js
  app/assets/javascripts/discourse/tests/helpers/presence-pretender.js
  app/assets/javascripts/discourse/tests/integration/components/software-update-prompt-test.js
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/services/presence-test.js
  plugins/poll/test/javascripts/acceptance/poll-results-test.js
  spec/lib/pretty_text_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Consistently use `response` helper
  app/assets/javascripts/discourse/tests/acceptance/dismiss-notification-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-report-test.js
  app/assets/javascripts/discourse/tests/integration/components/avatar-uploader-test.js
  app/assets/javascripts/discourse/tests/integration/components/badge-title-test.js
  app/assets/javascripts/discourse/tests/integration/components/cook-text-test.js
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js
Due: prettier, eslint-js

DEV: Remove yet another jQ use in tests
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
Due: prettier, eslint-js

DEV: Be specific about time units
  spec/lib/post_revisor_spec.rb
Due: rubocop

DEV: Consistently use `response` helper (#17627)
  app/assets/javascripts/discourse/tests/acceptance/dismiss-notification-modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/second-factor-auth-test.js
  app/assets/javascripts/discourse/tests/integration/components/admin-report-test.js
  app/assets/javascripts/discourse/tests/integration/components/avatar-uploader-test.js
  app/assets/javascripts/discourse/tests/integration/components/badge-title-test.js
  app/assets/javascripts/discourse/tests/integration/components/cook-text-test.js
  app/assets/javascripts/discourse/tests/integration/components/invite-panel-test.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/notifications-list-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
  app/assets/javascripts/discourse/tests/unit/models/private-message-topic-tracking-state-test.js
  plugins/poll/test/javascripts/widgets/discourse-poll-test.js
Due: prettier, eslint-js

DEV: Remove yet another jQ use in tests (#17628)
  app/assets/javascripts/discourse/tests/acceptance/notifications-test.js
Due: prettier, eslint-js

DEV: Be specific about time units (#17629)
  spec/lib/post_revisor_spec.rb
Due: rubocop

remove dismissWarningModal from child components for now
  app/assets/javascripts/discourse/app/components/user-menu/likes-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/mentions-notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list.js
  app/assets/javascripts/discourse/app/components/user-menu/replies-notifications-list.js
Due: prettier, eslint-js

capitalize constant
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
