Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

wip
  app/jobs/regular/process_post.rb
  lib/post_revisor.rb
  plugins/checklist/app/controllers/checklist/checkboxes_controller.rb
  plugins/checklist/app/services/checklist/toggle.rb
  plugins/checklist/assets/javascripts/discourse/initializers/checklist.js
  plugins/checklist/assets/javascripts/lib/discourse-markdown/checklist.js
  plugins/checklist/assets/stylesheets/checklist.scss
  plugins/checklist/config/locales/server.en.yml
  plugins/checklist/config/routes.rb
  plugins/checklist/db/migrate/20251229093734_mark_checklist_posts_for_rebake.rb
  plugins/checklist/lib/checklist/engine.rb
  plugins/checklist/plugin.rb
  plugins/checklist/spec/pretty_text_spec.rb
  plugins/checklist/spec/requests/checkboxes_controller_spec.rb
  plugins/checklist/spec/services/checklist/toggle_spec.rb
  plugins/checklist/test/javascripts/integration/rich-editor-extension-test.js
  plugins/checklist/test/javascripts/lib/checklist-test.js
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

wip
  plugins/checklist/assets/javascripts/discourse/initializers/checklist.js
Due: prettier, eslint

LINNNNNNT
  plugins/checklist/spec/services/checklist/toggle_spec.rb
Due: rubocop, syntax_tree

UI: Update manual data explorer query page
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/edit.gjs
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/new.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/explorer-schema.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-chart-empty-state.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result-download-buttons.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-results-wrapper.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-run-split-button.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/new.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/lib/chart-helpers.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/stylesheets/explorer.scss
  plugins/discourse-data-explorer/config/locales/client.en.yml
  plugins/discourse-data-explorer/spec/system/page_objects/pages/data_explorer_query_runner.rb
  plugins/discourse-data-explorer/spec/system/query_runner_spec.rb
  plugins/discourse-data-explorer/spec/system/reports_spec.rb
  plugins/discourse-data-explorer/test/javascripts/acceptance/param-input-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
  plugins/discourse-data-explorer/test/javascripts/components/explorer-schema-test.gjs
  plugins/discourse-data-explorer/test/javascripts/integration/components/query-result-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Update structure.sql for checklist rebake migration
  db/structure.sql
Due: none

Optimize embroider resolover
  frontend/discourse/lib/optimized-ember.mjs
  frontend/discourse/rolldown.config.mjs
Due: prettier

oops
  frontend/discourse/lib/optimized-ember.mjs
Due: prettier

less comments
  frontend/discourse/lib/optimized-ember.mjs
Due: prettier

fixes
  plugins/discourse-data-explorer/test/javascripts/acceptance/param-input-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
  plugins/discourse-data-explorer/test/javascripts/integration/components/query-result-test.gjs
Due: prettier, eslint, ember-template-lint

FIX: align staff action CSV export with log visibility rules (#40177)
  app/jobs/regular/export_csv_file.rb
  spec/jobs/export_csv_file_spec.rb
Due: rubocop, syntax_tree

FIX: align staff action CSV export with log visibility rules [backport 2026.3] (#40193)
  app/jobs/regular/export_csv_file.rb
  spec/jobs/export_csv_file_spec.rb
Due: rubocop, syntax_tree

FIX: align staff action CSV export with log visibility rules [backport 2026.4] (#40192)
  app/jobs/regular/export_csv_file.rb
  spec/jobs/export_csv_file_spec.rb
Due: rubocop, syntax_tree

FIX: Nested view single thread scrolling issues
  .antigravitycli/5b836d26-3aa4-4932-8489-0bdfea4375c3.json
  app/assets/stylesheets/common/nested-view.scss
  frontend/discourse/app/components/nested/context-view.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/controllers/nested.js
Due: prettier, eslint, ember-template-lint, stylelint

remove cli
  .antigravitycli/5b836d26-3aa4-4932-8489-0bdfea4375c3.json
Due: none

FIX: align staff action CSV export with log visibility rules [backport 2026.1] (#40194)
  app/jobs/regular/export_csv_file.rb
  spec/jobs/export_csv_file_spec.rb
Due: rubocop, syntax_tree

FIX: Nested view single thread scrolling issues (#40195)
  app/assets/stylesheets/common/nested-view.scss
  frontend/discourse/app/components/nested/context-view.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/controllers/nested.js
Due: prettier, eslint, ember-template-lint, stylelint

UX: Do not add a border-radius to AI Bot textarea
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
Due: prettier, stylelint

DEV: add guards
  app/models/site_setting.rb
  app/models/theme_setting.rb
  app/models/theme_site_setting.rb
  spec/lib/schema_settings_object_validator_spec.rb
Due: rubocop, syntax_tree

DEV: we did not needed guards
  app/models/site_setting.rb
  app/models/theme_setting.rb
  app/models/theme_site_setting.rb
Due: rubocop, syntax_tree

DEV: Drop `discourse/models/store`
  frontend/discourse/app/deprecation-workflow.js
  frontend/discourse/app/models/store.js
Due: prettier, eslint

comments
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/edit.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-chart-empty-state.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result-download-buttons.gjs
  plugins/discourse-data-explorer/test/javascripts/integration/components/query-result-test.gjs
Due: prettier, eslint, ember-template-lint

UX: Do not add a border-radius to AI Bot textarea (#40196)
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
Due: prettier, stylelint

FEATURE: Topic timeline for nested replies view (#40125)
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/timeline-scrubber.scss
  app/assets/stylesheets/common/nested-view.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/services/nested_topic/list_roots.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/header.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/components/nested/topic-timeline.gjs
  frontend/discourse/app/components/timeline-scrubber.gjs
  frontend/discourse/app/components/topic-timeline/container.gjs
  frontend/discourse/app/components/topic-timeline/scroller.gjs
  frontend/discourse/app/controllers/nested.js
  frontend/discourse/app/routes/nested.js
  frontend/discourse/app/services/nested-root-elements.js
  frontend/discourse/app/templates/nested.gjs
  frontend/discourse/tests/acceptance/topic-timeline-test.js
  frontend/discourse/tests/integration/components/nested-topic-timeline-test.gjs
  frontend/discourse/tests/integration/components/timeline-scrubber-test.gjs
  frontend/discourse/tests/unit/controllers/nested-controller-jump-to-root-page-test.js
  lib/nested_replies/tree_loader.rb
  spec/requests/nested_topics_controller_spec.rb
  spec/services/nested_topic/list_roots_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: Update kanban board class
  themes/horizon/scss/main.scss
Due: prettier, stylelint

po
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/spec/system/query_runner_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UI: Update manual data explorer query page (step 3/n) (#40190)
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/edit.gjs
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/new.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/explorer-schema.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-chart-empty-state.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result-download-buttons.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-results-wrapper.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-run-split-button.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/new.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/lib/chart-helpers.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/stylesheets/explorer.scss
  plugins/discourse-data-explorer/config/locales/client.en.yml
  plugins/discourse-data-explorer/spec/system/page_objects/pages/data_explorer_query_runner.rb
  plugins/discourse-data-explorer/spec/system/query_runner_spec.rb
  plugins/discourse-data-explorer/spec/system/reports_spec.rb
  plugins/discourse-data-explorer/test/javascripts/acceptance/param-input-test.js
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
  plugins/discourse-data-explorer/test/javascripts/components/explorer-schema-test.gjs
  plugins/discourse-data-explorer/test/javascripts/integration/components/query-result-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Apply suggestions from code review
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

FIX: Prevent tag page render crash on invalid numeric tag id routes
  app/controllers/tags_controller.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Update kanban board class (#40199)
  themes/horizon/scss/main.scss
Due: prettier, stylelint

FIX: Prevent tag page render crash on invalid numeric tag id routes (#40201)
  app/controllers/tags_controller.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop, syntax_tree

Revert "FEATURE: Topic timeline for nested replies view (#40125)"
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/timeline-scrubber.scss
  app/assets/stylesheets/common/nested-view.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/services/nested_topic/list_roots.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/header.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/components/nested/topic-timeline.gjs
  frontend/discourse/app/components/timeline-scrubber.gjs
  frontend/discourse/app/components/topic-timeline/container.gjs
  frontend/discourse/app/components/topic-timeline/scroller.gjs
  frontend/discourse/app/controllers/nested.js
  frontend/discourse/app/routes/nested.js
  frontend/discourse/app/services/nested-root-elements.js
  frontend/discourse/app/templates/nested.gjs
  frontend/discourse/tests/acceptance/topic-timeline-test.js
  frontend/discourse/tests/integration/components/nested-topic-timeline-test.gjs
  frontend/discourse/tests/integration/components/timeline-scrubber-test.gjs
  frontend/discourse/tests/unit/controllers/nested-controller-jump-to-root-page-test.js
  lib/nested_replies/tree_loader.rb
  spec/requests/nested_topics_controller_spec.rb
  spec/services/nested_topic/list_roots_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

REVERT: "FEATURE: Topic timeline for nested replies view (#40125)" (#40202)
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/timeline-scrubber.scss
  app/assets/stylesheets/common/nested-view.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/services/nested_topic/list_roots.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/header.gjs
  frontend/discourse/app/components/nested/post.gjs
  frontend/discourse/app/components/nested/topic-timeline.gjs
  frontend/discourse/app/components/timeline-scrubber.gjs
  frontend/discourse/app/components/topic-timeline/container.gjs
  frontend/discourse/app/components/topic-timeline/scroller.gjs
  frontend/discourse/app/controllers/nested.js
  frontend/discourse/app/routes/nested.js
  frontend/discourse/app/services/nested-root-elements.js
  frontend/discourse/app/templates/nested.gjs
  frontend/discourse/tests/acceptance/topic-timeline-test.js
  frontend/discourse/tests/integration/components/nested-topic-timeline-test.gjs
  frontend/discourse/tests/integration/components/timeline-scrubber-test.gjs
  frontend/discourse/tests/unit/controllers/nested-controller-jump-to-root-page-test.js
  lib/nested_replies/tree_loader.rb
  spec/requests/nested_topics_controller_spec.rb
  spec/services/nested_topic/list_roots_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

WIP: add API for custom composer actions, new "event" composer action
  app/serializers/category_serializer.rb
  app/serializers/site_category_serializer.rb
  app/services/categories/configure.rb
  app/services/categories/unconfigure.rb
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/models/composer.js
  frontend/discourse/app/services/composer.js
  frontend/discourse/select-kit/components/composer-actions.js
  frontend/discourse/tests/acceptance/composer-actions-test.js
  plugins/discourse-calendar/assets/javascripts/discourse/initializers/add-create-event-composer-action.js
  plugins/discourse-calendar/assets/javascripts/discourse/lib/raw-event-helper.js
  plugins/discourse-calendar/assets/javascripts/discourse/pre-initializers/rich-editor-extension.js
  plugins/discourse-calendar/config/locales/client.en.yml
  plugins/discourse-calendar/spec/system/composer/create_event_action_spec.rb
  plugins/discourse-calendar/test/javascripts/acceptance/create-event-composer-action-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: Render house ads correctly in nested replies view
  frontend/discourse/app/components/nested.gjs
  frontend/discourse/app/components/nested/op.gjs
  frontend/discourse/app/components/nested/post.gjs
  plugins/discourse-adplugin/admin/assets/javascripts/admin/components/house-ads-settings-panel.gjs
  plugins/discourse-adplugin/app/models/ad_plugin/house_ad_setting.rb
  plugins/discourse-adplugin/assets/javascripts/discourse/components/ad-slot.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/house-ad.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/components/nested-root-ad.gjs
  plugins/discourse-adplugin/assets/javascripts/discourse/initializers/initialize-ad-plugin.gjs
  plugins/discourse-adplugin/config/locales/client.en.yml
  plugins/discourse-adplugin/config/locales/server.en.yml
  plugins/discourse-adplugin/config/settings.yml
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
