Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

FIX: Unconfigurable plugin site settings not properly excluded
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree

DEV: Fix spec cleanup issues for upcoming changes
  spec/jobs/check_new_features_spec.rb
  spec/lib/discourse_updates_spec.rb
  spec/multisite/upcoming_changes_spec.rb
  spec/requests/admin/dashboard_controller_spec.rb
  spec/support/helpers.rb
Due: rubocop, syntax_tree

FIX: simplify unnecessary styles
  plugins/chat/assets/stylesheets/common/base-common.scss
Due: prettier, stylelint

UX: Add slack and telegram provider setup forms
  plugins/discourse-chat-integration/admin/assets/javascripts/discourse/components/modal/setup-provider.gjs
  plugins/discourse-chat-integration/admin/assets/javascripts/discourse/components/provider-setup-form/slack.gjs
  plugins/discourse-chat-integration/admin/assets/javascripts/discourse/components/provider-setup-form/telegram.gjs
  plugins/discourse-chat-integration/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-chat-integration-providers.gjs
  plugins/discourse-chat-integration/app/controllers/discourse_chat_integration/chat_controller.rb
  plugins/discourse-chat-integration/config/locales/client.en.yml
  plugins/discourse-chat-integration/lib/discourse_chat_integration/provider/slack/slack_provider.rb
  plugins/discourse-chat-integration/lib/discourse_chat_integration/provider/telegram/telegram_provider.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: resolve localized tag names via ID when creating or editing topics
  app/controllers/topics_controller.rb
  frontend/discourse/app/adapters/post.js
  frontend/discourse/app/models/composer.js
  frontend/discourse/app/models/topic.js
  frontend/discourse/tests/unit/models/composer-test.js
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/system/content_localization_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

ensure clear tag is tested
  app/controllers/topics_controller.rb
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree

DEV: Add an upcoming change toggler in the dev tools sidebar
  config/locales/client.en.yml
  frontend/discourse/app/static/dev-tools/styles.css
  frontend/discourse/app/static/dev-tools/toolbar.gjs
  frontend/discourse/app/static/dev-tools/upcoming-changes-debug/button.gjs
  spec/system/dev_tools_spec.rb
  spec/system/page_objects/components/dev_tools/toolbar.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

UX: Keep navigational items like tags and categories translated
  lib/content_localization.rb
  spec/lib/content_localization_spec.rb
Due: rubocop, syntax_tree

param permit and more tests
  app/controllers/posts_controller.rb
  app/controllers/topics_controller.rb
  frontend/discourse/tests/helpers/create-pretender.js
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
  spec/requests/posts_controller_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Show event popup on category calendar click
  plugins/discourse-calendar/assets/javascripts/discourse/components/category-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/lib/format-event-for-calendar.js
  plugins/discourse-calendar/test/javascripts/acceptance/category-events-calendar-test.js
Due: prettier, eslint, ember-template-lint

UX: Show recurrence info in event popup and upcoming events list
  plugins/discourse-calendar/assets/javascripts/discourse/components/discourse-post-event/index.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-list.gjs
  plugins/discourse-calendar/assets/stylesheets/common/discourse-post-event.scss
  plugins/discourse-calendar/assets/stylesheets/common/upcoming-events-list.scss
  plugins/discourse-calendar/test/javascripts/acceptance/category-events-calendar-test.js
  plugins/discourse-calendar/test/javascripts/integration/components/upcoming-events-list-test.gjs
Due: prettier, eslint, ember-template-lint, stylelint

UX: Add visual indicator for recurring calendar events
  plugins/discourse-calendar/assets/javascripts/discourse/components/full-calendar.gjs
  plugins/discourse-calendar/assets/stylesheets/common/full-calendar-ext.scss
  plugins/discourse-calendar/test/javascripts/acceptance/category-events-calendar-test.js
Due: prettier, eslint, ember-template-lint, stylelint

FIX: Add CORS header for all `/assets/*`
  config/nginx.sample.conf
Due: none

FIX: Add CORS header for all `/assets/*` [backport 2026.3] (#39033)
  config/nginx.sample.conf
Due: none

FEATURE: Dynamic chart types for data explorer
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/data-explorer-bar-chart.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/data-explorer-chart.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/components/query-result.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/lib/chart-helpers.js
  plugins/discourse-data-explorer/test/javascripts/integration/components/data-explorer-bar-chart-test.gjs
  plugins/discourse-data-explorer/test/javascripts/integration/components/data-explorer-chart-test.gjs
  plugins/discourse-data-explorer/test/javascripts/integration/components/query-result-test.gjs
Due: prettier, eslint, ember-template-lint

Update frontend/discourse/ember-cli-build.js
  frontend/discourse/ember-cli-build.js
Due: prettier, eslint

DEV: Keep commit author when merging security fixes
  lib/tasks/release.rake
Due: rubocop, syntax_tree

FIX: Respect user's manual topic notification level changes
  app/models/category_user.rb
  app/models/tag_user.rb
  app/models/topic_user.rb
  spec/models/category_user_spec.rb
  spec/models/tag_user_spec.rb
  spec/models/topic_user_spec.rb
Due: rubocop, syntax_tree

FIX: Prevent reactions on posts in archived topics
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-actions.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-picker.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/components/discourse-reactions-reaction-button.gjs
  plugins/discourse-reactions/config/locales/client.en.yml
  plugins/discourse-reactions/spec/system/reactions_post_spec.rb
  plugins/discourse-reactions/test/javascripts/acceptance/discourse-reactions-archived-topic-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Remove Unicorn web server in favor of Pitchfork
  .devcontainer/devcontainer.json
  .licensed.yml
  Gemfile
  Gemfile.lock
  bin/docker/unicorn
  bin/ember-cli
  bin/pitchfork
  bin/qunit
  bin/rails
  bin/unicorn
  config/discourse_defaults.conf
  config/environments/development.rb
  config/initializers/000-development_reload_warnings.rb
  config/initializers/000-zeitwerk.rb
  config/pitchfork.conf.rb
  config/unicorn.conf.rb
  lib/demon/sidekiq.rb
  lib/discourse.rb
  lib/unicorn_logstash_patch.rb
  script/bench.rb
  spec/lib/discourse_spec.rb
  spec/rails_helper.rb
  spec/tasks/qunit_cli_spec.rb
Due: rubocop, syntax_tree

DEV: skip_db_and_redis when building plugin JS assets
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

UX: Correct topic featured link icon for RTL layouts
  app/assets/stylesheets/common/base/rtl.scss
  app/assets/stylesheets/common/base/topic.scss
Due: prettier, stylelint

DEV: Use Pitchfork instead of Unicorn in docs
  docs/developer-guides/docs/02-development-environments/04-macos-setup.md
Due: none

FEATURE: add setting to opt out of solved notifications
  plugins/discourse-solved/app/services/discourse_solved/accept_answer.rb
  plugins/discourse-solved/assets/javascripts/discourse/connectors/user-preferences-notifications/solved-notifications.gjs
  plugins/discourse-solved/assets/javascripts/discourse/initializers/solved-user-options.js
  plugins/discourse-solved/config/locales/client.en.yml
  plugins/discourse-solved/db/migrate/20260319120000_add_notify_on_solved_to_user_options.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-solved/spec/services/discourse_solved/accept_answer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

only show setting if solved category exists
  plugins/discourse-solved/assets/javascripts/discourse/connectors/user-preferences-notifications/solved-notifications.gjs
Due: prettier, eslint, ember-template-lint

exclude users who opt out of notification
  plugins/discourse-solved/app/services/discourse_solved/accept_answer.rb
  plugins/discourse-solved/assets/javascripts/discourse/connectors/user-preferences-notifications/solved-notifications.gjs
  plugins/discourse-solved/spec/services/discourse_solved/accept_answer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

UX: Find groups also by their full_name when mentioning
  frontend/discourse/app/lib/user-search.js
  frontend/discourse/tests/acceptance/composer-editor-mentions-test.js
  frontend/discourse/tests/unit/lib/user-search-test.js
Due: prettier, eslint

always register settings areas first
  plugins/discourse-ai/lib/configuration/external_feature_setup.rb
  plugins/discourse-ai/plugin.rb
Due: rubocop, syntax_tree

FIX: Respect "Notify users" checkbox for group email invitations
  app/controllers/groups_controller.rb
  frontend/discourse/app/components/modal/group-add-members.gjs
  frontend/discourse/tests/acceptance/group-test.js
  spec/requests/groups_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: add event image to post/topic image_upload_id after cooking
  plugins/discourse-calendar/plugin.rb
Due: rubocop, syntax_tree

admin only
  plugins/discourse-ai/db/fixtures/agents/603_ai_agents.rb
Due: rubocop, syntax_tree

FIX: prevent non-admin group owners from clearing group title
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, syntax_tree

remove setup in feature and module as that's only needed on local
  plugins/discourse-ai/lib/configuration/feature.rb
  plugins/discourse-ai/lib/configuration/module.rb
Due: rubocop, syntax_tree

DEV: Remove the obsolete non-rollup CI job
  .github/workflows/tests.yml
Due: yaml-syntax
