Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

SECURITY: Topic existence oracle in bookmark endpoints [backport 2026.5] (#41153)
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Topic existence oracle in bookmark endpoints (#41152)
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Topic existence oracle in bookmark endpoints [backport 2026.4] (#41154)
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Add ACL authoring skill, will need to update when user_ids are added
  .skills/discourse-acl-authoring/SKILL.md
  .skills/discourse-acl-authoring/agents/openai.yaml
  .skills/discourse-acl-authoring/references/backend-model.md
  .skills/discourse-acl-authoring/references/frontend-d-access-control.md
  .skills/discourse-acl-authoring/references/manager-and-plugin-integration.md
  .skills/discourse-acl-authoring/references/testing-and-review.md
Due: yaml-syntax

DEV: Test fix
  spec/lib/guardian_spec.rb
  spec/models/access_control_list_spec.rb
  spec/models/user_spec.rb
Due: rubocop, syntax_tree

backport missed this
  app/controllers/topics_controller.rb
Due: rubocop, syntax_tree

SECURITY: Topic existence oracle in bookmark endpoints [backport 2026.1] (#41155)
  app/controllers/topics_controller.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Also delete api logs when user / user content is deleted (#41122)
  plugins/discourse-ai/lib/ai_api_audit_log_cleaner.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/fabricators/ai_api_audit_log_fabricator.rb
  plugins/discourse-ai/spec/jobs/regular/delete_user_posts_spec.rb
  plugins/discourse-ai/spec/lib/ai_api_audit_log_cleanup_spec.rb
  plugins/discourse-ai/spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: mini_racer gem update (#41112)
  Gemfile.lock
Due: none

add guardian method for message visibility
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
Due: rubocop, syntax_tree

serialize user data for reaction users
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/serializers/chat/reaction_user_serializer.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
Due: rubocop, syntax_tree

MT: Move worker pool and progress reporting out of the step executors
  migrations/core/lib/migrations/conversion/base.rb
  migrations/core/lib/migrations/conversion/console_reporter.rb
  migrations/core/lib/migrations/conversion/progress_step_executor.rb
  migrations/core/lib/migrations/conversion/step_executor.rb
  migrations/core/lib/migrations/conversion/step_reporter.rb
  migrations/core/lib/migrations/conversion/worker_pool.rb
  migrations/core/spec/lib/conversion/base_spec.rb
  migrations/core/spec/lib/conversion/console_reporter_spec.rb
  migrations/core/spec/lib/conversion/progress_step_executor_spec.rb
  migrations/core/spec/lib/conversion/step_executor_spec.rb
  migrations/core/spec/lib/conversion/worker_pool_spec.rb
Due: rubocop, syntax_tree

MT: Move the step reporter interface to common and complete it
  migrations/core/lib/migrations/common/step_reporter.rb
  migrations/core/lib/migrations/conversion/base.rb
  migrations/core/lib/migrations/conversion/console_reporter.rb
  migrations/core/lib/migrations/conversion/progress_step_executor.rb
  migrations/core/lib/migrations/conversion/step_executor.rb
  migrations/core/lib/migrations/conversion/step_reporter.rb
  migrations/core/spec/lib/conversion/base_spec.rb
  migrations/core/spec/lib/conversion/console_reporter_spec.rb
  migrations/core/spec/lib/conversion/progress_step_executor_spec.rb
  migrations/core/spec/lib/conversion/step_executor_spec.rb
  migrations/core/spec/lib/conversion/worker_pool_spec.rb
Due: rubocop, syntax_tree

update tests
  plugins/discourse-reactions/spec/system/page_objects/post_reactions_popup.rb
  plugins/discourse-reactions/spec/system/reactions_post_list_spec.rb
Due: rubocop, syntax_tree

add image and topic url to upcoming change
  plugins/chat/assets/javascripts/discourse/components/chat-message-reaction.gjs
  plugins/chat/config/locales/server.en.yml
  plugins/chat/config/settings.yml
  plugins/chat/public/images/upcoming_changes/enable_new_chat_reactions_popup.png
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

SECURITY: Prevent badge lookup from exposing hidden profiles
  app/controllers/user_badges_controller.rb
  spec/requests/user_badges_controller_spec.rb
Due: rubocop, syntax_tree

MT: Clarify ForkManager hook API names
  migrations/converters/lib/migrations/converters/adapter/postgres.rb
  migrations/converters/spec/lib/migrations/converters/adapter/postgres_spec.rb
  migrations/core/lib/migrations/common/fork_manager.rb
  migrations/core/lib/migrations/conversion/progress_step_executor.rb
  migrations/core/lib/migrations/database/connection.rb
  migrations/core/spec/lib/common/fork_manager_spec.rb
  migrations/core/spec/lib/database/connection_spec.rb
Due: rubocop, syntax_tree

FIX: Never use `structure.sql` when restoring a backup
  lib/backup_restore/database_restorer.rb
  lib/tasks/db.rake
Due: rubocop, syntax_tree

FEATURE: Improve display of installed/available version on dashboard
  app/assets/stylesheets/admin/dashboard.scss
  app/jobs/scheduled/call_discourse_hub.rb
  app/models/discourse_version_check.rb
  app/serializers/discourse_version_check_serializer.rb
  config/locales/client.en.yml
  frontend/discourse/admin/components/version-checks.gjs
  frontend/discourse/admin/controllers/admin/dashboard.js
  frontend/discourse/admin/models/version-check.js
  lib/discourse_updates.rb
  spec/lib/discourse_updates_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Apply suggestions from code review
  app/assets/stylesheets/admin/dashboard.scss
Due: prettier, stylelint

FIX: Never use `structure.sql` when restoring a backup (#41164)
  lib/backup_restore/database_restorer.rb
  lib/tasks/db.rake
Due: rubocop, syntax_tree

fixup
  app/assets/stylesheets/admin/dashboard.scss
Due: prettier, stylelint

FEATURE: Improve display of installed/available version on dashboard (#41165)
  app/assets/stylesheets/admin/dashboard.scss
  app/jobs/scheduled/call_discourse_hub.rb
  app/models/discourse_version_check.rb
  app/serializers/discourse_version_check_serializer.rb
  config/locales/client.en.yml
  frontend/discourse/admin/components/version-checks.gjs
  frontend/discourse/admin/controllers/admin/dashboard.js
  frontend/discourse/admin/models/version-check.js
  lib/discourse_updates.rb
  spec/lib/discourse_updates_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

UX: increase UX for incoming mail modal
  app/assets/stylesheets/common/modal/modal-overrides.scss
  frontend/discourse/app/components/modal/raw-email.gjs
Due: prettier, eslint, ember-template-lint, stylelint

fix test
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree

DEV: remove and replace Uncategorized
  app/services/site_setting/action/remove_and_replace_uncategorized_toggled.rb
  config/initializers/015-track-upcoming-change-toggle.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/upcoming_changes.rb
  spec/lib/upcoming_changes_spec.rb
  spec/services/site_setting/action/remove_and_replace_uncategorized_toggled_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

fix
  app/assets/stylesheets/common/modal/modal-overrides.scss
Due: prettier, stylelint

FIX: Filter inaccessible topic notifications in user menu messages
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

UX: increase UX for incoming mail modal (#41166)
  app/assets/stylesheets/common/modal/modal-overrides.scss
  frontend/discourse/app/components/modal/raw-email.gjs
Due: prettier, eslint, ember-template-lint, stylelint

test fix
  frontend/discourse/tests/integration/components/advanced-mode-toggle-test.gjs
Due: prettier, eslint, ember-template-lint

FIX: ZIP symlink entries are extracted as real directories
  lib/compression/zip.rb
  spec/lib/compression/engine_spec.rb
Due: rubocop, syntax_tree
