Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

underscored tool names
  frontend/discourse/tests/acceptance/admin-mcp-test.js
  lib/discourse_mcp/core_primitives.rb
  plugins/chat/plugin.rb
  plugins/discourse-events/plugin.rb
  plugins/discourse-reactions/plugin.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-topic-voting/plugin.rb
  script/mcp_client_interop
  spec/lib/discourse_mcp/access_spec.rb
  spec/lib/discourse_mcp/authorization_status_spec.rb
  spec/lib/discourse_mcp/oauth_spec.rb
  spec/models/mcp_primitive_spec.rb
  spec/requests/admin/mcp_activity_controller_spec.rb
  spec/requests/admin/mcp_controller_spec.rb
  spec/requests/mcp_controller_spec.rb
  spec/services/mcp_primitive_updater_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

better waiting
  plugins/discourse-ai/test/javascripts/unit/lib/smooth-streamer-test.js
Due: prettier, eslint

DEV: Convert JSON:API parameters in the contract
  lib/json_api_kit/document.rb
  lib/json_api_kit/document/collection.rb
  lib/json_api_kit/document/individual.rb
  lib/json_api_kit/pagination/direction.rb
  lib/json_api_kit/request.rb
  lib/json_api_kit/request/contract/fields.rb
  lib/json_api_kit/request/contract/including.rb
  lib/json_api_kit/request/contract/mapper.rb
  lib/json_api_kit/request/contract/paging.rb
  lib/json_api_kit/request/contract/sorting.rb
  spec/integration/json_api_kit/anchors_spec.rb
  spec/integration/json_api_kit/documents_spec.rb
  spec/integration/json_api_kit/errors_spec.rb
  spec/integration/json_api_kit/relationships_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/pagination/direction_spec.rb
  spec/lib/json_api_kit/query/collection_spec.rb
  spec/lib/json_api_kit/request/contract/collection_spec.rb
  spec/lib/json_api_kit/request/contract/individual_spec.rb
  spec/lib/json_api_kit/request_spec.rb
  spec/lib/json_api_kit/sideload_spec.rb
Due: rubocop, syntax_tree

DEV: Add JSON:API restricted fields
  lib/json_api_kit/declarations/attribute.rb
  lib/json_api_kit/declarations/attributes.rb
  lib/json_api_kit/declarations/fields.rb
  lib/json_api_kit/declarations/fields/all.rb
  lib/json_api_kit/declarations/readable.rb
  lib/json_api_kit/declarations/readable/per_record.rb
  lib/json_api_kit/declarations/readable/per_user.rb
  lib/json_api_kit/declarations/relationship.rb
  lib/json_api_kit/query.rb
  lib/json_api_kit/resource/fields.rb
  spec/integration/json_api_kit/restricted_fields_spec.rb
  spec/lib/json_api_kit/declarations/attributes_spec.rb
  spec/lib/json_api_kit/declarations/fields_spec.rb
  spec/lib/json_api_kit/declarations/readable/per_record_spec.rb
  spec/lib/json_api_kit/declarations/readable/per_user_spec.rb
  spec/lib/json_api_kit/declarations/readable_spec.rb
  spec/lib/json_api_kit/declarations/relationship_spec.rb
  spec/lib/json_api_kit/document/contents_spec.rb
  spec/lib/json_api_kit/document/relationship_object_spec.rb
  spec/lib/json_api_kit/document/resource_object_spec.rb
  spec/lib/json_api_kit/included_spec.rb
  spec/lib/json_api_kit/linkage/to_many_spec.rb
  spec/lib/json_api_kit/linkage/to_one_spec.rb
  spec/lib/json_api_kit/record_spec.rb
  spec/lib/json_api_kit/resource_spec.rb
Due: rubocop, syntax_tree

DEV: Add a JSON:API Kit base controller
  app/controllers/json_api_kit/base_controller.rb
  lib/json_api_kit/forbidden.rb
  lib/json_api_kit/internal_server_error.rb
  lib/json_api_kit/media_type.rb
  lib/json_api_kit/not_acceptable.rb
  lib/json_api_kit/unsupported_media_type.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/media_type_spec.rb
Due: rubocop, syntax_tree

DEV: Serve the data explorer queries as JSON:API
  app/controllers/json_api_kit/base_controller.rb
  app/resources/group_resource.rb
  app/resources/user_resource.rb
  lib/json_api_kit/document/relationship_object.rb
  lib/json_api_kit/document/resource_object.rb
  lib/json_api_kit/query.rb
  lib/json_api_kit/record.rb
  lib/json_api_kit/record_url.rb
  lib/json_api_kit/resource/fields.rb
  lib/json_api_kit/resource/naming.rb
  lib/json_api_kit/resource_lookup.rb
  lib/json_api_kit/urls.rb
  plugins/discourse-data-explorer/app/controllers/discourse_data_explorer/queries_controller.rb
  plugins/discourse-data-explorer/app/resources/discourse_data_explorer/query_resource.rb
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/spec/requests/api/queries_spec.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/lib/json_api_kit/document/relationship_object_spec.rb
  spec/lib/json_api_kit/document/resource_object_spec.rb
  spec/lib/json_api_kit/record_spec.rb
  spec/lib/json_api_kit/record_url_spec.rb
  spec/lib/json_api_kit/resource_lookup_spec.rb
  spec/lib/json_api_kit/resource_spec.rb
  spec/lib/json_api_kit/urls_spec.rb
  spec/resources/group_resource_spec.rb
  spec/resources/user_resource_spec.rb
Due: rubocop, syntax_tree

DEV: Add the JSON:API cursor pagination profile
  app/controllers/json_api_kit/base_controller.rb
  lib/json_api_kit/document.rb
  lib/json_api_kit/pagination/profile.rb
  lib/json_api_kit/request/contract/mapper.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/document/collection_spec.rb
  spec/lib/json_api_kit/document/individual_spec.rb
Due: rubocop, syntax_tree

DEV: Add RSpec matchers for JSON:API resources
  lib/json_api_kit/declarations/attributes.rb
  lib/json_api_kit/resource/fields.rb
  plugins/discourse-data-explorer/spec/requests/api/queries_spec.rb
  plugins/discourse-data-explorer/spec/resources/discourse_data_explorer/query_resource_spec.rb
  spec/rails_helper.rb
  spec/support/matchers/json_api_kit/anchor_on.rb
  spec/support/matchers/json_api_kit/declare_model.rb
  spec/support/matchers/json_api_kit/declare_namespace.rb
  spec/support/matchers/json_api_kit/declare_type.rb
  spec/support/matchers/json_api_kit/expose.rb
  spec/support/matchers/json_api_kit/filter_on.rb
  spec/support/matchers/json_api_kit/have_relationship.rb
  spec/support/matchers/json_api_kit/matcher.rb
  spec/support/matchers/json_api_kit/paginate.rb
  spec/support/matchers/json_api_kit/sort_by_default.rb
  spec/support/matchers/json_api_kit/sort_on.rb
  spec/support/matchers/json_api_kit_matchers.rb
Due: rubocop, syntax_tree

DEV: Convert JSON:API parameters in the contract (#42789)
  lib/json_api_kit/document.rb
  lib/json_api_kit/document/collection.rb
  lib/json_api_kit/document/individual.rb
  lib/json_api_kit/pagination/direction.rb
  lib/json_api_kit/request.rb
  lib/json_api_kit/request/contract/fields.rb
  lib/json_api_kit/request/contract/including.rb
  lib/json_api_kit/request/contract/mapper.rb
  lib/json_api_kit/request/contract/paging.rb
  lib/json_api_kit/request/contract/sorting.rb
  spec/integration/json_api_kit/anchors_spec.rb
  spec/integration/json_api_kit/documents_spec.rb
  spec/integration/json_api_kit/errors_spec.rb
  spec/integration/json_api_kit/relationships_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/pagination/direction_spec.rb
  spec/lib/json_api_kit/query/collection_spec.rb
  spec/lib/json_api_kit/request/contract/collection_spec.rb
  spec/lib/json_api_kit/request/contract/individual_spec.rb
  spec/lib/json_api_kit/request_spec.rb
  spec/lib/json_api_kit/sideload_spec.rb
Due: rubocop, syntax_tree

DEV: Add a JSON:API Kit base controller (#42793)
  app/controllers/json_api_kit/base_controller.rb
  lib/json_api_kit/forbidden.rb
  lib/json_api_kit/internal_server_error.rb
  lib/json_api_kit/media_type.rb
  lib/json_api_kit/not_acceptable.rb
  lib/json_api_kit/unsupported_media_type.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/media_type_spec.rb
Due: rubocop, syntax_tree

DEV: Add the JSON:API cursor pagination profile (#42805)
  app/controllers/json_api_kit/base_controller.rb
  lib/json_api_kit/document.rb
  lib/json_api_kit/pagination/profile.rb
  lib/json_api_kit/request/contract/mapper.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/integration/json_api_kit/support.rb
  spec/lib/json_api_kit/document/collection_spec.rb
  spec/lib/json_api_kit/document/individual_spec.rb
Due: rubocop, syntax_tree

DEV: Add JSON:API restricted fields (#42814)
  lib/json_api_kit/declarations/attribute.rb
  lib/json_api_kit/declarations/attributes.rb
  lib/json_api_kit/declarations/fields.rb
  lib/json_api_kit/declarations/fields/all.rb
  lib/json_api_kit/declarations/readable.rb
  lib/json_api_kit/declarations/readable/per_record.rb
  lib/json_api_kit/declarations/readable/per_user.rb
  lib/json_api_kit/declarations/relationship.rb
  lib/json_api_kit/query.rb
  lib/json_api_kit/resource/fields.rb
  spec/integration/json_api_kit/restricted_fields_spec.rb
  spec/lib/json_api_kit/declarations/attributes_spec.rb
  spec/lib/json_api_kit/declarations/fields_spec.rb
  spec/lib/json_api_kit/declarations/readable/per_record_spec.rb
  spec/lib/json_api_kit/declarations/readable/per_user_spec.rb
  spec/lib/json_api_kit/declarations/readable_spec.rb
  spec/lib/json_api_kit/declarations/relationship_spec.rb
  spec/lib/json_api_kit/document/contents_spec.rb
  spec/lib/json_api_kit/document/relationship_object_spec.rb
  spec/lib/json_api_kit/document/resource_object_spec.rb
  spec/lib/json_api_kit/included_spec.rb
  spec/lib/json_api_kit/linkage/to_many_spec.rb
  spec/lib/json_api_kit/linkage/to_one_spec.rb
  spec/lib/json_api_kit/record_spec.rb
  spec/lib/json_api_kit/resource_spec.rb
Due: rubocop, syntax_tree

DEV: Add RSpec matchers for JSON:API resources (#42933)
  lib/json_api_kit/declarations/attributes.rb
  lib/json_api_kit/resource/fields.rb
  plugins/discourse-data-explorer/spec/requests/api/queries_spec.rb
  plugins/discourse-data-explorer/spec/resources/discourse_data_explorer/query_resource_spec.rb
  spec/rails_helper.rb
  spec/support/matchers/json_api_kit/anchor_on.rb
  spec/support/matchers/json_api_kit/declare_model.rb
  spec/support/matchers/json_api_kit/declare_namespace.rb
  spec/support/matchers/json_api_kit/declare_type.rb
  spec/support/matchers/json_api_kit/expose.rb
  spec/support/matchers/json_api_kit/filter_on.rb
  spec/support/matchers/json_api_kit/have_relationship.rb
  spec/support/matchers/json_api_kit/matcher.rb
  spec/support/matchers/json_api_kit/paginate.rb
  spec/support/matchers/json_api_kit/sort_by_default.rb
  spec/support/matchers/json_api_kit/sort_on.rb
  spec/support/matchers/json_api_kit_matchers.rb
Due: rubocop, syntax_tree

DEV: Serve the data explorer queries as JSON:API (#42859)
  app/controllers/json_api_kit/base_controller.rb
  app/resources/group_resource.rb
  app/resources/user_resource.rb
  lib/json_api_kit/document/relationship_object.rb
  lib/json_api_kit/document/resource_object.rb
  lib/json_api_kit/query.rb
  lib/json_api_kit/record.rb
  lib/json_api_kit/record_url.rb
  lib/json_api_kit/resource/fields.rb
  lib/json_api_kit/resource/naming.rb
  lib/json_api_kit/resource_lookup.rb
  lib/json_api_kit/urls.rb
  plugins/discourse-data-explorer/app/controllers/discourse_data_explorer/queries_controller.rb
  plugins/discourse-data-explorer/app/resources/discourse_data_explorer/query_resource.rb
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/spec/requests/api/queries_spec.rb
  spec/integration/json_api_kit/endpoint_spec.rb
  spec/lib/json_api_kit/document/relationship_object_spec.rb
  spec/lib/json_api_kit/document/resource_object_spec.rb
  spec/lib/json_api_kit/record_spec.rb
  spec/lib/json_api_kit/record_url_spec.rb
  spec/lib/json_api_kit/resource_lookup_spec.rb
  spec/lib/json_api_kit/resource_spec.rb
  spec/lib/json_api_kit/urls_spec.rb
  spec/resources/group_resource_spec.rb
  spec/resources/user_resource_spec.rb
Due: rubocop, syntax_tree

UX: Find groups also by their full_name when mentioning
  frontend/discourse/app/lib/user-search.js
  frontend/discourse/tests/acceptance/composer-editor-mentions-test.js
  frontend/discourse/tests/unit/lib/user-search-test.js
Due: prettier, eslint

FIX: Allow local backup downloads to resume
  app/controllers/admin/backups_controller.rb
  app/models/backup_download_resume_window_site_setting.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/site_settings.yml
  lib/backup_download_resume_token.rb
  lib/email_backup_token.rb
  spec/lib/backup_download_resume_token_spec.rb
  spec/models/backup_download_resume_window_site_setting_spec.rb
  spec/requests/admin/backups_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

moved totp optimizations to SecondFactorManager
  app/models/concerns/second_factor_manager.rb
  app/serializers/admin_user_list_serializer.rb
Due: rubocop, syntax_tree

safe navigation operator is not needed
  app/models/concerns/second_factor_manager.rb
Due: rubocop, syntax_tree

default on
  app/models/user_option.rb
  db/structure.sql
  plugins/discourse-ai/db/migrate/20260828145150_add_ai_ask_ai_default_to_user_options.rb
  plugins/discourse-ai/spec/requests/ask_ai_default_preference_spec.rb
  plugins/discourse-ai/spec/system/ai_discoveries_search_mode_spec.rb
  plugins/discourse-ai/spec/system/page_objects/components/ai_discoveries_search.rb
Due: rubocop, syntax_tree

FIX: Re-upload when dragging an image within the composer (#43029)
  frontend/discourse/app/static/prosemirror/components/prosemirror-editor.gts
  frontend/discourse/tests/integration/components/prosemirror-editor/image-test.js
Due: prettier, eslint

DEV: Trim comments down to the invariants
  frontend/discourse/app/instance-initializers/subscribe-user-notifications.js
  frontend/discourse/app/lib/desktop-notifications.js
  frontend/discourse/app/lib/push-notifications.js
  frontend/discourse/tests/unit/services/desktop-notifications-test.js
Due: prettier, eslint

FIX: Stop dropping posts when flattening the nested depth boundary
  lib/nested_replies/tree_loader.rb
  spec/services/nested_topic/list_children_spec.rb
  spec/services/nested_topic/list_roots_spec.rb
Due: rubocop, syntax_tree

FIX: Normalize nested replies at the depth cap (#42987)
  app/services/nested_topic/list_children.rb
  app/services/nested_topic/list_roots.rb
  app/services/nested_topic/show_context.rb
  frontend/discourse/app/components/nested/post-children.gjs
  frontend/discourse/tests/integration/components/nested/post-test.gjs
  frontend/discourse/tests/unit/controllers/nested-test.js
  lib/nested_replies/tree_loader.rb
  spec/lib/nested_replies/nested_replies_n_plus_one_spec.rb
  spec/services/nested_topic/list_children_spec.rb
  spec/services/nested_topic/list_roots_spec.rb
  spec/services/nested_topic/show_context_spec.rb
  spec/system/nested_depth_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Publish reaction changes from all entry points (#43021)
  plugins/discourse-reactions/app/controllers/discourse_reactions/custom_reactions_controller.rb
  plugins/discourse-reactions/app/services/discourse_reactions/post_reaction/toggle.rb
  plugins/discourse-reactions/plugin.rb
  plugins/discourse-reactions/spec/requests/custom_reactions_controller_spec.rb
  plugins/discourse-reactions/spec/services/post_reaction/toggle_spec.rb
Due: rubocop, syntax_tree

DEV: Stop using `String#mb_chars` in `TextCleaner`
  lib/text_cleaner.rb
Due: rubocop, syntax_tree

DEV: Replace `ActiveSupport::Configurable` with `class_attribute`
  app/models/problem_check.rb
  lib/custom_renderer.rb
Due: rubocop, syntax_tree

DEV: Keep a missing controller answering 404 on Rails 8.1
  config/application.rb
  spec/integrity/middleware_order_spec.rb
Due: rubocop, syntax_tree

DEV: Pass route options as keywords instead of a positional hash
  config/routes.rb
Due: rubocop, syntax_tree

DEV: Bump `lograge` to 0.15.0 for Rails 8.1 support
  Gemfile.lock
Due: none

FIX: Repair invalid UTF-8 before escaping HTML
  lib/freedom_patches/erb_util.rb
Due: rubocop, syntax_tree

DEV: Give `CSRFTokenVerifier` its own `config` object
  lib/csrf_token_verifier.rb
Due: rubocop, syntax_tree

FIX: Avoid an ambiguous column when resetting invitee notifications
  plugins/discourse-events/app/models/discourse_events/events/event.rb
Due: rubocop, syntax_tree

DEV: Declare `benchmark` explicitly before Rails 8.1 drops it
  Gemfile
  Gemfile.lock
  lib/freedom_patches/schema_migration_details.rb
Due: rubocop, syntax_tree

DEV: Upgrade Rails to version 8.1.3.1
  Gemfile
  Gemfile.lock
Due: rubocop, syntax_tree

DEV: Record why the oj initializer order matters
  config/initializers/100-oj.rb
Due: rubocop, syntax_tree

FIX: Skip the user stat update for a new or destroyed record
  app/services/user_stat_count_updater.rb
Due: rubocop, syntax_tree
