Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Clear local stylesheet caches when working on WCAG color schemes (#16600)
  lib/stylesheet/watcher.rb
Due: rubocop

FIX: avoid concurrent usage of AR models (#16596)
  app/models/user.rb
  lib/auth/default_current_user_provider.rb
Due: rubocop

DEV: Change Bookmarkables to inherit from base class
  app/models/bookmark.rb
  app/models/post.rb
  app/models/topic.rb
  app/serializers/base_bookmarkable.rb
  app/services/bookmarkable.rb
  app/services/post_bookmarkable.rb
  app/services/topic_bookmarkable.rb
Due: rubocop

DEV: Fixing up bookmarkable notifications
  app/assets/javascripts/discourse/app/widgets/bookmark-reminder-notification-item.js
  app/assets/javascripts/discourse/app/widgets/default-notification-item.js
  app/services/post_bookmarkable.rb
  app/services/topic_bookmarkable.rb
Due: rubocop, prettier, eslint-js

DEV: Fix tests
  spec/jobs/bookmark_reminder_notifications_spec.rb
  spec/lib/bookmark_reminder_notification_handler_spec.rb
Due: rubocop

FIX: Polymorphic bookmarks for user export
  app/jobs/regular/export_user_archive.rb
  app/models/post.rb
  app/services/bookmarkable.rb
  app/services/post_bookmarkable.rb
  app/services/topic_bookmarkable.rb
  lib/guardian/bookmark_guardian.rb
  spec/jobs/export_user_archive_spec.rb
Due: rubocop

FIX: Export user archive for polymorphic bookmarks
  app/jobs/regular/export_user_archive.rb
Due: rubocop

FIX: Sync topic user bookmarked for polymorphic bookmarks
  app/jobs/regular/sync_topic_user_bookmarked.rb
  app/models/bookmark.rb
  lib/search.rb
  spec/jobs/sync_topic_user_bookmarked_spec.rb
Due: rubocop

DEV: Add todo comments
  app/assets/javascripts/discourse/app/widgets/bookmark-reminder-notification-item.js
  app/assets/javascripts/discourse/app/widgets/default-notification-item.js
  app/controllers/users_controller.rb
  app/jobs/regular/sync_topic_user_bookmarked.rb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/new_user_narrative.rb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop, prettier, eslint-js

FIX: Validate permalink_normalizations setting
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/regexp_list_validator.rb
  spec/lib/validators/regexp_list_validator_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Add broken image spec
  spec/lib/cooked_post_processor_spec.rb
Due: rubocop

DEV: Lock logster to 2.11.0
  Gemfile
  Gemfile.lock
Due: none

Spec cleanup
  app/models/post.rb
  app/models/post_hotlinked_media.rb
  spec/models/post_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

DEV: Lock logster to 2.11.0 (#16605)
  Gemfile
  Gemfile.lock
Due: none

DEV: Update ember-try to 2.0.0
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Move hotlinked image information into a dedicated table (#16585)
  app/jobs/regular/pull_hotlinked_images.rb
  app/models/post.rb
  app/models/post_hotlinked_media.rb
  app/models/upload.rb
  db/migrate/20220428094026_create_post_hotlinked_media.rb
  lib/cooked_post_processor.rb
  spec/lib/cooked_post_processor_spec.rb
  spec/models/post_spec.rb
  spec/requests/posts_controller_spec.rb
Due: rubocop

Update translations (#108)
  plugins/automation/config/locales/client.fa_IR.yml
  plugins/automation/config/locales/client.he.yml
  plugins/automation/config/locales/client.hu.yml
  plugins/automation/config/locales/client.sv.yml
  plugins/automation/config/locales/server.sv.yml
Due: yaml-syntax

FIX: Ensure post_hotlinked_media index does not exceed size limit
  app/models/post_hotlinked_media.rb
  db/migrate/20220428094026_create_post_hotlinked_media.rb
  db/migrate/20220428094027_fix_post_hotlinked_media_index.rb
Due: rubocop

FIX: Ensure post_hotlinked_media index does not exceed size limit (#16609)
  app/models/post_hotlinked_media.rb
  db/migrate/20220428094026_create_post_hotlinked_media.rb
  db/migrate/20220428094027_fix_post_hotlinked_media_index.rb
Due: rubocop

DEV: Update ember-try to 2.0.0 (#16606)
  app/assets/javascripts/admin/package.json
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/discourse-hbr/package.json
  app/assets/javascripts/discourse-widget-hbs/package.json
  app/assets/javascripts/pretty-text/package.json
  app/assets/javascripts/select-kit/package.json
  app/assets/javascripts/truth-helpers/package.json
  app/assets/javascripts/yarn.lock
Due: none

DEV: Add Ember CLI workspace license checks
  .github/workflows/licenses.yml
  app/assets/javascripts/.licensee.json
Due: yaml-syntax

Fixes
  .github/workflows/licenses.yml
  app/assets/javascripts/.licensee.json
Due: yaml-syntax

FIX: updated filtered replies when replies exist
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

FIX: Handle duplicates in hotlinked_media migration
  db/migrate/20220428094026_create_post_hotlinked_media.rb
Due: rubocop

FIX: updated filtered replies when replies exist (#16610)
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

FIX: Handle duplicates in hotlinked_media migration (#16611)
  db/migrate/20220428094026_create_post_hotlinked_media.rb
Due: rubocop

Update .github/workflows/licenses.yml
  .github/workflows/licenses.yml
Due: yaml-syntax

Update app/assets/javascripts/.licensee.json
  app/assets/javascripts/.licensee.json
Due: none

DEV: Add Ember CLI workspace license checks (#16603)
  .github/workflows/licenses.yml
  app/assets/javascripts/.licensee.json
Due: yaml-syntax

FEATURE: Add fallback to suggested value when auth_overrides_username
  lib/auth/result.rb
  spec/lib/auth/result_spec.rb
Due: rubocop

FIX: Handle invalid JSON from downloaded_images custom fields
  db/migrate/20220428094026_create_post_hotlinked_media.rb
Due: rubocop

FIX: Handle invalid JSON from downloaded_images custom fields (#16613)
  db/migrate/20220428094026_create_post_hotlinked_media.rb
Due: rubocop

DEV: Fix typos and outdated comments
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  config/dev_defaults.yml
  config/initializers/100-logster.rb
  lib/tasks/db.rake
Due: rubocop, prettier, eslint-js, yaml-syntax

DEV: Use cloneJSON instead of spread operator
  plugins/discourse-local-dates/test/javascripts/acceptance/download-calendar-test.js
Due: prettier, eslint-js

DEV: Update puppeteer, fix deprecations, lint
  package.json
  test/smoke_test.js
  yarn.lock
Due: prettier, eslint-js

DEV: Update puppeteer, fix deprecations, lint (#16616)
  package.json
  test/smoke_test.js
  yarn.lock
Due: prettier, eslint-js

DEV: Use Ember getter and explicitly check for undefined
  app/assets/javascripts/discourse/app/components/d-editor.js
Due: prettier, eslint-js

DEV: Remove RTLit gem
  Gemfile
  Gemfile.lock
  config/discourse_defaults.conf
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
