Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Update app/assets/javascripts/discourse/app/components/post/menu/buttons/like/liked-users-list.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like/liked-users-list.gjs
Due: none

Update app/assets/javascripts/discourse/app/components/post/menu/buttons/like/post-menu-like-button.gjs
  app/assets/javascripts/discourse/app/components/post/menu/buttons/like/post-menu-like-button.gjs
Due: none

Update app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier-scss

DEV: Change arguments provided to `PostSmallAction` custom components
  app/assets/javascripts/discourse/app/components/post/small-action.gjs
  app/assets/javascripts/discourse/tests/integration/components/post/small-action-test.gjs
Due: none

DEV: Change arguments provided to `PostSmallAction` custom components (#34928)
  app/assets/javascripts/discourse/app/components/post/small-action.gjs
  app/assets/javascripts/discourse/tests/integration/components/post/small-action-test.gjs
Due: none

DEV: Define user-notes namespace earlier
  plugins/discourse-user-notes/lib/discourse_user_notes/engine.rb
  plugins/discourse-user-notes/plugin.rb
Due: rubocop, syntax_tree

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: yaml-syntax

DEV: Replace `findBy` with native `.find` across admin JS files
  app/assets/javascripts/admin/addon/components/admin-report.gjs
  app/assets/javascripts/admin/addon/components/emoji-value-list.gjs
  app/assets/javascripts/admin/addon/components/form-template/form.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show-index.js
  app/assets/javascripts/admin/addon/controllers/admin-logs-staff-action-logs.js
  app/assets/javascripts/admin/addon/controllers/admin-user-index.js
  app/assets/javascripts/admin/addon/lib/color-scheme-manager.js
  app/assets/javascripts/admin/addon/models/user-field.js
  app/assets/javascripts/admin/addon/routes/admin-badges/award.js
  app/assets/javascripts/admin/addon/routes/admin-badges/show.js
  app/assets/javascripts/admin/addon/routes/admin-config-flags-edit.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show-schema.js
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/routes/admin-email-templates-edit.js
Due: prettier, eslint

DEV: Add default reviewable actions for posts.
  app/models/concerns/reviewable_action_builder.rb
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  config/locales/server.en.yml
  spec/models/reviewable_flagged_post_spec.rb
  spec/models/reviewable_post_spec.rb
  spec/models/reviewable_queued_post_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Remove a change for a later PR.
  app/models/reviewable.rb
Due: rubocop, syntax_tree

FIX: Trim whitespace.
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: Do-nothing actions should treat the flag as ignored.
  app/models/concerns/reviewable_action_builder.rb
  spec/models/reviewable_post_spec.rb
Due: rubocop, syntax_tree

DEV: Replace `findBy` with native `.find` across JavaScript files
  app/assets/javascripts/discourse/app/components/basic-topic-list.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/components/modal/bulk-topic-actions.gjs
  app/assets/javascripts/discourse/app/components/modal/reorder-categories.gjs
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/deprecation-workflow.js
  app/assets/javascripts/discourse/app/lib/avatar-flair.js
  app/assets/javascripts/discourse/app/lib/sidebar/custom-sections.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/models/topic-details.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/widgets/post-stream.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/tag-drop-test.gjs
  app/assets/javascripts/discourse/tests/unit/services/store-test.js
Due: prettier, eslint

DEV: Replace `findBy` with native `.find` across plugin JS files
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-thread-list.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/discourse-adplugin/admin/assets/javascripts/admin/controllers/admin-plugins-house-ads-show.js
  plugins/discourse-adplugin/admin/assets/javascripts/admin/routes/admin-plugins-house-ads-show.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-ai-embeddings-edit.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-ai-llms-edit.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-ai-personas-edit.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-embedding-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-llm-editor-form.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-list-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-tool-options.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-list-editor.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/ai-llm-quota-modal.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/category-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/group-timezones/index.gjs
  plugins/discourse-chat-integration/admin/assets/javascripts/admin/routes/admin-plugins-chat-integration-provider.js
  plugins/discourse-gamification/admin/assets/javascripts/discourse/routes/admin-plugins-show-discourse-gamification-leaderboards-show.js
  plugins/discourse-policy/assets/javascripts/discourse/components/post-policy.gjs
  plugins/discourse-reactions/assets/javascripts/discourse/initializers/discourse-reactions.gjs
Due: prettier, eslint

DEV: Back out the create_result() changes.
  app/models/concerns/reviewable_action_builder.rb
  spec/models/reviewable_post_spec.rb
Due: rubocop, syntax_tree

FIX: Tidy up a couple of unnecessary changes.
  app/models/concerns/reviewable_action_builder.rb
Due: rubocop, syntax_tree

DEV: Remove `env` from array `.findBy` deprecation workflow
  app/assets/javascripts/discourse/app/deprecation-workflow.js
Due: prettier, eslint

UX: replace btn-danger with modifier class for bookmark dropdown
  app/assets/javascripts/discourse/app/components/bookmark-menu.gjs
  app/assets/stylesheets/common/components/dropdown-menu.scss
Due: prettier-scss

UX: fix emoji size in post excerpts (#34924)
  app/assets/stylesheets/common/base/_topic-list.scss
Due: prettier-scss

DEV: Review fixes
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree

update sys spec
  spec/system/post_translation_spec.rb
Due: rubocop, syntax_tree

UX: Use admin table classes for Calendar Holidays list
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list-item.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/region-input.js
  plugins/discourse-calendar/assets/javascripts/discourse/templates/admin-plugins/show/discourse-calendar-holidays.gjs
  plugins/discourse-calendar/assets/stylesheets/common/discourse-calendar-holidays.scss
  plugins/discourse-calendar/config/locales/client.en.yml
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FIX: Force composer markdown mode in email template editing (#34668)
  app/assets/javascripts/admin/addon/controllers/admin-email-templates-edit.js
  app/assets/javascripts/admin/addon/templates/email-templates-edit.gjs
  app/assets/javascripts/discourse/app/components/d-editor.gjs
  app/assets/javascripts/discourse/app/lib/object.js
  config/locales/client.en.yml
  plugins/chat/spec/system/rich_editor_extension_transcript_spec.rb
  spec/system/admin_email_templates_spec.rb
  spec/system/page_objects/components/composer.rb
  spec/system/page_objects/pages/admin_email_templates.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint

FIX: Always show the translation post menu (#34927)
  app/assets/javascripts/discourse/app/components/post/menu/buttons/add-translation.gjs
  app/assets/javascripts/discourse/tests/integration/components/post/menu/buttons/add-translation-test.gjs
  spec/system/post_translation_spec.rb
Due: rubocop, syntax_tree

UX: Update copy
  plugins/discourse-ai/config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: Handle media optimization worker load timeouts and errors
  app/assets/javascripts/discourse/app/services/media-optimization-worker.js
  public/javascripts/media-optimization-worker.js
Due: prettier, eslint

UX: Update copy (#34944)
  plugins/discourse-ai/config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Test fix
  plugins/discourse-calendar/test/javascripts/acceptance/admin-holidays-test.js
  plugins/discourse-calendar/test/javascripts/integration/components/admin-holidays-list-item-test.gjs
Due: prettier, eslint

dev: code improvements based on PR comments
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

dev: documentElement query simplified
  app/assets/javascripts/admin/addon/components/site-settings/color.gjs
  plugins/discourse-subscriptions/assets/javascripts/discourse/components/subscribe-card.gjs
Due: none

DEV: add deprecation console warning to jquery autocomplete (#34857)
  app/assets/javascripts/discourse/app/lib/autocomplete.js
Due: prettier, eslint

DEV: Remove unnecessary `topic_timers_topic_id_trigger` trigger (#34866)
  db/migrate/20250902014817_add_timerable_id_to_topic_timer.rb
  db/migrate/20250919010400_remove_trigger_on_topic_timers.rb
Due: rubocop, syntax_tree

Add a TODO for handling hiding posts with a flag reason.
  app/models/concerns/reviewable_action_builder.rb
Due: rubocop, syntax_tree

FIX: Do not bump topics on title, category, or tag edit
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree

UX: Use admin table classes for Calendar Holidays list (#34942)
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list-item.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/admin-holidays-list.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/region-input.js
  plugins/discourse-calendar/assets/javascripts/discourse/templates/admin-plugins/show/discourse-calendar-holidays.gjs
  plugins/discourse-calendar/assets/stylesheets/common/discourse-calendar-holidays.scss
  plugins/discourse-calendar/config/locales/client.en.yml
  plugins/discourse-calendar/test/javascripts/acceptance/admin-holidays-test.js
  plugins/discourse-calendar/test/javascripts/integration/components/admin-holidays-list-item-test.gjs
Due: prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

UX: add welcome banner text color setting (#34657)
  app/assets/javascripts/admin/addon/components/color-input.gjs
  app/assets/javascripts/admin/addon/components/site-settings/color.gjs
  app/assets/javascripts/discourse/app/components/welcome-banner.gjs
  app/assets/javascripts/discourse/tests/integration/components/color-input-test.gjs
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/css_color_with_blank_validator.rb
  plugins/discourse-assign/test/javascripts/acceptance/user-private-messages-assigned-test.js
  plugins/discourse-subscriptions/assets/javascripts/discourse/components/subscribe-card.gjs
  spec/lib/validators/css_color_with_blank_validator_spec.rb
  spec/system/page_objects/components/welcome_banner.rb
  spec/system/welcome_banner_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax, i18n-lint
