Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

FIX: Stabilize traffic filter system specs
  app/assets/stylesheets/admin/dashboard/site-traffic-explorer.scss
  spec/system/page_objects/pages/admin_site_traffic_explorer.rb
Due: rubocop, syntax_tree, prettier, stylelint

TEST: Avoid collation-dependent entry URL ordering
  spec/models/browser_pageview_entry_url_daily_rollup_spec.rb
Due: rubocop, syntax_tree

UX: Simplify site traffic filter controls
  app/assets/stylesheets/admin/dashboard/site-traffic-explorer.scss
  frontend/discourse/admin/components/site-traffic-explorer-breakdown-card.gjs
  frontend/discourse/admin/components/site-traffic-explorer-filter-pills.gjs
  frontend/discourse/admin/modifiers/fit-site-traffic-filter-pill.js
  frontend/discourse/tests/integration/components/site-traffic-explorer-filter-pills-test.gjs
  spec/system/page_objects/pages/admin_site_traffic_explorer.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

FIX: Score bounces against the address they were sent to
  app/controllers/webhooks_controller.rb
  app/jobs/regular/process_sns_notification.rb
  app/models/email_log.rb
  app/models/email_token.rb
  app/models/user.rb
  app/models/user_stat.rb
  lib/email.rb
  lib/email/receiver.rb
  spec/lib/email/receiver_spec.rb
  spec/models/email_log_spec.rb
  spec/models/email_token_spec.rb
  spec/requests/users_controller_spec.rb
  spec/requests/webhooks_controller_spec.rb
Due: rubocop, syntax_tree

rename frontend_config
  frontend/asset-processor/rollup-virtual-imports.js
  frontend/asset-processor/rollup-virtual-imports.test.mjs
  lib/plugin/js_compiler.rb
  lib/plugin/js_manager.rb
Due: rubocop, syntax_tree, prettier, eslint

FEATURE: Add AI audit log admin (#42667)
  db/structure.sql
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-logs.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/modal/ai-log-detail-modal.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/modal/ai-log-retention-modal.gjs
  plugins/discourse-ai/admin/assets/javascripts/discourse/controllers/admin-plugins/show/discourse-ai-logs.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/routes/admin-plugins/show/discourse-ai-logs.js
  plugins/discourse-ai/admin/assets/javascripts/discourse/templates/admin-plugins/show/discourse-ai-logs.gjs
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_logs_controller.rb
  plugins/discourse-ai/app/jobs/scheduled/purge_ai_api_audit_logs.rb
  plugins/discourse-ai/app/models/ai_api_audit_log.rb
  plugins/discourse-ai/app/serializers/discourse_ai/admin/ai_log_detail_serializer.rb
  plugins/discourse-ai/app/serializers/discourse_ai/admin/ai_log_list_serializer.rb
  plugins/discourse-ai/app/serializers/discourse_ai/admin/ai_log_serializer_helpers.rb
  plugins/discourse-ai/app/services/problem_check/ai_llm_status.rb
  plugins/discourse-ai/assets/javascripts/discourse/admin-discourse-ai-plugin-route-map.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-log-row.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-payload-viewer.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/debug-ai-modal.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/admin-plugin-configuration-nav.js
  plugins/discourse-ai/assets/stylesheets/admin/ai-logs.scss
  plugins/discourse-ai/assets/stylesheets/common/ai-payload-viewer.scss
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/bot-replies.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/routes.rb
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/db/migrate/20260818045305_add_failed_id_index_to_ai_api_audit_logs.rb
  plugins/discourse-ai/db/migrate/20260818045308_add_retry_id_index_to_ai_api_audit_logs.rb
  plugins/discourse-ai/db/migrate/20260818045311_add_user_id_id_index_to_ai_api_audit_logs.rb
  plugins/discourse-ai/db/migrate/20260818045314_add_feature_name_id_index_to_ai_api_audit_logs.rb
  plugins/discourse-ai/db/migrate/20260818045317_add_payload_id_index_to_ai_api_audit_logs.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/jobs/scheduled/purge_ai_api_audit_logs_spec.rb
  plugins/discourse-ai/spec/requests/admin/ai_logs_controller_spec.rb
  plugins/discourse-ai/spec/system/ai_logs_spec.rb
  plugins/discourse-ai/spec/system/page_objects/pages/ai_logs.rb
  plugins/discourse-ai/test/javascripts/integration/components/ai-log-row-test.gjs
  plugins/discourse-ai/test/javascripts/integration/components/ai-payload-viewer-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Add an eval run limit
  plugins/discourse-ai/evals/lib/cli.rb
  plugins/discourse-ai/evals/run
  plugins/discourse-ai/spec/evals/cli_spec.rb
Due: rubocop, syntax_tree

UX: Sync MCP health after connection tests
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_mcp_servers_controller.rb
  plugins/discourse-ai/spec/requests/admin/ai_mcp_servers_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Support paginated MCP tool discovery
  plugins/discourse-ai/lib/mcp/client.rb
  plugins/discourse-ai/spec/lib/mcp/client_spec.rb
Due: rubocop, syntax_tree

FIX: ensures last execution is returned on failure
  plugins/discourse-workflows/app/serializers/discourse_workflows/workflow_serializer.rb
  plugins/discourse-workflows/spec/serializers/discourse_workflows/workflow_serializer_spec.rb
Due: rubocop, syntax_tree

route bundle plan
  plugin-v2-route-map-bundles.md
Due: none

UX: general Horizon cleanup
  app/assets/stylesheets/common/components/composer-toggle-switch.scss
  themes/horizon/scss/composer-peek-mode.scss
  themes/horizon/scss/main.scss
  themes/horizon/scss/misc.scss
  themes/horizon/scss/mobile-stuff.scss
Due: prettier, stylelint

FIX: ensures last execution is returned on failure (#42675)
  plugins/discourse-workflows/app/serializers/discourse_workflows/workflow_serializer.rb
  plugins/discourse-workflows/spec/serializers/discourse_workflows/workflow_serializer_spec.rb
Due: rubocop, syntax_tree

Move composer footer wrapping to container query
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
Due: prettier, stylelint

Horizon fixes for redesign
  app/assets/stylesheets/common/d-editor.scss
  themes/horizon/scss/composer.scss
Due: prettier, stylelint

DEV: remove redundant disabled styles
  plugins/discourse-subscriptions/assets/stylesheets/common/main.scss
Due: prettier, stylelint

I18N: Update translations
  config/locales/client.ur.yml
  config/locales/server.ur.yml
  plugins/discourse-affiliate/config/locales/client.ur.yml
  plugins/discourse-ai/config/locales/client.ur.yml
  plugins/discourse-cakeday/config/locales/server.ur.yml
  plugins/discourse-chat-integration/config/locales/server.ur.yml
  plugins/discourse-math/config/locales/server.ur.yml
  plugins/discourse-patreon/config/locales/client.ur.yml
  plugins/discourse-patreon/config/locales/server.ur.yml
  plugins/discourse-post-voting/config/locales/client.ur.yml
  plugins/discourse-reactions/config/locales/client.ur.yml
  plugins/discourse-solved/config/locales/client.ur.yml
  plugins/discourse-templates/config/locales/client.ur.yml
  plugins/discourse-zendesk-plugin/config/locales/client.ur.yml
  plugins/poll/config/locales/client.ur.yml
  plugins/spoiler-alert/config/locales/client.ur.yml
  plugins/styleguide/config/locales/client.ur.yml
  plugins/styleguide/config/locales/server.ur.yml
  themes/foundation/locales/ur.yml
  themes/horizon/locales/ur.yml
Due: yaml-syntax

FEATURE: Add time-range brushing to Site Traffic Explorer
  app/assets/stylesheets/admin/dashboard/site-traffic-explorer.scss
  app/controllers/admin/dashboard_controller.rb
  app/services/admin_dashboard_site_traffic_explorer.rb
  config/locales/client.en.yml
  frontend/discourse/admin/components/admin-report-stacked-chart.gjs
  frontend/discourse/admin/components/chart.gjs
  frontend/discourse/admin/components/site-traffic-explorer.gjs
  frontend/discourse/admin/components/site-traffic-time-brush.gjs
  frontend/discourse/admin/controllers/admin-site-traffic.js
  frontend/discourse/admin/routes/admin-site-traffic.js
  frontend/discourse/admin/templates/admin-site-traffic.gjs
  frontend/discourse/tests/integration/components/chart-test.gjs
  frontend/discourse/tests/unit/controllers/admin-site-traffic-test.js
  spec/requests/admin/dashboard_controller_spec.rb
  spec/services/admin_dashboard_site_traffic_explorer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: Restore pinch-zoom over the mobile composer editor and inputs (#42303)
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/lib/composer/composer-position.js
Due: prettier, eslint, stylelint

DEV: Reduce generation default date range to 7 days to reduce run_sql time
  plugins/discourse-data-explorer/lib/discourse_data_explorer/ai_query_generator.rb
Due: rubocop, syntax_tree

FIX: prevent unmountable Data Explorer queries on the admin dashboard (#42665)
  plugins/discourse-data-explorer/lib/discourse_data_explorer/admin_dashboard_report_provider.rb
  plugins/discourse-data-explorer/spec/lib/discourse_data_explorer/admin_dashboard_report_provider_spec.rb
Due: rubocop, syntax_tree

DEV: Reduce generation default date range to 7 days to reduce run_sql time (#42682)
  plugins/discourse-data-explorer/lib/discourse_data_explorer/ai_query_generator.rb
Due: rubocop, syntax_tree

FIX: Restore pinch-zoom over the mobile composer editor and inputs [backport 2026.7] (#42679)
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/lib/composer/composer-position.js
Due: prettier, eslint, stylelint

FIX: Restore pinch-zoom over the mobile composer editor and inputs [backport 2026.6] (#42680)
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/lib/composer/composer-position.js
Due: prettier, eslint, stylelint

FIX: Restore pinch-zoom over the mobile composer editor and inputs [backport 2026.1] (#42681)
  app/assets/stylesheets/common/base/compose.scss
  frontend/discourse/app/lib/composer/composer-position.js
Due: prettier, eslint, stylelint

UX: UC composer redesign > horizon (#42676)
  app/assets/stylesheets/common/components/composer-toggle-switch.scss
  app/assets/stylesheets/common/d-editor.scss
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
  themes/horizon/scss/composer-peek-mode.scss
  themes/horizon/scss/composer.scss
  themes/horizon/scss/main.scss
  themes/horizon/scss/misc.scss
  themes/horizon/scss/mobile-stuff.scss
Due: prettier, stylelint

bundleName in route maps
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/rollup-plugins/discourse-route-maps.js
  frontend/asset-processor/rollup-virtual-imports.js
  frontend/asset-processor/rollup-virtual-imports.test.mjs
  frontend/asset-processor/route-map-parser.js
  frontend/asset-processor/route-map-parser.test.mjs
  lib/plugin/js_manager.rb
  plugin-v2-route-map-bundles.md
  plugins/chat/about.json
  plugins/chat/assets/javascripts/discourse/admin-chat-route-map.js
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
  plugins/chat/assets/javascripts/discourse/preferences-chat-route-map.js
Due: rubocop, syntax_tree, prettier, eslint

Bump rails_multisite and update usage
  Gemfile
  Gemfile.lock
  app/controllers/highlight_js_controller.rb
  app/controllers/svg_sprite_controller.rb
  app/controllers/user_avatars_controller.rb
  app/models/concerns/cached_counting.rb
  config/initializers/004-message_bus.rb
  lib/discourse.rb
  lib/sidekiq/pausable.rb
  spec/lib/concern/cached_counting_spec.rb
  spec/multisite/pausable_multisite_spec.rb
  spec/requests/asset_hostname_multisite_spec.rb
Due: rubocop, syntax_tree

I18N: Update translations (#42677)
  config/locales/client.ur.yml
  config/locales/server.ur.yml
  plugins/discourse-affiliate/config/locales/client.ur.yml
  plugins/discourse-ai/config/locales/client.ur.yml
  plugins/discourse-cakeday/config/locales/server.ur.yml
  plugins/discourse-chat-integration/config/locales/server.ur.yml
  plugins/discourse-math/config/locales/server.ur.yml
  plugins/discourse-patreon/config/locales/client.ur.yml
  plugins/discourse-patreon/config/locales/server.ur.yml
  plugins/discourse-post-voting/config/locales/client.ur.yml
  plugins/discourse-reactions/config/locales/client.ur.yml
  plugins/discourse-solved/config/locales/client.ur.yml
  plugins/discourse-templates/config/locales/client.ur.yml
  plugins/discourse-zendesk-plugin/config/locales/client.ur.yml
  plugins/poll/config/locales/client.ur.yml
  plugins/spoiler-alert/config/locales/client.ur.yml
  plugins/styleguide/config/locales/client.ur.yml
  plugins/styleguide/config/locales/server.ur.yml
  themes/foundation/locales/ur.yml
  themes/horizon/locales/ur.yml
Due: yaml-syntax

bump
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/rollup-plugins/discourse-route-maps.js
  plugin-v2-route-map-bundles.md
Due: prettier, eslint

DEV: Introduce `composer-minimum-post-length` valueTransformer
  frontend/discourse/app/lib/registry/transformers.js
  frontend/discourse/app/models/composer.js
  frontend/discourse/tests/acceptance/transformers/composer-minimum-post-length-test.js
Due: prettier, eslint

DEV: remove redundant disabled styles (#42685)
  plugins/discourse-subscriptions/assets/stylesheets/common/main.scss
Due: prettier, stylelint

SECURITY: Restrict chat history reads to joinable channels
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/app/services/chat/list_channel_pins.rb
  plugins/chat/app/services/chat/list_channel_thread_messages.rb
  plugins/chat/app/services/chat/lookup_channel_threads.rb
  plugins/chat/app/services/chat/lookup_thread.rb
  plugins/chat/app/services/chat/search_message.rb
  plugins/chat/lib/chat/guardian_extensions.rb
  plugins/chat/spec/lib/chat/guardian_extensions_spec.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_pins_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_thread_messages_controller_spec.rb
  plugins/chat/spec/requests/chat/api/channel_threads_controller_spec.rb
  plugins/chat/spec/requests/chat/api/search_controller_spec.rb
  plugins/chat/spec/services/chat/list_channel_messages_spec.rb
  plugins/chat/spec/services/chat/list_channel_pins_spec.rb
  plugins/chat/spec/services/chat/list_channel_thread_messages_spec.rb
  plugins/chat/spec/services/chat/lookup_channel_threads_spec.rb
  plugins/chat/spec/services/chat/lookup_thread_spec.rb
  plugins/chat/spec/services/chat/search_message_spec.rb
Due: rubocop, syntax_tree

SECURITY: Clear stale add-users-to-group when policy removes the assignment
  plugins/discourse-policy/plugin.rb
  plugins/discourse-policy/spec/requests/policy_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Migrate Data Explorer resizing to shared separator (#42592)
  frontend/discourse/app/lib/resize-measurements.ts
  frontend/discourse/app/ui-kit/d-resize-separator.gts
  frontend/discourse/app/ui-kit/modifiers/d-draggable.js
  frontend/discourse/app/ui-kit/modifiers/d-resize-edge.ts
  frontend/discourse/tests/integration/modifiers/d-resize-edge-test.gjs
  frontend/discourse/tests/integration/ui-kit/modifiers/d-draggable-test.gjs
  frontend/discourse/tests/integration/ui-kit/modifiers/d-pointer-drag-test.gjs
  frontend/discourse/tests/unit/lib/resize-measurements-test.js
  plugins/discourse-data-explorer/admin/assets/javascripts/admin/templates/admin-plugins/show/explorer/edit.gjs
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/controllers/admin-plugins/show/explorer/index.js
  plugins/discourse-data-explorer/assets/javascripts/discourse/routes/admin-plugins/show/explorer/edit.js
  plugins/discourse-data-explorer/assets/stylesheets/explorer.scss
  plugins/discourse-data-explorer/config/locales/client.en.yml
  plugins/discourse-data-explorer/spec/system/page_objects/pages/data_explorer_query_runner.rb
  plugins/discourse-data-explorer/spec/system/query_editor_resize_spec.rb
  plugins/discourse-data-explorer/test/javascripts/acceptance/run-query-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

followup fix
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
Due: prettier, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
