Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets|plugins/.+?/assets|themes
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets|themes
  run: pnpm stylelint {staged_files}

FIX: make LLM triage review items visible to moderators (#36881)
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/spec/lib/discourse_automation/llm_triage_spec.rb
Due: rubocop, syntax_tree

Change app/assets/javascripts/ to frontend/ (#75)
  docs/03-code-internals/12-pluginapi.md
Due: none

UX: display all tool names for disabled select kits
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-persona.scss
Due: prettier, stylelint

UX: display all tool names for disabled select kits (#36883)
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-persona.scss
Due: prettier, stylelint

attempt to clean up focus mode next image which was slipping sometimes
  frontend/discourse/app/components/image-carousel.gjs
Due: prettier, eslint, ember-template-lint

DEV: Resupport running `multisite:migrate` concurrently
  db/fixtures/600_themes.rb
  lib/tasks/db.rake
Due: rubocop, syntax_tree

I18N: Update translations
  config/locales/client.ko.yml
  plugins/chat/config/locales/client.ko.yml
Due: yaml-syntax

FIX: Ensure topic excerpts are also localized when the first post is localized
  app/jobs/regular/process_localized_cooked.rb
  lib/topic_localization_creator.rb
  spec/jobs/process_localized_cooked_spec.rb
  spec/lib/topic_localization_creator_spec.rb
Due: rubocop, syntax_tree

FIX: Render hashtag icons in category descriptions
  frontend/discourse/app/components/categories-boxes.gjs
  frontend/discourse/app/components/decorated-html.gjs
  frontend/discourse/app/components/parent-category-row.gjs
  frontend/discourse/app/components/sub-category-row.gjs
  frontend/discourse/tests/integration/components/decorated-html-test.gjs
  spec/system/categories_page_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Ensure upload reference is available before cooking
  plugins/discourse-ai/lib/translation/post_localizer.rb
  plugins/discourse-ai/spec/lib/translation/post_localizer_spec.rb
Due: rubocop, syntax_tree

styling fixes
  app/assets/stylesheets/common/base/compose.scss
  themes/horizon/scss/composer.scss
  themes/horizon/scss/misc.scss
Due: prettier, stylelint

FIX: Render hashtag icons in category descriptions (#36867)
  frontend/discourse/app/components/categories-boxes.gjs
  frontend/discourse/app/components/decorated-html.gjs
  frontend/discourse/app/components/parent-category-row.gjs
  frontend/discourse/app/components/sub-category-row.gjs
  frontend/discourse/tests/integration/components/decorated-html-test.gjs
  spec/system/categories_page_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

Remove yml copy
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

I18N: Update translations (#36884)
  config/locales/client.ko.yml
  plugins/chat/config/locales/client.ko.yml
Due: yaml-syntax

use const for id
  plugins/discourse-ai/lib/translation/post_localizer.rb
Due: rubocop, syntax_tree

DEV: Add `RouteCondition` and `UserCondition` block components
  frontend/discourse/app/components/blocks/conditional/route-condition.gjs
  frontend/discourse/app/components/blocks/conditional/user-condition.gjs
Due: prettier, eslint, ember-template-lint

FIX: poll plugin breaking when local-dates plugin is disabled
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.gjs
Due: prettier, eslint, ember-template-lint

DEV: Validate `RouteCondition` args to prevent conflicting usage
  frontend/discourse/app/components/blocks/conditional/route-condition.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add argument validation to `UserCondition` for safer usage
  frontend/discourse/app/components/blocks/conditional/user-condition.gjs
Due: prettier, eslint, ember-template-lint

add system spec
  plugins/poll/spec/system/poll_ui_builder_spec.rb
Due: rubocop, syntax_tree

DEV: Add route shortcuts to `RouteCondition` for reusable patterns
  frontend/discourse/app/components/blocks/conditional/route-condition.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove redundant @decorate callbacks from DecoratedHtml usages
  frontend/discourse/app/components/discourse-banner.gjs
  frontend/discourse/app/components/post-list/item/index.gjs
  frontend/discourse/app/components/reviewable-refresh/timeline.gjs
Due: prettier, eslint, ember-template-lint

UX: Styling fixes (#36888)
  app/assets/stylesheets/common/base/compose.scss
  themes/horizon/scss/composer.scss
  themes/horizon/scss/misc.scss
Due: prettier, stylelint

FIX: Calendar not refreshing on navigating between categories (#36851)
  plugins/discourse-calendar/assets/javascripts/discourse/components/category-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/full-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/post-calendar.gjs
  plugins/discourse-calendar/assets/javascripts/discourse/components/upcoming-events-calendar.gjs
  plugins/discourse-calendar/test/javascripts/acceptance/category-calendar-navigation-test.js
Due: prettier, eslint, ember-template-lint

DEV: Add plugin outlet for additional cards in groups list (#36876)
  frontend/discourse/app/components/group-list.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove redundant `@block` argument in `BlockGroup` children
  frontend/discourse/app/components/blocks/block-group.gjs
Due: prettier, eslint, ember-template-lint

DEV: Refactor `renderBlocks` API for clarity and improved examples
  frontend/discourse/app/lib/plugin-api.gjs
Due: prettier, eslint, ember-template-lint

let's make the system spec slightly more specific
  plugins/poll/spec/system/poll_ui_builder_spec.rb
Due: rubocop, syntax_tree

FIX: Respect sidebar panel set by destination route when leaving AI Bot (#36868)
  plugins/chat/spec/system/message_notifications_with_sidebar_spec.rb
  plugins/discourse-ai/assets/javascripts/discourse/services/ai-conversations-sidebar-manager.js
  plugins/discourse-ai/spec/system/ai_bot/ai_bot_sidebar_navigation_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

refactor
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  app/assets/stylesheets/common/components/buttons.scss
  frontend/discourse/app/components/d-button.gjs
  frontend/discourse/app/components/sidebar/section-link.gjs
  frontend/discourse/tests/integration/components/d-button-test.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-channel-sidebar-context-menu.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
Due: prettier, eslint, ember-template-lint, stylelint

FIX: poll plugin breaking when local-dates plugin is disabled (#36889)
  plugins/poll/assets/javascripts/discourse/components/modal/poll-ui-builder.gjs
  plugins/poll/spec/system/poll_ui_builder_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Remove redundant @decorate callbacks from DecoratedHtml usages (#36890)
  frontend/discourse/app/components/discourse-banner.gjs
  frontend/discourse/app/components/post-list/item/index.gjs
  frontend/discourse/app/components/reviewable-refresh/timeline.gjs
Due: prettier, eslint, ember-template-lint

FIX: Dismissing admin notices fails with 422 when tracker has NULL target (#36878)
  app/models/problem_check_tracker.rb
  app/services/admin_notices/dismiss.rb
  db/migrate/20251227224408_fix_null_targets_in_problem_check_trackers.rb
  spec/services/admin_notices/dismiss_spec.rb
Due: rubocop, syntax_tree

FIX: Dashboard custom date range not restored from URL params
  frontend/discourse/admin/controllers/admin-dashboard-tab.js
  frontend/discourse/admin/controllers/admin/dashboard-moderation.js
  frontend/discourse/admin/templates/admin/dashboard/general.gjs
  frontend/discourse/app/helpers/period-title.js
  frontend/discourse/tests/acceptance/dashboard-test.js
Due: prettier, eslint, ember-template-lint

refactor
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-gist-toggle.gjs
Due: prettier, eslint, ember-template-lint

FIX: Ensure upload reference is available before cooking (#36887)
  plugins/discourse-ai/lib/translation/post_localizer.rb
  plugins/discourse-ai/spec/lib/translation/post_localizer_spec.rb
Due: rubocop, syntax_tree

FIX: Update topic excerpts when the first post is localized (#36885)
  app/jobs/regular/process_localized_cooked.rb
  lib/topic_localization_creator.rb
  spec/jobs/process_localized_cooked_spec.rb
  spec/lib/topic_localization_creator_spec.rb
Due: rubocop, syntax_tree

UX: Use correct syntax for selected (#36891)
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-gist-toggle.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add value transformer to New Topic button to allow UI customization based on permissions
  frontend/discourse/app/components/create-topic-button.gjs
  frontend/discourse/app/lib/transformer/registry.js
Due: prettier, eslint, ember-template-lint

Path conditions:
  rubocop: any of: *.{rb,rake,thor}
  syntax_tree: any of: *.{rb,rake,thor}
  prettier: any of: *.{js,gjs,hbs,scss,css,cjs,mjs}
  eslint: any of: *.{js,gjs}
  ember-template-lint: any of: *.{hbs,gjs}
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: *.scss
