Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn run ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Update translations (#31123)
  config/locales/client.cs.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.hr.yml
  config/locales/client.it.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sk.yml
  config/locales/client.sr.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.zh_CN.yml
  config/locales/client.zh_TW.yml
  config/locales/server.cs.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.sk.yml
  config/locales/server.sq.yml
  config/locales/server.tr_TR.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
  plugins/automation/config/locales/client.de.yml
  plugins/automation/config/locales/client.it.yml
  plugins/chat/config/locales/server.fr.yml
  plugins/discourse-local-dates/config/locales/server.sk.yml
  plugins/discourse-local-dates/config/locales/server.uk.yml
  plugins/discourse-local-dates/config/locales/server.zh_CN.yml
Due: yaml-syntax

DEV: Mark topic-list-columns transformer as mutable
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/lib/transformer.js
Due: prettier, eslint

DEV: Re-exec rake after creating database (#31120)
  lib/tasks/db.rake
Due: syntax_tree

DEV: Use transformed `useMobileLayout` value in topic-list/item
  app/assets/javascripts/discourse/app/components/topic-list/item.gjs
Due: none

UX: Fix user-select regressions
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/table-builder/table-edit-decorator.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/mixins/chat-reaction.scss
  plugins/footnote/assets/stylesheets/footnotes.scss
  stylelint.config.mjs
Due: prettier-scss

UX: update system font stack to system-ui (#31125)
  app/assets/stylesheets/common/base/login.scss
  app/assets/stylesheets/wizard.scss
Due: prettier-scss

FIX: better standalone checkbox support
  app/assets/javascripts/discourse/app/form-kit/components/fk/control-wrapper.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/control/checkbox.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field-data.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/field.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/optional.gjs
  app/assets/javascripts/discourse/app/form-kit/components/fk/tooltip.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/controls/checkbox-test.gjs
  app/assets/javascripts/discourse/tests/integration/components/form-kit/layout/checkbox-group-test.gjs
  app/assets/stylesheets/common/form-kit/_index.scss
  app/assets/stylesheets/common/form-kit/_tooltip.scss
Due: prettier-scss

DEV: Add `composer-disable-submit` transformer
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/transformers/composer-disable-submit-test.js
Due: prettier, eslint

change transformer to new area
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/acceptance/transformers/composer-disable-submit-test.js
  app/assets/javascripts/discourse/tests/acceptance/transformers/composer-service-cant-submit-post-test.js
Due: prettier, eslint

wording
  app/assets/javascripts/discourse/tests/acceptance/transformers/composer-service-cant-submit-post-test.js
Due: prettier, eslint

DEV: Update content-tag to 3.1.1
  app/assets/javascripts/theme-transpiler/package.json
  package.json
  patches/content-tag@3.1.1.patch
  pnpm-lock.yaml
Due: yaml-syntax

fix tests
  app/assets/javascripts/discourse/tests/integration/components/form-kit/field-test.gjs
Due: none

DEV: Tweak `db:create` re-exec
  lib/tasks/db.rake
Due: syntax_tree

DEV: Tweak `db:create` re-exec (#31132)
  lib/tasks/db.rake
Due: syntax_tree

DEV: Update content-tag to 3.1.1 (#31131)
  app/assets/javascripts/theme-transpiler/package.json
  package.json
  patches/content-tag@3.1.1.patch
  pnpm-lock.yaml
Due: yaml-syntax

FIX: chat was enqueueing too many "chat summary" emails
  plugins/chat/lib/chat/mailer.rb
  plugins/chat/spec/components/chat/mailer_spec.rb
Due: rubocop, syntax_tree

UX: fix topic progress position when composer is open
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss

UX: Fix user-select regressions (#31129)
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/foundation/mixins.scss
  app/assets/stylesheets/common/table-builder/table-edit-decorator.scss
  app/assets/stylesheets/wizard.scss
  plugins/chat/assets/stylesheets/mixins/chat-reaction.scss
  plugins/footnote/assets/stylesheets/footnotes.scss
  stylelint.config.mjs
Due: prettier-scss

Add prettier config (#36)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .gitignore
  .prettierrc.mjs
  docs/03-code-internals/21-form-kit.md
  docs/03-code-internals/22-app-events-triggers.md
  docs/05-themes-components/14-localizable-strings.md
  package.json
  pnpm-lock.yaml
Due: yaml-syntax

update and remove no-longer-relevant test
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/tests/unit/lib/transformer-test.js
Due: prettier, eslint

UX: fix topic progress position when composer is open (#31134)
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss

DEV: Use transformed `useMobileLayout` value in topic-list/item (#31128)
  app/assets/javascripts/discourse/app/components/topic-list/item.gjs
Due: none

DEV: Mark topic-list-columns transformer as mutable (#31127)
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/lib/transformer.js
  app/assets/javascripts/discourse/tests/unit/lib/transformer-test.js
Due: prettier, eslint

UX: unblock clicking through progress bar wrapper
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss

UX: unblock clicking through progress bar wrapper (#31135)
  app/assets/stylesheets/common/base/topic-footer.scss
Due: prettier-scss

DEV: Warn admins about topic-list deprecations
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
Due: prettier, eslint

DEV: Warn admins about topic-list deprecations (#31136)
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
Due: prettier, eslint

tweaks following changes
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/webhooks-form.gjs
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/admin/api.scss
Due: prettier-scss

FIX: quote from thread in drawer mode
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/spec/system/transcript_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: Remove half-pixel border from loading dots (#31105)
  app/views/common/_discourse_splash.html.erb
Due: none

UX: Convert href cancel element into dbutton
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/mobile/compose.scss
Due: prettier-scss, ember-template-lint

more
  app/assets/javascripts/discourse/app/components/composer-container.hbs
Due: ember-template-lint

FIX: quote from thread in drawer mode (#31137)
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
  plugins/chat/spec/system/transcript_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: add a way to enforce mark order
  app/assets/javascripts/discourse/app/static/prosemirror/core/schema.js
Due: prettier, eslint

FEATURE: add underline rich editor extension
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/register-default.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/underline.js
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/underline-test.gjs
Due: prettier, eslint

DEV: Fix unwanted stylelint changes, do cleanup
  app/assets/stylesheets/common/components/date-input.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/vendor/normalize.scss
  app/assets/stylesheets/vendor/rotate-center.scss
  plugins/discourse-lazy-videos/assets/stylesheets/lazy-videos.scss
  stylelint.config.mjs
Due: prettier-scss

Update app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/composer-container.hbs
Due: ember-template-lint

DEV: Fix unwanted stylelint changes, do cleanup (#31140)
  app/assets/stylesheets/common/components/date-input.scss
  app/assets/stylesheets/common/components/footer-nav.scss
  app/assets/stylesheets/vendor/normalize.scss
  app/assets/stylesheets/vendor/rotate-center.scss
  plugins/discourse-lazy-videos/assets/stylesheets/lazy-videos.scss
  stylelint.config.mjs
Due: prettier-scss

FEATURE: add hashtag rich editor extension
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/hashtag.js
  app/assets/javascripts/discourse/app/static/prosemirror/extensions/register-default.js
  app/assets/javascripts/discourse/tests/integration/components/prosemirror-editor/hashtag-test.gjs
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
