Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Minor changes to `/theme-qunit` landing page
  app/views/qunit/theme.html.erb
Due: none

DEV: Load plugins in theme tests (#13028)
  app/views/qunit/theme.html.erb
Due: none

DEV: Minor changes to `/theme-qunit` landing page (#13032)
  app/views/qunit/theme.html.erb
Due: none

FIX: Support pausing inline animated images
  app/assets/javascripts/discourse/app/initializers/animated-images.js
Due: prettier, eslint-js

FEATURE: New API hook to allow for client side upload transforms (#12990)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Update README.md
  plugins/automation/README.md
Due: none

Update README.md image
  plugins/automation/README.md
Due: none

DEV: Add cleanup methods for composer extension hooks that tests can use
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: Remove SCSS color vars fallbacks
  app/assets/stylesheets/publish.scss
  plugins/discourse-presence/assets/stylesheets/presence.scss
Due: none

DEV: `force_get_hosts` should be a hidden setting
  config/locales/server.en.yml
  config/site_settings.yml
Due: yaml-syntax, i18n-lint

DEV: Print a warning when editing non-autoloaded files
  config/initializers/000-development_reload_warnings.rb
Due: rubocop

DEV: Add cleanup methods for composer extension hooks that tests can use (#13034)
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

FIX: Follow additional redirect status codes (#476)
  lib/onebox/helpers.rb
  lib/onebox/version.rb
  spec/lib/onebox/helpers_spec.rb
Due: rubocop

Do not actually change other services yet, add todo
  lib/tasks/emails.rake
  lib/validators/pop3_polling_enabled_setting_validator.rb
Due: rubocop

FIX: adjustments after code review
  app/assets/javascripts/discourse/app/widgets/widget-dropdown.js
Due: prettier, eslint-js

Use the correct user scope for notification levels in user serializer
  app/serializers/basic_user_serializer.rb
  app/serializers/user_serializer.rb
  spec/serializers/user_serializer_spec.rb
Due: rubocop

Early return current user scope
  app/serializers/basic_user_serializer.rb
  app/serializers/current_user_serializer.rb
Due: rubocop

Review fixes
  app/serializers/basic_user_serializer.rb
Due: rubocop

PERF: Precompile child theme stylesheets.
  lib/stylesheet/manager.rb
  spec/components/stylesheet/manager_spec.rb
Due: rubocop

DEV: Remove tool-versions used by asdf package manager.
  .tool-versions
Due: none

FIX: Show invite to group if user is group owner
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/serializers/current_user_serializer.rb
Due: rubocop, prettier, eslint-js

PERF: Preload `JsLocaleHelper.load_translations` for default locale.
  lib/discourse.rb
Due: rubocop

Tweaks following review
  config/initializers/000-development_reload_warnings.rb
Due: rubocop

FEATURE: adds flag_post_on_words script (#18)
  plugins/automation/app/lib/discourse_automation/scripts/flag_post_on_words.rb
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/locales/server.en.yml
  plugins/automation/plugin.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Print a warning and restart server when editing non-autoloaded files (#13037)
  config/initializers/000-development_reload_warnings.rb
Due: rubocop

FIX: Various invite system fixes (#13003)
  app/assets/javascripts/discourse/app/controllers/create-invite.js
  app/assets/javascripts/discourse/app/templates/modal/create-invite.hbs
  app/assets/javascripts/discourse/app/templates/modal/share-topic.hbs
  app/controllers/invites_controller.rb
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  lib/guardian.rb
  spec/components/guardian_spec.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Update handlebars from 4.7.6 to 4.7.7 (#13027)
  package.json
  vendor/assets/javascripts/handlebars.js
  vendor/assets/javascripts/handlebars.runtime.js
  yarn.lock
Due: none

FIX: Hide tag watched words if tagging is disabled
  app/controllers/admin/watched_words_controller.rb
  app/serializers/watched_word_list_serializer.rb
Due: rubocop

added a plugin outlet for above the discovery list controls
  app/assets/javascripts/discourse/app/templates/discovery.hbs
Due: none

FIX: Make autotag watched words case insensitive
  app/services/word_watcher.rb
  lib/topic_creator.rb
  spec/components/post_creator_spec.rb
Due: rubocop

FEATURE: adds last_updated_at and last_updated_by (#19)
  plugins/automation/app/controllers/discourse_automation/admin_discourse_automation_automations_controller.rb
  plugins/automation/app/controllers/discourse_automation/admin_discourse_automation_controller.rb
  plugins/automation/app/serializers/discourse_automation/automation_serializer.rb
  plugins/automation/assets/javascripts/discourse/templates/admin-plugins-discourse-automation-index.hbs
  plugins/automation/config/locales/client.en.yml
  plugins/automation/db/migrate/20210512090204_add_timestamps_to_automations.rb
  plugins/automation/spec/fabricators/automation_fabricator.rb
  plugins/automation/spec/jobs/discourse_automation_tracker_spec.rb
  plugins/automation/spec/lib/scriptable_spec.rb
  plugins/automation/spec/models/trigger_spec.rb
  plugins/automation/spec/scripts/topic_required_words_spec.rb
  plugins/automation/spec/triggers/post_created_edited_spec.rb
  plugins/automation/spec/triggers/topic_spec.rb
  plugins/automation/spec/triggers/user_added_to_group_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

formating
  plugins/automation/README.md
Due: none

FIX: uses get-url
  plugins/automation/assets/javascripts/discourse/templates/admin-plugins-discourse-automation.hbs
Due: none

FIX: prevents sending gift exchange on save
  plugins/automation/app/lib/discourse_automation/triggers/point_in_time.rb
Due: rubocop

DEV: Remove SCSS color vars fallbacks (#13035)
  app/assets/stylesheets/publish.scss
  plugins/discourse-presence/assets/stylesheets/presence.scss
Due: none

FIX: Support pausing inline animated images (#13033)
  app/assets/javascripts/discourse/app/initializers/animated-images.js
Due: prettier, eslint-js

Update chart.js from 2.9.3 to 2.9.4
  app/assets/javascripts/discourse/app/lib/public-js-versions.js
  package.json
  public/javascripts/chart.js/2.9.4/Chart.min.js
  yarn.lock
Due: prettier, eslint-js

added a plugin outlet for above the discovery list controls (#13042)
  app/assets/javascripts/discourse/app/templates/discovery.hbs
Due: none

FIX: Make truth-helpers work in Ember CLI
  app/assets/javascripts/discourse-common/package.json
  app/assets/javascripts/package.json
  app/assets/javascripts/truth-helpers/package.json
Due: none
