Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

fix last edit in thread
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-pane.js
Due: prettier, eslint-js

ensures message and cooked are always at least an empty string
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Due: prettier, eslint-js

not needed
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
Due: prettier, eslint-js

better name
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Due: prettier, eslint-js

correctly resize composer
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

context aware dropzone
  plugins/chat/assets/javascripts/discourse/components/chat-channel.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-thread.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-upload-drop-zone.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-upload-drop-zone.js
  plugins/chat/config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

not needed
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Due: prettier, eslint-js

instant thread display
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Due: prettier, eslint-js

replying should focus composer
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

lighter background for dropzone
  plugins/chat/assets/stylesheets/common/chat-upload-drop-zone.scss
Due: none

not needed for now
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

editing/sending message in channel/thread
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-thread.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
Due: prettier, eslint-js

cleaning
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Due: prettier, eslint-js

better dropzone style
  plugins/chat/assets/stylesheets/common/chat-upload-drop-zone.scss
Due: none

more consistent
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/lib/textarea-interactor.js
Due: prettier, eslint-js

naming
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, eslint-js

inline buttons
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
Due: none

better position
  plugins/chat/assets/stylesheets/common/chat-composer.scss
Due: none

fix upsert
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
Due: prettier, eslint-js

abandonned idea
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-dom.js
Due: prettier, eslint-js

linting
  plugins/chat/assets/javascripts/discourse/components/chat-composer-upload.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-upload-drop-zone.hbs
Due: none

fix uploads frontend tests
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/test/javascripts/components/chat-composer-uploads-test.js
Due: prettier, eslint-js

fix placeholder
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-thread-composer.js
  plugins/chat/config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

plural makes more sense
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Due: prettier, eslint-js

cleaning
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
Due: prettier, eslint-js

linting
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane.js
Due: prettier, eslint-js

fix placeholder tests
  plugins/chat/test/javascripts/components/chat-composer-placeholder-test.js
Due: prettier, eslint-js

specs
  app/assets/javascripts/discourse/app/components/emoji-picker.js
  plugins/chat/assets/javascripts/discourse/components/chat-channel.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer-uploads.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message.js
  plugins/chat/assets/javascripts/discourse/components/direct-message-creator.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-composer.js
  plugins/chat/assets/stylesheets/common/chat-composer.scss
  plugins/chat/assets/stylesheets/mobile/chat-message.scss
  plugins/chat/config/locales/client.en.yml
  plugins/chat/spec/system/chat_composer_spec.rb
  plugins/chat/spec/system/chat_message/channel_spec.rb
  plugins/chat/spec/system/chat_message/thread_spec.rb
  plugins/chat/spec/system/drawer_spec.rb
  plugins/chat/spec/system/message_thread_indicator_spec.rb
  plugins/chat/spec/system/page_objects/chat/chat_channel.rb
  plugins/chat/spec/system/page_objects/chat/chat_thread.rb
  plugins/chat/spec/system/page_objects/chat_drawer/chat_drawer.rb
  plugins/chat/spec/system/shortcuts/chat_composer_spec.rb
  plugins/chat/spec/system/shortcuts/drawer_spec.rb
  plugins/chat/spec/system/shortcuts/full_page_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  plugins/chat/spec/system/silenced_user_spec.rb
  plugins/chat/spec/system/uploads_spec.rb
  plugins/chat/test/javascripts/acceptance/chat-composer-test.js
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

oops
  plugins/chat/spec/system/silenced_user_spec.rb
Due: rubocop

DEV: Move channel creation for category into service (#21167)
  plugins/chat/app/controllers/chat/api/channels_controller.rb
  plugins/chat/app/models/concerns/chat/chatable.rb
  plugins/chat/app/services/chat/create_category_channel.rb
  plugins/chat/app/services/service/base.rb
  plugins/chat/assets/javascripts/discourse/controllers/create-channel.js
  plugins/chat/lib/chat/steps_inspector.rb
  plugins/chat/lib/service_runner.rb
  plugins/chat/spec/lib/chat/steps_inspector_spec.rb
  plugins/chat/spec/lib/service_runner_spec.rb
  plugins/chat/spec/requests/chat/api/channels_controller_spec.rb
  plugins/chat/spec/services/chat/create_category_channel_spec.rb
  plugins/chat/spec/support/chat_service_matcher.rb
Due: rubocop, prettier, eslint-js

FEATURE: Reintroduce better thread reply counter cache (#21197)
  plugins/chat/app/controllers/chat/api/channel_messages_controller.rb
  plugins/chat/app/controllers/chat/chat_controller.rb
  plugins/chat/app/jobs/regular/chat/update_thread_reply_count.rb
  plugins/chat/app/jobs/scheduled/chat/auto_join_users.rb
  plugins/chat/app/jobs/scheduled/chat/email_notifications.rb
  plugins/chat/app/jobs/scheduled/chat/periodical_updates.rb
  plugins/chat/app/jobs/scheduled/chat/update_user_counts_for_channels.rb
  plugins/chat/app/models/chat/thread.rb
  plugins/chat/app/models/concerns/chat/thread_cache.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/app/services/chat/publisher.rb
  plugins/chat/app/services/chat/restore_message.rb
  plugins/chat/app/services/chat/trash_message.rb
  plugins/chat/assets/javascripts/discourse/services/chat-api.js
  plugins/chat/assets/javascripts/discourse/services/chat-channel-pane-subscriptions-manager.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/message_creator.rb
  plugins/chat/spec/integration/thread_replies_count_cache_accuracy_spec.rb
  plugins/chat/spec/jobs/regular/update_thread_reply_count_spec.rb
  plugins/chat/spec/lib/chat/message_mover_spec.rb
  plugins/chat/spec/lib/chat/review_queue_spec.rb
  plugins/chat/spec/models/chat/thread_spec.rb
  plugins/chat/spec/plugin_helper.rb
  plugins/chat/spec/requests/chat/api/messages_controller_spec.rb
  plugins/chat/spec/requests/chat_controller_spec.rb
  plugins/chat/spec/services/chat/restore_message_spec.rb
  plugins/chat/spec/services/chat/trash_message_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Hashtag replacement in post decorators
  app/assets/javascripts/discourse/app/initializers/hashtag-post-decorations.js
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/base.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/category.js
  app/assets/javascripts/discourse/app/lib/hashtag-types/tag.js
  app/assets/javascripts/discourse/tests/fixtures/site-fixtures.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/hashtag-autocomplete.js
  app/serializers/site_serializer.rb
  app/services/hashtag_autocomplete_service.rb
  lib/pretty_text.rb
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  spec/requests/api/schemas/json/site_response.json
  spec/services/hashtag_autocomplete_service_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Do not delete old chat messages if chat disabled
  plugins/chat/app/jobs/scheduled/chat/delete_old_messages.rb
  plugins/chat/spec/jobs/scheduled/delete_old_chat_messages_spec.rb
Due: rubocop

FIX: bbcode URLs not handling paths correctly
  app/assets/javascripts/discourse/tests/unit/lib/pretty-text-test.js
  app/assets/javascripts/pretty-text/engines/discourse-markdown/bbcode-inline.js
Due: prettier, eslint-js

FIX: Include liked_consolidated and reaction types in the likes tab unread count (#21198)
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
Due: prettier, eslint-js

FIX: Do not delete old chat messages if chat disabled (#21214)
  plugins/chat/app/jobs/scheduled/chat/delete_old_messages.rb
  plugins/chat/spec/jobs/scheduled/delete_old_chat_messages_spec.rb
Due: rubocop

we don't need this file
  .DS_Store
Due: none

DEV: Added a missing parameter to Discourse API Docs (#21085)
  spec/requests/api/schemas/json/topic_create_request.json
Due: none

DEV: Improve `add_to_serializer` `include_*` options (#21073)
  lib/plugin/instance.rb
  plugins/chat/plugin.rb
  plugins/poll/plugin.rb
  spec/lib/plugin/instance_spec.rb
Due: rubocop

DEV: Refactor DM channel creation into new service pattern
  plugins/chat/app/controllers/chat/api/direct_messages_controller.rb
  plugins/chat/app/controllers/chat/direct_messages_controller.rb
  plugins/chat/app/services/chat/create_direct_message_channel.rb
  plugins/chat/assets/javascripts/discourse/components/chat-channel-selector-modal-inner.js
  plugins/chat/assets/javascripts/discourse/services/chat.js
  plugins/chat/config/routes.rb
  plugins/chat/lib/chat/direct_message_channel_creator.rb
  plugins/chat/spec/lib/chat/direct_message_channel_creator_spec.rb
  plugins/chat/spec/services/chat/create_direct_message_channel_spec.rb
Due: rubocop, prettier, eslint-js
