Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

DEV: Public `color_scheme` requests can disclose non-user-selectable theme color definitions and raw SCSS
  app/controllers/stylesheets_controller.rb
  app/controllers/stylesheets_controller.rb.lock
  spec/requests/stylesheets_controller_spec.rb
  spec/requests/stylesheets_controller_spec.rb.lock
Due: rubocop, syntax_tree

DEV: personas are now agents
  plugins/discourse-ai/spec/requests/summarization/chat_summary_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Gate Reply-count endpoint for non-public embedded topics
  app/controllers/embed_controller.rb
  app/controllers/embed_controller.rb.lock
  spec/requests/embed_controller_spec.rb
  spec/requests/embed_controller_spec.rb.lock
Due: rubocop, syntax_tree

DEV: Convert tag-info to a glimmer component
  frontend/discourse/app/components/tag-info.gjs
  frontend/discourse/app/lib/tracked-tools.js
  frontend/discourse/app/models/tag-info.js
Due: prettier, eslint, ember-template-lint

add the rest of attrs for completness sake
  frontend/discourse/app/models/tag-info.js
Due: prettier, eslint

fixup
  frontend/discourse/app/components/tag-info.gjs
Due: prettier, eslint, ember-template-lint

UX: Auto-adjust date range when changing report grouping (#38483)
  frontend/discourse/admin/components/admin-report.gjs
  frontend/discourse/tests/integration/components/admin-report-test.gjs
Due: prettier, eslint, ember-template-lint

UX: keep rich editor details open but serialize as closed (#38369)
  plugins/discourse-details/assets/javascripts/lib/rich-editor-extension.js
  plugins/discourse-details/spec/system/details_spec.rb
  plugins/discourse-details/test/javascripts/integration/prosemirror-editor/details-test.js
Due: rubocop, syntax_tree, prettier, eslint

UX: scroll anchor holder into view if cloaked (#38368)
  frontend/discourse/app/lib/url.js
Due: prettier, eslint

DEV: change from GET to POST in chat_summary#show (#38495)
  plugins/discourse-ai/assets/javascripts/discourse/components/modal/chat-modal-channel-summary.gjs
  plugins/discourse-ai/config/routes.rb
  plugins/discourse-ai/spec/requests/summarization/chat_summary_controller_spec.rb
  plugins/discourse-ai/spec/system/summarization/chat_summarization_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Simpler fk-textarea sizing
  app/assets/stylesheets/common/form-kit/_control-textarea.scss
  app/assets/stylesheets/common/form-kit/_field.scss
  frontend/discourse/app/form-kit/components/fk/control/textarea.gjs
  frontend/discourse/app/form-kit/components/fk/field-data.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/app/form-kit/components/fk/meta.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Cleanup
  app/controllers/embed_controller.rb.lock
  spec/requests/embed_controller_spec.rb.lock
Due: none

DEV: Cleanup
  app/controllers/stylesheets_controller.rb.lock
  spec/requests/stylesheets_controller_spec.rb.lock
Due: none

DEV: Gate Reply-count endpoint for non-public embedded topics (#38498)
  app/controllers/embed_controller.rb
  spec/requests/embed_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Cleanup
  lib/application_layout_preloader.rb.lock
  lib/guardian/topic_guardian.rb.lock
  spec/lib/guardian_spec.rb.lock
  spec/requests/site_controller_spec.rb.lock
Due: none

DEV: Public `color_scheme` requests can disclose non-user-selectable theme color definitions and raw SCSS (#38497)
  app/controllers/stylesheets_controller.rb
  spec/requests/stylesheets_controller_spec.rb
Due: rubocop, syntax_tree

helperFn
  frontend/discourse/app/components/tag-info.gjs
Due: prettier, eslint, ember-template-lint

DEV: Gate read-restricted banner topics (#38496)
  lib/application_layout_preloader.rb
  lib/guardian/topic_guardian.rb
  spec/lib/guardian_spec.rb
  spec/requests/site_controller_spec.rb
Due: rubocop, syntax_tree

DEV: return 0 instead of nil from user count methods
  app/models/user.rb
  app/serializers/flagged_user_serializer.rb
  spec/models/user_spec.rb
Due: rubocop, syntax_tree

Update tag-info.gjs
  frontend/discourse/app/components/tag-info.gjs
Due: prettier, eslint, ember-template-lint

DEV: return 0 instead of nil from user count methods (#38501)
  app/models/user.rb
  app/serializers/flagged_user_serializer.rb
  spec/models/user_spec.rb
Due: rubocop, syntax_tree

FEATURE: Improve pre-built asset bundles
  lib/tasks/assets.rake
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree

FIX: Restore default format for data-explorer endpoints
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/spec/requests/query_controller_spec.rb
Due: rubocop, syntax_tree

workflow
  .github/workflows/publish-assets.yml
Due: yaml-syntax

fixup
  .github/workflows/publish-assets.yml
Due: yaml-syntax

FIX: Restore default format for data-explorer endpoints (#38503)
  plugins/discourse-data-explorer/config/routes.rb
  plugins/discourse-data-explorer/spec/requests/query_controller_spec.rb
Due: rubocop, syntax_tree

mkdir
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

fix directory
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

fixup
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree

UX: add text colors to admin report charts to fix dark mode contrast issues
  frontend/discourse/admin/components/admin-report-chart.gjs
  frontend/discourse/admin/components/admin-report-stacked-chart.gjs
Due: prettier, eslint, ember-template-lint

fix
  frontend/discourse/app/components/tag-info.gjs
Due: prettier, eslint, ember-template-lint

DEV: Fix subtype serialization and clean up RelativeTimePicker
  app/services/categories/types/base.rb
  frontend/discourse/app/components/relative-time-picker.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Prevent moderators from bulk-deleting another moderator's posts
  lib/guardian/post_guardian.rb
  spec/lib/guardian/post_guardian_spec.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Convert tag-info to a glimmer component (#38499)
  frontend/discourse/app/components/tag-info.gjs
  frontend/discourse/app/lib/tracked-tools.js
  frontend/discourse/app/models/tag-info.js
Due: prettier, eslint, ember-template-lint

UX: add text colors to admin report charts to fix dark mode contrast issues (#38507)
  frontend/discourse/admin/components/admin-report-chart.gjs
  frontend/discourse/admin/components/admin-report-stacked-chart.gjs
Due: prettier, eslint, ember-template-lint

update styling
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme.scss
  plugins/discourse-boosts/assets/javascripts/discourse/components/boost-input.gjs
  plugins/discourse-boosts/assets/javascripts/discourse/components/boosts-list.gjs
  plugins/discourse-boosts/assets/stylesheets/common/discourse-boosts.scss
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Prevent moderators from bulk-deleting another moderator's posts (#38505)
  lib/guardian/post_guardian.rb
  spec/lib/guardian/post_guardian_spec.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Fix boolean coercion in solved category custom fields
  plugins/discourse-solved/db/migrate/20260310120000_populate_solved_category_custom_fields_from_site_settings.rb
  plugins/discourse-solved/lib/discourse_solved/category_extension.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
