Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Convert `feature-topic` modal to component-based API (#23277)
  app/assets/javascripts/discourse/app/components/modal/feature-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/feature-topic.js
  app/assets/javascripts/discourse/app/controllers/feature-topic.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/feature-topic.hbs
Due: prettier, eslint-js

FIX: Update search-menu.scss
  app/assets/stylesheets/common/base/search-menu.scss
Due: none

FIX: Update search-menu.scss (#23292)
  app/assets/stylesheets/common/base/search-menu.scss
Due: none

DEV: Convert `flag` modal to component-based API
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/controllers/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/post-flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/topic-flag.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/flag.hbs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Due: prettier, eslint-js

cleanup reviewable bundled
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
Due: prettier, eslint-js

fix tests
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
Due: prettier, eslint-js

async & safe page reload
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

golf
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

async
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

a bit less magic
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

concat-class
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
Due: none

simplify
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
Due: prettier, eslint-js

simplify
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

DEV: Convert `move-to-topic` modal to component-based API
  app/assets/javascripts/discourse/app/components/choose-topic.hbs
  app/assets/javascripts/discourse/app/components/choose-topic.js
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.js
  app/assets/javascripts/discourse/app/controllers/move-to-topic.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/move-to-topic.hbs
Due: prettier, eslint-js

flatten
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

invert
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

imports
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

move const
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

merge
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

DEV: Convert `post-enqueued` modal to component-based API
  app/assets/javascripts/discourse/app/components/modal/post-enqueued.hbs
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/post-enqueued.hbs
Due: prettier, eslint-js

early exit
  app/assets/javascripts/discourse/app/components/modal/flag.js
Due: prettier, eslint-js

lint
  app/assets/javascripts/discourse/app/routes/topic.js
Due: prettier, eslint-js

A11Y: Increase button icon contrast
  plugins/chat/assets/stylesheets/common/chat-thread-header-buttons.scss
Due: none

FIX: Display summaries for anonymous users.
  app/assets/javascripts/discourse/app/components/summary-box.js
  app/assets/javascripts/discourse/tests/acceptance/topic-summary-test.js
  app/controllers/topics_controller.rb
Due: rubocop, prettier, eslint-js

A11Y: Improve contrast
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/common/base/user.scss
Due: none

A11Y: Improve contrast on group settings page
  app/assets/stylesheets/common/base/groups.scss
  app/assets/stylesheets/desktop/user.scss
Due: none

FIX: Display summaries for anonymous users. (#23294)
  app/assets/javascripts/discourse/app/components/summary-box.js
  app/assets/javascripts/discourse/tests/acceptance/topic-summary-test.js
  app/controllers/topics_controller.rb
Due: rubocop, prettier, eslint-js

FIX: Typo in summary URL
  app/assets/javascripts/discourse/app/components/summary-box.js
Due: prettier, eslint-js

FIX: Typo in summary URL (#23298)
  app/assets/javascripts/discourse/app/components/summary-box.js
Due: prettier, eslint-js

DEV: Additional changes (#23297)
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
Due: prettier, eslint-js

DEV: Convert `flag` modal to component-based API (#23279)
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.hbs
  app/assets/javascripts/discourse/app/components/reviewable-bundled-action.js
  app/assets/javascripts/discourse/app/controllers/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/post-flag.js
  app/assets/javascripts/discourse/app/lib/flag-targets/topic-flag.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/services/modal.js
  app/assets/javascripts/discourse/app/templates/modal/flag.hbs
  app/assets/javascripts/discourse/tests/acceptance/flag-post-test.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Due: prettier, eslint-js

DEV: Add rake command to help detect dead settings
  app/services/site_settings_task.rb
  lib/tasks/site_settings.rake
Due: rubocop

DEV: Review fixes
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/serializers/reviewable_action_serializer.rb
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: rubocop, prettier, eslint-js

FIX: Include 'notify staff' separator in chat message flag modal
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
Due: prettier, eslint-js

DEV: New JS plugin api to render components into plugin outlets
  app/assets/javascripts/discourse/app/components/plugin-outlet.hbs
  app/assets/javascripts/discourse/app/components/plugin-outlet.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/registered-plugin-outlet-components.js
Due: prettier, eslint-js

DEV: Remove reviewable action custom_modal and use new action-based modal API (#23258)
  app/assets/javascripts/discourse/app/components/reviewable-item.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/serializers/reviewable_action_serializer.rb
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: rubocop, prettier, eslint-js

DEV: Add `after-composer-title-input` outlet
  app/assets/javascripts/discourse/app/components/composer-title.hbs
Due: none

FIX: Include 'notify staff' separator in chat message flag modal (#23301)
  app/assets/javascripts/discourse/app/components/flag-action-type.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.hbs
  app/assets/javascripts/discourse/app/components/modal/flag.js
  plugins/chat/assets/javascripts/discourse/lib/chat-message-flag.js
Due: prettier, eslint-js
