Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Notify group members when someone quotes or replies to their post.
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

DEV: Update GitHub workflows to use slim discourse_test images (#15298)
  .github/workflows/ember.yml
  .github/workflows/ember_with_plugins.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Run Rubocop and Prettier in parallel during CI
  .github/workflows/linting.yml
  lib/tasks/docker.rake
Due: yaml-syntax

A11Y: Focus last viewed topic in topic lists
  app/assets/javascripts/discourse/app/components/topic-list-item.js
Due: prettier, eslint-js

DEV: Add ember-cli plugin specs to GitHub actions
  .github/workflows/tests.yml
Due: yaml-syntax

Bind to localhost
  lib/tasks/qunit.rake
Due: none

Debug
  .github/workflows/ember_with_plugins.yml
  lib/tasks/qunit.rake
Due: yaml-syntax

Update container
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: cleanup `for` attributes in search filters (#15283)
  app/assets/javascripts/discourse/app/templates/components/search-advanced-options.hbs
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
Due: none

Update translations
  config/locales/client.ru.yml
  config/locales/server.ru.yml
Due: yaml-syntax

UX: prevent timeline overflow in extreme cases
  app/assets/stylesheets/common/topic-timeline.scss
Due: none

UX: prevent timeline overflow in extreme cases (#15303)
  app/assets/stylesheets/common/topic-timeline.scss
Due: none

A11Y: Focus last viewed topic in topic lists (#15300)
  app/assets/javascripts/discourse/app/components/topic-list-item.js
Due: prettier, eslint-js

Update translations (#15302)
  config/locales/client.ru.yml
  config/locales/server.ru.yml
Due: yaml-syntax

DEV: simplify how we calculate card offset
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

Revert "A11Y: Focus last viewed topic in topic lists (#15300)"
  app/assets/javascripts/discourse/app/components/topic-list-item.js
Due: prettier, eslint-js

Revert "A11Y: Focus last viewed topic in topic lists (#15300)" (#15304)
  app/assets/javascripts/discourse/app/components/topic-list-item.js
Due: prettier, eslint-js

UX: let mobile post controls scroll on overflow
  app/assets/stylesheets/mobile/topic-post.scss
Due: none

DEV: Remove `showHtml` jQuery plugin
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/tests/theme_qunit_vendor.js
  app/assets/javascripts/vendor.js
  app/assets/stylesheets/common/base/topic-post.scss
  vendor/assets/javascripts/show-html.js
Due: prettier, eslint-js

FIX: Add more actions to the uploads API key scope
  app/models/api_key_scope.rb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

Fix failing polls test
  plugins/poll/assets/javascripts/initializers/extend-for-poll.js
Due: prettier, eslint-js

FIX: Add more actions to the uploads API key scope (#15306)
  app/models/api_key_scope.rb
  config/locales/client.en.yml
Due: rubocop, yaml-syntax, i18n-lint

DEV: Add DropTarget options function for Uppy mixins
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
Due: prettier, eslint-js

DEV: Add DropTarget options function for Uppy mixins (#15307)
  app/assets/javascripts/discourse/app/mixins/composer-upload-uppy.js
  app/assets/javascripts/discourse/app/mixins/uppy-upload.js
Due: prettier, eslint-js

DEV: Fix intermittent failing spec.
  spec/models/user_stat_spec.rb
Due: rubocop

allow themes to change the lock icon easily
  app/assets/javascripts/discourse/app/components/categories-boxes-with-topics.js
  app/assets/javascripts/discourse/app/components/categories-boxes.js
  app/assets/javascripts/discourse/app/templates/components/categories-boxes-with-topics.hbs
  app/assets/javascripts/discourse/app/templates/components/categories-boxes.hbs
Due: prettier, eslint-js

DEV: creates domFromString utility function
  app/assets/javascripts/discourse-common/addon/lib/dom-from-string.js
  app/assets/javascripts/discourse/tests/unit/lib/dom-from-string-test.js
  app/assets/javascripts/discourse/tests/unit/lib/formatter-test.js
  app/assets/javascripts/discourse/tests/unit/lib/link-mentions-test.js
  app/assets/javascripts/pretty-text/addon/oneboxer.js
Due: prettier, eslint-js

Extend plugin API to take in multiple poster icons
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

Fix documentation
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

Bump plugin api version
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

Also make sure changelog is updated
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint-js

DEV: Fix intermittent failing spec. (#15308)
  spec/models/user_stat_spec.rb
Due: rubocop

DEV: minor refactoring or jump-to-post
  app/assets/javascripts/discourse/app/controllers/jump-to-post.js
Due: prettier, eslint-js

Apply code suggestions
  app/assets/javascripts/discourse/app/components/bookmark-list.js
Due: prettier, eslint-js

Apply code suggestions
  app/assets/javascripts/discourse/app/controllers/user-activity-bookmarks.js
Due: prettier, eslint-js

FEATURE: Extend plugin API to add multiple poster icons (#15311)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint-js

DEV: Skip Ember OnError validation for plugin qunit tests
  app/assets/javascripts/discourse/tests/test-helper.js
Due: prettier, eslint-js

DEV: Skip Ember OnError validation for plugin qunit tests (#15314)
  app/assets/javascripts/discourse/tests/test-helper.js
Due: prettier, eslint-js

DEV: minor refactoring or jump-to-post (#15312)
  app/assets/javascripts/discourse/app/controllers/jump-to-post.js
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
