Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

DEV: Refactor `discovery-layout` and enhance sidebar layout support
  frontend/discourse/app/components/discovery/layout.gjs
  frontend/discourse/tests/acceptance/discovery-layout-test.gjs
Due: prettier, eslint, ember-template-lint

shrug
  config/environments/development.rb
Due: rubocop, syntax_tree

restore error silencing
  frontend/deprecation-silencer/index.js
Due: prettier, eslint

DEV: missing escape_html on image just added to emails
  plugins/discourse-calendar/plugin.rb
Due: rubocop, syntax_tree

PERF: eager load image associated with event for email
  plugins/discourse-calendar/plugin.rb
Due: rubocop, syntax_tree

DEV: refactor return on resolve_image_upload
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
Due: rubocop, syntax_tree

Revert "shrug"
  config/environments/development.rb
Due: rubocop, syntax_tree

FIX: removing event image was not cooking any post image into topic image_upload_url
  plugins/discourse-calendar/app/models/discourse_post_event/event.rb
  plugins/discourse-calendar/plugin.rb
  plugins/discourse-calendar/spec/models/discourse_post_event/event_spec.rb
Due: rubocop, syntax_tree

QUNIT_PARALLEL=2
  .github/workflows/tests.yml
Due: yaml-syntax

UX: when changes are requested on queued post, link draft to edit
  app/models/reviewable_queued_post.rb
  config/locales/server.en.yml
  spec/models/reviewable_queued_post_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Revert "QUNIT_PARALLEL=2"
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: remove leftover scss from original implementation
  plugins/discourse-calendar/assets/stylesheets/mobile/discourse-post-event.scss
Due: prettier, stylelint

DEV: Cast event.target to HTMLElement for TypeScript
  frontend/discourse/app/components/d-icon-grid-picker/content.gjs
Due: prettier, eslint, ember-template-lint

UX: improve styling of "show post" button in user notes
  plugins/discourse-user-notes/assets/javascripts/discourse/components/user-note.gjs
  plugins/discourse-user-notes/assets/stylesheets/user_notes.scss
Due: prettier, eslint, ember-template-lint

DEV: refactor image assignment in web_hook_extension
  plugins/discourse-calendar/lib/discourse_post_event/web_hook_extension.rb
Due: rubocop, syntax_tree

fewer variables
  .github/workflows/tests.yml
Due: yaml-syntax

move class to correct button
  plugins/discourse-user-notes/assets/javascripts/discourse/components/user-note.gjs
Due: prettier, eslint, ember-template-lint

button class needs to be more specific
  plugins/discourse-user-notes/assets/javascripts/discourse/components/user-note.gjs
  plugins/discourse-user-notes/assets/stylesheets/user_notes.scss
Due: prettier, eslint, ember-template-lint

move style
  plugins/discourse-user-notes/assets/stylesheets/user_notes.scss
Due: prettier

Update frontend/discourse/ember-cli-build.js
  frontend/discourse/ember-cli-build.js
Due: prettier, eslint

DEV: Remove the obsolete non-rollup CI job
  .github/workflows/tests.yml
Due: yaml-syntax

FEATURE: Allow acting on all bookmarks in topic footer buttons
  app/assets/stylesheets/common/components/bookmark-menu.scss
  app/serializers/topic_view_bookmark_serializer.rb
  config/locales/client.en.yml
  frontend/discourse/app/components/topic-bookmarks-menu.gjs
  frontend/discourse/app/components/topic-footer-buttons.gjs
  frontend/discourse/app/lib/post-bookmark-manager.js
  frontend/discourse/app/lib/topic-bookmark-manager.js
  lib/topic_view.rb
  spec/system/bookmarks_spec.rb
  spec/system/page_objects/components/bookmark_menu.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Update developer tab description to reflect setting re-org
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Review fixes
  app/services/upcoming_changes/notify_promotion.rb
  app/services/upcoming_changes/toggle.rb
  lib/site_setting_extension.rb
  lib/site_settings/defaults_provider.rb
  lib/upcoming_changes.rb
  spec/lib/site_setting_extension_spec.rb
  spec/support/helpers.rb
Due: rubocop, syntax_tree

DEV: Add info to claude skill for UC
  .skills/discourse-upcoming-changes-authoring/SKILL.md
Due: none

DEV: Move 4 upcoming changes to stable
  config/site_settings.yml
Due: yaml-syntax

DEV: Fix FAQ/Guidelines specs now that the setting is stable
  app/controllers/static_controller.rb
  spec/lib/seed_data/topics_spec.rb
  spec/requests/admin/site_texts_controller_spec.rb
  spec/requests/static_controller_spec.rb
Due: rubocop, syntax_tree

no ai pr
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/db/fixtures/agents/603_ai_agents.rb
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/configuration/feature.rb
  plugins/discourse-ai/lib/configuration/module.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/configuration/feature_register_spec.rb
  plugins/discourse-ai/spec/lib/agents/register_system_agent_spec.rb
  plugins/discourse-data-explorer/config/settings.yml
  plugins/discourse-data-explorer/lib/discourse_data_explorer/ai_agent_enumerator.rb
  plugins/discourse-data-explorer/plugin.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Fix impersonate_without_logout specs now that's true by default
  spec/requests/admin/impersonate_controller_spec.rb
Due: rubocop, syntax_tree

review updoots
  app/controllers/topics_controller.rb
  frontend/discourse/app/lib/serialize-tags.js
  frontend/discourse/app/models/composer.js
  frontend/discourse/app/models/topic.js
Due: rubocop, syntax_tree, prettier, eslint

DEV: Fix group spec time issue
  app/models/group.rb
Due: rubocop, syntax_tree

remove tests related to previous in-page tag settings
  frontend/discourse/tests/acceptance/tags-test.js
  spec/system/tag_view_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Fix another spec looking for faq not guidelines
  spec/system/user_page/user_preferences_profile_spec.rb
Due: rubocop, syntax_tree

DEV: Ensure non-existent site setting dependency does not crash
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree

DEV: Fix symbol mismatch issues and add specs
  lib/site_setting_extension.rb
  lib/site_settings/defaults_provider.rb
  lib/upcoming_changes.rb
  spec/lib/site_settings/defaults_provider_spec.rb
Due: rubocop, syntax_tree

specs for registration in ai-feature
  plugins/discourse-ai/spec/configuration/feature_register_spec.rb
  plugins/discourse-ai/spec/configuration/module_register_spec.rb
  plugins/discourse-ai/spec/lib/agents/register_system_agent_spec.rb
  plugins/discourse-ai/spec/system/admin_ai_features_spec.rb
  plugins/discourse-data-explorer/lib/discourse_data_explorer/tools/run_sql.rb
Due: rubocop, syntax_tree

FIX: Handle case where admin enables upcoming change
  lib/site_setting_extension.rb
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree
