Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

More conversions
  app/assets/javascripts/discourse/app/helpers/directory-table-header-title.js
  app/assets/javascripts/discourse/app/helpers/discourse-tag.js
  app/assets/javascripts/discourse/app/helpers/discourse-tags.js
  app/assets/javascripts/discourse/app/helpers/emoji.js
  app/assets/javascripts/discourse/app/helpers/float.js
  app/assets/javascripts/discourse/app/helpers/format-age.js
  app/assets/javascripts/discourse/app/helpers/format-date.js
  app/assets/javascripts/discourse/app/helpers/format-duration.js
Due: prettier, eslint-js

fix var name
  app/assets/javascripts/discourse/app/instance-initializers/auth-complete.js
Due: prettier, eslint-js

disable
  app/assets/javascripts/discourse/app/instance-initializers/page-tracking.js
Due: prettier, eslint-js

More conversions
  app/assets/javascripts/discourse-common/addon/helpers/d-icon.js
  app/assets/javascripts/discourse-common/addon/helpers/fa-icon.js
  app/assets/javascripts/discourse/app/helpers/avatar.js
  app/assets/javascripts/discourse/app/helpers/format-date.js
  app/assets/javascripts/discourse/app/helpers/format-username.js
  app/assets/javascripts/discourse/app/helpers/shorten-url.js
  app/assets/javascripts/discourse/app/helpers/theme-helpers.js
  app/assets/javascripts/discourse/app/helpers/theme-i18n.js
  app/assets/javascripts/discourse/app/helpers/theme-prefix.js
  app/assets/javascripts/discourse/app/helpers/theme-setting.js
  app/assets/javascripts/discourse/app/helpers/topic-featured-link.js
  app/assets/javascripts/discourse/app/helpers/topic-link.js
  app/assets/javascripts/discourse/app/helpers/user-avatar.js
  app/assets/javascripts/discourse/app/helpers/value-entered.js
Due: prettier, eslint-js

revert and disable
  app/assets/javascripts/discourse/app/routes/app-route-map.js
Due: prettier, eslint-js

Restore deprecation
  app/assets/javascripts/discourse-common/addon/lib/helpers.js
Due: prettier, eslint-js

DEV: Fix `ember/prefer-ember-test-helpers` (#24013)
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
Due: prettier, eslint-js

DEV: Fix `ember/require-valid-css-selector-in-test-helpers` (#24011)
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-backup-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-second-factor-test.js
Due: prettier, eslint-js

DEV: Fix `ember/no-incorrect-calls-with-inline-anonymous-functions` (#24010)
  app/assets/javascripts/discourse/app/components/user-status-picker.js
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint-js

DEV: Fix `ember/no-settled-after-test-helper` (#24008)
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-narrow-desktop-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/d-lightbox-test.js
Due: prettier, eslint-js

DEV: Fix `ember/require-super-in-lifecycle-hooks` (#24007)
  app/assets/javascripts/admin/addon/components/ace-editor.js
  app/assets/javascripts/admin/addon/components/admin-graph.js
  app/assets/javascripts/admin/addon/components/modal/install-theme.js
  app/assets/javascripts/admin/addon/components/modal/merge-users-progress.js
  app/assets/javascripts/discourse/app/components/d-modal-body.js
  app/assets/javascripts/discourse/app/components/discourse-banner.js
  app/assets/javascripts/discourse/app/components/mobile-nav.js
  app/assets/javascripts/discourse/app/components/modal/bookmark.js
  app/assets/javascripts/discourse/app/components/mount-widget.js
  app/assets/javascripts/discourse/app/components/pending-post.js
  app/assets/javascripts/discourse/app/components/scrolling-post-stream.js
  app/assets/javascripts/discourse/app/components/sidebar.js
  app/assets/javascripts/discourse/app/components/sidebar/more-section-links.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/messages-section.js
  app/assets/javascripts/discourse/app/components/sidebar/user/tags-section.js
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/components/topic-entrance.js
  app/assets/javascripts/discourse/app/components/topic-timeline/container.js
  app/assets/javascripts/discourse/app/components/user-status-picker.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/acceptance/topic-post-decorate-cooked-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/render-glimmer-test.js
  app/assets/javascripts/discourse/tests/integration/helpers/raw-test.gjs
Due: prettier, eslint-js

UX: Move public sidebar section checkbox up to make it obvious
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

Update deprecation message
  app/assets/javascripts/discourse-common/addon/lib/helpers.js
Due: prettier, eslint-js

FEATURE: Add all user update API scopes
  app/models/api_key_scope.rb
  spec/requests/admin/api_controller_spec.rb
Due: rubocop

DEV: Modernize chat helper definitions
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-title.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-url.js
Due: prettier, eslint-js

PERF: Stop eagerly-loading core helper modules
  app/assets/javascripts/discourse-common/addon/lib/raw-handlebars-helpers.js
  app/assets/javascripts/discourse/app/instance-initializers/auto-load-modules.js
Due: prettier, eslint-js

UX: video placeholder icon should always be white (#23990)
  app/assets/stylesheets/common/base/onebox.scss
Due: none

FEATURE: Add all user update API scopes (#24016)
  app/models/api_key_scope.rb
  spec/requests/admin/api_controller_spec.rb
Due: rubocop

DEV: Update user-passkeys formatDate helper lookup
  app/assets/javascripts/discourse/app/components/user-preferences/user-passkeys.gjs
Due: none

UX: Fix form template mobile issues
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/d-editor.hbs
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/d-editor.scss
Due: prettier, eslint-js

DEV: Update user-passkeys formatDate helper lookup (#24018)
  app/assets/javascripts/discourse/app/components/user-preferences/user-passkeys.gjs
Due: none

FIX: Don't lose SummaryBox state through widget re-renders.
  app/assets/javascripts/discourse/app/components/summary-box.hbs
  app/assets/javascripts/discourse/app/components/summary-box.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/lib/transform-post.js
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/templates/topic.hbs
  app/assets/javascripts/discourse/app/widgets/topic-map.js
Due: prettier, eslint-js

DEV: Modernize chat helper definitions (#24017)
  plugins/chat/assets/javascripts/discourse/helpers/format-chat-date.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-title.js
  plugins/chat/assets/javascripts/discourse/helpers/tonable-emoji-url.js
Due: prettier, eslint-js

DEV: Add option to float-kit toast to force auto-close
  app/assets/javascripts/float-kit/addon/lib/constants.js
  app/assets/javascripts/float-kit/addon/lib/d-toast-instance.js
  app/assets/javascripts/float-kit/addon/services/toasts.js
Due: prettier, eslint-js

PERF: Stop eagerly-loading core helper modules (#24015)
  app/assets/javascripts/discourse-common/addon/lib/raw-handlebars-helpers.js
  app/assets/javascripts/discourse/app/instance-initializers/auto-load-modules.js
Due: prettier, eslint-js

Much better working, thanks David
  app/assets/javascripts/float-kit/addon/services/toasts.js
Due: prettier, eslint-js

UX: Fix form template mobile issues (#24019)
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/d-editor.hbs
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/common/d-editor.scss
Due: prettier, eslint-js

DEV: Add option to float-kit toast to force auto-close (#24022)
  app/assets/javascripts/float-kit/addon/lib/constants.js
  app/assets/javascripts/float-kit/addon/lib/d-toast-instance.js
  app/assets/javascripts/float-kit/addon/services/toasts.js
Due: prettier, eslint-js

shim tag-show
  app/assets/javascripts/discourse/app/instance-initializers/discovery-controller-shims.js
  app/assets/javascripts/discourse/app/services/discovery.js
Due: prettier, eslint-js

DEV: Fix category-selector's searching
  app/assets/javascripts/select-kit/addon/components/category-selector.js
Due: prettier, eslint-js

UX: move global option to sidebar modal footer
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

shorter public message
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

add padding on smaller screens
  app/assets/stylesheets/common/base/sidebar.scss
Due: none

UX: move global option to sidebar modal footer, shorten translation (#24024)
  app/assets/javascripts/discourse/app/components/modal/sidebar-section-form.hbs
  app/assets/stylesheets/common/base/sidebar.scss
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Remove post-admin-menu placeholder
  app/assets/javascripts/discourse/app/widgets/post-admin-menu.js
Due: prettier, eslint-js

DEV: Print error when decorateWidget target does not exist
  app/assets/javascripts/discourse/app/widgets/widget.js
Due: prettier, eslint-js

DEV: Fix category-selector's searching (#24023)
  app/assets/javascripts/select-kit/addon/components/category-selector.js
Due: prettier, eslint-js

FIX: Order result set of category search
  app/controllers/categories_controller.rb
Due: rubocop

FIX: change max-width size to make the background image expand the same width as the browser (#24004)
  app/assets/stylesheets/wizard.scss
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
