Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

A11Y: composer toolbar dropdown title (#33993)
  app/assets/javascripts/discourse/app/components/composer/toolbar-buttons.gjs
  app/assets/javascripts/discourse/app/components/toolbar-popup-menu-options.gjs
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  config/locales/client.cs.yml
  config/locales/client.de.yml
  config/locales/client.en.yml
  config/locales/client.he.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

FEATURE: Color mode preference (#33875)
  app/assets/javascripts/discourse/app/components/interface-color-selector.gjs
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/lib/constants.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/services/interface-color.js
  app/assets/javascripts/discourse/app/templates/preferences/interface.gjs
  app/assets/stylesheets/common/base/user.scss
  app/helpers/application_helper.rb
  app/models/user_option.rb
  app/serializers/current_user_option_serializer.rb
  app/serializers/user_option_serializer.rb
  app/services/user_updater.rb
  config/locales/client.en.yml
  db/migrate/20250723122719_add_interface_color_mode_to_user_options.rb
  lib/tasks/javascript.rake
  spec/helpers/application_helper_spec.rb
  spec/requests/api/schemas/json/user_get_response.json
  spec/system/page_objects/components/interface_color_selector.rb
  spec/system/page_objects/pages/user_preferences_interface.rb
  spec/system/user_page/user_preferences_interface_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Further improvements and refactors
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation-menu.gjs
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation.gjs
  app/assets/javascripts/discourse/app/services/filter-suggestions.js
  app/assets/javascripts/discourse/tests/integration/components/discovery/filter-navigation-menu-test.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/stylesheets/common/components/filter-navigation.scss
Due: prettier, prettier-scss, eslint

DEV: Further minor cleanup
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation-menu.gjs
Due: none

DEV: Review fixes, move FilterSuggestions to lib
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation-menu.gjs
  app/assets/javascripts/discourse/app/lib/filter-suggestions.js
Due: prettier, eslint

DEV: Configure `skip_default_job_logging` for Sidekiq
  config/initializers/100-sidekiq.rb
Due: rubocop, syntax_tree

DEV: Configure `skip_default_job_logging` for Sidekiq (#34001)
  config/initializers/100-sidekiq.rb
Due: rubocop, syntax_tree

DEV: use floatkit autocomplete for chat composer
  app/assets/javascripts/discourse/app/modifiers/d-autocomplete.js
  config/locales/server.en.yml
  config/site_settings.yml
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Due: prettier, eslint, yaml-syntax, i18n-lint

FEATURE: Add new edit_tags_allowed_groups setting
  app/controllers/tags_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/guardian/tag_guardian.rb
  spec/lib/guardian/tag_guardian_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: Update TagsController update actions to use new check
  app/controllers/tags_controller.rb
  lib/guardian/tag_guardian.rb
  spec/requests/tags_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Show tag edit controls to people in relevant access group
  app/assets/javascripts/discourse/app/components/d-navigation.gjs
  app/assets/javascripts/discourse/app/components/tag-info.gjs
  app/assets/javascripts/discourse/app/models/user.js
  app/serializers/current_user_serializer.rb
Due: rubocop, syntax_tree, prettier, eslint

Wrap track-link text in span
  app/assets/javascripts/discourse/app/components/post/links.gjs
Due: none

Add spacing on emoji to avoid using flex
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

Revert "Add spacing on emoji to avoid using flex"
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

Update translations
  config/locales/client.ur.yml
  config/locales/server.ur.yml
Due: yaml-syntax

ensure cleanup
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

Add QUNIT_REUSE_BUILD
  lib/tasks/qunit.rake
Due: syntax_tree

UX: apply consistent spacing and correct emoji size to track-link in posts (#33982)
  app/assets/javascripts/discourse/app/components/post/links.gjs
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

DEV: Do not preload assignments when discourse-assign is disabled (#33985)
  plugins/discourse-assign/plugin.rb
Due: rubocop, syntax_tree

DEV: Silence Embroider staticTree deprecations
  app/assets/javascripts/deprecation-silencer/index.js
  app/assets/javascripts/discourse/ember-cli-build.js
Due: prettier, eslint

UX: unify filters for colors, themes, and components (#33863)
  app/assets/javascripts/admin/addon/components/admin-config-areas/components.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/themes.gjs
  app/assets/javascripts/admin/addon/components/admin-filter-controls.gjs
  app/assets/javascripts/admin/addon/components/themes-grid.gjs
  app/assets/javascripts/admin/addon/controllers/admin-customize-colors.js
  app/assets/javascripts/admin/addon/templates/customize-colors.gjs
  app/assets/stylesheets/admin/admin_filter_controls.scss
  app/assets/stylesheets/common/components/theme-card.scss
  config/locales/client.en.yml
  spec/system/admin_color_palettes_features_spec.rb
  spec/system/page_objects/pages/admin_customize_components_config_area.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

UX: better handling of admin email log overflow (#33988)
  app/assets/javascripts/admin/addon/templates/email-logs-bounced.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-received.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-rejected.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-sent.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-skipped.gjs
  app/assets/javascripts/discourse/app/components/horizontal-scroll-sync-wrapper.gjs
  app/assets/javascripts/discourse/app/components/responsive-table.gjs
  app/assets/stylesheets/admin/emails.scss
  app/assets/stylesheets/common/base/directory.scss
Due: prettier-scss

DEV: Publish and enable use of pre-built JS assets (#33973)
  .github/workflows/publish-assets.yml
  lib/tasks/assets.rake
  lib/tasks/qunit.rake
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Add support for converting and importing `tag_group_memberships`
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/tag_group_memberships.rb
  migrations/lib/database/intermediate_db/tag_group_membership.rb
  migrations/lib/database/intermediate_db/user_option.rb
  migrations/lib/importer/steps/tag_group_memberships.rb
  migrations/spec/lib/database/intermediate_db/tag_group_membership_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Clear serializers cache between tests
  spec/rails_helper.rb
Due: rubocop, syntax_tree

Update translations (#33971)
  config/locales/client.ur.yml
  config/locales/server.ur.yml
Due: yaml-syntax

DEV: Clear serializers cache between tests (#34008)
  spec/rails_helper.rb
Due: rubocop, syntax_tree

apply feedback
  app/assets/javascripts/discourse/app/components/pinned-options.gjs
  app/assets/javascripts/discourse/tests/integration/components/pinned-options-test.gjs
Due: none

FEATURE: Fetch pre-build JS assets by default
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

REFACTOR: move the pinned button to DMenu (#33869)
  app/assets/javascripts/discourse/app/components/pinned-button.gjs
  app/assets/javascripts/discourse/app/components/pinned-options.gjs
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.gjs
  app/assets/javascripts/discourse/tests/integration/components/pinned-options-test.gjs
  app/assets/javascripts/select-kit/addon/components/pinned-button.gjs
  app/assets/javascripts/select-kit/addon/components/pinned-options.js
  app/assets/stylesheets/common/components/notifications-tracking.scss
  app/assets/stylesheets/common/select-kit/_index.scss
  app/assets/stylesheets/common/select-kit/pinned-button.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.gjs
Due: prettier, prettier-scss, eslint

UX: improve wrapping and styling in email logs
  app/assets/javascripts/admin/addon/templates/email-logs-bounced.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-received.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-rejected.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-sent.gjs
  app/assets/stylesheets/admin/emails.scss
Due: prettier-scss

improve user column
  app/assets/stylesheets/admin/emails.scss
Due: prettier-scss

typo
  app/assets/stylesheets/admin/emails.scss
Due: prettier-scss

UX: improve wrapping and styling in email logs (#34011)
  app/assets/javascripts/admin/addon/templates/email-logs-bounced.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-received.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-rejected.gjs
  app/assets/javascripts/admin/addon/templates/email-logs-sent.gjs
  app/assets/stylesheets/admin/emails.scss
Due: prettier-scss

FEATURE: Use a persona when running the AI triage automation script
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/db/migrate/20250721080444_seed_personas_from_triage_scripts.rb
  plugins/discourse-ai/discourse_automation/llm_triage.rb
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/lib/embeddings/semantic_search.rb
  plugins/discourse-ai/lib/summarization.rb
  plugins/discourse-ai/spec/lib/discourse_automation/llm_triage_spec.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FEATURE: Fetch pre-build JS assets by default (#34009)
  script/assemble_ember_build.rb
Due: rubocop, syntax_tree

fix user_controller, conditionally render IP fields on Admin UI
  app/assets/javascripts/admin/addon/templates/user-index.gjs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/controllers/admin/users_controller.rb
Due: rubocop, syntax_tree, ember-template-lint

update rspec tests
  app/controllers/admin/screened_ip_addresses_controller.rb
  app/serializers/current_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
