Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Use "" context and fix specs
  app/mailers/group_smtp_mailer.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

Update translations
  config/locales/client.ar.yml
Due: yaml-syntax

FIX: Improve participant display in group SMTP emails (#13539)
  app/mailers/group_smtp_mailer.rb
  app/mailers/user_notifications.rb
  app/models/email_log.rb
  app/models/group.rb
  app/views/email/notification.html.erb
  config/locales/server.en.yml
  lib/email/styles.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Update translations
  config/locales/client.zh_CN.yml
Due: yaml-syntax

FIX: Missing category edit icon.
  app/models/site.rb
  app/serializers/site_category_serializer.rb
  lib/guardian/category_guardian.rb
  spec/models/site_spec.rb
Due: rubocop

FIX: Do not show In Reply To for group SMTP emails
  app/mailers/group_smtp_mailer.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

DEV: Remove unused attributes from topic-tracking-state.
  app/assets/javascripts/discourse/app/models/topic-tracking-state.js
Due: prettier, eslint-js

FIX: Do not show In Reply To for group SMTP emails (#13541)
  app/mailers/group_smtp_mailer.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

DEV: Remove old group form code
  app/assets/javascripts/discourse/app/components/groups-form-email-fields.js
  app/assets/javascripts/discourse/app/templates/components/groups-form-email-fields.hbs
Due: prettier, eslint-js

FIX: Remove legacy topic timer code
  app/jobs/regular/topic_reminder.rb
  app/models/topic_timer.rb
Due: rubocop

DEV: Drop duration column from topic timers
  app/models/topic.rb
  db/post_migrate/20210628035905_drop_duration_column_from_topic_timers.rb
Due: rubocop

Remove all scheduled topic timer code incl. cancelling
  app/models/topic_timer.rb
  spec/models/topic_timer_spec.rb
Due: rubocop

DEV: Remove old group form code (#13542)
  app/assets/javascripts/discourse/app/components/groups-form-email-fields.js
  app/assets/javascripts/discourse/app/templates/components/groups-form-email-fields.hbs
Due: prettier, eslint-js

PERF: optimise backfilling of topic_id
  db/post_migrate/20210621234939_backfill_email_log_topic_id.rb
Due: rubocop

PERF: optimise backfilling of topic_id (#13545)
  db/post_migrate/20210621234939_backfill_email_log_topic_id.rb
Due: rubocop

DEV: Don't eager load tags when tagging is not enabled.
  lib/topic_query.rb
Due: rubocop

FIX: Remove extra margin from share topic modal
  app/assets/stylesheets/common/base/modal.scss
Due: none

FIX: topic level bookmark button (#13530)
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/models/post.js
  app/assets/javascripts/discourse/app/models/topic.js
  app/assets/javascripts/discourse/tests/acceptance/bookmarks-test.js
  app/serializers/post_serializer.rb
  app/serializers/topic_view_serializer.rb
  app/serializers/web_hook_topic_view_serializer.rb
  config/locales/client.en.yml
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
  spec/serializers/post_serializer_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.fi.yml
Due: yaml-syntax

FIX: only delete the word/phrase when the 'x' icon is clicked
  app/assets/javascripts/admin/addon/components/admin-watched-word.js
  app/assets/javascripts/admin/addon/templates/components/admin-watched-word.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/stylesheets/common/admin/staff_logs.scss
Due: prettier, eslint-js

FIX: only delete the word/phrase when the 'x' icon is clicked (#13547)
  app/assets/javascripts/admin/addon/components/admin-watched-word.js
  app/assets/javascripts/admin/addon/templates/components/admin-watched-word.hbs
  app/assets/javascripts/discourse/tests/acceptance/admin-watched-words-test.js
  app/assets/stylesheets/common/admin/staff_logs.scss
Due: prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.it.yml
  config/locales/client.zh_CN.yml
  config/locales/server.fi.yml
  config/locales/server.ja.yml
Due: yaml-syntax

UX: Tweak the timestamp line in Twitter onebox
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/templates/twitterstatus.mustache
Due: none

Just start using on desktop the hidden input that we already use on mobile
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/composer-editor.hbs
  app/assets/stylesheets/common/base/compose.scss
  app/assets/stylesheets/mobile/compose.scss
Due: prettier, eslint-js

Rename `mobile-selector` to `file-selector` since we start using it on desktop too
  app/assets/javascripts/discourse/app/components/composer-editor.js
  app/assets/javascripts/discourse/app/routes/application.js
  app/assets/javascripts/discourse/app/templates/components/composer-editor.hbs
  app/assets/stylesheets/common/base/compose.scss
Due: prettier, eslint-js

Remove dead code
  app/assets/javascripts/discourse/app/controllers/upload-selector.js
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/app/templates/components/image-uploader.hbs
  app/assets/javascripts/discourse/app/templates/components/images-uploader.hbs
  app/assets/javascripts/discourse/app/templates/composer.hbs
  app/assets/javascripts/discourse/app/templates/modal/upload-selector.hbs
  app/assets/stylesheets/desktop/upload.scss
  app/assets/stylesheets/mobile/upload.scss
  config/locales/client.en.yml
  test/smoke_test.js
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.fr.yml
  config/locales/server.fi.yml
  config/locales/server.ja.yml
Due: yaml-syntax

FIX: Remove extra margin from share topic modal (#13549)
  app/assets/stylesheets/common/base/modal.scss
Due: none

UX: Tweak the timestamp line in Twitter onebox (#13551)
  app/assets/stylesheets/common/base/onebox.scss
  lib/onebox/templates/twitterstatus.mustache
Due: none

Review fix: don't use jquery to access the file input
  app/assets/javascripts/discourse/app/routes/application.js
Due: prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.ja.yml
  config/locales/server.zh_CN.yml
  plugins/discourse-narrative-bot/config/locales/server.fr.yml
Due: yaml-syntax

FIX: Do not redirect to a topic user cannot see
  app/controllers/invites_controller.rb
  spec/requests/invites_controller_spec.rb
Due: rubocop

UX: Horizontal scroll bar on top of user directory (when needed)
  app/assets/javascripts/discourse/app/components/directory-table.js
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/stylesheets/common/base/directory.scss
Due: prettier, eslint-js

remove weirdness
  app/assets/javascripts/discourse/app/components/directory-table.js
Due: prettier, eslint-js

shuffffffle
  app/assets/javascripts/discourse/app/components/directory-table.js
  app/assets/stylesheets/common/base/directory.scss
Due: prettier, eslint-js

remove whitespace
  app/assets/stylesheets/common/base/directory.scss
Due: none
