Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

FIX: Canonicalize cakeday timezones for PostgreSQL [backport 2026.7] (#42504)
  plugins/discourse-cakeday/app/controllers/discourse_cakeday/cakeday_controller.rb
  plugins/discourse-cakeday/spec/integration/cakeday_spec.rb
Due: rubocop, syntax_tree

DEV: Fix the build due to changes in how Redis is installed in the base image (#42500)
  .github/workflows/migration-tests.yml
  .github/workflows/tests.yml
  config/boot.rb
Due: rubocop, syntax_tree, yaml-syntax

bring back divider in md mode
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
Due: prettier, stylelint

remove border-radius from selectkits
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
Due: prettier, stylelint

DEV: Add `registerReviewableComponent` plugin API (#42508)
  config/locales/client.en.yml
  frontend/discourse/app/components/reviewable/index.gjs
  frontend/discourse/app/components/reviewable/item.gjs
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/lib/registry/transformers.js
  frontend/discourse/app/lib/reviewable-registry.js
  frontend/discourse/app/templates/review/show.gjs
  frontend/discourse/tests/integration/components/reviewable/item-test.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-reviewable-status.js
  plugins/discourse-post-voting/assets/javascripts/discourse/api-initializers/post-voting-reviewables.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Fix the build due to changes in how Redis is installed in the base image [backport 2026.7] (#42509)
  .github/workflows/migration-tests.yml
  .github/workflows/tests.yml
  config/boot.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Fix the build due to changes in how Redis is installed in the base image [backport 2026.6] (#42510)
  .github/workflows/migration-tests.yml
  .github/workflows/tests.yml
  config/boot.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Fix the build due to changes in how Redis is installed in the base image [backport 2026.1] (#42511)
  .github/workflows/migration-tests.yml
  .github/workflows/tests.yml
  config/boot.rb
Due: rubocop, syntax_tree, yaml-syntax

UX: UC – Composer redesign : iteration and fixes (#42512)
  app/assets/stylesheets/common/upcoming-changes/uc-enable-composer-redesign.scss
Due: prettier, stylelint

better copy
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/context-output-test.gjs
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/executions/detail-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: Queue staged email topics with media for review
  lib/new_post_manager.rb
  spec/fixtures/emails/new_user_with_media.eml
  spec/lib/email/receiver_spec.rb
Due: rubocop, syntax_tree

UX: Keep tooltips within the viewport and scroll their overflow
  app/assets/stylesheets/common/float-kit/d-tooltip.scss
  frontend/discourse/float-kit/components/d-float-body.gts
  frontend/discourse/float-kit/lib/constants.ts
  frontend/discourse/float-kit/lib/update-position.ts
  frontend/discourse/tests/integration/components/float-kit/d-tooltip-test.gjs
  plugins/footnote/spec/system/page_objects/components/inline_footnote.rb
  plugins/footnote/spec/system/read_long_footnote_spec.rb
  spec/system/page_objects/components/tooltips.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

DEV: Bump web_hook_events_id_seq to bigint (#42485)
  db/migrate/20260728150000_alter_web_hook_events_id_sequence_to_bigint.rb
  db/structure.sql
Due: rubocop, syntax_tree

DEV: Deprecate string-based resolution of empty-state-components
  frontend/discourse/app/components/user-menu/bookmarks-list.js
  frontend/discourse/app/components/user-menu/items-list.gjs
  frontend/discourse/app/components/user-menu/likes-notifications-list.js
  frontend/discourse/app/components/user-menu/messages-list.js
  frontend/discourse/app/components/user-menu/notifications-list.js
  frontend/discourse/app/components/user-menu/other-notifications-list.js
  frontend/discourse/app/components/user-menu/replies-notifications-list.js
  plugins/chat/assets/javascripts/discourse/components/user-menu/chat-notifications-list.js
Due: prettier, eslint, ember-template-lint

UX: Refresh clients when content localization settings change (#42492)
  config/site_settings.yml
  plugins/discourse-ai/config/settings.yml
Due: yaml-syntax

DEV: Deprecate string-based resolution of empty-state-components (#42517)
  frontend/discourse/app/components/user-menu/bookmarks-list.js
  frontend/discourse/app/components/user-menu/items-list.gjs
  frontend/discourse/app/components/user-menu/likes-notifications-list.js
  frontend/discourse/app/components/user-menu/messages-list.js
  frontend/discourse/app/components/user-menu/notifications-list.js
  frontend/discourse/app/components/user-menu/other-notifications-list.js
  frontend/discourse/app/components/user-menu/replies-notifications-list.js
  plugins/chat/assets/javascripts/discourse/components/user-menu/chat-notifications-list.js
Due: prettier, eslint, ember-template-lint

UX: clarify why empty output node stop execution (#42507)
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/executions/detail.gjs
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/context-output-test.gjs
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/executions/detail-test.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Avoid `{{component}}` helper for plugin-supplied components
  frontend/discourse/app/components/modal/bulk-topic-actions.gjs
  frontend/discourse/app/components/sidebar/api-section.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Render chat actions as standalone messages
  plugins/chat/app/models/chat/message.rb
  plugins/chat/app/serializers/chat/message_serializer.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/lib/chat-channel-thread-subscription-manager.js
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/spec/jobs/regular/chat/process_message_spec.rb
  plugins/chat/spec/serializer/chat/chat_message_serializer_spec.rb
  plugins/chat/test/javascripts/components/chat-message-test.gjs
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Use explicit imports for site-setting components
  frontend/discourse/admin/components/site-setting.gjs
Due: prettier, eslint, ember-template-lint

Adds a topic-category-link-wrapper outlet around the category link in the topic title section mirroring the one in the docked topic header
  frontend/discourse/app/components/header/topic/info.gjs
  frontend/discourse/app/components/topic-category.gjs
Due: prettier, eslint, ember-template-lint

DEV: Avoid `{{component}}` helper for plugin-supplied components (#42518)
  frontend/discourse/app/components/modal/bulk-topic-actions.gjs
  frontend/discourse/app/components/sidebar/api-section.gjs
Due: prettier, eslint, ember-template-lint

FIX: Queue staged email topics with media for review (#42515)
  lib/new_post_manager.rb
  spec/fixtures/emails/new_user_with_media.eml
  spec/lib/email/receiver_spec.rb
Due: rubocop, syntax_tree

DEV: Use explicit imports for site-setting components (#42519)
  frontend/discourse/admin/components/site-setting.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove unused custom component hook from category edit panels
  frontend/discourse/admin/components/edit-category-panel.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: allow post voting to be scoped to categories
  plugins/discourse-post-voting/assets/javascripts/discourse/connectors/category-custom-settings/post-voting-category-settings.gjs
  plugins/discourse-post-voting/assets/javascripts/discourse/initializers/extend-composer-actions.js
  plugins/discourse-post-voting/assets/javascripts/discourse/lib/post-voting-utilities.js
  plugins/discourse-post-voting/config/locales/server.en.yml
  plugins/discourse-post-voting/config/settings.yml
  plugins/discourse-post-voting/extensions/topic_extension.rb
  plugins/discourse-post-voting/plugin.rb
  plugins/discourse-post-voting/spec/lib/post_voting_spec.rb
  plugins/discourse-post-voting/spec/models/topic_embed_spec.rb
  plugins/discourse-post-voting/spec/models/topic_spec.rb
  plugins/discourse-post-voting/test/javascripts/acceptance/composer-new-test.js
  plugins/discourse-post-voting/test/javascripts/unit/connectors/post-voting-category-settings-test.js
  plugins/discourse-post-voting/test/javascripts/unit/lib/post-voting-utilities-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Add topic-category-link-wrapper outlet around the category link in topic title section (#42520)
  frontend/discourse/app/components/header/topic/info.gjs
  frontend/discourse/app/components/topic-category.gjs
Due: prettier, eslint, ember-template-lint

Remove the test
  spec/migrations/add_target_created_by_index_to_reviewables_spec.rb
Due: rubocop, syntax_tree

FIX: Keep AI bot PM titles working once the bot's edit budget is spent
  plugins/discourse-ai/lib/ai_bot/playground.rb
  plugins/discourse-ai/lib/ai_bot/stream_reply_custom_tools_session.rb
  plugins/discourse-ai/lib/automation/llm_tagger.rb
  plugins/discourse-ai/lib/automation/llm_triage.rb
  plugins/discourse-ai/spec/lib/automation/llm_tagger_spec.rb
  plugins/discourse-ai/spec/lib/modules/ai_bot/playground_spec.rb
  plugins/discourse-ai/spec/lib/modules/automation/llm_triage_spec.rb
Due: rubocop, syntax_tree

PERF: Add index on reviewables.target_created_by_id for staff_info queries (#42489)
  app/models/reviewable.rb
  app/models/reviewable/unknown_type.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  db/migrate/20260810154331_add_target_created_by_index_to_reviewables.rb
  db/structure.sql
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/discourse-ai/app/models/reviewable_ai_chat_message.rb
  plugins/discourse-ai/app/models/reviewable_ai_post.rb
  plugins/discourse-ai/app/models/reviewable_ai_tool_action.rb
  plugins/discourse-post-voting/app/models/reviewable_post_voting_comment.rb
Due: rubocop, syntax_tree

DEV: Remove unused custom component hook from category edit panels (#42522)
  frontend/discourse/admin/components/edit-category-panel.gjs
Due: prettier, eslint, ember-template-lint

FIX: Preserve whitespace-only chunks when streaming structured output
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/lib/ai_helper/chat_thread_titler.rb
  plugins/discourse-ai/lib/automation/report_runner.rb
  plugins/discourse-ai/spec/lib/modules/ai_helper/assistant_spec.rb
Due: rubocop, syntax_tree

PERF: Add index on reviewables.target_created_by_id for staff_info queries (#42489)
  app/models/reviewable.rb
  app/models/reviewable_flagged_post.rb
  app/models/reviewable_post.rb
  app/models/reviewable_queued_post.rb
  app/models/reviewable_user.rb
  db/migrate/20260810154331_add_target_created_by_index_to_reviewables.rb
  plugins/chat/app/models/chat/reviewable_message.rb
  plugins/discourse-ai/app/models/reviewable_ai_chat_message.rb
  plugins/discourse-ai/app/models/reviewable_ai_post.rb
  plugins/discourse-post-voting/app/models/reviewable_post_voting_comment.rb
Due: rubocop, syntax_tree

DEV: Extract read_buffered_property_chunk helper
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/lib/ai_helper/chat_thread_titler.rb
  plugins/discourse-ai/lib/automation/report_runner.rb
  plugins/discourse-ai/lib/completions/structured_output.rb
  plugins/discourse-ai/lib/summarization/fold_content.rb
  plugins/discourse-ai/spec/lib/completions/structured_output_spec.rb
Due: rubocop, syntax_tree

DEV: Remove unused `DiscourseURL.controllerFor`
  frontend/discourse/app/lib/url.js
Due: prettier, eslint

FIX: Revalidate artifact sharing policies
  plugins/discourse-ai/app/controllers/discourse_ai/ai_bot/artifacts_controller.rb
  plugins/discourse-ai/spec/requests/ai_bot/artifacts_controller_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
