Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Fix readonly admin login spec
  spec/requests/session_controller_spec.rb
Due: rubocop

FIX: correctly update replies_count on chat_threads (#24711)
  plugins/chat/app/models/chat/thread.rb
Due: rubocop

DEV: Fix readonly admin login spec (#24714)
  spec/requests/session_controller_spec.rb
Due: rubocop

UX:; scope details change
  plugins/discourse-details/assets/stylesheets/details.scss
Due: none

UX:; scope details change (#24715)
  plugins/discourse-details/assets/stylesheets/details.scss
Due: none

Update translations
  config/locales/client.cs.yml
  config/locales/server.cs.yml
Due: yaml-syntax

UX: fix alignment
  app/assets/stylesheets/mobile/user.scss
Due: none

UX: fix alignment (#24718)
  app/assets/stylesheets/mobile/user.scss
Due: none

Update translations (#24717)
  config/locales/client.cs.yml
  config/locales/server.cs.yml
Due: yaml-syntax

Eject v2 plugins into its own workspace
  app/assets/javascripts/discourse-plugins-v2/.gitignore
  app/assets/javascripts/discourse-plugins-v2/lib/collect-plugin-features.cjs
  app/assets/javascripts/discourse-plugins-v2/lib/compile-plugin-features.cjs
  app/assets/javascripts/discourse-plugins-v2/package.json
  app/assets/javascripts/discourse-plugins-v2/rollup.config.mjs
  app/assets/javascripts/discourse-plugins-v2/src/index.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/package.json
  app/assets/javascripts/yarn.lock
  plugins-v2/chat-lite/addon-main.cjs
  plugins-v2/chat-lite/babel.config.json
  plugins-v2/chat-lite/package.json
  plugins-v2/chat-lite/rollup.config.mjs
  plugins-v2/chat-lite/src/components/header-icon.gjs
  plugins-v2/chat-lite/src/components/unused-component.gjs
  plugins-v2/chat-lite/src/connectors/extra-header-icons.gjs
  plugins-v2/chat-lite/src/markdown-features/scramble.js
  plugins-v2/chat-lite/src/services/chat.js
  plugins-v2/discourse-plugin-dev/package.json
  plugins-v2/discourse-plugin-dev/src/rollup/export-plugin-features.js
  plugins-v2/discourse-plugin-dev/src/rollup/index.js
  plugins-v2/package.json
  plugins-v2/yarn.lock
Due: prettier, eslint-js

Expose a declarative event handler api to v2 plugins
  app/assets/javascripts/discourse-plugins-v2/lib/compile-plugin-features.cjs
  app/assets/javascripts/discourse-plugins-v2/package.json
  app/assets/javascripts/discourse-plugins-v2/rollup.config.mjs
  app/assets/javascripts/discourse/app/instance-initializers/register-decorate-non-stream-cooked-element-handlers.js
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
Due: prettier, eslint-js

Add basic routing API for v2 plugins:
  app/assets/javascripts/discourse-plugin/package.json
  app/assets/javascripts/discourse-plugin/src/routing/route.js
  app/assets/javascripts/discourse-plugin/src/services/router.js
  app/assets/javascripts/discourse-plugins-v2/lib/compile-plugin-features.cjs
  app/assets/javascripts/discourse-plugins-v2/package.json
  app/assets/javascripts/discourse-plugins-v2/rollup.config.mjs
  app/assets/javascripts/discourse/app/components/plugin-outlets/sidebar-footer-actions.gjs
  app/assets/javascripts/discourse/app/components/sidebar/footer.hbs
  app/assets/javascripts/discourse/app/instance-initializers/register-plugin-routes.js
  app/assets/javascripts/discourse/app/mapping-router.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
  plugins/chat-lite/package.json
  plugins/chat-lite/src/connectors/sidebar-footer-actions.gjs
  plugins/chat-lite/src/route-maps/app.js
  plugins/chat-lite/src/routes/wow.gjs
  plugins/discourse-plugin-dev/src/rollup/export-plugin-features.js
Due: prettier, eslint-js

Expose some utils to v2 plugins
  app/assets/javascripts/discourse-plugin/package.json
  app/assets/javascripts/discourse-plugin/src/-private/lookup-service.js
  app/assets/javascripts/discourse-plugin/src/services/current-user.js
  app/assets/javascripts/discourse-plugin/src/services/site.js
  app/assets/javascripts/discourse-plugin/src/utils/ajax.js
  app/assets/javascripts/discourse-plugin/src/utils/i18n.js
  app/assets/javascripts/discourse-plugin/src/utils/icon-library.js
Due: prettier, eslint-js

Merge plugins-v2 folder into existing classic/v1 plugins foldder
  .gitignore
  app/assets/javascripts/discourse-plugins-v2/rollup.config.mjs
  app/assets/javascripts/discourse-plugins/index.js
  config/initializers/000-development_reload_warnings.rb
  lib/plugin/instance.rb
  lib/pretty_text.rb
  lib/stylesheet/watcher.rb
  plugins-v2/yarn.lock
  plugins/chat-lite/.gitignore
  plugins/chat-lite/addon-main.cjs
  plugins/chat-lite/babel.config.json
  plugins/chat-lite/package.json
  plugins/chat-lite/plugin.rb
  plugins/chat-lite/rollup.config.mjs
  plugins/chat-lite/src/components/header-icon.gjs
  plugins/chat-lite/src/components/unused-component.gjs
  plugins/chat-lite/src/connectors/extra-header-icons.gjs
  plugins/chat-lite/src/markdown-features/scramble.js
  plugins/chat-lite/src/services/chat.js
  plugins/discourse-plugin-dev/package.json
  plugins/discourse-plugin-dev/src/rollup/export-plugin-features.js
  plugins/discourse-plugin-dev/src/rollup/index.js
  plugins/package.json
Due: rubocop, prettier, eslint-js

Convert checklist to a no-build v2 plugin
  plugins/checklist/assets/javascripts/events/decorate-cooked-element.js
  plugins/checklist/assets/javascripts/events/decorate-non-stream-cooked-element.js
  plugins/checklist/assets/javascripts/markdown-features/checklist.js
  plugins/checklist/package.json
Due: prettier, eslint-js

Fix rollup watch isses
  app/assets/javascripts/discourse-plugins-v2/lib/compile-plugin-features.cjs
  plugins/chat-lite/package.json
  plugins/chat-lite/rollup.config.mjs
  plugins/discourse-plugin-dev/package.json
  plugins/discourse-plugin-dev/src/rollup/export-plugin-features.js
  plugins/discourse-plugin-dev/src/rollup/index.js
Due: prettier, eslint-js

v2 plugins don't have to be ember addons
  plugins/chat-lite/addon-main.cjs
  plugins/chat-lite/package.json
Due: none

Document the various moving parts
  app/assets/javascripts/discourse-plugin/README.md
  app/assets/javascripts/discourse-plugins-v2/README.md
  plugins/chat-lite/README.md
  plugins/checklist/README.md
  plugins/discourse-plugin-dev/README.md
Due: none

FIX: Ensure slugless topic URLs are correctly redirected
  app/assets/javascripts/discourse/app/routes/topic.js
Due: prettier, eslint-js

FIX: Ensure slugless topic URLs are correctly redirected (#24719)
  app/assets/javascripts/discourse/app/routes/topic.js
Due: prettier, eslint-js

DEV: Fix assertion in embedding test (#24694)
  spec/requests/embed_controller_spec.rb
Due: rubocop

DEV: Add `search-menu-before-advanced-search` plugin outlet
  app/assets/javascripts/discourse/app/components/search-menu.hbs
Due: none

DEV: Add `search-menu-before-advanced-search` plugin outlet (#24720)
  app/assets/javascripts/discourse/app/components/search-menu.hbs
Due: none

FIX: Account activation under ember-5 build
  app/assets/javascripts/discourse/scripts/activate-account.js
  app/views/users/activate_account.html.erb
Due: prettier, eslint-js

FIX: Account activation under ember-5 build (#24722)
  app/assets/javascripts/discourse/scripts/activate-account.js
  app/views/users/activate_account.html.erb
Due: prettier, eslint-js

DEV: Add topicNotificationLevel fn to post model
  app/assets/javascripts/discourse/app/models/post.js
Due: prettier, eslint-js

DEV: Add ember-5 to test matrix for core/chat system specs
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Add topicNotificationLevel fn to post model (#24723)
  app/assets/javascripts/discourse/app/models/post.js
Due: prettier, eslint-js

FIX: escape category description text
  app/assets/javascripts/discourse/app/helpers/category-link.js
Due: prettier, eslint-js

Redirect when step does not exist
  app/assets/javascripts/wizard/addon/routes/wizard-step.js
Due: prettier, eslint-js

[WIP] FEATURE: Site setting to display user avatars in notifications list
  app/assets/javascripts/discourse/app/components/user-menu/menu-item.hbs
  app/assets/javascripts/discourse/app/components/user-menu/menu-item.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.hbs
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/components/user-menu/notification-avatar.gjs
  app/assets/javascripts/discourse/app/lib/user-menu/notification-item.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/controllers/notifications_controller.rb
  app/models/notification.rb
  app/serializers/notification_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

UX: More adjustments
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: escape category description text (#24724)
  app/assets/javascripts/discourse/app/helpers/category-link.js
Due: prettier, eslint-js

A11Y: allow tab titles to use default translation
  app/assets/javascripts/discourse/app/lib/user-menu/tab.js
Due: prettier, eslint-js

UX: More adjustments (#24726)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

WIP
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/lib/user-menu/notification-item.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/controllers/notifications_controller.rb
  config/locales/server.en.yml
  config/site_settings.yml
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Plugin outlet around user menu empty state
  app/assets/javascripts/discourse/app/components/user-menu/items-list.hbs
Due: none

FIX: shortcut typo
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint
