Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: prevents readonly mode to crash channel_messages#index (#22987)
  plugins/chat/app/services/chat/list_channel_messages.rb
  plugins/chat/spec/requests/chat/api/channel_messages_controller_spec.rb
Due: rubocop

DEV: Avoid site-header error when rendering fails
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

Fix filter route
  app/assets/javascripts/discourse/app/components/navigation/filter.js
  app/assets/javascripts/discourse/app/templates/discovery/filter.hbs
Due: prettier, eslint-js

Fixup category route
  app/assets/javascripts/discourse/app/routes/build-category-route.js
Due: prettier, eslint-js

DEV: Avoid site-header error when rendering fails (#22993)
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

test for tag description links
  spec/models/tag_spec.rb
Due: rubocop

DEV: Plugin API method to replace post-menu buttons
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/widgets/post-menu.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/post-menu-test.js
Due: prettier, eslint-js

UX: basic render-tag test
  app/assets/javascripts/discourse/tests/unit/lib/render-tag-test.js
Due: prettier, eslint-js

UX: fix linting
  app/assets/javascripts/discourse/app/components/tag-info.hbs
Due: none

A11Y: Fix selecting topic when navigation via keyboard
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  spec/system/page_objects/components/topic_list.rb
  spec/system/topic_list_focus_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Add jira plugin to official list of plugins
  lib/plugin/metadata.rb
Due: rubocop

FIX: Don't cut browse more message on the mobile app.
  app/assets/javascripts/discourse/app/components/more-topics.hbs
  app/assets/javascripts/discourse/app/services/more-topics-preference-tracking.js
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/topic-post.scss
Due: prettier, eslint-js

Update toggle-topic-summary.js
  app/assets/javascripts/discourse/app/widgets/toggle-topic-summary.js
Due: prettier, eslint-js

FIX: Don't cut browse more message on the mobile app. (#22998)
  app/assets/javascripts/discourse/app/components/more-topics.hbs
  app/assets/javascripts/discourse/app/services/more-topics-preference-tracking.js
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/topic-post.scss
Due: prettier, eslint-js

Add test for sidebar link scenario
  spec/system/topic_list_focus_spec.rb
Due: rubocop

Refactor following code review
  app/assets/javascripts/discourse/app/components/topic-entrance.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/routes/topic.js
  spec/system/page_objects/components/topic_list.rb
  spec/system/topic_list_focus_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Add class when replies above exists
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

Also support clicking date in Activity column
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/stylesheets/common/base/_topic-list.scss
  spec/system/topic_list_focus_spec.rb
Due: rubocop, prettier, eslint-js

UX: Differentiate focus state from hover state (#22985)
  app/assets/stylesheets/common/components/buttons.scss
  app/assets/stylesheets/wcag.scss
Due: none

DEV: Add class when replies above exists (#23000)
  app/assets/javascripts/discourse/app/widgets/post.js
Due: prettier, eslint-js

DEV: Raise exception when capybara waiter times out
  spec/rails_helper.rb
Due: rubocop

Remove confusing 'matcher' terminology
  spec/rails_helper.rb
Due: rubocop

A11Y: Fix selecting topic when navigation via keyboard (#22996)
  app/assets/javascripts/discourse/app/components/topic-entrance.js
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  app/assets/stylesheets/common/base/_topic-list.scss
  spec/system/page_objects/components/topic_list.rb
  spec/system/topic_list_focus_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Fix chat visit_thread helper
  plugins/chat/spec/system/page_objects/chat/chat.rb
Due: rubocop

FIX: Search by tag context was broken on mobile
  app/controllers/search_controller.rb
  spec/requests/search_controller_spec.rb
Due: rubocop

FIX: switch sidebar panel button state
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

DEV: Test fix
  spec/multisite/s3_store_spec.rb
  spec/requests/api/schemas/json/upload_generate_presigned_put_response.json
  spec/requests/uploads_controller_spec.rb
Due: rubocop

FIX: disable button
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: isSwitching
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: reorder
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: allow lightbox cleanup on navigation changes (#22954)
  app/assets/javascripts/discourse/app/lib/lightbox/constants.js
Due: prettier, eslint-js

FIX: use finally instead of then
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: change panel in finally block
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: final
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: disable switch sidebar panel button after click (#23007)
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.hbs
  app/assets/javascripts/discourse/app/components/sidebar/switch-panel-buttons.js
Due: prettier, eslint-js

FIX: Cook hashtags in small action posts
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  spec/system/hashtag_autocomplete_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Cook hashtags in small action posts (#23008)
  app/assets/javascripts/discourse/app/widgets/post-small-action.js
  spec/system/hashtag_autocomplete_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Add audio.com onebox provider (#22936)
  lib/onebox/engine/audio_com_onebox.rb
  spec/fixtures/onebox/audio_com_audio_oembed.response
  spec/fixtures/onebox/audio_com_collection_oembed.response
  spec/lib/onebox/engine/audio_com_onebox_spec.rb
Due: rubocop
