Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

fix user_controller, conditionally render IP fields on Admin UI
  app/assets/javascripts/admin/addon/templates/user-index.gjs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/controllers/admin/users_controller.rb
Due: rubocop, syntax_tree, ember-template-lint

lint fix
  app/assets/javascripts/admin/addon/templates/user-index.gjs
Due: none

removed hidden from moderators_view_ips
  config/site_settings.yml
Due: yaml-syntax

add field to site_settings
  config/site_settings.yml
Due: yaml-syntax

update user_controllers and history_serializer
  app/controllers/admin/users_controller.rb
Due: rubocop, syntax_tree

small tweaks
  app/assets/javascripts/admin/addon/templates/user-index.gjs
Due: none

fix conditional on admin ui
  app/assets/javascripts/admin/addon/templates/user-index.hbs
  app/serializers/current_user_serializer.rb
Due: rubocop, syntax_tree, ember-template-lint

refactor admin_user_serializer
  app/serializers/admin_user_serializer.rb
Due: rubocop, syntax_tree

append include_ on can_see_ip, add description to setting
  app/serializers/admin_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree

Removes .hbs files
  app/assets/javascripts/admin/addon/templates/logs.hbs
  app/assets/javascripts/admin/addon/templates/user-index.hbs
Due: ember-template-lint

update admin_user_serializer
  app/serializers/admin_user_serializer.rb
Due: rubocop, syntax_tree

restrict screened-ip access
  app/assets/javascripts/admin/addon/templates/logs.hbs
  app/controllers/admin/screened_ip_addresses_controller.rb
Due: rubocop, syntax_tree, ember-template-lint

update rspec tests
  app/controllers/admin/screened_ip_addresses_controller.rb
  app/serializers/current_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree

gets specs working, UI visible
  app/assets/javascripts/admin/addon/templates/user-index.gjs
Due: none

remove claude file
  .claude/settings.local.json
Due: none

update rspec tests
  app/controllers/admin/screened_ip_addresses_controller.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree

append include_ on can_see_ip, add description to setting
  app/serializers/admin_user_serializer.rb
  app/serializers/current_user_serializer.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Add value transformer for post edits indicator labels (#34075)
  app/assets/javascripts/discourse/app/components/post/meta-data/edits-indicator.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/tests/integration/components/post/meta-data/edits-indicator-test.gjs
Due: prettier, eslint

DEV: Ensure poll with @mentions and user statuses renders without errors (#34014)
  app/assets/javascripts/discourse/app/components/decorated-html.gjs
  app/assets/javascripts/discourse/tests/fixtures/poll.js
  plugins/poll/test/javascripts/acceptance/poll-pie-chart-test.js
Due: prettier, eslint

DEV: Simplify post decorators by removing `afterAdopt` handling (#34020)
  app/assets/javascripts/discourse/app/components/decorated-html.gjs
  app/assets/javascripts/discourse/app/components/post/cooked-html.gjs
  app/assets/javascripts/discourse/app/lib/lazy-load-images.js
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
Due: prettier, eslint

fix when model has no asymmetric prefix
  plugins/discourse-ai/lib/embeddings/strategies/truncation.rb
  plugins/discourse-ai/lib/embeddings/vector.rb
Due: rubocop, syntax_tree

fix tests
  plugins/discourse-ai/spec/lib/modules/embeddings/vector_spec.rb
Due: rubocop, syntax_tree

Update filter-navigation-menu.gjs
  app/assets/javascripts/discourse/app/components/discovery/filter-navigation-menu.gjs
Due: none

DEV: merge post-action-feedback CSS into common file
  app/assets/stylesheets/common/post-action-feedback.scss
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/post-action-feedback.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/post-action-feedback.scss
Due: prettier-scss

Init
  app/assets/javascripts/discourse/app/components/category-logo.gjs
  app/assets/javascripts/discourse/app/components/discovery/navigation.gjs
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/desktop/topic-list.scss
Due: prettier-scss

remove test
  plugins/discourse-ai/spec/lib/modules/embeddings/semantic_search_spec.rb
Due: rubocop, syntax_tree

UX: finalize
  app/assets/javascripts/discourse/app/components/discovery/navigation.gjs
  app/assets/stylesheets/common/base/_topic-list.scss
Due: prettier-scss
