Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets|plugins/.+?/assets|themes
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets|themes
  run: pnpm stylelint {staged_files}

DEV: Add specs
  spec/lib/site_setting_extension_spec.rb
Due: rubocop, syntax_tree

PERF: Use SQL COUNT for chat_enabled_user_count in group serializer
  plugins/chat/app/serializers/chat/chatable_group_serializer.rb
  plugins/chat/spec/serializer/chat/chatable_group_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Remove date and convert to datetime
  config/locales/server.en.yml
  frontend/discourse/admin/components/schema-setting/field.gjs
  frontend/discourse/admin/components/schema-setting/types/datetime.gjs
  frontend/discourse/admin/components/site-setting.gjs
  frontend/discourse/admin/components/site-settings/date.gjs
  frontend/discourse/admin/components/site-settings/datetime.gjs
  lib/schema_settings_object_validator.rb
  lib/site_settings/type_supervisor.rb
  lib/validators/date_setting_validator.rb
  lib/validators/datetime_setting_validator.rb
  spec/lib/schema_settings_object_validator_spec.rb
  spec/lib/site_setting_extension_spec.rb
  spec/lib/site_settings/type_supervisor_spec.rb
  spec/lib/validators/date_setting_validator_spec.rb
  spec/lib/validators/datetime_setting_validator_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Cleanup
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

PERF: Use SQL COUNT for chat_enabled_user_count in group serializer (#36893)
  plugins/chat/app/serializers/chat/chatable_group_serializer.rb
  plugins/chat/spec/serializer/chat/chatable_group_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Cleanup naming and setting values
  frontend/discourse/admin/components/schema-setting/types/datetime.gjs
  frontend/discourse/admin/components/site-settings/datetime.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add `SiteSettingCondition` and `ViewportCondition` components for block rendering
  frontend/discourse/app/components/blocks/conditional/site-setting-condition.gjs
  frontend/discourse/app/components/blocks/conditional/viewport-condition.gjs
Due: prettier, eslint, ember-template-lint

DEV: Add plugin outlet for likes customization
  frontend/discourse/app/components/post/menu/liked-users-list.gjs
Due: prettier, eslint, ember-template-lint

add delete logic to suspense modal
  app/services/user/suspend.rb
  config/locales/client.en.yml
  frontend/discourse/admin/components/admin-penalty-post-action.gjs
  frontend/discourse/admin/components/modal/penalize-user.gjs
  frontend/discourse/admin/services/admin-tools.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

added background job + decider for fg vs bg
  app/controllers/admin/users_controller.rb
  app/jobs/regular/delete_user_posts.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  frontend/discourse/admin/components/modal/delete-posts-confirmation.gjs
  frontend/discourse/admin/controllers/admin-user/index.js
  frontend/discourse/admin/models/admin-user.js
  frontend/discourse/admin/services/admin-tools.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

rename was unnecessary
  frontend/discourse/admin/components/modal/delete-posts-confirmation.gjs
  frontend/discourse/admin/controllers/admin-user/index.js
Due: prettier, eslint, ember-template-lint

remove unused methods
  frontend/discourse/admin/controllers/admin-user/index.js
Due: prettier, eslint

add new email to template
  app/controllers/admin/email_templates_controller.rb
Due: rubocop, syntax_tree

add tests for users controller
  app/controllers/admin/users_controller.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree

add username to queue alert
  config/locales/client.en.yml
  frontend/discourse/admin/services/admin-tools.js
Due: prettier, eslint, yaml-syntax, i18n-lint

add description for server setting
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

update suspend post_action validation spec
  spec/services/user/suspend_spec.rb
Due: rubocop, syntax_tree

added test for delete user posts job
  app/jobs/regular/delete_user_posts.rb
  spec/jobs/delete_user_posts_spec.rb
Due: rubocop, syntax_tree

add user tags for email
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

DEV: remove instruction for generation of jsdoc
  AI-AGENTS.md
Due: none

DEV: Migrate and centralize conditional logic into block conditions
  frontend/discourse/app/blocks.js
  frontend/discourse/app/blocks/conditions/base.js
  frontend/discourse/app/blocks/conditions/index.js
  frontend/discourse/app/blocks/conditions/route.js
  frontend/discourse/app/blocks/conditions/setting.js
  frontend/discourse/app/blocks/conditions/user.js
  frontend/discourse/app/blocks/conditions/viewport.js
  frontend/discourse/app/components/block-outlet.gjs
  frontend/discourse/app/components/blocks/conditional/route-condition.gjs
  frontend/discourse/app/components/blocks/conditional/site-setting-condition.gjs
  frontend/discourse/app/components/blocks/conditional/user-condition.gjs
  frontend/discourse/app/components/blocks/conditional/viewport-condition.gjs
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/services/block-condition-evaluator.js
  frontend/discourse/tests/unit/blocks/conditions/route-test.js
  frontend/discourse/tests/unit/blocks/conditions/setting-test.js
  frontend/discourse/tests/unit/blocks/conditions/user-test.js
  frontend/discourse/tests/unit/blocks/conditions/viewport-test.js
  frontend/discourse/tests/unit/services/block-condition-evaluator-test.js
Due: prettier, eslint, ember-template-lint

UX: Modifications for starred channels behavior
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/spec/system/drawer/starred_channels_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: remove instruction for generation of jsdoc (#36896)
  AI-AGENTS.md
Due: none

fix spec
  plugins/chat/spec/system/drawer/starred_channels_spec.rb
Due: rubocop, syntax_tree

DEV: Add comprehensive tests for `BlockOutlet` and `BlockGroup` components
  frontend/discourse/app/components/block-outlet.gjs
  frontend/discourse/app/components/blocks/block-group.gjs
  frontend/discourse/tests/helpers/qunit-helpers.js
  frontend/discourse/tests/integration/components/block-group-test.gjs
  frontend/discourse/tests/integration/components/block-outlet-conditions-test.gjs
  frontend/discourse/tests/integration/components/block-outlet-test.gjs
  frontend/discourse/tests/unit/lib/block-outlet-test.js
Due: prettier, eslint, ember-template-lint

UX: Require confirmation for clean_up_inactive_users_after_days setting
  config/locales/client.en.yml
  config/site_settings.yml
Due: yaml-syntax, i18n-lint

DEV: Add `registerBlock` API and enhance block validation system
  frontend/discourse/app/blocks/block-group.gjs
  frontend/discourse/app/blocks/index.js
  frontend/discourse/app/components/block-outlet.gjs
  frontend/discourse/app/initializers/freeze-valid-blocks.js
  frontend/discourse/app/lib/blocks/arg-validation.js
  frontend/discourse/app/lib/blocks/registration.js
  frontend/discourse/app/lib/plugin-api.gjs
  frontend/discourse/app/services/blocks.js
  frontend/discourse/tests/helpers/qunit-helpers.js
  frontend/discourse/tests/integration/components/block-group-test.gjs
  frontend/discourse/tests/integration/components/block-outlet-conditions-test.gjs
  frontend/discourse/tests/integration/components/block-outlet-test.gjs
  frontend/discourse/tests/unit/lib/block-outlet-test.js
  frontend/discourse/tests/unit/lib/blocks/arg-validation-test.js
  frontend/discourse/tests/unit/lib/blocks/registration-test.js
  frontend/discourse/tests/unit/services/blocks-test.js
Due: prettier, eslint, ember-template-lint

DEV: Test fix
  spec/system/admin_site_setting_bulk_action_spec.rb
Due: rubocop, syntax_tree

remove stage mode which was not working well
  app/assets/stylesheets/common/base/d-image-grid.scss
  config/locales/client.en.yml
  frontend/discourse-markdown-it/src/features/image-grid.js
  frontend/discourse/app/components/image-carousel.gjs
  frontend/discourse/app/instance-initializers/post-decorations.js
  frontend/discourse/app/lib/image-grid-carousel.js
  frontend/discourse/app/static/prosemirror/extensions/grid.js
  frontend/discourse/tests/integration/components/image-carousel-test.gjs
  spec/system/image_grid_carousel_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

remove pointless comments
  frontend/discourse/app/components/image-carousel.gjs
Due: prettier, eslint, ember-template-lint

comment cleanup
  config/locales/client.en.yml
  frontend/discourse/app/components/image-carousel.gjs
  frontend/discourse/app/lib/columns.js
  frontend/discourse/app/lib/image-grid-carousel.js
  frontend/discourse/app/static/prosemirror/extensions/grid.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FEATURE: carousel mode for image grid
  app/assets/stylesheets/common/base/d-image-grid.scss
  app/assets/stylesheets/common/rich-editor/rich-editor.scss
  config/locales/client.en.yml
  frontend/discourse-markdown-it/src/features/image-grid.js
  frontend/discourse/app/components/image-grid-carousel.gjs
  frontend/discourse/app/instance-initializers/post-decorations.js
  frontend/discourse/app/lib/columns.js
  frontend/discourse/app/lib/image-grid-carousel.js
  frontend/discourse/app/static/prosemirror/extensions/grid.js
  frontend/discourse/tests/unit/lib/pretty-text-test.js
  spec/system/image_grid_carousel_spec.rb
  spec/system/page_objects/components/composer_image_grid.rb
  spec/system/page_objects/components/image_grid_carousel.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

improve styling
  app/assets/stylesheets/common/base/d-image-grid.scss
  frontend/discourse/app/components/image-grid-carousel.gjs
  frontend/discourse/app/lib/image-grid-carousel.js
Due: prettier, eslint, ember-template-lint, stylelint

UX: styling + acc adjustment to slider
  app/assets/stylesheets/common/base/d-image-grid.scss
Due: prettier, stylelint

Implement wrap around, fix jittery carousels
  app/assets/stylesheets/common/base/d-image-grid.scss
  frontend/discourse/app/components/image-grid-carousel.gjs
  spec/system/image_grid_carousel_spec.rb
  spec/system/page_objects/components/image_grid_carousel.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

Refactor CSS
  app/assets/stylesheets/common/base/d-image-grid.scss
  frontend/discourse/app/components/image-grid-carousel.gjs
Due: prettier, eslint, ember-template-lint, stylelint

fix tests
  frontend/discourse/app/lib/columns.js
Due: prettier, eslint

improve styling
  app/assets/stylesheets/common/base/d-image-grid.scss
Due: prettier, stylelint

UX: Require confirmation for clean_up_inactive_users_after_days setting (#36898)
  config/locales/client.en.yml
  config/site_settings.yml
  spec/system/admin_site_setting_bulk_action_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

CSS cleanup
  app/assets/stylesheets/common/base/d-image-grid.scss
Due: prettier, stylelint

Path conditions:
  rubocop: any of: *.{rb,rake,thor}
  syntax_tree: any of: *.{rb,rake,thor}
  prettier: any of: *.{js,gjs,hbs,scss,css,cjs,mjs}
  eslint: any of: *.{js,gjs}
  ember-template-lint: any of: *.{hbs,gjs}
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: *.scss
