Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Run Prettier
  app/assets/javascripts/discourse/app/controllers/delete-topic-confirm.js
  app/assets/javascripts/discourse/app/controllers/topic.js
Due: prettier, eslint-js

DEV: Upgrade to use action decorator
  app/assets/javascripts/discourse/app/controllers/delete-topic-confirm.js
Due: prettier, eslint-js

LINT: Add brackets around else, standard styling
  app/assets/javascripts/discourse/app/controllers/topic.js
Due: prettier, eslint-js

Add deletingTopic declaration
  app/assets/javascripts/discourse/app/controllers/delete-topic-confirm.js
Due: prettier, eslint-js

SPEC: Add acceptance test - deleting popular topic
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
Due: prettier, eslint-js

FIX: add qunit tests
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/unit/controllers/topic-test.js
Due: prettier, eslint-js

Fix slow bookmark first post reminder at query
  lib/topic_view.rb
Due: rubocop

PERF: we don't need to use a huge image to test thumbnails
  spec/integration/topic_thumbnail_spec.rb
  spec/models/topic_thumbnail_spec.rb
Due: rubocop

FIX: Prevent slow bookmark first post reminder at query for topic (#11024)
  lib/topic_view.rb
Due: rubocop

FIX: Reset invite when resending it (#11013)
  app/models/invite.rb
  spec/models/invite_spec.rb
Due: rubocop

DEV: include cors header to public file server in dev environment. (#11007)
  config/environments/development.rb
Due: rubocop

DEV: Add api docs for invite and group update endpoint (#11019)
  spec/requests/api/groups_spec.rb
  spec/requests/api/invites_spec.rb
  spec/requests/api/topics_spec.rb
Due: rubocop

UX: prioritize "invite by link" option (for staff users)
  app/assets/javascripts/discourse/app/routes/user-invited-show.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

Remove more global variables from tests.
  .eslintrc
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/admin-site-text-test.js
  app/assets/javascripts/discourse/tests/acceptance/category-edit-test.js
  app/assets/javascripts/discourse/tests/acceptance/click-track-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-actions-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-tags-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-test.js
  app/assets/javascripts/discourse/tests/acceptance/jump-to-test.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-discovery-test.js
  app/assets/javascripts/discourse/tests/acceptance/unknown-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-anonymous-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  app/assets/javascripts/discourse/tests/integration/components/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-drop-test.js
  app/assets/javascripts/discourse/tests/integration/components/text-field-test.js
  app/assets/javascripts/discourse/tests/integration/widgets/user-menu-test.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/javascripts/discourse/tests/unit/controllers/bookmark-test.js
  app/assets/javascripts/discourse/tests/unit/lib/bookmark-test.js
  app/assets/javascripts/discourse/tests/unit/lib/category-badge-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-edit-history-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-profile-page-test.js
  app/assets/javascripts/discourse/tests/unit/lib/click-track-test.js
  app/assets/javascripts/discourse/tests/unit/lib/computed-test.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/assets/javascripts/discourse/tests/unit/lib/url-test.js
  app/assets/javascripts/discourse/tests/unit/models/category-test.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
  app/assets/javascripts/discourse/tests/unit/models/rest-model-test.js
  app/assets/javascripts/discourse/tests/unit/models/topic-tracking-state-test.js
  app/assets/javascripts/discourse/tests/unit/models/user-test.js
  app/assets/javascripts/test-shims.js
  plugins/discourse-local-dates/test/javascripts/lib/local-date-builder-test.js.es6
Due: prettier, eslint-es6, eslint-js

Use response helper
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

FIX: ignore PGP data in emails by MIME type
  config/site_settings.yml
Due: yaml-syntax

UX: prioritize "invite by link" option (for staff users) (#11028)
  app/assets/javascripts/discourse/app/routes/user-invited-show.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FIX: iPad app sticky header positioning
  app/assets/stylesheets/common/components/footer-nav.scss
Due: none

FIX: iPad app sticky header positioning (#11029)
  app/assets/stylesheets/common/components/footer-nav.scss
Due: none

FIX - don't attempt to optimized animated images
  lib/upload_creator.rb
  spec/fixtures/images/animated.gif
  spec/lib/upload_creator_spec.rb
Due: rubocop

ensure_safe_paths before calling ImageMagick
  lib/upload_creator.rb
Due: rubocop

FIX: Test can be flaky running in out of focus browser
  app/assets/javascripts/discourse/tests/acceptance/sign-in-test.js
Due: prettier, eslint-js

FIX - don't attempt to optimized animated images (#11031)
  lib/upload_creator.rb
  spec/fixtures/images/animated.gif
  spec/lib/upload_creator_spec.rb
Due: rubocop

FIX: stub thumbnail_sizes instead of ImageSizer
  spec/models/topic_thumbnail_spec.rb
Due: rubocop

PERF: apply sprockets patch in a test environment
  lib/freedom_patches/sprockets_patches.rb
Due: rubocop

PERF: apply sprockets patch in a test environment (#11034)
  lib/freedom_patches/sprockets_patches.rb
Due: rubocop

FEATURE: disable default bing throttle
  config/site_settings.yml
Due: yaml-syntax

FIX: adjust user card position, follow-up to da5841d
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

FIX: adjust user card position, follow-up to da5841d (#11036)
  app/assets/javascripts/discourse/app/mixins/card-contents-base.js
Due: prettier, eslint-js

FEATURE: disable default bing throttle (#11035)
  config/site_settings.yml
Due: yaml-syntax

PERF: we don't need to use a huge image to test thumbnails (#11025)
  spec/integration/topic_thumbnail_spec.rb
  spec/models/topic_thumbnail_spec.rb
Due: rubocop

Fix group SMTP and message builder to always use from addr for IMAP
  app/mailers/group_smtp_mailer.rb
  app/models/group.rb
  lib/email/message_builder.rb
  spec/mailers/group_smtp_mailer_spec.rb
  spec/models/group_spec.rb
Due: rubocop

Fix recipient user mismatch issue
  app/jobs/regular/group_smtp_email.rb
  spec/jobs/regular/group_smtp_email_spec.rb
Due: rubocop

Fix typos
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

adds a test
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
Due: prettier, eslint-js

FIX: converts html to text to use it as title attribute (#11009)
  app/assets/javascripts/discourse/tests/integration/components/select-kit/category-chooser-test.js
  app/assets/javascripts/select-kit/addon/components/category-row.js
Due: prettier, eslint-js
