Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn pprettier --list-different **/*.js
    prettier-scss:
      run: yarn pprettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: yarn run ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: Move posts modal passing topic instance rather than ID (#30622)
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.hbs
  app/assets/javascripts/discourse/app/components/modal/move-to-topic.js
Due: prettier, eslint, ember-template-lint

improve component and add tests
  app/assets/javascripts/discourse/app/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/components/d-navigation.js
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
  app/assets/stylesheets/common/base/topic-drafts-menu.scss
  spec/system/drafts_dropdown_spec.rb
  spec/system/page_objects/components/drafts_menu.rb
  spec/system/page_objects/modals/discard_draft.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

DEV: Remove an old deprecated setting (#30620)
  lib/site_settings/deprecated_settings.rb
Due: rubocop, syntax_tree

DEV: skip flaky chat composer emoji spec
  plugins/chat/spec/system/chat_composer_spec.rb
Due: rubocop, syntax_tree

DEV: skip flaky chat composer emoji spec (#30623)
  plugins/chat/spec/system/chat_composer_spec.rb
Due: rubocop, syntax_tree

DEV: Introduce 'dev tools' toolbar and plugin-outlet debugger
  app/assets/javascripts/discourse/app/initializers/dev-tools.js
  app/assets/javascripts/discourse/app/lib/plugin-connectors.js
  app/assets/javascripts/discourse/app/static/dev-tools/index.js
  app/assets/javascripts/discourse/app/static/dev-tools/plugin-outlet-debug/args-table.gjs
  app/assets/javascripts/discourse/app/static/dev-tools/plugin-outlet-debug/index.gjs
  app/assets/javascripts/discourse/app/static/dev-tools/plugin-outlet-debug/outlet-info.gjs
  app/assets/javascripts/discourse/app/static/dev-tools/state.js
  app/assets/javascripts/discourse/app/static/dev-tools/styles.css
  app/assets/javascripts/discourse/app/static/dev-tools/toolbar.gjs
  app/assets/javascripts/discourse/package.json
  package.json
  pnpm-lock.yaml
  spec/system/dev_tools_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

color
  app/assets/javascripts/discourse/app/static/dev-tools/styles.css
Due: none

typo
  spec/system/dev_tools_spec.rb
Due: rubocop, syntax_tree

DEV: Display feedback in the Glimmer post menu on iOS / iPadOS devices (#30594)
  app/assets/javascripts/discourse/app/lib/post-action-feedback.js
Due: prettier, eslint

DEV: Enable the Glimmer post menu admin notices (#30595)
  app/assets/javascripts/discourse/app/services/deprecation-warning-handler.js
Due: prettier, eslint

DEV: Update copyright year in README
  README.md
Due: none

Add verbose localization toggle and `--active` states
  app/assets/javascripts/discourse-i18n/src/index.js
  app/assets/javascripts/discourse/app/static/dev-tools/styles.css
  app/assets/javascripts/discourse/app/static/dev-tools/toolbar.gjs
Due: prettier, eslint

DEV: Drop deprecated `decorateTopicTitle` API
  app/assets/javascripts/discourse/app/components/topic-list-item.js
  app/assets/javascripts/discourse/app/components/topic-list/item.gjs
  app/assets/javascripts/discourse/app/components/topic-title.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.gjs
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
  docs/CHANGELOG-JAVASCRIPT-PLUGIN-API.md
Due: prettier, eslint

Update translations
  config/locales/client.cs.yml
  config/locales/client.he.yml
  config/locales/server.cs.yml
  config/locales/server.he.yml
  config/locales/server.ug.yml
  plugins/automation/config/locales/client.he.yml
  plugins/automation/config/locales/server.cs.yml
  plugins/discourse-local-dates/config/locales/server.sq.yml
  plugins/discourse-narrative-bot/config/locales/server.ug.yml
  plugins/discourse-presence/config/locales/server.sq.yml
  plugins/footnote/config/locales/server.sq.yml
  plugins/poll/config/locales/server.sq.yml
  plugins/spoiler-alert/config/locales/server.sq.yml
  plugins/styleguide/config/locales/server.sq.yml
Due: yaml-syntax

DEV: Fixes triple click selection in WebKit derived browsers
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/stylesheets/common/base/topic-post.scss
Due: prettier, prettier-scss, eslint

Fix broken tests
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/tests/acceptance/fast-edit-test.js
Due: prettier, eslint

DEV: Refactor `NotificationSerializer#acting_user_avatar_template`
  Gemfile
  Gemfile.lock
  app/controllers/notifications_controller.rb
  app/controllers/users_controller.rb
  app/models/notification.rb
  app/serializers/notification_serializer.rb
  spec/models/notification_spec.rb
  spec/requests/notifications_controller_spec.rb
  spec/requests/users_controller_spec.rb
  spec/serializers/notification_serializer_spec.rb
Due: rubocop, syntax_tree

try out goldiloader
  Gemfile
  Gemfile.lock
  app/models/notification.rb
  app/serializers/notification_serializer.rb
Due: rubocop, syntax_tree

FIX: Name field should appear in the signup form for login-required sites
  app/models/site.rb
  app/serializers/site_serializer.rb
  spec/system/page_objects/modals/signup.rb
  spec/system/page_objects/pages/signup.rb
  spec/system/signup_spec.rb
Due: rubocop, syntax_tree

FIX: Name field should appear in the signup form for login-required sites (#30634)
  app/models/site.rb
  app/serializers/site_serializer.rb
  spec/system/page_objects/modals/signup.rb
  spec/system/page_objects/pages/signup.rb
  spec/system/signup_spec.rb
Due: rubocop, syntax_tree

FIX: Cleaned up horizontal nav scrolling so arrows show/hide properly (#30621)
  app/assets/javascripts/discourse/app/components/horizontal-overflow-nav.js
Due: prettier, eslint

FIX: system tests
  app/assets/javascripts/discourse/tests/acceptance/admin-permalink-test.js
  spec/system/admin_permalinks_page_spec.rb
  spec/system/page_objects/pages/admin_permalinks.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: More concise way to define filteredLinks
  app/assets/javascripts/admin/addon/models/permalink.js
Due: prettier, eslint

DEV: directly reference nameValidationHelper.nameValidation instead of alias
  app/assets/javascripts/discourse/app/components/modal/create-account.hbs
  app/assets/javascripts/discourse/app/components/modal/create-account.js
  app/assets/javascripts/discourse/app/controllers/invites-show.js
  app/assets/javascripts/discourse/app/controllers/signup.js
  app/assets/javascripts/discourse/app/templates/invites/show.hbs
  app/assets/javascripts/discourse/app/templates/signup.hbs
Due: prettier, eslint, ember-template-lint

DEV: Convert API keys to Admin UI guidelines
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Include user who created API key in listing
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Use new DPageHeader
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, ember-template-lint

FEATURE: show silence reason when viewing silenced users
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/stylesheets/common/admin/users.scss
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_list_serializer.rb
  config/locales/client.en.yml
  lib/admin_user_index_query.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Properly mark async/await functions
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
Due: none

DEV: use alias computed property to ensure dependent function updates
  app/assets/javascripts/discourse/app/components/modal/create-account.js
  app/assets/javascripts/discourse/app/controllers/signup.js
Due: prettier, eslint

FIX: filter by external link
  app/assets/javascripts/admin/addon/models/permalink.js
Due: prettier, eslint

Use FontSelector for font settings.
  app/assets/javascripts/admin/addon/components/site-settings/font-list.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.js
  config/site_settings.yml
Due: prettier, eslint, yaml-syntax

comment out spec
  spec/requests/api/users_spec.rb
Due: rubocop, syntax_tree

FEATURE: show silence reason when viewing silenced users (#30635)
  app/assets/javascripts/admin/addon/controllers/admin-users-list-show.js
  app/assets/javascripts/admin/addon/templates/users-list-show.hbs
  app/assets/stylesheets/common/admin/users.scss
  app/controllers/admin/users_controller.rb
  app/serializers/admin_user_list_serializer.rb
  config/locales/client.en.yml
  lib/admin_user_index_query.rb
  spec/requests/admin/users_controller_spec.rb
  spec/requests/api/users_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

Ensure onebox requests ask for the correct language.
  lib/onebox/helpers.rb
  lib/oneboxer.rb
  spec/lib/oneboxer_spec.rb
Due: rubocop, syntax_tree

add to translations
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

linting
  app/assets/javascripts/discourse/app/components/topic-drafts-dropdown.gjs
Due: none

prevents ios bug when showing picker from more
  app/assets/stylesheets/mobile/components/emoji-picker.scss
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
Due: prettier, prettier-scss, eslint
