Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

FEATURE: Log in with a one-time email code
  app/assets/stylesheets/common/login/_index.scss
  app/assets/stylesheets/common/login/code-login-form.scss
  app/controllers/admin/email_templates_controller.rb
  app/controllers/session_controller.rb
  app/jobs/regular/send_email_login_code.rb
  app/jobs/scheduled/clean_up_email_login_codes.rb
  app/mailers/email_login_code_mailer.rb
  app/models/email_login_code.rb
  app/services/email_login_code/redeem.rb
  app/services/email_login_code/request.rb
  app/services/email_login_code/verify.rb
  app/services/user/action/find_by_email.rb
  config/locales/client.en.yml
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  db/migrate/20260610205840_create_email_login_codes.rb
  db/structure.sql
  frontend/discourse/app/components/code-login-form.gjs
  frontend/discourse/app/components/local-login-form.gjs
  frontend/discourse/app/controllers/login.js
  frontend/discourse/app/templates/login.gjs
  frontend/discourse/tests/helpers/form-kit-assertions.js
  frontend/discourse/tests/helpers/form-kit-helper.js
  frontend/discourse/tests/integration/components/code-login-form-test.gjs
  lib/validators/enable_local_logins_via_code_validator.rb
  spec/jobs/regular/send_email_login_code_spec.rb
  spec/lib/read_only_mixin_spec.rb
  spec/lib/validators/enable_local_logins_via_code_validator_spec.rb
  spec/models/email_login_code_spec.rb
  spec/requests/session_controller_spec.rb
  spec/services/email_login_code/redeem_spec.rb
  spec/services/email_login_code/request_spec.rb
  spec/services/email_login_code/verify_spec.rb
  spec/system/code_login_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

SECURITY: Hidden post link URLs leak through per-post link_counts
  app/models/topic_link.rb
  app/serializers/post_serializer.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

FIX: update nested anonymous reply expectations
  spec/system/nested_floating_actions_spec.rb
  spec/system/nested_view_spec.rb
Due: rubocop, syntax_tree

DEV: remove unused CSS for admin tables (#40902)
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/admin_table.scss
Due: prettier, stylelint

UX: minor expanding textarea fixes
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/expanding-text-area.scss
  frontend/discourse/app/components/modal/request-group-membership-form.gjs
  frontend/discourse/app/templates/tags/index.gjs
  frontend/discourse/app/ui-kit/d-expanding-text-area.gjs
Due: prettier, eslint, ember-template-lint, stylelint

FIX: nginx sample configuration should be setting x-f-f to the end user IP
  config/nginx.sample.conf
Due: none

blap
  frontend/discourse/tests/integration/components/search-menu-test.gjs
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint, ember-template-lint

FIX: show nested reply login prompt to anonymous users (#40906)
  frontend/discourse/app/components/nested/floating-actions.gjs
  spec/system/nested_floating_actions_spec.rb
  spec/system/nested_replying_spec.rb
  spec/system/nested_view_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

blurp
  frontend/discourse/tests/integration/components/search-menu-test.gjs
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint, ember-template-lint

FIX: Backport hidden-post guardian helper
  lib/guardian/post_guardian.rb
Due: rubocop, syntax_tree

UX: minor expanding textarea fixes (#40910)
  app/assets/stylesheets/common/base/modal.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/common/components/expanding-text-area.scss
  frontend/discourse/app/components/modal/request-group-membership-form.gjs
  frontend/discourse/app/templates/tags/index.gjs
  frontend/discourse/app/ui-kit/d-expanding-text-area.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Simplify workflows expression completions builder (#40749)
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/completions.js
Due: prettier, eslint

DEV: Move enable_events_category_type_setup UC to Beta (#40879)
  plugins/discourse-calendar/config/settings.yml
Due: yaml-syntax

SECURITY: Hidden post link URLs leak through per-post link_counts (#40903)
  app/models/topic_link.rb
  app/serializers/post_serializer.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Hidden post link URLs leak through per-post link_counts [backport 2026.5] (#40904)
  app/models/topic_link.rb
  app/serializers/post_serializer.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Hidden post link URLs leak through per-post link_counts [backport 2026.4] (#40907)
  app/models/topic_link.rb
  app/serializers/post_serializer.rb
  lib/guardian/post_guardian.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Hidden post link URLs leak through per-post link_counts [backport 2026.1] (#40908)
  app/models/topic_link.rb
  app/serializers/post_serializer.rb
  lib/guardian/post_guardian.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Gate MessageBus groups when closing topic
  app/jobs/regular/close_topic.rb
  app/jobs/regular/open_topic.rb
  spec/integration/topic_timer_message_bus_spec.rb
  spec/jobs/close_topic_spec.rb
  spec/jobs/open_topic_spec.rb
Due: rubocop, syntax_tree

FIX: Run Discord agents as their associated user
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/lib/configuration/discord_search_agent_validator.rb
  plugins/discourse-ai/lib/discord/bot/agent_replier.rb
  plugins/discourse-ai/spec/configuration/discord_search_agent_validator_spec.rb
  plugins/discourse-ai/spec/jobs/regular/stream_discord_reply_spec.rb
  plugins/discourse-ai/spec/lib/discord/bot/agent_replier_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: Gate MessageBus groups when closing topic (#40913)
  app/jobs/regular/close_topic.rb
  app/jobs/regular/open_topic.rb
  spec/integration/topic_timer_message_bus_spec.rb
  spec/jobs/close_topic_spec.rb
  spec/jobs/open_topic_spec.rb
Due: rubocop, syntax_tree

FIX: Run Discord agents as their associated user (#40914)
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/lib/configuration/discord_search_agent_validator.rb
  plugins/discourse-ai/lib/discord/bot/agent_replier.rb
  plugins/discourse-ai/spec/configuration/discord_search_agent_validator_spec.rb
  plugins/discourse-ai/spec/jobs/regular/stream_discord_reply_spec.rb
  plugins/discourse-ai/spec/lib/discord/bot/agent_replier_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

UX: Fit large Graphviz graphs to the box instead of overflowing
  plugins/discourse-graphviz/assets/stylesheets/common/graphviz.scss
Due: prettier, stylelint

f
  frontend/discourse/float-kit/components/d-float-body.gjs
  frontend/discourse/tests/integration/components/float-kit/close-on-escape-leak-test.gjs
Due: prettier, eslint, ember-template-lint

UX: Fit large Graphviz graphs to the box instead of overflowing (#40915)
  plugins/discourse-graphviz/assets/stylesheets/common/graphviz.scss
Due: prettier, stylelint

DEV: Make per-test perf capture output JSON-safe
  lib/discourse/performance_formatter.rb
  lib/method_profiler.rb
  spec/lib/discourse/performance_formatter/serializer_spec.rb
  spec/lib/method_profiler_spec.rb
Due: rubocop, syntax_tree

DEV: Add per-test SQL/Redis/network capture RSpec formatter
  bin/turbo_rspec
  lib/discourse/performance_formatter.rb
  lib/method_profiler.rb
  lib/turbo_tests/json_example.rb
  spec/lib/discourse/performance_formatter/capture_spec.rb
  spec/lib/discourse/performance_formatter/request_group_spec.rb
  spec/lib/discourse/performance_formatter/serializer_spec.rb
  spec/lib/method_profiler_spec.rb
  spec/requests/discourse/performance_formatter_capture_spec.rb
  spec/support/perf_capture.rb
Due: rubocop, syntax_tree

DEV: Cap per-call captured strings in perf formatter output
  lib/method_profiler.rb
  spec/lib/method_profiler_spec.rb
Due: rubocop, syntax_tree

DEV: Complete perf formatter move to spec/support
  bin/turbo_rspec
  spec/support/perf_capture.rb
  spec/support/performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Flatten perf formatter to a single class and drop its unit specs
  bin/turbo_rspec
  spec/lib/discourse/performance_formatter/capture_spec.rb
  spec/lib/discourse/performance_formatter/request_group_spec.rb
  spec/lib/discourse/performance_formatter/serializer_spec.rb
  spec/requests/discourse/performance_formatter_capture_spec.rb
  spec/support/perf_capture.rb
  spec/support/performance_formatter.rb
  spec/support/rspec_performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Make perf capture itemization robust and env-driven
  bin/rspec
  bin/turbo_rspec
  lib/method_profiler.rb
  spec/lib/method_profiler_spec.rb
  spec/support/perf_capture.rb
  spec/support/rspec_performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Move perf formatter into spec/support
  spec/support/performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Make MethodProfiler itemization internals private
  lib/method_profiler.rb
  spec/support/rspec_performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Surface perf capture errors instead of swallowing them
  lib/method_profiler.rb
  spec/lib/method_profiler_spec.rb
  spec/support/performance_formatter.rb
Due: rubocop, syntax_tree

DEV: Don't check `expanded` in d-float-body
  frontend/discourse/float-kit/components/d-float-body.gjs
Due: prettier, eslint, ember-template-lint

DEV: Fix chat-upload-test leak
  plugins/chat/test/javascripts/components/chat-upload-test.gjs
Due: prettier, eslint, ember-template-lint

SECURITY: Group report details expose raw Data Explorer SQL to non-admin group members
  plugins/discourse-data-explorer/app/serializers/discourse_data_explorer/query_details_serializer.rb
  plugins/discourse-data-explorer/spec/requests/query_controller_spec.rb
Due: rubocop, syntax_tree

do the same in the topic-header-cleanup test
  frontend/discourse/tests/unit/routes/topic-header-cleanup-test.js
Due: prettier, eslint

DEV: Don't check `expanded` in d-float-body (#40917)
  frontend/discourse/float-kit/components/d-float-body.gjs
Due: prettier, eslint, ember-template-lint
