Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Remove now-redundant is_staff guardian check
  config/site_settings.yml
  lib/guardian/post_guardian.rb
  plugins/discourse-calendar/spec/requests/events_controller_spec.rb
  plugins/discourse-presence/plugin.rb
  plugins/discourse-presence/spec/integration/presence_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

DEV: Prevent allow_personal_messages from flaking surrounding tests
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
Due: rubocop, syntax_tree

DEV: Fix interaction between `htmlClass` and `bodyClass`
  app/assets/javascripts/discourse/app/services/element-classes.js
  app/assets/javascripts/discourse/tests/integration/helpers/body-class-test.gjs
Due: prettier, eslint

DEV: Fix a flaky chat shortcut test (#33966)
  plugins/chat/spec/system/shortcuts/full_page_spec.rb
Due: rubocop, syntax_tree

DEV: Bump glint to latest alpha
  package.json
  pnpm-lock.yaml
Due: yaml-syntax

DEV: Prevent allow_personal_messages from flaking surrounding tests (#33968)
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
Due: rubocop, syntax_tree

oops
  app/assets/javascripts/discourse/tests/integration/helpers/element-class-test.gjs
Due: none

add ability to clear cache
  plugins/discourse-ai/lib/translation/base_candidates.rb
Due: rubocop, syntax_tree

DEV: Fix interaction between `htmlClass` and `bodyClass` (#33969)
  app/assets/javascripts/discourse/app/services/element-classes.js
  app/assets/javascripts/discourse/tests/integration/helpers/element-class-test.gjs
Due: prettier, eslint

FIX: Completion rate double-count and normalize (#33963)
  plugins/discourse-ai/lib/translation/base_candidates.rb
  plugins/discourse-ai/lib/translation/category_candidates.rb
  plugins/discourse-ai/lib/translation/post_candidates.rb
  plugins/discourse-ai/lib/translation/topic_candidates.rb
  plugins/discourse-ai/spec/lib/translation/category_candidates_spec.rb
  plugins/discourse-ai/spec/lib/translation/post_candidates_spec.rb
  plugins/discourse-ai/spec/lib/translation/topic_candidates_spec.rb
Due: rubocop, syntax_tree

DEV: Tidy html/body classes in chat
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.gjs
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat.gjs
Due: prettier, eslint

add system spec
  plugins/chat/spec/system/drawer_spec.rb
Due: rubocop, syntax_tree

DEV: Convert user-notes components to glimmer
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/admin-dashboard-moderation-bottom/recent-user-notes-report-table.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/admin-user-controls-after/add-user-notes-button.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/after-reviewable-post-user/show-user-notes-on-flags.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/reviewable-note-form-after-note/copy-reviewable-note-to-user-option.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/user-card-post-names/show-user-notes-on-card.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/user-profile-controls/show-notes-on-profile.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/lib/user-notes.js
Due: prettier, eslint

FIX: Extend cache key due to user locale
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

Fix another element-classes bug
  app/assets/javascripts/discourse/app/services/element-classes.js
  app/assets/javascripts/discourse/tests/integration/helpers/element-class-test.gjs
Due: prettier, eslint

DEV: Bump glint to latest alpha (#33970)
  package.json
  pnpm-lock.yaml
Due: yaml-syntax

UX: Fix github repo oneboxes in chat (drawer) (#33955)
  app/assets/stylesheets/common/base/onebox.scss
Due: prettier-scss

UX: Horizon > messages page – change box-shadow to inset
  themes/horizon/scss/topic-cards.scss
Due: prettier-scss

UX: Horizon > chat message popup zindex followup
  themes/horizon/scss/chat.scss
Due: prettier-scss

DEV: Fix & tidy html/body classes in chat (#33972)
  app/assets/javascripts/discourse/app/services/element-classes.js
  app/assets/javascripts/discourse/tests/integration/helpers/element-class-test.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.gjs
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/templates/chat.gjs
  plugins/chat/spec/system/drawer_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Extend cache key due to user locale (#33975)
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

FIX: Mention with a status should open the user card
  app/assets/javascripts/discourse/app/components/card-contents-base.js
  spec/system/page_objects/components/post.rb
  spec/system/page_objects/components/user_card.rb
  spec/system/user_card_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Convert user-notes components to glimmer (#33974)
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/admin-dashboard-moderation-bottom/recent-user-notes-report-table.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/admin-user-controls-after/add-user-notes-button.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/after-reviewable-post-user/show-user-notes-on-flags.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/reviewable-note-form-after-note/copy-reviewable-note-to-user-option.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/user-card-post-names/show-user-notes-on-card.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/connectors/user-profile-controls/show-notes-on-profile.gjs
  plugins/discourse-user-notes/assets/javascripts/discourse/lib/user-notes.js
Due: prettier, eslint

UX: Horizon > chat message popup zindex followup (#33977)
  themes/horizon/scss/chat.scss
Due: prettier-scss

FIX: tabbing out of the markdown editor (#33940)
  app/assets/javascripts/discourse/app/lib/textarea-text-manipulation.js
  spec/system/composer_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: Horizon > messages page – change box-shadow to inset (#33976)
  themes/horizon/scss/topic-cards.scss
Due: prettier-scss

FIX: element-classes implementation on older browsers
  app/assets/javascripts/discourse/app/services/element-classes.js
Due: prettier, eslint

FIX: element-classes implementation on older browsers (#33981)
  app/assets/javascripts/discourse/app/services/element-classes.js
Due: prettier, eslint

update spec
  plugins/chat/spec/system/hashtag_autocomplete_spec.rb
Due: rubocop, syntax_tree

UX: apply consitent spacing and correct emoji size to track-link in posts
  app/assets/stylesheets/common/base/topic.scss
Due: prettier-scss

DEV: Publish and enable use of pre-built JS assets
  .github/workflows/publish-assets.yml
  lib/tasks/assets.rake
  script/assemble_ember_build.rb
  script/publish_built_assets.rb
Due: rubocop, syntax_tree, yaml-syntax

limit branches
  .github/workflows/publish-assets.yml
Due: yaml-syntax

FIX: Optimize shortcomings from topic truncation from a27e20c
  plugins/discourse-ai/lib/embeddings/strategies/truncation.rb
Due: rubocop, syntax_tree

add test
  plugins/discourse-ai/spec/lib/modules/embeddings/strategies/truncation_spec.rb
Due: rubocop, syntax_tree

remove print
  plugins/discourse-ai/spec/lib/modules/embeddings/strategies/truncation_spec.rb
Due: rubocop, syntax_tree

DEV: Add support for converting and importing tags
  migrations/config/intermediate_db.yml
  migrations/db/intermediate_db_schema/100-base-schema.sql
  migrations/lib/converters/discourse/steps/tags.rb
  migrations/lib/database/intermediate_db/tag.rb
  migrations/lib/importer/mapping_type.rb
  migrations/lib/importer/steps/tags.rb
  migrations/spec/lib/database/intermediate_db/tag_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

move plugin outlet position
  app/assets/javascripts/discourse/app/templates/login.gjs
Due: none

added required arg to pluginoulet
  app/assets/javascripts/discourse/app/templates/login.gjs
Due: none
