Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Create Wtf
  Wtf
Due: none

FIX: Do not enqueue :group_smtp_email job if IMAP disabled
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

Update spec/services/post_alerter_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

DEV: Bump rubocop-discourse to 2.4.2.
  Gemfile.lock
Due: none

DEV: Fix an `ActiveModel::Errors` deprecation
  plugins/poll/plugin.rb
Due: rubocop

Fix spec
  spec/mailers/group_smtp_mailer_spec.rb
Due: rubocop

FIX: Do not enqueue :group_smtp_email job if IMAP disabled for the group (#13307)
  app/services/post_alerter.rb
  spec/mailers/group_smtp_mailer_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

PERF: Preload `Post#image_upload` in `TopicView`.
  lib/topic_view.rb
Due: rubocop

UX: Improve tag truncation in scrolled header
  app/assets/stylesheets/common/base/header.scss
Due: none

Rewrite the set so it passes in EmberCli too
  app/assets/javascripts/discourse/tests/acceptance/composer-draft-saving-test.js
Due: prettier, eslint-js

Update app/assets/javascripts/discourse/tests/acceptance/composer-draft-saving-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-draft-saving-test.js
Due: prettier, eslint-js

FIX: IMDb links were being oneboxed as posters
  lib/onebox/engine/allowlisted_generic_onebox.rb
  spec/fixtures/onebox/imdb.response
  spec/lib/onebox/engine/allowlisted_generic_onebox_spec.rb
Due: rubocop

FIX: IMDb links were being oneboxed as posters (#13310)
  lib/onebox/engine/allowlisted_generic_onebox.rb
  spec/fixtures/onebox/imdb.response
  spec/lib/onebox/engine/allowlisted_generic_onebox_spec.rb
Due: rubocop

DEV: Do not always include software update HTML in DOM (#13291)
  app/assets/javascripts/discourse/app/components/software-update-prompt.js
  app/assets/javascripts/discourse/app/templates/application.hbs
  app/assets/javascripts/discourse/app/templates/components/software-update-prompt.hbs
  app/assets/javascripts/discourse/tests/integration/widgets/software-update-prompt-test.js
  app/assets/stylesheets/common/software-update-prompt.scss
Due: prettier, eslint-js

SECURITY: XSS in bookmarks list
  app/assets/javascripts/discourse/app/helpers/topic-link.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/serializers/user_bookmark_serializer.rb
Due: rubocop, prettier, eslint-js

SECURITY: XSS in bookmarks list (#13311)
  app/assets/javascripts/discourse/app/helpers/topic-link.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  app/serializers/user_bookmark_serializer.rb
Due: rubocop, prettier, eslint-js

FEATURE: enable tagging by default (#13175)
  config/site_settings.yml
  db/migrate/20210527114834_set_tagging_enabled.rb
  spec/lib/search_spec.rb
  spec/requests/api/schemas/json/group_response.json
  spec/serializers/topic_view_serializer_spec.rb
Due: rubocop, yaml-syntax

change all the Jquery in discourse-image-annotator.js into JavaScript
  .DS_Store
Due: none

Update app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

FIX: Allow invites if must_approve_users is true (#13257)
  lib/guardian.rb
  spec/components/guardian_spec.rb
  spec/models/invite_redeemer_spec.rb
Due: rubocop

FIX: Handle timeout errors when sending push notifications
  app/services/push_notification_pusher.rb
  spec/services/push_notification_pusher_spec.rb
Due: rubocop

FIX: Quoting Oneboxed content should exclude formatting (#13296)
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/tests/acceptance/topic-quote-button-test.js
  app/assets/javascripts/discourse/tests/fixtures/topic.js
  lib/onebox/templates/_layout.mustache
  spec/lib/onebox/engine/amazon_onebox_spec.rb
Due: rubocop, prettier, eslint-js

move pretender
  app/assets/javascripts/discourse/tests/fixtures/directory-columns-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
Due: prettier, eslint-js

DEV: add tests for menu swipe events
  app/assets/javascripts/discourse/app/components/site-header.js
  app/assets/javascripts/discourse/tests/acceptance/mobile-pan-test.js
  app/assets/stylesheets/common/base/menu-panel.scss
  app/assets/stylesheets/mobile/menu-panel.scss
Due: prettier, eslint-js

dynamically deal with zoom and non zoom test environments
  app/assets/javascripts/discourse/tests/acceptance/mobile-pan-test.js
Due: prettier, eslint-js

DEV: touch tests
  app/assets/javascripts/discourse/tests/acceptance/mobile-pan-test.js
  app/assets/javascripts/discourse/tests/test_starter.js
Due: prettier, eslint-js

UX: more consistent mobile spacing (#13297)
  app/assets/stylesheets/common/admin/admin_base.scss
  app/assets/stylesheets/common/base/faqs.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/tagging.scss
  app/assets/stylesheets/common/base/user.scss
  app/assets/stylesheets/mobile/discourse.scss
  app/assets/stylesheets/mobile/group.scss
  app/assets/stylesheets/mobile/menu-panel.scss
  app/assets/stylesheets/mobile/search.scss
  app/assets/stylesheets/mobile/topic-list.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/assets/stylesheets/mobile/user.scss
Due: none

UX: group dropdown filter height should match (#13300)
  app/assets/stylesheets/common/base/groups.scss
Due: none

FIX: Hide image resize controls in staged edit content
  app/assets/stylesheets/common/base/topic-post.scss
Due: none

FEATURE: Add user custom fields to user directory (#13238)
  app/assets/javascripts/discourse/app/components/directory-item.js
  app/assets/javascripts/discourse/app/components/directory-table.js
  app/assets/javascripts/discourse/app/components/table-header-toggle.js
  app/assets/javascripts/discourse/app/controllers/edit-user-directory-columns.js
  app/assets/javascripts/discourse/app/controllers/users.js
  app/assets/javascripts/discourse/app/helpers/directory-item-label.js
  app/assets/javascripts/discourse/app/helpers/directory-item-user-field-value.js
  app/assets/javascripts/discourse/app/helpers/directory-item-value.js
  app/assets/javascripts/discourse/app/helpers/directory-table-header-title.js
  app/assets/javascripts/discourse/app/routes/users.js
  app/assets/javascripts/discourse/app/templates/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/components/directory-table.hbs
  app/assets/javascripts/discourse/app/templates/components/table-header-toggle.hbs
  app/assets/javascripts/discourse/app/templates/mobile/components/directory-item.hbs
  app/assets/javascripts/discourse/app/templates/mobile/users.hbs
  app/assets/javascripts/discourse/app/templates/modal/edit-user-directory-columns.hbs
  app/assets/javascripts/discourse/app/templates/users.hbs
  app/assets/javascripts/discourse/tests/acceptance/mobile-users-test.js
  app/assets/javascripts/discourse/tests/acceptance/users-test.js
  app/assets/javascripts/discourse/tests/fixtures/directory-fixtures.js
  app/assets/javascripts/discourse/tests/helpers/create-pretender.js
  app/assets/javascripts/discourse/tests/setup-tests.js
  app/assets/stylesheets/common/base/directory.scss
  app/assets/stylesheets/mobile/directory.scss
  app/controllers/admin/user_fields_controller.rb
  app/controllers/application_controller.rb
  app/controllers/directory_columns_controller.rb
  app/controllers/directory_items_controller.rb
  app/models/directory_column.rb
  app/models/user_field.rb
  app/serializers/directory_column_serializer.rb
  app/serializers/directory_item_serializer.rb
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20210527131318_create_directory_columns.rb
  spec/requests/admin/user_fields_controller_spec.rb
  spec/requests/directory_columns_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

fix safari alignment
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

DEV: Fix a flaky Onceoff spec
  spec/integrity/onceoff_integrity_spec.rb
Due: rubocop

DEV: Allow plugins to extend frame-ancestors
  lib/content_security_policy/builder.rb
  spec/fixtures/plugins/csp_extension/plugin.rb
  spec/lib/content_security_policy_spec.rb
Due: rubocop

DEV: Fix a flaky Onceoff spec (#13314)
  spec/integrity/onceoff_integrity_spec.rb
Due: rubocop

UX: Fix bulk-select icon and button alignment (#13299)
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

FIX: Handle timeout errors when sending push notifications (#13312)
  app/services/push_notification_pusher.rb
  spec/services/push_notification_pusher_spec.rb
Due: rubocop
