Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn pprettier --list-different **/*.js
    prettier-scss:
      run: yarn pprettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: yarn run ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

Revert "DEV: Convert admin API keys to conform to UI guidelines (#30096)"
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

REVERT: "DEV: Convert admin API keys to conform to UI guidelines"
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-list.hbs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-new.gjs
  app/assets/javascripts/admin/addon/components/admin-config-areas/api-keys-show.gjs
  app/assets/javascripts/admin/addon/components/api-key-item.gjs
  app/assets/javascripts/admin/addon/controllers/admin-api-keys-show.js
  app/assets/javascripts/admin/addon/models/api-key.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys-new.js
  app/assets/javascripts/admin/addon/routes/admin-api-keys.js
  app/assets/javascripts/admin/addon/templates/api-keys-index.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-new.hbs
  app/assets/javascripts/admin/addon/templates/api-keys-show.hbs
  app/assets/javascripts/admin/addon/templates/api-keys.hbs
  app/assets/javascripts/admin/addon/templates/api.hbs
  app/assets/stylesheets/common/admin/admin_table.scss
  app/controllers/admin/api_controller.rb
  app/serializers/api_key_serializer.rb
  app/serializers/basic_api_key_serializer.rb
  config/locales/client.en.yml
  spec/system/admin_api_keys_spec.rb
  spec/system/page_objects/admin_api_keys.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: improves search
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
Due: none

not needed
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
Due: none

UX: use font with more glyphs for discobot certificates
  plugins/discourse-narrative-bot/assets/fonts/GreatVibes-Regular.ttf
  plugins/discourse-narrative-bot/assets/fonts/OFL.txt
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop, syntax_tree

fix test
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
Due: none

fix tests
  app/assets/javascripts/discourse/tests/fixtures/emojis-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/emoji-picker-test.js
Due: prettier, eslint

DEV: Make silence_reason and can_be_deleted optional
  spec/requests/api/schemas/json/admin_user_response.json
  spec/requests/api/users_spec.rb
Due: rubocop, syntax_tree

wip...
  app/assets/javascripts/discourse/app/components/post-list/index.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/details.gjs
  app/assets/javascripts/discourse/app/components/post-list/item/index.gjs
  app/assets/javascripts/discourse/app/components/user-stream-item.gjs
  app/assets/javascripts/discourse/app/components/user-stream.hbs
  app/serializers/post_serializer.rb
Due: rubocop, syntax_tree, ember-template-lint

linting
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
Due: none

UX: use font with more glyphs for discobot certificates (#30646)
  plugins/discourse-narrative-bot/assets/fonts/GreatVibes-Regular.ttf
  plugins/discourse-narrative-bot/assets/fonts/OFL.txt
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/advanced_user.svg.erb
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/templates/new_user.svg.erb
  plugins/discourse-narrative-bot/plugin.rb
Due: rubocop, syntax_tree

default reactions only on chat message actions desktop
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/services/emoji-store.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Due: prettier, eslint

simplify as we don't show a default section now
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
Due: none

DEV: Make silence_reason and can_be_deleted optional (#30647)
  spec/requests/api/schemas/json/admin_user_response.json
  spec/requests/api/users_spec.rb
Due: rubocop, syntax_tree

DEV: resolving merge
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
  spec/system/page_objects/components/user_menu.rb
  spec/system/viewing_user_menu_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: stree
  spec/system/viewing_user_menu_spec.rb
Due: rubocop, syntax_tree

return persisted context if no local context
  app/assets/javascripts/discourse/app/services/emoji-store.js
Due: prettier, eslint

DEV: reverting errant changes to bin/rake
  bin/rake
Due: none

DEV: reverting errant changes to bin/rails
  bin/rails
Due: none

DEV: Add behavior transformer for full page search loadMore
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
Due: prettier, eslint, ember-template-lint

fix tests
  app/assets/javascripts/discourse/app/services/emoji-store.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-store-test.js
Due: prettier, eslint

Add test
  spec/system/topic_page_spec.rb
Due: rubocop, syntax_tree

Add test
  app/assets/javascripts/discourse/tests/unit/controllers/full-page-search-test.js
Due: prettier, eslint

FIX: emoji-picker minor improvements (#30645)
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/services/emoji-store.js
  app/assets/javascripts/discourse/tests/fixtures/emojis-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/emoji-picker-test.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-store-test.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Due: prettier, eslint

remove connector tag name
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
Due: ember-template-lint

Changed the selector
  spec/system/topic_page_spec.rb
Due: rubocop, syntax_tree

We can only get canonical options if we have the link.
  lib/onebox/helpers.rb
Due: rubocop, syntax_tree

DEV: Add behavior transformer for full page search loadMore (#30648)
  app/assets/javascripts/discourse/app/controllers/full-page-search.js
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
  app/assets/javascripts/discourse/app/templates/full-page-search.hbs
  app/assets/javascripts/discourse/tests/unit/controllers/full-page-search-test.js
Due: prettier, eslint, ember-template-lint

Convert signup cta to glimmer
  .envrc
  app/assets/javascripts/discourse/app/components/signup-cta.gjs
  app/assets/javascripts/discourse/app/components/signup-cta.hbs
  app/assets/javascripts/discourse/app/components/signup-cta.js
Due: prettier, eslint, ember-template-lint

Changed assertions
  spec/system/topic_page_spec.rb
Due: rubocop, syntax_tree

FIX: Ensure Onebox requests ask for the correct language. (#30637)
  lib/onebox/helpers.rb
  lib/oneboxer.rb
  spec/lib/oneboxer_spec.rb
Due: rubocop, syntax_tree

DEV: Silence "glimmer topic list" success message in tests
  app/assets/javascripts/discourse/app/models/site.js
Due: prettier, eslint

DEV: Fix triple click selection in WebKit derived browsers (#30628)
  app/assets/javascripts/discourse/app/widgets/post-cooked.js
  app/assets/javascripts/discourse/tests/acceptance/fast-edit-test.js
  app/assets/stylesheets/common/base/topic-post.scss
  spec/system/topic_page_spec.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint

DEV: Silence "glimmer topic list" success message in tests (#30654)
  app/assets/javascripts/discourse/app/models/site.js
Due: prettier, eslint

UX: Use FontSelector for displaying font-related settings. (#30636)
  app/assets/javascripts/admin/addon/components/site-settings/font-list.gjs
  app/assets/javascripts/admin/addon/mixins/setting-component.js
  app/assets/javascripts/discourse/tests/integration/components/site-setting-test.js
  config/site_settings.yml
Due: prettier, eslint, yaml-syntax

Add the onebox_locale site setting.
  app/models/onebox_locale_site_setting.rb
  config/locales/server.en.yml
  config/site_settings.yml
  lib/onebox/helpers.rb
  lib/oneboxer.rb
  spec/lib/oneboxer_spec.rb
  spec/models/onebox_locale_site_setting_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Tweak the setting description.
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

FIX: do not memoize score types
  app/models/reviewable_score.rb
  spec/multisite/flags_spec.rb
Due: rubocop, syntax_tree

Add the missing keywords entry.
  config/locales/server.en.yml
Due: yaml-syntax, i18n-lint
