Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

MT: Close the follow-up review's corruption findings
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/constructs/upload_url.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/engine_scanner.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/engine_scanner/locating.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/engine_scanner/substitution_pass.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/tier_gate.rb
  migrations/converters/lib/migrations/converters/discourse/raw_extractor.rb
  migrations/converters/lib/migrations/converters/markdown_engine/bundle.rb
  migrations/converters/spec/lib/migrations/converters/discourse/markdown_scanner/engine_scanner_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/markdown_scanner/tier_gate_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor/uploads_spec.rb
  migrations/converters/spec/lib/migrations/converters/markdown_engine/bundle_spec.rb
Due: rubocop, syntax_tree

add boundary for rate-limit audit writes, respect the enable_names site setting in user tool responses, and rejects unauthorized or unapproved metadata clients before fetching their metadata.
  app/controllers/mcp_controller.rb
  app/controllers/mcp_oauth_authorizations_controller.rb
  lib/discourse_mcp/core_tools.rb
  lib/discourse_mcp/oauth.rb
  spec/lib/discourse_mcp/core_tools_spec.rb
  spec/lib/discourse_mcp/oauth_spec.rb
  spec/requests/mcp_controller_spec.rb
  spec/requests/mcp_oauth_authorizations_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Add event actions to workflows
  plugins/discourse-events/config/locales/client.en.yml
  plugins/discourse-events/config/locales/server.en.yml
  plugins/discourse-events/lib/discourse_workflows/nodes/event/v1.rb
  plugins/discourse-events/plugin.rb
  plugins/discourse-events/spec/integration/workflows_event_action_spec.rb
  plugins/discourse-events/spec/lib/discourse_workflows/nodes/event/v1_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

fix Ask AI error display, search history privacy, stale search URLs, and follow-up titles
  frontend/discourse/app/controllers/full-page-search.js
  frontend/discourse/app/templates/full-page-search.gjs
  frontend/discourse/tests/acceptance/search-full-test.js
  onboard_ai_plugin.rb
  plugins/discourse-ai/assets/javascripts/discourse/connectors/full-page-search-below-search-header/ai-full-page-discobot-discoveries.gjs
  plugins/discourse-ai/assets/javascripts/discourse/connectors/search-menu-results-top/ai-discobot-discoveries.gjs
  plugins/discourse-ai/assets/javascripts/discourse/services/discobot-discoveries.js
  plugins/discourse-ai/lib/discoveries.rb
  plugins/discourse-ai/lib/discoveries/continue_conversation.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/lib/discoveries_spec.rb
  plugins/discourse-ai/spec/requests/discover/discoveries_controller_spec.rb
  plugins/discourse-ai/test/javascripts/acceptance/ai-search-discoveries-test.js
  plugins/discourse-ai/test/javascripts/integration/components/ai-discobot-discoveries-test.gjs
  plugins/discourse-ai/test/javascripts/integration/connectors/ai-full-page-discobot-discoveries-test.gjs
  plugins/discourse-ai/test/javascripts/unit/services/discobot-discoveries-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

FIX: Show the avatar a user was flagged for
  app/serializers/reviewable_user_serializer.rb
  spec/serializers/reviewable_user_serializer_spec.rb
Due: rubocop, syntax_tree

DEV: Add support for downloading through Hub
  frontend/discourse/admin/services/admin-emojis.js
  frontend/discourse/app/lib/download-blob.js
  frontend/discourse/app/lib/download-strategy.js
  frontend/discourse/tests/unit/lib/download-blob-test.js
  frontend/discourse/tests/unit/lib/download-strategy-test.js
Due: prettier, eslint

FIX: Keep a group member registered across a re-render
  frontend/discourse/app/ui-kit/d-reorderable-list-group.gts
  frontend/discourse/tests/integration/ui-kit/d-reorderable-list-group-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Put the new reordering surfaces behind an upcoming change
  app/assets/stylesheets/admin/admin_base.scss
  app/assets/stylesheets/admin/admin_dashboard.scss
  config/locales/server.en.yml
  config/site_settings.yml
  frontend/discourse/admin/components/admin-badges.gjs
  frontend/discourse/admin/components/admin-config-areas/flags-reorderable.gjs
  frontend/discourse/admin/components/admin-config-areas/flags.gjs
  frontend/discourse/admin/components/admin-config-areas/user-fields-list-reorderable.gjs
  frontend/discourse/admin/components/admin-flag-item-reorderable.gjs
  frontend/discourse/admin/components/admin-flag-item.gjs
  frontend/discourse/admin/components/admin-logo-form.gjs
  frontend/discourse/admin/components/admin-user-field-item-reorderable.gjs
  frontend/discourse/admin/components/admin-user-field-item.gjs
  frontend/discourse/admin/components/admin-user-fields-form.gjs
  frontend/discourse/admin/components/dashboard/configure-menu-reorderable.gjs
  frontend/discourse/admin/components/dashboard/configure-menu.gjs
  frontend/discourse/admin/components/dashboard/engagement/whos-posting.gjs
  frontend/discourse/admin/components/dashboard/reports.gjs
  frontend/discourse/admin/components/emoji-value-list.gjs
  frontend/discourse/admin/components/manageable-row-list-item-reorderable.gjs
  frontend/discourse/admin/components/manageable-row-list-item.gjs
  frontend/discourse/admin/components/modal/compare-groups-reorderable.gjs
  frontend/discourse/admin/components/modal/edit-badge-groupings-reorderable.gjs
  frontend/discourse/admin/components/modal/manage-reports-reorderable.gjs
  frontend/discourse/admin/components/redesigned-admin-dashboard.gjs
  frontend/discourse/admin/components/report-filters/groups.gjs
  frontend/discourse/admin/components/simple-list-reorderable.gjs
  frontend/discourse/admin/components/site-settings/list.gjs
  frontend/discourse/admin/components/site-settings/simple-list.gjs
  frontend/discourse/admin/components/site-settings/url-list.gjs
  frontend/discourse/admin/components/site-settings/value-list.gjs
  frontend/discourse/admin/components/value-list-reorderable.gjs
  frontend/discourse/admin/lib/toggleable-ordered-list.js
  frontend/discourse/admin/templates/admin-config/flags/index.gjs
  frontend/discourse/admin/templates/admin-user-fields/index.gjs
  frontend/discourse/app/components/modal/edit-user-directory-columns-reorderable.gjs
  frontend/discourse/app/controllers/users.js
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

DEV: Put the section form's links behind the reordering change
  app/assets/stylesheets/admin/badges.scss
  app/assets/stylesheets/common/base/directory.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/modal/manageable-row-list.scss
  frontend/discourse/app/components/modal/sidebar-section-form.gjs
  frontend/discourse/app/components/sidebar/section-form-link-reorderable.gjs
  frontend/discourse/app/components/sidebar/section-form-link.gjs
  frontend/discourse/app/components/sidebar/section-form-links-reorderable.gjs
  frontend/discourse/app/components/sidebar/section-form-links.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Key the reordering styles on the shared list's own classes
  app/assets/stylesheets/admin/admin_dashboard.scss
  app/assets/stylesheets/admin/badges.scss
  app/assets/stylesheets/common/base/directory.scss
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/modal/manageable-row-list.scss
  frontend/discourse/admin/components/admin-config-areas/flags-reorderable.gjs
  frontend/discourse/admin/components/admin-config-areas/user-fields-list-reorderable.gjs
  frontend/discourse/admin/components/dashboard/configure-menu-reorderable.gjs
  frontend/discourse/admin/components/emoji-value-list.gjs
  frontend/discourse/admin/components/modal/compare-groups-reorderable.gjs
  frontend/discourse/admin/components/modal/edit-badge-groupings-reorderable.gjs
  frontend/discourse/admin/components/modal/manage-reports-reorderable.gjs
  frontend/discourse/admin/components/simple-list-reorderable.gjs
  frontend/discourse/admin/components/value-list-reorderable.gjs
  frontend/discourse/app/components/modal/edit-user-directory-columns-reorderable.gjs
  frontend/discourse/app/components/sidebar/section-form-links-reorderable.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Drive both reordering paths through the system specs
  app/assets/stylesheets/common/base/sidebar.scss
  spec/system/admin_dashboard_configure_spec.rb
  spec/system/admin_dashboard_redesign/reports_section_spec.rb
  spec/system/admin_site_setting_value_list_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/editing_sidebar_community_section_spec.rb
  spec/system/page_objects/components/manageable_row_list_modal.rb
Due: rubocop, syntax_tree, prettier, stylelint

DEV: Cover both reordering paths
  frontend/discourse/tests/acceptance/manage-reports-drag-and-drop-test.gjs
  frontend/discourse/tests/integration/components/dashboard/configure-menu-reorderable-test.gjs
  frontend/discourse/tests/integration/components/modal/compare-groups-reorderable-test.gjs
  frontend/discourse/tests/integration/components/sidebar-section-form-reorderable-test.gjs
  frontend/discourse/tests/integration/components/simple-list-reorderable-test.gjs
  frontend/discourse/tests/integration/components/value-list-reorderable-test.gjs
  spec/system/page_objects/components/manageable_row_list_modal.rb
  spec/system/page_objects/modals/sidebar_section_form.rb
  spec/system/page_objects/pages/admin_dashboard.rb
  spec/system/page_objects/pages/admin_flags.rb
  spec/system/page_objects/pages/admin_site_settings.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Pin a reordered row's controls to its own row
  spec/system/admin_user_fields_spec.rb
Due: rubocop, syntax_tree

DEV: Hold the reordering surfaces to the layout they replace
  app/assets/stylesheets/common/base/sidebar.scss
  app/assets/stylesheets/common/modal/manageable-row-list.scss
  spec/system/reordering_screenshots_spec.rb
Due: rubocop, syntax_tree, prettier, stylelint

DEV: Draw badge grouping controls only where they work
  frontend/discourse/admin/components/modal/edit-badge-groupings-reorderable.gjs
  spec/system/admin_badges_spec.rb
  spec/system/reordering_screenshots_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: Size the drag handle column to the handle
  app/assets/stylesheets/common/components/table-layout.scss
  frontend/discourse/admin/components/admin-config-areas/flags-reorderable.gjs
  frontend/discourse/admin/components/admin-config-areas/user-fields-list-reorderable.gjs
  frontend/discourse/admin/components/admin-flag-item-reorderable.gjs
  frontend/discourse/admin/components/admin-user-field-item-reorderable.gjs
  spec/system/admin_user_fields_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

FIX: Show the avatar a user was flagged for (#43006)
  app/serializers/reviewable_user_serializer.rb
  spec/serializers/reviewable_user_serializer_spec.rb
Due: rubocop, syntax_tree

FIX: Don't blow up on a prompt that references a deleted upload
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

FIX: Report rate limits during code signup instead of an invalid code
  app/controllers/session_controller.rb
  config/locales/server.en.yml
  spec/requests/session_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

Add before.png
  a3b8b4f4-5216-48b0-b5f7-b0f3fa1b7285/before.png
Due: none

FIX: Don't blow up on a prompt that references a deleted upload (#43007)
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

DEV: test nginx sample config against Rails
  spec/integration/nginx_sample_proxy_spec.rb
  spec/nginx/README.md
  spec/support/nginx_test_proxy.rb
Due: rubocop, syntax_tree

FIX: Auto-grid Finder image uploads in rich editor
  frontend/discourse/app/static/prosemirror/lib/text-manipulation.js
  frontend/discourse/tests/acceptance/composer-uploads-uppy-test.js
  frontend/discourse/tests/integration/components/prosemirror-editor/prosemirror-editor-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Remove android manual work
  frontend/discourse/app/lib/download-blob.js
  frontend/discourse/app/lib/download-strategy.js
  frontend/discourse/app/services/capabilities.js
  frontend/discourse/tests/unit/lib/download-blob-test.js
  frontend/discourse/tests/unit/lib/download-strategy-test.js
Due: prettier, eslint

DEV: Split document encoding out of UploadEncoder
  plugins/discourse-ai/lib/completions/dialects/dialect.rb
  plugins/discourse-ai/lib/completions/doc_to_text.rb
  plugins/discourse-ai/lib/completions/document_encoder.rb
  plugins/discourse-ai/lib/completions/docx_to_text.rb
  plugins/discourse-ai/lib/completions/ods_to_text.rb
  plugins/discourse-ai/lib/completions/odt_to_text.rb
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/lib/completions/rtf_to_text.rb
  plugins/discourse-ai/lib/completions/text_normalization.rb
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/lib/completions/upload_encoding.rb
  plugins/discourse-ai/lib/completions/xls_to_text.rb
  plugins/discourse-ai/lib/completions/xlsx_to_text.rb
  plugins/discourse-ai/spec/lib/completions/document_encoder_spec.rb
  plugins/discourse-ai/spec/lib/completions/docx_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/ods_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/odt_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/rtf_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/text_normalization_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
  plugins/discourse-ai/spec/lib/completions/xlsx_to_text_spec.rb
  plugins/discourse-ai/spec/support/document_converter_fixtures.rb
Due: rubocop, syntax_tree

DEV: Keep test stylesheets in the head so they gate the QUnit entrypoint
  app/views/qunit/qunit.html.erb
  frontend/discourse/tests/test-boot-ember-cli.js
  frontend/discourse/tests/unit/test-boot/visual-readiness-test.js
Due: prettier, eslint

DEV: Add runtime deprecation for `translateModKey` (#42996)
  frontend/discourse/app/lib/utilities.js
  frontend/discourse/tests/unit/lib/utilities-test.js
Due: prettier, eslint

explicit default preference, group filter, clear button
  app/assets/stylesheets/common/base/search-menu.scss
  app/assets/stylesheets/common/base/search.scss
  app/models/user_option.rb
  db/structure.sql
  frontend/discourse/app/components/search-menu/results/recent-searches.gjs
  frontend/discourse/app/controllers/full-page-search.js
  frontend/discourse/app/lib/registry/transformers.js
  frontend/discourse/app/routes/build-group-messages-route.js
  frontend/discourse/app/routes/build-private-messages-route.js
  frontend/discourse/app/templates/full-page-search.gjs
  frontend/discourse/tests/acceptance/search-full-test.js
  frontend/discourse/tests/acceptance/user-private-messages-test.js
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-discoveries-search-options.gjs
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-search-discoveries.gjs
  plugins/discourse-ai/assets/javascripts/discourse/connectors/user-preferences-interface/ai-ask-ai-default.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-search-discoveries.js
  plugins/discourse-ai/assets/javascripts/discourse/services/discobot-discoveries.js
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot/common/ai-discobot-discoveries.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/db/migrate/20260828145150_add_ai_ask_ai_default_to_user_options.rb
  plugins/discourse-ai/lib/discoveries/entry_point.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/requests/ask_ai_default_preference_spec.rb
  plugins/discourse-ai/spec/system/ai_discoveries_search_mode_spec.rb
  plugins/discourse-ai/spec/system/page_objects/components/ai_discoveries_search.rb
  plugins/discourse-ai/test/javascripts/acceptance/ai-search-discoveries-test.js
  plugins/discourse-ai/test/javascripts/integration/components/ai-discoveries-search-options-test.gjs
  plugins/discourse-ai/test/javascripts/integration/components/ai-search-discoveries-test.gjs
  plugins/discourse-ai/test/javascripts/unit/services/discobot-discoveries-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: provides a better error when user can't tag PM
  plugins/discourse-workflows/config/locales/server.en.yml
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_tags/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/topic_tags_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

FIX: make chat recipient lookup case-insensitive
  plugins/chat/app/queries/chat/users_from_usernames_and_groups_query.rb
  plugins/chat/spec/queries/chat/users_from_usernames_and_groups_query_spec.rb
Due: rubocop, syntax_tree

DEV: Split document encoding out of UploadEncoder (#43008)
  plugins/discourse-ai/lib/completions/dialects/dialect.rb
  plugins/discourse-ai/lib/completions/doc_to_text.rb
  plugins/discourse-ai/lib/completions/document_encoder.rb
  plugins/discourse-ai/lib/completions/docx_to_text.rb
  plugins/discourse-ai/lib/completions/ods_to_text.rb
  plugins/discourse-ai/lib/completions/odt_to_text.rb
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/lib/completions/rtf_to_text.rb
  plugins/discourse-ai/lib/completions/text_normalization.rb
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/lib/completions/upload_encoding.rb
  plugins/discourse-ai/lib/completions/xls_to_text.rb
  plugins/discourse-ai/lib/completions/xlsx_to_text.rb
  plugins/discourse-ai/spec/lib/completions/document_encoder_spec.rb
  plugins/discourse-ai/spec/lib/completions/docx_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/ods_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/odt_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/rtf_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/text_normalization_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
  plugins/discourse-ai/spec/lib/completions/xlsx_to_text_spec.rb
  plugins/discourse-ai/spec/support/document_converter_fixtures.rb
Due: rubocop, syntax_tree

FEATURE: Extract text from HTML attachments
  plugins/discourse-ai/lib/completions/document_encoder.rb
  plugins/discourse-ai/lib/completions/html_to_text.rb
  plugins/discourse-ai/spec/lib/completions/html_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

replace translateModKey
  plugins/discourse-ai/assets/javascripts/discourse/lib/shortcut-label.js
  plugins/discourse-ai/test/javascripts/integration/components/ai-discoveries-search-options-test.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Extract text from HTML attachments (#43009)
  plugins/discourse-ai/lib/completions/document_encoder.rb
  plugins/discourse-ai/lib/completions/html_to_text.rb
  plugins/discourse-ai/spec/lib/completions/html_to_text_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

FEATURE: Accept AVIF images, and say why the others are dropped
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/agents/bot.rb
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/lib/post_image_captions.rb
  plugins/discourse-ai/spec/fixtures/images/100x100.avif
  plugins/discourse-ai/spec/fixtures/images/1x1.avif
  plugins/discourse-ai/spec/lib/agents/delegated_vision_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

FEATURE: Accept AVIF images, and say why the others are dropped (#43010)
  plugins/discourse-ai/lib/agents/agent.rb
  plugins/discourse-ai/lib/agents/bot.rb
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/lib/completions/upload_encoder.rb
  plugins/discourse-ai/lib/post_image_captions.rb
  plugins/discourse-ai/spec/fixtures/images/100x100.avif
  plugins/discourse-ai/spec/fixtures/images/1x1.avif
  plugins/discourse-ai/spec/lib/agents/delegated_vision_spec.rb
  plugins/discourse-ai/spec/lib/completions/upload_encoder_spec.rb
Due: rubocop, syntax_tree

PERF: Preload access control posts when filtering prompt uploads
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/spec/lib/completions/prompt_messages_builder_spec.rb
Due: rubocop, syntax_tree

PERF: Preload access control posts when filtering prompt uploads (#43011)
  plugins/discourse-ai/lib/completions/prompt_messages_builder.rb
  plugins/discourse-ai/spec/lib/completions/prompt_messages_builder_spec.rb
Due: rubocop, syntax_tree

review
  plugins/discourse-workflows/lib/discourse_workflows/nodes/topic_tags/v1.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/nodes/topic_tags_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
