Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm pprettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: pnpm pprettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: prevents body scroll in input focus
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Due: none

works without setTimeout
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Due: none

extract as modifier
  app/assets/javascripts/discourse/app/modifiers/prevent-scroll-on-focus.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Due: prettier, eslint

DEV: Rename `theme-transpiler` to `asset-processor`
  .github/workflows/tests.yml
  app/assets/javascripts/asset-processor/add-theme-globals.js
  app/assets/javascripts/asset-processor/add-theme-globals.test.mjs
  app/assets/javascripts/asset-processor/babel-replace-imports.js
  app/assets/javascripts/asset-processor/babel-replace-imports.test.mjs
  app/assets/javascripts/asset-processor/build.js
  app/assets/javascripts/asset-processor/content-tag.js
  app/assets/javascripts/asset-processor/noop.js
  app/assets/javascripts/asset-processor/package.json
  app/assets/javascripts/asset-processor/postcss-variable-prefixer.js
  app/assets/javascripts/asset-processor/postcss.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-colocation.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-extension-search.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-external-loader.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-gjs.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-hbs.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-index-search.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-terser.js
  app/assets/javascripts/asset-processor/rollup-plugins/discourse-virtual-loader.js
  app/assets/javascripts/asset-processor/rollup-virtual-imports.js
  app/assets/javascripts/asset-processor/shims.js
  app/assets/javascripts/asset-processor/theme-hbs-ast-transforms.js
  app/assets/javascripts/asset-processor/theme-rollup.js
  app/assets/javascripts/asset-processor/transpiler.js
  app/assets/javascripts/asset-processor/url-polyfill.js
  lib/discourse_js_processor.rb
  lib/tasks/assets.rake
  lib/tasks/db.rake
  lib/tasks/themes.rake
  pnpm-workspace.yaml
  spec/requests/qunit_controller_spec.rb
  spec/tasks/assets_precompile_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

drop unneeded require
  spec/lib/asset_processor_spec.rb
Due: rubocop, syntax_tree

Rename `DiscourseJSProcessor` to `AssetProcessor`, and absorb `Transpiler` subclass into parent
  app/assets/javascripts/asset-processor/shims.js
  app/models/theme.rb
  app/models/theme_field.rb
  app/services/theme_settings_migrations_runner.rb
  lib/asset_processor.rb
  lib/discourse.rb
  lib/discourse_js_processor.rb
  lib/js_locale_helper.rb
  lib/pretty_text.rb
  lib/stylesheet/compiler.rb
  lib/stylesheet/manager/builder.rb
  lib/tasks/assets.rake
  lib/theme_javascript_compiler.rb
  spec/lib/asset_processor_spec.rb
  spec/lib/js_locale_helper_spec.rb
  spec/lib/stylesheet/compiler_spec.rb
  spec/requests/qunit_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

lock
  pnpm-lock.yaml
Due: yaml-syntax

lint
  app/services/theme_settings_migrations_runner.rb
Due: rubocop, syntax_tree

FIX: prevents body scroll in input focus (#35497)
  app/assets/javascripts/discourse/app/modifiers/prevent-scroll-on-focus.js
  plugins/chat/assets/javascripts/discourse/components/chat-composer.gjs
Due: prettier, eslint

UX: Move AI bot PM to navigation menu (#35189)
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-bot-sidebar-new-conversation.gjs
  plugins/discourse-ai/assets/javascripts/discourse/initializers/add-ai-bot-to-community-section.gjs
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-bot-helper.js
  plugins/discourse-ai/assets/stylesheets/modules/ai-bot-conversations/common.scss
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/config/settings.yml
  plugins/discourse-ai/spec/system/ai_bot/ai_bot_helper_spec.rb
  plugins/discourse-ai/spec/system/ai_bot/homepage_spec.rb
  plugins/discourse-ai/spec/system/ai_bot/persona_spec.rb
  plugins/discourse-ai/test/javascripts/acceptance/ai-bot-sidebar-link-test.js
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

DEV: Use native promise for `lib/ajax` (#35483)
  app/assets/javascripts/discourse/app/lib/ajax.js
Due: prettier, eslint

drop args
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

call update when needed
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

this too
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

and these
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

DEV: refactor user card/summary accepted answer's query
  plugins/discourse-solved/lib/discourse_solved/queries.rb
  plugins/discourse-solved/lib/discourse_solved/user_summary_extension.rb
  plugins/discourse-solved/plugin.rb
  plugins/discourse-solved/spec/lib/queries_spec.rb
  plugins/discourse-solved/spec/models/user_summary_spec.rb
  plugins/discourse-solved/spec/serializers/user_summary_serializer_spec.rb
Due: rubocop, syntax_tree

sizing
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

no push
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

merge
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

deindent
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

deintent
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

use getHeader
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

DEV: Replace node globSync with `find`
  .pnpmfile.cjs
Due: none

DEV: Replace node globSync with `find` (#35501)
  .pnpmfile.cjs
Due: none

seems fine
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

keep this as is
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

rem
  app/assets/javascripts/select-kit/addon/components/select-kit/select-kit-body.gjs
Due: none

move bottom offset calc
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

FIX: policy "not accepted" users list was not working
  plugins/discourse-policy/assets/javascripts/discourse/components/post-policy.gjs
  plugins/discourse-policy/test/javascripts/integration/components/post-policy-test.gjs
Due: none

clean
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

fixup
  app/assets/javascripts/select-kit/addon/components/select-kit.js
Due: prettier, eslint

position
  app/assets/javascripts/select-kit/addon/components/select-kit.js
  app/assets/stylesheets/common/select-kit/select-kit.scss
Due: prettier, prettier-scss, eslint

FIX: adds timeout to prevent-scroll-on-focus modifier
  app/assets/javascripts/discourse/app/modifiers/prevent-scroll-on-focus.js
Due: prettier, eslint

FIX: adds timeout to prevent-scroll-on-focus modifier (#35503)
  app/assets/javascripts/discourse/app/modifiers/prevent-scroll-on-focus.js
Due: prettier, eslint

DEV: Disable widgets by default
  config/site_settings.yml
Due: yaml-syntax

revert some changes
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-persona-llm-selector.gjs
Due: none

DEV: Add temporary fix for legacy widget integration tests
  app/assets/javascripts/discourse/tests/setup-tests.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: *.rb
  syntax_tree: any of: *.{rb,rake}
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
  ember-template-lint: any of: *.hbs
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
