Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: pnpm pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm eslint --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: pnpm pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: pnpm pprettier --list-different **/*.js
    prettier-scss:
      run: pnpm pprettier --list-different **/*.scss
    eslint:
      run: pnpm eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: pnpm ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

scout PR
  app/assets/javascripts/discourse/app/components/base-autocomplete-results.gjs
  app/assets/javascripts/discourse/app/components/category-tag-autocomplete-results.gjs
  app/assets/javascripts/discourse/app/components/d-autocomplete-results.gjs
  app/assets/javascripts/discourse/app/components/hashtag-autocomplete-results.gjs
  app/assets/javascripts/discourse/app/components/user-autocomplete-results.gjs
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/modifiers/d-autocomplete.js
Due: prettier, eslint

extensions
  lib/tasks/s3.rake
Due: syntax_tree

dont bump bundler version
  Gemfile.lock
Due: none

FEATURE: Experimental Photoswipe Lightbox (#35109)
  app/assets/javascripts/discourse/app/components/uppy-image-uploader.gjs
  app/assets/javascripts/discourse/app/instance-initializers/clean-dom-on-route-change.js
  app/assets/javascripts/discourse/app/instance-initializers/post-decorations.js
  app/assets/javascripts/discourse/app/lib/lightbox.js
  app/assets/javascripts/discourse/app/lib/lightbox/constants.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/discourse/tests/acceptance/lightbox-test.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/lightbox.scss
  app/assets/stylesheets/common/base/photoswipe.scss
  config/locales/client.en.yml
  config/site_settings.yml
  lib/cooked_processor_mixin.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-upload.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
  plugins/chat/spec/system/channel_message_upload_spec.rb
  pnpm-lock.yaml
  spec/system/lightbox_spec.rb
  spec/system/page_objects/components/photoswipe.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, yaml-syntax, i18n-lint

FIX: eager "load more" in users directory
  app/assets/javascripts/discourse/app/components/load-more.gjs
  app/assets/javascripts/discourse/app/modifiers/observe-intersection.js
  app/assets/javascripts/discourse/app/templates/users.gjs
  app/assets/javascripts/discourse/tests/integration/components/load-more-test.gjs
Due: prettier, eslint

DEV: Add discourse-dev seed for post voting reviewable
  plugins/discourse-post-voting/lib/discourse_dev/reviewable_post_voting_comment.rb
  plugins/discourse-post-voting/plugin.rb
Due: rubocop, syntax_tree

FIX: ensures user can DM to show start new dm button
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/sidebar.rb
Due: rubocop, syntax_tree, prettier, eslint

linting
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
Due: rubocop, syntax_tree

DEV: correctly detect chromium on macos
  lib/chrome_installed_checker.rb
  lib/tasks/qunit.rake
Due: rubocop, syntax_tree

bump
  app/assets/javascripts/deprecation-silencer/index.js
  app/assets/javascripts/discourse-plugins/index.js
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/scripts.js
  app/assets/javascripts/discourse/lib/site-settings-plugin.js
  app/assets/javascripts/discourse/package.json
  app/helpers/application_helper.rb
  lib/freedom_patches/propshaft_patches.rb
  package.json
  patches/broccoli-concat.patch
  pnpm-lock.yaml
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

FIX: ensures user can DM to show start new dm button (#35440)
  plugins/chat/assets/javascripts/discourse/initializers/chat-sidebar.js
  plugins/chat/spec/system/list_channels/sidebar_spec.rb
  plugins/chat/spec/system/page_objects/chat/components/sidebar.rb
Due: rubocop, syntax_tree, prettier, eslint

bump
  app/assets/javascripts/discourse/ember-cli-build.js
  lib/ember_cli.rb
  lib/freedom_patches/propshaft_patches.rb
Due: rubocop, syntax_tree, prettier, eslint

include
  lib/freedom_patches/propshaft_patches.rb
Due: rubocop, syntax_tree

plzwork
  app/assets/javascripts/discourse/ember-cli-build.js
Due: prettier, eslint

bump
  app/assets/javascripts/discourse/app/lib/source-identifier.js
  lib/freedom_patches/propshaft_patches.rb
Due: rubocop, syntax_tree, prettier, eslint

fix paths
  lib/tasks/s3.rake
Due: syntax_tree

support prod paths
  app/assets/javascripts/discourse/ember-cli-build.js
Due: prettier, eslint

plz
  lib/ember_cli.rb
Due: rubocop, syntax_tree

bump
  lib/ember_cli.rb
Due: rubocop, syntax_tree

DEV: Refactor `CategoryList` to extend `ArrayModel` with proxy handling
  app/assets/javascripts/discourse/app/lib/tracked-array-proxy.js
  app/assets/javascripts/discourse/app/models/category-list.js
Due: prettier, eslint

FIX: Don't try to track search suggestion clicks (#35431)
  app/assets/javascripts/discourse/app/components/search-menu/results/types.gjs
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
Due: prettier, eslint

bump
  lib/tasks/s3.rake
Due: syntax_tree

DEV: correctly detect chromium on macos (#35441)
  lib/chrome_installed_checker.rb
  lib/tasks/qunit.rake
Due: rubocop, syntax_tree

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: yaml-syntax

FIX: add lightbox class to chat quoted images
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
  plugins/chat/lib/chat/message_processor.rb
  plugins/chat/spec/lib/chat/message_processor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: DeleteReplies should use the guardian instead of checking for staff
  app/jobs/regular/delete_replies.rb
  spec/jobs/delete_replies_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/serializers/topic_view_details_serializer_spec.rb
Due: rubocop, syntax_tree

PERF: Use correctly-encoded JS files for webpack chunks
  app/assets/javascripts/discourse/ember-cli-build.js
  app/assets/javascripts/discourse/lib/webpack-customize-chunk-url-plugin.js
Due: prettier, eslint

FIX: Fix a loading loop when a topic is removed (#35409)
  app/assets/javascripts/discourse/app/models/post-stream.js
Due: prettier, eslint

bump
  app/assets/javascripts/discourse/lib/webpack-customize-chunk-url-plugin.js
Due: prettier, eslint

no instance variable
  plugins/chat/app/services/chat/search_message.rb
Due: rubocop, syntax_tree

not necessary?
  app/assets/javascripts/discourse/app/modifiers/auto-focus.js
Due: prettier, eslint

better copy
  app/jobs/scheduled/reindex_search.rb
Due: rubocop, syntax_tree

Update plugins/chat/app/services/chat/action/search_message/apply_channel_filter.rb
  plugins/chat/app/services/chat/action/search_message/apply_channel_filter.rb
Due: rubocop, syntax_tree

Update plugins/chat/app/services/chat/action/search_message/apply_username_filter.rb
  plugins/chat/app/services/chat/action/search_message/apply_username_filter.rb
Due: rubocop, syntax_tree

linting
  plugins/chat/spec/services/chat/action/search_message/process_search_query_spec.rb
Due: rubocop, syntax_tree

not used anymore
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel-info-search.gjs
Due: none

message url
  plugins/chat/assets/javascripts/discourse/components/chat-search.gjs
  plugins/chat/assets/javascripts/discourse/models/chat-message.js
  plugins/chat/test/javascripts/unit/models/chat-message-test.js
Due: prettier, eslint

actions
  plugins/chat/app/services/chat/action/search_message/apply_channel_filter.rb
  plugins/chat/app/services/chat/action/search_message/apply_filters_and_sorting.rb
  plugins/chat/app/services/chat/action/search_message/apply_username_filter.rb
  plugins/chat/app/services/chat/action/search_message/process_search_query.rb
  plugins/chat/app/services/chat/search_message.rb
  plugins/chat/spec/services/chat/action/search_message/apply_channel_filter_spec.rb
  plugins/chat/spec/services/chat/action/search_message/apply_filters_and_sorting_spec.rb
  plugins/chat/spec/services/chat/action/search_message/apply_username_filter_spec.rb
  plugins/chat/spec/services/chat/action/search_message/process_search_query_spec.rb
Due: rubocop, syntax_tree
