Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

plugin caching
  frontend/asset-processor/theme-rollup.js
Due: prettier, eslint

DEV: Add site setting for allowed groups to change post ownership (#38122)
  app/serializers/current_user_serializer.rb
  config/locales/server.en.yml
  config/site_settings.yml
  frontend/discourse/app/components/admin-post-menu.gjs
  frontend/discourse/app/components/post/menu/buttons/admin.gjs
  frontend/discourse/app/controllers/topic.js
  frontend/discourse/app/models/user.js
  frontend/discourse/tests/integration/components/post/post-test.gjs
  frontend/discourse/tests/unit/controllers/topic-test.js
  lib/guardian/post_guardian.rb
  spec/lib/guardian/post_guardian_spec.rb
  spec/requests/topics_controller_spec.rb
  spec/system/post_menu_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: Ensure "Translate Post" button does not silently skip bots (#38168)
  plugins/discourse-ai/app/controllers/discourse_ai/translation/translation_controller.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_post.rb
  plugins/discourse-ai/app/jobs/regular/detect_translate_topic.rb
  plugins/discourse-ai/assets/javascripts/discourse/lib/ai-feature-setting-groups.js
  plugins/discourse-ai/spec/jobs/regular/detect_translate_post_spec.rb
  plugins/discourse-ai/spec/jobs/regular/detect_translate_topic_spec.rb
  plugins/discourse-ai/spec/requests/translation/translation_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FEATURE: Generate AI topic summaries in the user's locale
  plugins/discourse-ai/app/controllers/discourse_ai/summarization/summary_controller.rb
  plugins/discourse-ai/app/jobs/regular/stream_topic_ai_summary.rb
  plugins/discourse-ai/app/models/ai_summary.rb
  plugins/discourse-ai/app/services/discourse_ai/topic_summarization.rb
  plugins/discourse-ai/db/migrate/20260303000000_add_locale_to_ai_summaries.rb
  plugins/discourse-ai/lib/personas/summarizer.rb
  plugins/discourse-ai/lib/summarization.rb
  plugins/discourse-ai/lib/summarization/fold_content.rb
  plugins/discourse-ai/lib/summarization/strategies/topic_summary.rb
  plugins/discourse-ai/spec/fabricators/ai_summary_fabricator.rb
  plugins/discourse-ai/spec/services/discourse_ai/topic_summarization_spec.rb
Due: rubocop, syntax_tree

FIX: Move HighlightedCode to core namespace (#38141)
  frontend/discourse/admin/templates/admin-embedding/index.gjs
  frontend/discourse/app/components/highlighted-code.gjs
  frontend/discourse/app/components/modal/customize-form-template-view.gjs
  frontend/discourse/tests/integration/components/highlighted-code-test.gjs
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/01-font-scale.gjs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-example.gjs
  plugins/styleguide/spec/system/smoke_test_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

DEV: use classes to style hidden post history revision (#38159)
  app/assets/stylesheets/common/base/history.scss
  frontend/discourse/app/components/modal/history/revisions.gjs
  lib/discourse_diff.rb
  spec/lib/discourse_diff_spec.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
  spec/system/page_objects/modals/post_history.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, stylelint

UX: prevent focus and fix padding
  app/assets/stylesheets/common/d-editor.scss
  frontend/discourse/app/components/composer/toolbar-scroll-container.gjs
Due: prettier, eslint, ember-template-lint, stylelint

UX: Add border & width back to select kit header dropdown (#38217)
  app/assets/stylesheets/common/base/uc-modernize-foundation-theme.scss
Due: prettier, stylelint

UX: minor button color fixes for WCAG CSS (#38160)
  app/assets/stylesheets/wcag.scss
Due: none

Update plugins/discourse-chat-integration/spec/system/provider_nav_spec.rb
  plugins/discourse-chat-integration/spec/system/provider_nav_spec.rb
Due: rubocop, syntax_tree

UX: mobile fixes for category creation and foot nav
  app/assets/stylesheets/admin/site-settings.scss
  frontend/discourse/app/components/d-page-subheader.gjs
  frontend/discourse/app/components/sidebar/section.gjs
  frontend/discourse/app/components/sidebar/user/categories-section.gjs
  frontend/discourse/app/components/sidebar/user/sections.gjs
  frontend/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint, ember-template-lint, stylelint

DEV: CSS naming convention
  app/assets/stylesheets/common/d-editor.scss
  frontend/discourse/app/components/composer/toolbar-scroll-container.gjs
Due: prettier, eslint, ember-template-lint, stylelint

UX: mobile fixes for category creation and footer nav (#38218)
  app/assets/stylesheets/admin/site-settings.scss
  frontend/discourse/app/components/d-page-subheader.gjs
  frontend/discourse/app/components/sidebar/section.gjs
  frontend/discourse/app/components/sidebar/user/categories-section.gjs
  frontend/discourse/app/components/sidebar/user/sections.gjs
  frontend/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint, ember-template-lint, stylelint

FIX: honor the asc query param on group sort
  frontend/discourse/app/controllers/group/index.js
Due: prettier, eslint

UX: peek-mode composer fixes for 13in tablets
  app/assets/stylesheets/common/base/compose.scss
  themes/horizon/scss/composer-peek-mode.scss
Due: prettier, stylelint

FIX: Group members sort direction query param wasn't working
  app/controllers/groups_controller.rb
Due: rubocop, syntax_tree

revert frontend change
  frontend/discourse/app/controllers/group/index.js
Due: prettier, eslint

fix spec
  spec/requests/groups_controller_spec.rb
Due: rubocop, syntax_tree

PR review cleanup
  app/controllers/groups_controller.rb
Due: rubocop, syntax_tree

use partition
  app/controllers/groups_controller.rb
Due: rubocop, syntax_tree

DEV: Upgrade `ember-source` to 6.10.1 and update Node.js requirement
  frontend/asset-processor/package.json
  frontend/discourse-plugins/package.json
  frontend/discourse-types/package.json
  frontend/discourse/package.json
  frontend/pretty-text/package.json
  package.json
  patches/ember-source@6.10.1.patch
  pnpm-lock.yaml
Due: none

DEV: Update `ember-events` for compatibility with Ember resolver API
  frontend/discourse/app/lib/ember-events.js
Due: prettier, eslint

DEV: Refactor `action` modifier registration for Ember compatibility
  frontend/discourse/app/lib/ember-events.js
Due: prettier, eslint

DEV: Fix `deepMerge` mutation issue in `pm-topic-tracking-state`
  frontend/discourse/app/services/pm-topic-tracking-state.js
Due: prettier, eslint

DEV: Ensure test cleanup by destroying `app` after each test
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint

FIX: honor the asc=false query param on group sort (#38219)
  app/controllers/groups_controller.rb
  spec/requests/groups_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Improve test stability and patch destroyable metadata cleanup
  frontend/discourse/testem.js
  frontend/discourse/tests/setup-tests.js
  frontend/discourse/tests/unit/models/topic-tracking-state-test.js
  patches/ember-source@6.10.1.patch
  pnpm-lock.yaml
Due: prettier, eslint

DEV: Add shim for `@ember/reactive/collections` in `loader-shims.js`
  frontend/discourse/app/loader-shims.js
Due: prettier, eslint

DEV: Replace `@ember-compat/tracked-built-ins` with `@glimmer/tracking`
  plugins/discourse-ai/assets/javascripts/discourse/services/ai-bot-conversations-hidden-submit.js
Due: prettier, eslint

DEV: Replace `TrackedMap` with `Map` and update type annotations
  frontend/discourse/app/lib/blocks/-internals/debug-hooks.js
  frontend/discourse/app/lib/blocks/-internals/registry/block.js
  frontend/discourse/app/static/prosemirror/components/prosemirror-editor.gjs
Due: prettier, eslint, ember-template-lint

DEV: Replace `TrackedArray` with `trackedArray` across the codebase
  frontend/discourse/app/lib/array-tools.js
  frontend/discourse/app/lib/legacy-array-like-object.js
  frontend/discourse/app/lib/tracked-tools.js
  frontend/discourse/tests/unit/lib/array-tools-test.js
  frontend/discourse/tests/unit/lib/tracked-tools-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Fix `trackedObject()` and tracked collection `delete()` compatibility with Ember 6.10
  frontend/discourse/app/lib/tracked-tools.js
  frontend/discourse/app/services/site-settings.js
  frontend/discourse/tests/unit/lib/tracked-tools-test.gjs
  patches/ember-source@6.10.1.patch
  pnpm-lock.yaml
Due: prettier, eslint, ember-template-lint

DEV: Replace `trackedArray` with `autoTrackedArray` across codebase
  frontend/discourse/app/lib/tracked-tools.js
Due: prettier, eslint

DEV: Patch TrackedMap/TrackedWeakMap reactivity bugs in ember-source
  patches/ember-source@6.10.1.patch
  pnpm-lock.yaml
Due: none

FIX: close search autocomplete on page change (#38130)
  frontend/discourse/app/components/search-text-field.js
  frontend/discourse/app/lib/search.js
Due: prettier, eslint

DEV: hide feature under `experimental_topic_category_change_notification`
  app/models/topic.rb
  app/models/topic_tracking_state.rb
  app/services/topic_status_updater.rb
  config/site_settings.yml
  spec/models/topic_spec.rb
  spec/services/topic_status_updater_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

FEATURE: improve image tool presets and tool editor (#38166)
  plugins/discourse-ai/admin/assets/javascripts/discourse/components/ai-tool-list-editor.gjs
  plugins/discourse-ai/app/controllers/discourse_ai/admin/ai_personas_controller.rb
  plugins/discourse-ai/app/models/ai_tool.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-tool-editor-form.gjs
  plugins/discourse-ai/config/locales/client.en.yml
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/flux_2_bfl.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/flux_together.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/gemini.js
  plugins/discourse-ai/lib/ai_tool_scripts/presets/image_generation/openai.js
  plugins/discourse-ai/lib/completions/tool_definition.rb
  plugins/discourse-ai/spec/lib/completions/tool_definition_spec.rb
  plugins/discourse-ai/spec/system/ai_bot/tool_list_editor_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

FIX: mock hierarchical_search in mobile sidebar slide-out test
  frontend/discourse/tests/acceptance/sidebar-user-categories-section-test.js
Due: prettier, eslint
