Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

FIX: set width on category logo img, not container
  app/assets/stylesheets/common/base/_topic-list.scss
Due: none

FIX: set width on category logo img, not container (#18676)
  app/assets/stylesheets/common/base/_topic-list.scss
Due: none

DEV: Make `capabilities` into a service
  app/assets/javascripts/discourse/app/components/sidebar/footer.js
  app/assets/javascripts/discourse/app/initializers/auto-load-modules.js
  app/assets/javascripts/discourse/app/initializers/inject-objects.js
  app/assets/javascripts/discourse/app/initializers/mobile-keyboard.js
  app/assets/javascripts/discourse/app/initializers/post-decorations.js
  app/assets/javascripts/discourse/app/initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/initializers/webview-background.js
  app/assets/javascripts/discourse/app/lib/register-service-worker.js
  app/assets/javascripts/discourse/app/pre-initializers/inject-discourse-objects.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/services/capabilities.js
  app/assets/javascripts/discourse/app/widgets/widget.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-test.js
Due: prettier, eslint-js

UX: Show category edit button when in tag intersection
  app/assets/javascripts/discourse/app/templates/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/templates/tag/show.hbs
Due: none

Add descriptive title
  app/assets/javascripts/discourse/app/templates/components/d-navigation.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

DEV: Move svg-sprite-fontawesome initializer
  app/assets/javascripts/discourse/app/initializers/svg-sprite-fontawesome.js
Due: prettier, eslint-js

DEV: Clean up `theme-errors-handler` initializer
  app/assets/javascripts/discourse/app/initializers/theme-errors-handler.js
Due: prettier, eslint-js

DEV: Clean up `map-routes` initializer
  app/assets/javascripts/discourse/app/mapping-router.js
  app/assets/javascripts/discourse/app/pre-initializers/map-routes.js
Due: prettier, eslint-js

UX: Show category edit button when in tag intersection (#18679)
  app/assets/javascripts/discourse/app/templates/components/d-navigation.hbs
  app/assets/javascripts/discourse/app/templates/tag/show.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

UX: Send notification of type `replied` to topic author if they're watching the topic
  app/services/post_alerter.rb
  spec/services/post_alerter_spec.rb
Due: rubocop

UX: drag new user menus, scroll primary user nav
  app/assets/javascripts/discourse/app/components/horizontal-overflow-nav.js
  app/assets/javascripts/discourse/app/components/user-nav.hbs
  app/assets/javascripts/discourse/app/templates/components/horizontal-overflow-nav.hbs
  app/assets/stylesheets/common/base/new-user.scss
  app/assets/stylesheets/common/components/_index.scss
  app/assets/stylesheets/common/components/horizontal-overflow-nav.scss
Due: prettier, eslint-js

FIX: Clientside checks for personal_message_enabled_groups
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.js
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/app/controllers/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/controllers/preferences/notifications.js
  app/assets/javascripts/discourse/app/controllers/preferences/users.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/user-menu-test.js
Due: prettier, eslint-js

DEV: Test fix
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
Due: prettier, eslint-js

FIX: Clientside checks for personal_message_enabled_groups (#18691)
  app/assets/javascripts/discourse/app/components/sidebar/user/sections.js
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.js
  app/assets/javascripts/discourse/app/components/user-menu/menu.js
  app/assets/javascripts/discourse/app/controllers/group.js
  app/assets/javascripts/discourse/app/controllers/keyboard-shortcuts-help.js
  app/assets/javascripts/discourse/app/controllers/preferences/notifications.js
  app/assets/javascripts/discourse/app/controllers/preferences/users.js
  app/assets/javascripts/discourse/app/controllers/topic.js
  app/assets/javascripts/discourse/app/controllers/user.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/app/widgets/user-menu.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/fixtures/session-fixtures.js
  app/assets/javascripts/discourse/tests/integration/components/site-header-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-menu/menu-test.js
  app/assets/javascripts/discourse/tests/integration/components/widgets/user-menu-test.js
Due: prettier, eslint-js

DEV: Add missing test case for `TopicGuardian#can_see_topic?`
  spec/lib/guardian_spec.rb
Due: rubocop

DEV: Add missing test case for `TopicGuardian#can_see_topic?` (#18694)
  spec/lib/guardian_spec.rb
Due: rubocop

Fix: minor typo
  docs/ADMIN-QUICK-START-GUIDE.md
Due: none

DEV: Fabricate instead of just building topic, post and user in tests
  spec/lib/guardian_spec.rb
  spec/lib/topic_view_spec.rb
  spec/serializers/post_serializer_spec.rb
Due: rubocop

DEV: Sort categories when no parent category exists
  app/assets/javascripts/discourse/app/models/site.js
Due: prettier, eslint-js

lint
  .ruby-version
Due: none

Tweak whitespace expectations in tests
  spec/lib/discourse_js_processor_spec.rb
Due: rubocop

DEV: Remove unneeded `templateOnly()` stubs
  app/assets/javascripts/discourse/app/components/composer-fullscreen-prompt.hbs
  app/assets/javascripts/discourse/app/components/composer-fullscreen-prompt.js
  app/assets/javascripts/discourse/app/components/sidebar/common/all-categories-section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/common/all-tags-section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/section-header.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.js
  app/assets/javascripts/discourse/app/components/sidebar/section-message.js
  app/assets/javascripts/discourse/app/components/sidebar/sections.js
  app/assets/javascripts/discourse/app/components/user-menu/bookmarks-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/messages-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list-empty-state.js
Due: prettier, eslint-js

DEV: Remove unneeded `templateOnly()` stubs (#18701)
  app/assets/javascripts/discourse/app/components/composer-fullscreen-prompt.hbs
  app/assets/javascripts/discourse/app/components/composer-fullscreen-prompt.js
  app/assets/javascripts/discourse/app/components/sidebar/common/all-categories-section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/common/all-tags-section-link.js
  app/assets/javascripts/discourse/app/components/sidebar/section-header.js
  app/assets/javascripts/discourse/app/components/sidebar/section-link-prefix.js
  app/assets/javascripts/discourse/app/components/sidebar/section-message.js
  app/assets/javascripts/discourse/app/components/sidebar/sections.js
  app/assets/javascripts/discourse/app/components/user-menu/bookmarks-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/items-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/messages-list-empty-state.js
  app/assets/javascripts/discourse/app/components/user-menu/notifications-list-empty-state.js
Due: prettier, eslint-js

Normalize event handling to improve Glimmer + Classic component compat
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/initializers/ember-events.js
  app/assets/javascripts/discourse/app/lib/ember-events.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
Due: prettier, eslint-js

d-button: only preventDefault / stopPropagation for handled actions
  app/assets/javascripts/discourse/app/components/d-button.js
Due: prettier, eslint-js

d-editor: avoid adding duplicate event listener for tests
  app/assets/javascripts/discourse/app/components/d-editor.js
Due: prettier, eslint-js

group-manage-email-settings: Monitor `input` instead of `change` event for checkboxes
  app/assets/javascripts/discourse/app/templates/components/group-manage-email-settings.hbs
Due: none

Improve accuracy of replacement `action` modifer
  app/assets/javascripts/discourse/app/lib/ember-action-modifier.js
  app/assets/javascripts/discourse/app/lib/ember-events.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-action-modifer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
Due: prettier, eslint-js

Avoid triggering the ember.component.reopen deprecation
  app/assets/javascripts/discourse/app/lib/ember-events.js
Due: prettier, eslint-js

FIX: add max-width to category logo img
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/common/base/category-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

FIX: set max-width on category logo img
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

FIX: set max-width on category logo img (#18703)
  app/assets/stylesheets/common/base/_topic-list.scss
  app/assets/stylesheets/mobile/topic-list.scss
Due: none

Ensure continuity when event handlers return `false`
  app/assets/javascripts/discourse/app/lib/ember-events.js
Due: prettier, eslint-js

Adjust d-button `click` handler return value
  app/assets/javascripts/discourse/app/components/d-button.js
Due: prettier, eslint-js

DEV: Apply theme template transforms to colocated components
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop

DEV: Apply theme template transforms to colocated components (#18704)
  lib/theme_javascript_compiler.rb
  spec/lib/theme_javascript_compiler_spec.rb
Due: rubocop

A11Y: Add `for` attributes for location, website in profile
  app/assets/javascripts/discourse/app/templates/preferences/profile.hbs
Due: none

A11Y: Add title to drafts remove icon button
  app/assets/javascripts/discourse/app/templates/components/user-stream-item.hbs
Due: none

A11Y: Add `for` attributes for location, website in profile (#18705)
  app/assets/javascripts/discourse/app/templates/preferences/profile.hbs
Due: none

A11Y: Add title to drafts remove icon button (#18706)
  app/assets/javascripts/discourse/app/templates/components/user-stream-item.hbs
Due: none
