Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

MT: Gate hashtag extraction on what the source actually has
  migrations/converters/lib/migrations/converters/discourse/converter.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/hashtag.rb
  migrations/converters/lib/migrations/converters/discourse/raw_extractor.rb
  migrations/converters/lib/migrations/converters/discourse/steps/posts.rb
  migrations/converters/spec/lib/migrations/converters/discourse/converter_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor_spec.rb
Due: rubocop, syntax_tree

MT: Match mention names with dots
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/base.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor_spec.rb
Due: rubocop, syntax_tree

MT: Render mentions without padding spaces
  migrations/importer/lib/migrations/importer/placeholder_resolver.rb
  migrations/importer/spec/lib/migrations/importer/placeholder_resolver_spec.rb
Due: rubocop, syntax_tree

Move chat push-notification filtering back to chat plugin
  app/models/user_option.rb
  app/services/post_alerter.rb
  db/migrate/20260707184146_add_push_notification_level_to_user_options.rb
  db/post_migrate/20260707184150_backfill_push_notification_level.rb
  frontend/discourse/app/components/push-notification-select.gjs
  frontend/discourse/app/models/user.js
  frontend/discourse/tests/integration/components/push-notification-select-test.gjs
  plugins/chat/plugin.rb
  plugins/chat/spec/lib/chat/push_notification_filter_spec.rb
  plugins/chat/spec/system/user_notification_preferences_spec.rb
  spec/services/post_alerter_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

MT: Add SortedStringSet for fork-stable name gates
  migrations/core/lib/migrations/sorted_string_set.rb
  migrations/core/spec/lib/sorted_string_set_spec.rb
Due: rubocop, syntax_tree

MT: Gate Discourse mentions against existing names
  migrations/converters/lib/migrations/converters/discourse/converter.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/mention.rb
  migrations/converters/lib/migrations/converters/discourse/raw_extractor.rb
  migrations/converters/lib/migrations/converters/discourse/steps/posts.rb
  migrations/converters/spec/lib/migrations/converters/discourse/converter_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor_spec.rb
Due: rubocop, syntax_tree

MT: Back the hashtag gate with SortedStringSet
  migrations/converters/lib/migrations/converters/discourse/converter.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/hashtag.rb
  migrations/converters/lib/migrations/converters/discourse/raw_extractor.rb
  migrations/converters/spec/lib/migrations/converters/discourse/converter_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor_spec.rb
Due: rubocop, syntax_tree

DEV: Modernize `TopicNavigation` component (#41513)
  frontend/discourse/app/components/topic-navigation.gjs
  frontend/discourse/app/components/topic-progress.gjs
  frontend/discourse/app/templates/topic.gjs
Due: prettier, eslint, ember-template-lint

FIX: Expose `$trigger` (not bare `trigger`) in expression authoring
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-context.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/dollar-vars.js
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-context-test.js
Due: prettier, eslint, yaml-syntax, i18n-lint

FEATURE: Show workflow expression references as editable pills
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/configurators/expression-input.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/variable/reference-property-picker.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-context.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/drag-drop.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/drag-source.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/focus-empty-area.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/index.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-label.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-pills.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-properties.js
  plugins/discourse-workflows/assets/stylesheets/common/variable/variable-input.scss
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/plugin.rb
  plugins/discourse-workflows/spec/system/expression_editor_spec.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/expression-reference-pills-test.gjs
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-context-test.js
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-reference-label-test.js
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-reference-properties-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: Bust cache so that group additions to AI helper can take effect
  plugins/discourse-ai/app/models/ai_agent.rb
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/spec/models/ai_agent_spec.rb
Due: rubocop, syntax_tree

SECURITY: move klipy gifs request to backend
  app/controllers/gifs_controller.rb
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  frontend/discourse/app/components/modal/gifs.gjs
  frontend/discourse/tests/acceptance/modal/gifs-test.gjs
  spec/requests/gifs_controller_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

MT: Pre-size the SortedStringSet buffers
  migrations/core/lib/migrations/sorted_string_set.rb
Due: rubocop, syntax_tree

FEATURE: Show workflow expression references as editable pills (#41442)
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/configurators/expression-input.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/variable/reference-property-picker.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-context.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/dollar-vars.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/drag-drop.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/drag-source.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/focus-empty-area.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/index.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-label.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-pills.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-properties.js
  plugins/discourse-workflows/assets/stylesheets/common/variable/variable-input.scss
  plugins/discourse-workflows/config/locales/client.en.yml
  plugins/discourse-workflows/plugin.rb
  plugins/discourse-workflows/spec/system/expression_editor_spec.rb
  plugins/discourse-workflows/test/javascripts/integration/components/workflows/expression-reference-pills-test.gjs
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-context-test.js
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-reference-label-test.js
  plugins/discourse-workflows/test/javascripts/unit/lib/expression-reference-properties-test.js
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FEATURE: Add `enable_discourse_workflows` upcoming change
  plugins/chat/app/services/chat/workflows/approval/resume.rb
  plugins/chat/plugin.rb
  plugins/chat/spec/integration/workflows_chat_approval_spec.rb
  plugins/chat/spec/integration/workflows_chat_interaction_spec.rb
  plugins/chat/spec/integration/workflows_chat_message_created_spec.rb
  plugins/chat/spec/services/chat/workflows/approval/resume_spec.rb
  plugins/discourse-assign/spec/lib/assigner_spec.rb
  plugins/discourse-assign/spec/lib/discourse_workflows/nodes/assign_topic/v1_spec.rb
  plugins/discourse-assign/spec/lib/discourse_workflows/nodes/assigned/v1_spec.rb
  plugins/discourse-workflows/app/jobs/regular/discourse_workflows/execute_manual_workflow.rb
  plugins/discourse-workflows/app/jobs/regular/discourse_workflows/resume_waiting_execution.rb
  plugins/discourse-workflows/app/jobs/regular/discourse_workflows/resume_webhook_waiting.rb
  plugins/discourse-workflows/app/services/discourse_workflows/policy/workflows_enabled.rb
  plugins/discourse-workflows/config/locales/server.en.yml
  plugins/discourse-workflows/config/settings.yml
  plugins/discourse-workflows/db/migrate/20260708095336_rename_discourse_workflows_enabled_site_setting.rb
  plugins/discourse-workflows/lib/discourse_workflows/ai_authoring_enqueuer.rb
  plugins/discourse-workflows/lib/discourse_workflows/dev_populator.rb
  plugins/discourse-workflows/lib/discourse_workflows/event_listener.rb
  plugins/discourse-workflows/lib/discourse_workflows/workflow_call_continuation.rb
  plugins/discourse-workflows/plugin.rb
  plugins/discourse-workflows/public/images/upcoming_changes/enable_discourse_workflows.png
  plugins/discourse-workflows/spec/db/migrate/rename_discourse_workflows_enabled_site_setting_spec.rb
  plugins/discourse-workflows/spec/integration/plugin_enable_hook_spec.rb
  plugins/discourse-workflows/spec/jobs/regular/discourse_workflows/execute_manual_workflow_spec.rb
  plugins/discourse-workflows/spec/jobs/regular/discourse_workflows/resume_waiting_execution_spec.rb
  plugins/discourse-workflows/spec/jobs/regular/discourse_workflows/resume_webhook_waiting_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/event_listener_spec.rb
  plugins/discourse-workflows/spec/lib/discourse_workflows/executor_spec.rb
  plugins/discourse-workflows/spec/plugin_helper.rb
  plugins/discourse-workflows/spec/requests/discourse_workflows/webhooks_controller_spec.rb
  plugins/discourse-workflows/spec/services/discourse_workflows/execution/check_schedules_spec.rb
  plugins/discourse-workflows/spec/services/discourse_workflows/execution/check_stale_topics_spec.rb
  plugins/discourse-workflows/spec/services/discourse_workflows/execution/expire_waiting_spec.rb
  plugins/discourse-workflows/spec/services/discourse_workflows/workflow/execute_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

MT: Extend embed_links schema for internal-link targets
  migrations/converters/lib/migrations/converters/embed_buffer.rb
  migrations/converters/spec/lib/migrations/converters/embed_buffer_spec.rb
  migrations/core/db/intermediate_db_schema/100-base-schema.sql
  migrations/core/lib/migrations/database/intermediate_db/embed_link.rb
  migrations/core/lib/migrations/database/intermediate_db/enums/link_target.rb
  migrations/tooling/config/schema/intermediate_db/enums/link_target.rb
  migrations/tooling/config/schema/intermediate_db/tables/embed_links.rb
Due: rubocop, syntax_tree

remove comments
  app/controllers/gifs_controller.rb
Due: rubocop, syntax_tree

MT: Extract internal links in the Discourse converter
  migrations/converters/lib/migrations/converters/discourse/converter.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/internal_link.rb
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/internal_link_reference.rb
  migrations/converters/lib/migrations/converters/discourse/raw_extractor.rb
  migrations/converters/lib/migrations/converters/discourse/settings.yml
  migrations/converters/lib/migrations/converters/discourse/steps/posts.rb
  migrations/converters/spec/lib/migrations/converters/discourse/converter_spec.rb
  migrations/converters/spec/lib/migrations/converters/discourse/raw_extractor_spec.rb
Due: rubocop, syntax_tree, yaml-syntax

MT: Resolve and render internal links at import
  migrations/importer/lib/migrations/importer/placeholder_resolver.rb
  migrations/importer/spec/lib/migrations/importer/placeholder_resolver_spec.rb
Due: rubocop, syntax_tree

MT: Carry the URL in unresolved coordinate-link reports
  migrations/importer/lib/migrations/importer/placeholder_resolver.rb
Due: rubocop, syntax_tree

DEV: add typescript support for core, themes and plugins
  .prettierignore
  bin/lint
  eslint.config.mjs
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/package.json
  frontend/asset-processor/rollup-plugins/discourse-file-search.js
  frontend/asset-processor/rollup-plugins/discourse-gjs.js
  frontend/asset-processor/rollup-virtual-imports.js
  frontend/discourse-i18n/src/index.js
  frontend/discourse/admin/compat-modules.js
  frontend/discourse/app/ui-kit/d-button.gts
  frontend/discourse/babel.config.cjs
  frontend/discourse/dialog-holder/compat-modules.js
  frontend/discourse/float-kit/compat-modules.js
  frontend/discourse/lib/wrap-test-modules-plugin.mjs
  frontend/discourse/package.json
  frontend/discourse/select-kit/compat-modules.js
  frontend/discourse/tests/helpers/create-pretender.js
  frontend/discourse/tests/loader-shims.js
  frontend/discourse/tests/test-boot-ember-cli.js
  frontend/discourse/truth-helpers/compat-modules.js
  lefthook.yml
  lib/asset_processor.rb
  lib/plugin/instance.rb
  lib/plugin/js_manager.rb
  lib/tasks/themes.rake
  package.json
  plugins/chat/assets/javascripts/discourse/lib/check-message-visibility.ts
  pnpm-lock.yaml
  spec/system/theme_typescript_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

update docs
  docs/developer-guides/docs/03-code-internals/26-types.md
Due: none

DEV: add typescript support for core, themes and plugins (#41478)
  .prettierignore
  bin/lint
  docs/developer-guides/docs/03-code-internals/26-types.md
  eslint.config.mjs
  frontend/asset-processor/asset-processor-rollup.js
  frontend/asset-processor/package.json
  frontend/asset-processor/rollup-plugins/discourse-file-search.js
  frontend/asset-processor/rollup-plugins/discourse-gjs.js
  frontend/asset-processor/rollup-virtual-imports.js
  frontend/discourse-i18n/src/index.js
  frontend/discourse/admin/compat-modules.js
  frontend/discourse/app/ui-kit/d-button.gts
  frontend/discourse/babel.config.cjs
  frontend/discourse/dialog-holder/compat-modules.js
  frontend/discourse/float-kit/compat-modules.js
  frontend/discourse/lib/wrap-test-modules-plugin.mjs
  frontend/discourse/package.json
  frontend/discourse/select-kit/compat-modules.js
  frontend/discourse/tests/helpers/create-pretender.js
  frontend/discourse/tests/loader-shims.js
  frontend/discourse/tests/test-boot-ember-cli.js
  frontend/discourse/truth-helpers/compat-modules.js
  lefthook.yml
  lib/asset_processor.rb
  lib/plugin/instance.rb
  lib/plugin/js_manager.rb
  lib/tasks/themes.rake
  package.json
  plugins/chat/assets/javascripts/discourse/lib/check-message-visibility.ts
  pnpm-lock.yaml
  spec/system/theme_typescript_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

FIX: Validate AI moderation tools before queuing for approval
  plugins/discourse-ai/lib/agents/bot.rb
  plugins/discourse-ai/lib/agents/tools/silence_user.rb
  plugins/discourse-ai/lib/agents/tools/suspend_user.rb
  plugins/discourse-ai/lib/agents/tools/tool.rb
  plugins/discourse-ai/spec/lib/agents/bot_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/silence_user_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/suspend_user_spec.rb
Due: rubocop, syntax_tree

FIX: move klipy gifs request to backend (#41540)
  app/controllers/gifs_controller.rb
  config/locales/server.en.yml
  config/routes.rb
  config/site_settings.yml
  frontend/discourse/app/components/modal/gifs.gjs
  frontend/discourse/tests/acceptance/modal/gifs-test.gjs
  spec/requests/gifs_controller_spec.rb
  spec/requests/list_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

SECURITY: /solution/by_user leaks whisper/hidden accepted-answer post [backport 2026.6] (#41490)
  plugins/discourse-solved/app/controllers/discourse_solved/solved_topics_controller.rb
  plugins/discourse-solved/spec/requests/solved_topics_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Name tool pre-approval validation validation_error, matching core tools
  plugins/discourse-ai/lib/agents/bot.rb
  plugins/discourse-ai/lib/agents/tools/silence_user.rb
  plugins/discourse-ai/lib/agents/tools/suspend_user.rb
  plugins/discourse-ai/lib/agents/tools/tool.rb
  plugins/discourse-ai/spec/lib/agents/bot_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/silence_user_spec.rb
  plugins/discourse-ai/spec/lib/agents/tools/suspend_user_spec.rb
Due: rubocop, syntax_tree

FIX: Bust cache so that group additions to AI helper can take effect (#41539)
  plugins/discourse-ai/app/models/ai_agent.rb
  plugins/discourse-ai/lib/ai_helper/assistant.rb
  plugins/discourse-ai/spec/models/ai_agent_spec.rb
Due: rubocop, syntax_tree

DEV: Toggle the reference pill property picker on re-click
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/configurators/expression-input.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/components/workflows/variable/reference-property-picker.gjs
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-pills.js
  plugins/discourse-workflows/assets/stylesheets/common/variable/variable-input.scss
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Share node-reference parsing across expression modules
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-context.js
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-label.js
Due: prettier, eslint

DEV: Drop redundant SVG icon registrations in workflows
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-properties.js
  plugins/discourse-workflows/plugin.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: Render pasted emoji in the composer's markdown mode (#41439)
  frontend/discourse/app/lib/to-markdown.js
  frontend/discourse/tests/unit/lib/to-markdown-test.js
Due: prettier, eslint

FIX: Prevent stray list marker when quoting a quote containing a list (#41532)
  frontend/discourse/app/lib/selection/preserve-list-structure.js
  frontend/discourse/tests/unit/lib/selection/preserve-list-structure-test.js
Due: prettier, eslint

I18N: Update translations (#41508)
  config/locales/client.zh_CN.yml
  plugins/chat/config/locales/client.uk.yml
  plugins/chat/config/locales/server.uk.yml
  plugins/discourse-ai/config/locales/client.uk.yml
  plugins/discourse-ai/config/locales/server.uk.yml
Due: yaml-syntax

FIX: Seed translator agent examples as conversation turns (#41526)
  plugins/discourse-ai/lib/agents/post_raw_translator.rb
  plugins/discourse-ai/lib/agents/short_text_translator.rb
  plugins/discourse-ai/lib/agents/topic_title_translator.rb
Due: rubocop, syntax_tree

MT: Reject non-URLs inside the bare internal-link pattern
  migrations/converters/lib/migrations/converters/discourse/markdown_scanner/detectors/internal_link.rb
Due: rubocop, syntax_tree

DEV: Name the pill open delay and store its timer on the widget
  plugins/discourse-workflows/admin/assets/javascripts/admin/lib/workflows/expression-extensions/reference-pills.js
Due: prettier, eslint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
