Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Switch sidebar section link identifier to data attribute (#21051)
  app/assets/javascripts/discourse/app/components/sidebar/section-link.hbs
  app/assets/javascripts/discourse/app/components/sidebar/section-link.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-anonymous-tags-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-plugin-api-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-categories-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-community-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-messages-section-test.js
  app/assets/javascripts/discourse/tests/acceptance/sidebar-user-tags-section-test.js
  app/assets/javascripts/discourse/tests/integration/components/sidebar/section-link-test.js
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/spec/system/navigation_spec.rb
  plugins/chat/spec/system/sidebar_navigation_menu_spec.rb
  spec/system/custom_sidebar_sections_spec.rb
  spec/system/page_objects/components/sidebar.rb
  spec/system/page_objects/components/sidebar_header_dropdown.rb
Due: rubocop, prettier, eslint-js

Delete unneeded spec
  spec/lib/validators/enable_new_notifications_menu_validator_spec.rb
Due: rubocop

DEV: Skip flaky test on actions
  plugins/chat/spec/system/chat_composer_spec.rb
Due: rubocop

UX: Enable new notifications menu by default (#21060)
  config/locales/server.en.yml
  config/site_settings.yml
  lib/validators/enable_new_notifications_menu_validator.rb
  spec/lib/validators/enable_new_notifications_menu_validator_spec.rb
  spec/serializers/current_user_serializer_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FIX: all staff_counters should be pluralized strings
  app/assets/javascripts/discourse/app/templates/user.hbs
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

fix spec for staff counts on user profile
  spec/system/page_objects/pages/user.rb
  spec/system/user_page/staff_info_spec.rb
Due: rubocop

DEV: Skip flaky test on actions (#21072)
  plugins/chat/spec/system/chat_composer_spec.rb
Due: rubocop

DEV: Refactor ComposerMessages using ember-concurrency
  app/assets/javascripts/discourse/app/components/composer-messages.js
  app/assets/javascripts/discourse/app/services/app-events.js
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/yarn.lock
Due: prettier, eslint-js

validation
  app/controllers/voice_credits_controller.rb
Due: rubocop

FIX: all staff_counters should be pluralized strings (#21048)
  app/assets/javascripts/discourse/app/templates/user.hbs
  config/locales/client.en.yml
  spec/system/page_objects/pages/user.rb
  spec/system/user_page/staff_info_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

DEV: Decorators
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js

lint
  app/assets/javascripts/admin/tests/helpers/index.js
  app/assets/javascripts/discourse-common/tests/helpers/index.js
  app/assets/javascripts/discourse-hbr/tests/helpers/index.js
  app/assets/javascripts/discourse-widget-hbs/tests/helpers/index.js
  app/assets/javascripts/discourse/tests/helpers/index.js
  app/assets/javascripts/pretty-text/tests/helpers/index.js
  app/assets/javascripts/select-kit/tests/helpers/index.js
  app/assets/javascripts/truth-helpers/tests/helpers/index.js
  app/assets/javascripts/wizard/tests/helpers/index.js
Due: prettier, eslint-js

DEV: Hard lock ember-auto-import to 2.6.2 for the moment
  app/assets/javascripts/package.json
  app/assets/javascripts/yarn.lock
Due: none

wip
  app/assets/javascripts/discourse/app/lib/voice_credits.js
  app/assets/javascripts/discourse/app/templates/list/topic-list-item.hbr
  app/assets/javascripts/discourse/app/templates/topic-list-header.hbr
  app/views/list/list.erb
Due: prettier, eslint-js

DEV: Refactor ComposerMessages
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js

superb
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js

Lock babel-plugin-ember-template-compilation instead
  app/assets/javascripts/package.json
  app/assets/javascripts/yarn.lock
Due: none

Update app/assets/javascripts/discourse/app/components/composer-messages.js
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js

DEV: Enable patch-package in production and in `javascripts/discourse`
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/package.json
Due: none

Update root package.json
  package.json
Due: none

DEV: Enable patch-package in production and in `javascripts/discourse` (#21078)
  app/assets/javascripts/discourse/package.json
  app/assets/javascripts/package.json
  package.json
Due: none

PERF: Memoize element references for `dockCheck`
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

PERF: Memoize element references for `dockCheck` (#21079)
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

UX: include custom headers in --header-offset
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

test fix
  app/assets/javascripts/discourse/tests/acceptance/topic-timeline-test.js
  app/assets/javascripts/discourse/tests/helpers/header-offset.js
Due: prettier, eslint-js

Fix eventListener function references
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

PERF: Only update style attribute if there is a change
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

wip
  Gemfile.lock
Due: none

DEV: Refactor ComposerMessages (#21077)
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js

DEV: Plugin API addQuickAccessProfileItem adds to revamped user menu
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.hbs
  app/assets/javascripts/discourse/app/components/user-menu/profile-tab-content.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/acceptance/user-menu-test.js
Due: prettier, eslint-js

redo
  plugins/chat/assets/javascripts/discourse/routes/chat-channel.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/test/javascripts/unit/services/chat-state-manager-test.js
Due: prettier, eslint-js

FIX: stores encrypt preference in pending PMs (#176)
  plugins/automation/app/jobs/scheduled/discourse_automation_tracker.rb
  plugins/automation/app/lib/discourse_automation/scriptable.rb
  plugins/automation/app/lib/discourse_automation/scripts/gift_exchange.rb
  plugins/automation/app/lib/discourse_automation/scripts/send_pms.rb
  plugins/automation/app/models/discourse_automation/field.rb
  plugins/automation/assets/javascripts/discourse/components/fields/da-pms-field.js
  plugins/automation/assets/javascripts/discourse/templates/components/fields/da-pms-field.hbs
  plugins/automation/config/locales/client.ar.yml
  plugins/automation/config/locales/client.de.yml
  plugins/automation/config/locales/client.en.yml
  plugins/automation/config/locales/client.es.yml
  plugins/automation/config/locales/client.fi.yml
  plugins/automation/config/locales/client.fr.yml
  plugins/automation/config/locales/client.hu.yml
  plugins/automation/config/locales/client.it.yml
  plugins/automation/config/locales/client.ja.yml
  plugins/automation/config/locales/client.nl.yml
  plugins/automation/config/locales/client.pt_BR.yml
  plugins/automation/config/locales/client.ru.yml
  plugins/automation/config/locales/client.sv.yml
  plugins/automation/config/locales/client.tr_TR.yml
  plugins/automation/config/locales/client.zh_CN.yml
  plugins/automation/db/migrate/20210528203310_post_migrate_gift_from_pm_to_pms.rb
  plugins/automation/db/migrate/20230412120414_add_prefers_encrypt_field_to_pending_pms.rb
  plugins/automation/spec/scripts/send_pms_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Support modifyClass for native class fields on EmberObjects (#20987)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/unit/lib/plugin-api-test.js
Due: prettier, eslint-js

Revert "DEV: Support modifyClass for native class fields on EmberObjects (#20987)"
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/unit/lib/plugin-api-test.js
Due: prettier, eslint-js

Revert "DEV: Support modifyClass for native class fields on EmberObjects (#20987)" (#21080)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/tests/unit/lib/plugin-api-test.js
Due: prettier, eslint-js

d
  app/controllers/voice_credits_controller.rb
  settings.yml
Due: rubocop, yaml-syntax

PERF: Avoid full `posts` table scans during anonymisation
  app/jobs/regular/update_username.rb
Due: rubocop

PERF: Avoid full `posts` table scans during anonymisation (#21081)
  app/jobs/regular/update_username.rb
Due: rubocop

FIX: Educational composer messages regressed in 788dc0a
  app/assets/javascripts/discourse/app/components/composer-messages.js
Due: prettier, eslint-js
