Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint, yaml-syntax, i18n-lint

lefthook.yml:

skip_output:
  - meta
  - success

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel --force-exclusion {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree check Gemfile {staged_files}
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "app/assets/stylesheets|plugins/.+?/assets/stylesheets"
      run: yarn pprettier --list-different {staged_files}
    eslint:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn eslint -f compact --quiet {staged_files}
    ember-template-lint:
      glob: "*.hbs"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

fix-staged:
  parallel: false
  commands:
    prettier:
      glob: "*.js"
      include: "app/assets/javascripts|plugins/.+?/assets/javascripts"
      run: yarn pprettier --write {staged_files}
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion -A {staged_files}
    syntax_tree:
      glob: "*.{rb,rake}"
      run: bundle exec stree write Gemfile {staged_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    prettier:
      run: yarn pprettier --list-different **/*.js
    prettier-scss:
      run: yarn pprettier --list-different **/*.scss
    eslint:
      run: yarn eslint -f compact --quiet --ext .js .
    ember-template-lint:
      run: yarn run ember-template-lint .
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {all_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

DEV: Update transformers in topic-list/item (#30105)
  app/assets/javascripts/discourse/app/components/topic-list/item.gjs
  app/assets/javascripts/discourse/app/components/topic-list/list.gjs
  app/assets/javascripts/discourse/app/lib/transformer/registry.js
Due: prettier, eslint

FIX: Improve name validation in the signup form
  app/assets/javascripts/discourse/app/mixins/password-validation.js
  config/locales/client.en.yml
  config/locales/server.en.yml
Due: prettier, eslint, yaml-syntax, i18n-lint

DEV: Remove references to categories_only_optimized
  db/migrate/20241206121401_delete_categories_only_optimized_site_setting.rb
Due: rubocop, syntax_tree

UX: fix channel name style for unread threads
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
Due: none

DEV: Drop `experimental_topics_filter` site setting take 2 (#30142)
  config/locales/server.en.yml
  config/site_settings.yml
  db/migrate/20241206002425_drop_experimental_topics_filter_site_setting.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

DEV: add devenv.sh & direnv.net files
  .envrc
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
Due: yaml-syntax

UX: fix PM topic map layout (#30135)
  app/assets/stylesheets/common/base/personal-message.scss
Due: prettier-scss

UX: fix channel name style for unread threads (#30152)
  plugins/chat/assets/javascripts/discourse/components/chat-channel-row.gjs
Due: none

UX: only show automatic group tooltop to admins
  app/assets/javascripts/discourse/app/templates/group.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-manage-membership-test.js
Due: prettier, eslint, ember-template-lint

WIP: Cleanup mobile topic footer area
  app/assets/javascripts/discourse/app/components/topic-admin-menu.gjs
  app/assets/javascripts/discourse/app/components/topic-footer-buttons.hbs
  app/assets/javascripts/discourse/app/components/topic-progress.hbs
  app/assets/javascripts/discourse/app/components/topic-timeline/container.gjs
  app/assets/javascripts/discourse/app/instance-initializers/topic-footer-buttons.js
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-footer-button-api-mobile-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-notifications-button-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-timeline-test.js
  app/assets/javascripts/select-kit/addon/components/notifications-button/notifications-button-row.js
  app/assets/javascripts/select-kit/addon/components/pinned-button.hbs
  app/assets/javascripts/select-kit/addon/components/pinned-button.js
  app/assets/javascripts/select-kit/addon/components/topic-footer-mobile-dropdown.js
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/topic-footer.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/topic-timeline.scss
  app/assets/stylesheets/desktop/_index.scss
  app/assets/stylesheets/desktop/topic-footer.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/desktop/topic.scss
  app/assets/stylesheets/mobile/_index.scss
  app/assets/stylesheets/mobile/components/_index.scss
  app/assets/stylesheets/mobile/components/topic-footer-mobile-dropdown.scss
  app/assets/stylesheets/mobile/topic-footer.scss
  app/assets/stylesheets/mobile/topic-post.scss
  app/assets/stylesheets/mobile/topic.scss
  app/assets/stylesheets/wcag.scss
  plugins/discourse-presence/assets/javascripts/discourse/connectors/topic-navigation-bottom/presence.hbs
  plugins/discourse-presence/assets/stylesheets/presence.scss
  plugins/styleguide/assets/javascripts/discourse/components/sections/atoms/dropdowns.hbs
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree, prettier, prettier-scss, eslint, ember-template-lint

DEV: admin-login submit should be a button, not an input
  app/views/users/admin_login.html.erb
Due: none

FIX: topic_admin_menu_spec.rb
  spec/system/page_objects/pages/topic.rb
Due: rubocop, syntax_tree

fix tests
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/user-status-picker.gjs
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-user-status-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-status-test.js
  app/assets/javascripts/discourse/tests/helpers/emoji-picker-helper.js
  app/assets/javascripts/discourse/tests/integration/components/d-editor-test.js
  app/assets/javascripts/discourse/tests/integration/components/user-status-picker-test.gjs
Due: prettier, eslint

remove the biggy
  app/assets/javascripts/discourse/app/components/emoji-group-buttons.hbs
  app/assets/javascripts/discourse/app/components/emoji-group-buttons.js
  app/assets/javascripts/discourse/app/components/emoji-group-sections.hbs
  app/assets/javascripts/discourse/app/components/emoji-group-sections.js
  lib/tasks/javascript.rake
Due: syntax_tree, prettier, eslint, ember-template-lint

wip
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/stylesheets/common/components/emoji-picker.scss
  app/assets/stylesheets/mobile/components/emoji-picker.scss
Due: prettier-scss

linting
  app/assets/javascripts/discourse/app/instance-initializers/enable-emoji.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Due: none

wip
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Due: prettier, eslint

fixes
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/instance-initializers/enable-emoji.gjs
  app/assets/javascripts/discourse/app/lib/composer/toolbar.js
  app/assets/stylesheets/common/components/emoji-picker.scss
Due: prettier, prettier-scss, eslint

fixes
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/index.gjs
  app/assets/javascripts/discourse/app/services/emoji-store.js
Due: prettier, eslint

wip
  app/assets/javascripts/admin/addon/components/emoji-value-list.hbs
  plugins/chat/admin/assets/javascripts/admin/components/chat-incoming-webhook-edit-form.gjs
Due: ember-template-lint

linting
  app/assets/javascripts/discourse/app/components/d-editor.hbs
Due: ember-template-lint

wip
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/float-kit/addon/components/d-menu.gjs
  app/assets/javascripts/float-kit/addon/lib/d-menu-instance.js
  app/assets/stylesheets/common/components/emoji-picker.scss
Due: prettier, prettier-scss, eslint

wip
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/diversity-menu.gjs
  app/assets/javascripts/discourse/app/services/emoji-reaction-store.js
  app/assets/javascripts/discourse/tests/helpers/emoji-picker-helper.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-reaction-store-test.js
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Due: prettier, prettier-scss, eslint

wip
  app/assets/javascripts/discourse/app/components/d-editor.js
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/diversity-menu.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/index.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/modal.gjs
  app/assets/javascripts/discourse/app/components/emoji-picker/virtual.gjs
  app/assets/javascripts/discourse/app/services/emoji-reaction-store.js
  app/assets/javascripts/discourse/app/services/emoji-store.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-reaction-store-test.js
  app/assets/javascripts/discourse/tests/unit/services/emoji-store-test.js
  app/assets/javascripts/float-kit/addon/lib/d-menu-instance.js
  app/assets/stylesheets/common/components/emoji-picker.scss
  app/assets/stylesheets/mobile/components/emoji-picker.scss
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
  plugins/chat/assets/javascripts/discourse/components/chat-message.gjs
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
  plugins/chat/assets/javascripts/discourse/services/interacted-chat-message.js
  plugins/chat/assets/stylesheets/common/chat-message-actions.scss
Due: prettier, prettier-scss, eslint

fixes
  app/assets/javascripts/admin/addon/components/emoji-value-list.hbs
  app/assets/javascripts/discourse/app/components/user-status-picker.gjs
Due: ember-template-lint

UX: only show automatic group tooltip to admins (#30155)
  app/assets/javascripts/discourse/app/templates/group.hbs
  app/assets/javascripts/discourse/tests/acceptance/group-manage-membership-test.js
Due: prettier, eslint, ember-template-lint

DEV: Add workaround for chrome crash
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Due: prettier, eslint

DEV: Remove references to categories_only_optimized (#30151)
  db/migrate/20241206121401_delete_categories_only_optimized_site_setting.rb
Due: rubocop, syntax_tree

FIX: freeze_original for moved_post notifications for OP moves, link to destination topic (#30147)
  app/models/post_mover.rb
  spec/models/post_mover_spec.rb
Due: rubocop, syntax_tree

DEV: Add workaround for chrome crash (#30157)
  plugins/chat/assets/javascripts/discourse/lib/chat-message-interactor.js
Due: prettier, eslint

DEV: admin-login submit should be a button, not an input (#30156)
  app/views/users/admin_login.html.erb
Due: none

Update translations
  config/locales/client.hy.yml
  config/locales/server.hy.yml
Due: yaml-syntax

Update translations (#30149)
  config/locales/client.hy.yml
  config/locales/server.hy.yml
Due: yaml-syntax

WIP: don’t show steps that didn’t run in inspector
  lib/service/base.rb
  lib/service/runner.rb
  lib/service/steps_inspector.rb
  spec/support/service_matchers.rb
Due: rubocop, syntax_tree

wip
  app/assets/javascripts/discourse/app/components/emoji-picker/content.gjs
  app/assets/stylesheets/mobile/components/emoji-picker.scss
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-mobile.gjs
Due: prettier-scss

FIX: lower thread panel min-width
  plugins/chat/assets/stylesheets/desktop/chat-side-panel.scss
Due: prettier-scss

post.deleted != post.recoverable
  app/assets/javascripts/discourse/app/models/post.js
  spec/system/post_menu_spec.rb
Due: rubocop, syntax_tree, prettier, eslint
