Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

update spec
  spec/lib/discourse_spec.rb
Due: rubocop, syntax_tree

DEV: Fix core plugin detection in tests
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint

DEV: Fix core plugin detection in tests (#38422)
  frontend/discourse/tests/setup-tests.js
Due: prettier, eslint

DEV: Use plugin name instead of directory name for module paths (#38418)
  lib/discourse.rb
  lib/plugin/js_manager.rb
  spec/lib/discourse_spec.rb
Due: rubocop, syntax_tree

FIX: Improve event rendering in emails (#38420)
  plugins/discourse-calendar/plugin.rb
  plugins/discourse-calendar/spec/lib/discourse_post_event/pretty_text_spec.rb
Due: rubocop, syntax_tree

FIX: Follow up - fullwidth the events onebox, as before
  plugins/discourse-calendar/plugin.rb
Due: rubocop, syntax_tree

DEV: Add upcoming Saudi holidays (Eid Al Fitr)
  plugins/discourse-calendar/assets/javascripts/discourse/lib/regions.js
  plugins/discourse-calendar/vendor/holidays/Gemfile.lock
  plugins/discourse-calendar/vendor/holidays/definitions/sa.yaml
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/REGIONS.rb
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/sa.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

FIX: Follow up - fullwidth the events onebox, as before (#38423)
  plugins/discourse-calendar/plugin.rb
Due: rubocop, syntax_tree

DEV: Deferred upload accesses tempfile after request completes (#38337)
  app/controllers/admin/watched_words_controller.rb
  spec/requests/admin/watched_words_controller_spec.rb
Due: rubocop, syntax_tree

DEV: Move `channel.info` route into `channel`
  plugins/chat/assets/javascripts/discourse/chat-route-map.js
Due: prettier, eslint

DEV: Fix a code example in the transformers doc
  docs/developer-guides/docs/03-code-internals/23-transformers.md
Due: none

DEV: Add upcoming Saudi holidays (Eid Al Fitr) (#38424)
  plugins/discourse-calendar/assets/javascripts/discourse/lib/regions.js
  plugins/discourse-calendar/vendor/holidays/Gemfile.lock
  plugins/discourse-calendar/vendor/holidays/definitions/sa.yaml
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/REGIONS.rb
  plugins/discourse-calendar/vendor/holidays/lib/generated_definitions/sa.rb
Due: rubocop, syntax_tree, prettier, eslint, yaml-syntax

FIX: Chat webhook channel chooser filter always returns no matches
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser.js
  plugins/chat/spec/system/admin/incoming_webhooks_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

FIX: await missing on recursive stateFor call in chat drawer router
  plugins/chat/assets/javascripts/discourse/services/chat-drawer-router.js
Due: prettier, eslint

FIX: Fix incorrect i18n key fallback in status_date_label
  lib/onebox/engine/github_pull_request_onebox.rb
  plugins/discourse-github/spec/lib/github_pr_onebox_status_spec.rb
Due: rubocop, syntax_tree

DEV: simplifies form-kit fields args
  frontend/discourse/admin/components/admin-logo-form.gjs
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/base.gjs
  frontend/discourse/app/form-kit/components/fk/control/calendar.gjs
  frontend/discourse/app/form-kit/components/fk/control/checkbox.gjs
  frontend/discourse/app/form-kit/components/fk/control/code.gjs
  frontend/discourse/app/form-kit/components/fk/control/color.gjs
  frontend/discourse/app/form-kit/components/fk/control/composer.gjs
  frontend/discourse/app/form-kit/components/fk/control/custom.gjs
  frontend/discourse/app/form-kit/components/fk/control/emoji.gjs
  frontend/discourse/app/form-kit/components/fk/control/icon.gjs
  frontend/discourse/app/form-kit/components/fk/control/image.gjs
  frontend/discourse/app/form-kit/components/fk/control/input.gjs
  frontend/discourse/app/form-kit/components/fk/control/menu.gjs
  frontend/discourse/app/form-kit/components/fk/control/password.gjs
  frontend/discourse/app/form-kit/components/fk/control/question.gjs
  frontend/discourse/app/form-kit/components/fk/control/radio-group.gjs
  frontend/discourse/app/form-kit/components/fk/control/select.gjs
  frontend/discourse/app/form-kit/components/fk/control/tag-chooser.gjs
  frontend/discourse/app/form-kit/components/fk/control/textarea.gjs
  frontend/discourse/app/form-kit/components/fk/control/toggle.gjs
  frontend/discourse/app/form-kit/components/fk/field-data.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/code-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/color-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/emoji-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/image-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/input-text-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/menu-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/radio-group-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/tag-chooser-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/textarea-test.gjs
Due: prettier, eslint, ember-template-lint

DEV: Fix a code example in the transformers doc (#38426)
  docs/developer-guides/docs/03-code-internals/23-transformers.md
Due: none

UX: simplify embedded post styles
  app/assets/stylesheets/common/base/embedded-posts.scss
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: simplifies form-kit fields args (#38346)
  frontend/discourse/admin/components/admin-logo-form.gjs
  frontend/discourse/app/form-kit/components/fk/control-wrapper.gjs
  frontend/discourse/app/form-kit/components/fk/control/base.gjs
  frontend/discourse/app/form-kit/components/fk/control/calendar.gjs
  frontend/discourse/app/form-kit/components/fk/control/checkbox.gjs
  frontend/discourse/app/form-kit/components/fk/control/code.gjs
  frontend/discourse/app/form-kit/components/fk/control/color.gjs
  frontend/discourse/app/form-kit/components/fk/control/composer.gjs
  frontend/discourse/app/form-kit/components/fk/control/custom.gjs
  frontend/discourse/app/form-kit/components/fk/control/emoji.gjs
  frontend/discourse/app/form-kit/components/fk/control/icon.gjs
  frontend/discourse/app/form-kit/components/fk/control/image.gjs
  frontend/discourse/app/form-kit/components/fk/control/input.gjs
  frontend/discourse/app/form-kit/components/fk/control/menu.gjs
  frontend/discourse/app/form-kit/components/fk/control/password.gjs
  frontend/discourse/app/form-kit/components/fk/control/question.gjs
  frontend/discourse/app/form-kit/components/fk/control/radio-group.gjs
  frontend/discourse/app/form-kit/components/fk/control/select.gjs
  frontend/discourse/app/form-kit/components/fk/control/tag-chooser.gjs
  frontend/discourse/app/form-kit/components/fk/control/textarea.gjs
  frontend/discourse/app/form-kit/components/fk/control/toggle.gjs
  frontend/discourse/app/form-kit/components/fk/field-data.gjs
  frontend/discourse/app/form-kit/components/fk/field.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/code-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/color-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/emoji-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/image-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/input-text-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/menu-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/radio-group-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/tag-chooser-test.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/textarea-test.gjs
Due: prettier, eslint, ember-template-lint

border adjustment
  app/assets/stylesheets/common/base/embedded-posts.scss
Due: prettier, stylelint

pnpm dedupe [dependabot skip]
  pnpm-lock.yaml
Due: none

Block loading second page of posts when scrolling to the top of post stream on ios
  frontend/discourse/app/components/post-stream.gjs
Due: prettier, eslint, ember-template-lint

UX: remove overflow style from html tag
  app/assets/stylesheets/common/foundation/base.scss
Due: prettier, stylelint

FIX: Chat webhook channel chooser filter always returns no matches (#38427)
  plugins/chat/assets/javascripts/discourse/components/chat-channel-chooser.js
  plugins/chat/spec/system/admin/incoming_webhooks_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

UX: simplify embedded post styles (#38429)
  app/assets/stylesheets/common/base/embedded-posts.scss
  app/assets/stylesheets/common/base/topic-post.scss
  frontend/discourse/app/components/post.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: flexible titles checkboxes
  app/assets/stylesheets/common/form-kit/_control-checkbox.scss
  frontend/discourse/app/components/edit-category-type-schema-fields.gjs
  frontend/discourse/app/form-kit/components/fk/control/checkbox.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/checkbox-test.gjs
Due: prettier, eslint, ember-template-lint, stylelint

FIX: computes form data on load
  frontend/discourse/admin/controllers/edit-category/tabs.js
  frontend/discourse/admin/routes/edit-category/tabs.js
  frontend/discourse/admin/routes/new-category/tabs.js
Due: prettier, eslint

FIX: Set explicit primary key on AiAgent model
  plugins/discourse-ai/app/models/ai_agent.rb
Due: rubocop, syntax_tree

DEV: Remove unrelated require_approval change
  plugins/discourse-ai/app/models/ai_agent.rb
Due: rubocop, syntax_tree

DEV: flexible titles checkboxes (#38433)
  app/assets/stylesheets/common/form-kit/_control-checkbox.scss
  frontend/discourse/app/components/edit-category-type-schema-fields.gjs
  frontend/discourse/app/form-kit/components/fk/control/checkbox.gjs
  frontend/discourse/tests/integration/components/form-kit/controls/checkbox-test.gjs
Due: prettier, eslint, ember-template-lint, stylelint

DEV: Validate category existence in bulk import existing_id handling
  script/bulk_import/base.rb
Due: rubocop, syntax_tree

fix test
  frontend/discourse/admin/controllers/edit-category/tabs.js
Due: prettier, eslint

DEV: remove i18n default key
  lib/onebox/engine/github_pull_request_onebox.rb
Due: rubocop, syntax_tree

UX: prevent all button text from wrapping
  app/assets/stylesheets/common/components/buttons.scss
Due: prettier, stylelint

DEV: Validate category existence in bulk import `existing_id` handling (#38436)
  script/bulk_import/base.rb
Due: rubocop, syntax_tree

UX: prevent button text from wrapping
  app/assets/stylesheets/common/components/buttons.scss
Due: prettier, stylelint

UX: Chat peek mode
  plugins/chat/assets/javascripts/discourse/components/chat-drawer.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/browse.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-members.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-info-settings.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-pins.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-thread.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel-threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/starred-channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/drawer-routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/header/icon.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/actions.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/side-panel-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/toggle-drawer-button.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channel.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/direct-messages.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/search.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/starred-channels.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/routes/threads.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/routes/chat.js
  plugins/chat/assets/javascripts/discourse/services/chat-state-manager.js
  plugins/chat/assets/stylesheets/common/chat-side-panel-mode.scss
  plugins/chat/assets/stylesheets/common/index.scss
  plugins/chat/config/locales/client.en.yml
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FIX: Add missing return in getConsolePrefix
  frontend/discourse/app/lib/deprecated.js
  frontend/discourse/tests/unit/lib/deprecated-test.js
Due: prettier, eslint
