Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

DEV: Introduce `:before_auth` DiscourseEvent
  app/controllers/users/associate_accounts_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/associate_accounts_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop

DEV: uses jquery 3.5.1 (#11230)
  package.json
  vendor/assets/javascripts/jquery.js
  yarn.lock
Due: none

REFACTOR: Add support for `currentRouteName` in test helpers
  app/assets/javascripts/discourse/tests/acceptance/account-created-test.js
  app/assets/javascripts/discourse/tests/acceptance/auth-complete-test.js
  app/assets/javascripts/discourse/tests/acceptance/login-redirect-test.js
  app/assets/javascripts/discourse/tests/acceptance/login-required-test.js
  app/assets/javascripts/discourse/tests/acceptance/preferences-test.js
  app/assets/javascripts/discourse/tests/acceptance/redirect-to-top-test.js
  app/assets/javascripts/discourse/tests/acceptance/static-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-anonymous-test.js
  app/assets/javascripts/discourse/tests/acceptance/user-test.js
  app/assets/javascripts/test-shims.js
  app/assets/javascripts/wizard/test/acceptance/wizard-test.js
Due: prettier, eslint-js

DEV: Move browser-update.js.erb out of vendored scripts
  app/assets/javascripts/browser-update.js.erb
Due: none

DEV: Introduce `:before_auth` DiscourseEvent (#11233)
  app/controllers/users/associate_accounts_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/requests/associate_accounts_controller_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: rubocop

Clean up fixes
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/controllers/admin/themes_controller.rb
Due: rubocop

FIX: Disallow editing of remote themes (#11189)
  app/assets/javascripts/admin/addon/routes/admin-customize-themes-edit.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/controllers/admin/themes_controller.rb
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Show read indicator only for group PMs (#11224)
  lib/topic_view.rb
  spec/components/topic_view_spec.rb
Due: rubocop

FEATURE: display error if Oneboxing fails due to HTTP error
  app/assets/stylesheets/common/base/onebox.scss
  config/locales/server.en.yml
  lib/final_destination.rb
  lib/onebox/templates/preview_error_fragment_onebox.mustache
  lib/onebox/templates/preview_error_onebox.mustache
  lib/oneboxer.rb
  spec/components/oneboxer_spec.rb
  spec/fixtures/onebox/missing_description.response
  spec/fixtures/onebox/missing_description_and_image.response
  spec/fixtures/onebox/video_missing_description.response
  spec/requests/onebox_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: Use new Instagram oEmbed endpoint if access token is configured
  config/locales/server.en.yml
  config/site_settings.yml
  lib/oneboxer.rb
  spec/components/oneboxer_spec.rb
  spec/fixtures/onebox/instagram_new.response
  spec/fixtures/onebox/instagram_old.response
Due: rubocop, yaml-syntax, i18n-lint

DEV: update user agent string
  lib/final_destination.rb
Due: rubocop

DEV: don’t do HEAD requests against news.yahoo.com
  lib/oneboxer.rb
Due: rubocop

PERF: Simplify topic serialization for user summary page
  app/serializers/user_summary_serializer.rb
Due: rubocop

PERF: Preload topic thumbnails for all topic lists
  app/models/topic_list.rb
  lib/topic_query.rb
Due: rubocop

FIX: IndexCategoryForSearch category_id job exception
  app/models/category.rb
Due: rubocop

FIX: Inline avatar style for onebox when embedding secure images (#11229)
  lib/email/styles.rb
  lib/pretty_text.rb
  spec/components/email/styles_spec.rb
Due: rubocop

FIX: save draft when either title or reply is present
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint-js

FIX: save draft when either title or reply is present (#11243)
  app/assets/javascripts/discourse/app/models/composer.js
Due: prettier, eslint-js

FIX: remove post-action when a post is permanently deleted
  lib/post_destroyer.rb
  spec/components/post_destroyer_spec.rb
Due: rubocop

DEV: Gracefully handle theme update errors
  lib/tasks/themes.rake
Due: none

FEATURE: Add auto update field to themes
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/controllers/admin/themes_controller.rb
  app/models/theme.rb
  app/serializers/theme_serializer.rb
  config/locales/client.en.yml
  db/migrate/20201102162044_add_auto_update_to_themes.rb
  lib/tasks/themes.rake
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Auto update themes by default
  app/models/theme.rb
  db/migrate/20201102162044_add_auto_update_to_themes.rb
Due: rubocop

FEATURE: Add auto update field to themes (#11102)
  app/assets/javascripts/admin/addon/controllers/admin-customize-themes-show.js
  app/assets/javascripts/admin/addon/templates/customize-themes-show.hbs
  app/controllers/admin/themes_controller.rb
  app/models/theme.rb
  app/serializers/theme_serializer.rb
  config/locales/client.en.yml
  db/migrate/20201102162044_add_auto_update_to_themes.rb
  lib/tasks/themes.rake
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

PERF: Preload topic thumbnails for all topic lists (#11238)
  app/models/topic_list.rb
  lib/topic_query.rb
Due: rubocop

FIX: Disable auto_update for existent themes
  db/migrate/20201116132948_set_themes_auto_update_false.rb
Due: rubocop

FIX: Disable auto_update for existent themes (#11244)
  db/migrate/20201116132948_set_themes_auto_update_false.rb
Due: rubocop

FEATURE: Add an API key scopes for handling incoming email.
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

UX: Revamp category permissions
  app/assets/javascripts/discourse/app/components/category-permission-row.js
  app/assets/javascripts/discourse/app/components/edit-category-security.js
  app/assets/javascripts/discourse/app/controllers/edit-category-tabs.js
  app/assets/javascripts/discourse/app/models/category.js
  app/assets/javascripts/discourse/app/templates/components/category-permission-row.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-category-general.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-category-security.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-category-settings.hbs
  app/assets/javascripts/discourse/app/templates/components/edit-category-topic-template.hbs
  app/assets/javascripts/discourse/app/templates/edit-category-tabs.hbs
  app/assets/stylesheets/common/base/edit-category.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: Add an API key scopes for handling incoming email. (#11245)
  app/models/api_key_scope.rb
  config/locales/client.en.yml
  spec/requests/admin/api_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Fix linting
  app/assets/javascripts/discourse/app/components/category-permission-row.js
  app/assets/javascripts/discourse/app/components/edit-category-security.js
Due: prettier, eslint-js

FIX: IndexCategoryForSearch category_id job exception (#11239)
  app/models/category.rb
Due: rubocop

FIX: do not allow a tag to be synonym of its own
  app/assets/javascripts/discourse/app/templates/components/tag-info.hbs
  lib/discourse_tagging.rb
  spec/components/discourse_tagging_spec.rb
Due: rubocop

DEV: Remove 'diff local changes' when updating remote themes
  app/assets/javascripts/admin/addon/models/theme.js
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  config/routes.rb
  lib/theme_store/git_importer.rb
  spec/models/remote_theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Remove 'diff local changes' when updating remote themes (#11247)
  app/assets/javascripts/admin/addon/models/theme.js
  app/controllers/admin/themes_controller.rb
  app/models/remote_theme.rb
  config/routes.rb
  lib/theme_store/git_importer.rb
  spec/models/remote_theme_spec.rb
  spec/requests/admin/themes_controller_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Use the correct key for the receive_emails scopes
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

FIX: remove post-action when a post is permanently deleted (#11242)
  lib/post_destroyer.rb
  spec/components/post_destroyer_spec.rb
Due: rubocop

FIX: Use the correct key for the receive_emails scopes (#11248)
  config/locales/client.en.yml
Due: yaml-syntax, i18n-lint

REFACTOR: Allow us to import `keyEvent`
  app/assets/javascripts/discourse/tests/acceptance/admin-site-settings-test.js
  app/assets/javascripts/discourse/tests/acceptance/composer-hyperlink-test.js
  app/assets/javascripts/discourse/tests/acceptance/keyboard-shortcuts-test.js
  app/assets/javascripts/discourse/tests/acceptance/modal-test.js
  app/assets/javascripts/discourse/tests/acceptance/plugin-keyboard-shortcut-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-full-test.js
  app/assets/javascripts/discourse/tests/acceptance/search-test.js
  app/assets/javascripts/discourse/tests/acceptance/topic-test.js
  app/assets/javascripts/discourse/tests/integration/components/simple-list-test.js
  app/assets/javascripts/test-shims.js
Due: prettier, eslint-js

DEV: cap notifications per run at 300 as stated in comment
  app/jobs/scheduled/bookmark_reminder_notifications.rb
Due: rubocop

DEV: Improved error handling. New Instagram oEmbed endpoint. New blank value for Twitter metadata. (#437)
  lib/onebox/engine.rb
  lib/onebox/engine/allowlisted_generic_onebox.rb
  lib/onebox/engine/instagram_onebox.rb
  lib/onebox/engine/standard_embed.rb
  lib/onebox/helpers.rb
  lib/onebox/preview.rb
  spec/fixtures/instagram.response
  spec/fixtures/instagram_alternative.response
  spec/fixtures/instagram_old.response
  spec/lib/onebox/engine/instagram_onebox_spec.rb
  templates/instagram.mustache
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
