Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss

UX: review queue refresh - add missing translation, avoid undefined counts (#36393)
  config/locales/client.en.yml
  frontend/discourse/app/components/reviewable-refresh/insights.gjs
Due: prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Normalize (ok)lch values in computed style matcher (#36404)
  spec/support/computed_style_matcher.rb
Due: rubocop, syntax_tree

DEV: Sync optimized videos secure status (#36403)
  app/models/upload.rb
  spec/models/upload_spec.rb
Due: rubocop, syntax_tree

DEV: Support deprecating site settings in plugins (#36371)
  lib/plugin/instance.rb
  lib/site_settings/deprecated_settings.rb
  plugins/discourse-policy/plugin.rb
  plugins/discourse-policy/spec/plugin_spec.rb
Due: rubocop, syntax_tree

FIX: Don't show empty switcher (#36407)
  frontend/discourse/app/components/header/icons.gjs
  spec/system/content_localization_language_switcher_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

Revert "Build(deps-dev): Bump playwright from 1.56.1 to 1.57.0 (#36352)" (#36405)
  package.json
  pnpm-lock.yaml
Due: none

DEV: remove magnific lightbox (#36375)
  .github/dependabot.yml
  app/assets/stylesheets/common/base/_index.scss
  app/assets/stylesheets/common/base/lightbox.scss
  app/assets/stylesheets/common/base/magnific-popup.scss
  config/locales/server.en.yml
  config/site_settings.yml
  frontend/discourse/admin/components/admin-config-areas/upcoming-change-item.gjs
  frontend/discourse/app/components/uppy-image-uploader.gjs
  frontend/discourse/app/instance-initializers/clean-dom-on-route-change.js
  frontend/discourse/app/instance-initializers/post-decorations.js
  frontend/discourse/app/lib/lightbox.js
  frontend/discourse/package.json
  frontend/discourse/tests/acceptance/lightbox-test.js
  frontend/discourse/tests/integration/components/uppy-image-uploader-test.gjs
  lib/cooked_processor_mixin.rb
  plugins/chat/assets/javascripts/discourse/components/chat-message-collapser.gjs
  plugins/chat/assets/javascripts/discourse/initializers/chat-decorators.js
  plugins/chat/assets/javascripts/discourse/initializers/chat-keyboard-shortcuts.js
  plugins/chat/assets/javascripts/discourse/lib/lightbox.js
  plugins/chat/spec/system/channel_message_upload_spec.rb
  plugins/chat/spec/system/shortcuts/drawer_spec.rb
  plugins/chat/test/javascripts/acceptance/chat-live-pane-collapse-test.js
  pnpm-lock.yaml
  spec/system/admin_about_config_area_spec.rb
  spec/system/lightbox_spec.rb
  spec/system/page_objects/components/uppy_image_uploader.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

FEATURE: improve bulk selection in search (#36373)
  config/locales/client.en.yml
  frontend/discourse/app/components/bulk-select-topics-dropdown.gjs
  frontend/discourse/app/components/search-bulk-select-dropdown.gjs
  frontend/discourse/app/components/search-result-entry.gjs
  frontend/discourse/app/components/topic-list/topic-bulk-select-dropdown.gjs
  frontend/discourse/app/controllers/full-page-search.js
  frontend/discourse/app/lib/bulk-select-helper.js
  frontend/discourse/app/lib/post-bulk-select-helper.js
  frontend/discourse/app/templates/full-page-search.gjs
  frontend/discourse/tests/integration/components/bulk-select-topics-dropdown-test.gjs
  lib/search.rb
  spec/lib/search_spec.rb
  spec/system/search_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint

DEV: Refactor ApplicationHelper#server_plugin_outlet take 2 (#36418)
  app/helpers/application_helper.rb
  config/initializers/development.rb
  spec/fixtures/plugins/my_plugin/app/views/connectors/topic_header/template_1.html.erb
  spec/fixtures/plugins/my_plugin/app/views/connectors/topic_header/template_2.html.erb
  spec/fixtures/plugins/my_plugin_2/app/views/connectors/topic_header/template_1.html.erb
  spec/fixtures/plugins/my_plugin_2/app/views/connectors/topic_header/template_2.html.erb
  spec/fixtures/plugins/my_plugin_3/app/views/connectors/some_other_outlet/template_1.html.erb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

Revert "DEV: Refactor `ApplicationHelper#server_plugin_outlet` (#36307)" (#36417)
  app/helpers/application_helper.rb
  config/initializers/development.rb
  spec/fixtures/plugins/my_plugin/app/views/connectors/topic_header/template_1.html.erb
  spec/fixtures/plugins/my_plugin/app/views/connectors/topic_header/template_2.html.erb
  spec/fixtures/plugins/my_plugin_2/app/views/connectors/topic_header/template_1.html.erb
  spec/fixtures/plugins/my_plugin_2/app/views/connectors/topic_header/template_2.html.erb
  spec/fixtures/plugins/my_plugin_3/app/views/connectors/some_other_outlet/template_1.html.erb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

FEATURE: Accept tags param when opening a /new-message (#36421)
  frontend/discourse/app/routes/new-message.js
  frontend/discourse/app/services/composer.js
  frontend/discourse/tests/acceptance/new-message-test.js
Due: prettier, eslint

Update translations (#36419)
  config/locales/client.cs.yml
  config/locales/client.de.yml
  config/locales/client.el.yml
  config/locales/client.he.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ro.yml
  config/locales/client.ug.yml
  config/locales/client.uk.yml
  config/locales/client.zh_CN.yml
  config/locales/server.pl_PL.yml
  config/locales/server.uk.yml
  config/locales/server.zh_CN.yml
Due: yaml-syntax

FIX: Also merge topic votes when a user is merged (#36416)
  plugins/discourse-topic-voting/lib/discourse_topic_voting/user_merger.rb
  plugins/discourse-topic-voting/plugin.rb
  plugins/discourse-topic-voting/spec/lib/user_merger_spec.rb
Due: rubocop, syntax_tree

UX: Fix blank space for discourse-subscriptions plugin on user-main-nav (#36408)
  plugins/discourse-subscriptions/assets/javascripts/discourse/connectors/user-main-nav/billing.gjs
Due: prettier, eslint, ember-template-lint

DEV: Regenerate IntermediateDB to explicitly exclude adplugin tables (#36394)
  migrations/config/intermediate_db.yml
Due: yaml-syntax

DEV: Add `symbol` to ActiveModel attribute types (#36420)
  config/initializers/100-active-support-type-extensions.rb
  lib/active_support_type_extensions/symbol.rb
  spec/lib/active_support_type_extensions/symbol_spec.rb
Due: rubocop, syntax_tree

DEV: remove experimental lightbox site setting (#36377)
  db/migrate/20251202101647_remove_experimental_lightbox_site_setting.rb
Due: rubocop, syntax_tree

FIX: show AI gists on tag routes when enabled (#36402)
  plugins/discourse-ai/assets/javascripts/discourse/initializers/ai-gist-connector.gjs
Due: prettier, eslint, ember-template-lint

FEATURE: Add modifier hook for tags being saved (#36400)
  lib/discourse_tagging.rb
  spec/lib/discourse_tagging_spec.rb
Due: rubocop, syntax_tree

DEV: Run `playwright-install` in docker:test task (#36428)
  lib/tasks/docker.rake
Due: rubocop, syntax_tree

UX: make reactions given/received consistent with likes (#36430)
  plugins/discourse-reactions/assets/javascripts/discourse/templates/user-activity/reactions.gjs
Due: prettier, eslint, ember-template-lint

UX: chat channel emoji size in DM channels (#36427)
  app/assets/stylesheets/common/base/sidebar-section-link.scss
  plugins/chat/assets/stylesheets/common/chat-channel-icon.scss
Due: prettier, stylelint

DEV: Refactor redundant logic on postmigration for HouseAds (#36399)
  plugins/discourse-adplugin/db/post_migrate/20251104121943_migrate_house_ads_from_plugin_store.rb
Due: rubocop, syntax_tree

FIX: update rack sendfile middleware for x-accel-redirect (#36354)
  config/application.rb
  config/environments/development.rb
  spec/integrity/middleware_order_spec.rb
Due: rubocop, syntax_tree

DEV: Update IntermediateDB config to exclude `llm_credit_daily_usages` table (#36425)
  migrations/config/intermediate_db.yml
Due: yaml-syntax

DEV: Add an identifier to the "star channel" tooltip (#36435)
  plugins/chat/assets/javascripts/discourse/components/chat/navbar/channel-title.gjs
Due: prettier, eslint, ember-template-lint

UX: fix buttons that are supposed to have a bg color (#36446)
  themes/horizon/scss/buttons.scss
Due: prettier, stylelint

FIX: CategoryModerationGroups import step query (#36392)
  migrations/lib/importer/steps/categories/category_moderation_groups.rb
Due: rubocop, syntax_tree

FIX: missing LLM options on Azure (#36448)
  plugins/discourse-ai/app/models/llm_model.rb
Due: rubocop, syntax_tree

FIX: regression in channel list and make improvements (#36436)
  plugins/chat/assets/javascripts/discourse/components/channels-list-direct.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-public.gjs
  plugins/chat/assets/javascripts/discourse/components/channels-list-starred.gjs
  plugins/chat/assets/javascripts/discourse/components/chat/footer/unread-indicator.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channels-manager.js
  plugins/chat/test/javascripts/unit/services/chat-channels-manager-test.js
Due: prettier, eslint, ember-template-lint

UX: keep email / username between signup and login pages (#36442)
  frontend/discourse/app/components/local-login-form.gjs
  frontend/discourse/app/components/signup-page-cta.gjs
  frontend/discourse/app/controllers/login.js
  frontend/discourse/app/controllers/signup.js
  frontend/discourse/app/templates/signup.gjs
  frontend/discourse/tests/acceptance/login-from-signup-test.js
Due: prettier, eslint, ember-template-lint

FIX: Discord Bot crash due to missing BotContext in PersonaReplier (#36429)
  plugins/discourse-ai/lib/discord/bot/persona_replier.rb
  plugins/discourse-ai/spec/lib/discord/bot/persona_replier_spec.rb
Due: rubocop, syntax_tree

DEV: Fix state leak in MiniSchedulerLongRunningJobLogger spec (#36453)
  spec/lib/mini_scheduler_long_running_job_logger_spec.rb
Due: rubocop, syntax_tree

UX: trim chat channel description (#36454)
  plugins/chat/assets/javascripts/discourse/models/chat-channel.js
Due: prettier, eslint

FIX: correctly filter out event attendees (#36459)
  plugins/discourse-calendar/app/models/discourse_post_event/invitee.rb
  plugins/discourse-calendar/app/services/discourse_post_event/chat_channel_sync.rb
  plugins/discourse-calendar/spec/integration/invitee_spec.rb
  plugins/discourse-calendar/spec/services/discourse_post_event/chat_channel_sync_spec.rb
Due: rubocop, syntax_tree

FIX: Ensure tag diffs use persisted topic tags (#35187)
  lib/post_revisor.rb
  spec/lib/post_revisor_spec.rb
Due: rubocop, syntax_tree

FIX: pushing replies to topics already in zendesk (#36424)
  plugins/discourse-zendesk-plugin/app/jobs/regular/zendesk_job.rb
  plugins/discourse-zendesk-plugin/lib/discourse_zendesk_plugin/post_extension.rb
  plugins/discourse-zendesk-plugin/spec/jobs/regular/zendesk_job_spec.rb
  plugins/discourse-zendesk-plugin/spec/lib/discourse_zendesk_plugin/post_extension_spec.rb
Due: rubocop, syntax_tree

FEATURE: Use a log based heuristic to check for LLM problems. (#36432)
  app/models/problem_check.rb
  plugins/discourse-ai/app/models/ai_api_audit_log.rb
  plugins/discourse-ai/app/services/problem_check/ai_llm_status.rb
  plugins/discourse-ai/config/locales/server.en.yml
  plugins/discourse-ai/db/migrate/20251203115747_add_response_status_to_ai_api_audit_log.rb
  plugins/discourse-ai/lib/completions/endpoints/base.rb
  plugins/discourse-ai/plugin.rb
  plugins/discourse-ai/spec/lib/completions/llm_spec.rb
  plugins/discourse-ai/spec/services/problem_check/ai_llm_status_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint
