Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Improve accuracy of replacement `action` modifer
  app/assets/javascripts/discourse/app/lib/ember-action-modifier.js
  app/assets/javascripts/discourse/app/lib/ember-events.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-action-modifer-test.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
Due: prettier, eslint-js

Avoid triggering the ember.component.reopen deprecation
  app/assets/javascripts/discourse/app/lib/ember-events.js
Due: prettier, eslint-js

Ensure continuity when event handlers return `false`
  app/assets/javascripts/discourse/app/lib/ember-events.js
Due: prettier, eslint-js

Normalize event handling to improve Glimmer + Classic component compat
  app/assets/javascripts/discourse/app/app.js
  app/assets/javascripts/discourse/app/initializers/ember-events.js
  app/assets/javascripts/discourse/app/lib/ember-events.js
  app/assets/javascripts/discourse/tests/unit/lib/ember-events-test.js
Due: prettier, eslint-js

Adjust d-button `click` handler return value
  app/assets/javascripts/discourse/app/components/d-button.js
Due: prettier, eslint-js

FIX: New Topic button is now correctly disabled in a category where they have no permissions, even when filtered by tag
  app/assets/javascripts/discourse/app/templates/tag/show.hbs
Due: none

Ensure that any added event listeners are properly torn down
  app/assets/javascripts/discourse/app/lib/ember-events.js
Due: prettier, eslint-js

FEATURE: control topic width with single variable
  app/assets/stylesheets/common/base/personal-message.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/topic-post.scss
  app/assets/stylesheets/mobile/topic-post.scss
Due: none

float still needed on mobile avatar
  app/assets/stylesheets/mobile/topic-post.scss
Due: none

Add sd_notify. Enables systemd to... run Puma as a Type=notify and watchdog service
  Gemfile
  Gemfile.lock
Due: none

FIX: Use plain text for alert with multiple errors
  app/assets/javascripts/discourse/app/lib/ajax-error.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

FEATURE: control topic width with variables (#18743)
  app/assets/stylesheets/common/base/personal-message.scss
  app/assets/stylesheets/common/base/reviewables.scss
  app/assets/stylesheets/common/base/topic-post.scss
  app/assets/stylesheets/common/base/topic.scss
  app/assets/stylesheets/common/foundation/variables.scss
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

DEV: Update docs for composerBeforeSave
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

DEV: Add tests
  app/assets/javascripts/discourse/tests/acceptance/onboarding-popups-test.js
Due: prettier, eslint-js

FIX: Add theme-color `<meta>` tag when a dark scheme is selected
  app/helpers/application_helper.rb
  app/views/layouts/_head.html.erb
  spec/helpers/application_helper_spec.rb
Due: rubocop

Add promise to example
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

DEV: Update docs for composerBeforeSave (#18746)
  app/assets/javascripts/discourse/app/lib/plugin-api.js
Due: prettier, eslint-js

DEV: Introduce `TopicGuardian#can_see_topic_ids` method
  app/models/reviewable_flagged_post.rb
  app/models/topic.rb
  lib/guardian.rb
  lib/guardian/topic_guardian.rb
  spec/lib/guardian/topic_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/rails_helper.rb
  spec/support/topic_guardian_can_see_consistency_check.rb
Due: rubocop

FIX: variable name typo
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

FIX: variable name typo (#18752)
  app/assets/stylesheets/desktop/topic-post.scss
Due: none

DEV(cache_critical_dns): add caching for MessageBus Redis hostname
  script/cache_critical_dns
Due: none

FIX(cache_critical_dns): use correct DISCOURSE_DB_USERNAME envvar (#16862)
  script/cache_critical_dns
Due: none

DOC(cache_critical_dns): add program description
  script/cache_critical_dns
Due: none

FIX: cache_critical_dns - add TLS support for Redis healthcheck
  script/cache_critical_dns
Due: none

DEV(cache_critical_dns): add SRV priority tunables
  script/cache_critical_dns
Due: none

DEV: Include DISCOURSE_REDIS_REPLICA_HOST in cache_critical_dns (#15877)
  script/cache_critical_dns
Due: none

DEV: refactor cache_critical_dns for SRV RR awareness
  script/cache_critical_dns
Due: none

FIX(cache_critical_dns): use discourse database name and user by default (#16856)
  script/cache_critical_dns
Due: none

DEV(cache_critical_dns): add option to run once and exit
  script/cache_critical_dns
Due: none

FIX: remove refresh seconds override on cache_critical_dns (#16572)
  script/cache_critical_dns
Due: none

DEV(cache_critical_dns): improve postgres_healthcheck
  script/cache_critical_dns
Due: none

Address review comments and made some changes
  app/models/topic.rb
  lib/guardian.rb
  lib/guardian/topic_guardian.rb
  spec/lib/guardian/topic_guardian_spec.rb
  spec/lib/guardian_spec.rb
  spec/rails_helper.rb
  spec/support/topic_guardian_can_see_consistency_check.rb
Due: rubocop

DEV: Add description for active param on create user api docs
  spec/requests/api/schemas/json/user_create_request.json
Due: none

DEV: Add description for active param on create user api docs (#18753)
  spec/requests/api/schemas/json/user_create_request.json
Due: none

DEV: Update rubocop
  Gemfile.lock
  db/migrate/20150727230537_add_example_column_comments.rb
  spec/lib/auth/facebook_authenticator_spec.rb
  spec/requests/api/private_messages_spec.rb
  spec/requests/api/tags_spec.rb
  spec/requests/api/topics_spec.rb
  spec/swagger_helper.rb
Due: rubocop

address more review comments
  lib/guardian/topic_guardian.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
