Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

FIX: Ignore invalid images when shrinking uploads
  lib/shrink_uploaded_image.rb
  spec/lib/shrink_uploaded_image_spec.rb
Due: rubocop

async since we're here
  app/assets/javascripts/discourse/app/controllers/account-created-edit-email.js
Due: prettier, eslint-js

qunit-dom
  app/assets/javascripts/discourse/tests/acceptance/sign-in-test.js
Due: prettier, eslint-js

simpler spec
  plugins/chat/spec/system/chat_channel_spec.rb
Due: rubocop

better spec
  plugins/chat/spec/system/chat_channel_spec.rb
Due: rubocop

FIX: correctly save scroll position in channel (#25345)
  plugins/chat/assets/javascripts/discourse/components/chat-channel.gjs
  plugins/chat/assets/javascripts/discourse/services/chat-channel-scroll-positions.js
  plugins/chat/spec/system/chat_channel_spec.rb
Due: rubocop, prettier, eslint-js

use the correct variable
  app/assets/javascripts/discourse/app/components/modal/activation-edit.js
Due: prettier, eslint-js

clean up
  app/assets/javascripts/discourse/tests/acceptance/sign-in-test.js
Due: prettier, eslint-js

qunit dom
  app/assets/javascripts/discourse/tests/acceptance/account-created-test.js
Due: prettier, eslint-js

DEV: Remove "(Ember 5)" suffix from CI job names
  .github/workflows/tests.yml
Due: yaml-syntax

can I use ! like this?
  .github/workflows/tests.yml
Due: yaml-syntax

extra char
  .github/workflows/tests.yml
Due: yaml-syntax

empty string
  .github/workflows/tests.yml
Due: yaml-syntax

FEATURE: Add unsubscribe option for tags
  app/views/email/_tag.html.erb
  app/views/email/unsubscribe.html.erb
  config/locales/server.de.yml
  config/locales/server.en.yml
  lib/email_controller_helper/topic_email_unsubscriber.rb
  spec/requests/email_controller_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

FEATURE: add option to sort topic query result via plugin.
  app/assets/javascripts/discourse/app/raw-views/topic-list-header-column.js
  lib/topic_query.rb
Due: rubocop, prettier, eslint-js

UX: `user.account_possessive` was impossible to translate (#25331)
  app/assets/javascripts/discourse/app/widgets/header.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

import category users
  script/bulk_import/base.rb
  script/bulk_import/generic_bulk.rb
Due: rubocop

FIX: apply plugin modifier only if new sortable mapping added.
  lib/topic_query.rb
Due: rubocop

fix constant name misspelling
  spec/lib/topic_query_spec.rb
Due: rubocop

Update lockfiles for ember version flag
  app/assets/javascripts/yarn-ember3.lock
  app/assets/javascripts/yarn-ember5.lock
  yarn-ember5.lock
Due: none

Wa2IP
  app/models/enum_meta_column.rb
  app/models/enum_meta_field_type.rb
  app/models/integer_meta_column.rb
  app/models/integer_meta_field_type.rb
  app/models/meta_column.rb
  app/models/meta_field.rb
  app/models/meta_object.rb
  app/models/meta_schema.rb
  app/models/string_meta_column.rb
  app/models/string_meta_field_type.rb
  db/migrate/20240118023331_create_theme_meta_schemas.rb
  db/migrate/20240118062258_create_meta_objects.rb
  lib/meta_object_creator.rb
Due: rubocop

WIP
  app/models/enum_meta_field.rb
  app/models/integer_meta_field.rb
  app/models/meta_column.rb
  app/models/meta_field.rb
  app/models/string_meta_field.rb
  db/migrate/20240118062258_create_meta_objects.rb
  lib/meta_object_creator.rb
  lib/meta_schema_creator.rb
Due: rubocop

WIP
  app/models/enum_meta_field.rb
  app/models/enum_meta_field_type.rb
  app/models/integer_meta_field.rb
  app/models/integer_meta_field_type.rb
  app/models/meta_field.rb
  app/models/meta_field_type.rb
  app/models/meta_object.rb
  app/models/meta_schema.rb
  app/models/string_meta_field.rb
  app/models/string_meta_field_type.rb
  db/migrate/20240118023331_create_theme_meta_schemas.rb
  db/migrate/20240118062258_create_meta_objects.rb
Due: rubocop

DEV: Improve site setting rename generator
  lib/generators/site_setting_move_to_groups_migration/site_setting_move_to_groups_migration_generator.rb
Due: rubocop

DEV: Change poll_minimum_trust_level_to_create to group based setting
  plugins/discourse-narrative-bot/lib/discourse_narrative_bot/advanced_user_narrative.rb
  plugins/poll/assets/javascripts/discourse/initializers/add-poll-ui-builder.js
  plugins/poll/config/locales/server.en.yml
  plugins/poll/config/settings.yml
  plugins/poll/db/post_migrate/20240122015626_fill_poll_create_allowed_groups_based_on_deprecated_setting.rb
  plugins/poll/lib/post_validator.rb
  plugins/poll/plugin.rb
  plugins/poll/spec/controllers/posts_controller_spec.rb
  plugins/poll/spec/lib/new_post_manager_spec.rb
  plugins/poll/test/javascripts/acceptance/poll-builder-disabled-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Move styleguide_admin_only to group based setting
  plugins/styleguide/app/controllers/styleguide/styleguide_controller.rb
  plugins/styleguide/config/locales/server.en.yml
  plugins/styleguide/config/settings.yml
  plugins/styleguide/db/post_migrate/20240122015630_fill_styleguide_admin_only_groups.rb
  plugins/styleguide/spec/integration/access_spec.rb
Due: rubocop, yaml-syntax, i18n-lint

Update lib/topic_query.rb
  lib/topic_query.rb
Due: rubocop

FIX: User group check should return true for system user for auto groups
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop

DEV: Test fix
  plugins/discourse-narrative-bot/spec/discourse_narrative_bot/advanced_user_narrative_spec.rb
  plugins/poll/spec/controllers/polls_controller_spec.rb
  plugins/poll/spec/lib/poll_spec.rb
  plugins/poll/spec/models/poll_spec.rb
Due: rubocop

FIX: User group check should return true for system user for auto groups (#25357)
  app/models/user.rb
  spec/models/user_spec.rb
Due: rubocop

DEV: Test fix
  plugins/poll/test/javascripts/acceptance/poll-builder-disabled-test.js
  plugins/poll/test/javascripts/acceptance/poll-builder-enabled-test.js
Due: prettier, eslint-js

DEV: Print out backtraces of all threads when spec times out on CI
  spec/rails_helper.rb
Due: rubocop

DEV: Test fix
  lib/generators/site_setting_move_to_groups_migration/site_setting_move_to_groups_migration_generator.rb
  spec/generator/site_setting_move_to_groups_migrations_generator_spec.rb
Due: rubocop

SPEC: add tests to check apply_ordering modifiers
  spec/lib/topic_query_spec.rb
Due: rubocop

DEV: Review fixes
  plugins/poll/config/locales/server.en.yml
Due: yaml-syntax, i18n-lint

Theme Objects setting type spike
  app/models/theme_field.rb
  app/models/theme_setting.rb
  lib/meta_schema_creator.rb
  lib/theme_settings_manager.rb
  lib/theme_settings_parser.rb
Due: rubocop

FIX: Minor bookmark issues
  app/assets/javascripts/discourse/app/components/bookmark-icon.js
  app/assets/javascripts/discourse/app/models/bookmark.js
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.gjs
Due: prettier, eslint-js

fix failing tests
  app/assets/javascripts/discourse/app/components/topic-map/topic-participants.gjs
Due: none

DEV: refactor topic-map participants into glimmer component
  app/assets/javascripts/discourse/app/components/topic-map/topic-participants.gjs
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/widgets/topic-map.js
Due: prettier, eslint-js

fix toggled participants bug in TopicParticipants
  app/assets/javascripts/discourse/app/components/topic-map/topic-participants.gjs
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
