Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{js,es6}"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn prettier --list-different {staged_files}
    eslint-es6:
      glob: "*.es6"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint --ext .es6 -f compact {staged_files}
    eslint-js:
      glob: "*.js"
      exclude: "vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit"
      run: yarn eslint -f compact {staged_files}
    ember-template-lint:
      run: yarn run ember-template-lint {staged_files}
    yaml-syntax:
      glob: "*.{yaml,yml}"
      # database.yml is an erb file not a yaml file
      exclude: "database.yml"
      run: bundle exec yaml-lint {staged_files}
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD master
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD master
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

lints:
  parallel: true
  commands:
    rubocop:
      run: bundle exec rubocop --parallel
    prettier:
      glob: "{app/assets/stylesheets/**/*.scss,app/assets/javascripts/**/*.es6,test/javascripts/**/*.es6}"
      run: yarn prettier --list-different {all_files}
    eslint-assets-es6:
      run: yarn eslint --ext .es6 app/assets/javascripts
    eslint-assets-js:
      run: yarn eslint app/assets/javascripts
    eslint-test:
      run: yarn eslint --ext .es6 test/javascripts
    eslint-plugins-assets:
      run: yarn eslint --global I18n --ext .es6 plugins/**/assets/javascripts
    eslint-plugins-test:
      run: yarn eslint --global I18n --ext .es6 plugins/**/test/javascripts
    eslint-assets-tests:
      run: yarn eslint app/assets/javascripts test/javascripts
    i18n-lint:
      glob: "**/{client,server}.en.yml"
      run: bundle exec ruby script/i18n_lint.rb {all_files}

API
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
  plugins/styleguide/assets/javascripts/discourse/pre-initializers/styleguide-plugin-api.js
Due: prettier, eslint-js

FEATURE: apply hashtag styles to autocomplete
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/templates/hashtag-autocomplete.hbr
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
Due: prettier, eslint-js

FEATURE: Create legal topics for set company name
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/views/static/show.html.erb
  config/initializers/014-track-setting-changes.rb
  config/site_settings.yml
  lib/seed_data/topics.rb
  lib/tasks/annotate.rake
  spec/initializers/track_setting_changes_spec.rb
  spec/lib/seed_data/topics_spec.rb
Due: rubocop, yaml-syntax

Apply code suggestions
  config/initializers/014-track-setting-changes.rb
  lib/seed_data/topics.rb
  spec/initializers/track_setting_changes_spec.rb
Due: rubocop

Update deleted topics
  config/initializers/014-track-setting-changes.rb
  lib/seed_data/topics.rb
  spec/initializers/track_setting_changes_spec.rb
  spec/lib/seed_data/topics_spec.rb
Due: rubocop

Apply code suggestions
  config/initializers/014-track-setting-changes.rb
  lib/seed_data/topics.rb
Due: rubocop

translations
  app/assets/javascripts/admin/addon/components/settings-editor.js
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Template should change when category switches
  app/assets/javascripts/discourse/app/components/composer-container.hbs
  app/assets/javascripts/discourse/app/components/form-template-field/wrapper.js
  app/assets/javascripts/discourse/app/services/composer.js
Due: prettier, eslint-js

FEATURE: Add support for AVIF images (#21680)
  app/assets/javascripts/discourse/app/lib/uploads.js
  app/assets/javascripts/discourse/tests/unit/lib/uploads-test.js
  app/models/optimized_image.rb
  config/nginx.sample.conf
  config/site_settings.yml
  lib/file_helper.rb
  lib/upload_creator.rb
Due: rubocop, prettier, eslint-js, yaml-syntax

Shorter names
  plugins/chat/lib/chat/notifier.rb
Due: rubocop

move
  plugins/styleguide/assets/javascripts/discourse/components/color-example.hbs
  plugins/styleguide/assets/javascripts/discourse/components/color-example.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-example.hbs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-example.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-icons.hbs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-link.hbs
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-link.js
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-section.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/components/color-example.hbs
  plugins/styleguide/assets/javascripts/discourse/templates/components/styleguide-example.hbs
Due: prettier, eslint-js

desc
  plugins/styleguide/assets/javascripts/discourse/pre-initializers/styleguide-plugin-api.js
Due: prettier, eslint-js

FEATURE: Create legal topics for set company name (#21620)
  app/assets/javascripts/discourse/app/templates/about.hbs
  app/views/static/show.html.erb
  config/initializers/014-track-setting-changes.rb
  config/site_settings.yml
  lib/seed_data/topics.rb
  lib/tasks/annotate.rake
  spec/initializers/track_setting_changes_spec.rb
  spec/lib/seed_data/topics_spec.rb
Due: rubocop, yaml-syntax

fixie
  plugins/styleguide/assets/javascripts/discourse/components/styleguide-link.hbs
Due: none

IMPORTS
  plugins/chat/assets/javascripts/discourse/initializers/chat-setup.js
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
  plugins/styleguide/assets/javascripts/discourse/pre-initializers/styleguide-plugin-api.js
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/show.hbs
Due: prettier, eslint-js

Remove notes
  plugins/styleguide/assets/javascripts/discourse/components/sections/notes/.keep
  plugins/styleguide/assets/javascripts/discourse/lib/styleguide.js
  plugins/styleguide/assets/javascripts/discourse/routes/styleguide-show.js
  plugins/styleguide/assets/javascripts/discourse/templates/styleguide/show.hbs
Due: prettier, eslint-js

DEV: Avoid leaking new site setting states in test environment (#21713)
  app/models/site_setting.rb
  lib/site_setting_extension.rb
  spec/integrity/i18n_spec.rb
  spec/requests/admin/site_settings_controller_spec.rb
  spec/requests/static_controller_spec.rb
  spec/support/sample_plugin_site_settings.yml
  spec/support/site_settings_helpers.rb
Due: rubocop, yaml-syntax

PERF: Strict loading for SidebarSection queries
  app/assets/javascripts/discourse/app/controllers/sidebar-section-form.js
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/serializers/current_user_serializer.rb
  app/serializers/sidebar_section_serializer.rb
  app/serializers/site_serializer.rb
  config/environments/production.rb
  spec/models/sidebar_section_spec.rb
Due: rubocop, prettier, eslint-js

Fixes and add tests
  app/assets/javascripts/discourse/app/components/form-template-field/wrapper.js
  app/assets/javascripts/discourse/app/services/composer.js
  app/assets/javascripts/discourse/tests/integration/components/form-template-field/wrapper-test.js
  spec/system/composer/category_templates_spec.rb
  spec/system/page_objects/components/composer.rb
Due: rubocop, prettier, eslint-js

PERF: Strict loading for SidebarSection queries (#21717)
  app/assets/javascripts/discourse/app/controllers/sidebar-section-form.js
  app/controllers/sidebar_sections_controller.rb
  app/models/sidebar_section.rb
  app/serializers/current_user_serializer.rb
  app/serializers/sidebar_section_serializer.rb
  app/serializers/site_serializer.rb
  config/environments/production.rb
  spec/models/sidebar_section_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Bump CAPYBARA_DEFAULT_MAX_WAIT_TIME to 10 seconds on CI (#21711)
  .github/workflows/tests.yml
Due: yaml-syntax

DEV: Allow plugins to send additional fields when user preferences are saved
  app/assets/javascripts/discourse/app/controllers/preferences/account.js
  app/assets/javascripts/discourse/app/controllers/preferences/categories.js
  app/assets/javascripts/discourse/app/controllers/preferences/emails.js
  app/assets/javascripts/discourse/app/controllers/preferences/interface.js
  app/assets/javascripts/discourse/app/controllers/preferences/notifications.js
  app/assets/javascripts/discourse/app/controllers/preferences/profile.js
  app/assets/javascripts/discourse/app/controllers/preferences/sidebar.js
  app/assets/javascripts/discourse/app/controllers/preferences/tags.js
  app/assets/javascripts/discourse/app/controllers/preferences/tracking.js
  app/assets/javascripts/discourse/app/controllers/preferences/users.js
  app/assets/javascripts/discourse/app/lib/plugin-api.js
  app/assets/javascripts/discourse/app/lib/preferences-controllers-save-attrs-register.js
  app/assets/javascripts/discourse/app/models/user.js
  app/assets/javascripts/discourse/tests/acceptance/user-preferences-account-test.js
  app/assets/javascripts/discourse/tests/helpers/qunit-helpers.js
Due: prettier, eslint-js

DEV: Minor improvements to SidebarSectionsController spec
  app/controllers/sidebar_sections_controller.rb
  spec/requests/sidebar_sections_controller_spec.rb
Due: rubocop

DEV: Fix the build
  app/controllers/sidebar_sections_controller.rb
Due: rubocop

DEV: Minor improvements to SidebarSectionsController spec (#21734)
  app/controllers/sidebar_sections_controller.rb
  spec/requests/sidebar_sections_controller_spec.rb
Due: rubocop

FIX: Include more_topic_url in the response to /categories_and_{latest, top}
  app/controllers/categories_controller.rb
  spec/requests/categories_controller_spec.rb
Due: rubocop

FIX: correctly nullifies active message
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Due: prettier, eslint-js

DEV: Deprecate `modify_user_params` method in `UsersController`
  app/controllers/users_controller.rb
Due: rubocop

FIX: prevents saving draft in incorrect channel
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
Due: prettier, eslint-js

fix test
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Due: prettier, eslint-js

DEV: Deprecate the `modify_user_params` method in `UsersController` (#21740)
  app/controllers/users_controller.rb
Due: rubocop

FIX: correctly nullifies active message (#21739)
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.hbs
  plugins/chat/assets/javascripts/discourse/components/chat-message-actions-desktop.js
Due: prettier, eslint-js

FIX: prevents saving draft in incorrect channel (#21741)
  plugins/chat/assets/javascripts/discourse/components/chat-composer.js
  plugins/chat/assets/javascripts/discourse/components/chat/composer/channel.js
Due: prettier, eslint-js

DEV: Use with_deleted instead of unscoped
  plugins/chat/app/services/chat/channel_view_builder.rb
Due: rubocop

FEATURE: Apply hashtag styles to autocomplete (#21731)
  app/assets/javascripts/discourse/app/lib/hashtag-autocomplete.js
  app/assets/javascripts/discourse/app/templates/hashtag-autocomplete.hbr
  app/assets/stylesheets/common/components/hashtag.scss
  plugins/chat/assets/javascripts/discourse/lib/hashtag-types/channel.js
  plugins/chat/test/javascripts/acceptance/hashtag-css-generator-test.js
Due: prettier, eslint-js

FEATURE: Create and update grouped watched words
  app/models/watched_word.rb
  app/models/watched_word_group.rb
  spec/models/watched_word_group_spec.rb
Due: rubocop

FEATURE: Introduce WatchedWordGroup model for grouping watched words
  app/models/watched_word.rb
  app/models/watched_word_group.rb
  db/migrate/20230515103515_create_watched_word_groups.rb
  db/migrate/20230515131111_add_watched_word_group_id_to_watched_words.rb
  spec/fabricators/watched_word_group_fabricator.rb
  spec/models/watched_word_group_spec.rb
Due: rubocop

FEATURE: WatchedWordGroup API endpoints
  app/controllers/admin/watched_word_groups_controller.rb
  app/models/user_history.rb
  app/serializers/watched_word_serializer.rb
  app/services/staff_action_logger.rb
  config/routes.rb
  spec/requests/admin/watched_word_groups_controller_spec.rb
Due: rubocop

UX: Update watched word form to accept multiple words
  app/assets/javascripts/admin/addon/components/watched-word-form.hbs
  app/assets/javascripts/admin/addon/components/watched-word-form.js
  app/assets/javascripts/admin/addon/models/watched-word.js
  app/assets/javascripts/select-kit/addon/components/watched-words.js
  app/assets/stylesheets/common/admin/staff_logs.scss
  config/locales/client.en.yml
Due: prettier, eslint-js, yaml-syntax, i18n-lint
