Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, syntax_tree, prettier, eslint, ember-template-lint, yaml-syntax, i18n-lint, stylelint

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

syntax_tree:
  run: bundle exec stree check Gemfile {staged_files}

prettier:
  run: pnpm pprettier --list-different {staged_files}

eslint:
  run: pnpm eslint --quiet {staged_files}

ember-template-lint:
  run: pnpm ember-template-lint {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

stylelint:
  run: pnpm stylelint {staged_files}

DEV: Update `stage_security_fixes` rake task (#37346)
  Gemfile
  Gemfile.lock
  lib/tasks/release.rake
  lib/tasks/version_bump.rake
  spec/tasks/release_spec.rb
  spec/tasks/version_bump_spec.rb
Due: rubocop, syntax_tree

DEV: Auto-close security PRs after they're merged
  lib/tasks/release.rake
Due: rubocop, syntax_tree

FIX: avoid inline oneboxing watched words on rich editor
  frontend/discourse/app/static/prosemirror/extensions/onebox.js
  spec/system/composer/prosemirror_onebox_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

DEV: Auto-close security PRs after they're merged (#37348)
  lib/tasks/release.rake
Due: rubocop, syntax_tree

UX: fix color input border radius for Safari (#37347)
  app/assets/stylesheets/common/form-kit/_control-color.scss
Due: prettier, stylelint

SECURITY: Restrict staff action logs visibility for moderators
  app/controllers/admin/staff_action_logs_controller.rb
  app/models/user_history.rb
  app/serializers/user_history_serializer.rb
  app/services/staff_action_logger.rb
  config/locales/server.en.yml
  lib/guardian.rb
  lib/guardian/staff_action_log_guardian.rb
  plugins/chat/app/models/chat/channel.rb
  plugins/chat/app/services/chat/trash_channel.rb
  spec/lib/guardian/staff_action_log_guardian_spec.rb
  spec/models/user_history_spec.rb
  spec/requests/admin/staff_action_logs_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

SECURITY: prevent permalink redirects from leaking restricted slugs
  app/controllers/permalinks_controller.rb
  app/models/permalink.rb
  lib/guardian.rb
  lib/guardian/permalink_guardian.rb
  lib/guardian/tag_guardian.rb
  spec/lib/guardian/tag_guardian_spec.rb
  spec/models/permalink_spec.rb
  spec/requests/permalinks_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Moderators can no longer edit user's emails. (stable)
  lib/guardian/user_guardian.rb
  spec/lib/email_updater_spec.rb
  spec/lib/guardian_spec.rb
Due: rubocop, syntax_tree

FEATURE: Add admin-only reports and centralize report visibility logic
  app/controllers/admin/reports_controller.rb
  app/controllers/admin/search_controller.rb
  app/models/report.rb
  app/queries/reports/list_query.rb
  spec/models/report_spec.rb
  spec/queries/reports/list_query_spec.rb
  spec/requests/admin/reports_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Ensure moderator can see post/topic before allowing them to change owner (stable)
  app/controllers/topics_controller.rb
  app/services/post_owner_changer.rb
  spec/requests/topics_controller_spec.rb
  spec/services/post_owner_changer_spec.rb
Due: rubocop, syntax_tree

SECURITY: Better protections for drafts (stable)
  app/controllers/drafts_controller.rb
  app/models/upload.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/upload_spec.rb
  spec/requests/drafts_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

SECURITY: Add guardian check on PM to topic conversion
  lib/guardian/post_guardian.rb
  spec/fabricators/topic_fabricator.rb
  spec/lib/guardian/post_guardian_spec.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Add maximum length limit for `new_username` param
  app/controllers/users_controller.rb
  spec/requests/users_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: AdminDetailedUserSerializer#latest_export leaking user exports (stable)
  app/serializers/admin_detailed_user_serializer.rb
  spec/serializers/admin_detailed_user_serializer_spec.rb
Due: rubocop, syntax_tree

SECURITY: Enforce group-access restrictions to AI discover’s continue convo. (stable)
  plugins/discourse-ai/app/controllers/discourse_ai/ai_bot/bot_controller.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-search-discoveries.gjs
  plugins/discourse-ai/spec/requests/ai_bot/bot_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

SECURITY: secure subscription endpoints
  plugins/discourse-subscriptions/app/controllers/discourse_subscriptions/user/subscriptions_controller.rb
  plugins/discourse-subscriptions/config/locales/server.en.yml
  plugins/discourse-subscriptions/spec/requests/user/subscriptions_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

SECURITY: Loose hostname matching in FinalDestination
  lib/final_destination.rb
  spec/lib/final_destination_spec.rb
Due: rubocop, syntax_tree

SECURITY: validate katex href protocol
  plugins/discourse-math/assets/javascripts/initializers/discourse-math-katex.js
  plugins/discourse-math/spec/system/katex_links_spec.rb
Due: rubocop, syntax_tree, prettier, eslint

SECURITY: Download allowlist for uploaded files (stable)
  app/controllers/uploads_controller.rb
  lib/file_helper.rb
  lib/file_store/s3_store.rb
  spec/lib/file_helper_spec.rb
  spec/lib/file_store/s3_store_spec.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Ensure moderator can see post/topic before allowing them to change owner [backport 2025.11]
  app/controllers/topics_controller.rb
  app/services/post_owner_changer.rb
  spec/requests/topics_controller_spec.rb
  spec/services/post_owner_changer_spec.rb
Due: rubocop, syntax_tree

SECURITY: AdminDetailedUserSerializer#latest_export leaking user exports [backport 2025.11]
  app/serializers/admin_detailed_user_serializer.rb
  spec/serializers/admin_detailed_user_serializer_spec.rb
Due: rubocop, syntax_tree

SECURITY: Moderators can no longer edit user's emails.
  lib/guardian/user_guardian.rb
  spec/lib/email_updater_spec.rb
  spec/lib/guardian_spec.rb
Due: rubocop, syntax_tree

DEV: Better protection for drafts
  app/controllers/drafts_controller.rb
  app/models/upload.rb
  config/locales/server.en.yml
  config/site_settings.yml
  spec/models/upload_spec.rb
  spec/requests/drafts_controller_spec.rb
Due: rubocop, syntax_tree, yaml-syntax, i18n-lint

SECURITY: Enforce group-access restrictions to AI discover’s continue convo.
  plugins/discourse-ai/app/controllers/discourse_ai/discover/discoveries_controller.rb
  plugins/discourse-ai/assets/javascripts/discourse/components/ai-search-discoveries.gjs
  plugins/discourse-ai/spec/requests/discover/discoveries_controller_spec.rb
Due: rubocop, syntax_tree, prettier, eslint, ember-template-lint

SECURITY: Loose hostname matching in FinalDestination [backport 2025.11]
  lib/final_destination.rb
  spec/lib/final_destination_spec.rb
Due: rubocop, syntax_tree

SECURITY: AdminDetailedUserSerializer#latest_export leaking user exports [backport 2025.12]
  app/serializers/admin_detailed_user_serializer.rb
  spec/serializers/admin_detailed_user_serializer_spec.rb
Due: rubocop, syntax_tree

SECURITY: Download allowlist for uploaded files
  app/controllers/uploads_controller.rb
  lib/file_helper.rb
  lib/file_store/s3_store.rb
  spec/lib/file_helper_spec.rb
  spec/lib/file_store/s3_store_spec.rb
  spec/requests/uploads_controller_spec.rb
Due: rubocop, syntax_tree

SECURITY: Ensure moderator can see post/topic before allowing them to change owner
  app/controllers/topics_controller.rb
  app/services/post_owner_changer.rb
  spec/requests/topics_controller_spec.rb
  spec/services/post_owner_changer_spec.rb
Due: rubocop, syntax_tree

Path conditions:
  rubocop: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  syntax_tree: any of: **/*.{rb,rake,thor}, bin/**/*, Gemfile, but not: bin/notify_file_change, bin/docker/**/*
  prettier: any of: app/assets/stylesheets/**/*.{css,scss}, frontend/**/*.{js,gjs,scss,css,cjs,mjs}, plugins/**/*.{js,gjs,scss,css,cjs,mjs}, themes/**/*.{js,gjs,scss,css,cjs,mjs}
  eslint: any of: frontend/**/*.{js,gjs}, plugins/**/*.{js,gjs}, themes/**/*.{js,gjs}
  ember-template-lint: any of: frontend/**/*.gjs, plugins/**/*.gjs, themes/**/*.gjs
  yaml-syntax: any of: **/*.{yaml,yml}, but not: config/database.yml
  i18n-lint: any of: **/{client,server}.en.yml
  stylelint: any of: app/assets/stylesheets/**/*.scss, plugins/**/assets/stylesheets/**/*.scss, themes/**/*.scss
