Repository discourse/discourse: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-es6, eslint-js, yaml-syntax, i18n-lint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  run: yarn prettier --list-different {staged_files}

eslint-es6:
  run: yarn eslint --ext .es6 -f compact {staged_files}

eslint-js:
  run: yarn eslint -f compact {staged_files}

yaml-syntax:
  run: bundle exec yaml-lint {staged_files}

i18n-lint:
  run: bundle exec ruby script/i18n_lint.rb {staged_files}

Update spec/models/category_user_spec.rb
  spec/models/category_user_spec.rb
Due: rubocop

FIX: test for d-navigation component
  app/assets/javascripts/discourse/tests/integration/components/d-navigation-test.js
Due: prettier, eslint-js

Update spec/models/topic_tracking_state_spec.rb
  spec/models/topic_tracking_state_spec.rb
Due: rubocop

Update app/assets/javascripts/discourse/tests/integration/components/d-navigation-test.js
  app/assets/javascripts/discourse/tests/integration/components/d-navigation-test.js
Due: prettier, eslint-js

FIX: indirectly muted categories for topic-tracking-state (#16067)
  app/assets/javascripts/discourse/app/components/d-navigation.js
  app/assets/javascripts/discourse/tests/integration/components/d-navigation-test.js
  app/models/category_user.rb
  app/models/topic_tracking_state.rb
  spec/models/category_user_spec.rb
  spec/models/topic_tracking_state_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Allow model/post-stream to support any filter.
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
Due: prettier, eslint-js

DEV: Refactor model/post-stream to support any filter.
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
Due: prettier, eslint-js

DEV: Update the rrule gem (Rails 7+ compatibility)
  plugins/automation/plugin.rb
Due: rubocop

FEATURE: Return geoname IDs from MaxMindDb
  lib/discourse_ip_info.rb
Due: rubocop

Apply code suggestions
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

FIX: correctly notifies subscribers with post_action_destroyer
  lib/post_action_destroyer.rb
  spec/lib/post_action_destroyer_spec.rb
Due: rubocop

DEV: Remove notify user topic from share modal
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/app/templates/modal/share-topic.hbs
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/controllers/topics_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

Apply code suggestions
  lib/discourse_ip_info.rb
Due: rubocop

FIX: Update and rebake uses of the old centralized avatar service
  db/migrate/20220302163246_update_avatar_service_domain.rb
  db/post_migrate/20220302171443_rebake_old_avatar_service_urls.rb
Due: rubocop

add rspec test
  spec/requests/topics_controller_spec.rb
Due: rubocop

UX: Adjust styles for bulk select
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

UX: Adjust styles for bulk select (#16088)
  app/assets/stylesheets/desktop/topic-list.scss
Due: none

Top level replies (#16087)
  app/controllers/topics_controller.rb
  lib/topic_view.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop

FIX: iOS do not have working push notifications yet
  app/assets/javascripts/discourse/app/components/pwa-install-banner.js
  app/assets/javascripts/discourse/app/lib/push-notifications.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
Due: prettier, eslint-js

Update app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
Due: prettier, eslint-js

prettier
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
Due: prettier, eslint-js

DEV: Clean up sniff capabilities code
  app/assets/javascripts/discourse/app/components/desktop-notification-config.js
  app/assets/javascripts/discourse/app/components/footer-nav.js
  app/assets/javascripts/discourse/app/controllers/application.js
  app/assets/javascripts/discourse/app/initializers/subscribe-user-notifications.js
  app/assets/javascripts/discourse/app/initializers/webview-background.js
  app/assets/javascripts/discourse/app/lib/keyboard-shortcuts.js
  app/assets/javascripts/discourse/app/lib/lightbox.js
  app/assets/javascripts/discourse/app/lib/push-notifications.js
  app/assets/javascripts/discourse/app/lib/utilities.js
  app/assets/javascripts/discourse/app/pre-initializers/sniff-capabilities.js
  app/assets/javascripts/discourse/app/widgets/footer-nav.js
Due: prettier, eslint-js

DEV: Gate push and pwa under react native detection
  app/assets/javascripts/discourse/app/components/pwa-install-banner.js
  app/assets/javascripts/discourse/app/lib/push-notifications.js
Due: prettier, eslint-js

DEV: add class name to custom footer html
  app/assets/javascripts/discourse/app/templates/application.hbs
Due: none

FEATURE: Return geoname IDs from MaxMindDb (#16082)
  lib/discourse_ip_info.rb
  spec/requests/admin/users_controller_spec.rb
Due: rubocop

FIX: Support new layout on Amazon product pages
  lib/onebox/engine/amazon_onebox.rb
  spec/fixtures/onebox/amazon-alternate.response
  spec/lib/onebox/engine/amazon_onebox_spec.rb
Due: rubocop

DEV: remove wrap from discovery-list-container-top
  app/assets/javascripts/discourse/app/templates/discovery.hbs
Due: none

DEV: Remove notify user topic from share modal (#16085)
  app/assets/javascripts/discourse/app/controllers/share-topic.js
  app/assets/javascripts/discourse/app/templates/modal/share-topic.hbs
  app/assets/javascripts/discourse/tests/acceptance/share-topic-test.js
  app/controllers/topics_controller.rb
  config/locales/client.en.yml
  config/routes.rb
  spec/requests/topics_controller_spec.rb
Due: rubocop, prettier, eslint-js, yaml-syntax, i18n-lint

DEV: Refactor model/post-stream to support any filter. (#16081)
  app/assets/javascripts/discourse/app/models/post-stream.js
  app/assets/javascripts/discourse/app/routes/topic.js
  app/assets/javascripts/discourse/tests/unit/models/post-stream-test.js
Due: prettier, eslint-js

DEV: Typo.
  lib/discourse_ip_info.rb
Due: rubocop

DEV: Typo. (#16092)
  lib/discourse_ip_info.rb
Due: rubocop

FIX: calculate docking - include offset of main (#16079)
  app/assets/javascripts/discourse/app/components/site-header.js
Due: prettier, eslint-js

DEV: remove wrap from discovery-list-container-top (#16090)
  app/assets/javascripts/discourse/app/templates/discovery.hbs
Due: none

DEV: add class name to custom footer html (#16089)
  app/assets/javascripts/discourse/app/templates/application.hbs
Due: none

FEATURE: prioritize group search order based on prefix match
  app/controllers/users_controller.rb
  app/models/group.rb
  spec/models/group_spec.rb
  spec/requests/users_controller_spec.rb
Due: rubocop

Update spec/models/group_spec.rb
  spec/models/group_spec.rb
Due: rubocop

Improve spec per code review
  spec/models/group_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{js,es6}, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-es6: any of: *.es6, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  eslint-js: any of: *.js, but not: vendor/*|fixtures|public/javascripts|shims.js|ember-addons|template-lintrc|locale/*|test_helper|run-qunit
  yaml-syntax: any of: *.{yaml,yml}, but not: database.yml
  i18n-lint: any of: **/{client,server}.en.yml
